<meta charset="UTF-8">
<table class="table table-bordered">
    <caption class="text-center h3"><strong>项目暂停审批表</strong></caption>
    <caption>WR-4.3-04-01-A0</caption>
    <tr>
        <td width="15%" class="text-right">项目名称:</td>
        <td colspan="3">
            {{vm.sign.projectname}}
        </td>
    </tr>
    <tr>
        <td width="15%" class="text-right">申报单位:</td>
        <td colspan="3">
            {{vm.sign.builtcompanyname}}
        </td>
    </tr>
    <tr>
        <td width="15%" class="text-right">评审部门:</td>
        <td style="width:35%;">
            {{vm.sign.mOrgName}}
        </td>
        <td width="15%" class="text-right">项目负责人:</td>
        <td >
            {{vm.sign.mUserName}}
        </td>
    </tr>
    <tr>
        <td width="15%" class="text-right">收文时间:</td>
        <td >
            {{vm.sign.receivedate}}
        </td>
        <td width="15%" class="text-right">已用工作日:</td>
        <td >
            {{vm.model.userDays}}
        </td>
    </tr>
    <tr>
        <td width="15%" class="text-right">项目暂停天数<br>(工作日):</td>
        <td colspan="3">
            {{vm.model.pausedays}}
        </td>
    </tr>
    <tr>
        <td width="15%" class="text-right">项目基本情况:</td>
        <td colspan="3" >
            <div style="min-height: 50px;">
                {{vm.model.projectDesc}}
            </div>
        </td>
    </tr>
    <tr>
        <td width="15%" class="text-right">要求暂定原因:</td>
        <td colspan="3" >
            <div style="min-height: 50px;">
                {{vm.model.pasedescription}}
            </div>
        </td>
    </tr>
    <tr>
        <td width="15%" class="text-right">项目文件函:</td>
        <td colspan="3" >
            <p>中心发补充材料函
                <input type="checkbox" ng-disabled="true" ng-checked="vm.model.isSupplementMaterial == '9'"/>
            </p>
            <p>申报单位要求暂停审核函
                <input type="checkbox" ng-disabled="true" ng-checked="vm.model.isPuaseApprove == '9'"/>
            </p>
            <p>无以上文件
                <input type="checkbox"  ng-disabled="true"
                       ng-checked="vm.model.isPuaseApprove != '9' && vm.model.isSupplementMaterial!= '9'"/>
            </p>
        </td>
    </tr>
    <tr >
        <td  width="15%" class="text-right">部长意见:</td>
        <td colspan="3" >
            <div style="min-height: 50px;">
                {{vm.model.directorIdeaContent}}
            </div>
        </td>
    </tr>
    <tr >
        <td  width="15%" class="text-right">分管副主任签批:</td>
        <td colspan="3">
            <div style="min-height: 50px;">
                {{vm.model.leaderIdeaContent}}
            </div>
        </td>
    </tr>

</table>
</form>
<div>
    备注：项目暂停申请表与评审中心补充资料函或项目单位要求暂停审核函一并签批；
    项目暂停申请表需与补充资料函或要求暂定审核函一起并存。
</div>
