<meta charset="UTF-8">
<!-- S_设备清单（国产） 设备清单（进口） -->
<table class="table table-bordered">
    <caption class="text-center">
        <p class="h3">
            <strong>
                鼓励类外商投资项目设备清单 <br>
                项目报审登记表
            </strong>
        </p>
        <p>
            <span style="width: 200px;float: left;padding: 5px 10px;">QR-4.9-01-A0</span>
            <span style="width: 200px;float: right;padding: 5px 10px;">收文日期：{{vm.model.signdate | date:'yyyy年MM月dd日'}}</span>
        </p>
    </caption>
    <tbody>

    <tr>
        <td width="15%" class="text-center">主办处室</td>
        <td width="35%">
            {{vm.model.maindeptName}}
        </td>
        <td width="15%" class="text-center">收文编号</td>
        <td>
            {{vm.model.signNum}}
        </td>
    </tr>

    <tr>
        <td width="15%" class="text-center">项目名称</td>
        <td>{{vm.model.projectname}}</td>
        <td width="15%" class="text-center">申请单位</td>
        <td>
            {{vm.model.designcompanyName}}
        </td>
    </tr>

    <tr>
        <td width="15%" class="text-center">项目代码</td>
        <td>
            {{vm.model.projectcode}}
        </td>

        <td width="15%" class="text-center">缓急程度</td>
        <td>
            {{vm.model.urgencydegree}}
        </td>
    </tr>
    <tr>
        <td width="15%" class="text-center">国家编码</td>
        <td>
            {{vm.model.countryCode}}
        </td>
        <td width="15%" class="text-center"></td>
        <td>

        </td>
    </tr>
    <tr>
        <td width="15%" class="text-center" style="vertical-align: middle;">备审资料</td>
        <td colspan="3">
            <table class="table" style="border: 0px solid transparent !important;padding-top: 0px;padding-bottom: 0px;margin-bottom: 0px;margin-top:0px;">
                <tr>
                    <td style="border-top:none;width:20%;">&nbsp;</td>
                    <td style="border-top:none;width:10%;text-align: center;">原件</td>
                    <td style="border-top:none;width:10%;text-align: center;">复印件</td>
                    <td style="border-top:none;width:10%;"><span  >份数</span></td>
                    <td style="border-top:none;width:20%;">&nbsp;</td>
                    <td style="border-top:none;width:10%;text-align: center;">原件</td>
                    <td style="border-top:none;width:10%;text-align: center;">复印件</td>
                    <td style="border-top:none;width:10%;"><span  >份数</span></td>
                </tr>
                <tr>
                    <td style="border-top:none;text-align:right;">项目处理表</td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox" ng-model="vm.model.sugProDealOriginal" ng-disabled="true"
                               ng-click="vm.model.sugProDealCount = initInputValue($event,vm.model.sugProDealCount)"
                               name="sugProDealOriginal" id="addOriginal" ng-true-value="9" ng-false-value="0" ng-checked="vm.model.sugProDealOriginal==9">
                    </td>
                    <td style="border-top:none; text-align: center;">
                        <input type="checkbox" class="newcheckbox"  ng-model="vm.model.sugProDealCopy" ng-disabled="true"
                               ng-click="vm.model.sugProDealCount = initInputValue($event,vm.model.sugProDealCount)"
                               name="sugProDealCopy" id="addCopy" ng-true-value="9" ng-false-value="0" ng-checked="vm.model.sugProDealCopy==9">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:40px;text-align:center;border-radius:0px;" class="input-sm " ng-disabled="true"
                               ng-model="vm.model.sugProDealCount" name="sugProDealCount"
                               id="sugProDealCount" data-val="true" data-val-digits="只能输入数字">
                        <span data-valmsg-for="sugProDealCount" data-valmsg-replace="true" class="errors"></span>
                    </td>

                    <td style="border-top:none;text-align:right;">设备说明书</td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox" ng-model="vm.model.sprcialDevicesOriginal" ng-disabled="true"
                               ng-click="vm.model.sprcialDevicesCount = initInputValue($event,vm.model.sprcialDevicesCount)"
                               id="sprcialDevicesOriginal" ng-true-value="9" ng-false-value="0" ng-checked="vm.model.sprcialDevicesOriginal==9">
                    </td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox" ng-model="vm.model.sprcialDevicesCopy" ng-disabled="true"
                               ng-click="vm.model.sprcialDevicesCount = initInputValue($event,vm.model.sprcialDevicesCount)"
                               id="sprcialDevicesCopy" ng-true-value="9" ng-false-value="0" ng-checked="vm.model.sprcialDevicesCopy==9">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:40px;text-align:center;border-radius:0px;" class="input-sm " ng-model="vm.model.sprcialDevicesCount"
                               ng-disabled="true" name="sprcialDevicesCount" id="sprcialDevicesCount" data-val="true" data-val-digits="只能输入数字">
                        <span data-valmsg-for="sprcialDevicesCount" data-valmsg-replace="true" class="errors"></span>
                    </td>
                </tr>
                <tr>
                    <td style="border-top:none;text-align:right;">
                        文件处理表
                    </td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox"  ng-model="vm.model.sugFileDealOriginal" ng-disabled="true"
                               ng-click="vm.model.sugFileDealCount = initInputValue($event,vm.model.sugFileDealCount)"
                               id="sugFileDealOriginal" ng-true-value="9" ng-false-value="0" ng-checked="vm.model.sugFileDealOriginal==9">
                    </td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox" ng-model="vm.model.sugFileDealCopy" ng-disabled="true"
                               ng-click="vm.model.sugFileDealCount = initInputValue($event,vm.model.sugFileDealCount)"
                               id="sugFileDealCopy" ng-true-value="9" ng-false-value="0" ng-checked="vm.model.sugFileDealCopy==9">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:40px;text-align:center;border-radius:0px;" class="input-sm"
                               ng-model="vm.model.sugFileDealCount" id="sugFileDealCount" ng-disabled="true"
                               name="sugFileDealCount"  data-val="true" data-val-digits="只能输入数字">
                        <span data-valmsg-for="sugFileDealCount" data-valmsg-replace="true" class="errors"></span>
                    </td>

                    <td style="border-top:none;text-align:right;">采购合同书</td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox" ng-model="vm.model.purchasDevicePactOriginal" ng-disabled="true"
                               ng-click="vm.model.purchasDevicePactCount = initInputValue($event,vm.model.purchasDevicePactCount)"
                               id="purchasDevicePactOriginal" ng-true-value="9" ng-false-value="0" ng-checked="vm.model.purchasDevicePactOriginal==9">
                    </td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox" ng-model="vm.model.purchasDevicePactCopy" ng-disabled="true"
                               ng-click="vm.model.purchasDevicePactCount = initInputValue($event,vm.model.purchasDevicePactCount)"
                               id="purchasDevicePactCopy" ng-true-value="9" ng-false-value="0" ng-checked="vm.model.purchasDevicePactCopy==9">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:40px;text-align:center;border-radius:0px;" class="input-sm " ng-model="vm.model.purchasDevicePactCount"
                               ng-disabled="true" name="purchasDevicePactCount" id="purchasDevicePactCount" data-val="true" data-val-digits="只能输入数字">
                        <span data-valmsg-for="purchasDevicePactCount" data-valmsg-replace="true" class="errors"></span>
                    </td>
                </tr>
                <tr>
                    <td style="border-top:none;text-align:right;">项目申报表</td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox" ng-model="vm.model.projectDeclareOriginal" ng-disabled="true"
                               ng-click="vm.model.projectDeclareCount = initInputValue($event,vm.model.projectDeclareCount)"
                               id="projectDeclareOriginal" ng-true-value="9" ng-false-value="0"  ng-checked="vm.model.projectDeclareOriginal==9">
                    </td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox" ng-model="vm.model.projectDeclareCopy" ng-disabled="true"
                               ng-click="vm.model.projectDeclareCount = initInputValue($event,vm.model.projectDeclareCount)"
                               id="projectDeclareCopy" ng-true-value="9" ng-false-value="0"  ng-checked="vm.model.projectDeclareCopy==9">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:40px;text-align:center;border-radius:0px;" class="input-sm " ng-disabled="true"
                               ng-model="vm.model.projectDeclareCount" name="projectDeclareCount"
                               id="projectDeclareCount" data-val="true" data-val-digits="只能输入数字">
                        <span data-valmsg-for="projectDeclareCount" data-valmsg-replace="true" class="errors"></span>
                    </td>
                    <td style="border-top:none;text-align:right;">项目核准文件</td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox" ng-model="vm.model.projectApproveFileOriginal" ng-disabled="true"
                               ng-click="vm.model.projectApproveFileCount = initInputValue($event,vm.model.projectApproveFileCount)"
                               id="projectApproveFileOriginal" ng-true-value="9" ng-false-value="0"  ng-checked="vm.model.projectApproveFileOriginal==9">
                    </td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox" ng-model="vm.model.projectApproveFileCopy" ng-disabled="true"
                               ng-click="vm.model.projectApproveFileCount = initInputValue($event,vm.model.projectApproveFileCount)"
                               id="projectApproveFileCopy" ng-true-value="9" ng-false-value="0"  ng-checked="vm.model.projectApproveFileCopy==9">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:40px;text-align:center;border-radius:0px;" class="input-sm " ng-disabled="true"
                               ng-model="vm.model.projectApproveFileCount"  name="projectApproveFileCount"
                               id="projectApproveFileCount" data-val="true" data-val-digits="只能输入数字">
                        <span data-valmsg-for="projectApproveFileCount" data-valmsg-replace="true" class="errors"></span>
                    </td>
                </tr>
                <tr>
                    <td style="border-top:none;text-align:right;">项目申请报告</td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox" ng-model="vm.model.projectApplyReportOriginal" ng-disabled="true"
                               ng-click="vm.model.projectApplyReportCount = initInputValue($event,vm.model.projectApplyReportCount)"
                               id="projectApplyReportOriginal" ng-true-value="9" ng-false-value="0" ng-checked="vm.model.projectApplyReportOriginal==9">
                    </td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox" ng-model="vm.model.projectApplyReportCopy" ng-disabled="true"
                               ng-click="vm.model.projectApplyReportCount = initInputValue($event,vm.model.projectApplyReportCount)"
                               id="projectApplyReportCopy" ng-true-value="9" ng-false-value="0" ng-checked="vm.model.projectApplyReportCopy==9">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:40px;text-align:center;border-radius:0px;" class="input-sm "  ng-model="vm.model.projectApplyReportCount" ng-disabled="true"
                               name="projectApplyReportCount" id="projectApplyReportCount" data-val="true" data-val-digits="只能输入数字">
                        <span data-valmsg-for="projectApplyReportCount" data-valmsg-replace="true" class="errors"></span>
                    </td>

                    <td style="border-top:none;text-align:right;">营业执照</td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox" ng-model="vm.model.businessLicenseOriginal" ng-disabled="true"
                               ng-click="vm.model.businessLicenseCount = initInputValue($event,vm.model.businessLicenseCount)"
                               id="businessLicenseOriginal" ng-true-value="9" ng-false-value="0"  ng-checked="vm.model.businessLicenseOriginal==9">
                    </td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox"  ng-model="vm.model.businessLicenseCopy" ng-disabled="true"
                               ng-click="vm.model.businessLicenseCount = initInputValue($event,vm.model.businessLicenseCount)"
                               id="businessLicenseCopy" ng-true-value="9" ng-false-value="0"  ng-checked="vm.model.businessLicenseCopy==9">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:40px;text-align:center;border-radius:0px;" class="input-sm " ng-model="vm.model.businessLicenseCount"
                               ng-disabled="true" name="businessLicenseCount" id="businessLicenseCount" data-val="true" data-val-digits="只能输入数字">
                        <span data-valmsg-for="businessLicenseCount" data-valmsg-replace="true" class="errors"></span>
                    </td>
                </tr>
                <tr>
                    <td style="border-top:none;text-align:right;">采购设备清单</td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox" ng-model="vm.model.purchasDeviceOriginal" ng-disabled="true"
                               ng-click="vm.model.purchasDeviceCount = initInputValue($event,vm.model.purchasDeviceCount)"
                               id="purchasDeviceOriginal" ng-true-value="9" ng-false-value="0" ng-checked="vm.model.purchasDeviceOriginal==9">
                    </td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox" ng-model="vm.model.purchasDeviceCopy" ng-disabled="true"
                               ng-click="vm.model.purchasDeviceCount = initInputValue($event,vm.model.purchasDeviceCount)"
                               id="purchasDeviceCopy" ng-true-value="9" ng-false-value="0" ng-checked="vm.model.purchasDeviceCopy==9">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:40px;text-align:center;border-radius:0px;" class="input-sm " ng-disabled="true"
                               ng-model="vm.model.purchasDeviceCount"  name="purchasDeviceCount"
                               id="purchasDeviceCount" data-val="true" data-val-digits="只能输入数字">
                        <span data-valmsg-for="purchasDeviceCount" data-valmsg-replace="true" class="errors"></span>
                    </td>
                    <td style="border-top:none;text-align:right;">法人身份证</td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox"  ng-model="vm.model.legalPersoncCardOriginal" ng-disabled="true"
                               ng-click="vm.model.legalPersoncCardCount = initInputValue($event,vm.model.legalPersoncCardCount)"
                               id="legalPersoncCardOriginal" ng-true-value="9" ng-false-value="0" ng-checked="vm.model.legalPersoncCardOriginal==9">
                    </td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox" ng-model="vm.model.legalPersoncCardCopy" ng-disabled="true"
                               ng-click="vm.model.legalPersoncCardCount = initInputValue($event,vm.model.legalPersoncCardCount)"
                               id="legalPersoncCardCopy" ng-true-value="9" ng-false-value="0" ng-checked="vm.model.legalPersoncCardCopy==9">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:40px;text-align:center;border-radius:0px;" class="input-sm " ng-disabled="true"
                               ng-model="vm.model.legalPersoncCardCount" name="legalPersoncCardCount"
                               id="legalPersoncCardCount" data-val="true" data-val-digits="只能输入数字">
                        <span data-valmsg-for="legalPersoncCardCount" data-valmsg-replace="true" class="errors"></span>
                    </td>
                </tr>
                <tr>
                    <td style="border-top:none;text-align:right;">其它</td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox" ng-model="vm.model.ortherProjectOriginal" ng-disabled="true"
                               ng-click="vm.model.ortherProjectCount = initInputValue($event,vm.model.ortherProjectCount)"
                               id="ortherProjectOriginal" ng-true-value="9" ng-false-value="0" ng-checked="vm.model.ortherProjectOriginal==9">
                    </td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox" ng-model="vm.model.ortherProjectCopy" ng-disabled="true"
                               ng-click="vm.model.ortherProjectCount = initInputValue($event,vm.model.ortherProjectCount)"
                               id="ortherProjectCopy" ng-true-value="9" ng-false-value="0" ng-checked="vm.model.ortherProjectCopy==9">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:40px;text-align:center;border-radius:0px;" class="input-sm " ng-model="vm.model.ortherProjectCount"
                               ng-disabled="true" name="ortherProjectCount" id="ortherProjectCount" data-val="true" data-val-digits="只能输入数字">
                        <span data-valmsg-for="ortherProjectCount" data-valmsg-replace="true" class="errors"></span>
                    </td>

                    <td style="border-top:none;">

                    </td>
                    <td style="border-top:none;">

                    </td>
                    <td style="border-top:none;">

                    </td>
                    <td style="border-top:none;">

                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width="15%" class="text-center" style="vertical-align: middle;">综合部拟办意见</td>
        <td colspan="3">
            <div style="min-height:50px;">
            <p> {{vm.model.comprehensivehandlesug}}</p>
            <p class="text-right" ng-if="vm.model.comprehensiveName">签名：{{vm.model.comprehensiveName}}</p>
            <p class="text-right" ng-if="vm.model.comprehensiveDate">日期：{{vm.model.comprehensiveDate}}</p>
            </div>
        </td>
    </tr>
    <tr>
        <td width="15%" class="text-center" style="vertical-align: middle;">中心领导签批意见</td>
        <td colspan="3">
            <div style="min-height:50px;">
            <p> {{vm.model.leaderhandlesug}}</p>
            <p class="text-right" ng-if="vm.model.leaderName">签名：{{vm.model.leaderName}}</p>
            <p class="text-right" ng-if="vm.model.leaderDate">日期：{{vm.model.leaderDate}}</p>
            </div>
        </td>
    </tr>
    <tr>
        <td width="15%" class="text-center" style="vertical-align: middle;">部长处理意见</td>
        <td colspan="3">
            <div style="min-height: 50px;" ng-if="vm.model.branchCount==1">
                <p> {{vm.model.ministerhandlesug}}</p>
                <p class="text-right" ng-if="vm.model.ministerName">签名：{{vm.model.ministerName}}</p>
                <p class="text-right" ng-if="vm.model.ministerDate">日期：{{vm.model.ministerDate}}</p>
            </div>
            <div style="min-height: 50px;" ng-if="vm.model.branchCount>1">
                <div ng-bind-html="vm.model.ministerhandlesug | trust2Html"></div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<!--
<table style="width: 100%;margin-bottom: 15px;">
    <tr>
        <td style="width: 15%;text-align: right;">送件人签名：</td>
        <td>
            {{vm.model.sendusersign}}
        </td>
    </tr>
</table>
-->
<!--<button class="btn-sm btn-primary" style="width: 200px; margin: auto;" onclick="printpage(this)">打印
</button>-->
<p style="text-align: center;">

    <button class="btn btn-sm btn-primary" style="width: 100px;" ng-click="printFile(vm.model.signid,'SIGN' , 'STAGEHOMELAND')">打印预览</button>
</p>
<!-- E_设备清单（国产） -->