<meta charset="UTF-8">
<!-- S_项目概算 -->
<table class="table table-bordered" style="margin-bottom: 0px;">
    <caption class="text-center">
        <p class="h3">
            <strong>
                深圳市政府投资项目评审中心 </br>
                {{getTBHeadName(vm.model.reviewstage,vm.model.isAdvanced,'项目报审登记表')}}
            </strong>
        </p>
        <p>
            <span style="width: 200px;float: left;padding: 5px 10px;">QR-4.7-01-A2</span>
            <span style="width: 200px;float: right;padding: 5px 10px;">收文日期：{{vm.model.signdate | date:'yyyy年MM月dd日'}}</span>
        </p>
    </caption>
    <tbody>
    <tr>
        <td width="15%" class="text-center">项目名称</td>
        <td width="35%">{{vm.model.projectname}}</td>
        <td width="15%" class="text-center">收文编号</td>
        <td>{{vm.model.signNum}}</td>
    </tr>
    <tr>
        <td width="15%" class="text-center">建设单位</td>
        <td>
            {{vm.model.builtcompanyName}}
        </td>
        <td width="15%" class="text-center">项目代码</td>
        <td>{{vm.model.projectcode}}</td>
    </tr>
    <tr>
        <td width="15%" class="text-center">编制单位</td>
        <td>
            {{vm.model.designcompanyName}}
        </td>
        <td width="15%" class="text-center">报审概算</td>
        <td>
            {{vm.model.declaration}} 万元
        </td>
    </tr>

    <tr>
        <td width="15%" class="text-center">主办处室</td>
        <td>
            {{vm.model.maindeptName}}
        </td>
        <td width="15%" class="text-center">主办处室联系人</td>
        <td>
            {{vm.model.mainDeptUserName}}
        </td>
    </tr>

    <tr>
        <td width="15%" class="text-center">协办处室</td>
        <td>
            {{vm.model.assistdeptName}}
        </td>
        <td width="15%" class="text-center">协办处室联系人</td>
        <td>
            {{vm.model.assistDeptUserName}}
        </td>
    </tr>
    <tr>
        <td width="15%" class="text-center">缓急程度</td>
        <td>
            {{vm.model.urgencydegree}}
        </td>

        <td width="15%" class="text-center">秘密等级</td>
        <td>
            {{vm.model.secrectlevel}}
        </td>
    </tr>

    <tr>
        <td width="15%" class="text-center" rowspan="3">备审资料</td>
        <td colspan="3">
            <table class="table" style="border: 0px solid transparent !important;padding-top: 0px;padding-bottom: 0px;margin-bottom: 0px;margin-top:0px;">
                <caption>(一) 来文资料</caption>
                <tr>
                    <td style="border-top:none;width:20%;">&nbsp;</td>
                    <td style="border-top:none;width:20%;text-align:center;">原件/复印件</td>
                    <td style="border-top:none;width:10%;"><span style="margin-left: 10px;">数量</span></td>

                    <td style="border-top:none;width:20%;">&nbsp;</td>
                    <td style="border-top:none;width:20%;text-align:center;">原件/复印件</td>
                    <td style="border-top:none;width:10%;"><span style="margin-left: 10px;">数量</span></td>
                </tr>
                <tr>
                    <td style="border-top:none;text-align:right;">委项目处理表</td>
                    <td style="border-top:none;text-align:center;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.model.sugProDealOriginal" ng-disabled="true"
                               name="sugProDealOriginal" ng-click="vm.model.sugProDealCount = initInputValue($event,vm.model.sugProDealCount)"
                               id="addOriginal" ng-true-value="9"  ng-false-value="0">
                    </td>
                    <td style="border-top:none;text-align:left;">
                        <input type="text" style="width:50px;" ng-disabled="true" class="form-control input-sm " data-val="true" id="sugProDealCount"
                               data-val-digits="只能输入数字" ng-model="vm.model.sugProDealCount" name="sugProDealCount">
                    </td>

                    <td style="border-top:none;text-align:right;">项目单位申报表</td>
                    <td style="border-top:none;text-align:center;">
                        <input type="checkbox" style="width:50px;" ng-disabled="true" ng-click="vm.model.sugOrgApplyCount = initInputValue($event,vm.model.sugOrgApplyCount)"
                               ng-model="vm.model.sugOrgApplyOriginal" id="sugOrgApplyOriginal" ng-true-value="9"  ng-false-value="0">
                    </td>
                    <td style="border-top:none;text-align:left;">
                        <input type="text" style="width:50px;" class="form-control input-sm "
                               ng-model="vm.model.sugOrgApplyCount" name="sugOrgApplyCount" ng-disabled="true"
                               id="sugOrgApplyCount" data-val="true" data-val-digits="只能输入数字">
                    </td>

                </tr>
                <tr>
                    <td style="border-top:none;text-align:right;">委文件处理表</td>
                    <td style="border-top:none;text-align:center;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.model.sugFileDealOriginal" ng-disabled="true"
                               ng-click="vm.model.sugFileDealCount = initInputValue($event,vm.model.sugFileDealCount)"
                               id="sugFileDealOriginal" ng-true-value="9" ng-false-value="0">
                    </td>
                    <td style="border-top:none;text-align:left;">
                        <input type="text" style="width:50px;" class="form-control input-sm" ng-disabled="true"
                               ng-model="vm.model.sugFileDealCount" id="sugFileDealCount"
                               name="sugFileDealCount" data-val="true" data-val-digits="只能输入数字">
                    </td>

                    <td style="border-top:none;text-align:right;">项目单位请示报告</td>
                    <td style="border-top:none;text-align:center;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.model.sugOrgReqOriginal" ng-disabled="true"
                               ng-click="vm.model.sugOrgReqCount = initInputValue($event,vm.model.sugOrgReqCount)"
                               id="sugOrgReqOriginal" ng-true-value="9" ng-false-value="0">
                    </td>
                    <td style="border-top:none;text-align:left;">
                        <input type="text" style="width:50px;" class="form-control input-sm " ng-model="vm.model.sugOrgReqCount"
                               ng-disabled="true"  name="sugOrgReqCount" id="sugOrgReqCount" data-val="true" data-val-digits="只能输入数字">
                    </td>

                </tr>
                <tr>
                    <td style="border-top:none;"></td>
                    <td style="border-top:none;"></td>
                    <td style="border-top:none;"></td>
                    <td style="border-top:none;text-align:right;">相关会议纪要</td>
                    <td style="border-top:none;text-align:center;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.model.sugMeetOriginal" ng-disabled="true"
                               ng-click="vm.model.sugMeetCount = initInputValue($event,vm.model.sugMeetCount)"
                               id="sugMeetOriginal" ng-true-value="9" ng-false-value="0">
                    </td>
                    <td style="border-top:none;text-align:left;">
                        <input type="text" style="width:50px;" class="form-control input-sm "
                               ng-model="vm.model.sugMeetCount" name="sugMeetCount" ng-disabled="true"
                               id="sugMeetCount" data-val="true" data-val-digits="只能输入数字">
                    </td>

                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <table class="table" style="border: 0px solid transparent !important;padding-top: 0px;padding-bottom: 0px;margin-bottom: 0px;margin-top:0px;">
                <caption>(二)项目前期资料</caption>
                <tr>
                    <td style="border-top:none;width:20%;">&nbsp;</td>
                    <td style="border-top:none;width:20%;text-align:center;">原件/复印件</td>
                    <td style="border-top:none;width:10%;"><span style="margin-left: 10px;">数量</span></td>

                    <td style="border-top:none;width:20%;">&nbsp;</td>
                    <td style="border-top:none;width:20%;text-align:center;">原件/复印件</td>
                    <td style="border-top:none;width:10%;"><span style="margin-left: 10px;">数量</span></td>
                </tr>
                <tr>
                    <td style="border-top:none;text-align:right;">项目建议书批复</td>
                    <td style="border-top:none;text-align:center;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.model.studyProSugOriginal" ng-disabled="true"
                               ng-click="vm.model.studyProSugCount = initInputValue($event,vm.model.studyProSugCount)"
                               id="studyProSugOriginal" ng-true-value="9" ng-false-value="0">
                    </td>
                    <td style="border-top:none;text-align:left;">
                        <input type="text" style="width:50px;" class="form-control input-sm "
                               ng-model="vm.model.studyProSugCount" name="studyProSugCount" ng-disabled="true"
                               id="studyProSugCount" data-val="true" data-val-digits="只能输入数字">
                    </td>

                    <td style="border-top:none;text-align:right;">环境影响评价报告</td>
                    <td style="border-top:none;text-align:center;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.model.environmentalEffectOriginal" ng-disabled="true"
                               ng-click="vm.model.environmentalEffectCount = initInputValue($event,vm.model.environmentalEffectCount)"
                               id="environmentalEffectOriginal" ng-true-value="9" ng-false-value="0">
                    </td>
                    <td style="border-top:none;text-align:left;">
                        <input type="text" style="width:50px;" class="form-control input-sm " ng-disabled="true"
                               ng-model="vm.model.environmentalEffectCount" name="environmentalEffectCount"
                               id="envproReplyCount" data-val="true" data-val-digits="只能输入数字">
                    </td>

                </tr>
                <tr>
                    <td style="border-top:none;text-align:right;">可研报告批复</td>
                    <td style="border-top:none;text-align:center;">
                        <input type="checkbox" style="width:50px;"  ng-model="vm.model.reportOrigin" id="reportOrigin"
                               ng-click="vm.model.reportCount = initInputValue($event,vm.model.reportCount)"
                               ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;text-align:left;">
                        <input type="text" style="width:50px;" class="form-control input-sm "
                               ng-model="vm.model.reportCount" name="reportCount" ng-disabled="true"
                               id="studyMeetCount" data-val="true" data-val-digits="只能输入数字">
                    </td>

                    <td style="border-top:none;text-align:right;">用地规划许可证</td>
                    <td style="border-top:none;text-align:center;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.model.landPlanningLicenseOriginal" ng-disabled="true"
                               ng-click="vm.model.landPlanningLicenseCount = initInputValue($event,vm.model.landPlanningLicenseCount)"
                               id="landPlanningLicenseOriginal" ng-true-value="9"  ng-false-value="0">
                    </td>
                    <td style="border-top:none;text-align:left;">
                        <input type="text" style="width:50px;" class="form-control input-sm " ng-disabled="true"
                               ng-model="vm.model.landPlanningLicenseCount" name="landPlanningLicenseCount"
                               id="landPlanningLicenseCount" data-val="true" data-val-digits="只能输入数字">
                    </td>

                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <table class="table" style="border: 0px solid transparent !important;padding-top: 0px;padding-bottom: 0px;margin-bottom: 0px;margin-top:0px;">
                <caption>(三) 项目设计资料</caption>
                <tr>
                    <td style="border-top:none;width:20%;">&nbsp;</td>
                    <td style="border-top:none;width:20%;text-align:center;">原件/复印件</td>
                    <td style="border-top:none;width:10%;"><span style="margin-left: 10px;">数量</span></td>

                    <td style="border-top:none;width:20%;">&nbsp;</td>
                    <td style="border-top:none;width:20%;text-align:center;">原件/复印件</td>
                    <td style="border-top:none;width:10%;"><span style="margin-left: 10px;">数量</span></td>
                </tr>
                <tr>
                    <td style="border-top:none;text-align:right;">地质勘察报告</td>
                    <td style="border-top:none;text-align:center;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.model.geologicalSurveyOriginal" ng-disabled="true"
                               ng-click="vm.model.geologicalSurveyCount = initInputValue($event,vm.model.geologicalSurveyCount)"
                               name="geologicalSurveyOriginal" id="geologicalSurveyOriginal" ng-true-value="9"  ng-false-value="0">
                    </td>
                    <td style="border-top:none;text-align:left;">
                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" id="geologicalSurveyCount"
                               ng-disabled="true"  data-val-digits="只能输入数字"  ng-model="vm.model.geologicalSurveyCount" name="geologicalSurveyCount">
                    </td>

                    <td style="border-top:none;text-align:right;">初步设计图纸</td>
                    <td style="border-top:none;text-align:center;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.model.preliminaryDrawingOriginal" ng-disabled="true"
                               ng-click="vm.model.preliminaryDrawingCount = initInputValue($event,vm.model.preliminaryDrawingCount)"
                               id="preliminaryDrawingOriginal" ng-true-value="9"  ng-false-value="0">
                    </td>
                    <td style="border-top:none;text-align:left;">
                        <input type="text" style="width:50px;" class="form-control input-sm " ng-disabled="true"
                               ng-model="vm.model.preliminaryDrawingCount" name="preliminaryDrawingCount"
                               id="preliminaryDrawingCount"  data-val="true" data-val-digits="只能输入数字">
                    </td>

                </tr>
                <tr>
                    <td style="border-top:none;text-align:right;">设计说明</td>
                    <td style="border-top:none;text-align:center;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.model.descriptionDesignOriginal" ng-disabled="true"
                               ng-click="vm.model.descriptionDesignCount = initInputValue($event,vm.model.descriptionDesignCount)"
                               id="descriptionDesignOriginal" ng-true-value="9" ng-false-value="0">
                    </td>
                    <td style="border-top:none;text-align:left;">
                        <input type="text" style="width:50px;" class="form-control input-sm" ng-disabled="true"
                               ng-model="vm.model.descriptionDesignCount" id="descriptionDesignCount"
                               name="descriptionDesignCount"  data-val="true" data-val-digits="只能输入数字">
                    </td>

                    <td style="border-top:none;text-align:right;">施工设计图纸</td>
                    <td style="border-top:none;text-align:center;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.model.constructionDrawingsOriginal" ng-disabled="true"
                               ng-click="vm.model.constructionDrawingsCount = initInputValue($event,vm.model.constructionDrawingsCount)"
                               id="constructionDrawingsOriginal" ng-true-value="9" ng-false-value="0">
                    </td>
                    <td style="border-top:none;text-align:left;">
                        <input type="text" style="width:50px;" class="form-control input-sm " ng-disabled="true"
                               ng-model="vm.model.constructionDrawingsCount" name="constructionDrawingsCount"
                               id="constructionDrawingsCount" data-val="true" data-val-digits="只能输入数字">
                    </td>

                </tr>
                <tr>
                    <td style="border-top:none;text-align:right;">工程概算书</td>
                    <td style="border-top:none;text-align:center;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.model.projectBudgetOriginal" ng-disabled="true"
                               ng-click="vm.model.projectBudgetCount = initInputValue($event,vm.model.projectBudgetCount)"
                               id="projectBudgetOriginal" ng-true-value="9" ng-false-value="0">
                    </td>
                    <td style="border-top:none;text-align:left;">
                        <input type="text" style="width:50px;" class="form-control input-sm" ng-disabled="true"
                               ng-model="vm.model.projectBudgetCount" id="projectBudgetCount"
                               name="projectBudgetCount" data-val="true" data-val-digits="只能输入数字">
                    </td>

                    <td style="border-top:none;text-align:right;">项目电子文档</td>
                    <td style="border-top:none;text-align:center;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.model.proSugEledocOriginal" ng-disabled="true"
                               ng-click="vm.model.proSugEledocCount = initInputValue($event,vm.model.proSugEledocCount)"
                               id="proSugEledocOriginal" ng-true-value="9" ng-false-value="0">
                    </td>
                    <td style="border-top:none;text-align:left;">
                        <input type="text" style="width:50px;"  class="form-control input-sm " ng-disabled="true"
                               ng-model="vm.model.proSugEledocCount" name="proSugEledocCount"
                               id="proSugEledocCount" data-val="true" data-val-digits="只能输入数字">
                    </td>

                </tr>
            </table>
        </td>
    </tr>

    <tr ng-if="vm.registerFile">
        <td colspan="4">
            <table class="table">
                <tr>
                    <td style="border-top: none;">其它资料</td>
                    <td style="width: 100px;border-top: none;">原件</td>
                    <td style="width: 100px;border-top: none;">复印件</td>
                    <td style="width: 100px;border-top: none;">份数</td>
                    <td style="width: 10%;border-top: none;">&nbsp;</td>
                </tr>
                <tr ng-repeat="f in vm.otherFile">
                    <td style="border-top: none;">{{$index+1}}、{{vm.registerFile[$index].fileName}}</td>
                    <td style="border-top: none;">
                        <input type="checkbox" ng-disabled="true"
                               ng-model="vm.registerFile[$index].isHasCopyfile"
                               ng-checked="vm.registerFile[$index].isHasCopyfile == '9'"
                               ng-true-value="9" ng-false-value="0"/>
                    </td>
                    <td style="border-top: none;">
                        <input type="checkbox" ng-disabled="true"
                               ng-model="vm.registerFile[$index].isHasOriginfile"
                               ng-checked="vm.registerFile[$index].isHasOriginfile == '9'"
                               ng-true-value="9" ng-false-value="0"/>
                    </td>
                    <td style="border-top: none;">
                        <input type="text" style="width:50px;" ng-disabled="true"
                               ng-model="vm.registerFile[$index].totalNum">
                    </td>
                    <td style="border-top: none;"></td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td width="15%" class="text-center" style="vertical-align: middle;">综合部拟办意见</td>
        <td colspan="3">
            <div style="min-height: 50px;">
            <p class="text-left"> {{vm.model.comprehensivehandlesug}}</p>
            <p class="text-right" ng-if="vm.model.comprehensiveName">签名：{{vm.model.comprehensiveName}}</p>
            <p class="text-right" ng-if="vm.model.comprehensiveDate">日期：{{vm.model.comprehensiveDate}}</p>
            </div>
        </td>
    </tr>
    <tr>
        <td width="15%" class="text-center" style="vertical-align: middle;">中心领导签批意见</td>
        <td colspan="3">
            <div style="min-height: 50px;">
            <p class="text-left"> {{vm.model.leaderhandlesug}}</p>
            <p class="text-right" ng-if="vm.model.leaderName">签名：{{vm.model.leaderName}}</p>
            <p class="text-right" ng-if="vm.model.leaderDate">日期：{{vm.model.leaderDate}}</p>
            </div>
        </td>
    </tr>
    <tr>
        <td width="15%" class="text-center" style="vertical-align: middle;">部长处理意见</td>
        <td colspan="3">
            <div style="min-height: 50px;">
            <p class="text-left"> {{vm.model.ministerhandlesug}}</p>
            <p class="text-right" ng-if="vm.model.ministerName">签名：{{vm.model.ministerName}}</p>
            <p class="text-right" ng-if="vm.model.ministerDate">日期：{{vm.model.ministerDate}}</p>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<table style="width: 100%;margin-bottom: 15px;">
    <tr>
        <td style="width: 15%;text-align: right;">送件人签名：</td>
        <td>
            {{vm.model.sendusersign}}
        </td>
    </tr>
</table>
<!-- end table -->
<!--<button class="form-control btn-sm btn-primary" style="width: 200px; margin: auto;" onclick="printpage(this)">打印</button>-->
<p style="text-align: center;">
<button class=" btn btn-sm btn-primary" style="width: 100px; " ng-click="printFile(vm.model.signid,'SIGN' , 'STAGEBUDGET')">打印预览</button>
<button class="btn btn-sm btn-primary" style="width: 100px;  " ng-click="printFile(vm.model.signid,'SIGN_OTHERFILE' , 'OTHER_FILE')">打印其它资料</button>
</p>
    <!-- E_项目概算 -->