<meta charset="UTF-8">
<table class="table table-bordered" style="margin-bottom: 0px;">
    <caption class="text-center">
        <p class="h3">
            <strong>
               委项目处理表
            </strong>
        </p>
    </caption>
    <tr>
        <td width="16%" class="text-center">
            项目名称
        </td>
        <td width="34%" >{{vm.model.projectname}}</td>
        <td width="16%" class="text-center">
            项目代码
        </td>
        <td width="34%" >{{vm.model.projectcode}}</td>
    </tr>
    <tr>
        <td class="text-center">
            建设单位
        </td>
        <td >{{vm.model.builtcompanyName}}</td>
        <td class="text-center">
            负责人
        </td>
        <td>{{vm.model.builtCompUserName}}</td>
    </tr>
    <tr>
        <td class="text-center">
           编制单位
        </td>
        <td >{{vm.model.designcompanyName}}</td>
        <td class="text-center">
            窗口受理时间
        </td>
        <td>{{vm.model.acceptDate}}</td>
    </tr>
    <tr>
        <td class="text-center">总投资金额</td>
        <td colspan="3">{{vm.model.appalyInvestment}}</td>
    </tr>
    <tr>
        <td class="text-center" style="vertical-align: middle;">备审资料</td>
        <td colspan="3">
            <div style="min-height: 100px;">

            </div>
        </td>
    </tr>
    <tr>
        <td class="text-center" style="vertical-align: middle;">主办处室<br/>意见</td>
        <td colspan="3">
            <div style="min-height: 100px;" ng-bind-html="vm.model.maindeptOpinion | ntobr| trust2Html"></div>
        </td>
    </tr>
    <tr>
        <td class="text-center" style="vertical-align: middle;">会签处室<br/>意见</td>
        <td colspan="3">
            <div style="min-height: 100px;">

            </div>
        </td>
    </tr>
    <tr>
        <td class="text-center" style="vertical-align: middle;">委领导<br/>意见</td>
        <td colspan="3" >
            <div style="min-height: 100px;">

            </div>
        </td>
    </tr>
</table>
<p style="text-align: center; margin-top: 10px;">
   <!-- <button class="btn btn-sm btn-primary" style="width: 100px; " ng-click="printFile(vm.model.signid,'VPROJECT','VPROJECT')">
        打印预览</button>-->
       <button class="btn btn-sm btn-primary" style="width: 100px; " ng-click="downloadFile(vm.model.signid,'VPROJECT','VPROJECT')">
           下载</button>
</p>