<meta charset="UTF-8">
<!--专家申请表-->

<table class="print-table">
    <caption class="title" style="margin-top: 20px;margin-bottom: 20px;">
        <strong>深圳市政府投资项目咨询专家申请表</strong>
    </caption>
<!--    <tr class="tr-hidden">
        <td width="10%"></td>
        <td width="20%"></td>
        <td width="10%"></td>
        <td width="10%"></td>
        <td width="10%"></td>
        <td width="16%"></td>
        <td width="14%"></td>
        <td width="10%"></td>
    </tr>-->
    <tr style=" height: 40px; overflow: hidden ; font-size: 12px;">
        <td class="text-center" width="10%">姓名</td>
        <td  width="15%"> {{vm.model.name}}</td>
        <td class="text-center" width="10%">性别</td>
        <td width="10%">{{vm.model.sex}}</td>
        <td class="text-center" width="15%">出生年月</td>
        <td  width="13%" >{{vm.model.birthDay}}</td>
        <td colspan="2" rowspan="4" width="20%"></td>
    </tr>
    <tr style="width: 100%; height: 40px; overflow: hidden ; font-size: 12px;">
        <td class="text-center">身份证号</td>
        <td colspan="3">{{vm.model.idCard}}</td>
        <td class="text-center">最高学历</td>
        <td>{{vm.model.qualifiCations}}</td>

    </tr>
    <tr style=" height: 40px; overflow: hidden ; font-size: 12px;">
        <td class="text-center">毕业学校</td>
        <td colspan="3">{{vm.model.acaDemy}}</td>
        <td class="text-center">最高学位</td>
        <td>{{vm.model.degRee}}</td>
    </tr>
    <tr style=" height: 40px; overflow: hidden ; font-size: 12px;">
        <td class="text-center">手机</td>
        <td colspan="3">{{vm.model.acaDemy}}</td>
        <td class="text-center">毕业时间</td>
        <td>{{vm.model.graduateDate}}</td>
    </tr>
<!--    <tr>
        <td>工作单位</td>
        <td colspan="3">{{vm.model.comPany}}</td>
        <td>现任职务</td>
        <td>{{vm.model.job}}</td>
    </tr>-->
<!--<</table>

<table class="print-table">-->
    <tr style=" height: 40px; overflow: hidden ; font-size: 12px;">
        <td class="text-center" width="10%">工作单位</td>
        <td colspan="2">{{vm.model.comPany}}</td>
        <td class="text-center">现任职务</td>
        <td>{{vm.model.job}}</td>
        <td class="text-center">职称</td>
        <td colspan="2">{{vm.model.post}}</td>
    </tr>

    <tr style=" height: 40px; overflow: hidden ; font-size: 12px;">
        <td class="text-center" width="10%">办公电话</td>
        <td colspan="2">{{vm.model.phone}}</td>
        <td class="text-center">传真</td>
        <td>{{vm.model.fax}}</td>
        <td class="text-center">电子邮箱</td>
        <td colspan="2">{{vm.model.email}}</td>
    </tr>


    <!--    <tr>
            <td width="10%">手机号码</td>
            <td>{{vm.model.userPhone}}</td>
            <td>职称</td>
            <td>{{vm.model.post}}</td>
            <td>电子邮箱</td>
            <td>{{vm.model.email}}</td>
            <td  width="9%">办公电话</td>
            <td >{{vm.model.phone}}</td>
        </tr>-->
    <tr style=" height: 40px; overflow: hidden ; font-size: 12px;">
        <td class="text-center">通讯地址</td>
        <td colspan="4">{{vm.model.addRess}}</td>
        <td class="text-center" >邮编</td>
        <td  colspan="2">{{vm.model.zipCode}}</td>
    </tr>
    <tr style=" height: 40px; overflow: hidden ; font-size: 12px;">
        <td class="text-center">所学专业</td>
        <td colspan="7">
            {{vm.model.majorStudy}}
            <!--<span>专业门类：{{vm.model.majorSSort}}</span>
            <span>专业大类：{{vm.model.majorbigSSort}}</span>
            <span>专业：{{vm.majorStudy}}</span>-->
        </td>
    </tr>
    <tr style=" height: 40px; overflow: hidden ; font-size: 12px;">
        <td class="text-center">从事专业</td>
        <td colspan="7">
            {{vm.model.majorWork}}
            <!--<span>专业门类：{{vm.model.majorWSort}}</span>
            <span>专业大类：{{vm.model.majorbigWSort}}</span>
            <span>专业：{{vm.majorWork}}</span>-->
        </td>
    </tr>
    <tr style=" height: 40px; overflow: hidden ; font-size: 12px;">
        <td class="text-center">专家类别</td>
        <td colspan="7">
            {{vm.model.expertSort}}
        </td>
    </tr>

    <tr>
        <td>工作简历</td>
        <td colspan="7" style="padding: 0px;">
            <table style="width: 100%;text-align: center; font-size: 12px; border-collapse: collapse;"  >
                <tr >
                    <td style="border-top: none ;border-left: none" width="20%">开始时间</td>
                    <td style="border-top: none"  width="20%">结束时间</td>
                    <td  style="border-top: none" width="40%">工作单位</td>
                    <td style="border-top: none ;border-right: none" width="20%">职务</td>
                </tr>
                <tr  ng-repeat="w in vm.model.workDtoList | limitTo : 4 track by $index">
                    <td style="border-left: none ;border-bottom: none"   class="text-center">
                        <div style="width: 100%;  height: 20px; overflow: hidden ; font-size: 12px;">{{ w.beginTime }}</div>
                    </td>
                    <td style="border-bottom: none" class="text-center">
                        <div style="width: 100%;  height: 20px; overflow: hidden ; font-size: 12px;">{{ w.endTime }}</div>
                    </td>
                    <td style="border-bottom: none"  class="text-center" >
                        <div style="width: 100%;  height: 20px; overflow: hidden ; font-size: 12px;">{{ w.companyName }}</div>
                    </td>
                    <td style="border-right: none;border-bottom: none" class="text-center">
                        <div style="width: 100%;  height: 20px; overflow: hidden ; font-size: 12px;">{{ w.workJob }}</div>
                    </td>
                </tr>
                <tr ng-repeat="w in vm.expertList | limitTo : (4- vm.model.workDtoList.length) track by $index " ng-if="(4- vm.model.workDtoList.length) > 0">
                    <td style="border-left: none;border-bottom: none" class="text-center"><div style="width: 100%;  height: 20px; overflow: hidden ; font-size: 12px;"></div></td>
                    <td style="border-bottom: none" class="text-center"><div style="width: 100%;  height: 20px; overflow: hidden ; font-size: 12px;"></div></td>
                    <td style="border-bottom: none" class="text-center"><div style="width: 100%;  height: 20px; overflow: hidden ; font-size: 12px;"></div></td>
                    <td style="border-right: none;border-bottom: none" class="text-center" ><div style="width: 100%;  height: 20px; overflow: hidden ; font-size: 12px;"></div></td>
                </tr>
            </table>
        </td>
    </tr>
    .
    <tr>
        <td>项目经验</td>
        <td colspan="7" style="padding: 0px;">
            <table   style="width: 100%; border: none; text-align: center; font-size: 12px; border-collapse: collapse;">
                <tr>
                    <td style="border-top: none;border-left: none;border-right: none"  colspan="2"  class="text-center"> 曾参加过具有代表性的工程项目</td>
                </tr>
                <tr >
                    <td style="border-left: none" width="50%">项目名称</td>
                    <td style="border-right: none" width="50%">项目类别</td>
                </tr>
                <tr  ng-repeat="x in vm.model.projectDtoList | limitTo : 5 track by $index">
                    <td style="border-left: none;border-bottom: none" class="text-center" >
                        <div style="width: 100%;  height: 20px; overflow: hidden ; font-size: 12px;">{{x.projectName}}</div>
                    </td>
                    <td style="border-right: none ;border-bottom: none" class="text-center" >
                        <div style="width: 100%;  height: 20px; overflow: hidden ; font-size: 12px;">{{x.projectType}}</div>
                    </td>
                </tr>
                <tr  ng-repeat="x in vm.expertList | limitTo : (5 - vm.model.projectDtoList.length) track by $index" ng-if="(5 - vm.model.projectDtoList.length) > 0">
                    <td style="border-left: none;border-bottom: none" class="text-center" ><div style="width: 100%;  height: 20px; overflow: hidden ; font-size: 12px;"></div></td>
                    <td style="border-right: none ;border-bottom: none" class="text-center" ><div style="width: 100%;  height: 20px; overflow: hidden ; font-size: 12px;"></div></td>
                </tr>

            </table>
        </td>
    </tr>
    <tr style="width: 100%;  height: 40px; overflow: hidden ; font-size: 12px;">
        <td>本人承诺</td>
        <td colspan="7" >
            愿意参加政府投资项目评审活动，愿意遵守《深圳市政府投资项目咨询专家管理办法》的相关规定
        </td>
    </tr>
    <tr style="width: 100%;  height: 40px; overflow: hidden ; font-size: 12px;">
        <td>本人签名</td>
        <td colspan="7">
            <div style="margin-left: 30%;float: left;">（单位公章）</div>
            <div style="margin-left: 80%">年 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  月 &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; 日</div>
        </td>
    </tr>
    <tr style="width: 100%;  height: 40px; overflow: hidden ; font-size: 12px;">
        <td>中心审核</td>
        <td colspan="7">

        </td>
    </tr>
</table>