<#assign path=request.contextPath/>
<meta charset="UTF-8">

<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<link href="${path}/contents/libs/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet"/>
<script src="${path}/contents/libs/zTree/js/jquery.ztree.all.min.js"></script>

<!-- 附件 -->
<#include "/file/common.html"/>
<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/sharingPlatlformList">共享平台</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <form id="form" name="form">
        <div class="toolbar">
            <a class="btn btn-sm btn-primary" href="#/sharingPlatlform"><span
                    class="glyphicon glyphicon-chevron-left"></span>返回</a>
            <button class="btn btn-sm btn-success" ng-click="vm.create()" ng-disabled="vm.isSubmit"
                    ng-hide="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>保存
            </button>
        </div>

        <table class="table table-bordered">
            <tr>
                <td class="text-right" style="width:120px;">主题： <span class="required">*</span></td>
                <td>
                    <input type="text" maxlength="32" class="form-control input-sm " ng-model="vm.model.theme"
                           id="theme" name="theme" data-val-required="必填" data-val-regex="必填" data-val-length-max="32"/>
                    <span data-valmsg-for="theme" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-right">立即发布：</td>
                <td>
                    <input class="text-right" type="checkbox" style="width:20px;" ng-model="vm.model.isPublish"
                           name="isPublish" ng-checked="vm.model.isPublish == 9" ng-true-value="9" ng-false-value="0">是
                    <span data-valmsg-for="pubDept" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-right">全员可看：</td>
                <td>
                    <input class="text-right" type="checkbox" style="width:20px;" ng-model="vm.model.isNoPermission"
                           name="isNoPermission" ng-checked="vm.model.isNoPermission == 9"  ng-true-value="9" ng-false-value="0">是
                    <span data-valmsg-for="pubDept" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>

            <tr ng-hide="vm.model.isNoPermission == 9">
                <td class="text-right">共享部门：</td>
                <td>
                    <span ng-repeat="o in vm.shareOrgList">
                        <input type="checkbox" name="shareOrg" value="{{o.id}}" ng-click="vm.checkBox($event)" ng-checked="{{o.isChecked}}"/>{{o.name}}</span>
                    </span>
                    <span ng-repeat="d in vm.deptDtoList">
                        <input type="checkbox" name="shareDept" value="{{d.id}}" ng-click="vm.checkDeptBox($event,d)" ng-checked="{{d.isChecked}}"/>{{d.name}}</span>
                    </span>
                </td>
            </tr>

            <tr ng-hide="vm.model.isNoPermission == 9">
                <td class="text-right">共享用户：</td>
                <td>
                    <table class="table">
                        <tr>
                            <td style="width: 85px;">
                                中心领导
                            </td>
                            <td>
                                <li ng-repeat="u in vm.noOrgUsetList" style="width: 80px;float: left;">
                                    <input type="checkbox" name="shareUser" value="{{u.id}}" ng-checked="{{u.isChecked}}"/>{{u.displayName}}</li>
                                </li>
                            </td>
                        </tr>
                        <tr ng-repeat="o in vm.shareOrgList">
                            <td>{{o.name}}</td>
                            <td>
                                <li ng-repeat="u in o.userDtos" style="width: 80px;float: left;">
                                    <input type="checkbox" tit="{{o.id}}" name="shareUser" value="{{u.id}}" ng-checked="{{u.isChecked}}" ng-disabled="{{u.isDisabled}}"/>{{u.displayName}}</li>
                                </li>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td class="text-right">说明：</td>
                <td>
                    <textarea id="content" name="content" rows="5" cols="30" maxlength="1000"
                              class="form-control input-sm " ng-model="vm.model.content" data-val-length-max="1000"></textarea>
                    <span data-valmsg-for="content" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>

            <tr>
                <td class="text-right">附件：</td>
                <td colspan="2">
                    <p>
                        <button class="btn btn-sm btn-primary" ng-click="vm.clickUploadBt();" id="upload_file_bt">上传附件</button>
                    </p>

                    <div ng-repeat="x in vm.sysFilelists">
                        <p>
                            <i class="fa fa-file-image-o" aria-hidden="true"
                               ng-show="x.fileType =='.png' || x.fileType =='.jpg' || x.fileType =='.gif'"></i>
                            <i class="fa fa-file-word-o" aria-hidden="true"
                               ng-show="x.fileType =='.docx' || x.fileType =='.doc'"></i>
                            <i class="fa fa-file-excel-o" aria-hidden="true"
                               ng-show="x.fileType =='.xlsx' || x.fileType =='.xls'"></i>
                            <i class="fa fa-file-pdf-o" aria-hidden="true" ng-show="x.fileType =='.pdf'"></i>
                            <a ng-click="vm.downloadSysFile(x.sysFileId)">{{ x.showName }}</a>
                            <button class="btn btn-xs btn-danger" ng-click="vm.delSysFile(x.sysFileId)"><i
                                    class="fa fa-times" aria-hidden="true"></i>删除
                            </button>
                        </p>
                    </div>
                </td>
            </tr>
        </table>


    </form>

</div>
    
  