<#assign path=request.contextPath/>
<meta charset="UTF-8">

<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-upload.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/sharingPlatlformList">共享平台</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <form id="form" name="form">
        <div class="toolbar">
            <a class="btn btn-sm btn-primary" href="#/sharingPlatlform"><span class="glyphicon glyphicon-chevron-left"></span>返回</a>
            <button class="btn btn-sm btn-success" ng-click="vm.create()" ng-disabled="vm.isSubmit"
                    ng-hide="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>保存
            </button>
           
            <button class="btn btn-sm btn-success" ng-click="vm.update()" ng-disabled="vm.isSubmit"
                    ng-show="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>更新
            </button>
        </div>
       
        <table style="width:100%">
            <tr>
                <td class="formAlignRight" style="width:150px;"></td>
                <td style="width:400px;"><span class="errors">{{vm.message}}</span></td>
                <td></td>
            </tr>
        
            <tr>
                <td class="formAlignRight">发布主题：</td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.theme"
                           id="theme" name="theme"  />
                </td>
                <td><span data-valmsg-for="theme" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight"><span ng-hide="vm.centerDept || vm.postResume">发布部门：</span></td>
                <td>
                <div id="centerDept" ng-hide="vm.centerDept || vm.postResume" >
	    		 <select ng-model="vm.model.pubDept" class="form-control input-sm " name="pubDept" id="pubDept" ng-change="vm.coloseHide()">
	    	   	 	<option value="">无</option>
					<option ng-repeat="org in vm.orglist" ng-selected="vm.model.pubDept == org.id"  value="{{org.name}}">{{org.name}}</option>
				</select>	
				</div>
                </td>
                <td><span data-valmsg-for="pubDept" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            
             <tr>
                <td class="formAlignRight"><span ng-hide="vm.publishOrg || vm.centerDept ">个人发布：</span></td>
                <td>
                 <div id="postResumehied" ng-hide="vm.publishOrg || vm.centerDept " >
	    		 <select ng-model="vm.model.postResume" class="form-control input-sm " name="postResume" id="postResume" ng-change="vm.postPerson()">
	    	   	 	<option value="">无</option>
					<option ng-repeat="r in vm.userlist" ng-selceted="vm.model.postResume == r.id" value="{{r.loginName}}">{{r.loginName}}</option>
				</select>
				</div>	
                </td>
                <td><span data-valmsg-for="postResume" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
           
            <tr>
                 <td class="formAlignRight">是否发布： </td>
                 <td >
                  <label>
			        <input type="radio" ng-value="9" ng-model="vm.model.isPublish" name="isPublish">是
			    </label>
			    <label>
			        <input type="radio" ng-value="0" ng-model="vm.model.isPublish"  name="isPublish">否
			    </label>
                 </td>
             </tr>
            
            <tr>
                <td class="formAlignRight">发布内容：</td>
                <td colspan="2">
                 <textarea kendo-editor k-ng-model="html" name="content" style="width: 70%; height: 5em"  ng-model="vm.model.content " id="content" name="content"></textarea>
                </td>
                <td><span data-valmsg-for="content" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
           
         
            <tr>
                <td class="formAlignRight">备注：</td>
                <td>
                     <textarea  id="remark" name="remark" rows="" maxlength="200" class="form-control input-sm " ng-model="vm.model.remark" cols="">
                       </textarea>
                </td>
                <td><span data-valmsg-for="remark" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            
            <tr>
                 <td class="formAlignRight">附件： </td>
                 <td colspan="2">
                     <p><button class="btn btn-sm btn-primary" id="upload_file_bt" >上传附件</button></p> 
                
                     <div ng-repeat="x in vm.sysFilelists">
                         <p >
                             <i class="fa fa-file-image-o" aria-hidden="true" ng-show="x.fileType =='.png' || x.fileType =='.jpg' || x.fileType =='.gif'"></i>
                             <i class="fa fa-file-word-o" aria-hidden="true" ng-show="x.fileType =='.docx' || x.fileType =='.doc'"></i>
                             <i class="fa fa-file-excel-o" aria-hidden="true" ng-show="x.fileType =='.xlsx' || x.fileType =='.xls'"></i>
                             <i class="fa fa-file-pdf-o" aria-hidden="true" ng-show="x.fileType =='.pdf'"></i>
                             <a ng-click="vm.downloadSysFile(x.sysFileId)">{{ x.showName }}</a>
                             <button class="btn btn-xs btn-danger" ng-click="vm.delSysFile(x.sysFileId)"><i class="fa fa-times" aria-hidden="true"></i>删除</button>
                         </p>
                    </div>
                 </td>
             </tr>
        </table>
    </form>
</div>