<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/sharingPlatlform">共享平台</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>

     <div class="toolbar">
        <a class="btn btn-sm btn-primary" href="#/sharingPlatlformEdit/{sharId:null}">
            <span class="glyphicon glyphicon-plus"></span>新增记录</a>
         <a class="btn btn-sm btn-primary" ng-click="vm.querySharing()">
             <span class="glyphicon glyphicon-search"></span>查询</a>
         <a class="btn btn-sm btn-primary" ng-click="vm.resetSharing()">
             <span class="glyphicon glyphicon-repeat"></span>重置</a>
        <button class="btn btn-sm btn-success" ng-click="vm.bathPublish()" ng-disabled="vm.isSubmit">
            <span class="glyphicon glyphicon-cloud-upload"></span>批量发布
        </button>
        <button class="btn btn-sm btn-warning" ng-click="vm.bathDown()" ng-disabled="vm.isSubmit">
            <span class="glyphicon glyphicon-cloud-download"></span>取消发布
        </button>
         <button class="btn btn-sm btn-danger" ng-click="vm.dels()" ng-disabled="vm.isSubmit">
             <span class="glyphicon glyphicon-remove"></span>批量删除</button>
     </div>

    <form id="formSharing" name="formSharing" class="breadcrumb">
        <span class="help-inline">主题：</span>
        <input type="text"  operator="like" name="theme" id="theme" placeholder="请输入名称">

        <span class="help-inline" style="margin-left:10px;">共享主题：</span>
        <select style="width:10%;" ng-model="vm.model.pubDept"   name="pubDept" id="pubDept" operator="eq" >
            <option value="">无</option>
            <option ng-repeat="org in vm.orglist" value="{{org.name}}">{{org.name}}</option>
        </select>

        <span class="help-inline" style="margin-left:10px;">共享部门：</span>
        <select style="width:10%;" ng-model="vm.model.postResume"  name="postResume" id="postResume" operator="eq" >
            <option value="">无</option>
            <option ng-repeat="r in vm.userlist" value="{{r.loginName}}">{{r.loginName}}</option>
        </select>
    </form>

    <div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
</div>

<script type="text/template" id="columnBtns">
    <a class="btn btn-xs btn-success" href="#/sharingDetil/{0}"><span class="glyphicon glyphicon-edit"></span>查看</a>
    <@shiro.hasPermission name="sharingPlatlform##put">
    <a class="btn btn-xs btn-primary" href="#/sharingPlatlformEdit/{1}"><span class="glyphicon glyphicon-pencil"></span>编辑</a>
    </@shiro.hasPermission>
    <@shiro.hasPermission name="sharingPlatlform##delete">
    <button class="btn btn-xs btn-danger"  ng-click="{2}" ><span class="glyphicon glyphicon-remove"></span>删除</button>
    </@shiro.hasPermission>
</script>