<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-upload.html'"></div>
<!--拟补充资料函上传列表页面-->
<#include "/addSuppLetter/addsuppUpload.html"/>

<div class="well well-sm" style="background:white; color: red">
<div class="toolbar">
           
    <button class="btn btn-sm btn-success" ng-click="vm.saveAddSuppletter()" ng-disabled="vm.isCommit">
        <span class="glyphicon glyphicon-ok"></span>保存
    </button>
    <button ng-hide="vm.suppletter.processInstanceId" class="btn btn-sm btn-default" ng-click="vm.startSignSupperFlow()"  ng-hide="vm.model.signState == '0' || vm.model.processInstanceId "><span
            class="glyphicon glyphicon-share-alt"></span>发起流程
    </button>
    <button ng-show='false'class="btn btn-sm btn-success" ng-click="vm.print()" ng-disabled="vm.isCommit">
        <span class="glyphicon glyphicon-ok"></span>打印
    </button>
      <button class="btn btn-sm btn-primary" ng-click="vm.clickUploadBt();" id="upload_file_bt" ><i class="fa fa-cloud-upload" aria-hidden="true"></i>上传附件</button>
     <button class="btn btn-sm btn-success" ng-click="vm.addSuppContent(vm.suppletter.id)">
            <span class="glyphicon glyphicon-search"></span>查看附件
     </button>
    <a  class="btn btn-sm btn-danger" ng-click="backtoflow()"><span class="glyphicon glyphicon-chevron-left"></span>返回流程</a>
<#--    <button class="btn btn-sm btn-danger" ng-click="vm.comeBack();" ng-disabled="vm.isCommit"><span class="glyphicon glyphicon-chevron-left"></span>返回
    </button>-->
</div>
   		<!--  hidden input -->
		 <input type="hidden" ng-model="vm.suppletter.id" name="id" value="{{vm.suppletter.id}}"id="id"  >  
		<input type="hidden" ng-model="vm.suppletter.businessId" value="{{vm.suppletter.businessId}}" > 
		<!--  s table -->
		
     <!-- s form -->
    <form id="suppletter_form" name="suppletter_form">
        <!-- s table -->
        <table class="table table-bordered">
            <caption class="text-center h3"><strong>深圳市政府投资项目评审中心文件（稿纸）<br>拟补充资料函</strong></caption>
            <tbody>
            <tr>
                <td style="width:150px;" class="text-center">拟稿部门<br>拟稿人</td>
                <td>
                    {{vm.suppletter.orgName}}<br>
                    {{vm.suppletter.userName}}
                </td>

                <td style="width:150px;" class="text-center">拟稿时间</td>
                <td>
                    <input type="text" name="suppLetterTime" id="suppLetterTime"
                           style="width: 210px;text-align: center;"
                           class="form-control input-sm " kendo-date-picker k-format="'yyyy-MM-dd'"
                           ng-model="vm.suppletter.suppLetterTime"
                           data-val-date="必须为日期">
                </td>
            </tr>
            <tr>
                <td class="text-center">秘密等级</td>
                <td>
                    {{vm.suppletter.secretLevel}}
                </td>

                <td class="text-center">缓急程度</td>
                <td>
                    {{vm.suppletter.mergencyLevel}}
                </td>
            </tr>
            <tr>
                <td class="text-center">文件字号</td>
                <td colspan="3"> {{vm.suppletter.filenum}}</td>
            </tr>

            <tr>
                <td class="text-center">文件标题 <span class="required">*</span></td>
                <td colspan="3">
                    <input type="text" maxlength="200" class="form-control input-sm "
                           ng-model="vm.suppletter.title" id="title" name="title" data-val="true"
                           data-val-required="必填" placeholder="《项目名称+阶段》+评审意见">
                    <span data-valmsg-for="title" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-center">发行范围<span class="required">*</span></td>
                <td colspan="3">
                    <textarea maxlength="200" class="form-control input-sm" rows="3"
                              ng-model="vm.suppletter.dispaRange" id="dispaRange" name="dispaRange"
                              data-val="true" data-val-required="必填"/>
                    <span style="float: right;">(印<input type="text" name="printnum" ng-model="vm.suppletter.printnum"
                                                         style="width: 50px">份)</span>

                    <span data-valmsg-for="dispaRange" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>


            <tr>
                <td class="text-center">核稿意见</td>
                <td colspan="3">
                    <textarea maxlength="200" class="form-control input-sm " rows="3" ng-disabled="true"
                              ng-model="vm.suppletter.deptMinisterIdeaContent" id="deptMinisterIdeaContent"
                              name="deptMinisterIdeaContent"/>
                </td>
            </tr>

            <tr>
                <td class="text-center">会签意见</td>
                <td colspan="3">
                    <textarea maxlength="200" class="form-control input-sm " rows="5" ng-disabled="true"
                              ng-model="vm.suppletter.deptSLeaderIdeaContent" id="deptSLeaderIdeaContent"
                              name="deptSLeaderIdeaContent"/>
                </td>
            </tr>
            <tr>
                <td class="text-center">领导意见</td>
                <td colspan="3">
                    <textarea maxlength="200" class="form-control input-sm " rows="5" ng-disabled="true"
                              ng-model="vm.suppletter.deptDirectorIdeaContent" id="deptDirectorIdeaContent"
                              name="deptDirectorIdeaContent"/>
                </td>
            </tr>
            </tbody>
        </table>    <!-- end table -->

    </form>
</div>