<#assign path=request.contextPath/>
<meta charset="UTF-8">
<!--详情页-->
<div id="suppLetterDetailDiv" style="display: none;">
    <#include "/addSuppLetter/detail.html"/>
</div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li>查询统计</li>
        <li class="active">拟补充资料函查询</li>
    </ol>
    <form id="supQueryForm" name="supQueryForm" class="well well-sm">
        <!--文件类型，1表示拟补充资料函-->
        <input name="fileType" value="1" type="hidden" operator="eq"/>
        <span class="help-inline">文件标题：</span>
        <input type="text" operator="like" name="title" id="title" placeholder="请输入">

        <span class="help-inline" style="margin-left:10px;">拟稿部门：</span>
        <select name="orgName" id="orgName" operator="like">
            <option value="">请选择</option>
            <option ng-repeat="x in vm.model.org" value="{{x.name}}">{{x.name}}</option>
        </select>

        <span class="help-inline" style="margin-left:10px;">拟稿时间：</span>
        <input name="suppLetterTime" style="width:124px" kendo-date-picker k-format="'yyyy-MM-dd'" value="" type="text"
               operator="ge"/>
        至
        <input name="suppLetterTime" style="width:124px" kendo-date-picker k-format="'yyyy-MM-dd'" value="" type="text"
               operator="le"/>

        <button class="btn btn-sm btn-primary" ng-click="vm.quarySuppContent()">
            <span class="glyphicon glyphicon-search">查询</span>
        </button>
        <button class="btn btn-sm btn-primary" ng-click="vm.resetSuppContent()">
            重置
        </button>
    </form>

    <div class="grid" kendo-grid="grid" k-options="vm.queryGridOptions"></div>

</div>

