<!--S 审批处理页面 -->
<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<!-- 附件 -->
<#include "/file/common.html"/>
<div class="well well-sm" style="background:white; color: red">
<div class="toolbar">
    
    <button class="btn btn-sm btn-success" ng-click="vm.saveSuppletterApprove()" ng-disabled="vm.isCommit">
        <span class="glyphicon glyphicon-ok"></span>保存
    </button>
    <button ng-show='false'class="btn btn-sm btn-success" ng-click="vm.print()" ng-disabled="vm.isCommit">
        <span class="glyphicon glyphicon-ok"></span>打印
    </button>
    <button class="btn btn-sm btn-danger" ng-click="back();" ng-disabled="vm.isCommit"><span class="glyphicon glyphicon-chevron-left"></span>返回
    </button>
</div>
   		<!--  hidden input -->
		 <input type="hidden" ng-model="vm.suppletter.id" name="suppletter" value="{{vm.suppletter.id}}"id="suppletterId"  >  
		<input type="hidden" ng-model="vm.suppletter.signid" value="{{vm.suppletter.signid}}" > 
		<!--  s table -->
     <!-- s form -->
    <form id="suppletter_form" name="suppletter_form">
        <!-- s table -->
        <table class="table table-bordered">
            <caption class="text-center h3"><strong >深圳市政府投资项目评审中心文件（稿纸）<br>拟补充资料函</strong></caption>
            <tbody>
            <tr>
                <td style="width:150px;" class="text-center">拟稿部门<br>拟稿人</td>
                <td>
                   {{vm.suppletter.orgName}}<br>
                   {{vm.suppletter.userName}}
                </td>

                <td style="width:150px;" class="text-center">拟稿时间</td>
                <td >
                {{vm.suppletter.suppLetterTime}}
                </td>
            </tr>
            <tr>
                <td style="width:150px;" class="text-center">秘密等级</td>
                <td>
                {{vm.suppletter.secretLevel}}
                </td>

                <td style="width:150px;" class="text-center">缓急程度</td>
                <td>
                {{vm.suppletter.mergencyLevel}}
                </td>
            </tr>
            <tr>
  <!--              <td style="width:150px;" class="text-center">发文日期</td>
                <td>
                {{vm.suppletter.disapDate}}
                </td>-->

                <td style="width:150px;" class="text-center">文件字号</td>
                <td colspan="3"> {{vm.suppletter.filenum}} </td>
            </tr>

            <tr>
                <td style="width:150px;" class="text-center">文件标题 <span class="required">*</span></td>
                <td colspan="3">
                {{vm.suppletter.title}}
                </td>
            </tr>
            <tr>
                <td style="width:150px;" class="text-center">发行范围<span class="required">*</span></td>
                <td colspan="3">
                    <textarea maxlength="200" class="form-control input-sm" rows="3" ng-disabled="vm.isnotEdit"
                              ng-model="vm.suppletter.dispaRange" id="dispaRange" name="dispaRange"
                              data-val="true" data-val-required="必填" />
                    <span style="float: right;">(印<input type="text" name="printnum" ng-model="vm.suppletter.printnum" style="width: 50px">份)</span>
                </td>
            </tr>


            <tr>
                <td style="width:150px;" class="text-center">核稿意见</td>
                <td colspan="3">
                    <textarea maxlength="200" class="form-control input-sm " rows="3" ng-disabled="vm.isnotEdit"
                              ng-model="vm.suppletter.deptMinisterIdeaContent" id="deptMinisterIdeaContent" name="deptMinisterIdeaContent"/>
                </td>
            </tr>

            <tr>
                <td style="width:150px;" class="text-center">会签意见</td>
                <td colspan="3">
                    <textarea maxlength="200" class="form-control input-sm " rows="5"
                              ng-model="vm.suppletter.deptSLeaderIdeaContent" id="deptSLeaderIdeaContent"
                              name="deptSLeaderIdeaContent"/>
                </td>
            </tr>
            <tr>
                <td style="width:150px;" class="text-center">领导意见</td>
                <td colspan="3">
                    <textarea maxlength="200" class="form-control input-sm " rows="5"
                              ng-model="vm.suppletter.deptDirectorIdeaContent" id="deptDirectorIdeaContent"
                              name="deptDirectorIdeaContent"/>
                </td>
            </tr>
            </tbody>
        </table>    <!-- end table -->
    </form> <!-- end form -->
        <div ng-show='false' class="toolbar">
            <button class="btn btn-sm btn-success" ng-click="vm.addSuppContent()"><span
                    class="glyphicon glyphicon-search"></span>拟补充资料函正文
            </button>
        </div>
</div>
<!--E 审批处理页面 -->
