<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/addSuppLetter">拟补充资料函查询</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <form id="form" name="form">
    <div class="toolbar">
       <ol class="breadcrumb">
         
      	 <br>
       		 <li> <span class="help-inline">文件名称：</span>
            <input type="text" ng-model="vm.model.mrName" operator="like" name="mrName" id="mrName" placeholder="请输入">

            <span class="help-inline" style="margin-left:10px;">拟稿部门：</span>
	          <select>
	          <option>请选择</option>
	          </select>
           
            <span class="help-inline" style="margin-left:10px;">拟稿时间：</span>
            <input name="beginTime" style="width:124px" kendo-date-picker k-format="'yyyy-MM-dd'"  ng-model="vm.model.beginTime" value="" type="text" operator="and"/>
           	 至
            <input name="beginTime" style="width:124px" kendo-date-picker k-format="'yyyy-MM-dd'"  ng-model="vm.model.beginTime" value="" type="text" operator="and"/>
            </li>
             
           <button class="btn btn-sm btn-success" ng-click="vm.addSuppContent()">
            <span class="glyphicon glyphicon-search">查询</span>
            </button>
      	  
   		 </ol>
   		
        </div>
        <script type="text/template" id="columnBtns">
            <@shiro.hasPermission name="addSuppLetter##put">
            <a class="btn btn-xs btn-primary" href="#/querySuppLetterDetail/{0}"><span class="glyphicon glyphicon-pencil"></span>查看详细</a>
            </@shiro.hasPermission>
        </script>
    
        <div class="grid" kendo-grid="grid" k-options="vm.queryGridOptions"></div> 
    </form>
</div>

