<!-- 审批意见弹出框 -->
<div id="ideaWindow" class="well well-sm" style="background:white;display:none;">
    <form id="ideaForm" name="ideaForm">
        <table class="table table-bordered">
            <tr><td colspan="5">双击词语可以将其设置为当前评审意见信息</td></tr>
            <tr>
                <th width="20%">1、常用祁语</th>
                <th width="20%">2、办理部门</th>
                <th width="20%">3、办理用语</th>
                <th width="20%">4、常用词语</th>
                <th width="20%">5、标点符号</th>
            </tr>
            <tr>
                <td valign="top">
                    <ul class="list-group" style="max-height: 160px;overflow-y:scroll">
                        <li class="list-group-item" style="padding:5px 8px;" ng-repeat="x in DICT.QI_LANGUAGE.dicts" ng-dblclick="vm.addCorrentIdea(x.dictName)">{{$index+1}}、{{x.dictName}}</li>
                    </ul>
                </td>
                <td valign="top">
                    <ul class="list-group" style="max-height: 160px;overflow-y:scroll">
                        <li class="list-group-item" style="padding:5px 8px;" ng-repeat="x in DICT.TRANSACT_DEPARTMENT.dicts" ng-dblclick="vm.addCorrentIdea(x.dictName)">{{$index+1}}、{{x.dictName}}</li>
                    </ul>
                </td>
                <td valign="top">
                    <ul class="list-group" style="max-height: 160px;overflow-y:scroll">
                        <li class="list-group-item" style="padding:5px 8px;" ng-repeat="x in DICT.TRANSACT_LANGUAGE.dicts" ng-dblclick="vm.addCorrentIdea(x.dictName)">{{$index+1}}、{{x.dictName}}</li>
                    </ul>
                </td>
                <td valign="top">
                    <ul class="list-group" style="max-height: 160px;overflow-y:scroll">
                        <li class="list-group-item" style="padding:5px 8px;" ng-repeat="x in DICT.COMMON_WORDS.dicts" ng-dblclick="vm.addCorrentIdea(x.dictName)">{{$index+1}}、{{x.dictName}}</li>
                    </ul>
                </td>
                <td valign="top">
                    <ul class="list-group" style="max-height: 200px;overflow-y:scroll">
                        <li class="list-group-item" style="padding:5px 8px;" ng-repeat="x in DICT.PUNCTUATION.dicts" ng-dblclick="vm.addCorrentIdea(x.dictName)">{{$index+1}}、{{x.dictName}}</li>
                    </ul>
                </td>
            </tr>
        </table>

        <p>
            <span>个人常用意见（空意见项不保存）</span>
            <span>
                 <button ng-click="vm.addCommonIdea()" value="addCommonIdea" class="btn btn-xs btn-success">添加常用意见</button>
                 <button ng-click="vm.deleteCommonIdea()" class="btn btn-xs btn-danger" value="deleteCommonIdea">删除常用意见</button>
                 <button ng-click="vm.saveCommonIdea()" class="btn btn-xs btn-success" value="saveCommonIdea">保存</button>
                 </span>
        </p>
        <div style="max-height:200px;overflow-y: scroll;">
            <table class="table table-bordered" id="commonIdeaTable">
                <tr>
                    <td style="width: 40px;">选择</td>
                    <td>个人常用意见列表</td>
                </tr>
                <tr ng-repeat="x in vm.ideas">
                    <td style="width: 30px;"><input type="checkbox" name="{{$index}}" value="{{x.ideaID}}"/></td>
                    <td><input type="text" style="width: 90%;border:none;" ng-model="vm.ideas[$index].ideaContent" ng-dblclick="vm.addCorrentIdea(x.ideaContent)" placeholder="编辑你的意见信息！"/>
                    </td>
                </tr>
            </table>
        </div>

        <div>
            <p><strong>当前意见内容</strong>（点击确定按钮，可将当前编辑的内容设置为审批内容）
                <button class="btn btn-xs btn-success" ng-click="vm.saveCurrentIdea()">确定</button></p>
            <textarea style="width: 100%; height: 5em" ng-model="vm.ideaContent"></textarea>
        </div>
    </form>
</div>