<style>
    #proItem td{
        border-top-width: 0px;
        border-left-width: 0px;

    }
    #proTotal td{
        border-top-width: 0px;
        border-left-width: 0px;
    }
</style>
<!--  S 项目建议书-->
<!-- s table -->
<div id="sign_dispatch_xmgs_templ1">
    <table class="print-table" >
        <caption style="padding-top: 20px;">
            <span>QR-4.7-19-A2</span>
        </caption>
        <caption class="title"><p>深圳市政府投资项目评审中心</p><p>项目发文审批表</p></caption>
        <caption>
            <span style="float: left;">发文方式：{{(vm.dispatchDoc.dispatchWay==1)?"单个发文":"合并发文"}}</span>
            <span ng-if="vm.dispatchDoc.dispatchWay == 2 && vm.dispatchDoc.isMainProject==9" style="margin-left:10px;float: left;">主项目</span>
            <span ng-if="vm.dispatchDoc.dispatchWay == 2 && vm.dispatchDoc.isMainProject==0" style="margin-left:10px;float: left;">次项目</span>
            <span style="float:right;">发文类型：{{vm.dispatchDoc.dispatchType}}</span>
        </caption>
        <!-- <tr class="tr-hidden">
             <td width="16%"></td>
             <td width="10%"></td>
             <td width="10%"></td>
             <td width="12%"></td>
             <td width="12%"></td>
             <td width="15%"></td>
             <td width="14%"></td>
             <td width="11%"></td>
         </tr>-->
        <tr style="height: 50px;">
            <td rowspan="2" width="16%" class="text-center">发文部门 <br/> 拟稿人</td>
            <td colspan="2" width="20%">{{vm.dispatchDoc.orgName}}</td>
            <td rowspan="2" width="12%" class="text-center">校对人</td>
            <td rowspan="2" width="17%">{{vm.dispatchDoc.proofreadName}}</td>
            <td rowspan="2" width="15%" class="text-center">拟稿时间</td>
            <td colspan="2" rowspan="2" width="20%">{{vm.dispatchDoc.draftDate}}</td>
        </tr>
        <tr style="height: 50px;">
            <td colspan="2" style="text-align: left; padding-left: 10px;">{{vm.dispatchDoc.userName}}</td>
        </tr>
        <tr style="height: 50px;">
            <td class="text-center">秘密等级</td>
            <td colspan="2">{{vm.dispatchDoc.secretLevel}}</td>
            <td class="text-center">年底计划</td>
            <td>{{vm.dispatchDoc.yearPlan}}</td>
            <td class="text-center">急缓程度</td>
            <td colspan="2">{{vm.dispatchDoc.urgentLevel}}</td>
        </tr>
        <tr style="height: 50px;">
            <td class="text-center">发文日期</td>
            <td colspan="2">{{vm.dispatchDoc.dispatchDate}}</td>
            <td class="text-center">文件字号</td>
            <td>{{vm.dispatchDoc.fileNum}}</td>
            <td class="text-center">是否有其他阶段关联</td>
            <td colspan="2">
                <input type="checkbox"   ng-true-value="9" ng-false-value="0" ng-model="vm.dispatchDoc.isRelated"
                       ng-checked="vm.dispatchDoc.isRelated==9 || vm.dispatchDoc.isRelated=='9'" name="isRelated"/>是
                <input type="checkbox"   ng-true-value="0" ng-false-value="9" ng-model="vm.dispatchDoc.isRelated"
                       ng-checked="!vm.dispatchDoc.isRelated || vm.dispatchDoc.isRelated==0 || vm.dispatchDoc.isRelated=='0'" name="isRelated"/>否
            </td>
        </tr>
        <tr style="height: 50px;">
            <td class="text-center">文件标题</td>
            <td colspan="7" >{{vm.dispatchDoc.fileTitle}}</td>
        </tr>
        <tr>
            <td class="text-center">发行范围</td>
            <td colspan="7"  >
                <div style="width: 100%; height: 60px; overflow: hidden;">
                    <div style="height: 60% ; width: 100%;">{{vm.dispatchDoc.description}}</div>
                    <span style="float: right;">(印 {{vm.dispatchDoc.printCount}} 份)</span></div>
            </td>
        </tr>

        <tr style="height: 50px;">
            <td class="text-center">是否协审</td>
            <td width="10%">
                <input type="checkbox"   ng-true-value="9" ng-false-value="0"
                       ng-checked="vm.model.isassistproc && (vm.model.isassistproc==9 || vvm.model.signDto.isassistproc=='9')"/>
            </td>
            <td width="10%" class="text-center">协审单位</td>
            <td colspan="2" width="24%">{{vm.assistPlanSign.unitNameStr}}</td>
            <td class="text-center">协审金额</td>
            <td colspan="2">{{vm.assistPlanSign.assistCost}}</td>
        </tr>

        <tr>
            <td class="text-center">相关说明</td>
            <td colspan="7" >
                <div style="width: 100%; height: 60px; overflow: hidden;">{{vm.dispatchDoc.description}}</div>
            </td>
        </tr>
        <tr>
            <td class="text-center">评审意见摘要</td>
            <td colspan="7">
                <div style="width: 100%; height: 60px; overflow: hidden;">{{vm.dispatchDoc.reviewAbstract}}</div>
            </td>
        </tr>
        <tr>
            <td class="text-center">部长审核意见</td>
            <td colspan="7" >
                <div class="signName" style="height: 130px;">
                    <div  style="height: 45%;text-align: left;text-indent: 2em;overflow: hidden;">
                        {{vm.dispatchDoc.ministerSuggesttion}}</div>
                    <p class="nameDate">签名：</p>
                    <p class="nameDate">日期：{{vm.dispatchDoc.ministerDate}}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-center">分管副主任意见</td>
            <td colspan="7">
                <div class="signName" style="height: 130px;">
                    <div  style="height: 45%;text-align: left;text-indent: 2em;overflow: hidden;">
                        {{vm.dispatchDoc.viceDirectorSuggesttion}}</div>
                    <p class="nameDate">签名：</p>
                    <p class="nameDate">日期：{{vm.dispatchDoc.viceDirectorDate}}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-center">主任签发</td>
            <td colspan="7">
                <div class="signName" style="height: 130px;">
                    <div  style="height: 45%;text-align: left;text-indent: 2em;overflow: hidden;">
                        {{vm.dispatchDoc.directorSuggesttion}}</div>
                    <p class="nameDate">签名：</p>
                    <p class="nameDate">日期：{{vm.dispatchDoc.directorDate}}</p>
                </div>
            </td>
        </tr>
    </table></div>
<div id="sign_dispatch_xmgs_templ2">
    <table class="print-table"  >
        <!--<tr class="tr-hidden">
            <td width="16%"></td>
            <td width="10%"></td>
            <td width="10%"></td>
            <td width="12%"></td>
            <td width="12%"></td>
            <td width="15%"></td>
            <td width="14%"></td>
            <td width="11%"></td>
        </tr>-->
        <tr>
            <td width="16%" class="text-center">项目概况</td>
            <td colspan="7"  style="padding:0; width: 84%;">
                <!--前一阶段-->
                <table cellspacing="0">
                    <tr >
                        <td  width="22%" style="border-left: none;border-top: none;">项目建议书</td>
                        <td  width="10%" style="border-left: none;border-top: none;">申报</td>
                        <td  width="10%" style="border-left: none;border-top: none;">审定</td>
                        <td  width="18%" style="border-left: none;border-top: none;">核减（增）</td>
                        <td  width="20%" style="border-left: none;border-top: none;">核减（增）率</td>
                        <td  width="10%" style="border-left: none;border-top: none;">批复金额</td>
                        <td  width="10%" style="border-left: none;border-top: none;border-right: none;">备注</td>
                    </tr>
                    <tr>
                        <td  style="border-left: none;border-top: none;">投资额（万元）</td>
                        <td style="border-left: none;border-top: none;">{{vm.workProgramXmjys.declareValue ? vm.workProgramXmjys.declareValue : '&nbsp;' }}</td>
                        <td style="border-left: none;border-top: none;">{{vm.workProgramXmjys.authorizeValue ? vm.workProgramXmjys.authorizeValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;">{{vm.workProgramXmjys.extraValue ? vm.workProgramXmjys.extraValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;">{{vm.workProgramXmjys.extraRate ? vm.workProgramXmjys.extraRate : '&nbsp;'}}<span>%</span></td>
                        <td style="border-left: none;border-top: none;">{{vm.workProgramXmjys.approveValue ? vm.workProgramXmjys.approveValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;border-right: none;">{{vm.workProgramXmjys.remark ? vm.workProgramXmjys.remark : '&nbsp;'}}</td>
                    </tr>
                    <tr>
                        <td style="border-left: none;border-top: none;">项目建设必要性</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 55px; overflow: hidden;">
                                {{vm.workProgramXmjys.projectBuildNecess}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-left: none;border-top: none;">审定建设规模及内容</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 55px; overflow: hidden;">
                                {{vm.workProgramXmjys.buildSizeContent}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="border-left: none;border-top: none;">投资匡算及资金来源</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 55px; overflow: hidden;">
                                {{vm.workProgramXmjys.fundTotalOrigin}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="border-left: none;border-top: none;">下一阶段工作要求</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 55px; overflow: hidden;">
                                {{vm.workProgramXmjys.nextWorkPlan}}
                            </div>
                        </td>
                    </tr>
                </table>
                <table cellspacing="0">
                    <tr >
                        <td  width="22%" style="border-left: none;border-top: none;">可行性研究报告</td>
                        <td  width="10%" style="border-left: none;border-top: none;">申报</td>
                        <td  width="10%" style="border-left: none;border-top: none;">审定</td>
                        <td  width="18%" style="border-left: none;border-top: none;">核减（增）</td>
                        <td  width="20%" style="border-left: none;border-top: none;">核减（增）率</td>
                        <td  width="10%" style="border-left: none;border-top: none;">批复金额</td>
                        <td style="border-left: none;border-top: none;border-right: none;" width="10%">备注</td>
                    </tr>
                    <tr>
                        <td  style="border-left: none;border-top: none;">投资额（万元）</td>
                        <td style="border-left: none;border-top: none;">{{vm.workProgramKxxyj.declareValue ? vm.workProgramKxxyj.declareValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;">{{vm.workProgramKxxyj.authorizeValue ? vm.workProgramKxxyj.authorizeValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;">{{vm.workProgramKxxyj.extraValue ? vm.workProgramKxxyj.extraValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;">{{vm.workProgramKxxyj.extraRate ? vm.workProgramKxxyj.extraRate : '&nbsp;'}}<span>%</span></td>
                        <td style="border-left: none;border-top: none;">{{vm.workProgramKxxyj.approveValue ? vm.workProgramKxxyj.approveValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;border-right: none;">{{vm.workProgramKxxyj.remark ? vm.workProgramKxxyj.remark : '&nbsp;'}}</td>
                    </tr>
                    <tr>
                        <td style="border-left: none;border-top: none;">项目建设必要性</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 55px; overflow: hidden;">
                                {{vm.workProgramKxxyj.projectBuildNecess}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-left: none;border-top: none;">审定建设规模及内容</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 55px; overflow: hidden;">
                                {{vm.workProgramKxxyj.buildSizeContent}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="border-left: none;border-top: none;">投资匡算及资金来源</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 55px; overflow: hidden;">
                                {{vm.workProgramKxxyj.fundTotalOrigin}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="border-left: none;border-top: none;">下一阶段工作要求</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 55px; overflow: hidden;">
                                {{vm.workProgramKxxyj.nextWorkPlan}}
                            </div>
                        </td>
                    </tr>
                </table>
                <table cellspacing="0" ng-if="vm.model.ischangeEstimate && (vm.model.ischangeEstimate == 9 ||vm.model.ischangeEstimate == '9')">
                    <tr >
                        <td  width="22%" style="border-left: none;border-top: none;">项目概算</td>
                        <td  width="10%" style="border-left: none;border-top: none;">申报</td>
                        <td  width="10%" style="border-left: none;border-top: none;">审定</td>
                        <td  width="18%" style="border-left: none;border-top: none;">核减（增）</td>
                        <td  width="20%" style="border-left: none;border-top: none;">核减（增）率</td>
                        <td  width="10%" style="border-left: none;border-top: none;">批复金额</td>
                        <td style="border-left: none;border-top: none;border-right: none;" width="10%">备注</td>
                    </tr>
                    <tr>
                        <td  style="border-left: none;border-top: none;">投资额（万元）</td>
                        <td style="border-left: none;border-top: none;">{{vm.workProgramXmgs.declareValue ? vm.workProgramXmgs.declareValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;">{{vm.workProgramXmgs.authorizeValue ? vm.workProgramXmgs.authorizeValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;">{{vm.workProgramXmgs.extraValue ? vm.workProgramXmgs.extraValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;">{{vm.workProgramXmgs.extraRate ? vm.workProgramXmgs.extraRate : '&nbsp;'}}<span>%</span></td>
                        <td style="border-left: none;border-top: none;">{{vm.workProgramXmgs.approveValue ? vm.workProgramXmgs.approveValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;border-right: none;">{{vm.workProgramXmgs.remark ? vm.workProgramXmgs.remark : '&nbsp;'}}</td>
                    </tr>
                    <tr>
                        <td style="border-left: none;border-top: none;">项目建设必要性</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 55px; overflow: hidden;">
                                {{vm.workProgramXmgs.projectBuildNecess}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-left: none;border-top: none;">审定建设规模及内容</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 55px; overflow: hidden;">
                                {{vm.workProgramXmgs.buildSizeContent}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="border-left: none;border-top: none;">投资匡算及资金来源</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 55px; overflow: hidden;">
                                {{vm.workProgramXmgs.fundTotalOrigin}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="border-left: none;border-top: none;">下一阶段工作要求</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 55px; overflow: hidden;">
                                {{vm.workProgramXmgs.nextWorkPlan}}
                            </div>
                        </td>
                    </tr>
                </table>
                <!--判断是否是调概-->
                <table cellspacing="0" style="text-align: center;width: 100%; " ng-if="!vm.model.ischangeEstimate || vm.model.ischangeEstimate != 9 ||vm.model.ischangeEstimate != '9' ">
                    <tr id="proTotal">
                        <td width="22%" style="border-left: none;border-top: none;">{{vm.model.reviewstage ? vm.model.reviewstage : vm.sign.reviewstage}}</td>
                        <td width="10%" style="border-left: none;border-top: none;">申报</td>
                        <td width="10%" style="border-left: none;border-top: none;">审定</td>
                        <td width="18%" style="border-left: none;border-top: none;">核减（增）</td>
                        <td width="20%" style="border-left: none;border-top: none;">核减（增）率</td>
                        <td width="10%" style="border-left: none;border-top: none;">批复金额</td>
                        <td style="border-left: none;border-top: none;border-right: none;" width="10%">备注</td>
                    </tr>

                    <tr>
                        <td style="border-left: none;border-top: none;">投资额（万元）</td>
                        <td style="border-left: none;border-top: none;">{{vm.dispatchDoc.declareValue ? vm.dispatchDoc.declareValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;">{{vm.dispatchDoc.authorizeValue ? vm.dispatchDoc.authorizeValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;">{{vm.dispatchDoc.extraValue ? vm.dispatchDoc.extraValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;">{{vm.dispatchDoc.extraRate ? vm.dispatchDoc.extraRate : '&nbsp;'}}<span>%</span></td>
                        <td style="border-left: none;border-top: none;">{{vm.dispatchDoc.approveValue ? vm.dispatchDoc.approveValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;border-right: none;">{{vm.dispatchDoc.remark ? vm.dispatchDoc.remark : '&nbsp;'}}</td>
                    </tr>

                    <tr>
                        <td style="border-left: none;border-top: none;">项目建设必要性</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 55px; overflow: hidden;">
                                {{vm.dispatchDoc.projectBuildNecess}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="border-left: none;border-top: none;">审定建设规模及内容</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 55px; overflow: hidden;;">
                                {{vm.dispatchDoc.buildSizeContent}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="border-left: none;border-top: none;">投资匡算及资金来源</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 55px; overflow: hidden;">
                                {{vm.dispatchDoc.fundTotalOrigin}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="border-left: none;border-top: none;border-bottom: none;">下一阶段工作要求</td>
                        <td  colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;border-bottom: none;">
                            <div style="width: 100%; height: 55px; overflow: hidden;">
                                {{vm.dispatchDoc.nextWorkPlan}}
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table></div>

<div id="sign_dispatch_xmgs_templ3"
     ng-if="vm.model.ischangeEstimate && (vm.model.ischangeEstimate == 9 ||vm.model.ischangeEstimate == '9') ">
    <table  class="print-table">
        <tr>
            <td width="16%" class="text-center">项目概况</td>
            <td colspan="7"  style="padding:0; width: 84%;">
                <table cellspacing="0">
                    <tr  style="height: 50px;">
                        <td width="22%" style="border-left: none;border-top: none;">{{vm.model.reviewstage ? vm.model.reviewstage : vm.sign.reviewstage}}</td>
                        <td width="10%" style="border-left: none;border-top: none;">申报</td>
                        <td width="10%" style="border-left: none;border-top: none;">审定</td>
                        <td width="18%" style="border-left: none;border-top: none;">核减（增）</td>
                        <td width="20%" style="border-left: none;border-top: none;">核减（增）率</td>
                        <td width="10%" style="border-left: none;border-top: none;">批复金额</td>
                        <td style="border-left: none;border-top: none;border-right: none;" width="10%">备注</td>
                    </tr>

                    <tr style="height: 50px;">
                        <td style="border-left: none;border-top: none;">投资额（万元）</td>
                        <td style="border-left: none;border-top: none;">{{vm.dispatchDoc.declareValue ? vm.dispatchDoc.declareValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;">{{vm.dispatchDoc.authorizeValue ? vm.dispatchDoc.authorizeValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;">{{vm.dispatchDoc.extraValue ? vm.dispatchDoc.extraValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;">{{vm.dispatchDoc.extraRate ? vm.dispatchDoc.extraRate : '&nbsp;'}}<span> %</span></td>
                        <td style="border-left: none;border-top: none;">{{vm.dispatchDoc.approveValue ? vm.dispatchDoc.approveValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;border-right: none;">{{vm.dispatchDoc.remark ? vm.dispatchDoc.remark : '&nbsp;'}}</td>
                    </tr>

                    <tr>
                        <td style="border-left: none;border-top: none;">项目建设必要性</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 150px; overflow: hidden;">
                                {{vm.dispatchDoc.projectBuildNecess}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="border-left: none;border-top: none;">审定建设规模及内容</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 150px; overflow: hidden;">
                                {{vm.dispatchDoc.buildSizeContent}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="border-left: none;border-top: none;">投资匡算及资金来源</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 200px; overflow: hidden;">
                                {{vm.dispatchDoc.fundTotalOrigin}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="border-left: none;border-top: none;border-bottom: none;">下一阶段工作要求</td>
                        <td  colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;border-bottom: none;">
                            <div style="width: 100%; height: 150px; overflow: hidden;">
                                {{vm.dispatchDoc.nextWorkPlan}}
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

</div>
<!-- end table -->
<!--  E 项目建议书-->