<!--  S 可行性研究报告-->
<style>
    .proItem td {
        border-top-width: 0px;
        border-left-width: 0px;

    }

    .proTotal td {
        border-top-width: 0px;
        border-left-width: 0px;
    }
</style>
<!-- s table -->
<div id="sign_dispatch_kxxyj_templ1">
    <table class="print-table">
        <caption>
            <span>QR-4.4-08-A3</span>
        </caption>
        <caption class="title"><p>{{getSysAccreditUnit()}}</p>
            <p>项目发文审批表</p></caption>
        <caption>
            <span style="float: left;padding: 0 10px;">发文方式：{{(vm.dispatchDoc.dispatchWay==1)?"单个发文":"合并发文"}}</span>
            <span ng-if="vm.dispatchDoc.dispatchWay == 2 && vm.dispatchDoc.isMainProject==9" style="margin-left:10px;float: left;">主项目</span>
            <span ng-if="vm.dispatchDoc.dispatchWay == 2 && vm.dispatchDoc.isMainProject==0" style="margin-left:10px;float: left;">次项目</span>
            <span style="float:right;padding: 0 10px;">发文类型：{{vm.dispatchDoc.dispatchType}}</span>
        </caption>
        <!--<tr class="tr-hidden">
            <td width="16%"></td>
            <td width="10%"></td>
            <td width="10%"></td>
            <td width="12%"></td>
            <td width="14%"></td>
            <td width="14%"></td>
            <td width="12%"></td>
            <td width="12%"></td>
        </tr>-->
        <tr style="height: 50px;">
            <td width="16%"  class="text-center">文件标题</td>
            <td colspan="7" width="84%">{{vm.dispatchDoc.fileTitle}}</td>
        </tr>
        <tr style="height: 50px;">
            <td  class="text-center">发文部门</td>
            <td colspan="2" width="20%">{{vm.dispatchDoc.orgName}}</td>
            <td width="12%"  class="text-center">发文日期</td>
            <td width="14%">{{vm.dispatchDoc.dispatchDate}}</td>
            <td width="14%"  class="text-center">文号</td>
            <td colspan="2" width="24%">{{vm.dispatchDoc.fileNum}}</td>
        </tr>
        <tr style="height: 50px;">
            <td  class="text-center">秘密等级</td>
            <td colspan="2">{{vm.dispatchDoc.secretLevel}}</td>
            <td  class="text-center">紧急程度</td>
            <td>{{vm.dispatchDoc.urgentLevel}}</td>
            <td  class="text-center">是否有其他阶段关联</td>
            <td colspan="2">
                <input type="checkbox"   ng-true-value="9" ng-false-value="0"
                       ng-model="vm.dispatchDoc.isRelated"
                       ng-checked="vm.dispatchDoc.isRelated==9 || vm.dispatchDoc.isRelated=='9'" name="isRelated"/>是
                <input type="checkbox"   ng-true-value="0" ng-false-value="9"
                       ng-model="vm.dispatchDoc.isRelated"
                       ng-checked="!vm.dispatchDoc.isRelated || vm.dispatchDoc.isRelated==0 || vm.dispatchDoc.isRelated=='0'"
                       name="isRelated"/>否
            </td>
        </tr>
        <tr>
            <td  class="text-center">发行范围</td>
            <td colspan="7">
                <div style="width: 100%; height: 60px; overflow: hidden;">
                    <div style="height: 60%; overflow: hidden;">{{vm.dispatchDoc.dispatchScope}}</div>
                    <span style="float: right; ">(印 {{vm.dispatchDoc.printCount}} 份)</span>
                </div>
            </td>
        </tr>
        <tr>
            <td  class="text-center">相关说明</td>
            <td colspan="7">
                <div style="width: 100%; height: 60px; overflow: hidden;"></div>
            </td>
        </tr>
        <tr>
            <td  class="text-center">评审意见摘要</td>
            <td colspan="7">
                <div style="width: 100%; height: 60px; overflow: hidden;">{{vm.dispatchDoc.reviewAbstract}}</div>
            </td>
        </tr>
        <tr>
            <td  class="text-center">项目负责人<br/>拟稿意见</td>
            <td colspan="4">
                <div style="width: 100% ; height: 100px; overflow: hidden;">
                    <span >第一负责人意见：</span>
                    <div ng-bind-html="vm.dispatchDoc.mianChargeSuggest | trust2Html"></div>
                </div>
            </td>
            <td colspan="3">
                <div style="width: 100% ; height: 100px; overflow: hidden;">
                    <span >第二负责人意见：</span>
                    <div ng-bind-html="vm.dispatchDoc.secondChargeSuggest | trust2Html"></div>
                </div>
            </td>
        </tr>

        <tr>
            <td  class="text-center">部长审核意见</td>
            <td colspan="7">
                <div class="signName" style="height: 150px;">
                    <div style="height: 50%;text-align: left;text-indent: 2em;overflow: hidden;">
                        {{vm.dispatchDoc.ministerSuggesttion}}
                    </div>
                    <p class="nameDate">签名：</p>
                    <p class="nameDate">日期：{{vm.dispatchDoc.ministerDate}}</p>
                </div>
            </td>
        </tr>
        <tr>
            <td  class="text-center">分管副主任意见</td>
            <td colspan="7">
                <div class="signName" style="height: 150px;">
                    <div style="height: 50%;text-align: left;text-indent: 2em;overflow: hidden;">
                        {{vm.dispatchDoc.viceDirectorSuggesttion}}
                    </div>
                    <p class="nameDate">签名：</p>
                    <p class="nameDate">日期：{{vm.dispatchDoc.viceDirectorDate}}</p>
                </div>
            </td>
        </tr>

        <tr>
            <td  class="text-center">主任签发</td>
            <td colspan="7">
                <div class="signName" style="height: 150px;">
                    <div style="height: 50%;text-align: left;text-indent: 2em;overflow: hidden;">
                        {{vm.dispatchDoc.directorSuggesttion}}
                    </div>
                    <p class="nameDate">签名：</p>
                    <p class="nameDate">日期：{{vm.dispatchDoc.directorDate}}</p>
                </div>
            </td>
        </tr>
    </table>
</div>
<div id="sign_dispatch_kxxyj_templ2">
    <table class="print-table">
        <!-- <tr class="tr-hidden">
             <td width="16%"></td>
             <td width="10%"></td>
             <td width="10%"></td>
             <td width="12%"></td>
             <td width="14%"></td>
             <td width="14%"></td>
             <td width="12%"></td>
             <td width="12%"></td>
         </tr>-->
        <tr>
            <td width="16%"  class="text-center">项目概况</td>
            <td colspan="7" style="padding:0 ; width: 84%;">
                <table ng-repeat=" s in vm.model.associateSignDtoList.slice().reverse() | limitTo : 1"
                       ng-if="s.reviewstage == '项目建议书'" cellspacing="0">
                    <tr >
                        <td width="22%" style="border-left: none;border-top: none;">{{s.reviewstage}}</td>
                        <td width="10%" style="border-left: none;border-top: none;">申报</td>
                        <td width="10%" style="border-left: none;border-top: none;">审定</td>
                        <td width="16%" style="border-left: none;border-top: none;">核减（增）</td>
                        <td width="18%" style="border-left: none;border-top: none;">核减（增）率</td>
                        <td width="14%" style="border-left: none;border-top: none;">批复金额</td>
                        <td width="10%" style="border-left: none;border-top: none; border-right: none;">备注</td>
                    </tr>
                    <tr>
                        <td style="border-left: none;border-top: none;">投资额（万元）</td>
                        <td style="border-left: none;border-top: none;">{{s.dispatchDocDto.declareValue ? s.dispatchDocDto.declareValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;">{{s.dispatchDocDto.authorizeValue ? s.dispatchDocDto.authorizeValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;">{{s.dispatchDocDto.extraValue ? s.dispatchDocDto.extraValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;">{{s.dispatchDocDto.extraRate ? s.dispatchDocDto.extraRate : '&nbsp;'}}<span> %</span></td>
                        <td style="border-left: none;border-top: none;">{{s.dispatchDocDto.approveValue ? s.dispatchDocDto.approveValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;border-right: none;">{{s.dispatchDocDto.remark ? s.dispatchDocDto.remark : '&nbsp;'}}</td>
                    </tr>
                    <tr>
                        <td style="border-left: none;border-top: none;">项目建设必要性</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 100px; overflow: hidden;">
                                {{s.dispatchDocDto.projectBuildNecess}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-left: none;border-top: none;">审定建设规模及内容</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 100px; overflow: hidden;">
                                {{s.dispatchDocDto.buildSizeContent}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="border-left: none;border-top: none;">投资匡算及资金来源</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 100px; overflow: hidden;">
                                {{s.dispatchDocDto.fundTotalOrigin}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="border-left: none;border-top: none;">下一阶段工作要求</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 100px; overflow: hidden;">
                                {{s.dispatchDocDto.nextWorkPlan}}
                            </div>
                        </td>
                    </tr>
                </table>
                <table cellspacing="0" ng-if=" !(vm.model.associateSignDtoList.slice().reverse()) || vm.model.associateSignDtoList.slice().reverse().length <= 0">
                    <tr >
                        <td width="22%" style="border-left: none;border-top: none;">项目建议书</td>
                        <td width="10%" style="border-left: none;border-top: none;">申报</td>
                        <td width="10%" style="border-left: none;border-top: none;">审定</td>
                        <td width="16%" style="border-left: none;border-top: none;">核减（增）</td>
                        <td width="18%" style="border-left: none;border-top: none;">核减（增）率</td>
                        <td width="14%" style="border-left: none;border-top: none;">批复金额</td>
                        <td width="10%" style="border-left: none;border-top: none; border-right: none;">备注</td>
                    </tr>
                    <tr>
                        <td style="border-left: none;border-top: none;">投资额（万元）</td>
                        <td style="border-left: none;border-top: none;">&nbsp;</td>
                        <td style="border-left: none;border-top: none;">&nbsp;</td>
                        <td style="border-left: none;border-top: none;">&nbsp;</td>
                        <td style="border-left: none;border-top: none;">&nbsp;<span> %</span></td>
                        <td style="border-left: none;border-top: none;">&nbsp;</td>
                        <td style="border-left: none;border-top: none;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="border-left: none;border-top: none;">项目建设必要性</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 100px; overflow: hidden;">

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-left: none;border-top: none;">审定建设规模及内容</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 100px; overflow: hidden;">

                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="border-left: none;border-top: none;">投资匡算及资金来源</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 100px; overflow: hidden;">

                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="border-left: none;border-top: none;">下一阶段工作要求</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 100px; overflow: hidden;">

                            </div>
                        </td>
                    </tr>
                </table>
                <table style="text-align: center;width: 100%;" cellspacing="0">
                    <tr >
                        <td width="22%" style="border-left: none;border-top: none;">{{vm.model.reviewstage ? vm.model.reviewstage : vm.sign.reviewstage}}</td>
                        <td width="10%" style="border-left: none;border-top: none;">申报</td>
                        <td width="10%" style="border-left: none;border-top: none;">审定</td>
                        <td width="16%" style="border-left: none;border-top: none;">核减（增）</td>
                        <td width="18%" style="border-left: none;border-top: none;">核减（增）率</td>
                        <td width="14%" style="border-left: none;border-top: none;">批复金额</td>
                        <td style="border-left: none;border-top: none;border-right: none;" width="10%">备注</td>
                    </tr>
                    <tr>
                        <td style="border-left: none;border-top: none;">投资额（万元）</td>
                        <td style="border-left: none;border-top: none;">{{vm.dispatchDoc.declareValue ? vm.dispatchDoc.declareValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;">{{vm.dispatchDoc.authorizeValue ? vm.dispatchDoc.authorizeValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;">{{vm.dispatchDoc.extraValue ? vm.dispatchDoc.extraValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;">{{vm.dispatchDoc.extraRate ? vm.dispatchDoc.extraRate : '&nbsp;'}}<span> %</span></td>
                        <td style="border-left: none;border-top: none;">{{vm.dispatchDoc.approveValue ? vm.dispatchDoc.approveValue : '&nbsp;'}}</td>
                        <td style="border-left: none;border-top: none;">{{vm.dispatchDoc.remark ? vm.dispatchDoc.remark : '&nbsp;'}}</td>
                    </tr>
                    <tr>
                        <td style="border-left: none;border-top: none;">项目建设必要性</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 100px; overflow: hidden;">
                                {{vm.dispatchDoc.projectBuildNecess}}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-left: none;border-top: none;">审定建设规模及内容</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 100px; overflow: hidden;">
                                {{vm.dispatchDoc.buildSizeContent}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="border-left: none;border-top: none;">投资匡算及资金来源</td>
                        <td colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;">
                            <div style="width: 100%; height: 100px; overflow: hidden;">
                                {{vm.dispatchDoc.fundTotalOrigin}}
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td style="border-left: none;border-top: none;border-bottom: none;">下一阶段工作要求</td>
                        <td  colspan="6" class="text-left" style="border-left: none;border-top: none;border-right: none;border-bottom: none;">
                            <div style="width: 100%; height: 100px; overflow: hidden;">
                                {{vm.dispatchDoc.nextWorkPlan}}
                            </div>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
        </tbody>
    </table>
</div>   <!-- end table -->
<!--  E 可行性研究报告-->