<table class="print-table">
    <caption style="padding-top: 20px;">
        <span >QR-4.9-09-A0</span>
    </caption>
    <caption class="title"><p>深圳市政府投资项目评审中心</p><p>项目发文审批表</p></caption>
    <caption>
        <span style="margin-left:10px;">发文方式：{{(vm.dispatchDoc.dispatchWay==1)?"单个发文":"合并发文"}}</span>
        <span ng-show="vm.dispatchDoc.dispatchWay == 2 && vm.dispatchDoc.isMainProject==9" style="margin-left:10px;">主项目</span>
        <span ng-show="vm.dispatchDoc.dispatchWay == 2 && vm.dispatchDoc.isMainProject==0" style="margin-left:10px;">次项目</span>
        <span style="float:right;">发文类型：{{vm.dispatchDoc.dispatchType}}</span>
    </caption>
    <tbody>
    <tr class="tr-hidden">
        <td width="16%"></td>
        <td width="12%"></td>
        <td width="12%"></td>
        <td width="12%"></td>
        <td width="12%"></td>
        <td width="12%"></td>
        <td width="12%"></td>
        <td width="12%"></td>
    </tr>
    <tr>
        <td rowspan="2">发文部门 <br/> 拟稿人</td>
        <td colspan="2" class="text-center">{{vm.dispatchDoc.orgName}}</td>
        <td rowspan="2">校对人</td>
        <td rowspan="2">{{vm.dispatchDoc.proofreadName}}</td>
        <td rowspan="2">拟稿时间</td>
        <td colspan="2" rowspan="2">{{vm.dispatchDoc.draftDate}}</td>
    </tr>
    <tr>
        <td colspan="2" class="text-center">{{vm.dispatchDoc.userName}}</td>
    </tr>

    <tr>
        <td>发文日期</td>
        <td colspan="2">{{vm.dispatchDoc.dispatchDate}}</td>
        <td>文字号</td>
        <td>{{vm.dispatchDoc.dispatchDate}}</td>
        <td>紧急程度</td>
        <td colspan="2">{{vm.dispatchDoc.urgentLevel}}</td>
    </tr>
    <tr>
        <td height="50">文件标题</td>
        <td colspan="7">{{vm.dispatchDoc.fileTitle}}</td>
    </tr>

    <tr>
        <td height="80">发行范围</td>
        <td colspan="7" >{{vm.dispatchDoc.description}} <br/>
            <span style="float: right;">(印 {{vm.dispatchDoc.printCount}} 份)</span></td>
    </tr>

    <tr>
        <td height="150px;">项目概况</td>
        <td  colspan="7">{{vm.dispatchDoc.projectSurvey}}</td>
    </tr>
    <tr>
        <td height="100">评审意见摘要</td>
        <td colspan="7">{{vm.dispatchDoc.reviewAbstract}}</td>
    </tr>
    <tr>
        <td height="80">部长审核意见</td>
        <td colspan="7" >
            <p class="text-left">{{vm.dispatchDoc.ministerSuggesttion}}</p>
            <p class="text-right" style="margin-right: 100px;margin-top: 20px;">签名：</p>
            <p class="text-right" style="margin-right: 100px;margin-top: 5px;">日期：</p>
        </td>
    </tr>
    <tr>
        <td height="80">分管副主任意见</td>
        <td colspan="7">
            <p class="text-left">{{vm.dispatchDoc.viceDirectorSuggesttion}}</p>
            <p class="text-right" style="margin-right: 100px;margin-top: 20px;">签名：</p>
            <p class="text-right" style="margin-right: 100px;margin-top: 5px;">日期：</p>
        </td>
    </tr>

    <tr>
        <td height="80">主任签发</td>
        <td colspan="7">
            <p class="text-left">{{vm.dispatchDoc.directorSuggesttion}}</p>
            <p class="text-right" style="margin-right: 100px;margin-top: 20px;">签名：</p>
            <p class="text-right" style="margin-right: 100px;margin-top: 5px;">日期：</p>
        </td>
    </tr>
    </tbody>
</table>    <!-- end table -->