<!--  S 可行性研究报告-->
<style>
    #proItem td{
        border-top-width: 0px;
        border-left-width: 0px;

    }
    #proTotal td{
        border-top-width: 0px;
        border-left-width: 0px;
    }
</style>
<!-- s table -->
<table class="print-table">
    <caption style="padding-top: 5px;">
        <span >QR-4.4-08-A3</span>
    </caption>
    <caption class="title"><p>深圳市政府投资项目评审中心</p><p>项目发文审批表</p></caption>
    <caption>
        <span style="margin-left:10px;">发文方式：{{(vm.dispatchDoc.dispatchWay==1)?"单个发文":"合并发文"}}</span>
        <span ng-show="vm.dispatchDoc.dispatchWay == 2 && vm.dispatchDoc.isMainProject==9" style="margin-left:10px;">主项目</span>
        <span ng-show="vm.dispatchDoc.dispatchWay == 2 && vm.dispatchDoc.isMainProject==0" style="margin-left:10px;">次项目</span>
        <span style="float:right;">发文类型：{{vm.dispatchDoc.dispatchType}}</span>
    </caption>
    <tbody>
    <tr class="tr-hidden">
        <td width="16%"></td>
        <td width="12%"></td>
        <td width="12%"></td>
        <td width="12%"></td>
        <td width="12%"></td>
        <td width="12%"></td>
        <td width="12%"></td>
        <td width="12%"></td>
    </tr>
    <tr>
        <td height="50">文件标题</td>
        <td colspan="7">{{vm.dispatchDoc.fileTitle}}</td>
    </tr>
    <tr>
        <td>发文部门</td>
        <td colspan="2">{{vm.dispatchDoc.orgName}}</td>
        <td>发文日期</td>
        <td>{{vm.dispatchDoc.dispatchDate}}</td>
        <td>文号</td>
        <td colspan="2">{{vm.dispatchDoc.fileNum}}</td>
    </tr>
    <tr>
        <td>秘密等级</td>
        <td colspan="2">{{vm.dispatchDoc.secretLevel}}</td>
        <td>紧急程度</td>
        <td>{{vm.dispatchDoc.urgentLevel}}</td>
        <td>是否有其他阶段关联</td>
        <td colspan="2">
            <input type="checkbox" ng-disabled="true" ng-true-value="9" ng-false-value="0" ng-model="vm.dispatchDoc.isRelated"
                   ng-checked="vm.dispatchDoc.isRelated==9 || vm.dispatchDoc.isRelated=='9'" name="isRelated"/>是
            <input type="checkbox" ng-disabled="true" ng-true-value="0" ng-false-value="9" ng-model="vm.dispatchDoc.isRelated"
                   ng-checked="!vm.dispatchDoc.isRelated || vm.dispatchDoc.isRelated==0 || vm.dispatchDoc.isRelated=='0'" name="isRelated"/>否
        </td>
    </tr>
    <tr>
        <td height="100">发行范围</td>
        <td colspan="7">{{vm.dispatchDoc.dispatchScope}} <br/>
            <span style="float: right;">(印 {{vm.dispatchDoc.printCount}} 份)</span>
        </td>
    </tr>
    <tr>
        <td height="120">相关说明</td>
        <td colspan="7" >{{vm.dispatchDoc.description}}</td>
    </tr>
    <tr>
        <td height="150px">项目负责人拟稿意见</td>
        <td colspan="4">
            第一负责人意见：
            <div ng-bind-html="vm.dispatchDoc.mianChargeSuggest | trust2Html"></div>
        </td>
        <td colspan="3">
            第二负责人意见：
            <div ng-bind-html="vm.dispatchDoc.secondChargeSuggest | trust2Html"></div>
        </td>
    </tr>
    <tr>
        <td height="100">评审意见摘要</td>
        <td colspan="7">{{vm.dispatchDoc.reviewAbstract}}</td>
    </tr>
    <tr>
        <td height="100">部长审核意见</td>
        <td colspan="7" style="min-height: 30px;">
            <p> {{vm.dispatchDoc.ministerSuggesttion}}</p>
            <p class="text-right" style="margin-right: 80px; margin-top: 20px;">签名：</p>
            <p class="text-right" style="margin-right: 12px; margin-top: 5px;">日期：{{vm.dispatchDoc.ministerDate}}</p>
        </td>
    </tr>
    <tr>
        <td height="100">分管副主任意见</td>
        <td colspan="7">
            {{vm.dispatchDoc.viceDirectorSuggesttion}}
            <p class="text-right" style="margin-right: 80px; margin-top: 20px;">签名：</p>
            <p class="text-right" style="margin-right: 12px; margin-top: 5px;">日期：{{vm.dispatchDoc.viceDirectorDate}}</p>
        </td>
    </tr>

    <tr>
        <td height="100">主任签发</td>
        <td colspan="7">
            {{vm.dispatchDoc.directorSuggesttion}}
            <p class="text-right" style="margin-right: 80px; margin-top: 20px;">签名：</p>
            <p class="text-right" style="margin-right: 12px; margin-top: 5px;">日期：{{vm.dispatchDoc.directorDate}}</p>
        </td>
    </tr>
    <tr>
        <td>项目概况</td>
        <td colspan="7"  style="padding:0">
            <!--前一阶段-->
            <table ng-repeat=" s in vm.model.associateSignDtoList.slice().reverse()">
                <tr id="proItem">
                    <td width="20%">{{s.reviewstage}}</td>
                    <td width="10%">申报</td>
                    <td width="10%">审定</td>
                    <td width="20%">核减（增）</td>
                    <td width="20%">核减（增）率</td>
                    <td width="10%">批复金额</td>
                    <td style="border-right-width: 0px;" width="10%">备注</td>
                </tr>
                <tr>
                    <td style="border-left-width: 0px;">投资额（万元）</td>
                    <td>{{s.dispatchDocDto.declareValue}}</td>
                    <td>{{s.dispatchDocDto.authorizeValue}}</td>
                    <td>{{s.dispatchDocDto.extraValue}}</td>
                    <td>{{s.dispatchDocDto.extraRate}}<span>%</span></td>
                    <td>{{s.dispatchDocDto.approveValue}}</td>
                    <td>{{s.dispatchDocDto.remark}}</td>
                </tr>
                <tr>
                    <td style="border-left-width: 0px; height: 100px;">项目建设必要性</td>
                    <td colspan="6" class="text-left">
                        {{s.dispatchDocDto.projectBuildNecess}}
                    </td>
                </tr>
                <tr>
                    <td style="border-left-width: 0px;height: 100px;">审定建设规模及内容</td>
                    <td colspan="6" class="text-left">
                        {{s.dispatchDocDto.buildSizeContent}}
                    </td>
                </tr>

                <tr>
                    <td style="border-left-width: 0px;height: 100px;">投资匡算及资金来源</td>
                    <td colspan="6" class="text-left">
                        {{s.dispatchDocDto.fundTotalOrigin}}
                    </td>
                </tr>

                <tr>
                    <td style="border-left-width: 0px;height: 100px;">下一阶段工作要求</td>
                    <td colspan="6" class="text-left">
                        {{s.dispatchDocDto.nextWorkPlan}}
                    </td>
                </tr>
            </table>
            <table style="text-align: center;width: 100%;">
                <tr id="proTotal">
                    <td  width="20%">{{vm.model.reviewstage}}</td>
                    <td width="10%">申报</td>
                    <td width="10%">审定</td>
                    <td width="20%">核减（增）</td>
                    <td width="20%">核减（增）率</td>
                    <td width="10%">批复金额</td>
                    <td style="border-right-width: 0px;" width="10%">备注</td>
                </tr>
                <tr>
                    <td style="border-left-width: 0px;">投资额（万元）</td>
                    <td>{{vm.dispatchDoc.declareValue}}</td>
                    <td>{{vm.dispatchDoc.authorizeValue}}</td>
                    <td>{{vm.dispatchDoc.extraValue}}</td>
                    <td>{{vm.dispatchDoc.extraRate}}<span>%</span></td>
                    <td>{{vm.dispatchDoc.approveValue}}</td>
                    <td>{{vm.dispatchDoc.remark}}</td>
                </tr>
                <tr>
                    <td style="border-left-width: 0px; height: 100px;">项目建设必要性</td>
                    <td colspan="6" class="text-left">
                        {{vm.dispatchDoc.projectBuildNecess}}
                    </td>
                </tr>
                <tr>
                    <td style="border-left-width: 0px;height: 100px;">审定建设规模及内容</td>
                    <td colspan="6" class="text-left">
                        {{vm.dispatchDoc.buildSizeContent}}
                    </td>
                </tr>

                <tr>
                    <td style="border-left-width: 0px;height: 100px;">投资匡算及资金来源</td>
                    <td colspan="6" class="text-left">
                        {{vm.dispatchDoc.fundTotalOrigin}}
                    </td>
                </tr>

                <tr>
                    <td style="border-left-width: 0px;border-bottom-width: 0px;height: 100px;">下一阶段工作要求</td>
                    <td style="border-bottom-width: 0px;" colspan="6" class="text-left">
                        {{vm.dispatchDoc.nextWorkPlan}}
                    </td>
                </tr>
            </table>

        </td>
    </tr>
    </tbody>
</table>    <!-- end table -->
<!--  E 可行性研究报告-->