<meta charset="UTF-8">

<div class="well well-sm" style="background:white;">
    <div class="toolbar">
        <table style="width: 100%;">
            <tr>
                <td>
                    <go-back></go-back>
                    <button class="btn btn-sm btn-success back" ng-click="vm.printNotice();" ng-disabled="vm.isCommit"><span class="glyphicon glyphicon-print"></span>打印</button>
                </td>
                <td style="text-align: right;">
                    <span >发布人：{{vm.annountment.issueUser}}</span>
                    <span style="margin-left:20px;">发布时间：{{vm.annountment.issueDate}}</span>
                </td>
            </tr>
        </table>
    </div>
    <!--文章主内容-->
    <div style="background:white;height:80%; text-align: center; margin: auto;">
    <!--打印区域-->
    <div id="annountment-body" >
        <div class="printAnnountment">
            <h2 style="text-align: center;">{{vm.annountment.anTitle}}</h2>
            <div style="width: 100%;text-align: left;">
                <div ng-bind-html="vm.annountment.anContent|trust2Html"/>
            </div>
        </div>
    </div>
        <!--打印区结束-->

      <!--附件区 -->
     <div style="text-align: left;" ng-if="vm.sysFilelists && vm.sysFilelists.length > 0">
         <table class="table">
             <tr ng-repeat="x in vm.sysFilelists">
                 <td rowspan="{{vm.sysFilelists.length}}" ng-if="$index == 0" style="width: 80px;border-top:0px;padding: 3px;"><strong>附件列表：</strong></td>
                 <td style="border-top:0px;padding: 3px;">
                     <i class="fa fa-file-image-o" aria-hidden="true" ng-show="x.fileType =='.png' || x.fileType =='.jpg' || x.fileType =='.gif'"></i>
                     <i class="fa fa-file-word-o" aria-hidden="true" ng-show="x.fileType =='.docx' || x.fileType =='.doc'"></i>
                     <i class="fa fa-file-excel-o" aria-hidden="true" ng-show="x.fileType =='.xlsx' || x.fileType =='.xls'"></i>
                     <i class="fa fa-file-pdf-o" aria-hidden="true" ng-show="x.fileType =='.pdf'"></i>
                     <a ng-click="vm.downloadSysFile(x.sysFileId)">{{ x.showName }}</a>
                 </td>
             </tr>
         </table>
    </div>
        <!--附件区结束-->
    </div>
    <!--文章主内容区结束-->


    <!--滚动通知区-->
    <div style="padding: 10px 0px; min-height: 80px;">
        <div style="width: 90%; margin: auto;">
            <ol >
                <!--上一篇-->
                <li ng-if="vm.annountmentPost.anId" ng-if="vm.annountmentPost.anId" >
                    <a href="javascript:void(0)" ng-click="vm.post(vm.annountmentPost.anId)"> <h4>上一篇:{{vm.annountmentPost.anTitle}}</h4></a>
                </li>
                <!--下一篇-->
                <li ng-if="vm.annountmentNext.anId">
                    <a href="javascript:void(0)" ng-click="vm.next(vm.annountmentNext.anId)"><h4>下一篇:{{vm.annountmentNext.anTitle}}</h4></a>
                </li>
            </ol>
        </div>
    </div>
    <!--滚动通知区结束-->

</div>

