<#assign path=request.contextPath />
<meta charset="UTF-8">
<!--<head>
    <style>
        .bookBuyInfo td{
            border-top: 0px;
        }
    </style>
</head>-->
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div class="well well-sm conttent_list" style="background: white;min-height:960px;">
    <ol class="breadcrumb">
        <li><a href="#/expertList">固定资产申购管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>

    <div class="toolbar">
        <a class="btn btn-sm btn-primary" href="#/myAssertStorageBusiness"><span class="glyphicon glyphicon-chevron-left"></span>返回</a>

        <button class="btn btn-sm btn-success" ng-click="vm.saveCondition()" ng-disabled="vm.isSubmit" ng-hide="vm.isCommit">
            <span class="glyphicon glyphicon-ok"></span>保存
        </button>
        <button class="btn btn-sm btn-success" ng-click="vm.startFlow()"  ng-hide="vm.isCommit">
            <span class="glyphicon glyphicon-ok"></span>发起流程
        </button>
        <button class="btn btn-sm btn-success" ng-click="vm.addCondition()" ng-disabled="vm.isCommit"><span
                class="glyphicon glyphicon-ok"></span>添加条件
        </button>
        <button class="btn btn-sm btn-danger" ng-click="vm.removeCondition()" ng-disabled="vm.isCommit"><span
                class="glyphicon glyphicon-remove"></span>删除条件
        </button>
    </div>
    <p class="pro_title_1" style="margin:10px;margin-left:0px;">固定资产申购管理信息</p>
    <form id="form" name="form">
        <table class="" style="width: 70%;">
            <caption class="text-center"> <h3><strong>固定资产及办公用品申购单</strong></h3></caption>
            <tbody>
            <tr>
                <input type="hidden"  id="businessId"/>
                <td class="formAlignRight" width="20%">申请部室</td>
                <td width="30%">
                    <input type="text" maxlength="200" class="form-control input-sm "  ng-disabled="true"
                           ng-model="vm.model.applyDept" ng-init="vm.model.applyDept = '${CURRENT_USER.org.name}'"  id="applyDept" name="applyDept">
                </td>
                <td class="formAlignRight" width="20%">经办人</td>
                <td width="30%" colspan="4">
                    <input type="text" maxlength="200" class="form-control input-sm " ng-disabled="true"
                           ng-model="vm.model.operator" ng-init="vm.model.operator = '${CURRENT_USER.loginName}'" id="operator" name="operator">
                </td>
            </tr>
            <tr>
                        <td class="formAlignRight" >物品名称</td>
                        <td class="formAlignRight" >规格</td>
                        <td class="formAlignRight" >型号</td>
                        <td class="formAlignRight" >单位</td>
                        <td class="formAlignRight" >估价</td>
                        <td class="formAlignRight" >数量</td>
                        <td class="formAlignRight">合计</td>

            </tr>
            <tr>
                <td  class="formAlignRight" width="20%">采购资金合计</td>
                <td width="80%" colspan="6"></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>