<meta charset="UTF-8">
<div class="well well-sm" style="background:white;">

    <table class="table table-bordered">
        <caption class="text-center h3"><strong >通知公告</strong></caption>
        <tbody>
        <tr>
            <td style="width:150px;" class="text-center">标题</td>
            <td colspan="4">
                {{vm.suppletter.anTitle}}
            </td>
        </tr>


        <tr>
            <td style="width:150px; height: 150px; " class="text-center">内容</td>
            <td colspan="3">
                {{vm.suppletter.anContent}}
            </td>
        </tr>


        <tr>
            <td style="width:150px; height: 70px;" class="text-center">部长意见</td>
            <td colspan="3">
                <p> {{vm.suppletter.deptMinisterIdeaContent}}</p>
                <p class="text-right" ng-if="vm.suppletter.deptMinisterName">签名：{{vm.suppletter.deptMinisterName}}</p>
                <p class="text-right" ng-if="vm.suppletter.deptMinisterDate">日期：{{vm.suppletter.deptMinisterDate}}</p>
            </td>
        </tr>

        <tr>
            <td style="width:150px; height: 70px;" class="text-center">副主任意见</td>
            <td colspan="3">
                <p> {{vm.suppletter.deptSLeaderIdeaContent}}</p>
                <p class="text-right" ng-if="vm.suppletter.deptSLeaderName">签名：{{vm.suppletter.deptSLeaderName}}</p>
                <p class="text-right" ng-if="vm.suppletter.deptSleaderDate">日期：{{vm.suppletter.deptSleaderDate}}</p>
            </td>
        </tr>
        <tr>
            <td style="width:150px; height: 70px;" class="text-center">主任意见</td>
            <td colspan="3">
                <p> {{vm.suppletter.deptDirectorIdeaContent}}</p>
                <p class="text-right" ng-if="vm.suppletter.deptDirectorName">签名：{{vm.suppletter.deptDirectorName}}</p>
                <p class="text-right" ng-if="vm.suppletter.deptDirectorDate">日期：{{vm.suppletter.deptDirectorDate}}</p>
            </td>
        </tr>
        </tbody>
    </table>    <!-- end table -->
</div>
