<#assign path=request.contextPath/>
<meta charset="UTF-8">

<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/userAssertDetailList">用户资产明细</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <form id="form" name="form">
        <div class="toolbar">
            <a class="btn btn-sm btn-primary" href="#/userAssertDetail"><span class="glyphicon glyphicon-chevron-left"></span>返回</a>
            <button class="btn btn-sm btn-success" ng-click="vm.create()" ng-disabled="vm.isSubmit"
                    ng-hide="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>创建
            </button>
            <button class="btn btn-sm btn-success" ng-click="vm.update()" ng-disabled="vm.isSubmit"
                    ng-show="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>更新
            </button>
        </div>
        <table style="width:100%">
            <tr>
                <td class="formAlignRight" style="width:150px;"></td>
                <td style="width:400px;"><span class="errors">{{vm.message}}</span></td>
                <td></td>
            </tr>
            <tr>
                <td class="formAlignRight">userId：</td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.userId"
                           id="userId" name="userId"  />
                </td>
                <td><span data-valmsg-for="userId" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">userName：</td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.userName"
                           id="userName" name="userName"  />
                </td>
                <td><span data-valmsg-for="userName" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">goodId：</td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.goodId"
                           id="goodId" name="goodId"  />
                </td>
                <td><span data-valmsg-for="goodId" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">goodsName：</td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.goodsName"
                           id="goodsName" name="goodsName"  />
                </td>
                <td><span data-valmsg-for="goodsName" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">goodsNumber：</td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.goodsNumber"
                           id="goodsNumber" name="goodsNumber"  />
                </td>
                <td><span data-valmsg-for="goodsNumber" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
        </table>
    </form>
</div>