<ion-view title="{{title}}" class="{{viewMainClass}}">
	<!--视图标题-->
	<ion-nav-bar class="bar-positive">
		<!--视图头部-->
		<ion-nav-buttons side="left">
			<!--后退-->
			<button ng-click="back()" class="button back-button buttons button-clear header-item">
            	<i class="icon ion-android-arrow-back"></i></button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">
			<!--提交-->
			<a ng-click="submitProc()" class="button back-button buttons button-clear header-item" >
				提交
			</a>
		</ion-nav-buttons>
	</ion-nav-bar>
	<!--选项卡-->
	<ion-tabs class="tabs-icon-only tabs-positive">
		<!--选项卡 -- 选项  -- begin================================================基本信息========================================================================-->
		<ion-tab title="处理信息" on-select="switchPageM(0)">
			<ion-header-bar class="bar-positive">
				<!--选项卡标题-->
				<!--<h1 class="title">基本信息</h1>-->
			</ion-header-bar>
			<!--<ion-content has-tabs="true" on-swipe-right="switchPageM(4)" on-swipe-left="switchPageM(1)">-->
			<ion-content has-tabs="true">
				
			
				<!--基本信息页面-->
				
				<div ng-include="'business/tabs/workDynamic/gtasks/commonality/basic.html'"></div>
				
			
			</ion-content>
		</ion-tab>
		<!--选项卡 -- 选项  -- begin================================================审批登记========================================================================-->
		<ion-tab title="审批登记 " on-select="switchPageM(1)">
			<ion-header-bar class="bar-positive ">
			</ion-header-bar>
			<!--<ion-content has-tabs="true " on-swipe-right="switchPageM(0)" on-swipe-left="switchPageM(2)">-->
			<ion-content has-tabs="true ">
				<!--选项卡内容-->
				<div ng-include="'business/tabs/commonDetail/sign/signDetail.html'"></div>
	
			</ion-content>
		</ion-tab>
		
				<!--选项卡 -- 选项  -- begin================================================工作方案========================================================================-->
		<ion-tab title="工作方案 " on-select="switchPageM(2)" ng-if="workProgramList">
			<ion-header-bar class="bar-positive ">
			</ion-header-bar>
			<!--<ion-content has-tabs="true " on-swipe-right="switchPageM(0)" on-swipe-left="switchPageM(2)">-->
			<ion-content has-tabs="true ">
				<!--选项卡内容-->
				<div ng-include="'business/tabs/commonDetail/workProgram/workProgramDetail.html'"></div>
	
			</ion-content>
		</ion-tab>
		
				<!--选项卡 -- 选项  -- begin================================================发文信息========================================================================-->
		<ion-tab title="发文信息 " on-select="switchPageM(3)" ng-if="dispatchDoc">
			<ion-header-bar class="bar-positive ">
			</ion-header-bar>
			<!--<ion-content has-tabs="true " on-swipe-right="switchPageM(0)" on-swipe-left="switchPageM(2)">-->
			<ion-content has-tabs="true ">
				<!--选项卡内容-->
				<div ng-include="'business/tabs/commonDetail/dispatchDoc/dispatchDocDetail.html'"></div>
	
			</ion-content>
		</ion-tab>
						<!--选项卡 -- 选项  -- begin================================================归档信息========================================================================-->
		<ion-tab title="归档信息 " on-select="switchPageM(4)" ng-if="fileRecord">
			<ion-header-bar class="bar-positive ">
			</ion-header-bar>
			<!--<ion-content has-tabs="true " on-swipe-right="switchPageM(0)" on-swipe-left="switchPageM(2)">-->
			<ion-content has-tabs="true ">
				<!--选项卡内容-->
				<div ng-include="'business/tabs/commonDetail/fileRecord/fileRecordDetail.html'"></div>
	
			</ion-content>
		</ion-tab>
	
			<!--<ion-content has-tabs="true " on-swipe-right="switchPageM(3)" on-swipe-left="switchPageM(0)">-->

		</ion-tab>
	</ion-tabs>
</ion-view>