<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/assistUnit">协审单位管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <form id="assistUnitform" name="assistUnitform">
        <div class="toolbar">
        <span class="help-inline">单位名称：</span>
        <input type="text" ng-model="vm.assistUnit.unitName" operator="like" name="unitName" id="unitName" placeholder="请输入"/>
       
        <span class="help-inline">企业地址：</span>
        <input type="text" ng-model="vm.assistUnit.address" operator="like" name="address" id="address" placeholder="请输入"/>
       
        <a class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="vm.queryAssistUnit()">查询</a>
      
        <@shiro.hasPermission name="assistUnit##post">
            <a class="btn btn-sm btn-primary" href="#/assistUnitEdit/"><span class="glyphicon glyphicon-plus"></span>新增单位</a>
        </@shiro.hasPermission>
        <!-- <@shiro.hasPermission name="assistUnit##delete">
            <button class="btn btn-sm btn-danger" ng-click="vm.dels()" ng-disabled="vm.isSubmit"><span class="glyphicon glyphicon-remove"></span>批量删除</button>
        </@shiro.hasPermission> -->
        </div>
         </form>
        <script type="text/template" id="columnBtns">
            <@shiro.hasPermission name="assistUnit##delete">
            <button class="btn btn-xs btn-danger"  ng-click="{0}" ><span class="glyphicon glyphicon-remove"></span>删除</button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="assistUnit##put">
            <a class="btn btn-xs btn-primary" href="#/assistUnitEdit/{1}"><span class="glyphicon glyphicon-pencil"></span>编辑</a>
            </@shiro.hasPermission>

  			<@shiro.hasPermission name="assistUnit##put">
            <a class="btn btn-xs btn-primary" href="#/UnitAndUser/{1}"><span class="glyphicon glyphicon-pencil"></span>成员</a>
            </@shiro.hasPermission>
        </script>

        <div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
   
</div>

