<#assign path=request.contextPath/>
<meta charset="UTF-8">

<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/assistUnitList">协审单位管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <form id="form" name="form">
        <div class="toolbar">
            <a class="btn btn-sm btn-primary" href="#/assistUnit"><span class="glyphicon glyphicon-chevron-left"></span>返回</a>
            <button class="btn btn-sm btn-success" ng-click="vm.create()" ng-disabled="vm.isSubmit"
                    ng-hide="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>创建
            </button>
            <button class="btn btn-sm btn-success" ng-click="vm.update()" ng-disabled="vm.isSubmit"
                    ng-show="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>更新
            </button>
        </div>
        <table style="width:100%">
            <tr>
                <td class="formAlignRight" style="width:150px;"></td>
                <td style="width:400px;"><span class="errors">{{vm.message}}</span></td>
                <td></td>
            </tr>
            <tr>
                <td class="formAlignRight">协审单位名称： <span class="required">*</span></td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.assistUnit.unitName"
                           id="unitName" name="unitName" data-val="true" data-val-required="必填" ng-disabled="vm.isUpdate" />
                </td>
                <td><span data-valmsg-for="unitName" data-valmsg-replace="true" class="errors"></span>
                <span class="errors" ng-show="vm.isUnitExist">单位已存在</span>
                </td>
            </tr>
            <tr>
                <td class="formAlignRight">协审单位简称：<span class="required">*</span></td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.assistUnit.unitShortName"
                           id="unitShortName" name="unitShortName"  />
                </td>
                <td><span data-valmsg-for="unitShortName" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">电话号码： <span class="required">*</span></td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.assistUnit.phoneNum"
                           id="phoneNum" name="phoneNum" data-val="true" data-val-required="必填" />
                </td>
                <td><span data-valmsg-for="phoneNum" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">企业地址： <span class="required">*</span></td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.assistUnit.address"
                           id="address" name="address" data-val="true" data-val-required="必填" />
                </td>
                <td><span data-valmsg-for="address" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            
        </table>
    </form>
</div>