<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-idea.html'"></div>
<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/sign">项目签收管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <div class="toolbar" >
        1、编制协审项目计划
    </div>
    <div class="well well-sm" style="background:white;">
        修改已有的项目计划审批包：
        <select ng-model="vm.selectPlanId" ng-change = "vm.initSelPlan()">
            <option value="">请选择</option>
            <option ng-repeat="s in vm.planList" value="{{s.id}}" ng-selected="s.id == vm.selectPlanId">{{s.planName}}</option>
        </select>
        <button class="btn btn-xs btn-danger"  ng-click="vm.doDelete()"><i class="fa fa-times" aria-hidden="true"></i>删除计划审批包</button>
        <table class="table table-bordered" style="margin-top:10px;">
            <tr>
                <td class="formAlignRight">收文编号</td>
                <td><input ng-model="vm.filterModel.filterFilecode"></td>
                <td class="formAlignRight">项目代码</td>
                <td><input ng-model="vm.filterModel.filterProjectCode"></td>
            </tr>
            <tr>
                <td class="formAlignRight">项目名称</td>
                <td><input ng-model="vm.filterModel.filterProjectName" ></td>
                <td class="formAlignRight">建设单位</td>
                <td><input ng-model="vm.filterModel.filterBuiltName" ></td>
            </tr>
        </table>

        <table class="table table-bordered" style="margin-top:10px;" >
            <tr >
                <td >
                    <p>中心在办核算项目</p>

                    <div class="grid k-grid k-widget">
                        <div class="k-grid-header" style="padding-right: 17px;background:#e6ecf2;">
                            <div class="k-grid-header-wrap">
                                <table>
                                    <colgroup>

                                        <col style="width:60px">
                                        <col style="width:60px">
                                        <col style="width:180px">
                                        <col style="width:180px">
                                        <col style="width:180px">
                                    </colgroup>
                                    <thead >
                                        <tr >
                                            <th  class="k-header ">选择</th>
                                            <th  class="k-header ">序号</th>
                                            <th  class="k-header ">项目名称</th>
                                            <th  class="k-header ">收文编号</th>
                                            <th  class="k-header ">建设单位</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div class="k-resize-handle" style="top: 0px; left: 857px; height: 33px; width: 9px; display: none;">
                                    <div class="k-resize-handle-inner"></div>
                                </div>
                            </div>
                        </div>

                        <div class="k-grid-content" style="overflow-y:scroll;max-height: 300px;">
                            <table >
                                <colgroup>

                                    <col style="width:60px">
                                    <col style="width:60px">
                                    <col style="width:180px">
                                    <col style="width:180px">
                                    <col style="width:180px">
                                </colgroup>
                                <tbody>
                                <tr ng-repeat="ss in vm.assistSign | filter:vm.filterSign">
                                    <td style="width: 60px;"><input type="checkbox" name="selASTSign"  value="{{ss.signid}}"/></td>
                                    <td style="width: 60px;">{{ $index + 1}}</td>
                                    <td style="width: 180px;">{{ss.projectname}}</td>
                                    <td style="width: 180px;">{{ss.filecode}}</td>
                                    <td style="width: 180px;">{{ss.builtcompanyName}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </td>
                <td width="14%;" style="text-align:center;vertical-align:middle;">
                    <p>
                        <input type="radio" ng-model="vm.plan.assistType" name="selAssistType" value="独立项目" >独立项目
                        <span ng-show="vm.plan.assistType=='独立项目'">
                            <select ng-model="vm.plan.spliNum" >
                                <option ng-repeat="i in vm.splitNumArr" value="{{i}}">{{i}}</option>
                            </select>
                            拆分个数
                        </span>
                    </p>
                    <p><input type="radio" ng-model="vm.plan.assistType" value="合并项目" ng-change="vm.initSplit('合并项目');">合并项目</p>
                    <p ><button class="btn btn-xs btn-default"  ng-click="vm.affirmSign()" ng-disabled="vm.isCommit"><i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i> 挑选项目</button></p>
                    <p ><button class="btn btn-xs btn-default"  ng-click="vm.cancelSign()" ng-disabled="vm.isCommit"><i class="glyphicon glyphicon-chevron-left" aria-hidden="true"></i> 取消挑选</button></p>
                </td>
                <td width="43%">
                    <p>计划已挑选的项目情况</p>

                    <div class="grid k-grid k-widget">
                        <div class="k-grid-header" style="padding-right: 17px;background:#e6ecf2;">
                            <div class="k-grid-header-wrap">
                                <table>
                                    <colgroup>

                                        <col style="width:60px">
                                        <col style="width:60px">
                                        <col style="width:180px">
                                        <col style="width:180px">
                                        <col style="width:180px">
                                    </colgroup>
                                    <thead >
                                    <tr >

                                        <th  class="k-header ">选择</th>
                                        <th  class="k-header ">序号</th>
                                        <th  class="k-header ">项目名称</th>
                                        <th  class="k-header ">收文编号</th>
                                        <th  class="k-header ">建设单位</th>
                                    </tr>
                                    </thead>
                                </table>
                                <div class="k-resize-handle" style="top: 0px; left: 857px; height: 33px; width: 9px; display: none;">
                                    <div class="k-resize-handle-inner"></div>
                                </div>
                            </div>
                        </div>

                        <div class="k-grid-content" style="overflow-y:scroll;max-height: 300px;">
                            <table >
                                <colgroup>

                                    <col style="width:60px">
                                    <col style="width:60px">
                                    <col style="width:180px">
                                    <col style="width:180px">
                                    <col style="width:180px">
                                </colgroup>
                                <tbody>
                                <tr ng-repeat="sas in vm.pickMainSign track by $index">
                                    <td style="width: 60px;"><input type="checkbox" name="checkASTSign"  value="{{sas.signid}}"/></td>
                                    <td style="width: 60px;">{{ $index + 1}}</td>
                                    <td style="width: 180px;" style="background-color: #0d6aad;" ng-show="sas.assistType == '合并项目'">
                                        <a ng-show="sas.assistType == '合并项目'" ng-dblclick="vm.showPickLowSign(sas.signid)">{{sas.projectname}}</a>
                                    </td>
                                    <td style="width: 180px;" ng-show="sas.assistType == '独立项目'">
                                        {{sas.projectname}}
                                    </td>
                                    <td style="width: 180px;">{{sas.filecode}}</td>
                                    <td style="width: 180px;">{{sas.builtcompanyName}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </td>
            </tr>
        </table>
    </div>

    <div class="toolbar" >
        2、编制协审计划审批表
    </div>
    <div class="well well-sm" style="background:white;">
        <form id="searchform" name="searchform">
            <span class="help-inline">协审计划名称：</span>
            <input type="text" operator="like" name="planName" id="projectnam" placeholder="请输入">

            <span class="help-inline" style="margin-left:10px;">办理人员：</span>
            <input type="text"  operator="like" name="createdBy" id="projectcode" placeholder="请输入">

            <button class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="vm.queryPlan()">查询</button>
        </form>
        <div id="grid" class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
    </div>
</div>

<!-- S_DIV 次项目选择弹窗 -->
<div id="lowerSignWin" style="display: none;">
    <table class="table table-bordered" style="margin-top:10px;">
        <tr>
            <td class="formAlignRight">收文编号</td>
            <td><input ng-model="vm.filterLow.filterFilecode"></td>
            <td class="formAlignRight">项目代码</td>
            <td><input ng-model="vm.filterLow.filterProjectCode"></td>
        </tr>
        <tr>
            <td class="formAlignRight">项目名称</td>
            <td><input ng-model="vm.filterLow.filterProjectName" ></td>
            <td class="formAlignRight">建设单位</td>
            <td><input ng-model="vm.filterLow.filterBuiltName" ></td>
        </tr>
    </table>

    <table class="table table-bordered" style="margin-top:10px;" >
        <tr >
            <td >
                <p>中心在办核算项目</p>
                <table class="table table-bordered" width="43%">
                    <tr>
                        <th style="width: 60px;">选择</th>
                        <th style="width: 60px;">序号</th>
                        <th style="width: 180px;">项目名称</th>
                        <th style="width: 180px;">收文编号</th>
                        <th style="width: 180px;">建设单位</th>
                    </tr>
                    <tr ng-repeat="ss in vm.assistSign | filter:vm.filterLowSign">
                        <td style="width: 60px;"><input type="checkbox" name="selLowSign"  value="{{ss.signid}}"/></td>
                        <td style="width: 60px;">{{ $index + 1}}</td>
                        <td style="width: 180px;">{{ss.projectname}}</td>
                        <td style="width: 180px;">{{ss.filecode}}</td>
                        <td style="width: 180px;">{{ss.builtcompanyName}}</td>
                    </tr>
                </table>
            </td>
            <td width="14%;" style="text-align:center;vertical-align:middle;">
                <p ><button class="btn btn-xs btn-default"  ng-click="vm.affirmLowerSign()" ng-disabled="vm.isCommit"><i class="glyphicon glyphicon-chevron-right" aria-hidden="true"></i> 挑选项目</button></p>
                <p ><button class="btn btn-xs btn-default"  ng-click="vm.cancelLowerSign()" ng-disabled="vm.isCommit"><i class="glyphicon glyphicon-chevron-left" aria-hidden="true"></i> 取消挑选</button></p>
            </td>
            <td width="43%">
                <p>计划已挑选的项目情况</p>
                <table class="table table-bordered" width="43%">
                    <tr>
                        <th style="width: 60px;">选择</th>
                        <th style="width: 60px;">序号</th>
                        <th style="width: 180px;">项目名称</th>
                        <th style="width: 180px;">收文编号</th>
                        <th style="width: 180px;">建设单位</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="sas in vm.lowerSign ">
                        <td style="width: 60px;"><input type="checkbox" name="checkLowSign"  value="{{sas.signid}}"/></td>
                        <td style="width: 60px;">{{ $index + 1}}</td>
                        <td style="width: 180px;">{{sas.projectname}}</td>
                        <td style="width: 180px;">{{sas.filecode}}</td>
                        <td style="width: 180px;">{{sas.builtcompanyName}}</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>
<!-- E_DIV 次项目选择弹窗 -->

<!--  S_DIV 协审计划div框 -->
<div id="planInfo" class="well well-sm" style="background:white;display: none;">
    <ul id="assistTab" class="nav nav-tabs">
        <li class="active"><a  data-toggle="tab" for-div="assist_unitlist">协审单位</a></li>
        <li><a data-toggle="tab" for-div="assist_plansign">项目计划审批表</a></li>
        <li><a data-toggle="tab" for-div="assist_drawSignin">协审抽签签到表</a></li>
        <li><a data-toggle="tab" for-div="assist_drawPro">协审项目抽签</a></li>
        <li><a data-toggle="tab" for-div="assist_drawHis">项目抽签记录表</a></li>
    </ul>

    <div class="tab-content" style="background:white;">
        <div class="well well-sm tab-pane fade in active" style="background:white;" id="assist_unitlist" ng-include src="'${path}/contents/app/assist/chooleUnit.html'">
        </div><!-- end tab1 -->
        <div class="well well-sm tab-pane fade" style="background:white;" id="assist_plansign" ng-include src="'${path}/contents/app/assist/approve.html'">
            项目计划审批表
        </div><!-- end tab2 -->
        <div class="well well-sm tab-pane fade" style="background:white;" id="assist_drawSignin" ng-include src="'${path}/contents/app/assist/signInForm.html'">
            协审抽签签到表
        </div><!-- end tab3 -->
        <div class="well well-sm tab-pane fade" style="background:white;" id="assist_drawPro" ng-include src="'${path}/contents/app/assist/drawAssitUnit.html'">
            协审项目抽签
        </div><!-- end tab4 -->
        <div class="well well-sm tab-pane fade" style="background:white;" id="assist_drawHis" ng-include src="'${path}/contents/app/assist/signInRecord.html'">
            项目抽签记录表
        </div><!-- end tab5 -->
    </div>
</div>
<!--  E_DIV 协审计划div框 -->