<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li class="active">财务管理</li>
        <li>协审费用统计</li>
    </ol>

    <div class="toolbar">
        <button class="btn btn-sm btn-success" ng-click="vm.queryAssistCost()" ng-disabled="vm.isSubmit"><span
                class="glyphicon glyphicon-search"></span>查询
        </button>
        <button class="btn btn-sm btn-primary" ng-click="vm.assistCostReset()">重置</button>
    </div>

    <table class="table table-bordered breadcrumb">
        <tr>
            <td style="width:75px;" class="formAlignRight">项目名称</td>
            <td style="width: 40%;">
                <input type="text" style="width: 95%;" ng-model="vm.signAssistCost.projectName" placeholder="请输入">
            </td>
            <td style="width:75px;" class="formAlignRight">协审单位</td>
            <td style="width: 40%;">
                <input type="text" style="width: 95%;" ng-model="vm.signAssistCost.assistUnit" placeholder="请输入">
            </td>
        </tr>
        <tr>
            <td class="formAlignRight">协议登记号</td>
            <td>
                <input type="text" style="width: 95%;" ng-model="vm.signAssistCost.assistPlanNo" placeholder="请输入">
            </td>
            <td class="formAlignRight">签收日期</td>
            <td >
                <input name="beginTime" style="width:126px" kendo-date-picker k-format="'yyyy-MM-dd'"
                       ng-model="vm.signAssistCost.beginTime"/>
                至
                <input name="endTime" style="width:126px" kendo-date-picker k-format="'yyyy-MM-dd'"
                       ng-model="vm.signAssistCost.endTime"/>
            </td>
        </tr>
    </table>

    <div class="table-responsive" style="margin-top:10px;max-height: 800px; overflow-y: scroll;">
        <table class="table table-bordered">
            <tr class="active">
                <th class="text-center" style="width:70px">序号</th>
                <th class="text-center" style="width:18%">项目名称</th>
                <th class="text-center" style="width:12%">协审单位</th>
                <th class="text-center" style="width:10%">协审登记号</th>
                <th class="text-center" style="width:13%">项目负责人</th>
                <th class="text-center" style="width:10%;">
                    实际协审费用<br>（元）
                </th>
                <th class="text-center" style="width:10%">
                    计划协审费用<br>（元）
                </th>
                <th class="text-center" style="width:10%;">付款日期</th>
                <th class="text-center" style="width:8%;">申报金额</th>
            </tr>
            <tbody ng-repeat="s in vm.signAssistCostCounList">
            <tr>
                <td class="text-center" rowspan="{{s.costList.length + 1}}">{{$index + 1}}</td>
                <td class="text-center" rowspan="{{s.costList.length + 1}}">{{s.projectName}}</td>
                <td class="text-center" rowspan="{{s.costList.length + 1}}">{{s.assistUnit}}</td>
                <td class="text-center">{{s.assistPlanNo}}</td>
                <td class="text-center">{{s.changeUserName}}</td>
                <td class="text-center">{{s.factCost}}</td>
                <td class="text-center">{{s.planCost}}</td>
                <td class="text-center">{{s.payDate}}</td>
                <td class="text-center">{{s.applyCost}}</td>
            </tr>
            <tr ng-repeat="f in s.costList" ng-if="s.costList && s.costList.length > 0">
                <td class="text-center">{{$index + 1}}</td>
                <td class="text-center">{{f.chargeName}}</td>
                <td class="text-center">{{f.charge}}</td>
                <td class="text-center" colspan="3"></td>
            </tr>
            </tr>
            </tbody>
        </table>
    </div>
</div>

