<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/financial/assistCostAdd.html'"></div>
<div ng-include src="'${path}/contents/app/financial/assistCostTable.html'"></div>
<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/sharingPlatlform">协审费用统计</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <form id="form" name="form">
       <div class="well">
       <table border="1px">
		<tbody>
			<tr>
				
				<td><span class="help-inline">项目名称：</span></td>
				<td><input type="text" style="width:260px" ng-model="vm.model.loginName" operator="like" name="loginName" id="loginName" placeholder="请输入"></td>
				<td><span class="help-inline" style="margin-left:10px;">协审单位：</span></td>
				<td><select ng-model="vm.financials.chargeName"  style="width:260px;height:26px;">
					               <option ng-repeat="d in DICT.CWBL_FYMC.dicts" value="{{d.dictName}}"
					                          ng-selected="x.chargeName == d.dictName" >{{d.dictName}}
					                </option>
					     </select></td>
				<td><a class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="vm.queryUser()">查询</a></td>
			</tr>
			<tr>
				<td><span class="help-inline">协议登记号：</span></td>
				<td>	<input type="text" style="width:260px" ng-model="vm.model.loginName" operator="like" name="loginName" id="loginName" placeholder="请输入"></td>
				<td><span class="help-inline" style="margin-left:10px;">签收日期：</span></td>
				<td> <input name="beginTime" style="width:126px" kendo-date-picker k-format="'yyyy-MM-dd'"  ng-model="vm.model.beginTime" value="" type="text" operator="and"/>
			至
			<input name="endTime" style="width:126px" kendo-date-picker k-format="'yyyy-MM-dd'"  ng-model="vm.model.endTime" value="" type="text" operator="and" /></td>
				<td><a class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="vm.queryUser()">重置</a></td>
			</tr>
		</tbody>
	</table>
        </div>
        <ol class="breadcrumb">
        <li class="active">
            项目列表（颜色说明：
            <span id="span1"><img src="${path}/contents/images/yellow.png" style="width: 16px; height: 16px;"></span>在办项目
            <span id="span2"><img src="${path}/contents/images/green.png" style="width: 16px; height: 16px;"></span>已发文项目
            <span id="span3"><img src="${path}/contents/images/red.png" style="width: 16px; height: 16px;"></span>已发送存档
            <span id="span4"><img src="${path}/contents/images/blue.png" style="width: 16px; height: 16px;"></span>项目暂停）
        </li>
    </ol>
        <script type="text/template" id="columnBtns">
            <@shiro.hasPermission name="#financialManager#put">
            <button class="btn btn-xs btn-primary" ng-click="{0}"><span class="glyphicon glyphicon-pencil"></span>编辑</button>
            </@shiro.hasPermission>
        </script>

        <div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
    </form>
</div>

