<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>
<!-- 财务办理模块 -->
<div id="assistCostWindow" style="background:white;display: none;">
    <#include "/financial/costAdd.html"/>
</div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li class="active">财务管理</li>
        <li>协审费录入</li>
    </ol>

    <div class="well well-sm">
        <table  style="width: 100%;">
            <tr>
                <td class="text-right" style="width:80px;">项目名称：</td>
                <td >
                    <input ng-model="vm.signAssistCost.projectName" />
                </td>
                <td class="text-right" style="width:80px;">协审单位：</td>
                <td >
                    <input type="text" style="width: 95%;" ng-model="vm.signAssistCost.assistUnit" >
                </td>
                <td class="text-right" style="width:80px;">签收日期：</td>
                <td style="min-width: 280px;">
                    <input name="beginTime" style="width:126px" kendo-date-picker k-format="'yyyy-MM-dd'"
                           ng-model="vm.signAssistCost.beginTime"/>
                    至
                    <input name="endTime" style="width:126px" kendo-date-picker k-format="'yyyy-MM-dd'"
                           ng-model="vm.signAssistCost.endTime"/>
                </td>
                <td>
                    <button class="btn btn-sm btn-success" ng-click="vm.queryAssistCost()" ng-disabled="vm.isSubmit">
                        <span class="glyphicon glyphicon-search"></span>查询
                    </button>
                    <button class="btn btn-sm btn-primary" ng-click="vm.assistCostReset()">
                        <span class="glyphicon glyphicon-repeat"></span>重置</button>
                    <!--<button class="btn btn-sm btn-primary" onclick="printpage(this)">打印</button>-->
                </td>
            </tr>
        </table>
    </div>
    <div class="label-default" style="width: 100%;padding:5px 10px;">
        【
        <span class="label-primary" style="padding:0px 13px;"></span> 已发文
        <span class="label-success" style="padding:0px 13px;"></span> 已存档
        】
        【
        <span id="span1"><img src="${path}/contents/images/yellow.png" style="width: 16px; height: 16px;"></span>暂停
        <span id="span2"><img src="${path}/contents/images/green.png" style="width: 16px; height: 16px;"></span>少于3个工作日
        <span id="span3"><img src="${path}/contents/images/red.png" style="width: 16px; height: 16px;"></span>发文超期
        <span id="span4"><img src="${path}/contents/images/blue.png" style="width: 16px; height: 16px;"></span>超过25个工作日未存档
        <span id="span5"><img src="${path}/contents/images/dark.png" style="width: 16px; height: 16px;"></span>存档超期
        】
    </div>

    <div class="table-responsive" style="max-height: 800px; overflow-y: scroll;">
        <table class="table table-bordered">
            <tr class="active">
                <th class="text-center" style="width:60px"></th>
                <th class="text-center" style="width:70px">序号</th>
                <th class="text-center" style="width:18%">项目名称</th>
                <th class="text-center" style="width:12%">协审单位</th>
                <th class="text-center" style="width:13%">项目负责人</th>
                <th class="text-center" style="width:10%">协审登记号</th>
                <th class="text-center" style="width:10%">计划协审费用</th>
                <th class="text-center" style="width:10%;">实际协审费用</th>
                <th class="text-center" style="width:10%;">付款日期</th>
                <th class="text-center" style="width:8%;">申报金额</th>
            </tr>
            <tr ng-repeat="s in vm.signAssistCostList">
                <td class="text-center">
                    <!--4 表示暂停-->
                    <span ng-if="s.isLightUp == 4">
                        <img src="${path}/contents/images/yellow.png" style="width: 16px; height: 16px;">
                    </span>
                    <!--5 少于3个工作日-->
                    <span ng-if="s.isLightUp == 4">
                        <img src="${path}/contents/images/green.png" style="width: 16px; height: 16px;">
                    </span>
                    <!--6 发文超期-->
                    <span ng-if="s.isLightUp == 4">
                        <img src="${path}/contents/images/red.png" style="width: 16px; height: 16px;">
                    </span>
                    <!--7 超过25个工作日未存档-->
                    <span ng-if="s.isLightUp == 4">
                        <img src="${path}/contents/images/blue.png" style="width: 16px; height: 16px;">
                    </span>
                    <!--8 存档超期-->
                    <span ng-if="s.isLightUp == 4">
                        <img src="${path}/contents/images/dark.png" style="width: 16px; height: 16px;">
                    </span>
                </td>
                <td class="text-center">
                    <span ng-class="{'label label-primary':(s.processState && s.processState >=5 && s.processState< 7), 'label label-success': (s.processState && s.processState ==8 )}">
                    {{$index + 1}}
                    </span>
                </td>
                <td class="text-center"><a ng-click="vm.addCostWindow(s,'assistCostWindow')">{{s.projectName}}</a></td>
                <td class="text-center">{{s.assistUnit}}</td>
                <td class="text-center">{{s.changeUserName}}</td>
                <td class="text-center">{{s.assistPlanNo}}</td>
                <td class="text-center">{{s.planCost}}</td>
                <td class="text-center">{{s.factCost}}</td>
                <td class="text-center">{{s.payDate}}</td>
                <td class="text-center">{{s.applyCost}}</td>
            </tr>
            <tr ng-show="vm.nodata">
                <td colspan="10" class="text-center">
                    没有数据！
                </td>
            </tr>
        </table>
    </div>
</div>