<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
	<ol class="breadcrumb">
		<li><a href="#/sharingPlatlform">专家缴税统计</a></li>
		<li class="active">{{vm.title}}</li>
	</ol>
	<form id="form" name="form">
		<div class="well">
			<span>统计日期：</span>
			<select name="year" ng-model="vm.model.year">
				<option ng-repeat="x in DICT.NDBG.dicts"
						ng-selected="vm.model.year == x.dictName"
						value="{{x.dictName}}">{{x.dictName}}
				</option>
			</select> 年
			<select name="month" ng-model="vm.model.month">
				<option value="1" ng-selected="vm.model.month == 1">1</option>
				<option value="2" ng-selected="vm.model.month == 2">2</option>
				<option value="3" ng-selected="vm.model.month == 3">3</option>
				<option value="4" ng-selected="vm.model.month == 4">4</option>
				<option value="5" ng-selected="vm.model.month == 5">5</option>
				<option value="6" ng-selected="vm.model.month == 6">6</option>
				<option value="7" ng-selected="vm.model.month == 7">7</option>
				<option value="8" ng-selected="vm.model.month == 8">8</option>
				<option value="9" ng-selected="vm.model.month == 9">9</option>
				<option value="10" ng-selected="vm.model.month == 10">10</option>
				<option value="11" ng-selected="vm.model.month == 11">11</option>
				<option value="12" ng-selected="vm.model.month == 12">12</option>
			</select> 月
			<a class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="vm.countExpertCostDetail()">统计</a>
			<!--<button ng-click="vm.addFinancial()"  class="btn btn-sm btn-primary" style="margin-left:10px;"></span>打印预览</button>
			<button ng-click="vm.saveFinancial()" class="btn btn-sm btn-primary" style="margin-left:10px;"  value="saveCommonIdea">打印</button>-->
			<button ng-click="vm.getExpertCoust()" class="btn btn-sm btn-primary" style="margin-left:10px;"  value="saveCommonIdea">查看汇总</button>
			<!--<button class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="">导出EXCLE</button>-->
			<button class="btn btn-sm btn-primary" onclick="printpage(this)">打印</button>
			<go-back></go-back>
		</div>
		<div>
			<table id="expertCostTable" border="1px" style="width: 90%;">
				<caption class="text-center h3">
					<strong>深圳市政府投资项目评审中心<br>
						{{vm.year}}年{{vm.month}}月缴税统计汇总表
					</strong>
				</caption>
				<tr id="expertCostHead" >
					<td  style="width:10%"  class="text-center">姓名</td>
					<td  style="width:20%"  class="text-center">项目名称</td>
					<td  style="width:10%"  class="text-center">评审方式</td>
					<td  style="width:15%"  class="text-center">评审会时间</td>
					<td  style="width:15%"  class="text-center">函评时间</td>
					<td  style="width:15%"  class="text-center">评审费</td>
					<td  style="width:15%"  class="text-center">应缴税</td>
				</tr>

			</table>
		</div>
	</form>
</div>

