<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/sharingPlatlform">专家费用统计</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <form id="searchform" name="searchform">
       <div class="well">
			 <input id="beginTime" name="beginTime" style="width:130px" kendo-date-picker k-format="'yyyy-MM-dd'"  ng-model="vm.searchModel.beginTime" value="" type="text" operator="ge"/>
			至
			<input id="endTime" name="endTime" style="width:130px" kendo-date-picker k-format="'yyyy-MM-dd'"  ng-model="vm.searchModel.endTime" value="" type="text" operator="le" />
	    	<a class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="vm.searchForm()">查询</a>
	    	<a class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="vm.formReset()">重置</a>
<!--	     <button ng-click="vm.addFinancial()"  class="btn btn-sm btn-primary" style="margin-left:10px;"></span>打印预览</button>
		<button ng-click="vm.saveFinancial()" class="btn btn-sm btn-primary" style="margin-left:10px;"  value="saveCommonIdea">打印</button>-->
		<button class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="vm.excelExport()">导出EXCLE</button>
        </div>
        <div id="statisticalGrid" class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
    </form>
</div>

