<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
	<ol class="breadcrumb">
		<li><a>专家缴税统计</a></li>
		<li class="active">{{vm.title}}</li>
	</ol>
	<form id="form" name="form">
		<div class="well well-print">
			<span>统计日期：</span>
			<select name="year" ng-model="vm.model.year">
                <option ng-repeat="x in DICT.NDBG.dicts"
                        value="{{x.dictName}}">{{x.dictName}}
                </option>
			</select> 年
			<select name="month" ng-model="vm.model.month">
				<option value="1" ng-selected="vm.model.month == 1">1</option>
                <option value="2" ng-selected="vm.model.month == 2">2</option>
                <option value="3" ng-selected="vm.model.month == 3">3</option>
                <option value="4" ng-selected="vm.model.month == 4">4</option>
                <option value="5" ng-selected="vm.model.month == 5">5</option>
                <option value="6" ng-selected="vm.model.month == 6">6</option>
                <option value="7" ng-selected="vm.model.month == 7">7</option>
                <option value="8" ng-selected="vm.model.month == 8">8</option>
                <option value="9" ng-selected="vm.model.month == 9">9</option>
                <option value="10" ng-selected="vm.model.month == 10">10</option>
                <option value="11" ng-selected="vm.model.month == 11">11</option>
                <option value="12" ng-selected="vm.model.month == 12">12</option>
			</select> 月
			<a class="btn btn-sm btn-primary" ng-click="vm.countExpertCost()">统计</a>
	        <!--<button ng-click="vm.addFinancial()"  class="btn btn-sm btn-primary" style="margin-left:10px;"></span>打印预览</button>
			<button ng-click="vm.saveFinancial()" class="btn btn-sm btn-primary" style="margin-left:10px;"  value="saveCommonIdea">打印</button>-->
			<button ng-click="vm.getExpertCoustDetail()" class="btn btn-sm btn-primary" value="saveCommonIdea">查看详细</button>
			<button class="btn btn-sm btn-primary" ng-click="vm.excelExport()">导出EXCLE</button>
			<button class="btn btn-sm btn-primary" ng-click="vm.printFile()"><span class="glyphicon glyphicon-print"></span>打印</button>
		</div>
	</form>
	<table class="table table-bordered">
		<caption class="text-center h4">
			<strong>{{getSysAccreditUnit()}}{{vm.model.year}}年{{vm.model.month}}月缴税统计汇总表 </strong>
		</caption>
		<tr class="active">
			<td rowspan="2" style="width:5%;vertical-align: middle;"  class="text-center">序号</td>
			<td rowspan="2" style="width:10%;vertical-align: middle;"  class="text-center">姓名</td>
			<td rowspan="2" style="width:20%;vertical-align: middle;"  class="text-center">身份证号码</td>
			<td rowspan="2" style="width:14%;vertical-align: middle;"  class="text-center">手机号码</td>
			<td colspan="2" style="width:28%"  class="text-center">本月合计</td>
			<td colspan="2" style="width:28%"  class="text-center">本年累计</td>
		</tr>
		<tr class="active">
			<td class="text-center" style="width:14%">应缴所得税额</td>
			<td class="text-center" style="width:14%">应缴税额</td>
			<td class="text-center" style="width:14%">应缴所得税额</td>
			<td class="text-center" style="width:14%">应缴税额 </td>
		</tr>
		<tr  ng-repeat="x in vm.expertCostTotalInfo">
			<td align="center">{{$index+1}}</td>
			<td class="text-center">{{x.name}}</td>
			<td class="text-center">{{x.idCard}}</td>
			<td class="text-center">{{x.userPhone}}</td>
			<td class="text-center">{{x.reviewcost}}</td>
			<td class="text-center">{{x.reviewtaxes}}</td>
			<td class="text-center">{{x.yreviewcost}}</td>
			<td class="text-center">{{x.yreviewtaxes}}</td>
		</tr>
		<tr>
			<td colspan="4" class="text-center">合计</td>
			<td class="text-center">{{vm.tMonthReviewcost}}</td>
			<td class="text-center">{{vm.tMonthReviewtaxes}}</td>
			<td class="text-center">{{vm.tYearReviewcost}}</td>
			<td class="text-center">{{vm.tYearReviewtaxes}}</td>
		</tr>
	</table>
</div>

