<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>
<script src="${path}/contents/libs/util/lgx.page.js"></script>
<link rel="stylesheet" href="${path}/contents/libs/util/lgx.page.css">
<!-- 财务办理模块 -->
<div id="reviewCostWindow" style="background:white;display: none;">
    <#include "/financial/costAdd.html"/>
</div>


<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li>评审费统计管理</li>
        <li class="active">{{vm.title}}</li>
    </ol>

    <div class="well well-sm">
        <table style="width: 100%">
            <tr style="height: 40px;">
                <td class="text-right" style="width:120px;"><span class="help-inline">项目名称：</span></td>
                <td style="width: 35%" >
                    <input type="text" class="form-control input-sm " ng-model="vm.model.projectname" operator="like" name="projectname" id="projectname"
                           placeholder="请输入">
                </td>
                <td class="text-right" style="width:120px;"><span class="help-inline">建设单位：</span></td>
                <td colspan="2">
                    <input type="text" class="form-control input-sm " ng-model="vm.model.builtcompanyname" operator="like" name="builtcompanyname"
                           id="builtcompanyname" placeholder="请输入">
                </td>
            </tr>
            <tr style="height: 40px;">
                <td class="text-right">
                    <span class="help-inline">付款日期：</span>
                </td>
                <td >
                    <input name="beginTime" kendo-date-picker k-format="'yyyy-MM-dd'"
                           ng-model="vm.model.beginTime" value="" type="text" operator="ge"/>
                    至
                    <input name="endTime"kendo-date-picker k-format="'yyyy-MM-dd'"
                           ng-model="vm.model.endTime" value="" type="text" operator="le"/>
                </td>

                <td class="text-right" style="width: 10%;"><span class="help-inline">评审部门：</span></td>
                <td style="width: 25%;">
                    <select ng-model="vm.model.deptName" operator="eq" class="form-control select-sm ">
                        <option value="">请选择</option>
                        <option ng-repeat="x in vm.orgDeptList" value="{{x.name}}">{{x.name}}</option>
                    </select>
                </td>
                <td >
                    <button style="margin-left: 15px;" class="btn btn-sm btn-primary" ng-click="vm.queryFinancl()" ng-disabled="vm.isSubmit">
                        <span class="glyphicon glyphicon-search"></span>查询
                    </button>
                    <button class="btn btn-sm btn-primary" ng-click="vm.resetQuery()">
                        <span class="glyphicon glyphicon-repeat"></span>重置
                    </button>
                </td>
            </tr>
        </table>
    </div>

    <div  style="width: 100%;padding:5px 10px;">
        【
        <span class="label-info span_flag"></span> 已发文
        <span class="label-primary span_flag"></span> 已发送报销
        <span class="label-success span_flag" ></span> 已发送存档
        <span class="label-default span_flag" ></span> 已办结
        <span id="span1" style="margin-left: 15px;"><img src="${path}/contents/images/purple.png" style="width: 16px; height: 16px;"></span></span>暂停
        <span id="span2"><img src="${path}/contents/images/yellow.png" style="width: 16px; height: 16px;">少于3个工作日
        <span id="span3"><img src="${path}/contents/images/red.png" style="width: 16px; height: 16px;"></span>发文超期
        <span id="span4"><img src="${path}/contents/images/dark.png" style="width: 16px; height: 16px;"></span>超过25个工作日未存档
        <span id="span5"><img src="${path}/contents/images/black.png" style="width: 16px; height: 16px;"></span>存档超期
        】
    </div>


    <div>
        <table class="table table-bordered"  style="margin-top: 5px;">
            <tr>
                <td width="5%"></td>
                <td width="5%">序号</td>
                <td width="15%">项目名称</td>
                <th class="text-center" style="width:20%">建设单位</th>
                <td width="15%">项目阶段</td>
                <td width="10%">项目负责人</td>
                <th class="text-center" style="width:10%">计划专家费用</th>
                <th class="text-center" style="width:10%;">付款日期</th>

            </tr>
            <tr ng-repeat="s in vm.stageCountList">
                <td class="text-center">
                    <span ng-if="s.isLightUp == 4">
                        <img src="${path}/contents/images/purple.png" style="width: 16px; height: 16px;">
                    </span>
                    <span ng-if="s.isLightUp == 5">
                        <img src="${path}/contents/images/yellow.png" style="width: 16px; height: 16px;">
                    </span>
                    <span ng-if="s.isLightUp == 6">
                        <img src="${path}/contents/images/red.png" style="width: 16px; height: 16px;">
                    </span>
                    <span ng-if="s.isLightUp == 7">
                        <img src="${path}/contents/images/dark.png" style="width: 16px; height: 16px;">
                    </span>
                    <span ng-if="s.isLightUp == 8">
                        <img src="${path}/contents/images/black.png" style="width: 16px; height: 16px;">
                    </span>
                </td>
                <td class="text-center">
                    <span style='width: 100%;display: inline-block;' ng-class="{'label-info':(s.processState && s.processState == 6), 'label-primary': (s.processState && s.processState ==7 ), 'label-success': (s.processState && s.processState ==8 ), 'label-default': (s.processState && s.processState ==9 )}">
                    {{$index + 1}}
                    </span>
                </td>
                <td class="text-center"><a href="" ng-click="vm.showCostWindow(s,'reviewCostWindow')">{{s.projectname}}</a></td>
                <td class="text-center">{{s.builtcompanyname}}</td>
                <td class="text-center">{{s.reviewstage}}</td>
                <td class="text-center">{{s.principal}}</td>
                <td class="text-center">{{s.totalCost}}</td>
                <td class="text-center">{{s.payDate}}</td>
            </tr>
            <tr>
                <td colspan="9">
                    <div id="demo5" class="lgx_page_l"  style="clear: both;">
                        <a lu-page="first">首页</a>
                        <a lu-page="prev">上一页</a>
                        <a lu-page="list"></a>
                        <a lu-page="next">下一页</a>
                        <a lu-page="last">尾页</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>



</div>

