<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/sharingPlatlform">财务管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
     <div class="toolbar">
		<button ng-click="vm.addFinancial()"  class="btn btn-sm btn-primary" style="margin-left:10px;"></span>打印预览</button>
		<button ng-click="vm.saveFinancial()" class="btn btn-sm btn-primary" style="margin-left:10px;"  value="saveCommonIdea">打印</button>
		<button class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="">分类统计</button>
		<button  class="btn btn-sm btn-primary" ng-click="back();"><span class="glyphicon glyphicon-chevron-left"></span>返回</button>						
							
    </div>
    <form id="form" name="form">
       <div class="well">
       		<table border="1px">
		<tbody>
			<tr>
				
				<td><span class="help-inline" style="margin-left:10px;">项目名称：</span></td>
				<td>
				<input type="text" style="width:200px" ng-model="vm.model.loginName" operator="like" name="loginName" id="loginName" placeholder="请输入">
				</td>
				<td>
				<span class="help-inline" style="margin-left:10px;">建设单位：</span>
				</td>
				<td>
					<input type="text" style="width:100px" ng-model="vm.model.loginName" operator="like" name="loginName" id="loginName" placeholder="请输入">
				</td>
			    <td><span class="help-inline" style="margin-left:10px;">费用类型：</span></td>
				<td>
						<select ng-model="vm.financials.chargeName"
							style=" height: 26px;">
								<option ng-repeat="d in DICT.CWBL_FYMC.dicts"
									value="{{d.dictName}}" ng-selected="x.chargeName == d.dictName">{{d.dictName}}
								</option>
						</select>
				</td>
				<td><a class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="vm.queryUser()">查询</a></td>
			</tr>
			<tr>
				<td><span class="help-inline" style="margin-left:10px;">评审阶段：</span></td>
				<td>
				     <select ng-model="vm.model.reviewstage"  name="reviewstage" id="reviewstage" data-val="true" data-val-required="请选择项目阶段" >
                        <option value="">请选择</option>
                        <option ng-repeat="x in DICT.PRO_STAGE.dicts|orderBy:'dictSort'" value="{{x.dictName}}">{{x.dictName}}</option>
                    </select>
				</td>
				<td><span class="help-inline" style="margin-left:10px;">评审部门：</span></td>
				<td>
						<select ng-model="vm.financials.chargeName"  style="height:26px;">
					               <option ng-repeat="d in DICT.CWBL_FYMC.dicts" value="{{d.dictName}}"
					                          ng-selected="x.chargeName == d.dictName" >{{d.dictName}}
					                </option>
					     </select>
			   </td>
				<td><span class="help-inline" style="margin-left:10px;">付款日期：</span></td>
				<td> <input name="beginTime" style="width:124px" kendo-date-picker k-format="'yyyy-MM-dd'"  ng-model="vm.model.beginTime" value="" type="text" operator="and"/>
			至
			<input name="endTime" style="width:124px" kendo-date-picker k-format="'yyyy-MM-dd'"  ng-model="vm.model.endTime" value="" type="text" operator="and" /></td>
				<td><a class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="vm.queryUser()">重置</a></td>
			</tr>
		</tbody>
	</table>
	     
        </div>
       
        
 		 <div style="text-align:center" >
 				<h3> 深圳市政府投资项目评审中心<br>
 					项目评审费交税统计表</h3>
 		 </div>
       
        <script type="text/template" id="columnBtns">
            <@shiro.hasPermission name="#financialManager#put">
            <a class="btn btn-xs btn-primary" href="#/financialManager/{0}"><span class="glyphicon glyphicon-pencil"></span>财务办理</a>
            </@shiro.hasPermission>
        </script>

        <div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
    </form>
</div>

