<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
	<ol class="breadcrumb">
		<li><a href="#/sharingPlatlform">项目评审费分类统计</a></li>
		<li class="active">{{vm.title}}</li>
	</ol>

            <div class="toolbar">
                <button class="btn btn-sm btn-primary" ng-click="vm.proCostClassifyCount()" ng-disabled="vm.isSubmit">
                    <span class="glyphicon glyphicon-search"></span>统计
                </button>
                <button class="btn btn-sm btn-primary" ng-click="vm.formReset()">
                    <span class="glyphicon glyphicon-repeat"></span>重置
                </button>
                <!--
                 <button ng-click="vm.projectCostCountList()" class="btn btn-sm btn-primary"  value="saveCommonIdea">查看费用统计</button>
                 -->
          <!--      <span class="attentionDiv" style="padding:5px;font-size: 12px;">
        <i class="fa fa-exclamation-triangle" aria-hidden="true" ></i>
        温馨提示：统计查询耗时较长，统计时，尽量不要进行大数据量的项目统计！
        </span>-->
            </div>
    <div class="well well-sm">
            <form id="form" name="form">

                <table style="width:100%; ">
                    <tr>
                        <td class="text-right" style="width:80px;">项目名称</td>
                        <td>
                            <input ng-model="vm.model.projectname"  type="text" operator="like"/>
                        </td>
                        <td class="text-right" style="width:80px;">建设单位</td>
                        <td>
                            <input ng-model="vm.model.builtcompanyname"  type="text" operator="like"/>
                        </td>
                        <td class="text-right" style="width:80px;">付款日期</td>
                        <td style="width: 260px;">
                        <input ng-model="vm.model.beginTime" style="width: 113px;"  kendo-date-picker k-format="'yyyy-MM-dd'" type="text" operator="ge"/>
                            至
                            <input  ng-model="vm.model.endTime" style="width: 113px;"  kendo-date-picker k-format="'yyyy-MM-dd'" type="text" operator="le"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right">费用类型</td>
                        <td>
                            <select ng-model="vm.model.chargeName"
                                    style=" height: 26px;">
                                <option value="">请选择</option>
                                <option ng-repeat="d in DICT.CWBL_FYMC.dicts"
                                        value="{{d.dictName}}">{{d.dictName}}
                                </option>
                            </select>
                        </td>

                        <td class="text-right">评审阶段</td>
                        <td>
                            <select ng-model="vm.model.reviewstage"  name="reviewstage" id="reviewstage" style="height:26px;">
                                <option value="">请选择</option>
                                <option ng-repeat="x in DICT.PRO_STAGE.dicts|orderBy:'dictSort'" value="{{x.dictName}}">{{x.dictName}}</option>
                            </select>
                        </td>

                        <td class="text-right">评审部门</td>
                        <td>
                            <select ng-model="vm.model.deptName"  style="height:26px;">
                                <option value="">请选择</option>
                                <option ng-repeat="x in vm.orgDeptList" value="{{x.name}}">{{x.name}}</option>
                            </select>
                        </td>
                        <td>
                        </td>
                    </tr>
                </table>
		</div>
		<div>
			<table border="1px" style="width: 100%;">
                <tr>
                    <td colspan="7" class="text-center">
                        <h3><strong>{{getSysAccreditUnit()}}<br>
                        项目评审费统计表
                        </strong></h3>
                    </td>
                </tr>
				<tr >
					<td style="width:20%"  class="text-center">项目名称</td>
					<td style="width:15%"  class="text-center">建设单位</td>
					<td style="width:20%"  class="text-center">评审阶段</td>
					<td style="width:15%"  class="text-center">项目负责人</td>
					<td style="width:10%"  class="text-center">费用（元）</td>
					<td style="width:10%"  class="text-center">付款日期</td>
					<td style="width:10%"  class="text-center">备注</td>
				</tr>
				<tbody ng-repeat="c in vm.proReviewClassifyCountDtoList">
				<tr>
					<td colspan="7"><strong>{{c.chargeName}}</strong></td>
				</tr>
				<tr ng-dblclick="vm.initFinancial(x.businessId)"  ng-repeat="x in vm.proReviewClassifyDetailDtoList" ng-if="x.chargeName==c.chargeName">
					<td rowspan={{x.financialManagerDtoList.length+1}}>{{x.projectname}}</td>
					<td rowspan={{x.financialManagerDtoList.length+1}}>{{x.builtcompanyname}}</td>
					<td class="text-center">{{x.reviewstage}}</td>
					<td class="text-center">{{x.principal}}</td>
					<td class="text-center">{{x.charge}}</td>
					<td class="text-center">{{x.payDate}}</td>
					<td class="text-center">{{x.remarke}}</td>
				</tr>
				<tr>
					<td class="text-center"><strong>合计</strong></td>
					<td class="text-center"><strong>{{c.totalCharge}}</strong></td>
				</tr>
				</tbody>
			</table>
		</div>
	</form>
</div>

