<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
	<ol class="breadcrumb">
		<li><a href="#/sharingPlatlform">项目评审费统计</a></li>
		<li class="active">{{vm.title}}</li>
	</ol>
	<form id="form" name="form">
		<div class="well">
			<span>统计月份：</span>
			<input id="beginTime" name="beginTime" style="width:130px" kendo-date-picker k-format="'yyyy-MM'"  ng-model="vm.model.beginTime" value="" type="text" operator="and"/>
			<a class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="vm.countExpertCost()">统计</a>
	<!--		<button ng-click="vm.addFinancial()"  class="btn btn-sm btn-primary" style="margin-left:10px;"></span>打印预览</button>
			<button ng-click="vm.saveFinancial()" class="btn btn-sm btn-primary" style="margin-left:10px;"  value="saveCommonIdea">打印</button>-->
			<button ng-click="vm.getExpertCoustDetail()" class="btn btn-sm btn-primary" style="margin-left:10px;"  value="saveCommonIdea">分类统计</button>
			<button class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="vm.excelExport()">导出EXCLE</button>
		</div>
		<div class="well">
			<table border="1px" style="width: 100%;">
				<caption class="text-center h3">
					<strong>深圳市政府投资项目评审中心<br>
						项目评审费统计表
					</strong>
				</caption>
				<tr >
					<td style="width:5%"  class="text-center">序号</td>
					<td style="width:15%"  class="text-center">项目名称</td>
					<td style="width:15%"  class="text-center">建设单位</td>
					<td style="width:10%"  class="text-center">评审阶段</td>
					<td style="width:5%"  class="text-center">项目负责人</td>
					<td style="width:10%"  class="text-center">项目评审费（元）</td>
					<td style="width:10%"  class="text-center">付款日期</td>
					<td style="width:10%"  class="text-center">申报投资（元）</td>
					<td style="width:10%"  class="text-center">审定投资（元）</td>
					<td style="width:10%"  class="text-center">签收日期</td>
				</tr>
				<tbody ng-if="vm.projectReviewCostDtoList" ng-repeat="x in vm.projectReviewCostDtoList">
				<tr>
					<td rowspan="{{x.financialManagerDtoList.length+1}}">{{$index+1}}</td>
					<td rowspan={{x.financialManagerDtoList.length+1}}>{{x.projectname}}</td>
					<td rowspan={{x.financialManagerDtoList.length+1}}>{{x.builtcompanyname}}</td>
					<td class="text-center">{{x.reviewstage}}</td>
					<td class="text-center">{{x.principal}}</td>
					<td class="text-center">{{x.totalCost}}</td>
					<td class="text-center">{{x.payDate}}</td>
					<td class="text-center">{{x.declareValue}}</td>
					<td class="text-center">{{x.authorizeValue}}</td>
					<td class="text-center">{{x.signdate}}</td>
				</tr>
				<tr ng-repeat="f in x.financialManagerDtoList track by $index">
					<td class="text-center">{{$index+1}}</td>
					<td class="text-center">{{f.chargeName}}</td>
					<td class="text-center">{{f.charge}}</td>
				</tr>
				</tbody>
			</table>
		</div>
	</form>
</div>

