<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
	<ol class="breadcrumb">
		<li><a >项目评审情况统计</a></li>
		<li class="active">{{vm.title}}</li>
	</ol>
	<div class="well well-sm">
	<form id="form" name="form" >
		<span>统计月份：</span>
		<input id="beginTime" name="beginTime" style="width:130px" kendo-date-picker k-format="'yyyy-MM'"  ng-model="vm.model.beginTime" value="" type="text" operator="ge" ng-change="vm.isBeginTime()"/>
		至
		<input name="endTime" style="width:124px" kendo-date-picker k-format="'yyyy-MM'"  ng-model="vm.model.endTime" value="" type="text" operator="le" ng-change="vm.isBeginTime()" />
		<a class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="vm.proReviewConCount()"><span class="glyphicon glyphicon-search"></span>统计</a>
		<button class="btn btn-sm btn-primary" onclick="printpage(this)">打印</button>
	</form>
	</div>
	<table class="table-bordered table">
		<caption class="text-center h3">
			<strong ng-if="vm.model.beginTime && vm.model.endTime==''">{{vm.year}}年{{vm.begMonth}}月项目评审情况统计表<br>
			</strong>
			<strong ng-if="vm.model.beginTime=='' && vm.model.endTime">{{vm.year}}年{{vm.endMonth}}月项目评审情况统计表<br>
            </strong>
			<strong ng-if="vm.model.beginTime && vm.model.endTime && vm.model.beginTime != vm.model.endTime ">{{vm.year}}年{{vm.begMonth}}月至{{vm.year}}年{{vm.endMonth}}月项目评审情况统计表<br>
			</strong>
            <strong ng-if=" vm.model.beginTime && vm.model.endTime && vm.model.beginTime == vm.model.endTime">{{vm.year}}年{{vm.begMonth}}月项目评审情况统计表<br>
            </strong>
		</caption>
		<tr >
			<td style="width:20%"  class="text-center">评审阶段</td>
			<td style="width:10%"  class="text-center">项目数</td>
			<td style="width:20%"  class="text-center">申报总投资(亿元)</td>
			<td style="width:20%"  class="text-center">审核后总投资（亿元）</td>
			<td style="width:10%"  class="text-center">累计净核减投资（亿元）</td>
			<td style="width:20%"  class="text-center">核减率（%）</td>
		</tr>
		<tr ng-repeat="x in vm.protReviewConditionList">
			<td class="text-center">{{x.reviewStage}}</td>
			<td class="text-center">{{x.proCount}}</td>
			<td class="text-center">{{x.declareValue}}</td>
			<td class="text-center">{{x.authorizeValue}}</td>
			<td class="text-center">{{x.ljhj}}</td>
			<td class="text-center" ng-if="x.hjl!=undefined">{{x.hjl}}%</td>
            <td class="text-center" ng-if="x.hjl==undefined"> </td>
		</tr>
		<tr ng-if="vm.protReviewConditionList">
			<td class="text-center" ><strong>合计</strong></td>
			<td class="text-center" >{{vm.total.projectcount}}</td>
			<td class="text-center">{{vm.total.declarevalue}}</td>
			<td class="text-center">{{vm.total.authorizevalue}}</td>
			<td class="text-center">{{vm.total.ljhj}}</td>
			<td class="text-center"  ng-if="vm.total.hjl">{{vm.total.hjl}}%</td>
			<td ng-if="!(vm.total.hjl)"></td>
		</tr>
	</table>

</div>

