<div id="expertCostWindow" class="well well-sm" style="background:white;display: none;">
	<div  style="background:white;" id="reworkWorkPlanList">
		<div  ng-show="vm.reworkWorkPlanCost">
			<button  class="btn btn-xs btn-success" ng-click="vm.reworkWorkPlanSumbit()">
				提交重写工作方案
			</button>
			<div id="expertConst" class="collapse in" ng-show="vm.reworkWorkPlanCost">
				<table class="table table-bordered">
					<caption class="text-center h3"><strong>{{vm.reworkWorkTitle}}</strong></caption>
					<tr>
						<td>序号</td>
						<td>流程名</td>
						<td>项目名称</td>
						<td>别的信息</td>
						<td>别的信息</td>
					</tr>
					<tr ng-repeat="x in vm.reworkWorkPlanList | filter:{isConfrim:'9',isJoin:'9'}">
						<td>{{$index+1}}</td>
						<td>{{x.expertDto.name}}</td>
						<td ng-if="x.expertDto.expertField==2">是</td>
						<td ng-if="x.expertDto.expertField==1||x.expertDto.expertField==0">否</td>
						<td>{{x.expertDto.openingBank}}/{{x.expertDto.bankAccount}}</td>
						<td>{{x.reviewCost}}</td>
						<td> {{x.reviewTaxes}}</td>

					</tr>
				</table>
			</div>
		</div>
	</div>
</div>


