<!-- start 专家费用 -->
<div  id="stageCostWindow" class="well well-sm" style="background:white;display:none;">
    <div class="well">
        评审费发放日期：<input type="text" name="payDate_{{$index}}" id="payDate_{{$index}}" style="width: 200px;"
                       class="form-control input-sm " kendo-date-picker k-format="'yyyy-MM-dd'"
                       ng-model="vm.payDate" data-val-date="必须为日期">
        <span data-valmsg-for="payDate_{{$index}}" data-valmsg-replace="true" class="errors"></span>
        <button  class="btn btn-sm btn-primary" ng-click="vm.exportExcel()"><span class="glyphicon glyphicon-file"></span>导出EXCEL</button>
    </div>

    <form id="payform" name="payform">

        <table class="table table-bordered">
            <caption class="text-center h3"><strong>{{vm.reviewTitle}}</strong></caption>
            <tr>
                <td>序号</td>
                <td>姓名</td>
                <td>身份证号码</td>
                <td>开户行/银行账号</td>
                <td>评审费</td>
                <td>应纳税额</td>
                <td>合计（元）</td>
                <td>是否函评</td>
            </tr>
            <tr ng-repeat="x in vm.expertSelectedDtoList">
                <td>{{$index+1}}</td>
                <td>{{x.expertDto.name}}</td>
                <td>{{x.expertDto.idCard}}</td>
                <td>{{x.expertDto.openingBank}}/{{x.expertDto.bankAccount}}</td>
                <td>{{x.reviewCost}}</td>
                <td> {{x.reviewTaxes}}</td>
                <td> {{x.totalCost}}</td>
                <td>
                    <input type="checkbox" name="isSupplementary" ng-checked="x.isLetterRw==9" ng-true-value="9" ng-false-value="9">是
                </td>
            </tr>
            <tr>
                <td colspan="4"></td>
                <td>{{vm.expertReview.reviewCost}}</td>
                <td>{{vm.expertReview.reviewTaxes}}</td>
                <td>{{vm.expertReview.totalCost}}</td>

            </tr>
        </table>



    </form>
</div>
  