
<meta charset="UTF-8">
<!-- S 进口设备 -->

<table class="table table-bordered">
    <caption class="text-center">
        <p class="h3">
            <strong>深圳市政府投资项目评审中心<br>({{vm.fileRecord.fileReviewstage}})项目存档表</strong>
        </p>
        <p>
            <span style="width: 200px;float: left;padding: 5px 10px;">QR-4.10-04-A0</span>
            <span style="width: 200px;float: right;padding: 5px 10px;">档案编号：{{vm.fileRecord.fileNo}}</span>
        </p>
        </caption>
    <tbody>

    <tr>
        <td width="15%" class="text-center">项目名称</td>
        <td>
            {{vm.fileRecord.projectName}}
        </td>
        <td width="15%" class="text-center"></td>
        <td>
            是否曾经暂停 :
            <span>
					  <input type="checkbox" disabled="true" ng-model="vm.fileRecord.isStachProject" name="isStachProject" ng-checked="vm.fileRecord.isStachProject==9"  ng-true-value="9" >是
				  </span>
            <span style="margin-left: 10px;">
					  <input type="checkbox" disabled="true" ng-model="vm.fileRecord.isStachProject" name="isStachProject" ng-checked="!vm.fileRecord.isStachProject || vm.fileRecord.isStachProject==0" ng-true-value="0" >否
				  </span>
            </br>
            是否有补充资料:
            <span>
					  <input type="checkbox" disabled="true" ng-model="vm.fileRecord.isSupplementary" name="isSupplementary" ng-checked="vm.fileRecord.isSupplementary==9" ng-true-value="9" >是
				  </span>
            <span style="margin-left: 10px;">
					  <input type="checkbox" disabled="true" ng-model="vm.fileRecord.isSupplementary" name="isSupplementary" ng-checked="!vm.fileRecord.isSupplementary || vm.fileRecord.isSupplementary==0"  ng-true-value="0">否
				  </span>
        </td>
    </tr>

    <tr>
        <td width="15%" class="text-center">项目单位</td>
        <td>
            {{vm.fileRecord.projectCompany}}
        </td>
        <td width="15%" class="text-center">项目代码</td>
        <td>
            {{vm.fileRecord.projectCode}}
        </td>
    </tr>
    <tr>
        <td width="15%" class="text-center">文件标题</td>
        <td>
            {{vm.fileRecord.fileTitle}}
        </td>
        <td width="15%" class="text-center">文号</td>
        <td>
            {{vm.fileRecord.fileNumber}}
        </td>
    </tr>

    <tr>
        <td width="15%" class="text-center" rowspan="2">评审会相关资料</td>
        <td colspan="3">
            <table class="table" style="border: 0px solid transparent !important;">
                <tr>
                    <td style="border-top:none;width: 360px;">&nbsp;</td>
                    <td style="border-top:none;width: 80px;">原件</td>
                    <td style="border-top:none;width: 80px;">复印件</td>
                    <td style="border-top:none;width: 80px;">份数</td>
                    <td></td>
                </tr>

                <tr>
                    <td style="border-top:none;">1、评审会专家评审意见</td>
                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.expertOriginal" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.expertCopy" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字"
                               ng-model="vm.fileRecord.expertCount" name="expertCount" id="expertCount"  ng-readonly="true">
                    </td>
                </tr>
                <tr>
                    <td style="border-top:none;">2、专家个人意见</td>
                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.expertAmanOriginal" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.expertAmanCopy" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字"
                               ng-model="vm.fileRecord.expertAmanCount" name="expertAmanCount" id="expertAmanCount" ng-readonly="true">
                    </td>
                </tr>
                <tr>
                    <td style="border-top:none;">3、评审会议工作方案</td>
                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.planOriginal" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.planCopy" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字"
                               ng-model="vm.fileRecord.planCount" name="planCount" id="planCount"  ng-readonly="true">
                    </td>
                </tr>
                <tr>
                    <td style="border-top:none;">4、会议签到表</td>
                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.meetingSignOriginal" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.meetingSignCopy" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字"
                               ng-model="vm.fileRecord.meetingSignCount" name="meetingSignCount" id="meetingSignCount" ng-readonly="true">
                    </td>
                </tr>
                <tr>
                    <td style="border-top:none;">5、评审会发放表</td>
                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.stageCostOriginal" ng-true-value="9" ng-false-value="0" ng-disabled="true" >
                    </td>
                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.stageCostCopy" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字"
                               ng-model="vm.fileRecord.stageCostCount" name="stageCostCount" id="stageCostCount" ng-readonly="true">
                    </td>
                </tr>
                <tr>
                    <td style="border-top:none;">6、报审登记表</td>
                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.recordFormOriginal" ng-true-value="9" ng-false-value="0" ng-disabled="true" >
                    </td>
                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.recordFormCopy" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字"
                               ng-model="vm.fileRecord.recordFormCount" name="recordFormCount" id="recordFormCount" ng-readonly="true">
                    </td>
                </tr>

            </table>
        </td>
    </tr>

    <tr>

    </tr>

    <tr>
        <td width="15%" class="text-center">项目申报资料</td>
        <td colspan="3">
            <table class="table">
                <tr>
                    <td style="border-top:none;width:260px;">&nbsp;</td>
                    <td style="border-top:none;width:80px;">原件</td>
                    <td style="border-top:none;width:80px;">复印件</td>
                    <td style="border-top:none;width:80px;">份数</td>
                    <td style="border-top:none;width:260px;">&nbsp;</td>
                    <td style="border-top:none;width:80px;">原件</td>
                    <td style="border-top:none;width:80px;">复印件</td>
                    <td style="border-top:none;width:80px;">份数</td>
                    <td style="border-top:none;"></td>
                </tr>
                <tr>
                    <td style="border-top:none;text-align:right;">项目处理表</td>

                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.sugproHandleFormOriginal" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.sugproHandleFormCopy" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字"
                               ng-model="vm.fileRecord.sugproHandleFormCount" name="sugproHandleFormCount" id="sugproHandleFormCount" ng-readonly="true">
                    </td>
                    <td style="border-top:none;text-align:right;">文件处理表</td>

                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.officialDisposeOriginal" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.officialDisposeCopy" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字"
                               ng-model="vm.fileRecord.officialDisposeCount" name="officialDisposeCount" id="officialDisposeCount" ng-readonly="true">
                    </td>
                </tr>
                <tr>
                    <td style="border-top:none;text-align:right;">政府采购进口产品申请表</td>

                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.governmentPurchasOriginal" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.governmentPurchasCopy" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字"
                               ng-model="vm.fileRecord.governmentPurchasCount" name="governmentPurchasCount" id="governmentPurchasCount" ng-readonly="true">
                    </td>
                    <td style="border-top:none;text-align:right;">主管部门意见</td>

                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.managerDeptOriginal" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.managerDeptCopy" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字"
                               ng-model="vm.fileRecord.managerDeptCount" name="managerDeptCount" id="managerDeptCount" ng-readonly="true">
                    </td>
                </tr>
                <tr>
                    <td style="border-top:none;text-align:right;">专家论证意见</td>

                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.expertArgumentOriginal" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.expertArgumentCopy" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字"
                               ng-model="vm.fileRecord.expertArgumentCount" name="expertArgumentCount" id="expertArgumentCount" ng-readonly="true">
                    </td>
                    <td style="border-top:none;text-align:right;">进口产品目录</td>

                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.importProductOriginal" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.importProductCopy" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字"
                               ng-model="vm.fileRecord.importProductCount" name="importProductCount" id="importProductCount" ng-readonly="true">
                    </td>
                </tr>
                <tr>
                    <td style="border-top:none;text-align:right;">发改委意见</td>

                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.developementOriginal" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.developementCopy" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字"
                               ng-model="vm.fileRecord.developmentCount" name="developmentCount" id="developmentCount" ng-readonly="true">
                    </td>
                    <td style="border-top:none;text-align:right;">设备说明书</td>

                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.sprcialDevicesOriginal" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.sprcialDevicesCopy" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字"
                               ng-model="vm.fileRecord.sprcialDevicesCount" name="sprcialDevicesCount" id="sprcialDevicesCount" ng-readonly="true">
                    </td>
                </tr>

                <tr>
                    <td style="border-top:none;text-align:right;">其他资料</td>

                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.otherImportFileOriginal" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.otherImportFileCopy" ng-true-value="9" ng-false-value="0" ng-disabled="true">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字"
                               ng-model="vm.fileRecord.otherImportFileCount" name="otherImportFileCount" id="otherImportFileCount" ng-readonly="true">
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>

                </tr>

            </table>
        </td>
    </tr>

    <tr ng-if="vm.otherFile">
        <td colspan="4">
            <table class="table">
                <tr>
                    <td style="border-top: none;">其它资料</td>
                    <td style="width: 100px;border-top: none;">原件</td>
                    <td style="width: 100px;border-top: none;">复印件</td>
                    <td style="width: 100px;border-top: none;">份数</td>
                    <td style="width: 10%;border-top: none;">&nbsp;</td>
                </tr>
                <tr ng-repeat="f in vm.otherFile">
                    <td style="border-top: none;">{{$index+1}}、{{vm.otherFile[$index].fileName}}</td>
                    <td style="border-top: none;">
                        <input type="checkbox" ng-disabled="true"
                               ng-model="vm.otherFile[$index].isHasCopyfile"
                               ng-checked="vm.otherFile[$index].isHasCopyfile == '9'"
                               ng-true-value="9" ng-false-value="0"/>
                    </td>
                    <td style="border-top: none;">
                        <input type="checkbox" ng-disabled="true"
                               ng-model="vm.otherFile[$index].isHasOriginfile"
                               ng-checked="vm.otherFile[$index].isHasOriginfile == '9'"
                               ng-true-value="9" ng-false-value="0"/>
                    </td>
                    <td style="border-top: none;">
                        <input type="text" style="width:50px;" ng-disabled="true"
                               ng-model="vm.otherFile[$index].totalNum">
                    </td>
                    <td style="border-top: none;"></td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td width="15%" class="text-center">项目负责人签名</td>
        <td>
            {{vm.fileRecord.projectChargeUser}}
        </td>
        <td width="15%" rowspan='2' class="text-center">发送存档日期</td>
        <td rowspan='2'>
            {{vm.fileRecord.sendStoreDate}}
        </td>

    </tr>
    <tr>
        <td width="15%" class="text-center">项目第二负责人签名</td>
        <td>
            {{vm.fileRecord.projectTwoUser}}
        </td>
    </tr>

    <tr>
        <td width="15%" class="text-center">档案员签收</td>
        <td>
            {{vm.fileRecord.signUserName}}
        </td>
        <td width="15%" class="text-center">纸质文件接受日期</td>
        <td>
            {{vm.fileRecord.pageDate}}
        </td>
    </tr>
    </tbody>
</table>	<!-- end table -->
<!--<button class="form-control btn-sm btn-primary" style="width: 200px; margin: auto;" onclick="printpage(this)">打印</button>-->
<p style="text-align: center;">
    <button class="btn btn-sm btn-primary" style="width: 100px; " ng-click="printFile(vm.model.signid,'FILERECORD' , 'STAGEDEVICE')">打印预览</button>
    <button class="btn btn-sm btn-primary" style="width: 100px;  " ng-click="printFile(vm.fileRecord.fileRecordId,'FILERECOED_OTHERFILE' , 'OTHER_FILE')">打印其它资料</button>
</p>
<!-- E 进口设备 -->