<meta charset="UTF-8">
<!-- S 设备清单（进口） 归档表   //此页面已不使用-->
<!-- s table -->
		<table class="table table-bordered">
		  <caption class="text-center h3"><strong>深圳市政府投资项目评审中心<br>({{vm.fileRecord.fileReviewstage}})项目存档表</strong></caption>

		    <tbody>
		    <tr>
		      <td width="15%" class="text-center">项目名称</td>
		      <td>
				 	{{vm.fileRecord.projectName}}
			  </td>
		       <td width="15%" class="text-center">档案编号</td>
		      <td>
		      	 	{{vm.fileRecord.fileNo}}
		      </td>
		    </tr>
		    
		    <tr>
		      <td width="15%" class="text-center">项目单位</td>
		      <td>
		      		{{vm.fileRecord.projectCompany}}
			  </td>
		      <td width="15%" class="text-center">项目代码</td>
		      <td>
					{{vm.fileRecord.projectCode}}
			  </td>
		    </tr>
		    <tr>
		      <td width="15%" class="text-center">文件标题</td>
		      <td>
		      {{vm.fileRecord.fileTitle}}
		      </td>
		       <td width="15%" class="text-center">文号</td>
		      <td>
				  {{vm.fileRecord.fileNumber}}
		      </td>
		    </tr>	
		       		   
		    <tr>
		    	<td width="15%" class="text-center" rowspan="2">评审会相关资料</td>
		    	<td colspan="3">
		    		<table class="table" style="border: 0px solid transparent !important;">
					    <caption>(一) 评审会相关资料</caption>					    
					    <tbody>
					      <tr>
					        <td style="border-top:none;width:40%;">
							<table class="table" style="border: 0px solid transparent !important;">							    				    
							    <tbody>
							      <tr>
							        <td style="border-top:none;width:40%;">&nbsp;评审相关资料</td>
							       
							      </tr>	
							      <tr>
							        <td style="border-top:none;text-align:right;">1、评审会专家评审意见</td>
							        
							      </tr>	
							      <tr>
							        <td style="border-top:none;text-align:right;">2、专家个人意见</td>
							        
							      </tr>
							      <tr>
							        <td style="border-top:none;text-align:right;">3、评审会议工作方案</td>
							      </tr>	
							      <tr>
							        <td style="border-top:none;text-align:right;">4、会议签到表</td>
							      </tr>	
							      <tr>
							        <td style="border-top:none;text-align:right;">5、评审会发放表</td>
							      </tr>
							      					        					      
							    </tbody>
							  </table>
							</td>
					        <td style="border-top:none;">
								<table class="table" style="border: 0px solid transparent !important;">							    				    
							    <tbody>
							      <tr>
							        <td style="border-top:none;width:25%;">&nbsp;份数</td>
							      
							        <td style="border-top:none;">原件</td>
							        <td style="border-top:none;">附件</td>
							      
							      </tr>	
							    
							      <tr>
							        
							        <td style="border-top:none;">
                                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.expertCount" name="expertCount" id="expertCount" ng-readonly="true">
                                    </td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.expertOriginal" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.expertCopy" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"> <span data-valmsg-for="expertCount" data-valmsg-replace="true" class="errors"></span></td>
							      </tr>	
							      <tr>
							       
							        <td style="border-top:none;">
                                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.expertAmanCount" name="expertAmanCount" id="expertAmanCount" ng-readonly="true">
                                    </td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.expertAmanOriginal" ng-true-value="9" ng-false-value="0" ></td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.expertAmanCopy" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"> <span data-valmsg-for="expertAmanCount" data-valmsg-replace="true" class="errors"></span></td>
							      </tr>	
							      
							       <tr>
							       
							        <td style="border-top:none;">
                                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.meetingSignCount" name="meetingSignCount" id="meetingSignCount" ng-readonly="true">
                                    </td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.meetingSignOriginal" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.meetingSignCopy" ng-true-value="9" ng-false-value="0"></td>
							      	<td style="border-top:none;"> <span data-valmsg-for="meetingSignCount" data-valmsg-replace="true" class="errors"></span></td>
							      </tr>	
							       <tr>
							       
							        <td style="border-top:none;">
                                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.stageCostCount" name="stageCostCount" id="stageCostCount" ng-readonly="true">
                                    </td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.stageCostOriginal" ng-true-value="9" ng-false-value="0" ></td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.stageCostCopy" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"> <span data-valmsg-for="stageCostCount" data-valmsg-replace="true" class="errors"></span></td>
							      </tr>								   
							      		        					      
							    </tbody>
							  </table>
							</td>					        					      
					    </tbody>
					  </table>
		    	</td>
		    </tr>
		    
		    <tr>
		    	
		    </tr>
		    
		    <tr>
		      <td width="15%" class="text-center">项目申报资料</td>
		      <td colspan="3">
			  	<table class="table">
					    <caption>(二)项目申报资料</caption>					    
					    <tbody>
					      <tr>
					        <td style="border-top:none;width:40%;">
							<table class="table" style="border: 0px solid transparent !important;">							    				    
							    <tbody>
							      <tr>
							        <td style="border-top:none;width:34%;">&nbsp;</td>
							        <td style="border-top:none;">份数</td>
							        <td style="border-top:none;">原件</td>
							        <td style="border-top:none;">附件</td>
							      </tr>	
							      <tr>
							        <td style="border-top:none;text-align:right;">项目处理表</td>
							        <td style="border-top:none;">
                                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.sugproHandleFormCount" name="sugproHandleFormCount" id="sugproHandleFormCount" ng-readonly="true">
                                    </td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.sugproHandleFormOriginal" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.sugproHandleFormCopy" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"> <span data-valmsg-for="sugproHandleFormCount" data-valmsg-replace="true" class="errors"></span></td>
							      </tr>	
							      <tr>
							        <td style="border-top:none;text-align:right;">项目申报表</td>
							        <td style="border-top:none;">
										<input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.projectDeclareCount" name="projectDeclareCount" id="projectDeclareCount" ng-readonly="true">
									</td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.projectDeclareOriginal" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.projectDeclareCopy" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"> <span data-valmsg-for="projectDeclareCount" data-valmsg-replace="true" class="errors"></span></td>
							      </tr>	
							       <tr>
							        <td style="border-top:none;text-align:right;">可研报告</td>
							        <td style="border-top:none;">
                                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.feasibilityReportCount" name="feasibilityReportCount" id="feasibilityReportCount" ng-readonly="true">
                                    </td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.feasibilityReportOriginal" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.feasibilityReportCopy" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"> <span data-valmsg-for="feasibilityReportCount" data-valmsg-replace="true" class="errors"></span></td>
							      </tr>
							       <tr>
							        <td style="border-top:none;text-align:right;">项目申请报告</td>
							        <td style="border-top:none;">
                                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.projectApplyReportCount" name="projectApplyReportCount" id="projectApplyReportCount" ng-readonly="true">
                                    </td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.projectApplyReportOriginal" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.projectApplyReportCopy" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"> <span data-valmsg-for="projectApplyReportCount" data-valmsg-replace="true" class="errors"></span></td>
							      </tr>	
							       <tr>
							        <td style="border-top:none;text-align:right;">电子文档</td>
							        <td style="border-top:none;">
                                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.electronicDocumentCount" name="electronicDocumentCount" id="electronicDocumentCount" ng-readonly="true">
                                    </td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.electronicDocumentOriginal" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.electronicDocumentCopy" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"> <span data-valmsg-for="electronicDocumentCount" data-valmsg-replace="true" class="errors"></span></td>
							      </tr>	
							       <tr>
							        <td style="border-top:none;text-align:right;">申报登记表</td>
							        <td style="border-top:none;">
                                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.declareRegisterCount" name="declareRegisterCount" id="declareRegisterCount" ng-readonly="true">
                                    </td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.declareRegisterOriginal" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.declareRegisterCopy" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"> <span data-valmsg-for="declareRegisterCount" data-valmsg-replace="true" class="errors"></span></td>
							      </tr>
							      <tr>
							        <td style="border-top:none;text-align:right;">其他资料</td>
							        <td style="border-top:none;">
                                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.otherImportFileCount" name="otherImportFileCount" id="otherImportFileCount" ng-readonly="true">
                                    </td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.otherImportFileOriginal" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.otherImportFileCopy" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"> <span data-valmsg-for="otherImportFileCount" data-valmsg-replace="true" class="errors"></span></td>
							      </tr>
							      			        					      
							    </tbody>
							  </table>
							</td>
					        <td style="border-top:none;">
								<table class="table" style="border: 0px solid transparent !important;">							    				    
							    <tbody>
							      <tr>
							        <td style="border-top:none;width:40%;">&nbsp;</td>
							        <td style="border-top:none;">份数</td>
							        <td style="border-top:none;">原件</td>
							        <td style="border-top:none;">附件</td>
							      </tr>
							      <tr>
							        <td style="border-top:none;text-align:right;">采购设备清单</td>
							        <td style="border-top:none;">
                                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.purchasDeviceCount" name="purchasDeviceCount" id="purchasDeviceCount" ng-readonly="true">
                                    </td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.purchasDeviceOriginal" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.purchasDeviceCopy" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"> <span data-valmsg-for="purchasDeviceCount" data-valmsg-replace="true" class="errors"></span></td>
							      </tr>	
							      <tr>
							        <td style="border-top:none;text-align:right;">项目核准文件</td>
							        <td style="border-top:none;">
										<input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.projectApproveFileCount" name="projectApproveFileCount" id="projectApproveFileCount" ng-readonly="true">
									</td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.projectApproveFileOriginal" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.projectApproveFileCopy" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"> <span data-valmsg-for="projectApproveFileCount" data-valmsg-replace="true" class="errors"></span></td>
							      </tr>	
							       <tr>
							        <td style="border-top:none;text-align:right;">设备说明书</td>
							        <td style="border-top:none;">
                                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.sprcialDevicesCount" name="sprcialDevicesCount" id="sprcialDevicesCount" ng-readonly="true">
                                    </td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.sprcialDevicesOriginal" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.sprcialDevicesCopy" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"> <span data-valmsg-for="sprcialDevicesCount" data-valmsg-replace="true" class="errors"></span></td>
							      </tr>
							       <tr>
							        <td style="border-top:none;text-align:right;">采购合同书</td>
							        <td style="border-top:none;">
                                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.purchasDevicePactCount" name="purchasDevicePactCount" id="purchasDevicePactCount" ng-readonly="true">
                                    </td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.purchasDevicePactOriginal" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.purchasDevicePactCopy" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"> <span data-valmsg-for="purchasDevicePactCount" data-valmsg-replace="true" class="errors"></span></td>
							      </tr>	
							        <tr>
							        <td style="border-top:none;text-align:right;">营业执照</td>
							        <td style="border-top:none;">
                                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.businessLicenseCount" name="businessLicenseCount" id="businessLicenseCount" ng-readonly="true">
                                    </td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.businessLicenseOriginal" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.businessLicenseCopy" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"> <span data-valmsg-for="businessLicenseCount" data-valmsg-replace="true" class="errors"></span></td>
							      </tr>		
							        <tr>
							        <td style="border-top:none;text-align:right;">法人代表身份证</td>
							        <td style="border-top:none;">
                                        <input type="text" style="width:50px;" class="form-control input-sm " data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.legalPersoncCardCount" name="legalPersoncCardCount" id="legalPersoncCardCount" ng-readonly="true">
                                    </td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.legalPersoncCardOriginal" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.fileRecord.legalPersoncCardCopy" ng-true-value="9" ng-false-value="0"></td>
							        <td style="border-top:none;"> <span data-valmsg-for="sprcialDevicesCount" data-valmsg-replace="true" class="errors"></span></td>
							      </tr>			
							    
							    </tbody>
							  </table>
							</td>					        					      
					    </tbody>
					  </table>
			  </td>		      
		    </tr>
		    <tr>
		      <td width="15%" class="text-center">其他资料</td>
		      <td colspan="3">
			  	<a class="btn btn-xs btn-primary" ><span class="glyphicon glyphicon-pencil"></span>编辑</a>
			  </td>		      
		    </tr>		    
		      <tr>
		      <td width="15%" class="text-center">项目负责人（签名）</td>
		      <td>
				  {{vm.fileRecord.projectChargeUser}}
		      </td>
		       <td width="15%" class="text-center">表格打印日期</td>
		      <td>
		      {{vm.fileRecord.printDate}}
			  </td>
		    </tr>	
		    
		    <tr>
		      <td width="15%" class="text-center">档案员签收</td>
		      <td>
		     	 {{vm.fileRecord.signUserName}}
		      </td>
		      <td width="15%" class="text-center">纸质文件接受日期</td>
		      <td>
		      {{vm.fileRecord.pageDate}}
			  </td>
		    </tr>	   
		  </tbody>			  		  	  
		</table>	<!-- end table -->
<button class="form-control btn-sm btn-primary" style="width: 200px; margin: auto;" onclick="printpage(this)">打印</button>
		<!-- E 设备清单（进口） 归档表 -->