<meta charset="UTF-8">
<!--S_ 项目概算 -->
<table  class="print-table" style="margin-top:13px;">
    <caption class="title">
        <p > ${accreditUnit}</p>
        <p>{{getTBHeadName(vm.model.reviewstage,vm.model.isAdvanced,'项目报审登记表')}}</p>
    </caption>
    <caption>
        <span style="width: 200px;float: left;padding: 0 10px;">QR-4.7-01-A2</span>
        <span style="width: 200px;float: right;padding: 0 10px;">收文日期：{{vm.model.signdate | date:'yyyy年MM月dd日'}}</span>
    </caption>

    <tr>
        <td width="16%" class="text-center">项目名称</td>
        <td colspan="2" width="48%">{{vm.model.projectname}}</td>
        <td width="16%" class="text-center">收文编号</td>
        <td colspan="2" width="20%"> {{vm.model.signNum}}</td>
    </tr>
    <tr>
        <td class="text-center">建设单位</td>
        <td colspan="2">
            <div style="width: 100%; height: 20px; overflow: hidden;">{{vm.model.builtcompanyName}}</div>
        </td>
        <td class="text-center">项目代码</td>
        <td colspan="2">{{vm.model.projectcode}}</td>
    </tr>
    <tr>
        <td class="text-center">编制单位</td>
        <td colspan="2">
            <div style="width: 100%; height: 20px; overflow: hidden; ">{{vm.model.designcompanyName}}</div>
        </td>
        <td class="text-center">申报概算</td>
        <td colspan="2">{{vm.model.declaration}}万元</td>
    </tr>
    <tr>
        <td class="text-center">主办处室</td>
        <td colspan="2">{{vm.model.maindeptName}}</td>
        <td class="text-center">主办处室联系人</td>
        <td colspan="2">{{vm.model.mainDeptUserName}}</td>
    </tr>
    <tr>
        <td class="text-center">协办处室</td>
        <td colspan="2">{{vm.model.assistdeptName}}</td>
        <td class="text-center">协办处室联系人</td>
        <td colspan="2">{{vm.model.assistDeptUserName}}</td>
    </tr>
    <tr>
        <td class="text-center">缓急程度</td>
        <td colspan="2">{{vm.model.urgencydegree}}</td>
        <td class="text-center">秘密等级</td>
        <td colspan="2">{{vm.model.secrectlevel}}</td>
    </tr>
    <tr>
        <td rowspan="3" class="text-center">备审资料</td>
        <td colspan="5">
            <table class="child-table" style="font-size: 12px;">
                <caption>（一）来文资料 </caption>
                <tr>
                    <td width="20%"></td>
                    <td width="20%">原件/复印件</td>
                    <td width="10%"></td>
                    <td width="20%"></td>
                    <td width="20%">原件/复印件</td>
                    <td width="10%">数量</td>
                </tr>
                <tr>
                    <td class="item-name">委项目处理表</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.sugProDealCount"  
                               ng-checked="vm.model.sugProDealCount == 9 || vm.model.sugProDealCount == '9'"
                               name="sugProDealCount"  ng-true-value="9" ng-false-value="0">
                    </td>
                    <td></td>
                    <td class="item-name">项目单位申报表</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.sugOrgApplyOriginal"  
                               ng-checked="vm.model.sugOrgApplyOriginal == 9 || vm.model.sugOrgApplyOriginal == '9'"
                                ng-true-value="9" ng-false-value="0"></td>
                    <td>
                        <input class="num" type="text" ng-model="vm.model.sugOrgApplyCount"
                              value="{{vm.model.sugOrgApplyCount}}" name="sugOrgApplyCount" ng-readonly="true"  data-val="true">
                    </td>
                </tr>
                <tr>
                    <td class="item-name">委文件处理表</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.sugFileDealCount"  
                               ng-checked="vm.model.sugFileDealCount == 9 || vm.model.sugFileDealCount == '9'"
                               ng-true-value="9" ng-false-value="0">
                    </td>
                    <td></td>
                    <td class="item-name" >项目单位请示报告
                    </td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.sugOrgReqOriginal"  
                               ng-checked="vm.model.sugOrgReqOriginal == 9 || vm.model.sugOrgReqOriginal == '9'"
                                ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="text" class="num"  ng-model="vm.model.sugOrgReqCount"
                               value="{{vm.model.sugOrgReqCount}}" name="sugOrgReqCount" ng-readonly="true"
                               data-val="true" data-val-digits="只能输入数字">
                    </td>
                </tr>
                <tr>
                    <td class="item-name"></td>
                    <td></td>
                    <td></td>
                    <td class="item-name" >相关会议纪要
                    </td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.sugMeetOriginal"  
                               ng-checked="vm.model.sugMeetOriginal == 9 || vm.model.sugMeetOriginal == '9'"
                               ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="text" class="num"  ng-model="vm.model.sugMeetCount" name="sugMeetCount" ng-readonly="true"
                               value="{{vm.model.sugMeetCount}}" data-val="true" data-val-digits="只能输入数字">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <table class="child-table" style="font-size: 12px;">
                <caption>（二）项目前期资料 </caption>
                <!--<tr class="tr-hidden">
                    <td width="20%"></td>
                    <td width="20%"></td>
                    <td width="10%"></td>
                    <td width="20%"></td>
                    <td width="20%"></td>
                    <td width="10%"></td>
                </tr>-->
                <tr>
                    <td width="20%"></td>
                    <td width="20%">复印件</td>
                    <td width="10%">数量</td>
                    <td width="20%"></td>
                    <td width="20%">复印件</td>
                    <td width="10%">数量</td>
                </tr>
                <tr>
                    <td class="item-name">项目建议书批复</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.studyProSugOriginal"   name="studyProSugOriginal"
                               ng-checked="vm.model.studyProSugOriginal == 9 || vm.model.studyProSugOriginal == '9'"
                                ng-true-value="9" ng-false-value="0"/>
                    </td>
                    <td>
                        <input class="num" type="text" ng-model="vm.model.studyProSugCount" name="studyProSugCount" ng-readonly="true"
                               value="{{vm.model.studyProSugCount}}" data-val="true"/>
                    </td>
                    <td class="item-name">环境影响评价报告</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.environmentalEffectOriginal"  
                               ng-checked="vm.model.environmentalEffectOriginal == 9 || vm.model.environmentalEffectOriginal == '9'"
                                ng-true-value="9" ng-false-value="0"/>
                    </td>
                    <td>
                        <input class="num" type="text" ng-model="vm.model.environmentalEffectCount"
                              value="{{vm.model.environmentalEffectCount}}" name="environmentalEffectCount" ng-readonly="true"  data-val="true"/>
                    </td>
                </tr>
                <tr>
                    <td class="item-name">可研报告批复</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.reportOrigin"  
                               ng-checked="vm.model.reportOrigin == 9 || vm.model.reportOrigin == '9'"
                               name="reportOrigin"  ng-true-value="9" ng-false-value="0"/>
                    </td>
                    <td>
                        <input class="num" type="text" ng-model="vm.model.reportCount" name="reportCount" ng-readonly="true"
                               value="{{vm.model.reportCount}}" data-val="true"/>
                    </td>
                    <td class="item-name">用地规划许可证</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.landPlanningLicenseOriginal"  
                               ng-checked="vm.model.landPlanningLicenseOriginal == 9 || vm.model.landPlanningLicenseOriginal == '9'"
                                ng-true-value="9" ng-false-value="0"/>
                    </td>
                    <td>
                        <input class="num" type="text" ng-model="vm.model.landPlanningLicenseCount"
                              value="{{vm.model.landPlanningLicenseCount}}" name="landPlanningLicenseCount" ng-readonly="true"  data-val="true"/>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <table class="child-table" style="font-size: 12px;">
                <caption>（三）项目设计资料 </caption>
                <!--<tr class="tr-hidden">
                    <td width="20%"></td>
                    <td width="20%"></td>
                    <td width="10%"></td>
                    <td width="20%"></td>
                    <td width="20%"></td>
                    <td width="10%"></td>
                </tr>-->
                <tr>
                    <td width="20%"></td>
                    <td width="20%">原件</td>
                    <td width="10%">数量</td>
                    <td width="20%"></td>
                    <td width="20%">原件</td>
                    <td width="10%">数量</td>
                </tr>
                <tr>
                    <td class="item-name">地质勘察报告</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.geologicalSurveyOriginal"   name="geologicalSurveyOriginal"
                               ng-checked="vm.model.geologicalSurveyOriginal == 9 || vm.model.geologicalSurveyOriginal == '9'"
                                ng-true-value="9" ng-false-value="0"/>
                    </td>
                    <td>
                        <input class="num" type="text" ng-model="vm.model.geologicalSurveyCount" name="geologicalSurveyCount"
                               value="{{vm.model.geologicalSurveyCount}}" ng-readonly="true"  data-val="true"/>
                    </td>
                    <td class="item-name">初步设计图纸 </td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.preliminaryDrawingOriginal"  
                               ng-checked="vm.model.preliminaryDrawingOriginal == 9 || vm.model.preliminaryDrawingOriginal == '9'"
                               ng-true-value="9" ng-false-value="0"/>
                    </td>
                    <td>
                        <input class="num" type="text" ng-model="vm.model.preliminaryDrawingCount" name="preliminaryDrawingCount" ng-readonly="true"
                               value="{{vm.model.preliminaryDrawingCount}}" data-val="true"/>
                    </td>
                </tr>
                <tr>
                    <td class="item-name">设计说明</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.descriptionDesignOriginal"   name="descriptionDesignOriginal"
                               ng-checked="vm.model.descriptionDesignOriginal == 9 || vm.model.descriptionDesignOriginal == '9'"
                                ng-true-value="9" ng-false-value="0"/>
                    </td>
                    <td>
                        <input class="num" type="text" ng-model="vm.model.descriptionDesignCount"
                              value="{{vm.model.descriptionDesignCount}}" name="descriptionDesignCount" ng-readonly="true"  data-val="true">
                    </td>
                    <td class="item-name">施工设计图纸</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.constructionDrawingsOriginal"  
                               ng-checked="vm.model.constructionDrawingsOriginal == 9 || vm.model.constructionDrawingsOriginal == '9'"
                                ng-true-value="9" ng-false-value="0"/>
                    </td>
                    <td>
                        <input class="num" type="text" ng-model="vm.model.constructionDrawingsCount" name="constructionDrawingsCount"
                              value="{{vm.model.constructionDrawingsCount}}" ng-readonly="true"  data-val="true"/>
                    </td>
                </tr>
                <tr>
                    <td class="item-name">工程概算书</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.projectBudgetOriginal"  
                              ng-checked="vm.model.projectBudgetOriginal == 9 || vm.model.projectBudgetOriginal == '9'"
                               name="projectBudgetOriginal"  ng-true-value="9" ng-false-value="0"/>
                    </td>
                    <td>
                        <input class="num" type="text" ng-model="vm.model.projectBudgetCount" name="projectBudgetCount"
                              value="{{vm.model.projectBudgetCount}}" ng-readonly="true"  data-val="true"/>
                    </td>
                    <td class="item-name">项目电子文档</td>
                    <td></td>
                    <td>
                        <input class="num" type="text" ng-model="vm.model.proSugEledocCount" name="proSugEledocCount"
                               ng-checked="vm.model.proSugEledocCount == 9 || vm.model.proSugEledocCount == '9'"
                               ng-readonly="true"  data-val="true"/>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td class="text-center">综合部分办</td>
        <td colspan="5" >
            <div class="signName" >
                <div class="signDetail" style="height: 30%;">  {{vm.model.comprehensivehandlesug}}</div>
                <p class="nameDate">签名：{{vm.model.comprehensiveName}}</p>
                <p class="nameDate" >日期：{{vm.model.comprehensiveDate}}</p>
            </div>
        </td>
    </tr>
    <tr>
        <td class="text-center">中心领导签批意见</td>
        <td colspan="5" >
            <div class="signName" >
                <div class="signDetail" style="height: 30%;">  {{vm.model.leaderhandlesug}}</div>
                <p class="nameDate">签名：</p>
                <p class="nameDate">日期：{{vm.model.leaderDate}}</p>
            </div>
        </td>
    </tr>
    <tr>
        <td class="text-center">部长处理意见</td>
        <td  colspan="5" >
            <div class="signName" >
                <div class="signDetail" style="height: 30%;"> {{vm.model.ministerhandlesug}}</div>
                <p class="nameDate" >签名：</p>
                <p class="nameDate">日期：{{vm.model.ministerDate}}</p>
            </div>
        </td>
    </tr>
</table>
<p style="line-height:20px;">送件人签名：{{vm.model.sendusersign}}</p>
<!--E 项目概算-->