<meta charset="UTF-8">
<!--S_ 项目建议书/可行性研究报告 -->
<table class="print-table">
    <caption class="title">
        <p style="margin-top: 15px;">深圳市政府投资项目评审中心 </p>
        <p>{{getTBHeadName(vm.model.reviewstage,vm.model.isAdvanced,'项目报审登记表')}}</p>
    </caption>
    <caption style="margin:5px 0px;">
        <span style="width: 200px;float: left;padding: 0 10px;">QR-4.3-01-A4</span>
        <span style="float: right;padding: 0 10px;">收文日期：{{vm.model.signdate | date:'yyyy年MM月dd日'}}</span>
    </caption>
    <tr>
        <td style="height: 40px" width="16%" class="text-center">项目名称</td>
        <td colspan="2" width="34%">{{vm.model.projectname}}</td>
        <td width="16%" class="text-center">收文编号</td>
        <td colspan="2" width="34%"> {{vm.model.signNum}}</td>
    </tr>
    <tr>
        <td style="height: 40px" class="text-center">建设单位</td>
        <td colspan="2">
            {{vm.model.builtcompanyName}}
        </td>
        <td class="text-center">编制单位</td>
        <td colspan="2">
            {{vm.model.designcompanyName}}
        </td>
    </tr>
    <tr>
        <td style="height: 40px" class="text-center">主办处室</td>
        <td colspan="2">{{vm.model.maindeptName}}</td>
        <td class="text-center">主办处室联系人</td>
        <td colspan="2">{{vm.model.mainDeptUserName}}</td>
    </tr>
    <tr >
        <td style="height: 40px" class="text-center">协办处室</td>
        <td colspan="2">{{vm.model.assistdeptName}}</td>
        <td class="text-center">协办处室联系人</td>
        <td colspan="2">{{vm.model.assistDeptUserName}}</td>
    </tr>
    <tr>
        <td style="height: 40px" class="text-center">缓急程度</td>
        <td width="17%">{{vm.model.urgencydegree}}</td>
        <td width="17%" class="text-center">项目代码</td>
        <td>{{vm.model.projectcode}}</td>
        <td width="17%" class="text-center">秘密等级</td>
        <td width="17%">{{vm.model.secrectlevel}}</td>
    </tr>
    <tr>
        <td rowspan="2" class="text-center">备审资料</td>
        <td colspan="5" style="padding:4px 10px">
            <table class="child-table">
                <caption>（一）项目建议书阶段</caption>
                <tr>
                    <td width="25%"></td>
                    <td width="15%">原件/复印件</td>
                    <td width="10%">数量</td>
                    <td width="25%"></td>
                    <td width="15%">原件</td>
                    <td width="10%">数量</td>
                </tr>
                <tr>
                    <td style="text-align: left;">委项目处理表</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.sugProDealOriginal" readOnly="true" name="sugProDealOriginal"
                               ng-checked="vm.model.sugProDealOriginal == 9 || vm.model.sugProDealOriginal == '9'">
                    </td>
                    <td>
                        <input class="num" type="text" ng-model="vm.model.sugProDealCount" name="sugProDealCount"
                               ng-readonly="true" value="{{vm.model.sugProDealCount}}">
                    </td>
                    <td style="text-align: left;">项目建议书</td>
                    <td><input type="checkbox" ng-model="vm.model.sugProAdviseOriginal" readOnly="true"
                               ng-checked="vm.model.sugProAdviseOriginal == 9 || vm.model.sugProAdviseOriginal == '9'">
                    </td>
                    <td>
                        <input class="num" type="text" ng-model="vm.model.sugProAdviseCount" readOnly="true"
                               name="sugProAdviseCount" value="{{vm.model.sugProAdviseCount}}">
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;">委文件处理表</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.sugFileDealOriginal" readOnly="true"
                               ng-checked="vm.model.sugFileDealOriginal == 9 || vm.model.sugFileDealOriginal == '9'">
                    </td>
                    <td>
                        <input type="text" class="num" ng-model="vm.model.sugFileDealCount" readOnly="true"
                               name="sugFileDealCount" value="{{vm.model.sugFileDealCount}}">
                    </td>
                    <td style="text-align: left;">项目建议书电子文档</td>
                    <td></td>
                    <td>
                        <input type="text" class="num" ng-model="vm.model.proSugEledocCount" name="proSugEledocCount"
                               readOnly="true" value="{{vm.model.proSugEledocCount}}">
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;">项目单位申报表</td>
                    <td><input type="checkbox" ng-model="vm.model.sugOrgApplyOriginal" readOnly="true"
                               ng-checked="vm.model.sugOrgApplyOriginal == 9 || vm.model.sugOrgApplyOriginal == '9'">
                    </td>
                    <td><input type="text" class="num" ng-model="vm.model.sugOrgApplyCount" name="sugOrgApplyCount"
                               ng-readonly="true" value="{{vm.model.sugOrgApplyCount}}"></td>
                    <td style="text-align: left;">相关会议纪要</td>
                    <td><input type="checkbox" ng-model="vm.model.sugMeetOriginal" readOnly="true"
                               ng-checked="vm.model.sugMeetOriginal == 9 || vm.model.sugMeetOriginal == '9'"></td>
                    <td><input type="text" class="num" ng-model="vm.model.sugMeetCount" name="sugMeetCount"
                               ng-readonly="true"
                               value="{{vm.model.sugMeetCount}}"></td>
                </tr>
                <tr>
                    <td style="text-align: left;">项目单位请示报告</td>
                    <td><input type="checkbox" ng-model="vm.model.sugOrgReqOriginal" readOnly="true"
                               ng-checked="vm.model.sugOrgReqOriginal == 9 || vm.model.sugOrgReqOriginal == '9'"></td>
                    <td><input type="text" class="num" ng-model="vm.model.sugOrgReqCount" name="sugOrgReqCount"
                               ng-readonly="true"
                               value="{{vm.model.sugOrgReqCount}}"></td>
                    <td style="text-align: left;">其他（名称需备注）</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="5" style="padding:4px 10px">
            <table class="child-table">
                <caption>（二）可行性研究报告阶段</caption>
                <tr>
                    <td width="25%"></td>
                    <td width="15%">原件/复印件</td>
                    <td width="10%">数量</td>
                    <td width="25%"></td>
                    <td width="8%">原件</td>
                    <td width="9%">复印件</td>
                    <td width="8%">数量</td>
                </tr>
                <tr>
                    <td style="text-align: left;">委项目处理表</td>
                    <td><input type="checkbox" ng-model="vm.model.studyPealOriginal" readOnly="true"
                               ng-checked="vm.model.studyPealOriginal == 9 || vm.model.studyPealOriginal == '9'"></td>
                    <td><input type="text" class="num" ng-model="vm.model.studyProDealCount" name="studyProDealCount"
                               ng-readonly="true"
                               value="{{vm.model.studyProDealCount}}"></td>
                    <td style="text-align: left;">环评批复文件</td>
                    <td></td>
                    <td><input type="checkbox" ng-model="vm.model.envproReplyCopy" readOnly="true"
                               ng-checked="vm.model.envproReplyCopy == 9 || vm.model.envproReplyCopy == '9'"></td>
                    <td><input type="text" class="num" ng-model="vm.model.envproReplyCount" name="envproReplyCount"
                               ng-readonly="true"
                               value="{{vm.model.envproReplyCount}}"></td>
                </tr>
                <tr>
                    <td style="text-align: left;">委文件处理表</td>
                    <td><input type="checkbox" ng-model="vm.model.studyFileDealOriginal" readOnly="true"
                               ng-checked="vm.model.studyFileDealOriginal == 9 || vm.model.studyFileDealOriginal == '9'">
                    </td>
                    <td><input type="text" class="num" ng-model="vm.model.studyFileDealCount" name="studyFileDealCount"
                               ng-readonly="true"
                               value="{{vm.model.studyFileDealCount}}"></td>
                    <td style="text-align: left;">规划选址批文</td>
                    <td></td>
                    <td><input type="checkbox" ng-model="vm.model.planAddrCopy" readOnly="true"
                               ng-checked="vm.model.planAddrCopy == 9 || vm.model.planAddrCopy == '9'"></td>
                    <td><input type="text" class="num" ng-model="vm.model.planAddrCount" name="planAddrCount"
                               ng-readonly="true"
                               value="{{vm.model.planAddrCount}}"></td>
                </tr>
                <tr>
                    <td style="text-align: left;">项目单位申报表</td>
                    <td><input type="checkbox" ng-model="vm.model.studyOrgApplyOriginal" readOnly="true"
                               ng-checked="vm.model.studyOrgApplyOriginal == 9 || vm.model.studyOrgApplyOriginal == '9'">
                    </td>
                    <td><input type="text" class="num" ng-model="vm.model.studyOrgApplyCount" name="studyOrgApplyCount"
                               ng-readonly="true"
                               value="{{vm.model.studyOrgApplyCount}}"></td>
                    <td style="text-align: left;">可研报告</td>
                    <td><input type="checkbox" ng-model="vm.model.reportOrigin" readOnly="true"
                               ng-checked="vm.model.reportOrigin == 9 || vm.model.reportOrigin == '9'"></td>
                    <td><input type="checkbox" ng-model="vm.model.reportCopy" readOnly="true"
                               ng-checked="vm.model.reportCopy == 9 || vm.model.reportCopy == '9'"></td>
                    <td><input type="text" class="num" ng-model="vm.model.reportCount" name="reportCount"
                               ng-readonly="true"
                               value="{{vm.model.reportCount}}"></td>
                </tr>
                <tr>
                    <td style="text-align: left;">项目单位请示报告</td>
                    <td><input type="checkbox" ng-model="vm.model.studyOrgReqOriginal" readOnly="true"
                               ng-checked="vm.model.studyOrgReqOriginal == 9 || vm.model.studyOrgReqOriginal == '9'">
                    </td>
                    <td><input type="text" class="num" ng-model="vm.model.studyOrgReqCount" name="studyOrgReqCount"
                               ng-readonly="true"
                               value="{{vm.model.studyOrgReqCount}}"></td>
                    <td style="text-align: left;">可研报告电子文档</td>
                    <td></td>
                    <td></td>
                    <td><input type="text" class="num" ng-model="vm.model.eledocCount" name="eledocCount"
                               ng-readonly="true"
                               value="{{vm.model.eledocCount}}"></td>
                </tr>
                <tr>
                    <td style="text-align: left;">项目建议书批复</td>
                    <td><input type="checkbox" ng-model="vm.model.studyProSugOriginal" readOnly="true"
                               ng-checked="vm.model.studyProSugOriginal == 9 || vm.model.studyProSugOriginal == '9'">
                    </td>
                    <td><input type="text" class="num" ng-model="vm.model.studyProSugCount" name="studyProSugCount"
                                
                               value="{{vm.model.studyProSugCount}}"></td>
                    <td style="text-align: left;">节能报告</td>
                    <td><input type="checkbox" ng-model="vm.model.energyOriginal" readOnly="true"
                               ng-checked="vm.model.energyOriginal == 9 || vm.model.energyOriginal == '9'"></td>
                    <td><input type="checkbox" ng-model="vm.model.energyCopy" readOnly="true"
                               ng-checked="vm.model.energyCopy == 9 || vm.model.energyCopy == '9'"></td>
                    <td><input type="text" class="num" ng-model="vm.model.energyCount" name="energyCount"
                               ng-readonly="true"
                               value="{{vm.model.energyCount}}"></td>
                </tr>
                <tr>
                    <td style="text-align: left;">相关会议纪要</td>
                    <td><input type="checkbox" ng-model="vm.model.studyMeetOriginal" name="studyMeetOriginal"
                               readOnly="true"
                               ng-checked="vm.model.studyMeetOriginal == 9 || vm.model.studyMeetOriginal == '9'"></td>
                    <td><input type="text" class="num" ng-model="vm.model.studyMeetCount" name="studyMeetCount"
                               ng-readonly="true"
                               value="{{vm.model.studyMeetCount}}"></td>
                    <td style="text-align: right;">其他（名称需备注）</td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="text-center">综合部分办</td>
        <td colspan="5" style="vertical-align: middle;">
            <div class="signName">
            <div class="signDetail" style="height: 30%;"> {{vm.model.comprehensivehandlesug}}</div>
            <p class="nameDate">签名：{{vm.model.comprehensiveName}}</p>
            <p class="nameDate">日期：{{vm.model.comprehensiveDate}}</p>
            </div>
        </td>
    </tr>
    <tr>
        <td class="text-center">中心领导签批意见</td>
        <td colspan="5" style="vertical-align: middle;">
            <div class="signName">
            <div class="signDetail" style="height: 30%;"> {{vm.model.leaderhandlesug}}</div>
            <p class="nameDate">签名：</p>
            <p class="nameDate" >日期：{{vm.model.leaderDate}}</p>
            </div>
        </td>
    </tr>
   <tr>
        <td class="text-center">部长处理意见</td>
        <td colspan="5" style="vertical-align: middle;">
            <div class="signName">
            <div class="signDetail" style="height: 30%;"> {{vm.model.ministerhandlesug}}</div>
            <p class="nameDate">签名：</p>
            <p class="nameDate" >日期：{{vm.model.ministerDate}}</p>
            </div>
        </td>
    </tr>
</table>
<p style="margin-top: 20px;">送件人签名：{{vm.model.sendusersign}}</p>
<!-- end table -->