<meta charset="UTF-8">
<!--S_设备清单 -->
<!-- s table -->
<style>
    #spdj-tabel{
        width: 100%;
    }
    #spdj-tabel p{
        margin:0 0 5px;
    }
    #spdj-tabel td{
        text-align: center;
        height:40px;
        border:1px solid #666;
        border-collapse:collapse;
    }
    #spdj-tabel .child-table{
        width: 100%;
        margin-left:10px;
    }
    #spdj-tabel .child-table td{
        border:none;
    }
    #spdj-tabel .child-table th{
        text-align: center;
    }
    #spdj-tabel .child-table input[type=checkbox]{
        width: 20px;
        height: 20px;
    }
    #spdj-tabel .tr-hidden td{
        height: 0;
        border:none;
    }
    #spdj-tabel .child-table .num {
        width:28px;
        height:28px;
        text-align: center;
        line-height:28px;
    }
    #spdj-tabel .child-table .item-name{
        text-align: left;
    }
</style>

<table  class="print-table" style="margin-top: 20px;">
    <caption class="title">
            <p>{{getSysAccreditUnit()}}</p>
            <p>{{getTBHeadName(vm.model.reviewstage,vm.model.isAdvanced,'项目报审登记表')}}</p>
    </caption>
    <caption>
        <span style="width: 200px;float: left;padding: 0 10px;">QR-4.9-01-A0</span>
        <span style="width: 200px;float: right;padding: 0 10px;">收文日期：{{vm.model.signdate | date:'yyyy年MM月dd日'}}</span>
    </caption>
    <!--<tr class="tr-hidden">
        <td width="16%"></td>
        <td width="17%"></td>
        <td width="17%"></td>
        <td width="16%"></td>
        <td width="17%"></td>
        <td width="17%"></td>
    </tr>-->
    <tr style="height: 60px;" >
        <td width="16%" class="text-center">主办处室</td>
        <td colspan="2"  width="34%">{{vm.model.maindeptName}}</td>
        <td width="16%" class="text-center">收文编号</td>
        <td colspan="2" width="34%"> {{vm.model.signNum}}</td>
    </tr>
    <tr style="height: 60px;">
        <td class="text-center">项目名称</td>
        <td colspan="2">{{vm.model.projectname}}</td>
        <td class="text-center">申请单位</td>
        <td colspan="2"> {{vm.model.designcompanyName}}</td>
    </tr>
    <tr style="height: 60px;">
        <td class="text-center">项目代码</td>
        <td colspan="2">{{vm.model.projectcode}}</td>
        <td class="text-center">缓急程度</td>
        <td colspan="2">{{vm.model.urgencydegree}}</td>
    </tr>

    <tr>
        <td rowspan="1" class="text-center">备审资料</td>
        <td colspan="7">
            <table class="child-table" style="font-size: 12px;">
                <tr>
                    <td width="15%"></td>
                    <td width="10%">原件</td>
                    <td width="10%">复印件</td>
                    <td  width="10%">份数</td>
                    <td  width="15%"></td>
                    <td  width="10%">原件</td>
                    <td width="10%">复印件</td>
                    <td width="10%">份数</td>
                </tr>
                <tr>
                    <td class="printing-td">项目处理表</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.sugProDealOriginal" 
                               ng-checked="vm.model.sugProDealOriginal == 9 || vm.model.sugProDealOriginal == '9'"
                               name="sugProDealOriginal"  ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.sugProDealCopy" 
                               ng-checked="vm.model.sugProDealCopy == 9 || vm.model.sugProDealCopy == '9'"
                               name="sugProDealCopy"  ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input class="num" type="text" ng-model="vm.model.sugProDealCount"
                               ng-checked="vm.model.sugProDealCount == 9 || vm.model.sugProDealCount == '9'"
                               name="sugProAdviseCount" ng-readonly="true" data-val="true">
                    </td>
                    <td class="printing-td">设备说明书 </td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.sprcialDevicesOriginal"  
                               ng-checked="vm.model.sprcialDevicesOriginal == 9 || vm.model.sprcialDevicesOriginal == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.sprcialDevicesCopy"  
                               ng-checked="vm.model.sprcialDevicesCopy == 9 || vm.model.sprcialDevicesCopy == '9'"
                               name="sprcialDevicesCopy"  ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input class="num" type="text" ng-model="vm.model.sprcialDevicesCount"
                              value="{{vm.model.sprcialDevicesCount}}" name="sprcialDevicesCount" ng-readonly="true"  data-val="true">
                    </td>
                </tr>
                <tr>
                    <td class="printing-td">文件处理表 </td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.sugFileDealOriginal"  
                               ng-checked="vm.model.sugFileDealOriginal == 9 || vm.model.sugFileDealOriginal == '9'"
                               ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.sugFileDealCopy"  name="sugFileDealCopy"
                               ng-checked="vm.model.sugFileDealCopy == 9 || vm.model.sugFileDealCopy == '9'"
                               ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="text" class="num"  ng-model="vm.model.sugFileDealCount"
                              value="{{vm.model.sugFileDealCount}}" name="sugFileDealCount" ng-readonly="true"
                               data-val="true">
                    </td>
                    <td class="printing-td" >采购合同书
                    </td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.purchasDevicePactOriginal"  
                               ng-checked="vm.model.purchasDevicePactOriginal == 9 || vm.model.purchasDevicePactOriginal == '9'"
                               name="purchasDevicePactOriginal"  ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.purchasDevicePactCopy" 
                               ng-checked="vm.model.purchasDevicePactCopy == 9 || vm.model.purchasDevicePactCopy == '9'"
                               name="purchasDevicePactCopy" ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="text" class="num"  ng-model="vm.model.purchasDevicePactCount" name="purchasDevicePactCount" ng-readonly="true"
                              value="{{vm.model.purchasDevicePactCount}}" data-val="true" data-val-digits="只能输入数字">
                    </td>
                </tr>
                <tr>
                    <td class="printing-td">项目申报表 </td>
                    <td>
                        <input type="checkbox"  ng-model="vm.model.projectDeclareOriginal"id="projectDeclareOriginal"   ng-true-value="9" ng-false-value="0"></td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.projectDeclareCopy"  name="projectDeclareCopy" id="projectDeclareCopy" ng-true-value="9" ng-false-value="0">
                    </td>
                    <td><input type="text" class="num"  ng-model="vm.model.projectDeclareCount" name="projectDeclareCount" ng-readonly="true"
                               id="projectDeclareCount"data-val="true" 12></td>
                    <td class="printing-td">项目核准文件</td>
                    <td><input type="checkbox"  ng-model="vm.model.projectApproveFileOriginal" id="projectApproveFileOriginal"   ng-true-value="9" ng-false-value="0" ></td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.projectApproveFileCopy"  name="projectApproveFileCopy" id="projectApproveFileCopy" ng-true-value="9" ng-false-value="0">
                    </td>
                    <td><input type="text" class="num"  ng-model="vm.model.projectApproveFileCount" name="projectApproveFileCount" ng-readonly="true"
                               id="projectApproveFileCount"data-val="true"></td>
                </tr>
                <tr>
                    <td class="printing-td">项目申请报告</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.projectApplyReportOriginal"
                               ng-checked="vm.model.projectApplyReportOriginal == 9 || vm.model.projectApplyReportOriginal == '9'"
                                ng-true-value="9" ng-false-value="0"></td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.projectApplyReportCopy" 
                               ng-checked="vm.model.projectApplyReportCopy == 9 || vm.model.projectApplyReportCopy == '9'"
                               name="projectApplyReportCopy"  ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="text" class="num"  ng-model="vm.model.projectApplyReportCount" name="projectApplyReportCount" ng-readonly="true"
                              value="{{vm.model.projectApplyReportCount}}" id="projectApplyReportCount"data-val="true"></td>
                    <td class="printing-td">营业执照</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.businessLicenseOriginal"
                               ng-checked="vm.model.businessLicenseOriginal == 9 || vm.model.businessLicenseOriginal == '9'"
                                ng-true-value="9" ng-false-value="0"></td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.businessLicenseCopy"  
                               ng-checked="vm.model.businessLicenseCopy == 9 || vm.model.businessLicenseCopy == '9'"
                               name="businessLicenseCopy" ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="text" class="num"  ng-model="vm.model.businessLicenseCount" name="businessLicenseCount" ng-readonly="true"
                              value="{{vm.model.businessLicenseCount}}" data-val="true"></td>
                </tr>
                <tr>
                    <td class="printing-td">采购设备清单</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.purchasDeviceOriginal"
                               ng-checked="vm.model.purchasDeviceOriginal == 9 || vm.model.purchasDeviceOriginal == '9'"
                                ng-true-value="9" ng-false-value="0"></td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.purchasDeviceCopy"  
                               ng-checked="vm.model.purchasDeviceCopy == 9 || vm.model.purchasDeviceCopy == '9'"
                               name="purchasDeviceCopy"  ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="text" class="num"  ng-model="vm.model.purchasDeviceCount"
                               ng-checked="vm.model.purchasDeviceCount == 9 || vm.model.purchasDeviceCount == '9'"
                               name="purchasDeviceCount" ng-readonly="true" data-val="true"></td>
                    <td class="printing-td">法定代表人身份证</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.legalPersoncCardOriginal"
                               ng-checked="vm.model.legalPersoncCardOriginal == 9 || vm.model.legalPersoncCardOriginal == '9'"
                                ng-true-value="9" ng-false-value="0"></td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.legalPersoncCardCopy" 
                               ng-checked="vm.model.legalPersoncCardCopy == 9 || vm.model.legalPersoncCardCopy == '9'"
                               name="legalPersoncCardCopy"  ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="text" class="num"  ng-model="vm.model.legalPersoncCardCount" name="legalPersoncCardCount" ng-readonly="true"
                              value="{{vm.model.legalPersoncCardCount}}" data-val="true"></td>
                </tr>
                <tr>
                    <td class="printing-td">其他</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.ortherProjectOriginal"
                               ng-checked="vm.model.ortherProjectOriginal == 9 || vm.model.ortherProjectOriginal == '9'"
                                ng-true-value="9" ng-false-value="0"></td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.ortherProjectCopy" 
                               ng-checked="vm.model.ortherProjectCopy == 9 || vm.model.ortherProjectCopy == '9'"
                               name="ortherProjectCopy"  ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="text" class="num"  ng-model="vm.model.ortherProjectCount"
                               ng-checked="vm.model.ortherProjectCount == 9 || vm.model.ortherProjectCount == '9'"
                               name="ortherProjectCount" ng-readonly="true" data-val="true"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="text-center">综合部分办</td>
        <td colspan="5"  >
            <div class="signName" style="height: 150px;">
                <div style="height: 50%;text-align: left;text-indent: 2em;overflow: hidden;"> {{vm.model.comprehensivehandlesug}}</div>
                <p class="nameDate">签名：{{vm.model.comprehensiveName}}</p>
                <p class="nameDate">日期：{{vm.model.comprehensiveDate}}</p>
            </div>
        </td>
    </tr>
    <tr>
        <td class="text-center">中心领导签批意见</td>
        <td colspan="5"  >
            <div class="signName" style="height: 150px;">
                <div style="height: 50%;text-align: left;text-indent: 2em;overflow: hidden;"> {{vm.model.leaderhandlesug}}</div>
                <p class="nameDate">签名：</p>
                <p class="nameDate">日期：{{vm.model.leaderDate}}</p>
            </div>
        </td>
    </tr>
    <tr>
        <td class="text-center">部长处理意见</td>
        <td colspan="5" >
            <div class="signName" style="height: 150px;">
                <div style="height: 50%;text-align: left;text-indent: 2em;overflow: hidden;"> {{vm.model.ministerhandlesug}}</div>
                <p class="nameDate">签名：</p>
                <p class="nameDate">日期：{{vm.model.ministerDate}}</p>
            </div>
        </td>
    </tr>
</table>
<p>送件人签名：{{vm.model.sendusersign}}</p>
