<meta charset="UTF-8">
<!--S_ 进口设备 -->
<!-- s table -->
<style>
    #spdj-tabel{
        width: 100%;
    }
    #spdj-tabel p{
        margin:0 0 5px;
    }
    #spdj-tabel td{
        text-align: center;
        height:40px;
        border:1px solid #666;
        border-collapse:collapse;
    }
    #spdj-tabel .child-table{
        width: 100%;
        margin-left:10px;
    }
    #spdj-tabel .child-table td{
        border:none;
    }
    #spdj-tabel .child-table th{
        text-align: center;
    }
    #spdj-tabel .child-table input[type=checkbox]{
        width: 20px;
        height: 20px;
    }
    #spdj-tabel .tr-hidden td{
        height: 0;
        border:none;
    }
    #spdj-tabel .child-table .num {
        width:28px;
        height:28px;
        text-align: center;
        line-height:28px;
    }
    #spdj-tabel .child-table .item-name{
        text-align: left;
    }
</style>
<table class="print-table" style="margin-top: 10px;">
    <caption class="title">
            <p>{{getSysAccreditUnit()}} </p>
            <p>{{getTBHeadName(vm.model.reviewstage,vm.model.isAdvanced,'项目报审登记表')}}</p>
    </caption>
    <caption>
        <span style="width: 200px;float: left;padding: 0 10px;">QR-4.10-01-A0</span>
        <span style="width: 200px;float: right;padding: 0 10px;">收文日期：{{vm.model.signdate | date:'yyyy年MM月dd日'}}</span>
    </caption>
    <!--<tr class="tr-hidden">
        <td width="16%"></td>
        <td width="17%"></td>
        <td width="17%"></td>
        <td width="19%"></td>
        <td width="17%"></td>
        <td width="17%"></td>
    </tr>-->
    <tr style="height: 50px;">
        <td width="16%" class="text-center">主办处室</td>
        <td colspan="2" width="34%" >{{vm.model.maindeptName}}</td>
        <td width="16%" class="text-center">主办处室联系人</td>
        <td colspan="2" width="34%"> {{vm.model.mainDeptUserName}}</td>
    </tr>
    <tr style="height: 50px;">
        <td class="text-center">协办处室</td>
        <td colspan="2">{{vm.model.assistdeptName}}</td>
        <td class="text-center">协办处室联系人</td>
        <td colspan="2"> {{vm.model.assistDeptUserName}}</td>
    </tr>
    <tr style="height: 50px;">
        <td rowspan="2" class="text-center">项目名称</td>
        <td colspan="2" rowspan="2" >{{vm.model.projectname}}</td>
        <td class="text-center">收文编号</td>
        <td colspan="2">{{vm.model.signNum}}</td>
    </tr>

    <tr style="height: 50px;">
        <td class="text-center">缓急程度</td>
        <td colspan="2">{{vm.model.urgencydegree}}</td>
    </tr>
    <tr style="height: 50px;">
        <td class="text-center">采购单位</td>
        <td colspan="2">{{vm.model.builtcompanyName}}</td>
        <td class="text-center" >秘密等级</td>
        <td colspan="2">{{vm.model.secrectlevel}}</td>
    </tr>

    <tr>
        <td rowspan="1" class="text-center">备审资料</td>
        <td colspan="7">
            <table class="child-table" style="font-size: 12px;">
                <!--<tr class="tr-hidden">
                    <td width="15%"></td>
                    <td width="10%"></td>
                    <td width="10%"></td>
                    <td width="10%"></td>
                    <td width="15%"></td>
                    <td width="10%"></td>
                    <td width="10%"></td>
                    <td width="10%"></td>
                </tr>-->
                <tr>
                    <td width="15%"></td>
                    <td width="10%">原件</td>
                    <td width="10%">复印件</td>
                    <td width="10%">份数</td>
                    <td width="15%"></td>
                    <td width="10%">原件</td>
                    <td width="10%">复印件</td>
                    <td width="10%">份数</td>
                </tr>
                <tr>
                    <td class="printing-td">项目处理表</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.sugProDealOriginal" 
                               ng-checked="vm.model.sugProDealOriginal == 9 || vm.model.sugProDealOriginal == '9'"
                               name="sugProDealOriginal"  ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.sugProDealCopy" 
                               ng-checked="vm.model.sugProDealCopy == 9 || vm.model.sugProDealCopy == '9'"
                               name="sugProDealCopy"  ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input class="num" type="text" ng-model="vm.model.sugProDealCount"
                               value="{{vm.model.sugProDealCount}}"
                               name="sugProDealCount" ng-readonly="true"data-val="true">
                    </td>
                    <td class="printing-td">文件处理表</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.officialDisposeOriginal"  
                               ng-checked="vm.model.officialDisposeOriginal == 9 || vm.model.officialDisposeOriginal == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.officialDisposeCopy" 
                               ng-checked="vm.model.officialDisposeCopy == 9 || vm.model.officialDisposeCopy == '9'"
                               name="officialDisposeCopy"  ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input class="num" type="text" ng-model="vm.model.officialDisposeCount"
                              value="{{vm.model.officialDisposeCount}}" name="officialDisposeCount" ng-readonly="true"  data-val="true">
                    </td>
                </tr>
                <tr>
                    <td class="printing-td">政府采购进口产品申请表 </td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.governmentPurchasOriginal"  
                               ng-checked="vm.model.governmentPurchasOriginal == 9 || vm.model.governmentPurchasOriginal == '9'"
                               ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.governmentPurchasCopy" 
                               ng-checked="vm.model.governmentPurchasCopy == 9 || vm.model.governmentPurchasCopy == '9'"
                               name="governmentPurchasCopy" ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="text" class="num"  ng-model="vm.model.governmentPurchasCount"
                              value="{{vm.model.governmentPurchasCount}}" name="governmentPurchasCount" ng-readonly="true"
                               data-val="true">
                    </td>
                    <td class="printing-td" >主管部门意见
                    </td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.managerDeptOriginal" 
                               ng-checked="vm.model.managerDeptOriginal == 9 || vm.model.managerDeptOriginal == '9'"
                               name="managerDeptOriginal"  ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.managerDeptCopy" 
                               ng-checked="vm.model.managerDeptCopy == 9 || vm.model.managerDeptCopy == '9'"
                               name="managerDeptCopy"  ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="text" class="num"  ng-model="vm.model.managerDeptCount" name="managerDeptCount" ng-readonly="true"
                              value="{{vm.model.managerDeptCount}}" data-val="true" data-val-digits="只能输入数字">
                    </td>
                </tr>
                <tr>
                    <td class="printing-td">产品申请表</td>
                    <td>
                        <input type="checkbox"  ng-model="vm.model.sugOrgApplyOriginal"
                               ng-checked="vm.model.sugOrgApplyOriginal == 9 || vm.model.sugOrgApplyOriginal == '9'"
                                 ng-true-value="9" ng-false-value="0"></td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.sugProDealOriginal" 
                               ng-checked="vm.model.sugProDealOriginal == 9 || vm.model.sugProDealOriginal == '9'"
                               name="sugProDealOriginal"  ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="text" class="num"  ng-model="vm.model.sugProDealCount"
                              value="{{vm.model.sugProDealCount}}" name="sugProDealCount" ng-readonly="true" data-val="true" ></td>
                    <td class="printing-td">相关会议纪要</td>
                    <td>
                        <input type="checkbox"  ng-model="vm.model.sugMeetOriginal"
                               ng-checked="vm.model.sugMeetOriginal == 9 || vm.model.sugMeetOriginal == '9'"
                                 ng-true-value="9" ng-false-value="0" ></td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.sugProDealOriginal" 
                               ng-checked="vm.model.sugProDealOriginal == 9 || vm.model.sugProDealOriginal == '9'"
                               name="sugProDealOriginal"  ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="text" class="num"  ng-model="vm.model.sugProDealCount" name="sugProDealCount" ng-readonly="true"
                              value="{{vm.model.sugProDealCount}}" data-val="true"></td>
                </tr>
                <tr>
                    <td class="printing-td">专家论证意见</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.expertArgumentOriginal"
                               ng-checked="vm.model.expertArgumentOriginal == 9 || vm.model.expertArgumentOriginal == '9'"
                                ng-true-value="9" ng-false-value="0"></td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.expertArgumentCopy" 
                               ng-checked="vm.model.expertArgumentCopy == 9 || vm.model.expertArgumentCopy == '9'"
                               name="expertArgumentCopy"  ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="text" class="num"  ng-model="vm.model.expertArgumentCount" name="expertArgumentCount" ng-readonly="true"
                              value="{{vm.model.expertArgumentCount}}" data-val="true"></td>
                    <td class="printing-td">进口产品目录</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.importProductOriginal"
                               ng-checked="vm.model.importProductOriginal == 9 || vm.model.importProductOriginal == '9'"
                                ng-true-value="9" ng-false-value="0"></td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.importProductCopy" 
                               ng-checked="vm.model.importProductCopy == 9 || vm.model.importProductCopy == '9'"
                               name="importProductCopy"  ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="text" class="num"  ng-model="vm.model.importProductCount" name="importProductCount" ng-readonly="true"
                              value="{{vm.model.importProductCount}}" data-val="true"></td>
                </tr>
                <tr>
                    <td class="printing-td">发改委意见</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.developementOriginal"
                               ng-checked="vm.model.developementOriginal == 9 || vm.model.developementOriginal == '9'"
                                ng-true-value="9" ng-false-value="0"></td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.developementCopy" 
                               ng-checked="vm.model.developementCopy == 9 || vm.model.developementCopy == '9'"
                               name="developementCopy" ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="text" class="num"  ng-model="vm.model.developmentCount" name="developmentCount" ng-readonly="true"
                              value="{{vm.model.developmentCount}}" data-val="true"/>
                    </td>
                    <td class="printing-td">设备说明书</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.sprcialDevicesOriginal"
                               ng-checked="vm.model.sprcialDevicesOriginal == 9 || vm.model.sprcialDevicesOriginal == '9'"
                                ng-true-value="9" ng-false-value="0"></td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.sprcialDevicesCopy" 
                               ng-checked="vm.model.sprcialDevicesCopy == 9 || vm.model.sprcialDevicesCopy == '9'"
                               name="sprcialDevicesCopy"  ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="text" class="num"  ng-model="vm.model.sprcialDevicesCount" name="sprcialDevicesCount" ng-readonly="true"
                              value="{{vm.model.sprcialDevicesCount}}" data-val="true"></td>
                </tr>
                <tr>
                    <td class="printing-td">其他</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.ortherProjectOriginal"
                               ng-checked="vm.model.ortherProjectOriginal == 9 || vm.model.ortherProjectOriginal == '9'"
                                ng-true-value="9" ng-false-value="0"></td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.ortherProjectCopy" 
                               ng-checked="vm.model.ortherProjectCopy == 9 || vm.model.ortherProjectCopy == '9'"
                               name="ortherProjectCopy"  ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="text" class="num"  ng-model="vm.model.ortherProjectCount" name="ortherProjectCount" ng-readonly="true"
                              value="{{vm.model.ortherProjectCount}}" id="ortherProjectCount"data-val="true"></td>
                    <td class="printing-td">其他（名称需备注）</td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.sugOrgReqOriginal"
                               ng-checked="vm.model.sugOrgReqOriginal == 9 || vm.model.sugOrgReqOriginal == '9'"
                                ng-true-value="9" ng-false-value="0"></td>
                    <td>
                        <input type="checkbox" ng-model="vm.model.sugProDealOriginal" 
                               ng-checked="vm.model.sugProDealOriginal == 9 || vm.model.sugProDealOriginal == '9'"
                               name="sugProDealOriginal"  ng-true-value="9" ng-false-value="0">
                    </td>
                    <td>
                        <input type="text" class="num"  ng-model="vm.model.sugProDealCount" name="sugProDealCount" ng-readonly="true"
                              value="{{vm.model.sugProDealCount}}" data-val="true"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="text-center">综合部分办</td>
        <td colspan="5" >
            <div class="signName" style="height: 130px;">
                <div class="signDetail" style="height: 45%;"> {{vm.model.comprehensivehandlesug}}</div>
                <p class="nameDate">签名：{{vm.model.comprehensiveName}}</p>
                <p class="nameDate">日期：{{vm.model.comprehensiveDate}}</p>
            </div>

        </td>
    </tr>
    <tr>
        <td class="text-center">中心领导签批意见</td>
        <td colspan="5" >
            <div class="signName" style="height: 130px;">
                <div class="signDetail" style="height: 45%;"> {{vm.model.leaderhandlesug}}</div>
                <p class="nameDate">签名：</p>
                <p class="nameDate">日期：{{vm.model.leaderDate}}</p>
            </div>
        </td>
    </tr>
    <tr>
        <td class="text-center">部长处理意见</td>
        <td colspan="5">
            <div class="signName" style="height: 130px;">
                <div class="signDetail" style="height: 45%;"> {{vm.model.ministerhandlesug}}</div>
                <p class="nameDate">签名：</p>
                <p class="nameDate">日期：{{vm.model.ministerDate}}</p>
            </div>
        </td>
    </tr>
</table>
<p>送件人签名：{{vm.model.sendusersign}}</p>
