<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-upload.html'"></div>
<style>
    .k-animation-container ul {
        max-height: 200px;
    }
</style>
<div class="toolbar">
    <button class="btn btn-sm btn-success" ng-click="vm.create()" ng-disabled="vm.iscommit"><span
            class="glyphicon glyphicon-ok"></span>保存
    </button>
    <button class="btn btn-sm btn-danger" ng-click="back();"><span class="glyphicon glyphicon-chevron-left"></span>返回
    </button>
</div>

<div class="well well-sm" style="background:white;">

    <!-- s form -->
    <form id="work_program_form" name="work_program_form">
        <input type="hidden" ng-model="vm.work.id" value="{{vm.work.id}}">

        <!-- s table -->
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td style="width:150px;" class="text-center">建设单位</td>
                <td colspan="3">
                    {{vm.work.buildCompany}}
                </td>
            </tr>
            <tr>
                <td style="width:150px;" class="text-center">行业类别<span class="required">*</span></td>
                <td>
                    <select ng-model="vm.work.industryType" name="industryType" id="industryType" data-val="true"
                            data-val-required="必填">
                        <option value="">请选择</option>
                        <option ng-repeat="x in DICT.INDUSTRYTYPE.dicts" value="{{x.dictKey}}" ng-selected="vm.work.industryType == x.dictKey">{{x.dictName}}</option>
                    </select>
                    <span data-valmsg-for="industryType" data-valmsg-replace="true" class="errors"></span>
                </td>
                <td style="width:150px;" class="text-center">项目类别<span class="required">*</span></td>
                <td>
                    <select ng-model="vm.work.projectType" name="projectType" id="projectType" data-val="true"
                    ng-change="vm.projectTypes=topSelectChange(vm.work.projectType,DICT.PROJECTTYPE.dicts)"
                            data-val-required="必填">
                        <option value="">请选择</option>
                        <option ng-repeat="x in DICT.PROJECTTYPE.dicts" value="{{x.dictKey}}" ng-selected="vm.work.projectType == x.dictKey">{{x.dictName}}</option>
                    </select>
                    <span data-valmsg-for="projectType" data-valmsg-replace="true" class="errors"></span>

                    <select ng-model="vm.work.projectSubType" name="projectSubType" id="projectSubType" data-val="true"
                            data-val-required="必填">
                        <option value="">请选择</option>
                        <option ng-repeat="x in vm.projectTypes" value="{{x.dictKey}}" ng-selected="vm.work.projectSubType == x.dictKey">{{x.dictName}}</option>
                    </select>
                    <span data-valmsg-for="projectSubType" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td style="width:150px;" class="text-center">联系人<span class="required">*</span></td>
                <td>
                    <input class="form-control input-sm "
                           ng-model="vm.work.contactPerson" id="contactPerson" name="contactPerson" data-val="true"
                           data-val-required="必填">
                    <span data-valmsg-for="contactPerson" data-valmsg-replace="true" class="errors"></span>
                </td>
                <td style="width:150px;" class="text-center">手机<span class="required">*</span></td>
                <td>
                    <input type="text" style="width:30%;" class="form-control input-sm "
                           ng-model="vm.work.contactPersonPhone" name="contactPersonPhone" data-val="true"
                           data-val-digits="手机号码只能为数字" data-val-required="必填">
                    <span data-valmsg-for="contactPersonPhone" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td style="width:150px;" class="text-center">电话<span class="required">*</span></td>
                <td>
                    <input type="text" style="width:30%;" class="form-control input-sm "
                           ng-model="vm.work.contactPersonTel" id="contactPersonTel" name="contactPersonTel"
                           data-val-digits="电话号码只能为数字" data-val="true" data-val-required="必填">
                    <span data-valmsg-for="contactPersonTel" data-valmsg-replace="true" class="errors"></span>
                </td>
                <td style="width:150px;" class="text-center">传真<span class="required">*</span></td>
                <td>
                    <input type="text" style="width:30%;" class="form-control input-sm "
                           ng-model="vm.work.contactPersonFax" name="contactPersonFax" id="contactPersonFax"
                           data-val-digits="传真只能为数字" data-val="true" data-val-required="必填">
                    <span data-valmsg-for="contactPersonFax" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            </tbody>
        </table>    <!-- end table -->
    </form> <!-- end form -->

</div>




