<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-upload.html'"></div>
<style>
    .k-animation-container ul {
        max-height: 200px;
    }
</style>

<!--合并选择公共页面-->
<#include "/sign/mergeSign.html"/>

<div class="toolbar">
    <button class="btn btn-sm btn-success" ng-click="vm.create()" ng-disabled="vm.iscommit"><span
            class="glyphicon glyphicon-ok"></span>保存
    </button>
    <go-back-flow></go-back-flow>   <!--流程回退按钮-->
    <flow-file-button></flow-file-button>   <!--附件上传按钮-->
</div>

<div style="background:white; min-height: 700px;">
    <ul id="wpTab" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" for-div="wp_edit">编辑页面</a></li>
        <li ng-show="vm.model.workProgramDtoList && vm.model.workProgramDtoList.length > 0">
        <a data-toggle="tab" for-div="wp_list">项目其它工作方案</a></li>
    </ul>
    

    <!--S 编辑页面 -->
    <div class="tab-content" style="background:white;">
      
        <!--S 编辑页面 -->
        <div class="well well-sm tab-pane fade in active" style="background:white;" id="wp_edit">
            <form id="work_program_form" name="work_program_form">
            <!-- S 项目建议书/可行性研究报告 -->
            <div ng-show="vm.work.workreviveStage=='项目建议书'|| vm.work.workreviveStage=='可行性研究报告' || vm.work.workreviveStage=='项目概算' || vm.work.workreviveStage=='其它'">
                <div id="mainEdit" ng-show="vm.work.branchId == '1'" ng-include src="'${path}/contents/app/workprogram/workprogramEdit/mainEdit.html'"></div>
                <div id="assistEdit" ng-show="vm.work.branchId != '1'" ng-include src="'${path}/contents/app/workprogram/workprogramEdit/assistEdit.html'"></div>
            </div>
            <!-- E 项目建议书/可行性研究报告 -->
            
        
            <!--S 资金申请报告 -->
             <div ng-show="vm.work.workreviveStage=='资金申请报告'">
                <div id="mainCapitalAppReportEdit" ng-show="vm.work.branchId == '1'" ng-include src="'${path}/contents/app/workprogram/workprogramEdit/mainCapitalAppReportEdit.html'"></div>
                <div id="assistCapitalAppReportEdit" ng-show="vm.work.branchId != '1'" ng-include src="'${path}/contents/app/workprogram/workprogramEdit/assistCapitalAppReportEdit.html'"></div>
            </div> 
            <!--E 资金申请报告 -->
             
            <!-- S 进口设备 -->
             <div ng-show="vm.work.workreviveStage=='进口设备'">
                <div id="mainForeignEdit" ng-show="vm.work.branchId == '1'" ng-include src="'${path}/contents/app/workprogram/workprogramEdit/mainForeignEdit.html'"></div>
                <div id="assistForeignEdit" ng-show="vm.work.branchId != '1'" ng-include src="'${path}/contents/app/workprogram/workprogramEdit/assistForeignEdit.html'"></div>
            </div>
            <!-- E 进口设备 -->

            <!-- S 设备清单（国产）  /设备清单（进口）-->
            <div ng-show="vm.work.workreviveStage=='设备清单（国产）' ||vm.work.workreviveStage=='设备清单（进口）'">
                 <div id="mainEquipmentImportEdit" ng-show="vm.work.branchId == '1'" ng-include src="'${path}/contents/app/workprogram/workprogramEdit/mainEquipmentImportEdit.html'"></div>
                 <div id="assistEquipmentImportEdit" ng-show="vm.work.branchId != '1'" ng-include src="'${path}/contents/app/workprogram/workprogramEdit/assistEquipmentImportEdit.html'"></div>
             </div>
            <!-- S 设备清单（国产）/设备清单（进口） -->
            <!--引入模板 -->
            <div id="mainEdit_templ" style="display: none;"> <#include "/templatePrint/workprogram/workProgramEditXmjys.html"/></div>
            <div id="mainCapitalAppReportEdit_templ" style="display: none;"> <#include "/templatePrint/workprogram/capitalAppReportEditZjsq.html"/></div>
            <div id="mainForeignEdit_templ" style="display: none;"> <#include "/templatePrint/workprogram/workProgramEditJksb.html"/></div>
            <div id="mainEquipmentImportEdit_templ" style="display: none;"> <#include "/templatePrint/workprogram/workProgramEditSbqd.html"/></div>
            </form>
            <!--协办 工作方案模板--->
            <div id="assistEdit_templ" style="display: none;"> <#include "/templatePrint/workprogram/workProgramEditXmjys.html"/></div>
            <div id="assistEquipmentImportEdit_templ" style="display: none;"> <#include "/templatePrint/workprogram/workProgramEditSbqd.html"/></div>
            <div id="assistForeignEdit_templ" style="display: none;"> <#include "/templatePrint/workprogram/workProgramEditJksb.html"/></div>
            <div id="assistCapitalAppReportEdit_templ" style="display: none;"> <#include "/templatePrint/workprogram/capitalAppReportEditZjsq.html"/></div>

        </div>
        <!--E 编辑页面 -->  
      
        <!--S 工作方案查看页面 -->
        <div class="well well-sm tab-pane fade" style="background:white;" id="wp_list">
            <div id="detail_xmjys"  ng-show="vm.work.workreviveStage=='项目建议书'|| vm.work.workreviveStage=='可行性研究报告' || vm.work.workreviveStage=='项目概算' || vm.work.workreviveStage=='其它'" ng-include src="'${path}/contents/app/workprogram/workprogramDetail/all_details.html'"></div>
            <div id="detail_zjsq" ng-show="vm.work.workreviveStage=='资金申请报告'" ng-include src="'${path}/contents/app/workprogram/workprogramDetail/capitalAppReportDetail.html'"></div>
            <div id="detail_sbqd" ng-show="vm.work.workreviveStage=='设备清单（国产）' || vm.work.workreviveStage=='设备清单（进口）'" ng-include src="'${path}/contents/app/workprogram/workprogramDetail/mainDomesticDetail.html'"></div>
            <div id="detail_jksb" ng-show="vm.work.workreviveStage=='进口设备'" ng-include src="'${path}/contents/app/workprogram/workprogramDetail/foregnDetail.html'"></div>

            <!--E 工作方案查看页面 -->
            <div id="detail_xmjys_templ" style="display: none;"> <#include "/templatePrint/workprogram/workProgramXmjys.html"/></div>
            <div id="detail_zjsq_templ" style="display: none;"><#include "/templatePrint/workprogram/capitalAppReportZjsq.html"/></div>
            <div id="detail_jksb_templ" style="display: none;"><#include "/templatePrint/workprogram/workProgramJksb.html"/></div>
            <div id="detail_sbqd_templ" style="display: none;"><#include "/templatePrint/workprogram/workProgramSbqd.html"/></div>
        </div>

    </div>

</div>




