<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<!-- 附件 -->
<#include "/file/common.html"/>
<style>
    .k-animation-container ul {
        max-height: 200px;
    }
</style>

<!--合并选择公共页面-->
<#include "/sign/mergeSign.html"/>

<div class="toolbar" >
    <button class="btn btn-sm btn-success" ng-click="vm.create()" ng-disabled="vm.iscommit"><span
            class="glyphicon glyphicon-ok"></span>保存
    </button>
    <go-back-flow></go-back-flow>   <!--流程回退按钮-->
    <flow-file-button></flow-file-button>   <!--附件上传按钮-->
    <button  ng-if="vm.work.workreviveStage=='项目建议书'" class="btn btn-sm btn-primary" style="width: 70px; margin: auto;" ng-click="printFile(vm.work.id,'WORKPROGRAM','STAGESUG')">打印预览</button>
    <button  ng-if="vm.work.workreviveStage=='登记赋码'" class="btn btn-sm btn-primary" style="width: 70px; margin: auto;" ng-click="printFile(vm.work.id,'WORKPROGRAM','REGISTERCODE')">打印预览</button>
    <button  ng-if="vm.work.workreviveStage=='可行性研究报告'" class="btn btn-sm btn-primary" style="width: 70px; margin: auto;" ng-click="printFile(vm.work.id,'WORKPROGRAM','STAGESTUDY')">打印预览</button>
    <button  ng-if="vm.work.workreviveStage=='进口设备'" class="btn btn-sm btn-primary" style="width: 70px; margin: auto;" ng-click="printFile(vm.work.id,'WORKPROGRAM','STAGEDEVICE')">打印预览</button>
    <button  ng-if="vm.work.workreviveStage=='设备清单（国产）' ||vm.work.workreviveStage=='设备清单（进口）'" class="btn btn-sm btn-primary" style="width: 70px;" ng-click="printFile(vm.work.id,'WORKPROGRAM','STAGEIMPORT')">打印预览</button>
    <button  ng-if="vm.work.workreviveStage=='资金申请报告'" class="btn btn-sm btn-primary" style="width: 100px; margin: auto;" ng-click="printFile(vm.work.id,'WORKPROGRAM','STAGEREPORT')">打印预览</button>
    <button  ng-if=" vm.work.workreviveStage=='其它'" class="btn btn-sm btn-primary" style="width: 70px; margin: auto;" ng-click="printFile(vm.work.id,'WORKPROGRAM','STAGEOTHER')">打印预览</button>
    <button ng-if="vm.work.expertSelectedDtoList" class="btn btn-sm btn-primary" style="width: 140px; margin: auto;"
            ng-click="printFile(vm.work.id,'WORKPROGRAM','INFORMATION')">打印专家信息预览
    </button>
    <button ng-if="vm.work.expertSelectedDtoList"  class="btn btn-sm btn-primary" style="width: 100px; margin: auto;"
             ng-click="exportInfo(vm.work.id,'WORKPROGRAM','INFORMATION' , '专家信息导出')">专家信息导出
    </button>
</div>


<div style="background:white; min-height: 700px;">
    <ul id="wpTab" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" for-div="wp_edit">编辑页面</a></li>
        <li ng-show="vm.model.workProgramDtoList && vm.model.workProgramDtoList.length > 0">
        <a data-toggle="tab" for-div="wp_list">项目其它工作方案</a></li>
    </ul>

    <!--S 编辑页面 -->
    <div class="tab-content" style="background:white;">
        <!--S 编辑页面 -->
        <div  class="well well-sm tab-pane fade in active" style="background:white;" id="wp_edit">
            <form id="work_program_form" name="work_program_form">
            <!-- S 项目建议书/可行性研究报告 -->
            <div ng-if="vm.work.workreviveStage=='项目建议书'|| vm.work.workreviveStage=='可行性研究报告' || vm.work.workreviveStage=='项目概算' || vm.work.workreviveStage=='其它' || vm.work.workreviveStage=='登记赋码'">
                <div ng-if="vm.work.branchId == '1'" >
                    <div id="mainEdit" ng-include src="'${path}/contents/app/workprogram/workprogramEdit/mainEdit.html'"></div>
                </div>

                <div ng-if="vm.work.branchId != '1'" >
                    <div id="assistEdit" ng-include src="'${path}/contents/app/workprogram/workprogramEdit/assistEdit.html'"></div>
                </div>
            </div>
            <!-- E 项目建议书/可行性研究报告 -->


            <!--S 资金申请报告 -->
             <div ng-if="vm.work.workreviveStage=='资金申请报告'">
                <div  ng-if="vm.work.branchId == '1'">
                    <div id="mainCapitalAppReportEdit" ng-include src="'${path}/contents/app/workprogram/workprogramEdit/mainCapitalAppReportEdit.html'"></div>
                </div>
                <div  ng-if="vm.work.branchId != '1'" >
                    <div id="assistCapitalAppReportEdit" ng-include src="'${path}/contents/app/workprogram/workprogramEdit/assistCapitalAppReportEdit.html'"></div>
                </div>
            </div>
            <!--E 资金申请报告 -->

            <!-- S 进口设备 -->
             <div ng-if="vm.work.workreviveStage=='进口设备'">
                <div  ng-if="vm.work.branchId == '1'" >
                    <div id="mainForeignEdit" ng-include src="'${path}/contents/app/workprogram/workprogramEdit/mainForeignEdit.html'"></div>
                </div>
                <div  ng-if="vm.work.branchId != '1'" >
                    <div id="assistForeignEdit" ng-include src="'${path}/contents/app/workprogram/workprogramEdit/assistForeignEdit.html'"></div>
                </div>
            </div>
            <!-- E 进口设备 -->

            <!-- S 设备清单（国产）  /设备清单（进口）-->
            <div ng-if="vm.work.workreviveStage=='设备清单（国产）' ||vm.work.workreviveStage=='设备清单（进口）'">
                 <div  ng-if="vm.work.branchId == '1'" >
                     <div id="mainEquipmentImportEdit" ng-include src="'${path}/contents/app/workprogram/workprogramEdit/mainEquipmentImportEdit.html'"></div>
                 </div>
                 <div  ng-if="vm.work.branchId != '1'" >
                     <div id="assistEquipmentImportEdit" ng-include src="'${path}/contents/app/workprogram/workprogramEdit/assistEquipmentImportEdit.html'"></div>
                 </div>
             </div>
            <!-- S 设备清单（国产）/设备清单（进口） -->
            </form>

        </div>
        <!--E 编辑页面 -->
      
        <!--S 工作方案查看页面 -->
        <div class="well well-sm tab-pane fade" style="background:white;" id="wp_list" >
            <div  ng-if="vm.work.workreviveStage=='项目建议书'|| vm.work.workreviveStage=='可行性研究报告' || vm.work.workreviveStage=='项目概算' || vm.work.workreviveStage=='其它' || vm.work.workreviveStage=='登记赋码' " >
                <div id="detail_xmjys" ng-include src="'${path}/contents/app/workprogram/workprogramDetail/all_details.html'"></div>
            </div>
            <div  ng-if="vm.work.workreviveStage=='资金申请报告'" >
                <div id="detail_zjsq" ng-include src="'${path}/contents/app/workprogram/workprogramDetail/capitalAppReportDetail.html'"></div>
            </div>
            <div  ng-if="vm.work.workreviveStage=='设备清单（国产）' || vm.work.workreviveStage=='设备清单（进口）'" >
                <div id="detail_sbqd" ng-include src="'${path}/contents/app/workprogram/workprogramDetail/mainDomesticDetail.html'"></div>
            </div>
            <div  ng-if="vm.work.workreviveStage=='进口设备'" >
                <div id="detail_jksb" ng-include src="'${path}/contents/app/workprogram/workprogramDetail/foregnDetail.html'"></div>
            </div>

        </div>
    </div>
    <div style="display: none;" id="queryExportDetailsWP">

        <ul id="myTabExpertWP" class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" for-div="busi_baseinfoWP">专家信息</a></li>
            <li><a id="show_workprogram_a" data-toggle="tab" for-div="busi_workplanWP">评审过项目</a>
            </li>
        </ul>

        <div class="tab-content" style="background:white;">
            <div class="tab-pane fade in active" style="background:white;" id="busi_baseinfoWP">
            <#include "/expertReview/expertDetail2.html"/>
            </div><!-- end tab -->

            <div class="tab-pane fade" style="background:white;" id="busi_workplanWP">
            <#include "/expert/reviewProjectList2.html"/>
            </div><!-- end tab -->

        </div>




