<meta charset="UTF-8">
<!-- start 主项目 -->
<div>
    <div id="wpEdit1">
        <table class="print-table">
            <caption class="title" style="margin-top: 10px;" >{{vm.work.titleName}}</caption>
            <caption>
                <span >QR-4.9-02-A0</span>
            </caption>
            <caption style="width:80%;">
                <span style="float:left;">
                    <span>评审方式: {{vm.work.reviewType}}</span>
                    <span style="margin:0px 10px;">{{vm.work.isSigle}}</span>
                    <span ng-if="vm.work.isSigle=='合并评审' && vm.work.isMainProject == 9" > 主项目 </span>
                    <span ng-if="vm.work.isSigle=='合并评审' && vm.work.isMainProject == 0" > 次项目 </span>
                </span>
                <span style="float:right;">{{vm.work.titleDate | date:'yyyy年MM月dd日' }}</span>
            </caption>
            <tr ng-if="vm.showTotalInvestment!=true">
                <td class="text-center">项目名称</td>
                <td colspan="5">{{vm.work.projectName}}</td>
            </tr>
            <tr ng-if="vm.showTotalInvestment==true">
                <td class="text-center">项目名称</td>
                <td colspan="2">{{vm.work.projectName}}</td>
                <td  class="text-center">总投资{{}}</td>
                <td colspan="2">{{vm.work.totalInvestment}} 万元</td>
            </tr>
            <tr>
                <td >来文单位</td>
                <td colspan="2">{{vm.work.sendFileUnit}}</td>
                <td class="text-center">来文单位联系人</td>
                <td colspan="2">{{vm.work.sendFileUser}}</td>
            </tr>
            <tr style="height: 60px;">
                <td >项目单位</td>
                <td colspan="5">{{vm.work.buildCompany}}</td>
            </tr>

            <tr>
                <td >联系人</td>
                <td colspan="2">{{vm.work.contactPerson}}</td>
                <td class="text-center">手机</td>
                <td colspan="2">{{vm.work.contactPersonPhone}}</td>
            </tr>
            <tr>
                <td>电话</td>
                <td colspan="5">{{vm.work.contactPersonTel}}</td>
            </tr>
            <tr>
                <td>传真</td>
                <td colspan="5">{{vm.work.contactPersonFax}}</td>
            </tr>
            <tr>
                <td>项目类型</td>
                <td colspan="5">{{vm.work.projectType}}</td>
            </tr>

            <tr>
                <td  colspan="2" style="width:13%;vertical-align:middle;" class="text-center" >项目概况</td>
                <td colspan="4">
                    <div style="width: 100%; height: 200px; overflow: hidden;font-size: 12px;">{{vm.work.projectSurvey}}</div>
                </td>
            </tr>

            <tr>
                <td rowspan="2" height="60px">评估部门</td>
                <td colspan="2" rowspan="2">{{vm.work.reviewOrgName}}</td>
                <td class="text-center">第一负责人</td>
                <td colspan="2">{{vm.work.mianChargeUserName}}</td>
            </tr>
            <tr>
                <td>第二负责人</td>
                <td colspan="5">{{vm.work.secondChargeUserName}}</td>
            </tr>

            <tr>
                <td height="40px;" class="text-center">补充资料函</td>
                <td colspan="2">
                    <input type="checkbox" ng-disabled="true" ng-model="vm.work.isHaveSuppLetter" name="isHaveSuppLetter" ng-checked="vm.work.isHaveSuppLetter==9" ng-true-value="9"/>是
                    <input type="checkbox" ng-disabled="true" ng-model="vm.work.isHaveSuppLetter" name="isHaveSuppLetter" ng-checked="!vm.work.isHaveSuppLetter || vm.work.isHaveSuppLetter==0"  ng-true-value="0"/>否
                </td>
                <td  class="text-center">补充资料函发文日期</td>
                <td colspan="2">{{vm.work.suppLetterDate}}</td>
            </tr>
            <tr>
                <td height="40px;">评审会时间</td>
                <td colspan="2">{{vm.work.roomBookingDtos[0].rbDate}}</td>
                <td class="text-center">会议地点</td>
                <td colspan="2">{{vm.work.roomBookingDtos[0].addressName}}</td>
            </tr>
            <tr></tr>
            <tr >
                <td class="text-center">专家费用</td>
                <td colspan="5">{{vm.work.expertCost}}</td>
            </tr>
        </table>
    </div>
    <div id="wpEdit2">
        <table class="print-table">
            <tr ng-if="vm.work.isSigle && vm.work.isSigle == '合并评审' ">
                <td >合并评审相关项目</td>
                <td colspan="5" height="20px"></td>
            </tr>
            <tr class="text-center" >
                <td >拟邀请专家</td>
                <td>工作单位</td>
                <td>职务/职称</td>
                <td>专业</td>
                <td>联系电话</td>
                <td>专家类别</td>
            </tr>
            <tr  ng-repeat="x in vm.work.expertDtoList |limitTo :8 track by $index  " ng-if="vm.work.expertDtoList && vm.work.expertDtoList.length > 0">
                <td class="text-center" height="50px">
                    <div style="width : 100%; height: 60px; overflow: hidden;font-size: 12px;">{{x.name}}</div>
                </td>
                <td class="text-center">
                    <div style="width : 100%; height: 60px; overflow: hidden;font-size: 12px;">{{x.comPany}}</div>
                </td>
                <td class="text-center">
                    <div style="width : 100%; height: 60px; overflow: hidden;font-size: 12px;">{{x.job}}/{{x.post}}</div>
                </td>
                <td class="text-center">
                    <div style="width : 100%; height: 60px; overflow: hidden;font-size: 12px;">{{x.majorStudy}}、{{x.expertDto.majorWork}}</div>
                </td>
                <td class="text-center">
                    <div style="width : 100%; height: 60px; overflow: hidden;font-size: 12px;">{{x.userPhone}}</div>
                </td>
                <td class="text-center">
                    <div style="width : 100%; height: 60px; overflow: hidden;font-size: 12px;">{{x.expeRttype}}</div>
                </td>
            </tr>
            <tr  ng-repeat="x in vm.expertList |limitTo :(8 - vm.work.expertDtoList.length) track by $index  " ng-if="(8 - vm.work.expertDtoList.length)>0" >
                <td  height="50px">&nbsp;</td>
                <td ><div style="width : 100%; height: 60px; overflow: hidden;font-size: 12px;">&nbsp;</div></td>
                <td ><div style="width : 100%; height: 60px; overflow: hidden;font-size: 12px;">&nbsp;</div></td>
                <td ><div style="width : 100%; height: 60px; overflow: hidden;font-size: 12px;">&nbsp;</div></td>
                <td ><div style="width : 100%; height: 60px; overflow: hidden;font-size: 12px;">&nbsp;</div></td>
                <td ><div style="width : 100%; height: 60px; overflow: hidden;font-size: 12px;">&nbsp;</div></td>
            </tr>

            <tr>
                <td >拟评审重点问题</td>
                <td colspan="5" >
                    <div style="width: 100%; height: 50px; overflow: hidden;font-size: 12px;">{{vm.work.mainPoint}}</div>
                </td>
            </tr>
            <tr>
                <td>部长意见</td>
                <td colspan="5" >
                    <div style="width: 100%; height: 50px; overflow: hidden;font-size: 12px;">
                        <p class="text-left" style="height: 20%;"> {{vm.work.ministerSuggesttion}} </p>
                        <p class="text-right" style="margin-right: 90px;">签名：</p>
                        <p class="text-right" style="margin-right: 22px; " ng-if="vm.work.ministerDate">日期：{{vm.work.ministerDate}}</p>
                        <p class="text-right" style="margin-right: 90px; " ng-if="!(vm.work.ministerDate)">日期：</p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>中心领导签批意见</td>
                <td colspan="5" >
                    <div style="width: 100%; height: 50px; overflow: hidden;font-size: 12px;">
                        <p class="text-left" style="height: 20%;"> {{vm.work.leaderSuggesttion}} </p>
                        <p class="text-right" style="margin-right: 90px; " >签名：</p>
                        <p class="text-right" style="margin-right: 22px; "  ng-if="vm.work.leaderDate">日期：{{vm.work.leaderDate}}</p>
                        <p class="text-right" style="margin-right: 90px; "  ng-if="!(vm.work.leaderDate)">日期：</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- end 主项目 -->

