<!-- start 主项目 -->
<div  style="margin-top: 10px;"  >
    <div id="wp_{{$index}}" class="collapse in">
        <table class="print-table">
            <caption class="title" style="margin-top: 10px;">{{vm.work.titleName}}</caption>
            <caption>
                <span>QR-4.9-02-A0</span>
            </caption>
            <caption style="width:100%;">
                <span style="float:left;">
                    <span>评审方式: {{vm.work.reviewType}}</span>
                    <span style="margin:0px 10px;">{{vm.work.isSigle}}</span>
                    <span ng-if="vm.work.isSigle=='合并评审' && vm.work.isMainProject == 9" > 主项目 </span>
                    <span ng-if="vm.work.isSigle=='合并评审' && vm.work.isMainProject == 0" > 次项目 </span>
                </span>
                <span style="float:right;">{{vm.work.titleDate | date:'yyyy年MM月dd日' }}</span>
            </caption>
            <tr class="tr-hidden">
                <td width="5%"></td>
                <td width="10%"></td>
                <td width="20%"></td>
                <td width="14%"></td>
                <td width="12%"></td>
                <td width="18%"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="2" class="text-center">项目名称</td>
                <td colspan="6">{{vm.work.projectName}}</td>
            </tr>
            <tr>
                <td colspan="2">来文单位</td>
                <td colspan="3">{{vm.work.sendFileUnit}}</td>
                <td class="text-center">来文单位联系人</td>
                <td colspan="2">{{vm.work.sendFileUser}}</td>
            </tr>
            <tr>
                <td colspan="2">建设单位</td>
                <td colspan="6">{{vm.work.buildCompany}}</td>
            </tr>

            <tr>
                <td colspan="2" rowspan="3">联系人</td>
                <td colspan="3" rowspan="3">{{vm.work.contactPerson}}</td>
                <td class="text-center">手机</td>
                <td colspan="2">{{vm.work.contactPersonPhone}}</td>
            </tr>
            <tr>
                <td>电话</td>
                <td colspan="2">{{vm.work.contactPersonTel}}</td>
            </tr>
            <tr>
                <td>传真</td>
                <td colspan="2">{{vm.work.contactPersonFax}}</td>
            </tr>

           <!-- <tr>
                <td colspan="2">项目类型</td>
                <td colspan="3">{{vm.work.projectType}}</td>
                <td class="text-center">设备清单申报总额</td>
                <td colspan="2">{{vm.work.appalyInvestment}}</td>
            </tr>-->

            <tr>
                <td colspan="2" style="height: 100px;">项目概况</td>
                <td colspan="6" height="80">{{vm.work.projectSurvey}}</td>
            </tr>
            <tr>
                <td height="120" colspan="2" rowspan="2">评审部门</td>
                <td colspan="3" rowspan="2">{{vm.work.reviewOrgName}}</td>
                <td class="text-center">第一负责人</td>
                <td colspan="2">{{vm.work.mianChargeUserName}}</td>
            </tr>
            <tr>
                <td>第二负责人</td>
                <td colspan="2">{{vm.work.secondChargeUserName}}</td>
            </tr>
            <tr>
                <td class="text-center" colspan="2">补充资料函</td>
                <td colspan="3">
                    <input type="checkbox" ng-disabled="true" ng-model="vm.work.isHaveSuppLetter" name="isHaveSuppLetter" ng-checked="vm.work.isHaveSuppLetter==9" ng-true-value="9" >是
                    <input type="checkbox" ng-disabled="true" ng-model="vm.work.isHaveSuppLetter" name="isHaveSuppLetter" ng-checked="!vm.work.isHaveSuppLetter || vm.work.isHaveSuppLetter==0"  ng-true-value="0">否
                </td>
                <td class="text-center">补充资料函发文日期</td>
                <td colspan="2">{{vm.work.suppLetterDate}}</td>
            </tr>
            <tr>
                <td colspan="2">评审会时间</td>
                <td colspan="3">{{vm.work.rbDate}}</td>
                <td class="text-center">会议地点</td>
                <td colspan="2">{{vm.work.addressName}}</td>
            </tr>
            <tr></tr>
            <tr ng-if="vm.work.isSigle=='单个评审' || (vm.work.isSigle=='合并评审' && vm.work.isMainProject == 9)">
                <td colspan="2">调研时间</td>
                <td colspan="3">{{vm.work.studyAllDay}}<span ng-if="vm.work.studyQuantum">,</span>{{vm.work.studyQuantum}}<span ng-if="vm.work.studyBeginTimeStr">,</span>{{vm.work.studyBeginTimeStr}}<span ng-if="vm.work.studyEndTimeStr">至</span>{{vm.work.studyEndTimeStr}}</td>
                <td class="text-center">专家费用</td>
                <td colspan="2">{{vm.work.expertCost}}</td>
            </tr>
            <tr ng-if="vm.work.isSigle && vm.work.isSigle == '合并评审'">
                <td colspan="2">合并评审相关项目</td>
                <td colspan="6"></td>
            </tr>
            <tr class="text-center" ">
                <td colspan="2">拟邀请专家</td>
                <td>工作单位</td>
                <td>职务/职称</td>
                <td>专业</td>
                <td>联系电话</td>
                <td>专家类别</td>
                <td>备注</td>
            </tr>
            <tr  ng-repeat="x in vm.work.expertDtoList |limitTo :10 track by $index  " ng-show="vm.work.expertDtoList && vm.work.expertDtoList.length > 0">
                <td colspan="2" class="text-center" height="50px">{{x.name}}</td>
                <td class="text-center">{{x.comPany}}</td>
                <td class="text-center">{{x.job}}/{{x.post}}</td>
                <td class="text-center">{{x.majorStudy}}、{{x.expertDto.majorWork}}</td>
                <td class="text-center">{{x.userPhone}}</td>
                <td class="text-center">{{x.expeRttype}}</td>
                <td class="text-center">{{x.remark}}</td>
            </tr>
            <tr  ng-repeat="x in vm.expertList |limitTo :(10 - vm.work.expertDtoList.length) track by $index  " >
                <td colspan="2" height="50px">&nbsp;</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
                <td >&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" height="80">拟邀请单位及领导</td>
                <td colspan="6" >{{vm.work.inviteUnitLeader}}</td>
            </tr>
            <tr>
                <td  colspan="2" height="80">拟评审重点问题</td>
                <td colspan="6" >{{vm.work.mainPoint}}</td>
            </tr>
            <tr>
                <td colspan="2" height="80px">部长意见</td>
                <td colspan="6">
                    <p class="text-left"> {{w.ministerSuggesttion}}</p>
                    <p class="text-right" style="margin-right: 100px; margin-top: 20px;">签名：</p>
                    <p class="text-right" style="margin-right: 100px; margin-top: 5px;">日期：</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" height="80px">中心领导签批意见</td>
                <td colspan="6">
                    <p class="text-left"> {{w.leaderSuggesttion}}</p>
                    <p class="text-right" style="margin-right: 100px; margin-top: 20px;">签名：</p>
                    <p class="text-right" style="margin-right: 100px; margin-top: 5px;">日期：</p>
                </td>
            </tr>
        </table>
    </div>
</div>