<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/sign">项目签收</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <form id="form" name="form">
    	<div class="toolbar">
            <a class="btn btn-sm btn-primary" href="#"><span class="glyphicon glyphicon-chevron-left"></span>返回</a>
            <button class="btn btn-sm btn-success" ng-click="vm.create()" ><span class="glyphicon glyphicon-ok"></span>创建</button>
        </div>
        <table style="width:100%">
            <tr>
                <td class="formAlignRight" style="width:150px;"></td>
                <td style="width:400px;"><span class="errors">{{vm.message}}</span></td>
                <td></td>
            </tr>           
             <tr>
                <td class="formAlignRight">项目名称： <span class="required">*</span></td>
                <td>
                    <input  type="text" maxlength="200" class="form-control input-sm "  ng-model="vm.model.projectname" id="projectname" name="projectname" data-val="true" data-val-required="必填">
                </td>
                <td><span data-valmsg-for="projectname" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">委内收文编号： <span class="required">*</span></td>
                <td>
                    <input  type="text" maxlength="200" class="form-control input-sm "  ng-model="vm.model.filecode" id="filecode" name="filecode" data-val="true" data-val-required="必填">
                </td>
                <td><span data-valmsg-for="filecode" data-valmsg-replace="true" class="errors"></span></td>
            </tr> 
            <tr>
                <td class="formAlignRight">项目代码： <span class="required">*</span></td>
                <td>
                    <input  type="text" maxlength="200" class="form-control input-sm "  ng-model="vm.model.projectcode" id="projectcode" name="projectcode" data-val="true" data-val-required="必填">
                </td>
                <td><span data-valmsg-for="projectcode" data-valmsg-replace="true" class="errors"></span></td>
            </tr>                          
            <tr>
                <td class="formAlignRight">项目阶段： <span class="required">*</span></td>
                <td>
                    <select ng-model="vm.model.reviewstage" name="reviewstage" id="reviewstage">
						<option ng-repeat="x in vm.dicList" value="{{x.dictName}}">{{x.dictName}}</option>
					</select>
                </td>
                <td><span data-valmsg-for="reviewstage" data-valmsg-replace="true" class="errors"></span></td>
            </tr>            
            <tr>
                <td class="formAlignRight">备注： </td>
                <td>
                <textarea class="form-control" maxlength="200" name="remark" id="remark" ng-model="vm.model.remark" style="height:120px;"></textarea>
                </td>
                <td><span data-valmsg-for="remark" data-valmsg-replace="true" class="errors"></span></td>
            </tr>          
        </table>
    </form>
</div>
