<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-upload.html'"></div>
<style type="text/css" media=print>
    .noprint {
        display: none
    }
</style>
<style>
	.printbody{
		border: 0px;
		width: 100%;
		left: 0px;
		top:0px;
	}
	.nomargin{
		margin:0;
	}
    .noborder{
		border: 0px !important;
	}
	.printmesge{
		display: none;
	}

	.tableBOX{ border-right:1px solid #000;border-bottom:1px solid #000; background:#fff;}
	.tableBOX td{
		border-left: 1px solid #000;
		border-top: 1px solid #000;
		padding: 2px;
		word-break:break-all;
		word-wrap:break-word;

	}
	table tr td div input{
		top:0px;
	}
	.tableBOX table>tbody>tr>td{white-space : nowrap; padding:0px !important; text-align: center;}
</style>
<div class="well well-sm" style="background:white;min-height: 900px;">
    <div class="toolbar">
        <button class="btn btn-sm btn-success" ng-click="vm.updateFillin()">
            <span class="glyphicon glyphicon-ok"></span>保存
        </button>
        <button class="btn btn-sm btn-primary" ng-click="back();"><span class="glyphicon glyphicon-chevron-left"></span>返回</button>

        <button id="linksbtn" class="btn btn-sm btn-primary"  ng-click="vm.signPreview()" >打印预览</button>
        <input id="btnPrint" class="btn btn-sm btn-primary" type="button" value="打印" onclick="javascript:window.print();" />
        <button class="btn btn-sm btn-primary" ng-click="vm.otherPrintln()" ng-hide="true">其他资料打印</button>
        <button class="btn btn-sm btn-primary" id="upload_file_bt" >上传附件</button>
        <button class="btn btn-sm btn-primary" id="detail_file_bt" >查看附件</button>
    </div>
    <!-- s form -->
    <form id="sign_fill_form" name="sign_fill_form">
		<!-- S 编辑页面 -->
		<!--S_ 项目建议书/可行性研究报告 -->
		<div ng-show="vm.model.reviewstage=='项目建议书' || vm.model.reviewstage=='可行性研究报告'" ng-include src="'${path}/contents/app/sign/signEdit/default.html'"></div>
		<!--E_ 项目建议书/可行性研究报告 -->

		<!-- S 进口设备 -->
        <div ng-show="vm.model.reviewstage=='进口设备'" ng-include src="'${path}/contents/app/sign/signEdit/foreignEquipmenEditt.html'"></div>
        <!-- S 进口设备 -->
        
         <!-- S_设备清单（国产） -->
        <div ng-show="vm.model.reviewstage=='设备清单（国产）'" ng-include src="'${path}/contents/app/sign/signEdit/equipmenDomesticEdit.html'"></div>
    	<!-- E_设备清单（国产） --> 
    	
    	 <!-- S_设备清单（进口） -->
        <div ng-show="vm.model.reviewstage=='设备清单（进口）'" ng-include src="'${path}/contents/app/sign/signEdit/equipmentImportEdit.html'"></div>
    	<!-- E_设备清单（进口） --> 
    	
    	<!-- S 项目概算  --> 
    	  <div ng-show="vm.model.reviewstage=='项目概算'" ng-include src="'${path}/contents/app/sign/signEdit/projectBudgetEidt.html'"></div>
    	<!-- E 项目概算  -->

    </form> <!-- end form -->
 
	<div class="navbar navbar-default navbar-fixed-bottom" style="padding: 0;margin: 0;" >
        <div class="text-center" style="line-height: 50px;">
            默认办理部门：<input type="radio" value="PD" ng-model="vm.model.dealOrgType" ng-click="vm.checkOrgType($event)"><span>评估</span> <input type="radio" value="GD" ng-model="vm.model.dealOrgType" ng-click="vm.checkOrgType($event)"><span>概算</span>
           	<span ng-hide="vm.model.ispresign == '0' ">
            <button class="btn btn-sm btn-default" ng-click="vm.startNewFlow()"  >发起流程</button>
            </span>         
        </div>
	</div>

	<!--E 打印预览 -->

</div>
	 
	

