<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-idea.html'"></div>
<#include "/sign/signAssociate.html"/>
<style>
    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        text-align: center;
    }

    .rating > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
    }

    .rating > span:hover,
    .rating > span:hover ~ span {
        color: transparent;
    }

    .rating > span:hover:before,
    .rating > span:hover ~ span:before {
        content: "\2605";
        position: absolute;
        left: 0;
        color: gold;
    }
</style>
<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/listSign">项目签收管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>

    <!-- 流程处理页面 -->
    <div ng-include src="'${path}/contents/app/sign/newFlowDeal.html'"></div>

    <!--显示详情页-->
    <#include "/sign/sign.html"/>
</div>
