<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
	<ol class="breadcrumb">
		<li><a href="#/listSign">项目签收管理</a></li>
		<li class="active">{{vm.title}}</li>
	</ol>

	<ul id="myTab" class="nav nav-tabs">
		<li class="active"><a  data-toggle="tab" for-div="sign_detail"> 审批登记</a></li>
		<li ng-show="vm.show_workprogram" ><a id="show_workprogram_a"  data-toggle="tab" for-div="sign_workprogram">工作方案</a></li>
		<li ng-show="vm.show_dispatch" ><a id="show_dispatch_a"  data-toggle="tab" for-div="sign_dispatch">发文信息</a></li>
		<li ng-show="vm.show_filerecord" ><a id="show_filerecord_a"  data-toggle="tab" for-div="sign_filerecord">归档信息</a></li>

		<li><a  data-toggle="tab" for-div="sign_diagram">流程图</a></li>
		<li><a  data-toggle="tab" for-div="sign_history">处理记录</a></li>
	</ul>

	<div class="tab-content" style="background:white;">
		<!-- 隐藏域部分 -->
		<input type="hidden" ng-model="vm.model.isreviewcompleted" value="{{vm.model.isreviewcompleted}}" />

		<!-- 详情页 -->
		<div class="well well-sm tab-pane fade in active" style="background:white;" id="sign_detail">
			<div ng-include src="'${path}/contents/app/sign/detail.html'"></div>
		</div><!-- end tab1 -->

		<div class="well well-sm tab-pane fade" style="background:white;" id="sign_diagram">
			<img style="" src="{{vm.picture}}">
		</div><!-- end tab2 -->

		<div class="well well-sm tab-pane fade" style="background:white;" id="sign_history">
			<div class="grid" kendo-grid="grid" k-options="vm.historygrid"></div>
		</div><!-- end tab3 -->

		<div class="well well-sm tab-pane fade" style="background:white;" id="sign_workprogram" ng-show="vm.show_workprogram">
            <div ng-include src="'${path}/contents/app/workprogram/all_detail.html'" />
        </div><!-- 工作方案 -->

        <div class="well well-sm tab-pane fade" style="background:white;" id="sign_dispatch" ng-show="vm.show_dispatch">
            <div ng-include src="'${path}/contents/app/dispatch/detail.html'" />
        </div><!-- 发文 -->

        <div class="well well-sm tab-pane fade" style="background:white;" id="sign_filerecord" ng-show="vm.show_filerecord">
            <div ng-include src="'${path}/contents/app/fileRecord/detail.html'" />
        </div><!-- 归档 -->
	</div>
</div>