<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
	<ol class="breadcrumb">
		<li><a href="#/listSign">项目签收管理</a></li>
		<li class="active">{{vm.title}}</li>
	</ol>
	<div  class="toolbar">
		<go-back></go-back>
        <button class="btn btn-sm btn-primary" ng-click="vm.clickUploadBt();" id="upload_file_bt">上传附件</button>
	</div>
	<!--显示详情页-->
	<#include "/sign/sign.html"/>
</div>

<!--S 上传附件弹窗 -->
<div id="commonUploadWindow" style="margin:0px 20px 0px 10px;background:white;display:none;">
    <input type="file" id="sysfileinput" name="file" multiple="multiple" class="file-loading"/>
    <div ng-show="vm.sysFile.showBusiType">
        <span >文件类型：</span>
        <span >
           <select id="sysBusiType" name="sysBusiType" ng-model="vm.sysFile.sysBusiType" style="min-width:200px;margin-top:10px;">
               <option value="">请选择</option>
               <option  ng-repeat="x in DICT.SYS_MIN_TYPE.dicts" value="{{x.dictName}}">{{x.dictName}}</option>
           </select>
       </span>
    </div>
</div>
<!--E 上传附件弹窗 -->