<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<!-- 流程处理页面 -->
<div ng-include src="'${path}/contents/app/flow/flow_deal.html'"></div>

<ul id="myTab" class="nav nav-tabs">
    <li class="active"><a  data-toggle="tab" for-div="sign_detail"> 审批登记</a></li>
    <li ng-show="vm.model.isreviewcompleted > 0 " ><a  data-toggle="tab" for-div="sign_workprogram">工作方案</a></li> <!-- 填完工作方案才显示 -->
    <li><a  data-toggle="tab" for-div="sign_diagram">流程图</a></li>
    <li><a  data-toggle="tab" for-div="sign_history">处理记录</a></li>   
</ul>

<div class="tab-content" style="background:white;">        
	<!-- 隐藏域部分 -->
	<input type="hidden" ng-model="vm.model.isreviewcompleted" value="{{vm.model.isreviewcompleted}}" />	
	
	
	<div class="well well-sm tab-pane fade in active" style="background:white;" id="sign_detail">
		<!-- s form -->
		<form id="sign_fill_form" name="sign_fill_form" >
			<input type="hidden" ng-model="vm.model.signid" value="{{vm.model.signid}}" />	<!-- hidden id -->						
			<!-- s table -->
			<table class="table table-bordered">
			  <caption class="text-center h3"><strong>深圳市政府投资项目评审中心<br>评估论证项目报审登记表</strong></caption>
			  <caption class="text-right">收文日期:2017年4月24日</caption>
			  <tbody>
			    <tr>
			      <td width="15%" class="text-center">主办事处</td>
			      <td>
			      		<select ng-model="vm.model.maindepetid" name="maindepetid" id="maindepetid">
							<option ng-repeat="x in vm.maindept" value="{{x.id}}">{{x.name}}</option>
						</select>
				  </td>
			      <td width="15%" class="text-center">主办事处联系人</td>
			      <td>
						<select ng-model="vm.model.maindepetcontactuserid" name="maindepetcontactuserid" id="maindepetcontactuserid">
							<option ng-repeat="u in vm.maindeptuser" value="{{u.id}}">{{u.displayName}}</option>
						</select>
				  </td>
			    </tr>
			    <tr>
			      <td width="15%" class="text-center">协办事处</td>
			      <td>
						<select ng-model="vm.model.assistdeptid" name="assistdeptid" id="assistdeptid">
							<option ng-repeat="x in vm.assistdept" value="{{x.id}}">{{x.name}}</option>
						</select>
				  </td>
			      <td width="15%" class="text-center">协办事处联系人</td>
			      <td>
						<select ng-model="vm.model.assistdeptcontactuserid" name="assistdeptcontactuserid" id="assistdeptcontactuserid">
							<option ng-repeat="u in vm.assistdeptuser" value="{{u.id}}">{{u.displayName}}</option>
						</select>
				  </td>
			    </tr>
			    <tr>
			      <td width="15%" class="text-center">收文编号</td>
			      <td>{{vm.model.filecode}}</td>
			      <td width="15%" class="text-center">项目代码</td>
			      <td>{{vm.model.projectcode}}</td>
			    </tr>	    
			    <tr>
			      <td width="15%" rowspan="2" class="text-center">项目名称</td>
			      <td rowspan="2">{{vm.model.projectname}}</td>
			      <td width="15%" class="text-center">建设单位</td>
			      <td>
						<select ng-model="vm.model.builtcompanyid" name="builtcompanyid" id="builtcompanyid">
							<option ng-repeat="b in vm.builtcompany" value="{{b.id}}">{{b.coName}}</option>
						</select>
				  </td>
			    </tr>
			    <tr>		     
			      <td width="15%" class="text-center">编制单位单位</td>
			      <td>
						<select ng-model="vm.model.designcompanyid" name="designcompanyid" id="designcompanyid">
							<option ng-repeat="b in vm.designcompany" value="{{b.id}}">{{b.coName}}</option>
						</select>
				  </td>
			    </tr> 
			    <tr>
			      <td width="15%" class="text-center" rowspan="2">缓急程度</td>
			      <td rowspan="2">
						<select ng-model="vm.model.urgencydegree" name="urgencydegree" id="urgencydegree">
							<option ng-repeat="x in vm.urgencydegreeList" value="{{x.dictName}}">{{x.dictName}}</option>
						</select>
				  </td>
			      <td width="15%" class="text-center">年度计划类别</td>
			      <td>
						<select ng-model="vm.model.yearplantype" name="yearplantype" id="yearplantype">
							<option ng-repeat="x in vm.yearplantypeList" value="{{x.dictName}}">{{x.dictName}}</option>
						</select>
				  </td>
			    </tr>
			    <tr>		     
			      <td width="15%" class="text-center">秘密登记</td>
			      <td>
						<select ng-model="vm.model.secrectlevel" name="secrectlevel" id="secrectlevel">
							<option ng-repeat="x in vm.secrectlevelList" value="{{x.dictName}}">{{x.dictName}}</option>
						</select>
				  </td>
			    </tr> 
			    <tr>
			    	<td width="15%" class="text-center" rowspan="2">备审资料</td>
			    	<td colspan="3">
			    		<table class="table" style="border: 0px solid transparent !important;">
						    <caption>(一) 项目建设书阶段</caption>					    
						    <tbody>
						      <tr>
						        <td style="border-top:none;width:50%;">
								<table class="table" style="border: 0px solid transparent !important;">							    				    
								    <tbody>
								      <tr>
								        <td style="border-top:none;width:50%;">&nbsp;</td>
								        <td style="border-top:none;">份数</td>
								        <td style="border-top:none;">原件</td>
								        <td style="border-top:none;">附件</td>
								      </tr>	
								      <tr>
								        <td style="border-top:none;text-align:right;">委项目处理表</td>
								        <td style="border-top:none;"><input type="text" style="width:50px;" class="form-control input-sm "  ng-model="vm.model.sugProDealCount" name="sugProDealCount"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.sugProDealOriginal"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.sugProDealCopy"></td>
								      </tr>	
								      <tr>
								        <td style="border-top:none;text-align:right;">委文件处理表</td>
								        <td style="border-top:none;"><input type="text" style="width:50px;" class="form-control input-sm "  ng-model="vm.model.sugFileDealCount" name="sugFileDealCount"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.sugFileDealOriginal"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.sugFileDealCopy"></td>
								      </tr>	
								      <tr>
								        <td style="border-top:none;text-align:right;">项目单位申报表</td>
								        <td style="border-top:none;"><input type="text" style="width:50px;" class="form-control input-sm "  ng-model="vm.model.sugOrgApplyCount" name="sugOrgApplyCount"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.sugOrgApplyOriginal"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.sugOrgApplyCopy"></td>
								      </tr>	
								      <tr>
								        <td style="border-top:none;text-align:right;">项目单位请示报告</td>
								        <td style="border-top:none;"><input type="text" style="width:50px;" class="form-control input-sm "  ng-model="vm.model.sugOrgReqCount" name="sugOrgReqCount"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.sugOrgReqOriginal"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.sugOrgReqCopy"></td>
								      </tr>					        					      
								    </tbody>
								  </table>
								</td>
						        <td style="border-top:none;">
									<table class="table" style="border: 0px solid transparent !important;">							    				    
								    <tbody>
								      <tr>
								        <td style="border-top:none;width:60%;">&nbsp;</td>
								        <td style="border-top:none;">份数</td>
								        <td style="border-top:none;">原件</td>
								        <td style="border-top:none;">附件</td>
								      </tr>	
								      <tr>
								        <td style="border-top:none;text-align:right;">项目建议书</td>
								        <td style="border-top:none;"><input type="text" style="width:50px;" class="form-control input-sm "  ng-model="vm.model.sugProAdviseCount" name="sugProAdviseCount"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.sugProAdviseOriginal"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.sugProAdviseCopy"></td>
								      </tr>	
								      <tr>
								        <td style="border-top:none;text-align:right;">项目建议书电子文档</td>
								        <td style="border-top:none;"><input type="text" style="width:50px;" class="form-control input-sm "  ng-model="vm.model.proSugEledocCount" name="proSugEledocCount"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.proSugEledocOriginal"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.proSugEledocCopy"></td>
								      </tr>	
								      <tr>
								        <td style="border-top:none;text-align:right;">相关会议纪要</td>
								        <td style="border-top:none;"><input type="text" style="width:50px;" class="form-control input-sm "  ng-model="vm.model.sugMeetCount" name="sugMeetCount"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.sugMeetOriginal"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.sugMeetCopy"></td>
								      </tr>	
								      		        					      
								    </tbody>
								  </table>
								</td>					        					      
						    </tbody>
						  </table>
			    	</td>
			    </tr>
			    <tr>
			    	<td colspan="3">
			    		<table class="table">
						    <caption>(二)项目可研究性阶段</caption>					    
						    <tbody>
						      <tr>
						        <td style="border-top:none;width:50%;">
								<table class="table" style="border: 0px solid transparent !important;">							    				    
								    <tbody>
								      <tr>
								        <td style="border-top:none;width:60%;">&nbsp;</td>
								        <td style="border-top:none;">份数</td>
								        <td style="border-top:none;">原件</td>
								        <td style="border-top:none;">附件</td>
								      </tr>	
								      <tr>
								        <td style="border-top:none;text-align:right;">委项目处理表</td>
								        <td style="border-top:none;"><input type="text" style="width:50px;" class="form-control input-sm "  ng-model="vm.model.studyProDealCount" name="studyProDealCount"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.studyPealOriginal"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.studyProDealCopy"></td>
								      </tr>	
								      <tr>
								        <td style="border-top:none;text-align:right;">委文件处理表</td>
								        <td style="border-top:none;"><input type="text" style="width:50px;" class="form-control input-sm "  ng-model="vm.model.studyFileDealCount" name="studyFileDealCount"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.studyFileDealOriginal"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.studyFileDealCopy"></td>
								      </tr>	
								      <tr>
								        <td style="border-top:none;text-align:right;">项目单位申报表</td>
								        <td style="border-top:none;"><input type="text" style="width:50px;" class="form-control input-sm "  ng-model="vm.model.studyOrgApplyCount" name="studyOrgApplyCount"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.studyOrgApplyOriginal"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.studyOrgApplyCopy"></td>
								      </tr>	
								      <tr>
								        <td style="border-top:none;text-align:right;">项目单位请示报告</td>
								        <td style="border-top:none;"><input type="text" style="width:50px;" class="form-control input-sm "  ng-model="vm.model.studyOrgReqCount" name="studyOrgReqCount"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.studyOrgReqOriginal"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.studyOrgReqCopy"></td>
								      </tr>	
								      <tr>
								        <td style="border-top:none;text-align:right;">项目建议书批复</td>
								        <td style="border-top:none;"><input type="text" style="width:50px;" class="form-control input-sm "  ng-model="vm.model.studyProSugCount" name="studyProSugCount"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.studyProSugOriginal"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.studyProSugCopy"></td>
								      </tr>	
								      <tr>
								        <td style="border-top:none;text-align:right;">相关会议纪要</td>
								        <td style="border-top:none;"><input type="text" style="width:50px;" class="form-control input-sm "  ng-model="vm.model.studyMeetCount" name="studyMeetCount"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.studyMeetOriginal"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.studyMeetCopy"></td>
								      </tr>					        					      
								    </tbody>
								  </table>
								</td>
						        <td style="border-top:none;">
									<table class="table" style="border: 0px solid transparent !important;">							    				    
								    <tbody>
								      <tr>
								        <td style="border-top:none;width:60%;">&nbsp;</td>
								        <td style="border-top:none;">份数</td>
								        <td style="border-top:none;">原件</td>
								        <td style="border-top:none;">附件</td>
								      </tr>	
								      <tr>
								        <td style="border-top:none;text-align:right;">环保批复文件</td>
								        <td style="border-top:none;"><input type="text" style="width:50px;" class="form-control input-sm "  ng-model="vm.model.envproReplyCount" name="envproReplyCount"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.envproReplyOriginal"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.envproReplyCopy"></td>
								      </tr>	
								      <tr>
								        <td style="border-top:none;text-align:right;">规划选址批文</td>
								        <td style="border-top:none;"><input type="text" style="width:50px;" class="form-control input-sm "  ng-model="vm.model.planAddrCount" name="planAddrCount"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.planAddrOriginal"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.planAddrCopy"></td>
								      </tr>	
								      <tr>
								        <td style="border-top:none;text-align:right;">可研报告</td>
								        <td style="border-top:none;"><input type="text" style="width:50px;" class="form-control input-sm "  ng-model="vm.model.reportCount" name="reportCount"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.reportOrigin"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.reportCopy"></td>
								      </tr>	
								      <tr>
								        <td style="border-top:none;text-align:right;">可研报告电子文档</td>
								        <td style="border-top:none;"><input type="text" style="width:50px;" class="form-control input-sm "  ng-model="vm.model.eledocCount" name="eledocCount"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.eledocOriginal"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.eledocCopy"></td>
								      </tr>	
								      <tr>
								        <td style="border-top:none;text-align:right;">节能报告</td>
								        <td style="border-top:none;"><input type="text" style="width:50px;" class="form-control input-sm "  ng-model="vm.model.energyCount" name="energyCount"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.energyOriginal"></td>
								        <td style="border-top:none;"><input type="checkbox" style="width:50px;" ng-model="vm.model.energyCopy"></td>
								      </tr>			        					      
								    </tbody>
								  </table>
								</td>					        					      
						    </tbody>
						  </table>
			    	</td>
			    </tr>
			    <tr>
			      <td width="15%" class="text-center">综合部拟办意见</td>
			      <td colspan="3">
				  	<textarea rows="3" ng-model="vm.model.comprehensivehandlesug" name="comprehensivehandlesug" style="width:98%"> </textarea>  
				  </td>		      
			    </tr>
			    <tr>
			      <td width="15%" class="text-center">中心领导签批意见</td>
			      <td colspan="3">
				  	<textarea rows="3" ng-model="vm.model.leaderhandlesug" name="leaderhandlesug" style="width:98%"> </textarea> 
				  </td>		      
			    </tr>
			    <tr>
			      <td width="15%" class="text-center">部长处理意见</td>
			      <td colspan="3">
				  	<textarea rows="3" ng-model="vm.model.ministerhandlesug" name="ministerhandlesug" style="width:98%"> </textarea> 
				  </td>		      
			    </tr>
			  </tbody>		  
			</table>	<!-- end table -->
			<p class="h6"><strong>送件人：张三</strong></p>
		</form> <!-- end form -->
	</div><!-- end tab1 -->
	
	
	<div class="well well-sm tab-pane fade" style="background:white;" id="sign_diagram">
		<img style="" src="{{vm.picture}}">			
	</div><!-- end tab2 -->
	
	<div class="well well-sm tab-pane fade" style="background:white;" id="sign_history">		 
		<div class="grid" kendo-grid="grid" k-options="vm.historygrid"></div>
	</div><!-- end tab3 -->
	
	<div class="well well-sm tab-pane fade" style="background:white;" id="sign_workprogram">	
		<div ng-include src="'${path}/contents/app/workprogram/detail.html'" />
	</div><!-- end tab3 -->
	
</div>
