<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-idea.html'"></div>

<script src="${path}/contents/libs/util/lgx.page.js"></script>
<link rel="stylesheet" href="${path}/contents/libs/util/lgx.page.css">

<!--项目阶段关联html-->
<#include "/sign/signAssociate.html"/>
<!--确认参加会议专家的弹窗公共页面-->
<div style="display: none;">
<#include "/expertReview/expert_confirm.html"/>
</div>
<!--重写工作方案-->
<div ng-include src="'${path}/contents/app/sign/reworkWorkPlan.html'"></div>

<style>
    .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        text-align: center;
    }

    .rating > span {
        display: inline-block;
        position: relative;
        width: 1.1em;
    }

    .rating > span:hover,
    .rating > span:hover ~ span {
        color: transparent;
    }

    .rating > span:hover:before,
    .rating > span:hover ~ span:before {
        content: "\2605";
        position: absolute;
        left: 0;
        color: gold;
    }
</style>

<!--S 上传附件弹窗 -->
<div id="commonUploadWindow" style="margin:0px 20px 0px 10px;background:white;display:none;">
    <input type="file" id="sysfileinput" name="file" multiple="multiple" class="file-loading"/>
    <div ng-show="vm.sysFile.showBusiType">
        <span >文件类型：</span>
        <span >
           <select id="sysBusiType" name="sysBusiType" ng-model="vm.sysFile.sysBusiType" style="min-width:200px;margin-top:10px;">
               <option value="">请选择</option>
               <option  ng-repeat="x in DICT.SYS_MIN_TYPE.dicts" value="{{x.dictName}}">{{x.dictName}}</option>
           </select>
       </span>
    </div>
</div>
<!--E 上传附件弹窗 -->

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/listSign">项目签收管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>

    <!-- 流程处理页面 -->
    <div ng-include src="'${path}/contents/app/sign/newFlowDeal.html'" ng-hide="vm.isFileRecord"></div>

    <!--财务办理-->
    <div id="signCostWindow" style="background:white;display: none;">
    <#include "/financial/costAdd.html"/>
    </div>

    <!--显示详情页-->
<#include "/sign/sign.html"/>
</div>
