<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li>项目管理</li>
        <li class="active">项目签收列表</li>
    </ol>

    <div class="well well-sm">
    <form id="searchform" name="searchform">
        <span class="help-inline">项目名称：</span>
        <input type="text" ng-model="vm.model.projectname" operator="like" name="projectname" id="projectnam" placeholder="请输入">
        <span class="help-inline">项目编号：</span>
        <input type="text" ng-model="vm.model.projectcode" operator="eq" name="projectcode" id="projectcode" placeholder="请输入">
        <span class="help-inline">签收日期：</span>
        <input type="text" kendo-date-picker k-format="'yyyy-MM-dd'" operator="ge" name="signdate" id="signdate" >

        <button class="btn btn-sm btn-primary" ng-click="vm.querySign()"><span class="glyphicon glyphicon-search"></span>查询</button>
        <a class="btn btn-sm btn-primary" href="#/addSign"><span class="glyphicon glyphicon-plus"></span>项目签收</a>
        <a class="btn btn-sm btn-primary" href="#/reserveAdd"><span class="glyphicon glyphicon-plus"></span>项目预签收</a>
    </form>
    </div>
    <div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
</div>

<script type="text/template" id="columnBtns">		
	<@shiro.hasPermission name="sign##put">
	       <a class="btn btn-xs btn-primary" href="#/fillSign/{0}" ng-hide="{1}"><span class="glyphicon glyphicon-pencil"></span>编辑</a>
	</@shiro.hasPermission>

	<a class="btn btn-xs btn-info" href="#/signDetails/{2}" ng-disabled="vm.isCommit"><span class="glyphicon glyphicon-comment"></span>查看详情</a>

	<@shiro.hasPermission name="sign##delete">
		<button class="btn btn-xs btn-danger"  ng-click="{3}" ng-hide="{4}" ng-disabled="vm.isCommit"><span class="glyphicon glyphicon-remove"></span>删除</button>
	</@shiro.hasPermission>
	<!-- 发起流程 -->
	<button class="btn btn-xs btn-default"  ng-click="{5}" ng-hide="{6}" ng-disabled="vm.isCommit"><span class="glyphicon glyphicon-share-alt"></span>发起流程</button>

    <!--正式签收-->
	<button class="btn btn-xs btn-success"  ng-click="{7}" ng-hide="{8}" ng-disabled="vm.isCommit">正式签收</button>
</script>
