<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<go-back></go-back>
<a class="btn btn-xs btn-primary" href="#/fillSign/{{vm.model.signid}} "><span class="glyphicon glyphicon-pencil"></span>报审登记表</a>
<a class="btn btn-xs btn-primary" href="#/reviewOpinion/{{vm.model.signid}}/{{vm.model.processInstanceId}} "><span class="glyphicon glyphicon-pencil"></span>修改意见</a>
<a class="btn btn-xs btn-primary" href="#/reviewWorkday/{{vm.model.signid}} ">评审工作日维护</a>
<a class="btn btn-xs btn-primary" href="#/maintainExpertScore/{{vm.model.signid}} ">专家评分</a>
<a class="btn btn-xs btn-primary" href="#/maintainExpertPayment/{{vm.model.signid}} ">评审费发放表</a>
<a class="btn btn-xs btn-primary" href="#/maintainExpertConfirm/{{vm.model.signid}} ">修改确认的专家</a>
</html>