<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/meeting">预签收管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <form id="reserveFrom" name="reserveFrom">
        <div class="well">
            <span class="help-inline">项目名称：</span>
	    	<input type="text" ng-model="vm.model.projectname" operator="like" name="projectname" id="projectnam" placeholder="请输入">
	    	
	    	<span class="help-inline" style="margin-left:10px;">项目编号：</span>
	    	<input type="text" ng-model="vm.model.projectcode" operator="eq" name="projectcode" id="projectcode" placeholder="请输入">	    		

            <a class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="vm.querySign()">查询</a>
            
        </div>
    </form>

	<script type="text/template" id="columnBtns">

    <@shiro.hasPermission name="sign##put">
	       <a class="btn btn-xs btn-primary" href="#/fillSign/{0}" ><span class="glyphicon glyphicon-pencil"></span>编辑</a>
	</@shiro.hasPermission>

    <@shiro.hasPermission name="sign##delete">
       <button class="btn btn-xs btn-danger"  ng-click="{1}" ><span class="glyphicon glyphicon-remove"></span>删除</button>
    </@shiro.hasPermission>
 
	</script>
	
	<div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
</div>
