
<#--<meta charset="UTF-8">
<div class="well well-sm" style="background:white;width: 100%; margin: 0 auto; min-width: 500px;">
    <div class="toolbar">
        <form name="chartForm" id="chartForm" style="width:750px;margin:0 auto;">
            <ul class="list-inline">
                <li><h4><strong> 图表类型 </strong></h4></li>
                <li style="height: 30px;">
                    <input type="radio" name="chart" value="histogram"
                           ng-model="vm.chartType"
                           ng-checked="vm.chartType == 'histogram'"/> 柱状图
                    <span style="font-size: 12px;">【申报金额统计】</span>
                </li>
                <li style="height: 30px;">
                    <input type="radio" name="chart" value="lineChart"
                           ng-model="vm.chartType"
                           ng-checked="vm.chartType == 'lineChart'"/> 折线图
                    <span style="font-size: 12px;">【项目类别统计】</span>
                </li>
                <li style="height: 30px;">
                    <input type="radio" name="chart" value="pie"
                           ng-model="vm.chartType"
                           ng-checked="vm.chartType == 'pie'"/> 饼&nbsp;&nbsp;&nbsp;图
                    <span style="font-size: 12px;">【项目金额统计】</span>
                </li>
                <li>
                    <go-back></go-back>
                </li>
            </ul>

            <ul class="list-inline">
                <li><h4><strong> 时间范围 </strong></h4></li>
                <li style="margin-bottom: 10px;">
                    开始日期：<input kendo-date-picker k-format="'yyyy-MM-dd'"
                    ng-model="vm.startTime" name="studyBeginTime" id="studyBeginTime"/>
                </li>
                <li>
                    结束日期：<input kendo-date-picker k-format="'yyyy-MM-dd'" name="studyEndTime" id="studyEndTime"
                    ng-model="vm.endTime" data-datecompare-msg="结束日期必须大于开始日期"/>
                </li>
                <li>
                    <button class="btn btn-sm btn-success" ng-click="vm.resetChart()">开始统计</button>
                </li>
            </ul>
        </form>

    </div>

    <div style="margin-top:20px;">
        <div id="histogram" ng-show="vm.showHistogram" style="width: 1000px; height: 660px; ; margin: auto auto;"></div>
        <div id="pie" ng-show="vm.showPie" style="width: 1000px; height: 660px ; margin: auto auto;"></div>
        <div id="lineChart" ng-show="vm.showLineChart" style="width: 1000px; height: 660px; margin: auto auto;"></div>
    </div>
</div>-->


<#assign path=request.contextPath/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>统计分析</title>
    <link rel="stylesheet" href="${path}/contents/libs/Iconfont/iconfont.css">
    <link rel="stylesheet" href="${path}/contents/style/main.css">
</head>
<body>
<div class="rp-nav" style="">
    <a href="index.html">
        <img src="images/home.png" alt="">
    </a>
    <a href="javascript:history.back()">
        <img src="images/re.png" alt="">
    </a>
</div>
<div class="title">
    <h2>统计分析</h2>
    <p> Statistical analysis</p>
</div>
<div class="sta-content">
    <div class="left-content">
        <div>
            <h4>
                <span class="iconfont icon-68"></span>
                图形类型
            </h4>
            <div class="chart-type">
                <input name=chart-type type="radio" id="column">
                <label for="column">柱状图</label>
                <input name=chart-type type="radio" id="pie">
                <label for="pie">饼状图</label>
                <input name=chart-type type="radio" id="line">
                <label for="line">折线图</label>
            </div>
        </div>
        <div>
            <h4>
                <span class="iconfont icon-shijian"></span>
                时间范围</h4>
            <div class="range">
                <label for="">开始年份
                    <select name="beginYear" id="">
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                    </select>
                </label>

                <label for="">结束年份
                    <select name="beginYear" id="">
                        <option value="2017">2017</option>
                        <option value="2016">2016</option>
                    </select>
                </label>
            </div>
        </div>
        <div>
            <h4>
                <span class="iconfont icon-kuaizhao"></span>
                统计快照
            </h4>
            <div class="kuaizhao">
                <label for="">统计快照选择</label>
                <select name="" id="">
                    <option value="1">2017年快照</option>
                    <option value="2">2016年快照</option>
                    <option value="3">2015年快照</option>
                </select>
                <div class="operate">
                    <a href="">新增</a>
                    <a href="">编辑</a>
                    <a href="">删除</a>
                </div>
            </div>
        </div>
    </div>
    <div class="right-content">
        <div style="margin-top:20px;">
            <div id="histogram" ng-show="vm.showHistogram" style="width: 1000px; height: 660px; ; margin: auto auto;"></div>
            <div id="pie" ng-show="vm.showPie" style="width: 1000px; height: 660px ; margin: auto auto;"></div>
            <div id="lineChart" ng-show="vm.showLineChart" style="width: 1000px; height: 660px; margin: auto auto;"></div>
        </div>
    </div>
</div>
</body>
</html>

