<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
	<ol class="breadcrumb">
		<li><a href="#/listSign">项目签收管理</a></li>
		<li class="active">{{vm.title}}</li>
	</ol>
	<div class="toolbar">
        <go-back></go-back>
		<!--<a class="btn btn-sm btn-primary" href="#/listSign"><span class="glyphicon glyphicon-chevron-left"></span>返回</a>-->
	</div>
    <!--显示详情页-->
    <#include "/sign/sign.html"/>
</div>