<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
	<ol class="breadcrumb">
		<li><a href="#/listSign">项目综合查询</a></li>
		<li class="active">项目详情信息</li>
	</ol>
	<div class="toolbar">
        <go-back></go-back>
	</div>
    <!--显示详情页-->
    <#include "/sign/sign.html"/>
</div>