<meta charset="UTF-8">
<ul id="myTab" class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" for-div="sign_detail"> 审批登记</a></li>
    <li ng-show="vm.showFlag.tabWorkProgram"><a id="show_workprogram_a" data-toggle="tab"  for-div="sign_workprogram">工作方案</a></li>
    <li ng-show="vm.showFlag.tabBaseWP"><a id="show_basewp_a" data-toggle="tab"  for-div="sign_basewp">项目基本信息</a></li>
    <li ng-show="vm.showFlag.tabDispatch"><a id="show_dispatch_a" data-toggle="tab" for-div="sign_dispatch">发文信息</a></li>
    <li ng-show="vm.showFlag.tabFilerecord"><a id="show_filerecord_a" data-toggle="tab" for-div="sign_filerecord">归档信息</a></li>
    <li ng-show="vm.model.expertReviewDto && vm.model.expertReviewDto.expertSelectedDtoList"><a data-toggle="tab" for-div="sign_remark">专家评分</a></li>
    <li ng-show="vm.model.expertReviewDto && vm.model.expertReviewDto.expertSelectedDtoList"><a data-toggle="tab" for-div="sign_payment">评审费发放表</a></li>
    <li ng-show="vm.showFlag.tabSysFile"><a data-toggle="tab" for-div="sign_upload">附件列表</a></li>
    <li ng-show="vm.model.isAssociate == 1"><a data-toggle="tab" for-div="sign_associate">关联项目</a></li>
    <li ng-show="vm.model.processInstanceId && vm.model.processState < 9"><a data-toggle="tab" for-div="sign_diagram">流程图</a></li>
    <li ng-show="vm.model.processInstanceId"><a data-toggle="tab" for-div="sign_history">处理记录</a></li>
</ul>

<div class="tab-content" style="background:white;">
    <!-- 详情页  收文-->
    <div class="tab-pane fade in active" style="background:white;" id="sign_detail">
     
    	 <!-- S 项目建议书/可行性研究报告  -->
        <div ng-show="vm.model.reviewstage=='项目建议书'|| vm.model.reviewstage=='可行性研究报告' || vm.model.reviewstage=='其它'" ng-include src="'${path}/contents/app/sign/signDetail/detail.html'"></div>
        <!-- E 项目建议书/可行性研究报告  -->
        
        <!-- S 资金申请报告  -->
        <div ng-show="vm.model.reviewstage=='资金申请报告'" ng-include src="'${path}/contents/app/sign/signDetail/capitalAppReportDetail.html'"></div>
        <!-- E 资金申请报告  -->
        
        <!-- S 设备清单（国产）/设备清单（进口）  -->
        <div ng-show="vm.model.reviewstage=='设备清单（国产）' || vm.model.reviewstage=='设备清单（进口）'" ng-include src="'${path}/contents/app/sign/signDetail/equipmenDomesticDetail.html'"></div>
        <!-- E 设备清单（进口）/设备清单（进口）  -->
        
       <!--  <div ng-show="vm.model.reviewstage=='设备清单（进口）'" ng-include src="'${path}/contents/app/sign/signDetail/equipmentImportDetail.html'"></div> -->
       <!-- S 进口设备 -->
        <div ng-show="vm.model.reviewstage=='进口设备'" ng-include src="'${path}/contents/app/sign/signDetail/foreignEquipmenDetail.html'"></div>
       <!-- E 进口设备 -->
       
        <!-- S 项目概算  -->
        <div ng-show="vm.model.reviewstage=='项目概算'" ng-include src="'${path}/contents/app/sign/signDetail/projectBudgetDetail.html'"></div>
  	 	<!-- E 项目概算  -->
    </div><!-- end tab1 -->

    <div class="well well-sm tab-pane fade" style="background:white;" id="sign_diagram">
        <img style="" src="{{vm.picture}}">
    </div><!-- end tab2 -->

    <div class="well well-sm tab-pane fade" style="background:white;" id="sign_history">
        <div class="grid" kendo-grid="grid" k-options="vm.historygrid" k-data-source="vm.historygrid.dataSource"></div>
    </div>
    <!-- end tab3 -->

    <div class="well well-sm tab-pane fade" style="background:white;" id="sign_workprogram" >

        <!-- （包含：主、次项目）项目建议书/可行性研究报告/资金申请报告/其它  -->
        <div ng-show="vm.model.reviewstage=='项目建议书'|| vm.model.reviewstage=='可行性研究报告' || vm.model.reviewstage=='资金申请报告' ||vm.model.reviewstage=='项目概算' || vm.model.reviewstage=='其它'"
             ng-include src="'${path}/contents/app/workprogram/workprogramDetail/all_details.html'"></div>
       
       <!--S  进口设备  包含：主项目、次项目 -->
        <div ng-show="vm.model.reviewstage=='进口设备'" ng-include src="'${path}/contents/app/workprogram/workprogramDetail/foregnDetail.html'"></div>
       <!--E  进口设备  包含：主项目、次项目 -->
       
        <!-- 设备清单（国产） 包含：主项目、次项目 -->
        <div ng-show="vm.model.reviewstage=='设备清单（国产）' ||vm.model.reviewstage=='设备清单（进口）'" ng-include src="'${path}/contents/app/workprogram/workprogramDetail/mainDomesticDetail.html'"></div>
      
        <!-- 设备清单（进口）包含： 主项目 、次项目-->
       <!--  <div ng-show="vm.model.reviewstage=='设备清单（进口）'" ng-include src="'${path}/contents/app/workprogram/workprogramDetail/mainImportDetail.html'"></div> -->
    </div><!-- 工作方案 -->

    <div class="well well-sm tab-pane fade" style="background:white;" id="sign_basewp" >
        <div ng-include src="'${path}/contents/app/workprogram/base_detail.html'"/>
    </div><!-- 工作方案 【项目基本信息 协审流程才有】-->

	 <!--S 发文 -->
    <div class="well well-sm tab-pane fade" style="background:white;" id="sign_dispatch" >
        <!-- <div ng-include src="'${path}/contents/app/dispatch/detail.html'"/> -->
       	 
       	 <!-- S 项目建议书 -->
         <div ng-show="vm.model.reviewstage =='项目建议书'"ng-include src="'${path}/contents/app/dispatch/dispatchDetail/projectDetail.html'"/>
         <!-- E 项目建议书 -->
         
          <!-- S 可行性研究报告 -->
         <div ng-show="vm.model.reviewstage =='可行性研究报告'"ng-include src="'${path}/contents/app/dispatch/dispatchDetail/feasibilityDeatil.html'"/>
         <!-- E 可行性研究报告 -->
         
           <!-- S 资金申请报告 -->
         <div ng-show="vm.model.reviewstage =='资金申请报告'"ng-include src="'${path}/contents/app/dispatch/dispatchDetail/capitalAppReportDetail.html'"/>
         <!-- E 资金申请报告 -->
         
          <!-- S 项目概算 -->
         <div ng-show="vm.model.reviewstage =='项目概算'"ng-include src="'${path}/contents/app/dispatch/dispatchDetail/projectBudgetDetail.html'"/>
         <!-- E 项目概算 -->
         
       	 <!-- S 进口设备 -->
         <div ng-show="vm.model.reviewstage =='进口设备'"ng-include src="'${path}/contents/app/dispatch/dispatchDetail/foreignDetail.html'"/>
         <!-- E 进口设备 -->
         
         <!-- S 设备清单（进口）/设备清单（国产） -->
         <div ng-show="vm.model.reviewstage =='设备清单（国产）' || vm.model.reviewstage =='设备清单（进口）' "ng-include src="'${path}/contents/app/dispatch/dispatchDetail/domesticDetail.html'"/>
         <!-- E 设备清单（进口）/设备清单（国产） -->
    </div>
    <!--E 发文 -->

    <!-- S 归档 -->
    <div class="well well-sm tab-pane fade" style="background:white;" id="sign_filerecord" >
        <!--   <div ng-show="vm.model.reviewstage=='项目建议书'|| vm.model.reviewstage=='可行性研究报告' || vm.model.reviewstage=='资金申请报告' || vm.model.reviewstage=='提前介入' ||  vm.model.reviewstage=='其它'"
          ng-include src="'${path}/contents/app/fileRecord/fileRecordDetail/fileRecordAllDetails.html'"/> -->
        <!-- 项目建议书 -->
        <div ng-show="vm.model.reviewstage=='项目建议书'" ng-include src="'${path}/contents/app/fileRecord/fileRecordDetail/fileProjectIdeaDetail.html'"></div>
       
        <!-- 资金申请报告 -->
        <div ng-show="vm.model.reviewstage=='资金申请报告'" ng-include src="'${path}/contents/app/fileRecord/fileRecordDetail/filecapitalAppReportDetail.html'"></div>
        
        <!-- 可行性研究报告 -->
        <div ng-show="vm.model.reviewstage=='可行性研究报告'" ng-include src="'${path}/contents/app/fileRecord/fileRecordDetail/fileFeasibilityDetail.html'"></div>
        
        <!-- 进口设备 -->
        <div ng-show="vm.model.reviewstage=='进口设备'" ng-include src="'${path}/contents/app/fileRecord/fileRecordDetail/fileRecordForeignDetail.html'"></div>
        
        <!-- 项目概算 -->
        <div ng-show="vm.model.reviewstage=='项目概算'" ng-include src="'${path}/contents/app/fileRecord/fileRecordDetail/fileRecordProjectDetail.html'"></div>
        
        <!-- 设备清单（国产） -->
        <div ng-show="vm.model.reviewstage=='设备清单（进口）' || vm.model.reviewstage=='设备清单（国产）'" ng-include src="'${path}/contents/app/fileRecord/fileRecordDetail/fileRecordDomestiDetail.html'"></div>
      
        <!-- 设备清单（进口） -->
        <!-- <div ng-show="vm.model.reviewstage=='设备清单（进口）'" ng-include src="'${path}/contents/app/fileRecord/fileRecordDetail/fileRecordImportDetail.html'"></div> -->
    </div>
    <!--E 归档 -->

    <div class="well well-sm tab-pane fade" style="background:white;" id="sign_associate">
        <div ng-include src="'${path}/contents/app/sign/associate.html'" />
    </div><!--项目关联-->

    <div class="well well-sm tab-pane fade" style="background:white;" id="sign_upload" >
        <div ng-include src="'${path}/contents/app/sysFile/uploadFilelist.html'"></div>
    </div><!-- 上传附件列表 -->

    <!-- start 专家评分 -->
    <div class="tab-pane fade" style="background: white;" id="sign_remark">
        <table class="table table-bordered">
            <caption class="text-center h3"><strong>专家评分</strong></caption><!--第一负责人才能评分-->
            <tr>
                <td style="width: 5%;max-width: 70px;">序号</td>
                <td width="8%">姓名</td>
                <td width="20%">工作单位</td>
                <td width="20%">职位/职称</td>
                <td width="15%">专业</td>
                <td width="10%">专家评分</td>
                <td width="15%">评分描述</td>
                <td width="15%" ng-if="vm.showFlag.isMainPrinUser">操作</td>
            </tr>
            <tr ng-repeat="x in vm.model.expertReviewDto.expertSelectedDtoList | filter:{isConfrim:'9',isJoin:'9'}">
                <td>{{$index+1}}</td>
                <td>{{x.expertDto.name}}</td>
                <td>{{x.expertDto.comPany}}</td>
                <td>{{x.expertDto.job}}/{{x.expertDto.post}}</td>
                <td>{{x.expertDto.majorStudy}}</td>
                <td>{{vm.getExpertStar(x.id,x.score)}}<span id="{{x.id}}_starhtml"></span></td>
                <td>{{x.describes}}</td>
                <td ng-if="vm.showFlag.isMainPrinUser" >
                    <button class="btn btn-xs btn-primary" ng-click="vm.editSelectExpert(x.id)" >
                        <span class="glyphicon glyphicon-pencil"></span>编辑
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- end 专家评分 -->

    <!-- start 专家费用 -->
    <div class="tab-pane fade" style="background: white;margin-top:10px;" id="sign_payment">
        <form id="payform" name="payform">
            <table class="table table-bordered">
                <tbody>
                <tr ng-if="vm.showFlag.isMainPrinUser">
                    <td colspan="4">
                        <button class="btn btn-sm btn-success" ng-click="vm.countTaxes(vm.model.expertReviewDto)" ng-disabled="vm.isCommit"
                                ng-hide="btnHide">
                            <span class="glyphicon glyphicon-ok"></span>计算应纳税额
                        </button>
                        <button class="btn btn-sm btn-success" ng-click="vm.savePayment(vm.model.expertReviewDto)" ng-disabled="vm.isCommit" ng-hide="btnHide">
                            <span class="glyphicon glyphicon-ok"></span>保存
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">评审费发放日期 </td>
                    <td >
                        <div ng-show="!vm.model.expertReviewDto.payDate">
                            <input type="text"  style="width: 200px;"
                                   class="form-control input-sm " kendo-date-picker k-format="'yyyy-MM-dd'"
                                   ng-model="vm.model.expertReviewDto.payDate" data-val-date="必须为日期">
                        </div>
                        <div ng-hide="vm.model.expertReviewDto.payDate">
                           {{vm.model.expertReviewDto.payDate}}
                        </div>
                    </td>
                    <td class="text-right">评审/函评日期</td>
                    <td>
                        {{vm.model.expertReviewDto.reviewDate}}
                    </td>
                </tr>
                <tr>
                    <td class="text-right">评审费发放标题</td>
                    <td colspan="3">
                        <div ng-show="vm.showFlag.isMainPrinUser">
                            <input type="text" style="width: 600px;"
                               class="form-control input-sm " ng-model="vm.model.expertReviewDto.reviewTitle">
                        </div>
                        <div ng-hide="vm.showFlag.isMainPrinUser">
                            {{vm.model.expertReviewDto.reviewTitle}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <table class="table table-bordered">
                            <caption class="text-center h3"><strong>{{vm.model.expertReviewDto.reviewTitle}}</strong></caption>
                            <tr>
                                <td>序号</td>
                                <td>姓名</td>
                                <td>身份证号码</td>
                                <td>开户行/银行账号</td>
                                <td>评审费</td>
                                <td>应纳税额</td>
                                <td>合计（元）</td>
                            </tr>
                            <tr ng-repeat="x in vm.model.expertReviewDto.expertSelectedDtoList | filter:{isConfrim:'9',isJoin:'9'}">
                                <td>{{$index+1}}</td>
                                <td>{{x.expertDto.name}}</td>
                                <td>{{x.expertDto.idCard}}</td>
                                <td>{{x.expertDto.bankAccount}}/{{x.expertDto.openingBank}}</td>
                                <td>
                                    <div ng-show="vm.showFlag.isMainPrinUser">
                                        <input type="text" name="reviewCost_{{$index}}" id="reviewCost_{{$index}}"
                                               class="form-control input-sm " ng-model="x.reviewCost" data-val-digits="必须输入有效数字"
                                               data-val-regex="评审费用只能为正数" data-val-regex-pattern="^(([0-9]+\\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\\.[0-9]+)|([0-9]*[1-9][0-9]*))$"
                                               data-val="true" data-val-required="必填">
                                        <span data-valmsg-for="reviewCost_{{$index}}" data-valmsg-replace="true" class="errors"></span>
                                    </div>
                                    <div ng-hide="vm.showFlag.isMainPrinUser">
                                        {{x.reviewCost}}
                                    </div>
                                </td>
                                <td> {{x.reviewTaxes}}</td>
                                <td> {{x.totalCost}}</td>
                            </tr>
                            <tr>
                                <td colspan="4"></td>
                                <td>{{vm.model.expertReviewDto.reviewCost}}</td>
                                <td>{{vm.model.expertReviewDto.reviewTaxes}}</td>
                                <td>{{vm.model.expertReviewDto.totalCost}}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </div>
    <!-- end tab3 -->
    <!-- end 专家费用 -->
</div>

<!-- start 专家评分弹窗-->
<div id="expertmark" style="display: none;">
    <div class="toolbar">
        <button class="btn btn-sm btn-success" ng-click="vm.saveMark()" ng-disabled="vm.isCommit" ng-hide="btnHide">
            <span class="glyphicon glyphicon-ok"></span>保存
        </button>
        <button class="btn btn-sm btn-success" ng-click="vm.closeEditMark()" ng-disabled="vm.isCommit" ng-hide="btnHide">
            <span class="glyphicon glyphicon-ok"></span>返回
        </button>
    </div>
    <div>
        <form id="markform" name="markform">
            <table class="table table-bordered">
                <tr>
                    <td style="width:90px;">专家星级:</td>
                    <td><div id="star" data-num=""></div></td>
                </tr>
                <tr>
                    <td style="width:90px;">评级描述:</td>
                    <td><textarea rows="7" style="width: 96%;" ng-model="vm.businessFlag.expertScore.describes"></textarea></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<!-- end 专家评分弹窗-->