<meta charset="UTF-8">
<div id="queryStatisticsWindow" class="well well-sm" style="background:white; display: none">
    <div class="toolbar">
        <div class="well">
            <span >标题：</span>
            <input type="text" ng-model="vm.fileName"/>
            <button class="btn btn-sm btn-success" ng-click="vm.excelExport()">自定义报表</button>
            <button class="btn btn-sm btn-success" >统计项目平均天数</button>
            <button class="btn btn-sm btn-success" >统计工作日</button>
        </div>
        <div class="well well-sm" style="background:white; width: 100%; ">
            <div style="text-align: center; padding: 10px;">
                <h3 >{{vm.fileName}}</h3>
                <span>{{vm.smallTitle}}</span>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td>
                            <input id="checkboxAll" type="checkbox"  class="checkbox" />
                        </td>
                        <td>序号</td>
                        <td>收文编号</td>
                        <td>项目名称</td>
                        <td>建设单位</td>
                        <td>收文日期</td>
                        <td>评审天数</td>
                        <td>剩余工作日</td>
                    </tr>
                    <tr ng-repeat="x in vm.signList">
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>{{$index +1}}</td>
                        <td>{{x.dfilenum}}</td>
                        <td>{{x.projectname}}</td>
                        <td>{{x.builtcompanyname}}</td>
                        <td>{{x.receivedate}}</td>
                        <td>{{x.reviewdays}}</td>
                        <td>{{x.surplusdays}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div >
</div>