<#assign path=request.contextPath/>
<meta charset="UTF-8">
<link href="${path}/contents/libs/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
<script src="${path}/contents/libs/zTree/js/jquery.ztree.all.min.js"></script>

<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <form id="form" name="form">
        <div class="toolbar">

            <button class="btn btn-sm btn-success" ng-click="vm.createDict()" ng-disabled="vm.isSubmit" ng-hide="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>创建</button>
            <button class="btn btn-sm btn-success" ng-click="vm.updateDict()" ng-disabled="vm.isSubmit" ng-show="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>更新</button>

           <!--  <button class="btn btn-sm btn-success" ng-click="vm.createDictGroup()" ng-disabled="vm.isSubmit" ng-hide="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>创建</button>
            <button class="btn btn-sm btn-success" ng-click="vm.updateDictGroup()" ng-disabled="vm.isSubmit" ng-show="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>更新</button> -->

         </div>
        <table style="width:100%">
            <tr>
                <td class="formAlignRight" style="width:150px;"></td>
                <td style="width:400px;"><span class="errors">{{vm.message}}</span></td>
                <td></td>
            </tr>
          
             <tr>
                <td class="formAlignRight">字典值： <span class="required">*</span></td>
                <td>
                    <input  type="text" maxlength="200" class="form-control input-sm " ng-disabled="vm.model.dictType=='0'"  ng-model="vm.model.dictKey" id="dictKey" name="dictKey" data-val="true" data-val-required="必填">
                </td>
                <td><span data-valmsg-for="dictKey" data-valmsg-replace="true" class="errors"></span>
            </tr>

            <tr>
                <td class="formAlignRight">字典名称： <span class="required">*</span></td>
                <td>
                    <input  type="text" maxlength="200" class="form-control input-sm "  ng-model="vm.model.dictName" id="dictName" name="dictName" data-val="true" data-val-required="必填">
                </td>
                <td><span data-valmsg-for="dictName" data-valmsg-replace="true" class="errors"></span>
                    <span class="errors" ng-show="vm.isDictNameExist">分组名称已存在</span></td>
            </tr>
           
            <tr>
                <td class="formAlignRight">父级： </td>
                <td>
                 <ul id="pzTree" class="ztree" ng-hide="vm.isUpdate"></ul>
                 <input  type="text" maxlength="200" class="form-control input-sm "  ng-disabled="true"  ng-show="vm.isUpdate" ng-model="vm.model.parentDictName">                 
                </td>
            </tr>
             <tr>
                <td class="formAlignRight">字典编码： <span class="required">*</span> </td>
                <td>
                    <input  type="text" maxlength="200" class="form-control input-sm "  ng-disabled="vm.isUpdate"  ng-model="vm.model.dictCode" id="dictCode" name="dictCode" data-val="true" data-val-required="必填">
                </td>
                <td><span data-valmsg-for="dictCode" data-valmsg-replace="true" class="errors"></span>
                 <span class="errors" ng-show="vm.isDictCodeExist">字典编码已存在</span></td>
            </tr>                                  
            <tr>
                <td class="formAlignRight">描述： </td>
                <td>
                <textarea class="form-control" maxlength="200" name="description" id="description" ng-model="vm.model.description" style="height:120px;"></textarea>
                </td>
                <td><span data-valmsg-for="description" data-valmsg-replace="true" class="errors"></span></td>
            </tr>

        </table>
    </form>
</div>