<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<link href="${path}/contents/libs/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
<script src="${path}/contents/libs/zTree/js/jquery.ztree.all.min.js"></script>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/dict">数据字典管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>

    <form id="form" name="form">
       <div style="width:10%;min-height:800px;border-right:1px solid #888888;float:left;">    
	       <div class="toolbar">
	            <a class="btn btn-sm btn-primary" ui-sref=".edit({id:null})"><span class="glyphicon glyphicon-plus"></span>新增</a> 
	            <a class="btn btn-sm btn-danger" ng-click="vm.dels()" ng-disabled="vm.isSubmit"><span class="glyphicon glyphicon-remove"></span>删除</a>
	        </div>         
           <ul id="zTree" class="ztree"></ul>
       </div>
       <div style="width:80%;min-height:800px;border-right:1px solid #888888;float:left;">
       		<div ui-view></div>
       </div>
       <div style="clear:both;"></div>
    </form>
</div>

