<meta charset="UTF-8">
<!--S 资金申请报告 -->
<!-- s table -->
<table class="table table-bordered" style="margin-bottom: 0px;">
    <caption class="text-center">
        <p class="h3">
            <strong>
                深圳市政府投资项目评审中心 </br>
                {{getTBHeadName(vm.model.reviewstage,vm.model.isAdvanced,'项目报审登记表')}}
            </strong>
        </p>
        <p>
            <span style="width: 200px;float: left;padding: 5px 10px;">QR-4.11-01-A0</span>
            <span style="width: 200px;float: right;padding: 5px 10px;">收文日期：{{vm.model.signdate | date:'yyyy年MM月dd日'}}</span>
        </p>
    </caption>

    <tbody>
    <tr>
        <td width="15%" class="text-center">项目名称<span class="required">*</span></td>
        <td colspan="2">
            <input type="text" style="width:90%;" class="form-control input-sm " ng-model="vm.model.projectname"
                   name="projectname" id="projectname" data-val="true" data-val-required="必填">
            <span data-valmsg-for="projectname" data-valmsg-replace="true" class="errors"></span>
        </td>
        <td width="15%" class="text-center">收文编号</td>
        <td colspan="2"> {{vm.model.signNum}}</td>
    </tr>
    <tr>
        <td width="15%" class="text-center">建设单位</td>
        <td colspan="2">
            <select ng-model="vm.model.builtcompanyName" name="builtcompanyName" style="width:220px;height:26px;">
                <option ng-repeat="x in vm.companyList|filter:{coType:'建设单位'}"
                        ng-selected="vm.model.builtcompanyName == x.coName" value="{{x.coName}}">{{x.coName}}
                </option>
            </select>
            <input type="text" ng-model="vm.model.builtcompanyName" name="builtcompanyName"
                   style="width:200px;height:26px;margin-left:-224px;">
        </td>
        <td width="15%" class="text-center">编制单位</td>
        <td colspan="2">
            <select ng-model="vm.model.designcompanyName" name="designcompanyName" style="width:220px;height:26px;">
                <option ng-repeat="x in vm.companyList|filter:{coType:'编制单位'}"
                        ng-selected="vm.model.designcompanyName == x.coName" value="{{x.coName}}">{{x.coName}}
                </option>
            </select>
            <input type="text" ng-model="vm.model.designcompanyName" name="designcompanyName"
                   style="width:200px;height:26px;margin-left:-224px;">
        </td>
    </tr>
    <tr>
        <td width="15%" class="text-center">主办处室</td>
        <td colspan="2">
            <select ng-model="vm.model.maindeptName" name="maindeptName"
                    ng-change="vm.findOfficeUsersByDeptName('main')" style="width:220px;height:26px;">
                <option ng-repeat="md in vm.deptlist" ng-selected="vm.model.maindeptName == md.deptName"
                        value="{{md.deptName}}">{{md.deptName}}
                </option>
            </select>
            <input type="text" ng-model="vm.model.maindeptName" name="maindeptName"
                   style="width:200px;height:26px;margin-left:-224px;">
        <td width="15%" class="text-center">主办处室联系人</td>
        <td colspan="2">
            <select ng-model="vm.model.mainDeptUserName" name="mainDeptUserName" style="width:220px;height:26px;">
                <option ng-repeat="mu in vm.mainOfficeList" ng-selected="vm.model.mainDeptUserName == mu.officeUserName"
                        value="{{mu.officeUserName}}">{{mu.officeUserName}}
                </option>
            </select>
            <input type="text" ng-model="vm.model.mainDeptUserName" name="mainDeptUserName"
                   style="width:200px;height:26px;margin-left:-224px;">
        </td>
    </tr>

    <tr>
        <td width="15%" class="text-center">协办处室</td>
        <td colspan="2">
            <select ng-model="vm.model.assistdeptName" ng-change="vm.findOfficeUsersByDeptName('assist')"
                    name="assistdeptName" style="width:220px;height:26px;">
                <option ng-repeat="ad in vm.deptlist" ng-selected="vm.model.assistdeptName == ad.deptName"
                        value="{{ad.deptName}}">{{ad.deptName}}
                </option>
            </select>
            <input type="text" ng-model="vm.model.assistdeptName" name="assistdeptName"
                   style="width:200px;height:26px;margin-left:-224px;">
        </td>
        <td width="15%" class="text-center">协办处室联系人</td>
        <td colspan="2">
            <select ng-model="vm.model.assistDeptUserName" name="assistDeptUserName" style="width:220px;height:26px;">
                <option ng-repeat="au in vm.assistOfficeList"
                        ng-selected="vm.model.assistDeptUserName == au.officeUserName" value="{{au.officeUserName}}">
                    {{au.officeUserName}}
                </option>
            </select>
            <input type="text" ng-model="vm.model.assistDeptUserName" name="assistDeptUserName"
                   style="width:200px;height:26px;margin-left:-224px;">
        </td>
    </tr>

    <tr>
        <td width="15%" class="text-center">缓急程度</td>
        <td colspan="2">
            <select ng-model="vm.model.urgencydegree" name="urgencydegree" id="urgencydegree">
                <option ng-repeat="x in DICT.BAOMI.dicts" ng-selected="vm.model.urgencydegree == x.dictName"
                        value="{{x.dictName}}">{{x.dictName}}
                </option>
            </select>
        </td>

        <td width="15%" class="text-center">项目代码</td>
        <td colspan="2" >
            {{vm.model.projectcode}}
        </td>
    </tr>
    <tr>
        <td width="15%" class="text-center">秘密等级</td>
        <td colspan="2">
            <select ng-model="vm.model.secrectlevel" name="secrectlevel" id="secrectlevel">
                <option ng-repeat="x in DICT.SECRECTLEVEL.dicts" ng-selected="vm.model.secrectlevel == x.dictName"
                        value="{{x.dictName}}">{{x.dictName}}
                </option>
            </select>
        </td>
        <td width="15%" class="text-center">国家编码</td>
        <td colspan="2">
            {{vm.model.countryCode}}
        </td>
    </tr>
    <tr>
        <td width="15%" class="text-center"  style="vertical-align: middle;">备审资料</td>
        <td colspan="5">
            <table class="table"
                   style="border: 0px solid transparent !important;padding-top: 0px;padding-bottom: 0px;margin-bottom: 0px;margin-top:0px;">
                <tr>
                    <td style="border-top:none;width:20%;">&nbsp;</td>
                    <td style="border-top:none;width:20%;text-align: center;">原件/复印件</td>
                    <td style="border-top:none;width:10%;"><span  >份数</span></td>
                    <td style="border-top:none;width:20%;">&nbsp;</td>
                    <td style="border-top:none;width:20%;text-align: center;">原件</td>
                    <td style="border-top:none;width:10%;"><span  >份数</span></td>
                </tr>
                <tr>
                    <td style="border-top:none;text-align:right;">委项目处理表</td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox"
                               ng-click="vm.model.sugProDealCount = initInputValue($event,vm.model.sugProDealCount)"
                               ng-model="vm.model.sugProDealOriginal"
                               name="sugProDealOriginal" id="addOriginal"
                               ng-true-value="9" ng-false-value="0"  ng-checked="vm.model.sugProDealOriginal==9" >
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:40px;text-align:center;" class="form-control input-sm "
                               ng-model="vm.model.sugProDealCount"
                               name="sugProDealCount"
                               id="sugProDealCount" data-val="true"
                               data-val-digits="只能输入数字">
                        <span data-valmsg-for="sugProDealCount" data-valmsg-replace="true" class="errors"></span>
                    </td>

                    <td style="border-top:none;text-align:right;">资金申请报告</td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox"
                               ng-click="vm.model.capitalAppReportCount = initInputValue($event,vm.model.capitalAppReportCount)"
                               ng-model="vm.model.capitalAppReportOriginal"
                               id="capitalAppReportOriginal" ng-true-value="9"
                               ng-false-value="0"  ng-checked="vm.model.capitalAppReportOriginal==9">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:40px;text-align:center;"
                               class="form-control input-sm "
                               ng-model="vm.model.capitalAppReportCount"
                               name="capitalAppReportCount"
                               id="sugProAdviseCount" data-val="true"
                               data-val-digits="只能输入数字">
                        <span data-valmsg-for="capitalAppReportCount" data-valmsg-replace="true" class="errors"></span>
                    </td>

                </tr>
                <tr>
                    <td style="border-top:none;text-align:right;">委文件处理表</td>
                    <td style="border-top:none;text-align:center;">
                        <input type="checkbox" class="newcheckbox"
                               ng-click="vm.model.sugFileDealCount = initInputValue($event,vm.model.sugFileDealCount)"
                               ng-model="vm.model.sugFileDealOriginal"
                               id="sugFileDealOriginal" ng-true-value="9"
                               ng-false-value="0"  ng-checked="vm.model.sugFileDealOriginal==9"></td>
                    <td style="border-top:none;">
                        <input type="text" style="width:40px;text-align:center;" class="form-control input-sm"
                               ng-model="vm.model.sugFileDealCount" id="sugFileDealCount"
                               name="sugFileDealCount"
                               data-val="true" data-val-digits="只能输入数字">
                        <span data-valmsg-for="sugFileDealCount" data-valmsg-replace="true" class="errors"></span>
                    </td>
                    <td style="border-top:none;text-align:right;">电子文档</td>
                    <td style="border-top:none;"></td>
                    <td style="border-top:none;">
                        <input type="text" style="width:40px;text-align:center;"
                               class="form-control input-sm "
                               ng-model="vm.model.proSugEledocCount"
                               name="proSugEledocCount"
                               id="proSugEledocCount" data-val="true"
                               data-val-digits="只能输入数字">
                        <span data-valmsg-for="proSugEledocCount" data-valmsg-replace="true" class="errors"></span>
                    </td>

                </tr>
                <tr>
                    <td style="border-top:none;text-align:right;">项目单位申报表</td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox"
                               ng-click="vm.model.sugOrgApplyCount = initInputValue($event,vm.model.sugOrgApplyCount)"
                               ng-model="vm.model.sugOrgApplyOriginal"
                               id="sugOrgApplyOriginal" ng-true-value="9"
                               ng-false-value="0"  ng-checked="vm.model.sugOrgApplyOriginal==9">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:40px;text-align:center;"
                               class="form-control input-sm "
                               ng-model="vm.model.sugOrgApplyCount"
                               name="sugOrgApplyCount"
                               id="sugOrgApplyCount" data-val="true"
                               data-val-digits="只能输入数字">
                        <span data-valmsg-for="sugOrgApplyCount" data-valmsg-replace="true" class="errors"></span>
                    </td>

                    <td style="border-top:none;text-align:right;">相关会议纪要</td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox"
                               ng-click="vm.model.sugMeetCount = initInputValue($event,vm.model.sugMeetCount)"
                               ng-model="vm.model.sugMeetOriginal"
                               id="sugMeetOriginal" ng-true-value="9"
                               ng-false-value="0" ng-checked="vm.model.sugMeetOriginal==9">
                    </td>
                    <td style="border-top:none;">
                        <input type="text" style="width:40px;text-align:center;" class="form-control input-sm "
                               ng-model="vm.model.sugMeetCount" name="sugMeetCount"
                               id="sugMeetCount" data-val="true"
                               data-val-digits="只能输入数字">
                        <span data-valmsg-for="sugMeetCount" data-valmsg-replace="true" class="errors"></span>
                    </td>

                </tr>
                <tr>
                    <td style="border-top:none;text-align:right;">项目单位请示报告</td>
                    <td style="border-top:none;text-align: center;">
                        <input type="checkbox" class="newcheckbox"
                               ng-click="vm.model.sugOrgReqCount = initInputValue($event,vm.model.sugOrgReqCount)"
                               ng-model="vm.model.sugOrgReqOriginal"
                               id="sugOrgReqOriginal" ng-true-value="9"
                               ng-false-value="0" ng-checked="vm.model.sugOrgReqOriginal==9"></td>
                    <td style="border-top:none;">
                        <input type="text" style="width:40px;text-align:center;" class="form-control input-sm "
                               ng-model="vm.model.sugOrgReqCount"
                               name="sugOrgReqCount"
                               id="sugOrgReqCount" data-val="true"
                               data-val-digits="只能输入数字">
                        <span data-valmsg-for="sugOrgReqCount" data-valmsg-replace="true" class="errors"></span>
                    </td>
                    <td style="border-top:none;"></td>
                    <td style="border-top:none;"></td>
                    <td style="border-top:none;"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width="15%" class="text-center" style="vertical-align: middle;">综合部拟办意见</td>
        <td colspan="5">
            <textarea maxlength="120"  data-val-length-max="120"  data-val="true"   name="comprehensivehandlesug"  ng-change="vm.model.comprehensivehandlesug=countCharacter(vm.model.comprehensivehandlesug,120,'comprehensivehandlesugCountz')"   rows="3"  ng-model="vm.model.comprehensivehandlesug" style="width: 98%">{{ vm.model.comprehensivehandlesug }}</textarea>
            <span data-valmsg-for="comprehensivehandlesug" data-valmsg-replace="true" class="errors"></span>
            <p id="comprehensivehandlesugCountz" style="text-align: right;"></p>
        </td>
    </tr>
    <tr>
        <td width="15%" class="text-center" style="vertical-align: middle;">中心领导签批意见</td>
        <td colspan="5">
            <textarea maxlength="120"  data-val-length-max="120"  data-val="true"  rows="3"  name="leaderhandlesug" id="leaderhandlesug" ng-model="vm.model.leaderhandlesug" ng-change="vm.model.leaderhandlesug=countCharacter(vm.model.leaderhandlesug,120,'leaderhandlesugCountz')"   value="" style="width: 98%">{{vm.model.leaderhandlesug}}</textarea>
            <span data-valmsg-for="leaderhandlesug" data-valmsg-replace="true" class="errors"></span>
            <p id="leaderhandlesugCountz" style="text-align: right;"></p>

        </td>
    </tr>
    <tr>
        <td width="15%" class="text-center" style="vertical-align: middle;">部长处理意见</td>
        <td colspan="5">
            <textarea maxlength="120"  data-val-length-max="120"  data-val="true" name="ministerhandlesug"  rows="3" ng-model="vm.model.ministerhandlesug" ng-change="vm.model.ministerhandlesug=countCharacter(vm.model.ministerhandlesug,120,'ministerhandlesugCountz')"  ng-model="vm.model.ministerhandlesug" style="width: 98%">{{vm.model.ministerhandlesug}}</textarea>
            <span data-valmsg-for="ministerhandlesug" data-valmsg-replace="true" class="errors"></span>
            <p id="ministerhandlesugCountz" style="text-align: right;"></p>
        </td>
    </tr>
    </tbody>
</table>
<table style="width: 100%;margin-bottom: 15px;">
    <tr>
        <td style="width: 15%;text-align: right;">送件人签名：</td>
        <td>
            <input style="width:120px;" class="form-control input-sm" ng-model="vm.model.sendusersign"
                   name="sendusersign" id="sendusersign" data-val="true" data-val-required="必填">
            <span data-valmsg-for="sendusersign" data-valmsg-replace="true" class="errors"></span>
        </td>
    </tr>
</table>
<!-- end table -->
<!-- E 资金申请报告  -->