<#assign path=request.contextPath/>
<meta charset="UTF-8">
<link href="${path}/contents/libs/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
<script src="${path}/contents/libs/zTree/js/jquery.ztree.all.min.js"></script>

<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>

<div class=" well-sm" style="background:white;">
	<div class="toolbar">
		<button class="btn btn-sm btn-success" ng-click="vm.create()" ng-disabled="vm.isSubmit" ng-hide="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>创建</button>
		<button class="btn btn-sm btn-success" ng-click="vm.update()" ng-disabled="vm.isSubmit" ng-show="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>更新</button>
	</div>
     <ol class="breadcrumb" style="font-size: 12px;">
        <li class="active">温馨提示：1、休：表示将工作日调为休息日     &nbsp;&nbsp;&nbsp;&nbsp;2、 班：表示将休息日调为工作日 </li>
    </ol>
     <form id="form" name="form">
         <table style="width:500px;" class="table table-bordered  dataTable">
	         <tr>
		         <td class="formAlignRight">月份：<span class="required">*</span></td>
		         <td> <select style="width:20%" ng-model="vm.workday.month" name="month"
						 data-val="true" data-val-required="必填">
					 <option value="">请选择</option>
					 <option ng-repeat="x in DICT.BGYF.dicts" ng-selected="vm.monthly.theMonths == x.dictName"
							 value="{{x.dictName}}">{{x.dictName}}
					 </option>
				 </select>
					 <span data-valmsg-for="month" data-valmsg-replace="true" class="errors"></span>
				 </td>

	         </tr>
			 <tr>
				 <td class="formAlignRight">日期：<span class="required">*</span></td>
				 <td><input  type="text" name="datess" style="width: 80%;height: 20%" class="form-control input-sm "
							ng-model="vm.workday.datess"  data-val="true" data-val-required="必填"/>
					<span style="color:red;font-size: 10px;">日期的用逗号隔开，如1,2,3</span>
					 <span style="margin-left: 40%" data-valmsg-for="datess" data-valmsg-replace="true" class="errors"></span>
				 </td>

			 </tr>
	         <tr>
		         <td class="formAlignRight">状态：</td>
		         <td>
			         <span><input type="radio" name="status" value="1"  ng-model="vm.workday.status"/>休</span>
			         <span><input type="radio" name="status" value="2"  ng-model="vm.workday.status"/>班</span>
		         </td>
		         <span data-valmsg-for="status" data-valmsg-replace="true" class="errors"></span>
	         </tr>
	         <tr>
	         	<td class="formAlignRight">备注：</td>
	         	<td >
	         		<textarea style="width: 80%" class="form-control" maxlength="200" name="remark" ng-model="vm.workday.remark"></textarea>
	         	</td>
	         </tr>
         </table>



         
     </form>
    
</div>