<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/workday">工作日管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
<form name="workdayForm" id="workdayForm">
    <div class="well">
    
   <!--  <span>年份：</span>
    <select ng-model="vm.dates" operator="like" name="dates" id="dates">
    	<option value="">请选择</option>
    	<option value="2011-2020">2011-2020</option>
    	<option value="2001-2010">2001-2010</option>
    	<option value="1991-2000">1991-2000</option>
    </select> -->
   <!--  <input type="text" ng-model="vm.workday.dates" operator="like" name="dates" id="dates" placeholder="请输入"/> -->
    <span>状态：</span>
    <select ng-model="vm.workday.status" operator="like" name="status" id="status" >
	    <option value="">请选择</option>
	    <option value="1">调休</option>
	    <option value="2">加班</option>
    </select>
    <a class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="vm.queryWorkday()">查询</a>
    <a class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="vm.ResetWorkday()">重置</a>	
	    
       	  <@shiro.hasPermission name="workday##post"> 
          	<a class="btn btn-sm btn-primary" href="#/workdayEdit/"><span class="glyphicon glyphicon-plus"></span>新增工作日</a> 
          </@shiro.hasPermission>
           <@shiro.hasPermission name="workday##delete">           
            <button class="btn btn-sm btn-danger" ng-click="vm.dels()" ng-disabled="vm.isSubmit"><span class="glyphicon glyphicon-remove"></span>批量删除</button>
        	</@shiro.hasPermission>
    </div>
 </form>

    <script type="text/template" id="columnBtns">
        <@shiro.hasPermission name="workday##delete">
        <button class="btn btn-xs btn-danger"  ng-click="{0}" ><span class="glyphicon glyphicon-remove"></span>删除</button>
        </@shiro.hasPermission>
        <@shiro.hasPermission name="workday##put">
		<a class="btn btn-xs btn-primary" href="#/workdayEdit/{1}"><span class="glyphicon glyphicon-pencil"></span>编辑</a>
        </@shiro.hasPermission>
    </script>

    <div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
</div>
