<meta charset="UTF-8">
<table  class="print-table">
    <caption style="margin-top: 10px;">
        <span >QR-4.3-08-A2</span>
    </caption>
    <caption class="title" style="margin-top: 20px; margin-bottom: 10px;">
        <strong>{{vm.model.expertReviewDto.reviewTitle}}评审费发放表</strong>
    </caption>
    <tr class="tr-hidden">
        <td width="5%"></td>
        <td width="10%"></td>
        <td width="20%"></td>
        <td width="20%"></td>
        <td width="10%"></td>
        <td width="10%"></td>
        <td width="10%"></td>
        <td width="15%"></td>
    </tr>
    <tr class="text-center">
        <td rowspan="2">序号</td>
        <td rowspan="2">姓名</td>
        <td rowspan="2">身份证号码</td>
        <td >开户行</td>
        <td rowspan="2">评审费</td>
        <td rowspan="2">应纳税额</td>
        <td rowspan="2">合计（元）</td>
        <td rowspan="2">领款人签名</td>
    </tr>
    <tr>
        <td>银行账号</td>
    </tr>
        <tr style="height:  30px;" ng-repeat-start="x in vm.model.expertReviewDto.expertSelectedDtoList | filter:{isConfrim:'9',isJoin:'9'}">
            <td rowspan="2">{{$index+1}}</td>
            <td rowspan="2">{{x.expertDto.name}}</td>
            <td rowspan="2">{{x.expertDto.idCard}}</td>
            <td>{{x.expertDto.bankAccount}}</td>
            <td rowspan="2">{{x.reviewCost}}</td>
            <td rowspan="2">{{x.reviewTaxes}}</td>
            <td rowspan="2">{{x.totalCost}}</td>
            <td rowspan="2"></td>
        </tr>
        <tr style="height: 30px;"  ng-repeat-end="">
            <td>{{x.expertDto.openingBank}}</td>
        </tr>
</table>
   <!-- <table class="print-table" style="margin-top: 5px;">
        <caption class="title" style="margin-top: 20px;">
            <strong>专家评审费发放表</strong>
        </caption>
        <tbody>
            <tr class="tr-hidden">
                <td width="5%"></td>
                <td width="10%"></td>
                <td width="10%"></td>
                <td width="20%"></td>
                <td width="10%"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-if="vm.showFlag.isMainPrinUser && vm.showFlag.expertEdit && (!vm.model.expertReviewDto.state || vm.model.expertReviewDto.state==0)">
                <td colspan="4">
                    <button class="btn btn-sm btn-success" ng-click="vm.countTaxes(vm.model.expertReviewDto)" ng-disabled="vm.isCommit">
                        <span class="glyphicon glyphicon-ok"></span>计算应纳税额
                    </button>
                    <button class="btn btn-sm btn-success" ng-click="vm.savePayment(vm.model.expertReviewDto)" ng-disabled="vm.isCommit" >
                        <span class="glyphicon glyphicon-ok"></span>保存
                    </button>
                </td>
            </tr>
            <tr>
                <td colspan="3">评审费发放日期</td>
                <td>
                    <div ng-if="vm.showFlag.isMainPrinUser && vm.showFlag.expertEdit && (!vm.model.expertReviewDto.state || vm.model.expertReviewDto.state==0)">
                        <input type="text" class="form-control input-sm " kendo-date-picker k-format="'yyyy-MM-dd'" ng-model="vm.model.expertReviewDto.payDate" data-val-date="必须为日期">
                    </div>
                    <div ng-if="vm.model.expertReviewDto.state == 9">{{vm.model.expertReviewDto.payDate}}</div>
                </td>
                <td colspan="2">评审/函评日期</td>
                <td colspan="2">{{vm.model.expertReviewDto.reviewDate}}</td>
            </tr>
            <tr>
                <td colspan="3">评审费发放标题</td>
                <td colspan="5">
                    <div ng-if = "vm.showFlag.isMainPrinUser && vm.showFlag.expertEdit && (!vm.model.expertReviewDto.state || vm.model.expertReviewDto.state==0)">
                        <input type="text" class="form-control input-sm " ng-model="vm.model.expertReviewDto.reviewTitle">
                    </div>
                    <div ng-if = "vm.model.expertReviewDto.state == 9">{{vm.model.expertReviewDto.reviewTitle}}</div>
                </td>
            </tr>
            <tr style="height: 100px;">
                <td colspan="8" class="title" >{{vm.model.expertReviewDto.reviewTitle}}</td>
            </tr>
            <tr class="text-center">
                <td>序号</td>
                <td>姓名</td>
                <td>身份证号码</td>
                <td>开户行/银行账号</td>
                <td>评审费</td>
                <td>应纳税额</td>
                <td>合计（元）</td>
                <td>是否函评</td>
            </tr>
            <tr ng-repeat="x in vm.model.expertReviewDto.expertSelectedDtoList | filter:{isConfrim:'9',isJoin:'9'}">
                <td>{{$index+1}}</td>
                <td>{{x.expertDto.name}}</td>
                <td>{{x.expertDto.idCard}}</td>
                <td>{{x.expertDto.bankAccount}}/{{x.expertDto.openingBank}}</td>
                <td>
                    <div ng-show="vm.showFlag.isMainPrinUser && (!vm.model.expertReviewDto.state || vm.model.expertReviewDto.state==0)">
                        <input type="text" name="reviewCost_{{$index}}" id="reviewCost_{{$index}}"
                               class="form-control input-sm " ng-model="x.reviewCost" data-val-digits="必须输入有效数字"
                               data-val-regex="评审费用只能为正数" data-val="true" data-val-required="必填"
                               data-val-regex-pattern="^(([0-9]+\\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\\.[0-9]+)|([0-9]*[1-9][0-9]*))$" >
                        <span data-valmsg-for="reviewCost_{{$index}}" data-valmsg-replace="true"class="errors"></span>
                    </div>
                    <div ng-show="vm.model.expertReviewDto.state==9">
                        {{x.reviewCost}}
                    </div>
                </td>
                <td> {{x.reviewTaxes}}</td>
                <td> {{x.totalCost}}</td>
                <td> <input type="checkbox" ng-disabled="vm.model.expertReviewDto.state==9" ng-model="vm.model.expertReviewDto.expertSelectedDtoList[$index].isLetterRw" ng-true-value="9" ng-false-value="0" ng-checked="x.isLetterRw==9"></td>
            </tr>
            <tr>
                <td colspan="4" class="text-center">总计</td>
                <td>{{vm.model.expertReviewDto.reviewCost}}</td>
                <td>{{vm.model.expertReviewDto.reviewTaxes}}</td>
                <td>{{vm.model.expertReviewDto.totalCost}}</td>
                <td></td>
            </tr>
        </tbody>
    </table>-->