<meta charset="UTF-8">
<!--  S 设备清单（国产）/设备清单（进口）-->
<!-- s table -->
<table class="table table-bordered">

    <caption class="text-center h3"><strong>深圳市政府投资项目评审中心<br>项目发文审批表</strong></caption>
    <caption>
        <span>QR-4.9-09-A0</span>
    </caption>
    <caption>
                <span>
                    	发文方式：
                    <select ng-model="vm.dispatchDoc.dispatchWay" name="dispatchWay" id="dispatchWay"
                            ng-change="vm.sigleProject()" ng-disabled="vm.showFlag.isReveiwDS">
                        <option ng-repeat="x in DICT.DISPATCH_WAY.dicts | orderBy:'dictSort':false"
                                value="{{x.dictKey}}"
                                ng-selected="vm.dispatchDoc.dispatchWay==x.dictKey">{{x.dictName}}</option>
                    </select>
                </span>
        <span ng-show="vm.dispatchDoc.dispatchWay == 2" style="margin-left:10px;">
					<input type="radio" ng-model="vm.dispatchDoc.isMainProject" ng-disabled="vm.showFlag.isReveiwDS"
                           ng-value="9" ng-checked="vm.dispatchDoc.isMainProject==9">主项目

					<input type="radio" ng-model="vm.dispatchDoc.isMainProject" ng-disabled="vm.showFlag.isReveiwDS"
                           ng-value="0" ng-checked="vm.dispatchDoc.isMainProject==0">次项目

					<button class="btn btn-xs btn-default" ng-click="vm.gotoMergePage()" ng-disabled="vm.isCommit"
                            ng-show="vm.dispatchDoc.dispatchWay == 2 && vm.dispatchDoc.isMainProject == 9"
                            ng-hide="vm.dispatchDoc.dispatchWay == 1 || vm.dispatchDoc.isMainProject == 0">关联项目</button>
				</span>

        <span style="float:right;">发文类型： <span class="required">*</span>
		  		<select ng-model="vm.dispatchDoc.dispatchType" name="dispatchType" id="dispatchType" data-val="true"
                        data-val-required="必填">
					<option ng-repeat="x in DICT.DISPATCH_TYPE.dicts | orderBy:'dictSort':false" value="{{x.dictName}}"
                            ng-selected="vm.dispatchDoc.dispatchType==x.dictName">{{x.dictName}}</option>
				</select>
			</span>
    </caption>
    <tbody>

    <tr>
        <td style="width: 15%;" rowspan='2' class="text-center">发文部门</br>拟稿人</td>
        <td style="width: 20%;" class="text-center">
            {{vm.dispatchDoc.orgName}}
        </td>
        <td style="width: 15%;" rowspan='2' class="text-center">校对人</td>
        <td style="width: 15%;" rowspan='2' class="text-center">
            {{vm.dispatchDoc.userName}}
        </td>
        <td style="width: 15%;" rowspan='2' class="text-center">拟稿时间</td>
        <td style="width: 20%;" rowspan='2' class="text-center">
            {{vm.dispatchDoc.draftDate | date:'yyyy年MM月dd日'}}
        </td>
    </tr>
    <tr>
        <td class="text-center"> {{vm.dispatchDoc.userName}}</td>
    </tr>

    <tr>
        <td class="text-center">发文日期</td>
        <td>
            <input type="text" kendo-date-picker k-format="'yyyy-MM-dd'" class="form-control input-sm "
                   ng-model="vm.dispatchDoc.dispatchDate" name="dispatchDate">
        </td>
        <td class="text-center">文件字号</td>
        <td>{{vm.dispatchDoc.fileNum}}</td>

        <td class="text-center">紧密程度</td>
        <td>
            {{vm.dispatchDoc.urgentLevel}}
        </td>
    </tr>

    <tr>
        <td class="text-center">文件标题 <span class="required">*</span></td>
        <td colspan="5">
            <input type="text" maxlength="256" class="form-control input-sm " ng-disabled="vm.isnotEdit"
                   ng-model="vm.dispatchDoc.fileTitle" id="fileTitle" name="fileTitle" data-val="true"
                   data-val-required="必填" placeholder="《项目名称+阶段》+评审意见">
            <span data-valmsg-for="fileTitle" data-valmsg-replace="true" class="errors"></span>
        </td>
    </tr>

    <tr>
        <td class="text-center" style="vertical-align: middle;">发行范围</td>
        <td colspan="5">
                    <textarea  maxlength="250"  data-val-length-max="250" ng-change="vm.dispatchDoc.dispatchScope=countCharacter(vm.dispatchDoc.dispatchDoc,250,'dispatchScopeCounts')"    class="form-control input-sm" rows="3" ng-disabled="vm.isnotEdit"
                               ng-model="vm.dispatchDoc.dispatchScope" id="dispatchScope" name="dispatchScope"
                               data-val="true" data-val-required="必填"></textarea>
            <span style="float: right;">
                        (印<input type="text" name="printCount" ng-model="vm.dispatchDoc.printCount" style="width: 50px">份)
                    </span>
            <span data-valmsg-for="dispatchScope" data-valmsg-replace="true" class="errors"></span>
            <p id="dispatchScopeCounts" style="text-align: right;"></p>
        </td>
    </tr>

    <tr>
        <td class="text-center" style="vertical-align: middle;">项目概况</td>
        <td colspan="5">
                    <textarea maxlength="1000"  data-val-length-max="1000" ng-change="vm.dispatchDoc.description=countCharacter(vm.dispatchDoc.description,1000,'descriptionCounts')" class="form-control input-sm " rows="3" ng-disabled="vm.isnotEdit"
                              ng-model="vm.dispatchDoc.description" id="description" name="description"/>
            <span data-valmsg-for="description" data-valmsg-replace="true" class="errors"></span>
            <p id="descriptionCounts" style="text-align: right;"></p>
        </td>
    </tr>

    <tr>
        <td class="text-center" style="vertical-align: middle;">项目负责人<br>拟稿意见</td>
        <td colspan="3">
                    <textarea  maxlength="1000"  data-val-length-max="1000" ng-change="vm.dispatchDoc.mianChargeSuggest=countCharacter(vm.dispatchDoc.mianChargeSuggest,1000,'mianChargeSuggestCounts')"  class="form-control input-sm " rows="5"
                               ng-model="vm.dispatchDoc.mianChargeSuggest" id="mianChargeSuggest"
                               name="mianChargeSuggest" placeholder="第一负责人" ng-disabled="true"/>
            <span data-valmsg-for="mianChargeSuggest" data-valmsg-replace="true" class="errors"></span>
            <p id="mianChargeSuggestCounts" style="text-align: right;"></p>
        </td>
        <td colspan="2">
                    <textarea  maxlength="1000"  data-val-length-max="1000" ng-change="vm.dispatchDoc.secondChargeSuggest=countCharacter(vm.dispatchDoc.secondChargeSuggest,1000,'secondChargeSuggestCounts')"  class="form-control input-sm " rows="5"
                               ng-model="vm.dispatchDoc.secondChargeSuggest" id="secondChargeSuggest"
                               name="secondChargeSuggest" placeholder="第二负责人" ng-disabled="true"/>
            <span data-valmsg-for="secondChargeSuggest" data-valmsg-replace="true" class="errors"></span>
            <p id="secondChargeSuggestCounts" style="text-align: right;"></p>
        </td>
    </tr>

    <tr>
        <td class="text-center" style="vertical-align: middle;">评审意见摘要</td>
        <td colspan="5">
                    <textarea  maxlength="1000"  data-val-length-max="1000" ng-change="vm.dispatchDoc.reviewAbstract=countCharacter(vm.dispatchDoc.reviewAbstract,1000,'reviewAbstractCounts')" class="form-control input-sm " rows="5"
                               ng-model="vm.dispatchDoc.reviewAbstract" id="reviewAbstract" name="reviewAbstract"/>
            <span data-valmsg-for="reviewAbstract" data-valmsg-replace="true" class="errors"></span>
            <p id="reviewAbstractCounts" style="text-align: right;"></p>
        </td>
    </tr>

    <tr>
        <td class="text-center" style="vertical-align: middle;">部长审核意见</td>
        <td colspan="5">
                    <textarea  maxlength="1000"  data-val-length-max="1000" ng-change="vm.dispatchDoc.ministerSuggesttion=countCharacter(vm.dispatchDoc.ministerSuggesttion,1000,'ministerSuggesttionCounts')"   class="form-control input-sm " rows="5"
                               ng-model="vm.dispatchDoc.ministerSuggesttion" id="ministerSuggesttion"
                               name="ministerSuggesttion" ng-disabled="true"/>
            <span data-valmsg-for="ministerSuggesttion" data-valmsg-replace="true" class="errors"></span>
            <p id="ministerSuggesttionCounts" style="text-align: right;"></p>
        </td>
    </tr>

    <tr>
        <td class="text-center" style="vertical-align: middle;">分管副主任意见</td>
        <td colspan="5">
                    <textarea maxlength="1000" data-val-length-max="1000" ng-change="vm.dispatchDoc.viceDirectorSuggesttion=countCharacter(vm.dispatchDoc.viceDirectorSuggesttion,1000,'viceDirectorSuggesttionCounts')" class="form-control input-sm " rows="5"
                              ng-model="vm.dispatchDoc.viceDirectorSuggesttion" id="viceDirectorSuggesttion"
                              name="viceDirectorSuggesttion" ng-disabled="true"/>
            <span data-valmsg-for="viceDirectorSuggesttion" data-valmsg-replace="true" class="errors"></span>
            <p id="viceDirectorSuggesttionCounts" style="text-align: right;"></p>
        </td>
    </tr>

    <tr>
        <td class="text-center" style="vertical-align: middle;">主任签发</td>
        <td colspan="5">
                    <textarea maxlength="1000" data-val-length-max="1000" ng-change="vm.dispatchDoc.directorIssue=countCharacter(vm.dispatchDoc.directorIssue,1000,'directorIssueCounts')" class="form-control input-sm " rows="5"
                              ng-model="vm.dispatchDoc.directorIssue" id="directorIssue" name="directorIssue"
                              ng-disabled="true"/>
            <span data-valmsg-for="directorIssue" data-valmsg-replace="true" class="errors"></span>
            <p id="directorIssueCounts" style="text-align: right;"></p>
        </td>
    </tr>

    </tbody>
</table>    <!-- end table -->

<button class="form-control btn-sm btn-primary" style="width: 200px; margin: auto;" onclick="printpage(this)">打印
</button>
<!--  E 设备清单（国产）/设备清单（进口）-->