<meta charset="UTF-8">
<div class="toolbar">
    <button class="btn btn-sm btn-success" ng-click="vm.commitNextStep()" ng-disabled="vm.isCommit" ><span class="glyphicon glyphicon-ok"></span>提交</button>
</div>

<div class="well well-sm" style="background:white;" >
	<form id="flow_form" name="flow_form" >
	<input type="hidden" ng-model="vm.flow.end" value="{{vm.flow.end}}" /> <!-- hidden taskId -->
	<input type="hidden" ng-model="vm.flow.taskId" value="{{vm.flow.taskId}}" /> <!-- hidden taskId -->
	<input type="hidden" ng-model="vm.flow.processInstanceId" value="{{vm.flow.processInstanceId}}" /><!-- hidden processInstanceId -->	
	<input type="hidden" ng-model="vm.flow.curNode.activitiId" value="{{vm.flow.curNode.activitiId}}" />	
	
	<table class="table table-bordered">
		  <tbody>
		    <tr>
		      <td width="10%" class="text-center">本环节名称</td>
		      <td>
		      		{{vm.flow.curNode.activitiName}}		      		
			  </td>
			</tr>				
		    <tr>
		      <td width="10%" class="text-center">审批意见</td>
		      <td>		    
		      		<textarea rows="3" ng-model="vm.flow.dealOption"  name="dealOption" id="dealOption" style="width:100%" data-val="true" data-val-required="处理意见不能为空！" data-val-length-max="2000" ></textarea> 
			  		<span data-valmsg-for="dealOption" data-valmsg-replace="true" class="errors"></span> 
			  		<button class="btn btn-sm btn-primary" ng-click="vm.ideaEdit({targetId:'dealOption'})" >编辑</button>
			  </td>
			</tr>
			<tr ng-show="vm.businessTr">
		      <td width="10%" class="text-center">业务处理</td>
		      <td >
		      		<!-- 选择副主任 -->
		      		<div ng-show="vm.ZHB_SP_SW">
			      		分管副主任：
			      		<select id="viceDirector" style="width:100px;">
			      			<option ng-repeat="x in vm.viceDirectors" value="{{x.loginName}}">{{x.displayName}}</option>
			      		</select>		      		
		      		</div>
		      		
		      		<!-- 选择分管部门 -->
		      		<div ng-show="vm.FGLD_SP_SW" style="width:400px;">
		      			<table class="table table-bordered seleteTable" >
		      				<caption class="text-center">部门分办(主办、协办各只能选一个)</caption>  
		      				<tr>		      				
						    	<td width="40%" align="center">部门名称</td>
						    	<td width="20%" align="center">主办部门</td>
						    	<td width="20%" align="center">协办部门</td>	
						    	<td width="20%" align="center">分管部门</td>
						    </tr>
							<tr ng-repeat="x in vm.orgs|filter:{charge:true}">
							    <td align="center">{{x.name}}</td>
							    <td align="center"><input type="checkbox" selectType="main" id="main_{{x.id}}" ng-click="vm.checkBox($event,'main','assist')" value="{{x.id}}"/></td>
							    <td align="center"><input type="checkbox" selectType="assist" id="assist_{{x.id}}" ng-click="vm.checkBox($event,'assist','main')" value="{{x.id}}"/></td>
							    <td align="center"><span >是</span></td>
							</tr>
							<tr ng-repeat="x in vm.orgs|filter:{charge:false}">
							    <td align="center">{{x.name}}</td>
							    <td align="center"><input type="checkbox" selectType="main" id="main_{{x.id}}" ng-click="vm.checkBox($event,'main','assist')" value="{{x.id}}"/></td>
							    <td align="center"><input type="checkbox" selectType="assist" id="assist_{{x.id}}" ng-click="vm.checkBox($event,'assist','main')" value="{{x.id}}"/></td>
							    <td align="center"><span >否</span> </td>
							</tr>		
						</table>
		      		</div>
		      		
		      		<!-- 选择负责人 -->
		      		<div ng-show="vm.BM_FB" style="width:300px;">
		      			<table class="table table-bordered seleteTable" >
		      				<caption class="text-center">选择负责人</caption>  
		      				<tr>		      				
						    	<td width="40%" align="center">人员</td>
						    	<td width="30%" align="center">第一负责人</td>
						    	<td width="30%" align="center">第二负责人</td>	
						    </tr>
							<tr ng-repeat="u in vm.users">
							    <td align="center">{{u.displayName}}</td>
							    <td align="center"><input type="checkbox" selectType="main" id="main_{{u.id}}" ng-click="vm.checkBox($event,'main','assist')" value="{{u.id}}"/></td>
							    <td align="center"><input type="checkbox" selectType="assist" id="assist_{{u.id}}" ng-click="vm.checkBox($event,'assist','main')" value="{{u.id}}"/></td>
							</tr>	
						</table>
		      		</div>	

		      		<!-- 工作方案 -->
                    <p ng-show="vm.MFLOW_XMFZR_SP_GZFA"><!--主流程工作方案环节才显示-->
                        是否直接发文：<input class="formAlignRight" type="checkbox" style="width:20px;" ng-model="vm.directDisPatch" ng-click="vm.checkNeedWP($event)">
                    </p>
                    <button class="btn btn-xs btn-primary" ng-click="vm.addWorkProgram()" ng-disabled="vm.isCommit" ng-show="vm.XMFZR_SP_GZFA" ><span class="glyphicon glyphicon-edit"></span>工作方案</button>
                    <button class="btn btn-xs btn-primary" ng-click="vm.meetingDoc()" ng-disabled="vm.isCommit" ng-show="vm.show_workprogram" ><span class="glyphicon glyphicon-edit"></span>会前准备材料</button>

                    <!-- 发文 -->
					<button class="btn btn-xs btn-primary" ng-click="vm.addDisPatch()" ng-disabled="vm.isCommit" ng-show="vm.FW_SQ" ><span class="glyphicon glyphicon-edit"></span>发文</button>	
					<!-- 归档 -->
					<button class="btn btn-xs btn-primary" ng-click="vm.addDoFile()" ng-disabled="vm.isCommit" ng-show="vm.MFZR_GD" ><span class="glyphicon glyphicon-edit"></span>归档</button>

                    <!--*********  以下是协审流程 *******-->
                    <!--协审选择部门-->
                    <div ng-show="vm.XS_FGLD_SP_SW" style="width:300px;">
                          <table class="table table-bordered" id="xs_table">
                              <caption class="text-center">选择主办部门</caption>
                              <tr>
                                  <td width="40%" align="center">部门名称</td>
                                  <td width="20%" align="center">主办部门</td>
                                  <td width="20%" align="center">分管部门</td>
                              </tr>
                              <tr ng-repeat="x in vm.xsOrgs|filter:{charge:true}">
                                  <td align="center">{{x.name}}</td>
                                  <td align="center"><input type="checkbox" selectType="xs_main" id="xs_main_{{x.id}}" ng-click="vm.checkBoxSingle($event,'xs_main')" value="{{x.id}}"/></td>
                                  <td align="center"><span >是</span></td>
                              </tr>
                              <tr ng-repeat="x in vm.xsOrgs|filter:{charge:false}">
                                  <td align="center">{{x.name}}</td>
                                  <td align="center"><input type="checkbox" selectType="xs_main" id="xs_main_{{x.id}}" ng-click="vm.checkBoxSingle($event,'xs_main')" value="{{x.id}}"/></td>
                                  <td align="center"><span >否</span></td>
                              </tr>
                          </table>
                    </div>
				  <!-- 协审部门分办 -->
				  <div ng-show="vm.XS_BM_FB" id="xs_bmfb">
					  <table class="table" style="width:80%;">
                          <caption class="text-center">*必须要选择1个总负责人，最多只能选3个负责人</caption>
						  <tr>
                              <td style="width: 25%">
                                  <table class="table table-bordered seleteTable" >
                                      <tr>
                                          <td width="30%" align="center">选择</td>
                                          <td width="70%" align="center">人员</td>
                                      </tr>
                                      <tr ng-repeat="u in vm.xsusers | filter:{isSelected:false}">
                                          <td align="center"><input type="checkbox" name="unSelPriUser"  value="{{u.id}}"/></td>
                                          <td align="center">{{u.displayName}}</td>
                                      </tr>
                                  </table>
                              </td>
                              <td  style="text-align:center;vertical-align:middle;width: 15%">
                                  <p style="text-align:center;">
                                      负责分工:
                                      <select name="userType" id="userType">
                                          <option value="土建">土建</option>
                                          <option value="安装">安装</option>
                                          <option value="所有">所有</option>
                                      </select>
                                  </p>
                                  <p style="text-align:center;">
                                      是否总负责人：<input ng-model="vm.isMainPriUser" type="checkbox" ng-true-value="9" ng-false-value="0" id="isMainPriUser" ng-checked="vm.isMainPriUser==9"/>
                                  </p>
                                  <p style="text-align:center;">
                                      <button class="btn btn-sm btn-default" ng-click="vm.addPriUser()" ng-disabled="vm.iscommit"><span
                                              class="glyphicon glyphicon-arrow-right"></span>添加
                                      </button>
                                  </p>
                                  <p style="text-align:center;">
                                      <button class="btn btn-sm btn-default" ng-click="vm.delPriUser()" ng-disabled="vm.iscommit"><span
                                              class="glyphicon glyphicon-arrow-left"></span>删除
                                      </button>
                                  </p>
                              </td>
                              <td style="width:60%">
                                  <table class="table table-bordered">
                                      <tr>
                                          <td width="10%" align="center">选择</td>
                                          <td width="30%" align="center">人员</td>
                                          <td width="30%" align="center">负责分工</td>
                                          <td width="30%" align="center">总负责人</td>
                                      </tr>
                                      <tr ng-repeat="x in vm.principalUsers">
                                          <td align="center">
                                              <input type="checkbox" name="selPriUser" value="{{x.userId}}"/>
                                          </td>
                                          <td align="center">{{x.userName}}</td>
                                          <td align="center">{{x.userType}}</td>
                                          <td align="center">{{x.isMainUser == 9?'是':'否'}}</td>
                                      </tr>
                                  </table>
                              </td>
						  </tr>
					  </table>

				  </div>
				  <!-- 协审工作方案 -->
                    <div ng-show="vm.XS_XMFZR_GZFA">
						<p>
							<button class="btn btn-xs btn-primary" ng-click="vm.addBaseWP()" ng-disabled="vm.isCommit" ><span class="glyphicon glyphicon-edit"></span>项目基本信息</button>
						</p>
                        <p>
                            是否需要项目评审：<input class="formAlignRight" type="checkbox" style="width:20px;" ng-model="vm.model.isNeedWrokPrograml" name="isNeedWrokPrograml" ng-true-value="9" ng-false-value="0" >
                            <button class="btn btn-xs btn-primary" ng-click="vm.addWorkProgram()" ng-disabled="vm.isCommit" ng-show="vm.model.isNeedWrokPrograml == 9" ><span class="glyphicon glyphicon-edit"></span>工作方案</button>
                        </p>
                    </div>
			  </td>
            </tr>
            <tr ng-show="vm.model.isassistproc == '9'">
                <td>
                      是否协审项目：<input class="formAlignRight" type="checkbox" style="width:20px;" ng-model="vm.model.isassistproc" name="isassistproc" ng-checked="vm.model.isassistproc == 9" ng-disabled="true" >
                </td>
                <td>
                    <table class="table table-bordered" >
                          <tr>
                              <td width="5%" align="center">序号</td>
                              <td width="40%" align="center">项目名称</td>
                              <td width="15%" align="center">协审单位</td>
                              <td width="15%" align="center">协审金额</td>
                              <td width="10%" align="center">协审时间</td>
                              <td width="10%" align="center">类型</td>
                          </tr>
                          <tr ng-repeat="x in vm.model.planSignDtoList">
                              <td align="center">{{ $index + 1}}</td>
                              <td align="center">{{x.projectName}}<span ng-show="x.assistType == '独立项目'">（{{x.splitNum}}）</span></td>
                              <td align="center">{{}}</td>
                              <td align="center">{{x.assistCost}}</td>
                              <td align="center">{{x.assistDays}}</td>
                              <td align="center">{{x.assistType}}<span ng-show="x.assistType == '合并项目'"><span ng-show="x.isMain == '9'">主项目</span><span ng-hide="x.isMain == '9'">次项目</span></span></td>
                          </tr>
                    </table>
                </td>
              </tr>
		</tbody>
	</table>
	</form>		    
</div>