<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a>系统管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <div class="toolbar">
        <button class="btn btn-sm btn-primary" ng-click="vm.addConfig()"><span class="glyphicon glyphicon-plus"></span>新增
        </button>
        <span class="attentionDiv" style="padding:5px;">
            <i class="fa fa-exclamation-triangle" aria-hidden="true" ></i>
            温馨提示：系统参数是系统正常运行的保障，请不要随意修改！
        </span>
    </div>

    <table class="table table-bordered">
        <tr class="active">
            <th style="width: 50px; text-align: center;">序号</th>
            <th style="width: 180px;">参数名</th>
            <th style="width: 180px;">参数Key</th>
            <th style="width: 180px;">参数值</th>
            <th style="">描述</th>
            <th style="width: 80px;">操作</th>
        </tr>
        <tr ng-repeat="c in vm.configList">
            <td style="width: 50px; text-align: center;">{{ $index + 1}}</td>
            <td>{{c.configName}}</td>
            <td>{{c.configKey}}</td>
            <td>{{c.configValue}}</td>
            <td>{{c.descInfo}}</td>
            <td>
                <button class="btn btn-xs btn-primary" ng-click="vm.editConfig(c.id)">
                    <span class="glyphicon glyphicon-pencil"></span>编辑
                </button>
            </td>
        </tr>
    </table>

</div>

<!--  S_DIV 系统参数修改框 -->
<div id="configdiv" class="well well-sm" style="background:white;display: none;">
    <div class="toolbar">
        <button class="btn btn-sm btn-success" ng-click="vm.doCommit()" ng-disabled="vm.iscommit"><span
                class="glyphicon glyphicon-ok"></span>保存
        </button>
        <button class="btn btn-sm btn-primary" ng-click="vm.closeWin()"><span
                class="glyphicon glyphicon-chevron-left"></span>关闭
        </button>
    </div>

    <form id="configForm">
        <table class="table table-bordered">
            <!-- 隐藏字段-->
            <input ng-show="vm.model.id" name="id" ng-hide="true" style="display: none;">
            <tr>
                <td class="text-right" width="20%">参数名称： <span class="required">*</span></td>
                <td>
                    <input type="text" class="form-control input-sm " style="width: 80%;" ng-model="vm.model.configName" id="configName"
                           maxlength="32"  name="configName" data-val="true" data-val-required="必填">
                    <span data-valmsg-for="configName" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-right">参数Key： <span class="required">*</span></td>
                <td>
                    <input maxlength="32" class="form-control input-sm " style="width: 80%;" ng-model="vm.model.configKey " id="configKey"
                           name="configKey" ng-disabled="vm.model.id !=null" data-val="true" data-val-required="必填">
                    <span data-valmsg-for="configKey" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-right">参数值： <span class="required">*</span></td>
                <td>
                    <input maxlength="32" class="form-control input-sm " style="width: 80%;" ng-model="vm.model.configValue "
                           id="configValue" name="configValue" data-val="true" data-val-required="必填">
                    <span data-valmsg-for="configValue" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-right">是否显示： </td>
                <td>
                    <input type="radio"  name="isShow" ng-model="vm.model.isShow "  ng-checked="vm.model.isShow == '9' || vm.model.isShow == 9" checked="checked"  ng-value="9">是
                    <input type="radio" name="isShow" ng-model="vm.model.isShow "  ng-checked="vm.model.isShow == '0' || vm.model.isShow == 0" ng-value="0">否
                </td>
            </tr>
            <tr>
                <td class="text-right">备注：</td>
                <td>
                    <textarea class="text-area" rows="3" style="width: 95%;" maxlength="200" name="descInfo" id="descInfo"
                              ng-model="vm.model.descInfo" ></textarea>
                </td>
            </tr>
        </table>
    </form>
</div>
<!--  E_DIV 系统参数修改框 -->
