<#assign path=request.contextPath />
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>

<!-- 附件 -->
<#include "/file/common.html"/>

<div  class="well well-sm conttent_list" style="background: white;min-height:960px;margin-bottom: 50px;" >
    <ol class="breadcrumb">
        <li><a href="#/expertList">博士后人员管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <div class="toolbar">
        <button class="btn btn-sm btn-primary" ng-click="back();">
            <span class="glyphicon glyphicon-chevron-left"></span>返回
        </button>
        <button class="btn btn-sm btn-success"  ng-click="vm.createPostdoctoralStaff()" ng-hide="vm.isShowUpdate" >
            <span class="glyphicon glyphicon-ok"></span>保存
        </button>
        <button class="btn btn-sm btn-success"  ng-click="vm.updatePostdoctoralStaff()" ng-show="vm.isShowUpdate" >
            <span class="glyphicon glyphicon-ok"></span>更新
        </button>
        <button class="btn btn-sm btn-success"  ng-click="vm.commitPostdoctoralStaff()">
            <span class="glyphicon glyphicon-ok"></span>提交
        </button>
        <flow-file-button></flow-file-button>   <!--附件上传按钮-->
    </div>
    <div class="tab-content" style="background:white;">
        <form id="form" name="form">
            <table class="" style="width: 70%;text-align: center;">
                <caption class="text-center"> <h3><strong>博士后在站人员信息表</strong></h3></caption>

                <tr>
                    <td class="text-center" width="10%">姓名<span class="required">*</span></td>
                    <td width="20%">
                        <input type="text"  maxlength="200" class="form-control input-xm"
                               name="name" id="name" ng-init="vm.postdoctoralStaff.name = '${CURRENT_USER.loginName}'" ng-model="vm.postdoctoralStaff.name" data-val-required="必填"
                               data-val="true"/>
                        <span data-valmsg-for="name" data-valmsg-replace="true" class="errors"></span>
                    </td>
                    <td class="text-center" width="10%">性别<span class="required">*</span></td>
                    <td width="10%">
                        <select ng-model="vm.postdoctoralStaff.sex" class="form-control select-sm"
                                name="sex" id="sex" data-val-required="必填"
                                data-val="true">
                            <option value="">请选择</option>
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                        <span data-valmsg-for="sex" data-valmsg-replace="true" class="errors"></span>
                    </td>
                    <td class="text-center"   width="10%">出生日期<span class="required">*</span></td>
                    <td width="20%"  class="text-left" >
                        <input type="text" name="birthdayDate" id="birthdayDate" style="width:  80%;"
                               style="width: 100%;" class="form-control input-xm " kendo-date-picker k-format="'yyyy-MM-dd'"
                               ng-model="vm.postdoctoralStaff.birthdayDate" data-val-date="必须为日期" data-val="true" data-val-required="必填">
                        <span data-valmsg-for="birthdayDate" data-valmsg-replace="true" class="errors"></span>
                    </td>
                </tr>


                <tr>
                    <td class="text-center" >学习经历</td>
                    <td colspan="5" class="text-left">
                        <textarea rows="3" ng-model="vm.postdoctoralStaff.learningExperience" name="learningExperience" id="learningExperience" style="width:90%"></textarea>
                    </td>
                </tr>

                <tr>
                    <td class="text-center" >工作履历</td>
                    <td colspan="5" class="text-left">
                        <textarea rows="3" ng-model="vm.postdoctoralStaff.workExperience" name="workExperience" id="workExperience" style="width:90%"></textarea>
                    </td>
                </tr>

                <tr>
                    <td  class="text-center"   width="10%">进入基地时间<span class="required">*</span></td>
                    <td colspan="2" class="text-left">
                        <input type="text" name="enterBaseDate" id="enterBaseDate"
                               style="width: 80%;" class="form-control input-xm "
                               kendo-date-picker k-format="'yyyy-MM-dd'"
                               ng-model="vm.postdoctoralStaff.enterBaseDate" data-val-date="必须为日期" data-val="true" data-val-required="必填">
                        <span data-valmsg-for="enterBaseDate" data-valmsg-replace="true" class="errors"></span>
                    </td>
                    <td  class="text-center"   width="10%">进站批准时间<span class="required">*</span></td>
                    <td colspan="2" class="text-left">
                        <input type="text" name="enterStackApproveDate" id="enterStackApproveDate" class="form-control input-xm "
                               kendo-date-picker k-format="'yyyy-MM-dd'" style="width:  80%;"
                               ng-model="vm.postdoctoralStaff.enterStackApproveDate" data-val-date="必须为日期" data-val="true" data-val-required="必填">
                        <span data-valmsg-for="enterStackApproveDate" data-valmsg-replace="true" class="errors"></span>
                    </td>
                </tr>


                <tr>
                    <td  class="text-center"   width="10%">联合培养单位</td>
                    <td colspan="2" class="text-left">
                        <input type="text"  maxlength="200" class="form-control input-xm"
                               name="trainUnit" id="trainUnit" ng-model="vm.postdoctoralStaff.trainUnit"/>
                    </td>
                    <td  class="text-center"   width="10%">合作导师</td>
                    <td colspan="2" class="text-left">
                        <input type="text"  maxlength="200" class="form-control input-xm"
                               name="cooperativeMentor" id="cooperativeMentor" ng-model="vm.postdoctoralStaff.cooperativeMentor"/>
                    </td>
                </tr>

                <tr>
                    <td class="text-center" >研究课题简介</td>
                    <td colspan="5" class="text-left">
                        <textarea rows="3" ng-model="vm.postdoctoralStaff.topicIntroduce" name="topicIntroduce" id="topicIntroduce" style="width:90%"></textarea>
                    </td>
                </tr>


            </table>
        </form>

    </div>
</div>