<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/quartz">博士后基地管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <div class="toolbar">
        <a  ng-if=" '${CURRENT_USER.loginName}'=='admin' || ${POSTDOCTORAL_ADMIN} "  class="btn btn-sm btn-success"  href="#/postdoctoralBaseAdd/">
            <span class="glyphicon glyphicon-plus"></span>新增</a>
    </div>
    <div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
</div>
<script type="text/template" id="columnBtns">
    <a class="btn btn-xs btn-primary" href="#/postdoctoralBaseDetail/{0}"  ><span class="glyphicon glyphicon-pencil"></span>查看</a>
    <a ng-if="( ('${CURRENT_USER.loginName}'=='admin')|| ${POSTDOCTORAL_ADMIN} )" class="btn btn-xs btn-primary" href="#/postdoctoralBaseAdd/{0}" ><span class="glyphicon glyphicon-pencil"></span>编辑</a>
   <button ng-if="( ('${CURRENT_USER.loginName}'=='admin')|| ${POSTDOCTORAL_ADMIN} )" class="btn btn-xs btn-warning" ng-click="{1}" ><span class="glyphicon glyphicon-warning-sign"></span>删除</button>
</script>