<#assign path=request.contextPath />
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>

<!-- 附件 -->
<#include "/file/common.html"/>

<div  class="well well-sm conttent_list" style="background: white;min-height:960px;margin-bottom: 50px;" >
    <ol class="breadcrumb">
        <li><a href="#/expertList">博士后基地管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <div class="toolbar">
        <button class="btn btn-sm btn-danger" ng-click="back();">
            <span class="glyphicon glyphicon-chevron-left"></span>返回
        </button>
        <button class="btn btn-sm btn-success"  ng-click="vm.createSubject()" ng-hide="vm.isShowUpdate" >
            <span class="glyphicon glyphicon-ok"></span>保存
        </button>
        <button class="btn btn-sm btn-success"  ng-click="vm.updateSubject()" ng-show="vm.isShowUpdate" >
            <span class="glyphicon glyphicon-ok"></span>更新
        </button>
    </div>
    <div class="tab-content" style="background:white;">
        <form id="form" name="form">
            <table class="table table-bordered">
                <tr>
                    <td class="text-right" width="15%">课题名称<span class="required">*</span></td>
                    <td colspan="3">
                        <input type="text" name="subjectName" id="subjectName" ng-model="vm.subject.subjectName" style="width: 60%"
                               data-val="true" data-val-required="必填"/>
                        <span data-valmsg-for="subjectName" data-valmsg-replace="true" class="errors"></span>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">课程负责人<span class="required">*</span></td>
                    <td>
                    <#-- <select name="pricipalId" id="pricipalId" ng-model="vm.subject.pricipalId" data-val="true" data-val-required="必填">
                         <option value="">请选择</option>
                         <option></option>
                     </select>-->
                        <input type="text" name="pricipalId" id="pricipalId" ng-model="vm.subject.pricipalId" style="width: 60%"
                               data-val="true" data-val-required="必填"/>
                        <span data-valmsg-for="pricipalId" data-valmsg-replace="true" class="errors"></span>
                    </td>
                    <td class="text-right">创建时间<span class="required">*</span></td>
                    <td>
                        <input type="text" name="subjectCreatedDate" id="subjectCreatedDate"
                               style="width:40%;" class="form-control input-xm "
                               kendo-date-picker k-format="'yyyy-MM-dd'"
                               ng-model="vm.subject.subjectCreatedDate" data-val-date="必须为日期"
                               data-val="true" data-val-required="必填">
                    </td>
                </tr>
                <tr>
                    <td class="text-right" width="15%">课题研究大纲</td>
                    <td colspan="3">
                        <button class="btn btn-sm btn-success" ng-click="vm.addKTYJDG()">上传文件</button>
                    </td>
                </tr>
                <tr>
                    <td class="text-right" width="15%">课题外委合同</td>
                    <td colspan="3">
                        <button class="btn btn-sm btn-success" ng-click="vm.addKTYWHT()">上传文件</button>
                    </td>
                </tr>
            </<table>
        </form>
    </div>

    <!--S 上传附件弹窗 -->
    <div id="commonUploadWindow" style="margin:0px 20px 0px 10px;background:white;display:none;">
        <input type="file" id="sysfileinput" name="file" multiple="multiple" class="file-loading"/>
        <div ng-show="vm.sysFile.showBusiType">
            <span >文件类型：</span>
            <span >
           <select id="sysBusiType" name="sysBusiType" ng-model="vm.sysFile.sysBusiType" style="min-width:200px;margin-top:10px;">
               <option value="">请选择</option>
               <option  ng-repeat="x in DICT.SYS_MIN_TYPE.dicts" value="{{x.dictName}}">{{x.dictName}}</option>
           </select>
       </span>
        </div>
    </div>