<div  class="well well-sm conttent_list" style="background: white;min-height:960px;margin-bottom: 50px;" >
    <div class="toolbar">
        <button class="btn btn-sm btn-danger" ng-click="back();">
            <span class="glyphicon glyphicon-chevron-left"></span>返回
        </button>
    </div>

    <table class="table table-bordered">
        <tr>
            <td class="text-right" width="15%">姓名：</td>
            <td>
                {{vm.postdoctoralStaff.name}}
            </td>
        </tr>
        <tr>
            <td class="text-right" width="15%">性别：</td>
            <td>
                {{vm.postdoctoralStaff.sex}}
            </td>
        </tr>
        <tr>
            <td class="text-right">出生日期：</td>
            <td>
                {{vm.postdoctoralStaff.birthdayDate}}
            </td>
        </tr>
        <tr>
            <td class="text-right">学习经历：</td>
            <td>
                {{vm.postdoctoralStaff.learningExperience}}
            </td>
        </tr>

        <tr>
            <td class="text-right">工作履历：</td>
            <td>
                {{vm.postdoctoralStaff.workExperience}}
            </td>
        </tr>
        <tr>
            <td class="text-right">进站时间：</td>
            <td>
                {{vm.postdoctoralStaff.enterStackApproveDate}}
            </td>
        </tr>
        <tr>
            <td class="text-right">出站时间：</td>
            <td>
                {{vm.postdoctoralStaff.pooStackDate}}
            </td>
        </tr>
        <tr>
            <td class="text-right">联合培养单位：</td>
            <td>
                {{vm.postdoctoralStaff.trainUnit}}
            </td>
        </tr>

        <tr>
            <td class="text-right">合作导师：</td>
            <td>
                {{vm.postdoctoralStaff.cooperativeMentor}}
            </td>
        </tr>

        <tr>
            <td class="text-right">研究课题简介：</td>
            <td>
                {{vm.postdoctoralStaff.topicIntroduce}}
            </td>
        </tr>
        <tr>
            <td class="text-right">附件：</td>
            <td>
                333
            </td>
        </tr>
    </table>
</div>