<meta charset="UTF-8">
<table class="table table-bordered">
    <caption class="text-center h3"><strong>专家评分</strong></caption><!--第一负责人才能评分-->
    <tr>
        <td style="width: 5%;max-width: 70px;">序号</td>
        <td width="8%">姓名</td>
        <td width="20%">工作单位</td>
        <td width="20%">职位/职称</td>
        <td width="15%">专业</td>
        <td width="10%">专家评分</td>
        <td width="15%">评分描述</td>
        <td width="15%" ng-if="vm.showFlag.isMainPrinUser">操作</td>
    </tr>
    <tr ng-repeat="x in vm.model.expertReviewDto.expertSelectedDtoList | filter:{isConfrim:'9',isJoin:'9'}">
        <td>{{$index+1}}</td>
        <td>{{x.expertDto.name}}</td>
        <td>{{x.expertDto.comPany}}</td>
        <td>{{x.expertDto.job}}/{{x.expertDto.post}}</td>
        <td>{{x.expertDto.majorStudy}}</td>
        <td>
            <span style='color:gold;font-size:20px;' ng-repeat="c in range(x.score) track by $index ">
                <i class='fa fa-star' aria-hidden='true'></i>
            </span>
        </td>
        <td>{{x.describes}}</td>
        <td ng-if="vm.showFlag.isMainPrinUser">
            <button class="btn btn-xs btn-primary" ng-click="vm.editSelectExpert(x.id)">
                <span class="glyphicon glyphicon-pencil"></span>评分
            </button>
        </td>
    </tr>
    </tbody>
</table>
<!-- end 专家评分 -->

<!-- start 专家评分弹窗-->
<div id="score_win" style="display: none;">
    <div class="toolbar">
        <button class="btn btn-sm btn-success" ng-click="vm.saveMark()" ng-disabled="vm.isCommit" >
            <span class="glyphicon glyphicon-ok"></span>保存
        </button>
        <button class="btn btn-sm btn-success" ng-click="vm.closeEditMark()" ng-disabled="vm.isCommit" >
            <span class="glyphicon glyphicon-ok"></span>返回
        </button>
    </div>
    <div>
        <form id="expert_score_form" name="expert_score_form">
            <table class="table table-bordered">
                <tr>
                    <td style="width:90px;">专家星级:</td>
                    <td>
                        <div id="star" data-num=""></div>
                    </td>
                </tr>
                <tr>
                    <td style="width:90px;">评级描述:</td>
                    <td><textarea rows="7" style="width: 96%;" ng-model="vm.scoreExpert.describes" ></textarea></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<!-- end 专家评分弹窗-->