<meta charset="UTF-8">
<form id="payform" name="payform">
    <span style="color: red">请在评审/函评日期前补齐专家身份证号、银行卡、评审费，并在评审/函评日期当天进行专家评审费计税发放。</span>
    <table class="table table-bordered">
        <tbody>
        <tr ng-if="vm.showFlag.isMainPrinUser && vm.showFlag.expertEdit && (!vm.model.expertReviewDto.state || vm.model.expertReviewDto.state==0)">
            <td colspan="4">
                <button class="btn btn-sm btn-success" ng-hide="vm.expertReviewDto.payDate"  ng-click="vm.countTaxes(vm.model.expertReviewDto)" ng-disabled="vm.isCommit">
                    <span class="glyphicon glyphicon-ok"></span>计算应纳税额
                </button>
                <button class="btn btn-sm btn-success" ng-disabled="vm.expertReviewDto.payDate && vm.model.expertReviewDto.state == 9" ng-click="vm.savePayment(vm.model.expertReviewDto)" ng-disabled="vm.isCommit" >
                  <span class="glyphicon glyphicon-ok"></span>保存
              </button>
            </td>
        </tr>
        <tr>
            <td class="text-right" width="15%">评审费发放日期</td>
            <td width="35%">
                <div ng-if="vm.showFlag.isMainPrinUser && vm.showFlag.expertEdit && (!vm.model.expertReviewDto.state || vm.model.expertReviewDto.state==0)">
                    <input type="text" style="width: 200px;"
                           class="form-control input-sm " kendo-date-picker k-format="'yyyy-MM-dd'"
                           ng-model="vm.model.expertReviewDto.payDate" data-val-date="必须为日期">
                </div>
                <div ng-if="vm.model.expertReviewDto.state == 9">
                    {{vm.model.expertReviewDto.payDate}}
                </div>
            </td>
            <td class="text-right" width="15%">评审/函评日期</td>
            <td width="35%">
                {{vm.model.expertReviewDto.reviewDate}}
            </td>
        </tr>
        <tr>
            <td class="text-right">评审费发放标题</td>
            <td colspan="3">
                <div ng-if = "vm.showFlag.isMainPrinUser && vm.showFlag.expertEdit && (!vm.model.expertReviewDto.state || vm.model.expertReviewDto.state==0)">
                    <input type="text" style="width: 600px;" class="form-control input-sm " ng-model="vm.model.expertReviewDto.reviewTitle">
                </div>
                <div ng-if = "vm.model.expertReviewDto.state == 9">
                    {{vm.model.expertReviewDto.reviewTitle}}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <table class="table table-bordered">
                    <caption class="text-center h3"><strong>{{vm.model.expertReviewDto.reviewTitle}}</strong></caption>
                    <tr class="active">
                        <td style="max-width: 60px;"><input type="checkbox" ng-model="epCondtion" ng-init="epCondtion = true"/></td>
                        <td style="max-width: 60px;">序号</td>
                        <td style="max-width: 180px;">姓名</td>
                        <td style="max-width: 360px;">身份证号码</td>
                        <td>银行账号/开户行</td>
                        <td style="max-width: 180px;">评审费</td>
                        <td style="max-width: 180px;">应纳税额</td>
                        <td style="max-width: 180px;">合计（元）</td>
                        <td style="max-width: 260px;">是否函评</td>
                    </tr>
                    <tr ng-repeat="x in vm.model.expertReviewDto.expertSelectedDtoList | filter:{isConfrim:'9',isJoin:'9'}">
                       <td><input type="checkbox" name="selectExpert" value="{{x}}" ng-checked="epCondtion"/></td>
                        <td>{{$index+1}}</td>
                        <td ng-if="x.reviewCost >1000" ng-dblclick="vm.splitPayment(x.id , x.expertDto , x.reviewCost)">{{x.expertDto.name}}</td>
                        <td ng-if="x.reviewCost <=1000">{{x.expertDto.name}}</td>
                        <td>{{x.expertDto.idCard}}</td>
                        <td>{{x.expertDto.bankAccount}}/{{x.expertDto.openingBank}}</td>
                        <td>
                            <div ng-show="vm.showFlag.isMainPrinUser && (!vm.model.expertReviewDto.state || vm.model.expertReviewDto.state==0)">
                                <input type="text" name="reviewCost_{{$index}}" id="reviewCost_{{$index}}"
                                       class="form-control input-sm " ng-model="x.reviewCost"
                                       data-val-regex="评审费用只能为正数" data-val="true" data-val-required="必填"
                                       data-val-regex-pattern="^(0|\d+(\.\d+)?)$" oninput = "value=value.replace(/[^\d.]/g,'')">
                                <span data-valmsg-for="reviewCost_{{$index}}" data-valmsg-replace="true"class="errors"></span>
                            </div>
                            <div ng-show="vm.model.expertReviewDto.state==9">
                                {{x.reviewCost}}
                            </div>
                        </td>
                        <td> {{x.reviewTaxes}}</td>
                        <td> {{x.totalCost}}</td>
                        <td><input type="checkbox" ng-disabled="vm.model.expertReviewDto.state==9" ng-model="x.isLetterRw"
                                   ng-true-value="9" ng-false-value="0" ng-checked="x.isLetterRw==9"></td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-right">总计：</td>
                        <td>{{vm.model.expertReviewDto.reviewCost}}</td>
                        <td>{{vm.model.expertReviewDto.reviewTaxes}}</td>
                        <td>{{vm.model.expertReviewDto.totalCost}}</td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</form>
<!--
<button class="form-control btn-sm btn-primary" style="width: 200px; margin: auto;" onclick="printpage(this)">打印</button>-->
<button class="form-control btn-sm btn-primary" style="width: 200px; margin: auto;"
        ng-click="isBankCard(vm.model.signid , vm.model.expertReviewDto.payDate)">下载</button>
<#--
<button class="form-control btn-sm btn-primary" style="width: 200px; margin: auto;"
        ng-click="vm.printPayment(vm.model.signid , vm.model.expertReviewDto.payDate)">打印预览</button>
-->



<div style="display: none;" id="splitPayment">
    <form id="form" name="form">
        <table class="table table-bordered">
            <tr>
                <td width="200px" class="text-right"><strong>专家姓名：</strong></td>
                <td width="200px"><strong>{{vm.expertName}}</strong></td>
                <td width="200px" class="text-right"><strong>评审费总额：</strong></td>
                <td width="200px"><strong>{{vm.reviewCost}}</strong></td>
            </tr>
            <tr>
                <td class="text-right">评审费发放表打印方案：</td>
                <td colspan="3">
                    <input type="checkbox" name="isSplit" ng-model="vm.expertSelect.isSplit"
                           ng-true-value="0" ng-false-value="9" ng-checked="vm.isSplit == 0" /> <span>不拆分 </span>
                    <input type="checkbox" name="isSplit" ng-model="vm.expertSelect.isSplit"
                           ng-true-value="9" ng-false-value="0" ng-checked="vm.isSplit == 9" /> <span>拆分为两张打印表</span>
                </td>
            </tr>
            <tr>
                <td class="text-right">第一张表的费用：<span class="required">*</span></td>
                <td colspan="3">
                    <input type="text" style="width: 200px;" class="form-control input-sm " id="oneCost" ng-model="vm.expertSelect.oneCost" data-val-digits="必须输入有效数字"
                           data-val-regex="评审费用只能为正数" data-val="true" data-val-required="必填"
                           data-val-regex-pattern="^(([0-9]+\\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\\.[0-9]+)|([0-9]*[1-9][0-9]*))$"/>
                    <span data-valmsg-for="oneCost" data-valmsg-replace="true"class="errors"></span>
                </td>
            </tr>
        </table>
        <p style="text-align: center;">
            <button class="btn btn-sm btn-success" ng-click="vm.saveSplit()" >保存</button>
        </p>
    </form>
</div>