<meta charset="UTF-8">
<!--  S 确认实际参加会议的专家 -->
<go-back ng-show="vm.showExpertConfirm"></go-back>
<div class="well well-sm" style="background:white;" id="confirmJoinExpert" >
    <div class="label-info" style="padding:5px;">
       是否参加评审将会直接影响评审费用的发放，请在确认之后再进行评审费用的发放和打印以及调整
    </div>
    <table class="table table-bordered" id="joinExpertTable">
        <caption><strong>实际参加评审会的专家情况</strong></caption>
        <tr class="active">
            <td width="5%" align="center"><input type='checkbox' ng-model="joinExpertList"/></td>
            <td width="10%" align="center">姓名</td>
            <td width="10%" align="center">工作单位</td>
            <td width="10%" align="center">职务/职称</td>
            <td width="20%" align="center">专业大类</td>
            <td width="20%" align="center">专业小类</td>
            <td width="15%" align="center">联系电话</td>
            <td width="10%" align="center">专家类别</td>
        </tr>

        <tr ng-repeat="x in vm.confirmEPList|filter:{isConfrim:'9',isJoin:'9'} track by $index">
            <td align="center">
                <input type="checkbox" name="joinExpert" ng-checked="joinExpertList" value="{{x.id}}"/>
            </td>
            <td align="center"><a ng-click="vm.findExportDetail(x.expertDto.expertID)">{{x.expertDto.name}}</a></td>
            <td align="center">{{x.expertDto.comPany}}</td>
            <td align="center">{{x.expertDto.job}}/{{x.expertDto.post}}</td>
            <td align="center">{{x.maJorBig}}</td>
            <td align="center">{{x.maJorSmall}}</td>
            <td align="center">{{x.expertDto.userPhone}}</td>
            <td align="center">{{x.expeRttype}}</td>
        </tr>
    </table>
    <p style="text-align:center;">
        <button class="btn btn-sm btn-default" ng-click="vm.updateToJoin()" ng-disabled="vm.isCommit"><span
                class="glyphicon glyphicon-arrow-up"></span>上移
        </button>
        <button class="btn btn-sm btn-default" ng-click="vm.updateToNotJoin()" ng-disabled="vm.isCommit"><span
                class="glyphicon glyphicon-arrow-down"></span>下移
        </button>
    </p>
    <table class="table table-bordered" id="notJoinExpertTable">
        <caption><strong>实际未参加评审会的专家情况</strong></caption>
        <tr class="active">
            <td width="5%" align="center"><input type='checkbox' ng-model="notjoinExpertList"/></td>
            <td width="10%" align="center">姓名</td>
            <td width="10%" align="center">工作单位</td>
            <td width="10%" align="center">职务/职称</td>
            <td width="20%" align="center">专业大类</td>
            <td width="20%" align="center">专业小类</td>
            <td width="15%" align="center">联系电话</td>
            <td width="10%" align="center">专家类别</td>
        </tr>

        <tr ng-repeat="x in vm.confirmEPList|filter:{isConfrim:'9',isJoin:'0',isJoin:'2'} track by $index">
            <td align="center"><input type="checkbox" name="notJoinExpert" ng-checked="notjoinExpertList"
                                      value="{{x.id}}"/></td>
            <td align="center"><a ng-click="vm.findExportDetail(x.expertDto.expertID)">{{x.expertDto.name}}</a></td>
            <td align="center">{{x.expertDto.comPany}}</td>
            <td align="center">{{x.expertDto.job}}/{{x.expertDto.post}}</td>
            <td align="center">{{x.maJorBig}}</td>
            <td align="center">{{x.maJorSmall}}</td>
            <td align="center">{{x.expertDto.userPhone}}</td>
            <td align="center">{{x.expeRttype}}</td>
        </tr>
    </table>
</div>
<!--  E 确认实际参加会议的专家 -->