<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>
<!--确认参加会议专家的弹窗公共页面-->
<#include "/expertReview/expert_confirm.html"/>
<!--专家详情信息-->
<div style="background:white;display: none;" id="selectExportDetail">
    <#include "/expertReview/expertDetail.html"/>
</div>
<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li class="active">专家抽取</li>
    </ol>
    <div class="toolbar">
        <button class="btn btn-sm btn-primary" ng-click="back();" ng-disabled="vm.isCommit"><span
                class="glyphicon glyphicon-chevron-left"></span>返回
        </button>
        <!--确认抽取的专家之后再显示-->
        <button ng-show="(vm.confirmEPList && vm.confirmEPList.length>=1)" class="btn btn-sm btn-success" ng-click="vm.affirmJoinExpert();" ng-disabled="vm.isCommit">
            确认实际参加评审的专家名称
        </button>
    </div>

    <!-- S 专家随机抽取 DIV -->
    <div class="toolbar" style="min-height: 200px;">
        <div>
            <span>1、OA系统随机抽取专家方案</span>
            <button class="btn btn-xs btn-success" ng-click="vm.addCondition()" ng-disabled="vm.isCommit || vm.expertReview.state == 9 || vm.expertReview.state == '9'">
                <span class="glyphicon glyphicon-ok"></span>添加条件
            </button>
            <button class="btn btn-xs btn-danger" ng-click="vm.removeCondition()" ng-disabled="vm.isCommit || vm.expertReview.state == 9 || vm.expertReview.state == '9'">
                <span class="glyphicon glyphicon-remove"></span>删除条件
            </button>
            <button class="btn btn-xs btn-success" ng-click="vm.saveCondition()" ng-disabled="vm.isCommit || vm.expertReview.state == 9 || vm.expertReview.state == '9'">
                <span class="glyphicon glyphicon-ok"></span>保存
            </button>
            |
            <!--整体抽取方案只能抽取一次-->
            <button class="btn btn-xs btn-primary" ng-disabled="vm.expertReview.state == 9 || vm.expertReview.state == '9'"
                    ng-click="vm.startAutoExpertWin()" ng-disabled="vm.isCommit || (vm.expertReview.selCount>=1) ">
                <span class="glyphicon glyphicon-asterisk"></span>开始随机抽取
            </button>
            <button class="btn btn-xs btn-primary" ng-click="vm.showAutoExpertWin()">
                <span class="glyphicon glyphicon-check"></span>查看随机抽取结果
            </button>
            <button ng-show="(vm.expertReview.selCount>=1)" class="btn btn-xs btn-primary" ng-click="vm.showAutoMatchResultWin()">
                <span class="glyphicon glyphicon-check"></span>查看所有抽取结果
            </button>
            <div class="label-default" style="font-size: 12px; padding: 5px 10px;margin: 3px 0px;">
               * 整体方案只能进行一次抽取！为了保证结果的正确性，请在每个条件抽取前，先保存已抽取的专家信息！ 已经抽取专家的抽取信息不可删除！
            </div>
        </div>
        <table class="table table-bordered" id="conditionTable" >
            <tr>
                <td style="width:30px;" align="center"><input type='checkbox' ng-model="epCondtion"/></td>
                <td style="width:40px;" align="center">序号</td>
                <td style="width:22%;" align="center">突出专业<br>（大类）</td>
                <td style="width:15%;" align="center">突出专业<br>（小类）</td>
                <td style="width:10%;" align="center">专家类别</td>
                <td style="width:12%;" align="center">综合评分</td>
                <td style="width:6%;" align="center">正选<br>人数</td>
                <td style="width:6%;" align="center">备选<br>人数</td>
                <td style="width:5%;" align="center">人数</td>
                <td style="width:12%;" align="center">操作</td>
            </tr>
            <tr ng-repeat="x in vm.expertReview.expertSelConditionDtoList">
                <td align="center">
                    <input ng-disabled="vm.expertReview.state == 9 || vm.expertReview.state == '9'"
                           type='checkbox' name="epConditionSort" ng-checked="epCondtion" value="{{x.id}}"/></td>
                <td align="center">{{$index+1}}</td>
                <td align="center">
                    <select ng-disabled="vm.expertReview.state == 9 || vm.expertReview.state == '9'" id="maJorBig{{x.id}}"
                            ng-change="vm.expertReview.expertSelConditionDtoList[$index].majobSmallDicts = topSelectChange(vm.expertReview.expertSelConditionDtoList[$index].maJorBig,DICT.MAJOR.dicts)"
                            ng-model="vm.expertReview.expertSelConditionDtoList[$index].maJorBig"  data-val-required="必填" data-val="true">
                        <option value="">请选择</option>
                        <option ng-repeat="d in DICT.MAJOR.dicts" value="{{d.dictName}}"
                                ng-selected="x.maJorBig == d.dictName">{{d.dictName}}
                        </option>
                    </select>
                </td>
                <td align="center">
                    <select ng-disabled="vm.expertReview.state == 9 || vm.expertReview.state == '9'" id="maJorSmall{{x.id}}"
                            ng-init="vm.expertReview.expertSelConditionDtoList[$index].majobSmallDicts = topSelectChange(vm.expertReview.expertSelConditionDtoList[$index].maJorBig,DICT.MAJOR.dicts)"
                            ng-model="vm.expertReview.expertSelConditionDtoList[$index].maJorSmall" data-val-required="必填" data-val="true">
                        <option value="">请选择</option>
                        <option ng-repeat="ds in vm.expertReview.expertSelConditionDtoList[$index].majobSmallDicts" value="{{ds.dictName}}"
                                ng-selected="x.maJorSmall == ds.dictName">{{ds.dictName}}
                        </option>
                    </select>
                </td>
                <td align="center">
                    <select ng-disabled="vm.expertReview.state == 9 || vm.expertReview.state == '9'" id="expeRttype{{x.id}}"
                            ng-model="vm.expertReview.expertSelConditionDtoList[$index].expeRttype">
                        <option value="">请选择</option>
                        <option ng-repeat="dt in DICT.EXPERT_TYPE.dicts" ng-selected="x.expeRttype == dt.dictName"
                                value="{{dt.dictName}}">{{dt.dictName}}
                        </option>
                    </select>
                </td>
                <td align="center">
                    <select ng-disabled="vm.expertReview.state == 9 || vm.expertReview.state == '9'" id="compositeScore{{x.id}}"
                            ng-model="vm.expertReview.expertSelConditionDtoList[$index].compositeScore">
                        <option value="" ></option>
                        <option value="1" ng-selected="vm.expertReview.expertSelConditionDtoList[$index].compositeScore == 1">1</option>
                        <option value="2" ng-selected="vm.expertReview.expertSelConditionDtoList[$index].compositeScore == 2">2</option>
                        <option value="3" ng-selected="vm.expertReview.expertSelConditionDtoList[$index].compositeScore == 3">3</option>
                        <option value="4" ng-selected="vm.expertReview.expertSelConditionDtoList[$index].compositeScore == 4">4</option>
                        <option value="5" ng-selected="vm.expertReview.expertSelConditionDtoList[$index].compositeScore == 5">5</option>
                    </select>分
                    -
                    <select ng-disabled="vm.expertReview.state == 9 || vm.expertReview.state == '9'" id="compositeScore_end_{{x.id}}"
                            ng-model="vm.expertReview.expertSelConditionDtoList[$index].compositeScoreEnd" ng-change="vm.checkScore(vm.expertReview.expertSelConditionDtoList[$index])">
                        <option value="" ></option>
                        <option value="1" ng-selected="vm.expertReview.expertSelConditionDtoList[$index].compositeScoreEnd == 1">1</option>
                        <option value="2" ng-selected="vm.expertReview.expertSelConditionDtoList[$index].compositeScoreEnd == 2">2</option>
                        <option value="3" ng-selected="vm.expertReview.expertSelConditionDtoList[$index].compositeScoreEnd == 3">3</option>
                        <option value="4" ng-selected="vm.expertReview.expertSelConditionDtoList[$index].compositeScoreEnd == 4">4</option>
                        <option value="5" ng-selected="vm.expertReview.expertSelConditionDtoList[$index].compositeScoreEnd == 5">5</option>
                    </select>分
                    <p id="compositeScoreEnd_{{x.id}}"class="errors"></p>
                </td>
                <td align="center">
                    <input ng-disabled="vm.expertReview.state == 9 || vm.expertReview.state == '9'" id="officialNum{{x.id}}"
                           ng-model="vm.expertReview.expertSelConditionDtoList[$index].officialNum" style="width: 50px;"
                           ng-keyup="vm.expertReview.expertSelConditionDtoList[$index].alternativeNum = vm.checkIntegerValue(vm.expertReview.expertSelConditionDtoList[$index].officialNum,'alternativeNum',x.id)">
                    <span id="errorsOfficialNum{{x.id}}" data-valmsg-for="procoSttype" data-valmsg-replace="true"
                          class="errors"></span>
                </td>
                <td align="center">
                    <input ng-disabled="vm.expertReview.state == 9 || vm.expertReview.state == '9'" id="alternativeNum{{x.id}}"
                           ng-model="vm.expertReview.expertSelConditionDtoList[$index].alternativeNum" style="width: 50px;"
                           ng-keyup="vm.expertReview.expertSelConditionDtoList[$index].officialNum = vm.checkIntegerValue(vm.expertReview.expertSelConditionDtoList[$index].alternativeNum,'officialNum',x.id)">
                    <span id="errorsAlternativeNum{{x.id}}" data-valmsg-for="procoSttype" data-valmsg-replace="true"
                          class="errors"></span>
                </td>
                <td align="center"><span id="expertCount{{x.id}}"></span></td>
                <td align="center">
                    <button class="btn btn-xs btn-primary" ng-click="vm.countMatchExperts(x.id)"
                            ng-disabled="vm.isCommit">统计
                    </button>
                    <button class="btn btn-xs btn-primary" ng-click="vm.showMatchExperts(x.id)"
                            ng-disabled="vm.isCommit">查看
                    </button>
                    <!--整体抽取过的条件,并且抽取次数未达到3次才能再次抽取-->
                    <button class="btn btn-xs btn-primary" ng-show="(x.selectIndex > 0 && x.selectIndex < 3)"  ng-click="vm.repeatAutoExpert(x.id)" ng-disabled="vm.isCommit">
                        再次抽取
                    </button>
                </td>
            </tr>
        </table>
        <!--专家抽取选择框-->
        <div id="aotuExpertDiv" class="well well-sm" style="display:none;">
            <p class="text-center" style="height: 80px;line-height: 80px;" ng-hide="vm.expertReview.isComfireResult == 9">
                {{vm.showAutoExpertName}}
            </p>
            <table class="table" id="allAutoEPTable" style="margin-bottom:0px;">
                <tr>
                    <td width="50%;">
                        <!-- S 正式专家列表 -->
                        <table class="table table-bordered">
                            <caption class="text-center">正式专家</caption>
                            <tr>
                                <td width="10%" align="center"><input type='checkbox' ng-model="vm.checkAutoOfficeExpert"/></td>
                                <td width="15%" align="center">姓名</td>
                                <td width="20%" align="center">突出专业<br>（大类）</td>
                                <td width="20%" align="center">突出专业<br>（小类）</td>
                                <td width="20%" align="center">专家类别</td>
                                <td width="15%" align="center">综合评分</td>
                            </tr>
                            <tr ng-repeat="x in vm.autoSelectedEPList|filter:{isConfrim:'0',show:true,official:true} track by $index ">
                                <td align="center">
                                    <input type="checkbox" name="autoEPCheck" ng-checked="vm.checkAutoOfficeExpert" value="{{x.id}}"/>
                                </td>
                                <td align="center"><a ng-click="vm.findExportDetail(x.expertDto.expertID)">{{x.expertDto.name}}</a></td>
                                <td align="center">{{x.maJorBig}}</td>
                                <td align="center">{{x.maJorSmall}}</td>
                                <td align="center">{{x.expeRttype}}</td>
                                <td align="center" >{{x.compositeScort}}</td>
                            </tr>
                        </table>
                        <!-- E 正式专家列表  -->
                    </td>
                    <td width="50%;">
                        <!-- S 备选专家列表 -->
                        <table class="table table-bordered">
                            <caption class="text-center">备选专家</caption>
                            <tr>
                                <td width="10%" align="center"><input type='checkbox' ng-model="vm.checkAutoAntiExpert"/></td>
                                <td width="15%" align="center">姓名</td>
                                <td width="20%" align="center">突出专业<br>（大类）</td>
                                <td width="20%" align="center">突出专业<br>（小类）</td>
                                <td width="20%" align="center">专家类别</td>
                                <td width="25%" align="center">综合评分</td>
                            </tr>
                            <tr ng-repeat="x in  vm.autoSelectedEPList|filter:{isConfrim:'0',show:true,official:false} track by $index">
                                <td align="center">
                                    <input type="checkbox" name="autoEPCheck" ng-checked="vm.checkAutoAntiExpert" value="{{x.id}}"/>
                                </td>
                                <td align="center"><a ng-click="vm.findExportDetail(x.expertDto.expertID)">{{x.expertDto.name}}</a></td>
                                <td align="center">{{x.maJorBig}}</td>
                                <td align="center">{{x.maJorSmall}}</td>
                                <td align="center">{{x.expeRttype}}</td>
                                <td align="center">{{x.compositeScort}}</td>
                            </tr>
                        </table>
                        <!-- E 备选专家列表  -->
                    </td>
                </tr>
            </table>
            <div class="toolbar text-right" style="margin:0px;padding:0px;">
                <button class="btn btn-sm btn-primary" ng-disabled="vm.isCommit" ng-click="vm.affirmAutoExpert()">
                    <span class="glyphicon glyphicon-ok"></span>确认抽取结果
                </button>
            </div>
            <table class="table table-bordered">
                <caption class="text-center h4"><strong>已确认的专家列表</strong></caption>
                <tr>
                    <td width="15%" align="center">姓名</td>
                    <td width="15%" align="center">工作单位</td>
                    <td width="10%" align="center">职务/职称</td>
                    <td width="10%" align="center">专业</td>
                    <td width="15%" align="center">联系电话</td>
                    <td width="10%" align="center">专家类别</td>
                    <td width="15%" align="center">备注</td>
                </tr>
                <tr ng-repeat="x in  vm.confirmEPList|filter:{selectType:'1',isConfrim:'9'} track by $index">
                    <td align="center"><a ng-click="vm.findExportDetail(x.expertDto.expertID)">{{x.expertDto.name}}</a></td>
                    <td align="center">{{x.expertDto.comPany}}</td>
                    <td align="center">{{x.expertDto.job}}/{{x.post}}</td>
                    <td align="center">{{x.expertDto.majorStudy}}、{{x.expertDto.majorWork}}</td>
                    <td align="center">{{x.expertDto.userPhone}}</td>
                    <td align="center">{{x.expertDto.expertSort}}</td>
                    <td align="center">{{x.expertDto.remark}}</td>
                </tr>
            </table>
        </div>
        <!-- E 专家随机抽取 DIV -->

        <!--专家抽取结果-->
        <div id="aotuMatchResultDiv" class="well well-sm" style="display:none;">
            <table class="table table-bordered">
                <caption class="text-center h4"><strong>专家抽取结果信息</strong></caption>
                <tr>
                    <td width="8%" align="center">姓名</td>
                    <td width="17%" align="center">工作单位</td>
                    <td width="15%" align="center">职务/职称</td>
                    <td width="16%" align="center">专业</td>
                    <td width="10%" align="center">联系电话</td>
                    <td width="10%" align="center">专家类别</td>
                    <td width="8%" align="center">是否确认</td>
                    <td width="8%" align="center">抽取批次</td>
                    <td width="8%" align="center">备注</td>
                </tr>
                <tr ng-repeat="x in  vm.confirmEPList|filter:{selectType:'1'} track by $index">
                    <td align="center">{{x.expertDto.name}}</td>
                    <td align="center">{{x.expertDto.comPany}}</td>
                    <td align="center">{{x.expertDto.job}}/{{x.post}}</td>
                    <td align="center">{{x.expertDto.majorStudy}}、{{x.expertDto.majorWork}}</td>
                    <td align="center">{{x.expertDto.userPhone}}</td>
                    <td align="center">{{x.expertDto.expertSort}}</td>
                    <td align="center">{{(x.isConfrim == '9')?'是':'否'}}</td>
                    <td align="center">{{(x.selectIndex)?x.selectIndex:1}}</td>
                    <td align="center">{{x.expertDto.remark}}</td>
                </tr>
            </table>
        </div>
        <!-- E 专家随机抽取 DIV -->

        <!--查看符合条件的专家信息-->
        <div id="matchExpertDiv" class="well well-sm" style="color:#0A0A0A;display:none;">
            <table class="table table-bordered">
                <caption class="text-center h4"><strong>符合条件专家列表</strong></caption>
                <tr class="active">
                    <td style="width:90px;" align="center">姓名</td>
                    <td align="center">工作单位</td>
                    <td width="15%" align="center">职务/职称</td>
                    <td width="12%" align="center">专业</td>
                    <td width="12%" align="center">联系电话</td>
                    <td width="12%" align="center">专家类别</td>
                    <td width="15%" align="center">备注</td>
                </tr>
                <tr ng-repeat="x in vm.matchExpertList track by $index">
                    <td align="center"><a ng-click="vm.findExportDetail(x.expertID)">{{x.name}}</a></td>
                    <td align="center">{{x.comPany}}</td>
                    <td align="center">{{x.job}}/{{x.post}}</td>
                    <td align="center">{{x.majorStudy}}、{{x.expertDto.majorWork}}</td>
                    <td align="center">{{x.userPhone}}</td>
                    <td align="center">{{x.expertSort}}</td>
                    <td align="center">{{x.remark}}</td>
                </tr>
            </table>
        </div>
        <!-- E 查看符合条件的专家信息 DIV -->
    </div>
    <!-- S 专家自选 DIV -->
    <div class="toolbar" style="min-height: 200px;">
        <p>
            <span>2、专家自选（自选专家，只能选择一名）</span>
            <button class="btn btn-xs btn-success" ng-click="vm.showSelfExpertGrid()" ng-disabled="vm.isCommit"><span
                    class="glyphicon glyphicon-ok"></span>添加
            </button>
            <button class="btn btn-xs btn-danger" ng-click="vm.delertSelfExpert()" ng-disabled="vm.isCommit"><span
                    class="glyphicon glyphicon-remove"></span>删除
            </button>
        </p>
        <!-- S 自选专家列表 -->
        <table class="table table-bordered">
            <tr>
                <td width="5%" align="center"><input type='checkbox' ng-model="selectExpertList"/></td>
                <td width="10%" align="center">姓名</td>
                <td width="15%" align="center">工作单位</td>
                <td width="10%" align="center">职务/职称</td>
                <td width="10%" align="center">专业</td>
                <td width="15%" align="center">联系电话</td>
                <td width="10%" align="center">专家类别</td>
                <td width="20%" align="center">备注</td>
            </tr>
            <tr ng-repeat="x in vm.confirmEPList|filter:{selectType:'2',isConfrim:'9'} track by $index">
                <td align="center">
                    <input type="checkbox" name="seletedEp" ng-checked="selectExpertList" value="{{x.id}}"/>
                </td>
                <td align="center"><a ng-click="vm.findExportDetail(x.expertDto.expertID)">{{x.expertDto.name}}</a></td>
                <td align="center">{{x.expertDto.comPany}}</td>
                <td align="center">{{x.expertDto.job}}/{{x.expertDto.post}}</td>
                <td align="center">{{x.expertDto.majorStudy}}、{{x.expertDto.majorWork}}</td>
                <td align="center">{{x.expertDto.userPhone}}</td>
                <td align="center">{{x.expertDto.expertSort}}</td>
                <td align="center">{{x.expertDto.remark}}</td>
            </tr>
        </table>
        <!-- E 自选专家列表  -->

        <div id="selfExpertDiv" class="well well-sm" style="display:none;">
            <div class="toolbar">
                <button class="btn btn-sm btn-success" ng-disabled="vm.isCommit"  ng-click="vm.saveSelfExpert()">
                    <span class="glyphicon glyphicon-ok">保存</span>
                </button>
                <button class="btn btn-sm btn-primary" ng-disabled="vm.isCommit"  ng-click="vm.querySelfExpert()">
                    <span  class="glyphicon glyphicon-search">查询</span>
                </button>
            </div>
            <!-- S 隐藏表单 设置排除已选择的ID -->
            <form id="selfSelExpertForm" class="breadcrumb">
                <input name="expertID" ng-model="vm.excludeIds" type="text" ng-hide="true" operator="ni" value="">
                <!--自选专家可以在正选和备选中选择-->
                <input name="state" type="text" ng-hide="true" operator="in" value="2,3">
                <!-- 专家规避-->
                <input name="comPany" ng-model="vm.bulidComPany" type="text" ng-hide="true" operator="ne" value="">
                <input name="comPany" ng-model="vm.designComPany" type="text" ng-hide="true" operator="ne" value="">
                <table>
                    <tr>
                        <td style="width: 80px;text-align: right;" >专家姓名:</td>
                        <td><input name="name" type="text"  operator="like" value=""></td>
                        <td style="width: 80px;text-align: right;">专家类别:</td>
                        <td>
                            <select name="expertTypeParam">
                                <option value="">请选择</option>
                                <option ng-repeat="dt in DICT.EXPERT_TYPE.dicts"
                                        value="{{dt.dictName}}">{{dt.dictName}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 180px;text-align: right;">突出专业（大类）:</td>
                        <td>
                            <select name="maJorBigParam" ng-model="vm.maJorBig" ng-change="vm.majobSmallDicts = topSelectChange(vm.maJorBig,DICT.MAJOR.dicts)">
                                <option value="">请选择</option>
                                <option ng-repeat="d in DICT.MAJOR.dicts" value="{{d.dictName}}"
                                        ng-selected="x.maJorBig == d.dictName">{{d.dictName}}
                                </option>
                            </select>
                        </td>
                        <td style="width: 180px;text-align: right;" >突出专业（小类）:</td>
                        <td>
                            <select name="maJorSamllParam" ng-model="vm.maJorSamll">
                                <option value="">请选择</option>
                                <option ng-repeat="ds in vm.majobSmallDicts" value="{{ds.dictName}}"
                                        ng-selected="x.maJorSmall == ds.dictName">{{ds.dictName}}
                                </option>
                            </select>
                        </td>
                    </tr>
                </table>
            </form>
            <!-- E 隐藏表单 设置排除已选择的ID -->

            <div id="selfExpertGrid" class="grid" kendo-grid="grid" k-options="vm.selfExpertOptions"></div>
        </div>
    </div>
    <!-- E 专家自选 DIV -->


    <!-- S 自选新专家、市外、境外专家 DIV -->
    <div class="toolbar" style="min-height: 200px;">
        <p>
            <span>3、自选新专家、市外、境外专家</span>
            <button class="btn btn-xs btn-success" ng-click="vm.showOutExpertGrid()"><span
                    class="glyphicon glyphicon-ok"></span>添加
            </button>
            <button class="btn btn-xs btn-danger" ng-click="vm.delertOutSelfExpert()"
                    ng-disabled="vm.isCommit"><span
                    class="glyphicon glyphicon-remove"></span>删除
            </button>
        </p>
        <!-- S 专家列表 -->
        <table class="table table-bordered">
            <tr>
                <td width="5%" align="center"><input type='checkbox' ng-model="selectOutExpertList"/>
                <td width="10%" align="center">姓名</td>
                <td width="15%" align="center">工作单位</td>
                <td width="10%" align="center">职务/职称</td>
                <td width="10%" align="center">专业</td>
                <td width="15%" align="center">联系电话</td>
                <td width="10%" align="center">专家类别</td>
                <td width="20%" align="center">备注</td>
            </tr>
            <tr ng-repeat="x in vm.confirmEPList|filter:{selectType:'3',isConfrim:'9'} track by $index ">
                <td align="center">
                    <input type="checkbox" name="seletedOutEp" ng-checked="selectOutExpertList" value="{{x.id}}"/>
                </td>
                <td align="center"><a ng-click="vm.findExportDetail(x.expertDto.expertID)">{{x.expertDto.name}}</a></td>
                <td align="center">{{x.expertDto.comPany}}</td>
                <td align="center">{{x.expertDto.job}} {{x.post}}</td>
                <td align="center">{{x.expertDto.majorStudy}} {{x.expertDto.majorWork}}</td>
                <td align="center">{{x.expertDto.userPhone}}</td>
                <td align="center">{{x.expertDto.expertSort}}</td>
                <td align="center">{{x.expertDto.remark}}</td>
            </tr>
        </table>
        <!-- E 专家列表  -->

        <div id="outExpertDiv" class="well well-sm" style="display:none;">
            <div class="toolbar">
                <button class="btn btn-sm btn-success" ng-disabled="vm.isCommit" ng-click="vm.saveOutExpert()">
                    <span class="glyphicon glyphicon-ok">保存</span>
                </button>
                <button class="btn btn-sm btn-primary" ng-disabled="vm.isCommit"  ng-click="vm.queryOutExpert()">
                    <span  class="glyphicon glyphicon-search">查询</span>
                </button>
            </div>

            <!-- S 隐藏表单 设置排除已选择的ID -->
            <form id="outSelExpertForm" class="breadcrumb">
                <input name="expertID" ng-model="vm.excludeIds" type="text" ng-hide="true" operator="ni" value="">
                <!--自选新专家只能在备选中选择-->
                <input name="state" type="text" ng-hide="true" operator="eq" value="3">
                <!-- 境外专家-->
                <input name="expertField" type="text" ng-hide="true" operator="in" value="1,2">
                <!-- 专家规避-->
                <input name="comPany" ng-model="vm.bulidComPany" type="text" ng-hide="true" operator="ne" value="">
                <input name="comPany" ng-model="vm.designComPany" type="text" ng-hide="true" operator="ne" value="">
                <!--以下是查询字段-->
                <table>
                    <tr>
                        <td style="width: 80px;text-align: right;" >专家姓名:</td>
                        <td><input name="name" type="text"  operator="like" value=""></td>
                        <td style="width: 80px;text-align: right;">专家类别:</td>
                        <td>
                            <select name="expertTypeParam">
                                <option value="">请选择</option>
                                <option ng-repeat="dt in DICT.EXPERT_TYPE.dicts"
                                        value="{{dt.dictName}}">{{dt.dictName}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 180px;text-align: right;">突出专业（大类）:</td>
                        <td>
                            <select name="maJorBigParam" ng-model="vm.maJorBig" ng-change="vm.majobSmallDicts = topSelectChange(vm.maJorBig,DICT.MAJOR.dicts)">
                                <option value="">请选择</option>
                                <option ng-repeat="d in DICT.MAJOR.dicts" value="{{d.dictName}}"
                                        ng-selected="x.maJorBig == d.dictName">{{d.dictName}}
                                </option>
                            </select>
                        </td>
                        <td style="width: 180px;text-align: right;" >突出专业（小类）:</td>
                        <td>
                            <select name="maJorSamllParam" ng-model="vm.maJorSamll">
                                <option value="">请选择</option>
                                <option ng-repeat="ds in vm.majobSmallDicts" value="{{ds.dictName}}"
                                        ng-selected="x.maJorSmall == ds.dictName">{{ds.dictName}}
                                </option>
                            </select>
                        </td>
                    </tr>
                </table>
            </form>
            <!-- E 隐藏表单 设置排除已选择的ID -->
            <div id="outExpertGrid" class="grid" kendo-grid="grid" k-options="vm.outExpertOptions"></div>
        </div>
    </div>
    <!-- E 自选新专家、市外、境外专家 DIV -->

    <!--评审方案拟聘请专家列表-->
    <div ng-show="(vm.confirmEPList && vm.confirmEPList.length > 0)" class="well well-sm" style="background:white;" >
        <table class="table table-bordered">
            <caption class="text-center h3"><strong>拟聘请专家名单</strong></caption>
            <tr>
                <td width="10%" align="center">姓名</td>
                <td width="15%" align="center">工作单位</td>
                <td width="15%" align="center">职务/职称</td>
                <td width="15%" align="center">专业</td>
                <td width="12%" align="center">联系电话</td>
                <td width="13%" align="center">专家类别</td>
                <td width="10%" align="center">备注</td>
            </tr>
            <tr ng-repeat="x in vm.confirmEPList|filter:{isConfrim:'9'} track by $index">
                <td align="center"><a ng-click="vm.findExportDetail(x.expertDto.expertID)">{{x.expertDto.name}}</a></td>
                <td align="center">{{x.expertDto.comPany}}</td>
                <td align="center">{{x.expertDto.job}}/{{x.expertDto.post}}</td>
                <td align="center">{{x.expertDto.majorStudy}}、{{x.expertDto.majorWork}}</td>
                <td align="center">{{x.expertDto.userPhone}}</td>
                <td align="center">{{x.expertDto.expertSort}}</td>
                <td align="center">{{x.expertDto.remark}}</td>
            </tr>
        </table>
    </div>
</div>