<#assign path=request.contextPath/>
<meta charset="UTF-8">

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li>我的工作台</li>
        <li class="active">{{vm.title}}</li>
    </ol>

    <form id="agendaTaskForm" name="agendaTaskForm">
        <span class="help-inline">流程类别：</span>
        <select name="processKey" operator="eq">
            <option value="">请选择</option>
            <option value="TOPIC_FLOW">课题研究流程</option>
            <option value="PROJECT_STOP_FLOW">项目暂停审批流程</option>
            <option value="FLOW_APPRAISE_REPORT">优秀评审报告申报</option>
            <option value="FLOW_ARCHIVES">项目档案查阅流程</option>
            <option value="FLOW_SUPP_LETTER">拟补充资料函流程</option>
            <option value="myProcess">月报简报流程</option>
        </select>
        <button class="btn btn-xs btn-primary" style="margin-left:10px;" ng-click="vm.query()">查询</button>
    </form>


    <div class="grid" kendo-grid="grid" k-options="vm.gridOptions" id="grid"></div>
</div>
<script type="text/template" id="columnBtns">
    <a class="btn btn-xs btn-primary" href="#/flowDeal/{0}/{1}/{2}/{3}" ><span class="glyphicon glyphicon-pencil"></span>处理</a>
</script>
