<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li>我的工作台</li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <div class="well well-sm">
        <!--<input type name="signState" operator="ne" value="7" hidden="hidden">-->
        <form id="searchform" name="searchform">
            <span class="help-inline">项目名称：</span>
            <input type="text" ng-model="vm.model.projectName" operator="like" name="projectName" id="projectName" placeholder="请输入">

            <span class="help-inline" style="margin-left:10px;">项目阶段：</span>
            <select ng-model="vm.model.reviewStage" name="reviewStage" operator="eq" >
                <option value="">请选择</option>
                <option ng-repeat="x in DICT.PRO_STAGE.dicts|orderBy:'dictSort'" value="{{x.dictName}}" ng-selected="vm.model.reviewStage==x.dictName">{{x.dictName}}</option>
            </select>

            <span class="help-inline" style="margin-left:10px;">环节名称：</span>
            <input ng-model="vm.model.nodeNameValue" type="text" operator="like" name="nodeNameValue" placeholder="请输入">

            <button class="btn btn-sm btn-primary" ng-click="vm.querySign()"><span class="glyphicon glyphicon-search"></span>查询</button>
            <button class="btn btn-sm btn-primary" ng-click="vm.resetForm()"><span class="glyphicon glyphicon-repeat"></span>重置</button>
        </form>
    </div>
    <!--操作说明提示框-->
    <div class="label-default" style="width: 100%;padding:5px 10px;">
        【
        <span id="span1"><img src="${path}/contents/images/purple.png" style="width: 16px; height: 16px;"></span>暂停
        <span id="span2"><img src="${path}/contents/images/yellow.png" style="width: 16px; height: 16px;"></span>少于3个工作日
        <span id="span3"><img src="${path}/contents/images/red.png" style="width: 16px; height: 16px;"></span>发文超期
        <span id="span4"><img src="${path}/contents/images/dark.png" style="width: 16px; height: 16px;"></span>超过25个工作日未存档
        <span id="span5"><img src="${path}/contents/images/black.png" style="width: 16px; height: 16px;"></span>存档超期
        】
    </div>

    <div class="grid" kendo-grid="grid" k-options="vm.gridOptions" id="grid" style="margin-top:0px;"></div>
</div>
<script type="text/template" id="columnBtns">
    <a ng-click="vm.saveView()" class="btn btn-xs btn-primary" href="#/{0}/{1}/{2}/{3}" ><span class="glyphicon glyphicon-edit"></span>处理</a>
</script>
<script type="text/template" id="detailBtns">
    <a class="btn btn-xs btn-info" href="#/{0}/{1}/{2}/{3}" ><span class="glyphicon glyphicon-search"></span>查看</a>
</script>