<meta charset="UTF-8">
<style>
	.content-wrapper{
		background: url(/contents/images/welcome.jpg);
	}
	.invoice{ background:none;}
</style>
<div class="pad margin no-print">
	<div class="callout callout-info" style="margin-bottom: 0!important;">
		<h4><i class="fa fa-info"></i>欢迎您：<b>${user}</b></h4>
		</span> <span>上次登录时间 ${lastLoginDate}</span>
	</div>
</div>


<section class="invoice">
<div class="row">
	<div class="col-xs-6">
		<div class="box box-solid">
			<div class="box-header with-border">
				<i class="fa fa-text-width"></i>

				<h3 class="box-title">待办事项</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<dl>
					<dt>南山区道路修整投资评估</dt>
					<dd>第二届大学生运动会深圳站基础设施评估</dd>
					<dt>引进德国工业技术学会DDE投资项目</dt>
					<dd>深圳新设地铁线路投资管理</dd>
					<dd>关于深圳国际贸易基础设施建设的评估办法</dd>
					<dt>关于补贴各深圳实业企业的名单</dt>
					<dd>我市残障儿童保障计划2017-2020年度计划会议</dd>
				</dl>
			</div>
			<!-- /.box-body -->
		</div>
	</div>

	<div class="col-xs-6">
		<div class="box box-solid">
			<div class="box-header with-border">
				<i class="fa fa-text-width"></i>

				<h3 class="box-title">已办事项</h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<dl>
					<dt>美国A州商业合作事务洽谈会议</dt>
					<dd>深圳高等学府建设资金项目计划</dd>
					<dt>港深合作会议，关于进一步加强我市对港各企业的合作，引进，投资</dt>
					<dd>评审中心人员调动表</dd>
					<dd>临时委派人员表</dd>
					<dt>关于我单位新近规划的职能明细工作</dt>
					<dd>通报2016年违规投资建设的企业</dd>
				</dl>
			</div>
			<!-- /.box-body -->
		</div>
	</div>

</div>

	<div class="row">
		<div class="col-xs-6">
			<div class="box box-solid">
				<div class="box-header with-border">
					<i class="fa fa-text-width"></i>

					<h3 class="box-title">项目列表</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<dl>
						<dt>南山区道路修整投资评估</dt>
						<dd>第二届大学生运动会深圳站基础设施评估</dd>
						<dt>引进德国工业技术学会DDE投资项目</dt>
						<dd>深圳新设地铁线路投资管理</dd>
						<dd>关于深圳国际贸易基础设施建设的评估办法</dd>
						<dt>关于补贴各深圳实业企业的名单</dt>
						<dd>我市残障儿童保障计划2017-2020年度计划会议</dd>
					</dl>
				</div>
				<!-- /.box-body -->
			</div>
		</div>

		<div class="col-xs-6">
			<div class="box box-solid">
				<div class="box-header with-border">
					<i class="fa fa-text-width"></i>

					<h3 class="box-title">办结事项</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<dl>
						<dt>美国A州商业合作事务洽谈会议</dt>
						<dd>深圳高等学府建设资金项目计划</dd>
						<dt>港深合作会议，关于进一步加强我市对港各企业的合作，引进，投资</dt>
						<dd>评审中心人员调动表</dd>
						<dd>临时委派人员表</dd>
						<dt>关于我单位新近规划的职能明细工作</dt>
						<dd>通报2016年违规投资建设的企业</dd>
					</dl>
				</div>
				<!-- /.box-body -->
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-xs-6">
			<div class="box box-solid">
				<div class="box-header with-border">
					<i class="fa fa-text-width"></i>

					<h3 class="box-title">临时事项</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<dl>
						<dt>南山区道路修整投资评估</dt>
						<dd>第二届大学生运动会深圳站基础设施评估</dd>
						<dt>引进德国工业技术学会DDE投资项目</dt>
						<dd>深圳新设地铁线路投资管理</dd>
						<dd>关于深圳国际贸易基础设施建设的评估办法</dd>
						<dt>关于补贴各深圳实业企业的名单</dt>
						<dd>我市残障儿童保障计划2017-2020年度计划会议</dd>
					</dl>
				</div>
				<!-- /.box-body -->
			</div>
		</div>

		<div class="col-xs-6">
			<div class="box box-solid">
				<div class="box-header with-border">
					<i class="fa fa-text-width"></i>

					<h3 class="box-title">其他事项</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<dl>
						<dt>美国A州商业合作事务洽谈会议</dt>
						<dd>深圳高等学府建设资金项目计划</dd>
						<dt>港深合作会议，关于进一步加强我市对港各企业的合作，引进，投资</dt>
						<dd>评审中心人员调动表</dd>
						<dd>临时委派人员表</dd>
						<dt>关于我单位新近规划的职能明细工作</dt>
						<dd>通报2016年违规投资建设的企业</dd>
					</dl>
				</div>
				<!-- /.box-body -->
			</div>
		</div>

	</div>
</section>
