<meta charset="UTF-8">
<#assign path=request.contextPath/>

<div class="" style="background:white; margin-bottom: 10px;">
    <span>
        欢迎您：<b style="color:#ffae00;">${user}</b>,</span> <span>上次登录时间 ${lastLoginDate}
    </span>
</div>

<div class="cared">
    <div class="row">
        <div class="col-xs-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><img src="${path}/contents/images/cardel.png"/> 待办项目</h3>
                    <a class="box-tools pull-right" href="#/gtasks">
                        <span class="glyphicon glyphicon-tags cs-icon-r"></span>查看更多
                        <span class="glyphicon glyphicon-play " style="color:#80c269"></span>
                    </a>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th style="width: 10px"><span class="fa fa-file-text-o"></span></th>
                            <th>最新待办<span ng-if="t.processState == '2'" style="color:red;">[已暂停]</span></th>
                            <th >环节名称</th>
                            <th style="width: 100px" align="center">接收日期</th>
                        </tr>
                        <tr ng-repeat="t in vm.tasksList|limitTo:5">
                            <td ng-bind="$index+1"></td>
                            <td>
                                <a ng-if="t.processState == '1'"
                                   href="#/signFlowDeal/{{t.businessKey}}/{{t.taskId}}/{{t.processInstanceId}}">{{t.projectName}}</a>
                                <a ng-if="t.processState == '2'"
                                   href="#/signFlowDetail/{{t.businessKey}}/{{t.taskId}}/{{t.processInstanceId}}">{{t.projectName}}</a>
                            </td>
                            <td>{{t.nodeNameValue}}</td>
                            <td><span class="badge bg-red">{{t.createTime}}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        <div class="col-xs-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><img src="${path}/contents/images/cardel.png"/> 待办任务</h3>
                    <a class="box-tools pull-right" href="#/agendaTasks">
                        <span class="glyphicon glyphicon-tags cs-icon-r"></span>查看更多
                        <span class="glyphicon glyphicon-play " style="color:#80c269"></span>
                    </a>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th style="width: 10px"><span class="fa fa-file-text-o"></span></th>
                            <th>最新待办</th>
                            <th >环节名称</th>
                            <th style="width: 100px" align="center">接收日期</th>
                        </tr>
                        <tr ng-repeat="t in vm.agendaTaskList|limitTo:5">
                            <td ng-bind="$index+1">1</td>
                            <td>
                                <a href="#/flowDeal/{{t.businessKey}}/{{t.processKey}}/{{t.taskId}}/{{t.instanceId}}">{{t.instanceName}}</a>
                            </td>
                            <td>{{t.nodeNameValue}}</td>
                            <td><span class="badge bg-yellow">{{t.createTime}}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

</div>

<div class="cared">
    <div class="row">
        <div class="col-xs-6 ">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><img src="${path}/contents/images/cardel.png"/> 项目办结</h3>
                    <a class="box-tools pull-right" href="#/etasks"><span
                            class="glyphicon glyphicon-tags cs-icon-r"></span>查看更多<span
                            class="glyphicon glyphicon-play " style="color:#80c269"></span></a>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th style="width: 10px"><span class="fa fa-file-text-o"></span></th>
                            <th>最新已办</th>
                            <th style="width: 100px" align="center">办结日期</th>
                        </tr>
                        <tr ng-repeat="e in vm.endTasksList|limitTo:5">
                            <td ng-bind="$index+1">1</td>
                            <td>
                                <a href="#/endSignDetail/{{e.businessKey}}/{{e.processInstanceId}}"
                                   ng-if="e.flowKey == 'FINAL_SIGN_FLOW'">{{e.businessName}}</a>
                                <a href="#/flowEnd/{{e.businessKey}}/{{e.flowKey}}/{{e.processInstanceId}}"
                                   ng-if="e.flowKey && e.flowKey != 'FINAL_SIGN_FLOW'">{{e.businessName}}</a>
                            </td>
                            <td><span class="badge bg-yellow">{{e.endDate}}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

        <div class="col-xs-6 ">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><img src="${path}/contents/images/cardel.png"/> 公告通知</h3>
                    <a class="box-tools pull-right" href="#/annountment" ui-sref="annountment"><span
                            class="glyphicon glyphicon-tags cs-icon-r"></span>查看更多<span
                            class="glyphicon glyphicon-play " style="color:#80c269"></span></a>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th style="width: 10px"><span class="fa fa-commenting"></span></th>
                            <th>最新通告</th>
                            <th>发布人</th>
                            <th style="width: 100px" align="center">发布日期</th>
                        </tr>
                        <tr ng-repeat="x in vm.annountmentList|limitTo:5">
                            <td>{{$index +1}}.</td>
                            <td><a href="#/annountmentDetail/{{x.anId}}">{{x.anTitle}}</a></td>
                            <td>{{x.issueUser}}</td>
                            <td><span class="badge bg-green">{{x.issueDate | date}}</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>

    </div>
</div>

<div class="cared">
    <div class="row">
        <!--部长以上才能看到-->
        <div class="col-xs-6 " ng-hide="vm.isdisplays">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><img src="${path}/contents/images/cardel.png"/> 在办项目统计</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div id="histogram" style=" height: 470px; ; margin: auto auto;"></div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!--部长以上-->
        <div class="col-xs-6 " ng-hide="vm.isdisplays">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><img src="${path}/contents/images/cardel.png"/> 项目办理情况</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <div id="lineChart"  style=" height: 470px ; margin: auto auto;"></div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</div>