<#assign path=request.contextPath/>
<meta charset="UTF-8">
<style>
    .k-animation-container ul {
        max-height: 200px;
    }
</style>
<div style="background:white; min-height: 700px;">
    <!--S 编辑页面 -->
    <div ng-repeat="wp in vm.workProgramDtoList" class="well well-sm " style="background:white;">
        <!-- S 项目建议书/可行性研究报告 -->
        <div ng-if="wp.workreviveStage=='项目建议书'|| wp.workreviveStage=='可行性研究报告' || wp.workreviveStage=='项目概算' || wp.workreviveStage=='其它' ||  wp.workreviveStage=='登记赋码'">
            <div ng-if="wp.branchId == '1'">
                <div id="mainEdit" ng-include
                     src="'${path}/contents/app/workprogram/workprogramEdit/MaintainProject/MaintainEdit.html'"></div>
            </div>
            <div ng-if="wp.branchId != '1'">
                <div id="assistEdit" ng-include
                     src="'${path}/contents/app/workprogram/workprogramEdit/MaintainProject/assistEdit.html'"></div>
            </div>
        </div>
        <!-- E 项目建议书/可行性研究报告 -->
        <!--S 资金申请报告 -->
        <div ng-if="wp.workreviveStage=='资金申请报告'">
            <div ng-if="wp.branchId == '1'">
                <div id="mainCapitalAppReportEdit" ng-include
                     src="'${path}/contents/app/workprogram/workprogramEdit/MaintainProject/MaintainCapitalAppReportEdit.html'"></div>
            </div>
            <div ng-if="wp.branchId != '1'">
                <div id="assistCapitalAppReportEdit" ng-include
                     src="'${path}/contents/app/workprogram/workprogramEdit/MaintainProject/assistCapitalAppReportEdit.html'"></div>
            </div>
        </div>
        <!--E 资金申请报告 -->

        <!-- S 进口设备 -->
        <div ng-if="wp.workreviveStage=='进口设备'">
            <div ng-if="wp.branchId == '1'">
                <div id="mainForeignEdit" ng-include
                     src="'${path}/contents/app/workprogram/workprogramEdit/MaintainProject/MaintainForeignEdit.html'"></div>
            </div>
            <div ng-if="wp.branchId != '1'">
                <div id="assistForeignEdit" ng-include
                     src="'${path}/contents/app/workprogram/workprogramEdit/MaintainProject/assistForeignEdit.html'"></div>
            </div>
        </div>
        <!-- E 进口设备 -->

        <!-- S 设备清单（国产）  /设备清单（进口）-->
        <div ng-if="wp.workreviveStage=='设备清单（国产）' ||wp.workreviveStage=='设备清单（进口）'">
            <div ng-if="wp.branchId == '1'">
                <div id="mainEquipmentImportEdit" ng-include
                     src="'${path}/contents/app/workprogram/workprogramEdit/MaintainProject/MaintainEquipmentImportEdit.html'"></div>
            </div>
            <div ng-if="wp.branchId != '1'">
                <div id="assistEquipmentImportEdit" ng-include
                     src="'${path}/contents/app/workprogram/workprogramEdit/MaintainProject/assistEquipmentImportEdit.html'"></div>
            </div>
        </div>
    </div>
    <!--E 维护项目时的工作方案编辑页面 -->
</div>


<div style="display: none;" id="queryExportDetailsMWP">

    <ul id="myTabExpertMWP" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" for-div="busi_baseinfoMWP">专家信息</a></li>
        <li><a id="show_workprogram_a" data-toggle="tab" for-div="busi_workplanMWP">评审过项目</a>
        </li>
    </ul>

    <div class="tab-content" style="background:white;">
        <div class="tab-pane fade in active" style="background:white;" id="busi_baseinfoMWP">
        <#include "/expertReview/expertDetail2.html"/>
        </div><!-- end tab -->

        <div class="tab-pane fade" style="background:white;" id="busi_workplanMWP">
        <#include "/expert/reviewProjectList2.html"/>
        </div><!-- end tab -->

    </div>