<meta charset="UTF-8">
<style>
    .custom-event {
        color: #000000;
        text-shadow: 0 1px 0 #000;
    }

    .custom-all-day-event {
        text-align: center;
        text-transform: uppercase
    }

    .k-event {
        cursor: default;
        min-height: 3em;
        min-width: 6em;
    }

    k-edit-form-container .k-edit-buttons {
        clear: both;
        text-align: right;
        border-width: 0px 0 0;
        position: relative;
        bottom: -1em;
        padding: .6em;
    }

    .k-animation-container ul {
        max-height: 200px;
    }
</style>
<!-- S 会议预定弹窗 -->
<div id="roomBookDetailWindow" style="background:white;display:none;">
    <form id="stageForm" name="stageForm">
        <div class="toolbar">
            <button class="btn btn-sm btn-success" ng-click="vm.saveRoom()"><span
                    class="glyphicon glyphicon-ok"></span>保存
            </button>
            <button class="btn btn-sm btn-primary" ng-click="vm.onRoomClose()"><span
                    class="glyphicon glyphicon-chevron-left"></span>关闭
            </button>
        </div>
        <table class="table table-bordered">
            <tr>
                <td class="text-right" width="20%">会议名称： <span class="required">*</span></td>
                <td>
                    <input maxlength="200" class="form-control input-sm" style="width: 80%" ng-model="vm.roombook.rbName " id="rbName"
                           name="rbName" data-val="true" data-val-required="必填">
                    <span data-valmsg-for="rbName" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-right">会议地点： <span class="required">*</span></td>
                <td>
                    <select ng-model="vm.roombook.mrID" name="mrID" id="mrID" data-val="true" data-val-required="必填">
                        <option ng-repeat="x in vm.meetingList" value="{{x.id}}"
                                ng-checked="vm.roombook.mrID == x.id">{{x.addr}}
                        </option>
                    </select>
                    <span data-valmsg-for="mrID" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-right">会议主持人： <span class="required">*</span></td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " style="width: 40%" ng-model="vm.roombook.host "
                           id="host" name="host" data-val="true" data-val-required="必填">
                    <span data-valmsg-for="host" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-right">会议预定人： <span class="required">*</span></td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm" style="width: 40%"
                           ng-model="vm.roombook.dueToPeople " id="dueToPeople" name="dueToPeople" data-val="true"
                           data-val-required="必填">
                    <span data-valmsg-for="dueToPeople" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>

            <tr>
                <td class="text-right">会议日期： <span class="required">*</span></td>
                <td>
                    <input type="text" kendo-date-picker k-format="'yyyy-MM-dd'" style="width:40%;"
                           ng-model="vm.roombook.rbDay" id="rbDay" name="rbDay" data-val="true"
                           data-val-required="必填">
                    <span data-valmsg-for="rbDay" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-right">开始时间： <span class="required">*</span></td>
                <td>
                    <input kendo-time-picker k-format="'HH:mm'" min="vm.startDateTime" max="vm.endDateTime"
                           style="width:40%;" ng-model="vm.roombook.beginTimeStr" id="beginTime" name="beginTime">
                    <span data-valmsg-for="beginTime" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-right">结束时间： <span class="required">*</span></td>
                <td>
                    <input kendo-time-picker k-format="'HH:mm'" min="vm.startDateTime" max="vm.endDateTime"
                           style="width:40%;" ng-model="vm.roombook.endTimeStr" id="endTime" name="endTime">
                    <span data-valmsg-for="endTime" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-right">主要内容： <span class="required">*</span></td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " style="width: 95%"
                           ng-model="vm.roombook.content " id="content" name="content" data-val="true"
                           data-val-required="必填">
                    <span data-valmsg-for="content" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-right">备注：</td>
                <td>
                        <textarea type="text" maxlength="200" class="form-control input-sm " style="width: 95%"
                                  ng-model="vm.roombook.remark " id="remark" name="remark"></textarea>
                </td>
            </tr>

        </table>
    </form>
</div>
<!--  E 会议预定弹窗 -->