<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/room">会议预定统计管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>

  <div class="well">
 <form id="roomCountform" name="roomCountform">
	    
	  <span class="help-inline">会议名称：</span>
	  <input type="text" ng-model="vm.model.rbName" operator="like" name="rbName" id="rbName" placeholder="请输入">
	 
	 <span class="help-inline" style="margin-left:10px;">会议日期：</span>
	 <input name="beginTime" kendo-date-picker k-format="'yyyy-MM-dd'"  ng-model="vm.model.beginTime" value="" type="text" operator="and"/>
	至
	<input name="endTime" kendo-date-picker k-format="'yyyy-MM-dd'"  ng-model="vm.model.endTime" value="" type="text" operator="and" />
	    <br>
	    <span class="help-inline" style="margin-left:10px;">会议地点：</span>
	    	 <select ng-model="vm.model.addressName" name="addressName" id="addressName" operator="eq">
	    	    <option value="">请选择</option>
				<option ng-repeat="x in vm.roomlists" value="{{x.addr}}">{{x.addr}}</option>
			</select>	
		
	  <#--  <span class="help-inline" style="margin-left:10px;">会议类型：</span>
	    	 <select ng-model="vm.model.rbType" name="rbType" id="rbType" operator="eq">
	    	    <option value="">请选择</option>
				<option ng-repeat="x in DICT.MEETING_ROOM.dicts" value="{{x.dictName}}">{{x.dictName}}</option>
			</select>-->
			
			
		 <span class="help-inline" style="margin-left:10px;">评审部门：</span>
	    	 <select ng-model="vm.model.stageOrgName" name="stageOrgName" id="stageOrgName" operator="eq">
	    	    <option value="">请选择</option>
				<option ng-repeat="o in vm.orglist" value="{{o.name}}" >{{o.name}}</option>
			</select>
			
		 <span class="help-inline" style="margin-left:10px;">预定人：</span>
	    	 <select ng-model="vm.model.dueToPeople" name="dueToPeople" id="dueToPeople" operator="eq">
	    	    <option value="">请选择</option>
				<option ng-repeat="r in vm.userlist" value="{{r.loginName}}">{{r.loginName}}</option>
		</select>
	
       <a class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="vm.queryRoomCount()">查询</a>
		<a class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="vm.ResetRoomCount()">重置</a>	
	 </div> 
	 </form>      
	 
     <div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
 </div>

 


