<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

 <div id="example">
	<div id="team-schedule">
	
	 <@shiro.hasPermission name="room##post"> 
            	<a class="btn btn-sm btn-primary" href="#/roomEdit/"><span class="glyphicon glyphicon-plus"></span>新增预定</a> 
     </@shiro.hasPermission>
	会议室名称：
	 <select  name="address" onchange="ShowRb(this)"style="width: 10%">
                	<option>无</option>
                         &lt;#&ndash;循环遍历所有单位 &ndash;&gt;
                    <#list meetimgFoomList as mfl>
                             <option   value="${mfl.mrID}" >${mfl.addr}</option>
                    </#list>
       </select>
  
	<center>
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	<@shiro.hasPermission name="room##post"> 
	<button type="button" class="k-button k-primary" onclick="ExcelRbook()" value="">导出本周评审会会议安排</button>
	 </@shiro.hasPermission>
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	<button type="button" class="k-button k-primary" onclick="ExcelRbook()" value="">导出本周全部会议安排</button>
	<br><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	<button type="button" class="k-button k-primary" onclick="exportnNextWeek()" value="">导出下周评审会议安排</button>
	&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	<button type="button" class="k-button k-primary" onclick="exportnNextWeek()" value="">导出下周全部会议安排</button>
	</center>	
		
	</div>
	
	<div id="scheduler"></div>
</div>
<script id="event-template" type="text/x-kendo-template">
	<div class="movie-template">
		
		<p>
			开始时间：#: kendo.toString(start, "HH:mm") #
		</p>
		<p>
			结束时间：#: kendo.toString(end, "HH:mm") #
		</p>
		<h3>会议地点：#: title #</h3>
	
	</div>
</script>

<script id="customEditorTemplate" type="text/x-kendo-template">
<div class="k-edit-label"><label for="title">会议名称</label></div>
	<div data-container-for="title" class="k-edit-field">
		<input type="text" class="k-input k-textbox" name="rbName"ng-model="rbName" required="required" >
	</div>

	<div class="k-edit-label"><label for="title">会议室地点</label></div>
	<div data-container-for="title" class="k-edit-field">
		 <select id="type" name="mrID"ng-model="mrID" required>
                 <option value="13栋15楼">13栋15楼</option>
				<option value="12栋14楼">12栋14楼</option>
				<option value="11栋13楼">11栋13楼</option>
			      
            </select>
	</div>
	<div class="k-edit-label"><label for="title">会议类型</label></div>
	<div data-container-for="title" class="k-edit-field">
		 <select id="type" name="type"ng-model="type" required>
                 <option value="">未选择</option>
                 <option value="1">其他会议</option>
				<option value="2">紧急会议</option>
				<option value="3">办公会议</option>
            </select>
	</div>
	<div class="k-edit-label"><label for="title">会议主持人</label></div>
	<div data-container-for="title" class="k-edit-field">
		<input type="text" class="k-input k-textbox"  name="host" gn-model="host" required="required" >
	</div>
	
	<div class="k-edit-label"><label for="title">会议预定人</label></div>
	<div data-container-for="title" class="k-edit-field">
		<input type="text" class="k-input k-textbox"  name="dueToPeople"value="${user.userName}" required="required" >
	</div>

	<div class="k-edit-label"><label for="title">会议日期</label></div>
	<div data-container-for="title" class="k-edit-field">
		
		<input id="day"type="text" data-type="date" data-format="yyyy-MM-dd"   data-bind="value:start,invisible:isAllDay"  data-role="datetimepicker"  name="day" ng-model="day"  />
	
	</div>
	<div class="k-edit-label">
		<label for="start">开始时间</label>
	</div>
	<div data-container-for="start" class="k-edit-field">
		<input id="beginTime"type="text" data-type="date" data-format="HH:mm"  data-bind="value:start,invisible:isAllDay"  data-role="timepicker"  name="beginTime" ng-model="beginTime"  />
		<span data-bind="text: endTimezone"></span>
		<span data-bind="text: startTimezone, invisible: endTimezone"></span>
		<span data-for="beginTime" class="k-invalid-msg" style="display: none;"></span>
	
	</div>

	<div class="k-edit-label"><label for="end">结束时间</label></div>
	<div data-container-for="end" class="k-edit-field">
		<input type="text" id="endTime" data-type="date" data-format="HH:mm" onchange="startEnd()" data-bind="value:end,invisible:isAllDay" data-role="timepicker"  name="endTime" ng-model="endTime"data-datecompare-msg="End date should be greater than or equal to the start date" />
		<span data-bind="text: endTimezone"></span>
		<span data-bind="text: startTimezone, invisible: endTimezone"></span>
		<span data-for="end" class="k-invalid-msg" style="display: none;"></span>
	</div>
	<div class="k-edit-label"><label for="description">主要内容</label></div>
	<div data-container-for="description" class="k-edit-field">
		<textarea name="content"ng-model="content" class="k-textbox" data-bind="value:content"></textarea>
	</div>
	<div class="k-edit-label"><label for="description">备注</label></div>
	<div data-container-for="description" class="k-edit-field">
		<textarea name="remark"ng-model="remark" class="k-textbox" data-bind="value:remark"></textarea>
	</div>



	
</script>
  <script>



   $(function() {
  	 
      	
      //start
  	  var dataSource = new kendo.data.SchedulerDataSource({
            	 batch: true,
  			sync: function() {
  				  this.read();
  				}, 
             transport: {
            	 
            	 read: {
                     url: "${request.contextPath}/room/get",
                     dataType: "json"
                 },
  			  /* read:function(options){
  				console.log(options);
  				//alert("4343");
  				  var mrID=options.data.mrID;
  				  url = "${request.contextPath}/room/get";
  				 // alert(url);
  					if(mrID){
  						url+= mrID;
  					}
  				$.ajax({
  					url:url,
  					type:"GET",
  					dataType: "json",
  					success:function(data){
  						//alert(data);
  						console.log(data);
  						options.success(data);
  					}
  				});
  				
  				
  			  },
  			
  			  create:function(options){
  				 
  					saveRb(options);
  					
  			  },
  			  update:function(options){
  				  //saveRb(options);
  				  Update(options);
  			  }, 
  			  destroy:function(options){
  					//console.log(options);
  					var model = options.data.models[0];
  					var rbID = model.rbID;
  					$.ajax({
  						//type:"POST",
  						url: "${request.contextPath}/RoomBooking/Cancel",
  						dataType: "json", 
  						data: {rbID:rbID},
  						success: function(result) {
  							//console.log(result);
  						  layer.alert("删除成功");
  						  options.success(result);
  						},
  						error: function(result) {
  						  options.error(result);
  						}
  					});
  			  },
  			*/
  			  parameterMap: function(options, operation) {
  				  console.log(options);
                  if (operation !== "read" && options.models) {
                    return {models: kendo.stringify(options.models)};
                  } 
                }
             },
              schema: {
              	//refresh:true, 
                model: {

                	id: "taskId", 
                  fields: {
                      taskId: {
                          from: "id", 
                          type: "number"
                      },
                      title: { from: "addressName", defaultValue: "addressName" },
                      start: { type: "date", from: "beginTime" },
                      end: { type: "date", from: "endTime" },
  					
  					}
  			  }
              },

            });
  		  

          $("#scheduler").kendoScheduler({
          	
            date: new Date(),
            startTime: new Date(),
        
            height: 600,
             views: [
          	 
              "day",
              "workWeek",
              { type: "week", selected: true },
            
              "month",
              "agenda",
              
            ], 
          
            editable: {
              template: $("#customEditorTemplate").html(),

            },
            eventTemplate: $("#event-template").html(),
            edit: function(e) {

            },
           
            timezone: "Etc/UTC",

          dataSource:dataSource 
  		 
          });

           $("#people :checkbox").change(function(e) {
            var checked = $.map($("#people :checked"), function(checkbox) {
              return parseInt($(checkbox).val());
            });

            var scheduler = $("#scheduler").data("kendoScheduler");

            scheduler.dataSource.filter({
              operator: function(task) {
                return $.inArray(task.ownerId, checked) >= 0;
              }
            });
          });
  });
        

  //保存
  function saveRb(options){
  	
  		  //console.log(options.data.models);
  			var model = options.data.models[0];
  			var rb = {};
  			rb.rbID=model.rbID;
  			
  			rb.mrID=model.mrID;
  			rb.rbName = model.rbName;
  			rb.day=$("#day").val();
  			
  			//rb.day = kendo.toString(model.day, "yyyy-MM-dd HH:mm");
  			rb.beginTime = kendo.toString(model.beginTime, "yyyy-MM-dd HH:mm");
  			rb.endTime = kendo.toString(model.endTime, "yyyy-MM-dd HH:mm");
  			
  			rb.stage = model.stage;
  			rb.host = model.host;
  			rb.address = model.address;
  			rb.type=model.type;
  			rb.dueToPeople=model.dueToPeople;
  			
  			rb.content=model.content;
  			rb.remark=model.remark;
  			//var isexists = true;
  			//console.log(rb.beginTime);
  		   $.ajax({
  				url: "${request.contextPath}/room/post",
  				type:"POST",
  				dataType: "json", 
  				data: rb,
  				success: function(response) {
  					//console.log(response);
  					
  					if(response.StatusCode == 0){
  						 layer.alert("保存成功");
  						
    					}else if(response.StatusCode == 1) {
  						 layer.alert("会议时间冲突了 ");
  					} 
    					else if(response.StatusCode == 2){
    						layer.alert("结束时间不能小于开始时间");
    					}
  					else if(response.StatusCode == 3){
  						layer.alert("保存失败");
  					}
  				 // options.success(response);
  				},
  				error: function(response) {
  				  options.error(response);
  				}
  		  });
  		
  		  
   }
   //编辑 
   function Update(options){
  	 
      var model =options.data.models[0];
      
      var rb = {};
      rb.rbID=model.rbID;
      rb.mrID=model.mrID;
      rb.rbName = model.rbName;
      rb.day=$("#day").val();
  	//rb.day = kendo.toString(model.day, "yyyy-MM-dd HH:mm");
  	rb.beginTime = kendo.toString(model.beginTime, "yyyy-MM-dd HH:mm");
  	rb.endTime = kendo.toString(model.endTime, "yyyy-MM-dd HH:mm");
  	
  	rb.stage = model.stage;
  	rb.host = model.host;
  	rb.address = model.address;
  	rb.type=model.type;
  	rb.dueToPeople=model.dueToPeople;
  	rb.content=model.content;
  	rb.remark=model.remark;
  	$.ajax({
  		url:"${request.contextPath}/RoomBooking/Eidt",
  		type:"POST",
  		dataType:"json",
  		data:rb,
  		success: function(response){
  			
  			if(response.StatusCode == 0){
  				layer.alert("编辑成功");
  			}else if(response.StatusCode == 1){
  				layer.alert("会议时间冲突了");
  			}else if(response.StatusCode == 3){
  				layer.alert("编辑失败");
  			}
  			
  		},
  		error: function(response) {
  		  options.error(response);
  		}
  	}) 
   }
  //查询 	  
   function ShowRb(data){
  	
  	var selectedOption=data.options[data.selectedIndex];  
  	var mrID=selectedOption.value;
  	$('#scheduler').data('kendoScheduler').dataSource.read({"mrID":mrID});

  }
  //校验结束时间不能小于开始时间
  function startEnd(){
  	
  	var start = $("#beginTime").val();
  	var end = $("#endTime").val();
  	if(end<start){
  		alert("结束时间不能小于开始时间");
  	}
  }

</script>  
<style scoped>

      .k-nav-current > .k-link span + span {
        max-width: 200px;
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: top;

      }

      #team-schedule {
        height: 115px;
        position: relative;
      }

      #people {
        width: 345px;
        height: 115px;
        position: absolute;
        right: 0;
      }
      #alex {
        position: absolute;
        left: 4px;
        top: 81px;
      }
      #bob {
        position: absolute;
        left: 119px;
        top: 81px;
      }
      #charlie {
        position: absolute;
        left: 234px;
        top: 81px;
      }
 </style>

