<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>
 <ol class="breadcrumb">
        <li><a href="#/room">会议室预定管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
 <div id="example" ng-app="KendoDemos">
 
    <div ng-controller="roomCtrl">
        <div kendo-scheduler k-options="schedulerOptions">
        
        <div style="height: 80px;">
        <br>
       	 会议室查询:<input type="text" name="addr">
        </div>
        
            <span k-event-template class='custom-event'>{{dataItem.title}}</span>
            
            <div k-all-day-event-template class='custom-all-day-event'>{{dataItem.title}}</div>
      
        </div>
 </div>

<style>
    .custom-event {
        color: #fff;
        text-shadow: 0 1px 0 #000;
    }
    .custom-all-day-event {
        text-align: center;
        text-transform: uppercase
    }
</style>

</div>
<script id="event-template" type="text/x-kendo-template">
	<div class="movie-template">
		
		<p>
			开始时间：#: kendo.toString(start, "HH:mm") #
		</p>
		<p>
			结束时间：#: kendo.toString(end, "HH:mm") #
		</p>
		<h3>会议地点：#: title #</h3>
	
	</div>
</script>