<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/pako_deflate.min.js"></script>
<style>
    .custom-event {
        color: #000000;
        text-shadow: 0 1px 0 #000;
    }

    .custom-all-day-event {
        text-align: center;
        text-transform: uppercase
    }

    .k-event {
        cursor: default;
        min-height: 3em;
        min-width: 6em;
    }

    k-edit-form-container .k-edit-buttons {
        clear: both;
        text-align: right;
        border-width: 0px 0 0;
        position: relative;
        bottom: -1em;
        padding: .6em;
    }

    .k-animation-container ul {
        max-height: 200px;
    }

    .formInput {
        padding: 5px;
        width: 90%;
    }
</style>
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/room">会议室预定管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <div class="toolbar">
        <a class="btn btn-sm btn-primary" ng-click="back();" ng-disabled="vm.iscommit">
            <span class="glyphicon glyphicon-chevron-left"></span>返回</a>
        <button type="button" class="k-button k-primary" ng-click="vm.exportThisWeekStage()" value="">导出本周评审会会议安排
        </button>

        <button type="button" class="k-button k-primary" ng-click="vm.exportThisWeek()" value="">导出本周全部会议安排</button>

        <button type="button" class="k-button k-primary" ng-click="vm.exportNextWeekStage()" value="">导出下周评审会议安排
        </button>

        <button type="button" class="k-button k-primary" ng-click="vm.exportNextWeek()" value="">导出下周全部会议安排</button>
    </div>
    <div class="well well-sm" style="margin-bottom: 5px;">
        会议室查询：
        <select ng-model="vm.mrID" name="mrID" ng-change="vm.findMeeting()">
            <option ng-repeat="x in vm.meetings" value="{{x.id}}" ng-selected="vm.mrID == x.id">{{x.addr}}</option>
        </select>
    </div>
    <!--操作说明提示框-->
    <ol class="breadcrumb" style="font-size: 12px;">
        <li class="active">温馨提示：双击时间段进行会议室预定或者修改！</li>
    </ol>
    <!--  <button type="button"  class="k-button" ng-click="vm.getPDF('#scheduler')" >导出PDF</button> -->
    <div kendo-scheduler k-options="vm.schedulerOptions" id="scheduler"></div>

</div>

<script id="event-template" type="text/x-kendo-template">
<#--    <p style="padding:0;margin: 0;padding-left: 5px;">会议室名称：#: title #</p>-->
    <p style="padding:0;margin: 0;padding-left: 5px;">会议名称：#: rbName #</p>
    <p style="padding:0;margin: 0;padding-left: 5px;">会议预定人：#: dueToPeople #</p>
   <!-- <p style="padding:0;margin: 0;padding-left: 5px;">会议内容：#: content #</p>-->

</script>

<script id="customEditorTemplate" type="text/x-kendo-template">
    <form id="formRoom" name="formRoom" style="margin:0px 10px;">
        <!-- 评审部门 -->
        <input type="hidden" class="form-control input-sm"  name="id" id="bookId" data-bind="value:bookId">
        <input type="hidden" class="form-control input-sm"  name="stageOrgName" id="stageOrgName" data-bind="value:stageOrgName">

        <table class="table table-bordered">
            <tr>
                <td class="text-center" width="20%">会议名称 <span class="required">*</span></td>
                <td width="75%">
                    <input class="formInput" data-val="true" data-val-required="必填"
                           data-bind="value:rbName" name="rbName" id="rbName" >
                    <span data-valmsg-for="rbName" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-center">会议地点<span class="required">*</span></td>
                <td>
                    <select class="formInput" id="mrID" name="mrID" ng-model="vm.model.mrID" data-val="true"
                            data-bind="value:mrID" data-val-required="必填">
                        <option ng-repeat="x in vm.meetings" value="{{x.id}}" ng-selected="vm.model.mrID == x.id">
                            {{x.addr}}
                        </option>
                    </select>
                    <span data-valmsg-for="mrID" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-center">会议主持人<span class="required">*</span></td>
                <td>
                    <input type="text" class="formInput"  name="host" id="host"
                           data-bind="value:host" data-val="true" data-val-required="必填" >
                    <span data-valmsg-for="host" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-center">会议预定人<span class="required">*</span></td>
                <td>
                    <input type="text" class="formInput"  name="dueToPeople" id="dueToPeople"
                           data-bind="value:dueToPeople" data-val="true" data-val-required="必填">
                    <span data-valmsg-for="dueToPeople" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-center">会议日期<span class="required">*</span></td>
                <td>
                    <input kendo-date-picker k-format="'yyyy-MM-dd'" data-bind="value:start,invisible:isAllDay"
                           id="rbDay" name="rbDay"  data-val="true"
                           data-val-required="时间段不能为空"/>
                    <span data-valmsg-for="rbDay" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-center">开始时间<span class="required">*</span></td>
                <td>
                    <input kendo-time-picker k-formatt="'HH:mm'" min="vm.startDateTime" max="vm.endDateTime"
                           data-bind="value:start,invisible:isAllDay" name="beginTime" id="beginTime"/>
                    <span data-valmsg-for="beginTime" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-center">结束时间<span class="required">*</span></td>
                <td>
                    <input kendo-time-picker k-formatt="'HH:mm'" min="vm.startDateTime" max="vm.endDateTime"
                           data-bind="value:end,invisible:isAllDay" name="endTime" id="endTime" data-datecompare-msg="结束时间必须大于开始时间！"/>
                    <span data-valmsg-for="endTime" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-center">主要内容<span class="required">*</span></td>
                <td>
                    <textarea class="formInput" rows="3"  id="content"  name="content" data-val="true" data-bind="value:content" data-val-required="必填"></textarea>
                    <span data-valmsg-for="content" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-center">备注</td>
                <td>
                    <textarea class="formInput" rows="3"  id="remark" name="remark" data-bind="value:remark" ></textarea>
                    <span data-valmsg-for="remark" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
        </table>
    </form>
</script>