<#assign path=request.contextPath/>
<meta charset="UTF-8">
<style>
    .custom-event {
        color: #000000;
        text-shadow: 0 1px 0 #000;
    }
    .custom-all-day-event {
        text-align: center;
        text-transform: uppercase
    }
    .k-event {
        cursor: default;
        min-height: 3em;
        min-width: 6em;
    }

    k-edit-form-container .k-edit-buttons {
        clear: both;
        text-align: right;
        border-width: 0px 0 0;
        position: relative;
        bottom: -1em;
        padding: .6em;
    }
</style>
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>
 <ol class="breadcrumb">
    <li><a href="#/room">会议室预定管理</a></li>
    <li class="active">{{vm.title}}</li>
</ol>
<div class="well">
    会议室查询：
    <select ng-model="vm.mrID"  ng-change="vm.findMeeting()" style="width: 10%">
        <option ng-repeat="x in vm.meetings" value="{{x.id}}">{{x.addr}}</option>
    </select>
    <@shiro.hasPermission name="room#exports#get">
        <button type="button" class="k-button k-primary" ng-click="vm.exportWeek()" value="">导出本周评审会会议安排</button>
    </@shiro.hasPermission>

    <@shiro.hasPermission name="room#exportWeek#get">
    <button type="button" class="k-button k-primary" ng-click="vm.exportThisWeek()" value="">导出本周全部会议安排</button>
    </@shiro.hasPermission>

    <@shiro.hasPermission name="room#stageNextWeek#get">
    <button type="button" class="k-button k-primary" ng-click="vm.stageNextWeek()" value="">导出下周评审会议安排</button>
    </@shiro.hasPermission>

    <@shiro.hasPermission name="room#exportNextWeek#get">
    <button type="button" class="k-button k-primary" ng-click="vm.exportNextWeek()" value="">导出下周全部会议安排</button>
    </@shiro.hasPermission>
</div>



<div kendo-scheduler k-options="vm.schedulerOptions">

</div>

<script id="event-template" type="text/x-kendo-template">
    <p style="padding:0;margin: 0;">时间：#: kendo.toString(start, "HH:mm") # - #: kendo.toString(end, "HH:mm") #</p>
    <p style="padding:0;margin: 0;padding-left: 5px;">地点：#: title #</p>
</script>

<script id="customEditorTemplate" type="text/x-kendo-template">
<div id="roomWindow" class="well well-sm" style="background:white;margin:10px;">
    <form id="formRoom" name="formRoom">
        <input type="hidden" maxlength="200" class="form-control input-sm " ng-model="vm.model.id " id="id" name="id" data-val="true" data-val-required="必填">

        <table style="width:100%">
            <tr>
                <td class="formAlignRight" width="20%">会议名称 <span class="required">*</span></td>
                <td width="50%">
					<input class="form-control input-sm " ng-model="vm.model.rbName " id="rbName" name="rbName" data-val="true" data-val-required="必填">
				</td>
                <td width="10%"><span data-valmsg-for="rbName" data-valmsg-replace="true" class="errors" ></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">会议地点<span class="required">*</span></td>
                <td>
                    <select ng-model="vm.model.mrID" name="mrID" id="mrID" class="form-control input-sm " data-val="true" data-val-required="必填">
                        <option value="">请选择</option>
                        <option ng-repeat="x in vm.meetings" value="{{x.id}}">{{x.addr}}</option>
					</select>
                </td>
                <td><span data-valmsg-for="mrID" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">会议类型<span class="required">*</span></td>
                <td>
                      <select ng-model="vm.model.rbType" name="rbType" id="rbType" class="form-control input-sm " data-val="true" data-val-required="必填">
                          <option value="">请选择</option>
                          <option ng-repeat="x in DICT.RBTYPE.dicts" value="{{x.dictName}}">{{x.dictName}}</option>
					 </select>
                </td>
                <td><span data-valmsg-for="rbType" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">会议主持人<span class="required">*</span></td>
                <td>
                     <input type="text"  class="form-control input-sm " ng-model="vm.model.host " id="host" name="host" data-val="true" data-val-required="必填">
				</td>
                <td><span data-valmsg-for="host" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">会议预定人<span class="required">*</span></td>
                <td>
                     <input type="text"  class="form-control input-sm " ng-model="vm.model.dueToPeople " id="dueToPeople" name="dueToPeople" data-val="true" data-val-required="必填">
			    </td>
                <td><span data-valmsg-for="dueToPeople" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">会议日期<span class="required">*</span></td>
                <td>
                   <input kendo-date-picker k-format="'yyyy-MM-dd'"  data-bind="value:start,invisible:isAllDay" id="rbDay"  name="rbDay" ng-model="vm.model.rbDay" data-val="true" data-val-required="时间段不能为空"/>
                </td>
                <td><span data-valmsg-for="rbDay" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">开始时间<span class="required">*</span></td>
                <td>
                    <select id="beginTimeStr" name="beginTimeStr" ng-model="vm.model.beginTimeStr" style="width: 100px;" data-val="true" data-val-required="时间段不能为空">
                        <option value="">请选择</option>
                        <option ng-repeat="x in vm.timeObj.$timeRange" value="{{x}}" ng-selected="vm.model.beginTimeStr == x">{{x}}</option>
                    </select>
                    <span id="errorTime" class="errors"></span>
				</td>
                 <td><span data-valmsg-for="beginTimeStr" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr >
                <td class="formAlignRight">结束时间<span class="required">*</span></td>
                <td>
                    <select id="endTimeStr"   name="endTimeStr" ng-model="vm.model.endTimeStr" style="width: 100px;" data-val="true" data-val-required="时间段不能为空">
                        <option value="">请选择</option>
                        <option ng-repeat="x in vm.timeObj.$timeRange" ng-selected="vm.model.endTimeStr == x" value="{{x}}">{{x}}</option>
                    </select>
                </td>
                <td><span data-valmsg-for="endTimeStr" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr >
                <td class="formAlignRight">主要内容<span class="required">*</span></td>
                <td>
                    <textarea  class="form-control input-sm " ng-model="vm.model.content " id="content" name="content"  data-val="true" data-val-required="必填"></textarea>
				</td>
                <td><span data-valmsg-for="content" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr >
                <td class="formAlignRight">备注</td>
                <td>
                    <textarea  class="form-control input-sm " ng-model="vm.model.remark " id="remark" name="remark" ></textarea>
                </td>
                <td><span data-valmsg-for="remark" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
        </table>
	<form>
</div>
</script>