<meta charset="UTF-8">

<div class="well well-sm" style="background:white;">
        <table class="table table-bordered">
            <caption class="text-center"><h3><strong>课题</strong></h3></caption>
            <tr>
                <td class="formAlignRight" style="width:15%;max-width:180px;">课题名称：</td>
                <td>
                    {{vm.model.topicName}}
                </td>
            </tr>
            <tr>
                <td class="formAlignRight">合作研究单位： </td>
                <td>
                    {{vm.model.cooperator}}
                </td>
            </tr>
            <tr>
                <td class="formAlignRight">申报部门：</td>
                <td>
                    {{vm.model.orgName}}
                </td>
            </tr>
            <tr>
                <td class="formAlignRight">类别：</td>
                <td>
                    <select ng-model="vm.model.topicType" ng-disabled="true" name="topicType" id="topicType"  data-val="true" data-val-required="请选择类别">
                        <option value="">请选择</option>
                        <option ng-repeat="x in DICT.TOPIC_TYPE.dicts" value="{{x.dictKey}}">{{x.dictName}}</option>
                    </select>
                    <span data-valmsg-for="topicType" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="formAlignRight">预计完成时间：</td>
                <td>
                    {{vm.model.planFinishTime}}
                </td>
            </tr>

            <tr>
                <td class="formAlignRight">备注信息：</td>
                <td>
                    <div style="min-height: 60px;">{{vm.model.remark}}</div>
                </td>
            </tr>
        </table>
    <table class="table table-bordered">
        <caption class="text-center"><h3><strong>合同</strong></h3></caption>
        <tr class="contractInfo">
            <td class="text-center" style="width:5%;">序号</td>
            <td class="text-center" style="width:20%;">合作单位</td>
            <td class="text-center" style="width:20%;">委托金额</td>
            <td class="text-center" style="width:20%;">采购方式</td>
            <td class="text-center" style="width:20%;">联系人</td>
            <td class="text-center" style="width:15%;">联系电话</td>
        </tr>
        <tr ng-repeat="x in vm.model.contractDtoList">
            <td align="center">{{$index+1}}</td>
            <td align="center">
                {{x.cooperator}}
            </td>
            <td align="center">
                {{x.entrustValue}}
            </td>
            <td align="center">
                <select  ng-disabled="true" name="purchaseType" id="purchaseType"  data-val="true" data-val-required="请选择采购方式">
                    <option value="">请选择</option>
                    <option ng-repeat="y in DICT.TOPIC_BUY_TYPE.dicts"  ng-selected="x.purchaseType ==y.dictKey" value="{{y.dictKey}}">{{y.dictName}}</option>
                </select>
                <span data-valmsg-for="purchaseType{{x.sort}}" data-valmsg-replace="true" class="errors"></span>
            </td>
            <td align="center">
                {{x.contractPerson}}
            </td>
            <td align="center">
                {{x.contractTel}}
            </td>
        </tr>
    </table>
    <table class="table table-bordered">
        <caption class="text-center"><h3><strong>结题</strong></h3></caption>
        <tr>
            <td class="formAlignRight" style="width:15%;max-width:180px;">结题方式：</td>
            <td >
                <label>
                    <input type="radio" name="endTopicFlag" ng-disabled="true" ng-model="vm.model.endTopicFlag" ng-checked="vm.model.endTopicFlag == '1'"/>
                </label>
                提出成果鉴定会(方案/报告)
                <label>
                    <input type="radio" name="endTopicFlag" ng-disabled="true" ng-model="vm.model.endTopicFlag" ng-checked="vm.model.endTopicFlag == '2'"/>
                </label>
                合同审批
                <label>
                    <input type="radio" name="endTopicFlag" ng-disabled="true" ng-model="vm.model.endTopicFlag" ng-checked="vm.model.endTopicFlag == '3'"/>
                </label>
                课题结题会议
            </td>
        </tr>
        <tr>
        <td class="formAlignRight" style="width:15%;max-width:180px;">是否报委务会审定：</td>
        <td>
            <label>
                <input type="radio" name="sendFgw" value="9"  ng-disabled="true"  ng-model="vm.model.sendFgw" ng-checked="vm.model.sendFgw == 9 || vm.model.sendFgw == '9'"/>是
            </label>
            <label>
                <input type="radio" name="sendFgw" value="1"  ng-disabled="true"  ng-model="vm.model.sendFgw" ng-checked="vm.model.sendFgw == 1 || vm.model.sendFgw == '1'"/>否
            </label>
        </td>
       </tr>
        <tr>
            <td class="formAlignRight" style="width:15%;max-width:180px;">审定时间：</td>
            <td>
                  {{vm.model.approvedDate| date:'yyyy年MM月dd日'}}
            </td>
        </tr>
    </table>
</div>
