<meta charset="UTF-8">
<#assign path=request.contextPath/>
<style>
   #filingform ul li{
        width: 48%;
        float: left;
        list-style:none;
        display:inline;
       word-wrap: break-word;
       word-break: normal;
    }
   #filingform ul li span{
        float:left;
        width: 30%;
        min-width: 50px;
    }
</style>

<!-- 附件 -->
<#include "/file/common.html"/>
<div class="well well-sm" style="background:white;">
    <div class="well well-sm" style="background:white;">
        <ol class="breadcrumb">
            <li><a>课题研究管理</a></li>
            <li class="active">{{vm.title}}</li>
        </ol>
        <div class="toolbar">
            <button class="btn btn-sm btn-success" ng-click="vm.saveFiling()" ng-disabled="vm.isCommit"><span class="glyphicon glyphicon-ok"></span>保存</button>
            <flow-file-button></flow-file-button>
            <go-back-flow></go-back-flow>
        </div>
        <form id="filingform" name="filingform">
            <table class="table table-bordered">
                <caption>QR-4.1-11-A2</caption>
                <caption class="text-center">
                    <h3><strong>深圳市政府投资项目评审中心<br>课题研究存档表</strong></h3>
                </caption>
                <caption class="text-right" style="padding-right:100px;">归档编号：{{vm.filing.fileNo }}</span></caption>
                <tr>
                    <td class="text-center" width="15%">课题名称</td>
                    <td colspan="3" >{{vm.filing.topicName}}</td>
                </tr>
                <tr>
                    <td class="text-center" width="15%">合作单位</td>
                    <td width="35%">{{vm.filing.cooperator}}</td>
                    <td class="text-center" width="15%">课题代码</td>
                    <td width="35%">{{vm.filing.filingCode}}</td>
                </tr>
                <tr>
                    <td colspan="4">一、课题前期资料</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <ul>
                            <li>&nbsp;</li>
                            <li><span >份数</span><span>原件</span><span>复印件</span></li>
                        </ul>
                    </td>
                    <td colspan="2">
                        <ul>
                            <li>&nbsp;</li>
                            <li><span >份数</span><span>原件</span><span>复印件</span></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                    <ul>
                        <li class="text-center">课题研究计划书</li>
                        <li>
                            <span >
                                <input type="text" style="width:50px;" class="form-control input-sm "  data-val="true" data-val-digits="只能输入数字"
                                       ng-model="vm.filing.planCount" name="planCount" id="planCount" >
                            </span>
                            <span>
                                <input type="checkbox" ng-click="vm.filing.planCount = initInputValue($event,vm.filing.planCount)" ng-model="vm.filing.planOrig" name="planOrig" ng-true-value="9" ng-false-value="0" ng-checked="vm.filing.planOrig==9" />
                            </span>
                            <span>
                                <input type="checkbox" ng-click="vm.filing.planCount = initInputValue($event,vm.filing.planCount)" ng-model="vm.filing.planCopy" name="planCopy" ng-true-value="9" ng-false-value="0" ng-checked="vm.filing.planCopy==9" />
                            </span>
                        </li>
                    </ul>
                    </td>
                    <td colspan="2">
                    <ul>
                        <li class="text-center">电子文档</li>
                        <li>
                            <span >
                                <input type="text" style="width:50px;" class="form-control input-sm "  data-val="true" data-val-digits="只能输入数字"
                                       ng-model="vm.filing.eleDocCount" name="eleDocCount" id="eleDocCount" >
                            </span>
                            <span>
                                <input type="checkbox" ng-click="vm.filing.eleDocCount = initInputValue($event,vm.filing.eleDocCount)" ng-model="vm.filing.eleDocOrig" name="eleDocOrig" ng-true-value="9" ng-false-value="0" ng-checked="vm.filing.eleDocOrig==9"/>
                            </span>
                            <span>
                                <input type="checkbox" ng-click="vm.filing.eleDocCount = initInputValue($event,vm.filing.eleDocCount)" ng-model="vm.filing.eleDocCopy" name="eleDocCopy" ng-true-value="9" ng-false-value="0" ng-checked="vm.filing.eleDocCopy==9"/>
                            </span>
                        </li>
                    </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                    <ul>
                        <li class="text-center">课题合作研究合同</li>
                        <li>
                            <span >
                                <input type="text" style="width:50px;" class="form-control input-sm "  data-val="true" data-val-digits="只能输入数字"
                                       ng-model="vm.filing.contract" name="contract" id="contract" >
                            </span>
                        <span>
                                <input type="checkbox" ng-click="vm.filing.contract = initInputValue($event,vm.filing.contract)" ng-model="vm.filing.contractOrig" ng-checked="vm.filing.contractOrig==9" name="contractOrig" ng-true-value="9" ng-false-value="0"  />
                            </span>
                        <span>
                                <input type="checkbox" ng-click="vm.filing.contract = initInputValue($event,vm.filing.contract)" ng-model="vm.filing.contractCopy" ng-checked="vm.filing.contractCopy==9" name="contractCopy" ng-true-value="9" ng-false-value="0"  />
                            </span>
                        </li>
                    </ul>
                    </td>
                    <td colspan="2">

                    </td>
                </tr>
                <tr>
                    <td colspan="4">二、课题结题资料</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <ul>
                            <li>&nbsp;</li>
                            <li><span >份数</span><span>原件</span><span>复印件</span></li>
                        </ul>
                    </td>
                    <td colspan="2">
                        <ul>
                            <li>&nbsp;</li>
                            <li><span >份数</span><span>原件</span><span>复印件</span></li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <ul>
                            <li class="text-center">鉴定（论证）会工作方案</li>
                            <li>
                            <span >
                                <input type="text" style="width:50px;" class="form-control input-sm "  data-val="true" data-val-digits="只能输入数字"
                                       ng-model="vm.filing.wplanCount" name="wplanCount" id="wplanCount" >
                            </span>
                                <span>
                                <input type="checkbox" ng-click="vm.filing.wplanCount = initInputValue($event,vm.filing.wplanCount)" ng-model="vm.filing.wplanOrig" name="wplanOrig" ng-true-value="9" ng-false-value="0" ng-checked="vm.filing.wplanOrig==9"/>
                            </span>
                                <span>
                                <input type="checkbox" ng-click="vm.filing.wplanCount = initInputValue($event,vm.filing.wplanCount)" ng-model="vm.filing.wplanCopy" name="wplanCopy" ng-true-value="9" ng-false-value="0" ng-checked="vm.filing.wplanCopy==9"/>
                            </span>
                            </li>
                        </ul>
                    </td>
                    <td colspan="2">
                        <ul>
                            <li class="text-center">研究课题成果文本</li>
                            <li>
                            <span >
                                <input type="text" style="width:50px;" class="form-control input-sm "  data-val="true" data-val-digits="只能输入数字"
                                       ng-model="vm.filing.studyCount" name="studyCount" id="studyCount" >
                            </span>
                                <span>
                                <input type="checkbox" ng-click="vm.filing.studyCount = initInputValue($event,vm.filing.studyCount)" ng-model="vm.filing.studyOrig" name="studyOrig" ng-true-value="9" ng-false-value="0" ng-checked="vm.filing.studyOrig==9"/>
                            </span>
                                <span>
                                <input type="checkbox" ng-click="vm.filing.studyCount = initInputValue($event,vm.filing.studyCount)" ng-model="vm.filing.studyCopy" name="studyCopy" ng-true-value="9" ng-false-value="0" ng-checked="vm.filing.studyCopy==9"/>
                            </span>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <ul>
                            <li class="text-center">课题研究成果鉴定（论证）意见</li>
                            <li>
                            <span >
                                <input type="text" style="width:50px;" class="form-control input-sm "  data-val="true" data-val-digits="只能输入数字"
                                       ng-model="vm.filing.studyIdeaCount" name="studyIdeaCount" id="studyIdeaCount" >
                            </span>
                                <span>
                                <input type="checkbox" ng-click="vm.filing.studyIdeaCount = initInputValue($event,vm.filing.studyIdeaCount)" ng-model="vm.filing.studyIdeaOrig" name="studyIdeaOrig" ng-true-value="9" ng-false-value="0" ng-checked="vm.filing.studyIdeaOrig==9"/>
                            </span>
                                <span>
                                <input type="checkbox" ng-click="vm.filing.studyIdeaCount = initInputValue($event,vm.filing.studyIdeaCount)" ng-model="vm.filing.studyIdeaCopy" name="studyIdeaCopy" ng-true-value="9" ng-false-value="0" ng-checked="vm.filing.studyIdeaCopy==9"/>
                            </span>
                            </li>
                        </ul>
                    </td>
                    <td colspan="2">
                        <ul>
                            <li class="text-center">研究课题电子文档</li>
                            <li>
                            <span >
                                <input type="text" style="width:50px;" class="form-control input-sm "  data-val="true" data-val-digits="只能输入数字"
                                       ng-model="vm.filing.studyEleCount" name="studyEleCount" id="studyEleCount" >
                            </span>
                                <span>
                                <input type="checkbox" ng-click="vm.filing.studyEleCount = initInputValue($event,vm.filing.studyEleCount)" ng-model="vm.filing.studyEleOrig" name="studyEleOrig" ng-true-value="9" ng-false-value="0" ng-checked="vm.filing.studyEleOrig==9"/>
                            </span>
                                <span>
                                <input type="checkbox" ng-click="vm.filing.studyEleCount = initInputValue($event,vm.filing.studyEleCount)" ng-model="vm.filing.studyEleCopy" name="studyEleCopy" ng-true-value="9" ng-false-value="0" ng-checked="vm.filing.studyEleCopy==9"/>
                            </span>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <ul>
                            <li class="text-center">会议签到表</li>
                            <li>
                            <span >
                                <input type="text" style="width:50px;" class="form-control input-sm "  data-val="true" data-val-digits="只能输入数字"
                                       ng-model="vm.filing.signinCount" name="signinCount" id="signinCount" >
                            </span>
                                <span>
                                <input type="checkbox" ng-click="vm.filing.signinCount = initInputValue($event,vm.filing.signinCount)" ng-model="vm.filing.signinOrig" name="signinOrig" ng-true-value="9" ng-false-value="0" ng-checked="vm.filing.signinOrig==9"/>
                            </span>
                                <span>
                                <input type="checkbox" ng-click="vm.filing.signinCount = initInputValue($event,vm.filing.signinCount)" ng-model="vm.filing.signinCopy" name="signinCopy" ng-true-value="9" ng-false-value="0" ng-checked="vm.filing.signinCopy==9"/>
                            </span>
                            </li>
                        </ul>
                    </td>
                    <td colspan="2">
                        <ul>
                            <li class="text-center">课题完成报告</li>
                            <li>
                            <span >
                                <input type="text" style="width:50px;" class="form-control input-sm "  data-val="true" data-val-digits="只能输入数字"
                                       ng-model="vm.filing.reportCount" name="reportCount" id="reportCount" >
                            </span>
                                <span>
                                <input type="checkbox" ng-click="vm.filing.reportCount = initInputValue($event,vm.filing.reportCount)" ng-model="vm.filing.reportOrig" name="reportOrig" ng-true-value="9" ng-false-value="0" ng-checked="vm.filing.reportOrig==9"/>
                            </span>
                                <span>
                                <input type="checkbox" ng-click="vm.filing.reportCount = initInputValue($event,vm.filing.reportCount)" ng-model="vm.filing.reportCopy" name="reportCopy" ng-true-value="9" ng-false-value="0" ng-checked="vm.filing.reportCopy==9"/>
                            </span>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                    </td>
                    <td colspan="2">
                        <ul>
                            <li class="text-center">专家费发放表</li>
                            <li>
                            <span >
                                <input type="text" style="width:50px;" class="form-control input-sm "  data-val="true" data-val-digits="只能输入数字"
                                       ng-model="vm.filing.epCostCount" name="epCostCount" id="epCostCount" >
                            </span>
                                <span>
                                <input type="checkbox" ng-click="vm.filing.epCostCount = initInputValue($event,vm.filing.epCostCount)" ng-model="vm.filing.epCostOrig" name="epCostOrig" ng-true-value="9" ng-false-value="0" ng-checked="vm.filing.epCostOrig==9"/>
                            </span>
                                <span>
                                <input type="checkbox" ng-click="vm.filing.epCostCount = initInputValue($event,vm.filing.epCostCount)" ng-model="vm.filing.epCostCopy" name="epCostCopy" ng-true-value="9" ng-false-value="0" ng-checked="vm.filing.epCostCopy==9"/>
                            </span>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">项目负责人签名</td>
                    <td>{{vm.filing.principal}}</td>
                    <td class="text-center"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="text-center">档案员签收</td>
                    <td>{{vm.filing.filingUser}}</td>
                    <td class="text-center">归档日期</td>
                    <td>{{vm.filing.filingDate}}</td>
                </tr>
                <tr>
                    <td colspan="4">三、其他资料
                        <button class="btn btn-xs btn-primary" ng-click="vm.addZL()">新增</button>
                        <button class="btn btn-xs btn-danger" ng-click="vm.delZL()">删除</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <ul>
                            <li style="width: 75%">
                                <span style="width: 60px;">
                                    选择
                                </span>
                                <span  style="width: 90%">
                                    名称
                                </span>
                            </li>
                            <li style="width: 25%">
                                <span >份数</span>
                                <span>原件</span>
                                <span>复印件</span>
                            </li>
                        </ul>
                    </td>
                </tr>
                <tr ng-repeat="f in vm.filing.registerFileDto">
                    <td colspan="4">
                        <ul>
                            <li style="width: 75%">
                                <span style="width: 60px;">
                                    <input type="checkbox" tit="dynamicCheckbox" name="{{$index}}" value="{{f.id}}"/>
                                </span>
                                <span style="width: 90%">
                                    <input type="text" ng-model="vm.filing.registerFileDto[$index].fileName"  style="width: 90%"/>
                                </span>
                            </li>
                            <li style="width: 25%">
                            <span >
                                <input type="text" style="width:50px;" class="form-control input-sm "  data-val="true" data-val-digits="只能输入数字"
                                       ng-model="vm.filing.registerFileDto[$index].totalNum" id="{{f.id}}">
                            </span>
                            <span>
                                <input type="checkbox" ng-click="vm.filing.registerFileDto[$index].totalNum = initInputValue($event,vm.filing.registerFileDto[$index].totalNum)" name="{{f.id}}" ng-model="vm.filing.registerFileDto[$index].isHasOriginfile" ng-true-value="9" ng-false-value="0" ng-checked="f.isHasOriginfile==9" />
                            </span>
                            <span>
                                <input type="checkbox" ng-click="vm.filing.registerFileDto[$index].totalNum = initInputValue($event,vm.filing.registerFileDto[$index].totalNum)" name="{{f.id}}" ng-model="vm.filing.registerFileDto[$index].isHasCopyfile"  ng-true-value="9" ng-false-value="0" ng-checked="f.isHasCopyfile==9"/>
                            </span>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>