<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-idea.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-upload.html'"></div>

<!--确认参加会议专家的弹窗公共页面-->
<#include "/expertReview/expert_confirm.html"/>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/agendaTasks">任务待办</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>

    <!-- 流程处理页面 -->
    <#include "/topicInfo/dealOption.html"/>

    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" for-div="busi_baseinfo">课题研究计划</a></li>
        <li ng-show="vm.model.workPlanDto"><a id="show_workprogram_a" data-toggle="tab" for-div="busi_workplan">工作方案</a>
        </li>
        <li ng-show="vm.model.filingDto"><a id="show_filerecord_a" data-toggle="tab" for-div="busi_filerecord">归档信息</a>
        </li>
        <li ng-show="vm.model.expertReviewDto && vm.model.expertReviewDto.expertSelectedDtoList">
            <a data-toggle="tab" for-div="expert_score">专家评分</a>
        </li>
        <li ng-show="vm.model.expertReviewDto && vm.model.expertReviewDto.expertSelectedDtoList">
            <a data-toggle="tab" for-div="expert_payment">评审费发放表</a>
        </li>
        <li ng-show="vm.showFlag.tabSysFile"><a data-toggle="tab" for-div="flow_upload_file">附件列表</a></li>
        <li><a data-toggle="tab" for-div="flow_diagram">流程图</a></li>
        <li><a data-toggle="tab" for-div="flow_history">处理记录</a></li>
    </ul>

    <div class="tab-content" style="background:white;">
        <div class="tab-pane fade in active" style="background:white;" id="busi_baseinfo">
            <#include "/topicInfo/detail.html"/>
        </div><!-- end tab -->

        <div class="tab-pane fade" style="background:white;" id="busi_workplan">
            <#include "/topicInfo/planDetail.html"/>
        </div><!-- end tab -->

        <div class="tab-pane fade" style="background:white;" id="busi_filerecord">
            <#include "/topicInfo/filingDetail.html"/>
        </div><!-- end tab -->

        <div class="tab-pane fade  style="background:white;" id="expert_score">
            <#include "/expertReview/expert_score.html"/>
        </div><!-- end tab -->

        <div class="tab-pane fade well well-sm"  style="background:white;" id="expert_payment">
            <#include "/expertReview/expert_payment.html"/>
        </div><!-- end tab -->

        <div class="tab-pane fade well well-sm" style="background:white;" id="flow_upload_file">
            <div ng-include src="'${path}/contents/app/sysFile/uploadFilelist.html'"></div>
        </div><!-- 上传附件列表 -->

        <div class="tab-pane fade well well-sm" style="background:white;" id="flow_diagram">
            <img style="" src="{{vm.picture}}">
        </div><!-- end tab -->

        <div class="tab-pane fade well well-sm" style="background:white;" id="flow_history">
            <div class="grid" kendo-grid="grid" k-options="vm.historygrid"
                 k-data-source="vm.historygrid.dataSource"></div>
        </div>
        <!-- end tab -->
        <!--打印的模版-->
        <!--工作方案-->
        <div id="busi_workplan_templ" style="display: none;"> <#include "/templatePrint/topicInfo/planDetail.html"/></div>
        <!--归档信息-->
        <div id="busi_filerecord_templ" style="display: none;"> <#include "/templatePrint/topicInfo/filingDetail.html"/></div>

    <!-- 引入专家费用模板-->
    <div id="expert_payment_templ" style="display: none;">
    <#include "/templatePrint/expert_payment.html"/>
    </div>

    <!-- 引入专家评分模板-->
    <div id="expert_score_templ" style="display: none;">
    <#include "/templatePrint/expert_score.html"/>
    </div>
    </div>
</div>