<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a>课题研究管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <div class="well well-sm">
    <form id="myTopicForm" name="myTopicForm">
        <input name="createdBy" value="${CURRENT_USER.id}" ng-hide="true">
        <table style="width:100%">
            <tr>
                <td class="formAlignRight">课题名称：</td>
                <td><input name="topicName" type="text" operator="like" ng-model="vm.searchModel.topicName" class="form-control input-sm "/></td>
                <td class="formAlignRight">合作单位：</td>
                <td><input name="cooperator" type="text" operator="like" ng-model="vm.searchModel.cooperator"  class="form-control input-sm "/></td>
                <td class="formAlignRight">是否委里立项：</td>
                <td>
                    <select name="fgwlx" operator="eq" ng-model="vm.searchModel.fgwlx">
                        <option value="">请选择</option>
                        <option value="9">是</option>
                        <option value="0">否</option>
                    </select>
                </td>
                <td>
                    <button class="btn btn-sm btn-success" ng-click="vm.searchForm()" ng-disabled="vm.isSubmit"><span
                            class="glyphicon glyphicon-search"></span>查询
                    </button>
                    <button class="btn btn-sm btn-primary" ng-click="vm.formReset()">
                        <span class="glyphicon glyphicon-repeat"></span>重置
                    </button>
                </td>
            </tr>
        </table>
    </form>
    </div>
    <div class="grid" kendo-grid="grid" k-options="vm.myTopicOptions"></div>
</div>

<script type="text/template" id="columnBtns">
    <a class="btn btn-xs btn-primary" href="#/topicInfo/{0}" ng-hide="{1}"><span class="glyphicon glyphicon-pencil"></span>编辑</a>
    <a class="btn btn-xs btn-primary" href="#/{2}" ng-hide="{3}" href="javascript:void(0)" ><span class="glyphicon glyphicon-search"></span>查看</a>
</script>









