<!--S 月报简报添加页面 -->
<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div class="well well-sm conttent_list" style="background: white;min-height:900px;">

    <ol class="breadcrumb">
        <li>月报简报基本信息</li>
        <li class="active">{{vm.title}}</li>
    </ol>
 <form id="form" name="form">
        <div class="toolbar">

            <button class="btn btn-sm btn-success" ng-click="vm.createMothlyNewsletter()" ng-disabled="vm.isSubmit"
                    ng-hide="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>保存
            </button>
            <button class="btn btn-sm btn-success" ng-click="vm.updateMonthly()" ng-disabled="vm.isSubmit"
                    ng-show="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>更新
            </button>
			<button class="btn btn-sm btn-danger" ng-click="back();" ng-disabled="vm.isCommit"><span
					class="glyphicon glyphicon-chevron-left"></span>返回
			</button>
        </div>

         <div><h4>1、月报简报基本信息</h4></div>

        <table style="width:80%" >
          <!-- <tr>
                <td class="formAlignRight" style="width:150px;"></td>
                <td style="width:400px;" ><span class="errors">{{vm.message}}</span></td>
                <td></td>
                <td></td>
            </tr> -->
		<tr>
			<td width="20%" align="center">年度报告<span class="required">*</span></td>
			<td width="20%" >
			  <select style="width:40%"   ng-model="vm.monthly.reportMultiyear" ng-change="vm.reportYear()"id="reportMultiyear" name="reportMultiyear"  data-val="true" data-val-required="必填">
						 <option value=" ">请选择</option>
						 <option ng-repeat="x in DICT.NDBG.dicts" ng-selected="vm.monthly.reportMultiyear == x.dictName" value="{{x.dictName}}">{{x.dictName}}</option>
				</select>
				<span data-valmsg-for="reportMultiyear" data-valmsg-replace="true" class="errors"></span>
			</td>
			<td width="20%" align="center"> 报告月份<span class="required">*</span></td>
			<td width="20%" >
			<select style="width:40%"  ng-model="vm.monthly.theMonths"  name="theMonths" id="theMonths" ng-change="vm.selectMonthly()"  data-val="true" data-val-required="必填">
						<option value=" ">请选择</option>
						 <option ng-repeat="x in DICT.BGYF.dicts" ng-selected="vm.monthly.theMonths == x.dictName" value="{{x.dictName}}">{{x.dictName}}</option>
						</select>
						<span data-valmsg-for="theMonths" data-valmsg-replace="true" class="errors"></span>
			</td>
		</tr>
		<tr>
			<td width="20%" align="center"  ><h5>指定多个月累计统计</h5></td>
			<td width="20%" align="center" colspan="3">(此处设为月报告中含有多个月份统计的统计条件)</td>
		</tr>
		<tr>
			<td width="20%" align="center">开始年度<span class="required">*</span></td>
			<td width="20%">
			<!--<select style="width:40%" ng-model="vm.monthly.startMoultiyear" id="startMoultiyear" name="startMoultiyear" data-val="true" data-val-required="必填">
                         <option value=" ">请选择</option>
						 <option ng-repeat="x in DICT.NDBG.dicts" ng-selected="vm.monthly.startMoultiyear == x.dictName" value="{{x.dictName}}">{{x.dictName}}</option>
                    </select>-->
				<input type="text" maxlength="20" style="width:40%"  ng-disabled="true"    ng-model="vm.monthly.startMoultiyear"
					   id="startMoultiyear" name="startMoultiyear" data-val="true" data-val-required="必填" />
				<span data-valmsg-for="startMoultiyear" data-valmsg-replace="true" class="errors"></span>
			</td>
			<td  width="20%" align="center">开始月份<span class="required">*</span></td>
			<td width="20%">
			<select style="width:40%" ng-model="vm.monthly.staerTheMonths" ng-change="vm.startMonthly()" id="staerTheMonths" name="staerTheMonths" data-val="true" data-val-required="必填">
						 <option value=" ">请选择</option>
						 <option ng-repeat="x in DICT.BGYF.dicts" ng-selected="vm.monthly.staerTheMonths == x.dictName" value="{{x.dictName}}">{{x.dictName}}</option>
				</select>
						<span data-valmsg-for="staerTheMonths" data-valmsg-replace="true" class="errors"></span>
			</td>
		</tr>
		<tr>
			<td width="20%" align="center">结束年度<span class="required">*</span></td>
			<td width="20%">
				 <!-- <select style="width:40%" ng-model="vm.monthly.endMoultiyear" id="endMoultiyear" name="endMoultiyear" data-val="true" data-val-required="必填">
                       <option value=" ">请选择</option>
						 <option ng-repeat="x in DICT.NDBG.dicts" ng-selected="vm.monthly.endMoultiyear == x.dictName" value="{{x.dictName}}">{{x.dictName}}</option>
                    </select>-->
				<input type="text" maxlength="20" style="width:40%" ng-disabled="true"   ng-model="vm.monthly.endMoultiyear"
					   id="endMoultiyear" name="endMoultiyear" data-val="true" data-val-required="必填" />
						<span data-valmsg-for="endMoultiyear" data-valmsg-replace="true" class="errors"></span>
			</td>
			<td width="20%" align="center">结束月份<span class="required">*</span></td>
			<td width="20%">
			<select style="width:40%" ng-model="vm.monthly.endTheMonths" id="endTheMonths" name="endTheMonths" data-val="true" data-val-required="必填" >
						<option value=" ">请选择</option>
						 <option ng-repeat="x in DICT.BGYF.dicts" ng-selected="vm.monthly.endTheMonths == x.dictName" value="{{x.dictName}}">{{x.dictName}}</option>
						</select>
						<span data-valmsg-for="endTheMonths" data-valmsg-replace="true" class="errors"></span>
			</td>
		</tr>
		<tr>
			<td width="20%" align="center">备注</td>
			<td colspan="3">
			  <textarea class="form-control input-sm " ng-model="vm.monthly.remark" rows="" cols="" id="remark" name="remark">
                           </textarea>
			</td>

		</tr>
	</table>
 </form>
        <div><h4>2、月报简报正文</h4></div>
        <div class="toolbar">
             <button class="btn btn-sm btn-success" ng-click="vm.createMonthReport()"
                    ><span class="glyphicon glyphicon-ok"></span>生成月报简报正文
            </button>
        </div>

</div>
<!--E 月报简报添加页面 -->