<!--S 中心文件查询列表页面 -->
<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li>月报简报管理</li>
        <li class="active">月报简报查询</li>
    </ol>
    <div class="well well-sm">
        <form id="form" name="form">
            <input type="hidden" name="fileType" value="2"/>   <!--月报简报查询，过滤条件-->
            <span class="help-inline">文件名称：</span>
            <input type="text" operator="like" name="title" id="title" placeholder="">

            <span class="help-inline">拟稿人员：</span>
            <input type="text" operator="like" name="userName" id="userName" placeholder="">

            <span class="help-inline">拟稿时间：</span>
            <input name="suppLetterTime" style="width:124px" kendo-date-picker k-format="'yyyy-MM-dd'" type="text"
                   operator="ge"/>
            至
            <input name="suppLetterTime" style="width:124px" kendo-date-picker k-format="'yyyy-MM-dd'" type="text"
                   operator="le"/>

            <button class="btn btn-sm btn-primary" ng-click="vm.addSuppQuery()"><span
                    class="glyphicon glyphicon-search"></span>查询
            </button>
            <button class="btn btn-sm btn-primary" ng-click="vm.resetAddSupp()">重置</button>
        </form>
    </div>

    <div class="grid" kendo-grid="grid" k-options="vm.multiyearGrid"></div>
</div>
<!--E 中心文件查询列表页面 -->
<script type="text/template" id="columnBtns">
    <a class="btn btn-xs btn-primary" href="#/monthlyMultiyView/{0}">
        <span class="glyphicon glyphicon-pencil"></span>查看详细</a>
</script>