<!--S 中心文件查询列表页面 -->
<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/monthlyNewsletter">年度月报简报列表</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
  <!--   <form id="form" name="form">
          
         <ol class="breadcrumb">
         </br>
       		 <li> <span class="help-inline">文件名称：</span>
            <input type="text" ng-model="vm.suppletter.title" operator="like" name="title" id="title" operator="like" placeholder="请输入">

            <span class="help-inline" style="margin-left:10px;">拟稿部门：</span>
	          <select ng-model="vm.suppletter.orgName" name="orgName" id="orgName" style="width:77px">
	          <option>请选择</option>
	          <option repaet="" value="">{{}}</option>
	          </select>
            <span class="help-inline" style="margin-left:10px;">拟稿人员：</span>
            	 <select style="width:77px">
	          <option>请选择</option>
	          </select>
            <span class="help-inline" style="margin-left:10px;">拟稿时间：</span>
            <input name="beginTime" style="width:124px" kendo-date-picker k-format="'yyyy-MM-dd'"  ng-model="vm.model.beginTime" value="" type="text" operator="and"/>
           	 至
            <input name="beginTime" style="width:124px" kendo-date-picker k-format="'yyyy-MM-dd'"  ng-model="vm.model.beginTime" value="" type="text" operator="and"/>
            </li>
            </br></br>
            <div align="right">
           <button class="btn btn-sm btn-success" ng-click="vm.addSuppQuery()" >
            <span class="glyphicon glyphicon-search"></span>查询
            </button>
            <a class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="vm.resetAddSupp()">重置</a>
      	 </div> 
   		 </ol>
   		 </form> -->
        <script type="text/template" id="columnBtns">
			
            <@shiro.hasPermission name="monthlyNewsletter##put">
            <a class="btn btn-xs btn-primary" href="#/monthlyMultiyearDetail/{0}"><span class="glyphicon glyphicon-pencil"></span>查看详细</a>
            </@shiro.hasPermission>
        </script>
 		<ol class="breadcrumb">
        <li>2014年度月报简报列表（单击进入详细资料 <span id="span1"><img src="${path}/contents/images/yellow.png" style="width: 16px; height: 16px;"></span>  正在办理 ）</li>
   		 </ol>
        <div class="grid" kendo-grid="grid" k-options="vm.multiyearGrid"></div>
</div>
<!--E 中心文件查询列表页面 -->
