<#assign path=request.contextPath/>
<meta charset="UTF-8">
<link href="${path}/contents/libs/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
<script src="${path}/contents/libs/zTree/js/jquery.ztree.all.min.js"></script>

<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/company">单位管理</a></li>       
        <li class="active" >{{vm.title}}</li>
    </ol>
    <form id="form" name="form">
        <div class="toolbar">
            <a class="btn btn-sm btn-primary" href="#/company"><span class="glyphicon glyphicon-chevron-left"></span>返回</a>
            <button class="btn btn-sm btn-success" ng-click="vm.create()" ng-disabled="vm.isSubmit" ng-hide="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>创建</button>
            <button class="btn btn-sm btn-success" ng-click="vm.update()" ng-disabled="vm.isSubmit" ng-show="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>更新</button>
         </div>
        <table style="width:100%">
            <tr>
                <td class="formAlignRight" style="width:150px;"></td>
                <td style="width:400px;"><span class="errors">{{vm.message}}</span></td>
                <td></td>
            </tr>

           
             <tr>
                <td class="formAlignRight">单位名称： <span class="required">*</span></td>
                <td>
                    <input  type="text" maxlength="200" class="form-control input-sm "   ng-model="vm.model.coName" id="coName" name="coName" data-val="true" data-val-required="必填">
                </td>
                <td>
                <span data-valmsg-for="coName" data-valmsg-replace="true" class="errors"></span>
                    <span class="errors" ng-show="vm.isOrgExist">部门标识已存在</span>
                  </td>
            </tr>
            <tr>
                <td class="formAlignRight">电话： <span class="required">*</span></td>
                <td>
                    <input  type="text" maxlength="200" class="form-control input-sm "   ng-model="vm.model.coPhone" id="coPhone" name="coPhone" data-val="true" data-val-required="必填">
                </td>
                <td><span data-valmsg-for="coPhone" data-valmsg-replace="true" class="errors"></span>
                    <span class="errors" ng-show="vm.isOrgExist">部门标识已存在</span></td>
            </tr>
            <tr>
                <td class="formAlignRight">传真： <span class="required">*</span></td>
                <td>
                    <input  type="text" maxlength="200" class="form-control input-sm "   ng-model="vm.model.coFax" id="coFax" name="coFax" data-val="true" data-val-required="必填">
                </td>
                <td><span data-valmsg-for="coFax" data-valmsg-replace="true" class="errors"></span>
                    <span class="errors" ng-show="vm.isOrgExist">部门标识已存在</span></td>
            </tr>
            <tr>
                <td class="formAlignRight">邮编： <span class="required">*</span></td>
                <td>
                    <input  type="text" maxlength="200" class="form-control input-sm "   ng-model="vm.model.coPC" id="coPC" name="coPC" data-val="true" data-val-required="必填">
                </td>
                <td>
                <span data-valmsg-for="coPC" data-valmsg-replace="true" class="errors"></span>
                    <span class="errors" ng-show="vm.isOrgExist">部门标识已存在</span></td>
            </tr>
            <tr>
                <td class="formAlignRight">地址： <span class="required">*</span></td>
                <td>
                    <input  type="text" maxlength="200" class="form-control input-sm "   ng-model="vm.model.coAddress" id="coAddress" name="coAddress" data-val="true" data-val-required="必填">
                </td>
                <td><span data-valmsg-for="coAddress" data-valmsg-replace="true" class="errors"></span>
                    <span class="errors" ng-show="vm.isOrgExist">部门标识已存在</span></td>
            </tr>
            <tr>
                <td class="formAlignRight">网站： <span class="required">*</span></td>
                <td>
                    <input  type="text" maxlength="200" class="form-control input-sm "   ng-model="vm.model.coSite" id="coSite" name="coSite" data-val="true" data-val-required="必填">
                </td>
                <td><span data-valmsg-for="coSite" data-valmsg-replace="true" class="errors"></span>
                    <span class="errors" ng-show="vm.isOrgExist">部门标识已存在</span></td>
            </tr>
            
            
            <tr>
                <td class="formAlignRight">单位简介： </td>
                <td>
                <textarea class="form-control" maxlength="200" name="coSynopsis" id="coSynopsis" ng-model="vm.model.coSynopsis" style="height:120px;"></textarea>
                </td>
                <td><span data-valmsg-for="coSynopsis" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
          
        </table>
    </form>
</div>