<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div class="well well-sm " style="background: white;">
    <ol class="breadcrumb">
        <li><a href="#/archivesLibraryList">档案借阅管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>

    <div class="toolbar">
        <button class="btn btn-sm btn-success" ng-click="vm.createLibrary()" ng-hide="true"
                ng-disabled="vm.isSubmit"><span class="glyphicon glyphicon-ok"></span>保存
        </button>
        <!--填报的时候直接发起流程-->
        <button class="btn btn-sm btn-success" ng-click="vm.startFlow()" ng-hide="vm.isCommit">
            <span class="glyphicon glyphicon-ok"></span>发起流程
        </button>
        <a class="btn btn-sm btn-primary" href="#/archivesLibrary"><span
                class="glyphicon glyphicon-chevron-left"></span>返回</a>
    </div>
    <form id="form" name="form">
        <table class="table table-bordered">
            <caption class="text-center"><h3><strong>评审中心项目档案查阅审批表</strong></h3></caption>
            <caption style="padding-left:10px;">WR-1.1-04-04-A1</caption>
            <tr>
                <td width="25%" class="text-center">查阅单位<span class="required">*</span></td>
                <td colspan="3">
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.readCompany"
                           id="readCompany" name="readCompany" data-val="true" data-val-required="必填"/>
                    <span data-valmsg-for="readCompany" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-center">借阅人<span class="required">*</span></td>
                <td colspan="3">
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.readUsername"
                        id="readUsername" name="readUsername" data-val="true" data-val-required="必填"/>
                    <span data-valmsg-for="readUsername" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-center">查阅项目名称<span class="required">*</span></td>
                <td colspan="3">
                    <input type="text" maxlength="200" class="form-control input-sm "  ng-model="vm.model.readProjectName"
                      id="readProjectName" name="readProjectName" data-val="true"  data-val-required="必填"/>
                    <span data-valmsg-for="readProjectName" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-center">存档编号</td>
                <td colspan="3">
                    <input type="text" maxlength="32" class="form-control input-sm " ng-model="vm.model.readArchivesCode"
                            id="readArchivesCode" name="readArchivesCode" /></td>
            </tr>
            <tr>
                <td rowspan="2" class="text-center">借阅类型</td>
                <td class="text-center" width="25%">是否本单位人员</td>
                <td class="text-center" width="25%">是否市档案资料</td>
                <td class="text-center" width="25%">是否外借</td>
            </tr>
            <tr>
                <td class="text-center">
                    <span><input type="checkbox" ng-model="vm.model.isSZECUser" ng-true-value="9" ng-false-value="0"
                           ng-checked="vm.model.isSZECUser == '9'"/>是</span>
                    <span style="margin-left:10px;"><input type="checkbox" ng-model="vm.model.isSZECUser" ng-true-value="0" ng-false-value="9"
                           ng-checked="vm.model.isSZECUser == '0'"/>否</span>
                </td>
                <td class="text-center">
                     <span><input type="checkbox" ng-model="vm.model.archivesType" ng-true-value="9" ng-false-value="0"
                           ng-checked="vm.model.archivesType == '9'"/>是</span>
                    <span style="margin-left:10px;"><input type="checkbox" ng-model="vm.model.archivesType" ng-true-value="0" ng-false-value="9"
                           ng-checked="vm.model.archivesType == '0'"/>否</span>
                </td>
                <td class="text-center">
                     <span><input type="checkbox" ng-model="vm.model.isLendOut" ng-true-value="9" ng-false-value="0"
                            ng-checked="vm.model.isLendOut == '9'"/>是</span>
                    <span style="margin-left:10px;"><input type="checkbox" ng-model="vm.model.isLendOut" ng-true-value="0" ng-false-value="9"
                           ng-checked="vm.model.isLendOut == '0'"/>否</span>
                </td>
            </tr>
            <tr>
                <td rowspan="2" class="text-center">查阅审批</td>
                <td class="text-center" width="25%">部长审批</td>
                <td class="text-center" width="25%">分管副主任</td>
                <td class="text-center" width="25%">主任</td>
            </tr>
            <tr>
                <td class="text-center">
                    <textarea style="width:100%;" rows="3" name="deptMinister" id="deptMinister"
                              ng-model="vm.model.deptMinister" ng-disabled="true"></textarea>
                </td>
                <td class="text-center">
                    <textarea style="width:100%;" rows="3" name="deptSLeader" id="deptSLeader"
                              ng-model="vm.model.deptSLeader" ng-disabled="true"></textarea>
                </td>
                <td class="text-center">
                    <textarea style="width:100%;" rows="3" name="deptDirector" id="deptDirector"
                              ng-model="vm.model.deptDirector" ng-disabled="true"></textarea>
                </td>
            </tr>
            <tr>
                <td class="text-center">查阅时间</td>
                <td>
                    <input type="text" kendo-date-picker k-format="'yyyy-MM-dd'" class="form-control input-sm "
                           ng-model="vm.model.readDate" id="readDate" name="readDate"/>
                </td>
                <td class="text-center">归还时间</td>
                <td>
                    <input type="text" kendo-date-picker k-format="'yyyy-MM-dd'"  class="form-control input-sm "
                           ng-model="vm.model.resotoreDate" id="resotoreDate" name="resotoreDate" ng-disabled="true" /></td>
            </tr>
            <tr>
                <td class="text-center">档案管理员签名</td>
                <td colspan="3">
                    <input type="text" maxlength="32" class="form-control input-sm "
                                       ng-model="vm.model.archivesUserName"
                                       id="archivesUserName" name="archivesUserName"/>
                </td>
            </tr>
        </table>
    </form>
    <div style="margin-top:15px;font-size: 14px; ">
        注：本单位员工查阅非本人负责的项目档案需部长批准，外单位人员查阅档案需分管副主任批准，如外借档案，需中心主任审批，审批表由档案室存档。
    </div>
</div>