<#assign path=request.contextPath/>
<meta charset="UTF-8">

<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>

<div class="well well-sm conttent_list" style="background: white;min-height:900px;">
    <ol class="breadcrumb">
        <li><a href="#/archivesLibraryList">档案借阅管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <form id="form" name="form">
        <div class="toolbar">
            <a class="btn btn-sm btn-primary" href="#/archivesLibrary"><span class="glyphicon glyphicon-chevron-left"></span>返回</a>
            <button class="btn btn-sm btn-success" ng-click="vm.updateLibrary()" ng-disabled="vm.isSubmit"
                    ng-show="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>更新
            </button>
        </div>
		    <table style="width:90%" border="1px">
		    <caption class="text-center"> <h3><strong>项目档案查阅审批表</strong></h3></caption><br>
			<tr>
				<td width="30%" align="center">查阅单位</td>
				<td colspan="3">
				<input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.readCompany"
                  ng-disabled="vm.model.hideStatus=='0'"  id="readCompany" name="readCompany" data-val="true" data-val-required="必填"  />
				</td>
			</tr>
			<tr>
				<td width="30%" align="center">借阅人</td>
				<td colspan="3"><input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.readUsername"
                ng-disabled="vm.model.hideStatus=='0'"   id="readUsername" name="readUsername" data-val="true" data-val-required="必填"  /></td>
				
			</tr>
			<tr>
				<td width="30%" align="center">查阅项目名称</td>
				<td colspan="3"><input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.readProjectName"
                  ng-disabled="vm.model.hideStatus=='0'"  id="readProjectName" name="readProjectName" data-val="true" data-val-required="必填"  /></td>
			</tr>
			<tr>
				<td width="30%" align="center" >存档编号</td>
				<td colspan="3"><input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.readArchivesCode"
                 ng-disabled="vm.model.hideStatus=='0'"  id="readArchivesCode" name="readArchivesCode"   /></td>
			</tr>
			<tr>
				<td rowspan="2" width="30%" align="center" >查阅审批</td>
				<td align="center">部长审批<span class="required">*</span></td>
				<td  align="center">分管副主任<span class="required">*</span></td>
				<td  align="center">主任<span class="required">*</span></td>
		
				</td>
			</tr>
			<tr>
				<td >
				  <textarea style="width:220px;" name="deptMinisterIdeaContent" id="deptMinisterIdeaContent" ng-model="vm.model.deptMinisterIdeaContent" ng-disabled="vm.model.archivesStatus!='0'"  data-val="true" data-val-required="必填" ></textarea>
                  <span data-valmsg-for="deptMinisterIdeaContent" data-valmsg-replace="true" class="errors"></span>
                 </td>
				<td>
                    <textarea style="width:220px;" name="deptSLeaderIdeaContent" id="deptSLeaderIdeaContent" ng-model="vm.model.deptSLeaderIdeaContent" ng-disabled="vm.model.archivesStatus!='1'" data-val="true" data-val-required="必填" ></textarea>
                   <span data-valmsg-for="deptSLeaderIdeaContent" data-valmsg-replace="true" class="errors"></span>
                    </td>
				<td>
				<textarea style="width:220px;" name="deptDirectorIdeaContent" id="deptDirectorIdeaContent" ng-model="vm.model.deptDirectorIdeaContent" ng-disabled="vm.projectStop.approveStatus!='1'" data-val="true" data-val-required="必填"></textarea>
                   <span data-valmsg-for="deptDirectorIdeaContent" data-valmsg-replace="true" class="errors"></span>
                </td>
			</tr>
			<tr>
				<td width="30%" align="center">查阅时间</td>
				<td ><input type="text" kendo-date-picker k-format="'yyyy-MM-dd'" maxlength="200" class="form-control input-sm " ng-model="vm.model.readDate"
                   ng-disabled="vm.model.hideStatus=='0'" id="readDate" name="readDate"   /></td>
				<td width="30%" align="center">归还时间</td>
				<td><input type="text" kendo-date-picker k-format="'yyyy-MM-dd'" maxlength="200" class="form-control input-sm " ng-model="vm.model.resotoreDate"
                    id="resotoreDate" name="resotoreDate" data-val="true" data-val-required="必填" ng-disabled="vm.projectStop.approveStatus!='1'"  /></td>
			</tr>
			<tr>
				<td width="30%" align="center">档案管理员签名<span class="required">*</span></td>
				<td colspan="3">
					
					<span ng-hide="vm.model.archivesStatus=='1'">
                      <select ng-model="vm.model.archUserName" id="archivesUserName"  ng-options="o as o.displayName for o in vm.userlist" data-val="true" data-val-required="必填"   >		     			     											
				 		<option value="">请选择</option>
					 </select> 
					</span>
					
				 <span data-valmsg-for="archivesUserName" data-valmsg-replace="true" class="errors"></span>
                   </td>
				
			</tr>
		</table>
    </form>
</div>