<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-idea.html'"></div>

<!-- 附件 -->
<#include "/file/common.html"/>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/agendaTasks">任务待办</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>

    <!-- 流程处理页面 -->
    <#include "/archives/dealOption.html"/>

    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" for-div="busi_baseinfo">项目档案借阅审批表</a></li>
        <li><a data-toggle="tab" for-div="flow_diagram">流程图</a></li>
        <li><a data-toggle="tab" for-div="flow_history">处理记录</a></li>
    </ul>

    <div class="tab-content" style="background:white;">
        <div class="tab-pane fade in active" style="background:white;" id="busi_baseinfo">
            <#include "/archives/detail.html"/>
        </div><!-- end tab -->

        <div class="tab-pane fade" style="background:white;" id="flow_diagram">
            <img style="" src="{{vm.picture}}">
        </div><!-- end tab -->

        <div class="tab-pane fade" style="background:white;" id="flow_history">
            <div class="grid" kendo-grid="grid" k-options="vm.historygrid"
                 k-data-source="vm.historygrid.dataSource"></div>
        </div>
        <!-- end tab -->
        <!--打印的模版-->
        <!--项目档案借阅审批表-->
        <div id="busi_baseinfo_templ" style="display: none;"> <#include "/templatePrint/archives/detail.html"/></div>
    </div>
</div>