<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/reviewFee">评审费发放管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>

    <form id="reviewFeeForm" name="reviewFeeForm" class="well well-sm">
        <span class="help-inline">评审费标题：</span>
        <input type="text" ng-model="vm.reviewFee.reviewTitle" operator="like" name="reviewTitle" id="reviewTitle" placeholder="请输入">

        <span class="help-inline">评审费类型：</span>
        <select  operator="eq" name="businessType" id="businessType" ng-model="vm.reviewFee.businessType">
            <option value="">请选择</option>
            <option value="SIGN">项目评审费</option>
            <option value="TOPIC">课题评审费</option>
        </select>
        <button class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="vm.query()">
            <span class="glyphicon glyphicon-search"></span>查询</button>
    </form>

    <script type="text/template" id="columnBtns">
        <@shiro.hasPermission name="reviewFee##put">
        <button class="btn btn-xs btn-primary" ng-click="{0}"><span class="glyphicon glyphicon-pencil"></span>处理</button>
        </@shiro.hasPermission>
        <@shiro.hasPermission name="reviewFee##put">
        <button class="btn btn-xs btn-primary" ng-click="{1}"><span class="glyphicon glyphicon-pencil"></span>查看详情</button>
        </@shiro.hasPermission>
    </script>

    <div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
</div>

<!--评审费发放处理 弹出框-->
<div id="payFromWindow" class="well well-sm" style="background:white; display: none;">
    <form id="payform" name="payform">
        <table class="table table-bordered">
            <tbody>
            <tr >
                <td colspan="4">
                    <button class="btn btn-sm btn-success" ng-click="vm.countTaxes(vm.expertReview)" ng-disabled="vm.isCommit">
                        <span class="glyphicon glyphicon-ok"></span>计算应纳税额
                    </button>
                    <button class="btn btn-sm btn-success" ng-click="vm.savePayment(vm.expertReview)" ng-disabled="vm.isCommit" >
                        <span class="glyphicon glyphicon-ok"></span>保存
                    </button>
                </td>
            </tr>
            <tr>
                <td class="text-right" width="15%">评审费发放日期</td>
                <td width="35%">
                    <div ">
                        <input type="text" style="width: 200px;"
                               class="form-control input-sm " kendo-date-picker k-format="'yyyy-MM-dd'"
                               ng-model="vm.expertReview.payDate" data-val-date="必须为日期">
                    </div>
                </td>
                <td class="text-right" width="15%">评审/函评日期</td>
                <td width="35%">
                    {{vm.expertReview.reviewDate}}
                </td>
            </tr>
            <tr>
                <td class="text-right">评审费发放标题</td>
                <td colspan="3">
                    <div >
                        <input type="text" style="width: 600px;" class="form-control input-sm " ng-model="vm.expertReview.reviewTitle">
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <table class="table table-bordered">
                        <caption class="text-center h3"><strong>{{vm.expertReview.reviewTitle}}</strong></caption>
                        <tr>
                            <td style="max-width: 60px;">序号</td>
                            <td style="max-width: 180px;">姓名</td>
                            <td style="max-width: 360px;">身份证号码</td>
                            <td>开户行/银行账号</td>
                            <td >评审费</td>
                            <td style="max-width: 180px;">应纳税额</td>
                            <td style="max-width: 180px;">合计（元）</td>
                            <td style="max-width: 260px;">是否函评</td>
                        </tr>
                        <tr ng-repeat="x in vm.expertReview.expertSelectedDtoList | filter:{isConfrim:'9',isJoin:'9'}">
                            <td>{{$index+1}}</td>
                            <td>{{x.expertDto.name}}</td>
                            <td>{{x.expertDto.idCard}}</td>
                            <td>{{x.expertDto.bankAccount}}/{{x.expertDto.openingBank}}</td>
                            <td>
                                <div >
                                    <input style="width: 80%;" type="text" name="reviewCost_{{$index}}" id="reviewCost_{{$index}}"
                                           class="form-control input-sm " ng-model="x.reviewCost" data-val-digits="必须输入有效数字"
                                           data-val-regex="评审费用只能为正数" data-val="true" data-val-required="必填"
                                           data-val-regex-pattern="^(([0-9]+\\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\\.[0-9]+)|([0-9]*[1-9][0-9]*))$" >
                                    <span data-valmsg-for="reviewCost_{{$index}}" data-valmsg-replace="true"class="errors"></span>
                                </div>
                            </td>
                            <td> {{x.reviewTaxes}}</td>
                            <td> {{x.totalCost}}</td>
                            <td> <input type="checkbox" ng-disabled="vm.expertReview.state==9"
                                        ng-model="vm.expertReview.expertSelectedDtoList[$index].isLetterRw" ng-true-value="9" ng-false-value="0"
                                        ng-checked="vm.expertReview.expertSelectedDtoList[$index].isLetterR==9"></td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td>{{vm.expertReview.reviewCost}}</td>
                            <td>{{vm.expertReview.reviewTaxes}}</td>
                            <td>{{vm.expertReview.totalCost}}</td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>