@charset "UTF-8";
html,body{
    height: 100%;
}
body{
    background: url(../images/loginpage-bg.jpg) no-repeat left top/contain;
    background-size:100% 100%;
    padding-top:50px;
}
.login-container{
    width: 1280px;
    margin:0 auto;
}
.login-container .logo{
    float: left;
    width: 228px;
    margin-top: 140px;
    margin-left: 200px;
}
.loginform{
    width: 412px;
    height: 275px;
    float: right;
    margin-top: 120px;
    margin-right:200px;
    background:url('../images/loginform-bg.jpg');
    text-align: center;
}
.loginform h3{
    color:#fff;
    font-size:20px;
    margin: 0;
    letter-spacing:2px;
    line-height: 50px;
}
.loginform .input-container{
    position: relative;
    margin:25px 0;
}
.loginform .input-container input{
    background:url('../images/logininput-bg.jpg')no-repeat left top/100% 100%;
    width: 236px;
    height:40px;
    padding-left:10px;
    display: inline-block;
}
.loginform .input-container h4{
    display: inline-block;
    color:#dbffff;
    letter-spacing: 20px;
    font-weight:bolder;
    font-size:20px;
    margin: 0;
    line-height: 40px;
    vertical-align: middle;
    position: relative;
    top:2px;
}
.loginform .input-container input:focus{
    box-shadow: 0 0 10px #44cef3;
}
.loginform .input-container .errors{
    position: absolute;
    right: 52px;
    top: 8px;
    color:#f00;
}

.loginform-footer{
    margin-top: 25px;
    padding:0 50px 0 30px;
    overflow: hidden;
}
.loginform-footer .btn{
    height: 30px;
    width: 100px;
    border-radius:5px;
    background-image: url('../images/loginbtn-bg.jpg');
    background-size:100% 100%;
    font-size:18px ;
    line-height: 30px;
    letter-spacing:10px;
    color:#333;
    padding: 0 0 0 10px;
    float: right;
    font-weight:bolder;
}
.loginform-footer .remember{
    float: left;
    margin-left: 20px;
    color:#dbffff;
    margin-top: 5px;
    cursor:pointer;
}
.loginform-footer .remember input{
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}
.loginform-footer .remember span{
    letter-spacing: 2px;
    vertical-align: bottom;
    font-weight:lighter;
}
.footer{
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
}
@media (max-width: 1400px) and (min-width:1300px){
    body{
        padding-top:20px;
    }
    .loginform{
        margin-top:0;
    }
    .login-container .logo{
        margin-top: 20px;
    }
}