@charset "utf-8";
/* CSS Document */

/****************基础样式开始**************/
body{
    font-family:'微软雅黑';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 14px;
    line-height: 150%;
    font-family: 'Hiragino Sans GB', 'Microsoft Yahei', arial, 宋体, 'Helvetica Neue', Helvetica, STHeiTi, sans-serif;

}

h1,h2,h3,h4,h5,h6,p,i,li,span,div,input,table,tr,td,dl,dt,strong{font-family: 'Hiragino Sans GB', 'Microsoft Yahei', arial, 宋体, 'Helvetica Neue', Helvetica, STHeiTi, sans-serif;}

table{
    /*width:100%;*/
    font-size:14px;
}
table div{
    /* width:100%;*/
    font-size:14px;
}
a{
    font-family:'微软雅黑';
}
*{ padding:0; margin:0;}
ul,li{list-style-type:none;}
.clear{ clear:both; font-size:0;line-height:0; height:1px;}
/*a{ font-size:14px; text-decoration:none; }
a:link{font-size:14px;  text-decoration:none;}
a:visited{font-size:14px;  text-decoration:none;}
a:hover{ font-size:14px; text-decoration:none;}
a:active{font-size:14px;  text-decoration:none;}*/

.fl{ float:left; margin-top:5px;}
.fr{float:right; margin-top:0px; padding-top:5px; position:absolute; right:100px;z-index: 1000;}
img{border:none}
div.head{overflow:hidden;}
div{height:auto}
table {/*border-collapse: collapse;*/border-spacing: 0px;cellspacing:0px; cellpadding:0px;/*border:0*/}
/*div{word-wrap:break-word; word-break:break-all}英文字母强制折行*/
.middle{margin:0 auto;}
.marbtm10{ margin-bottom:10px;}
input,textarea{ outline:none;}

/****************基础样式结束**************/
/* 头部 */
.skin-green .main-header .logo {
    background-color:  #00A65A;
    color: #000;
    overflow: visible;
    height:55px;
}
.skin-green .main-header .logo:hover {
    background-color:   #00A65A;
}
.skin-green .main-header .navbar {
    background: none;
    /*  border-bottom: 1px solid #ccc; */
}
.skin-green .main-header .navbar {
    background: none;
}

.skin-green .main-header .navbar .sidebar-toggle {
    color: #fff;
}
.skin-green .main-header .navbar .nav>li>a {
    color: #0A0A0A;
}
.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #FFFFFF;
    z-index: 800;
}
.content-wrapper{
    border-left: 4px solid #e1e1e1;
}
.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
    /*  background-image:url("../images/black-linen.png");*/
}
.header{
    background-image:url("../images/headerbg.png");
    background-repeat:repeat-y;
    background-size: cover;
}
.navbar-custom-menu > .navbar-nav > li {
    background: rgba(0, 0, 0, 0.14);
}
.navbar-custom-menu a{
    color:#fff;
}
.main-header .logo {
    overflow: visible;
}
.main-header .logo .logo-mini {
    padding-left: 15px;
}
.main-header .sidebar-toggle {
    margin-left: -50px;
    position: absolute;
    top: 55px;
    text-align: center;
    width: 50px;
    height: 47px;
    background: #03004c;
}
.menu{
    background: #03004c;
    margin-top: 5px !important;
}
.menu>a{
    border:0 !important;
    background: none !important;
}
.content-nav{
    height: 47px;
    background: #e6ecf2;
    border-bottom:2px solid #e1e1e1 ;
}
.content-nav ul{
    margin:0;
}
.content-nav ul li{
    float: left;
    width: 175px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    border-right: 1px solid #b5b5b5;

}
.content-nav ul li a{
    color: #03004c;
    font-size: 16px;
}
.sidebar-menu > li > a {
    border-bottom: 1px solid #e1e1e1;
    background: #fff;
    margin-left: 3px;
    color:#222222;
}
.banner{
    margin: 5px 0px;
}
.cs-icon-w{
    padding: 3px 10px;
    margin: 5px;
    background: url("../images/icon1.png");
    background-repeat: no-repeat;
}
.cs-icon-d{
    padding: 0px 10px;
    background: url("../images/icon.png");
    background-repeat: no-repeat;
}
/* 表格 */

/* kendo表格样式自定义初始化 */
/* kendo按钮样式自定义初始化 */
.k-header, .k-grid-header, .k-toolbar, .k-dropdown-wrap, .k-picker-wrap, .k-numeric-wrap, .k-grouping-header, .k-pager-wrap, .k-textbox, .k-button, .k-progressbar, .k-draghandle, .k-autocomplete, .k-state-highlight, .k-tabstrip-items .k-item, .k-panelbar .k-tabstrip-items .k-item, .km-pane-wrapper>.km-pane>.km-view>.km-content {
    /*background-image: url('textures/highlight.png'); */
    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,0) 100%);
    background-image: none,-moz-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,0) 100%);
    background-image: none,-o-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,0) 100%);
    background-image: none,linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
    background-position: 50% 50%;
    background-color: #fff;
}

.k-autocomplete.k-state-default, .k-picker-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-dropdown-wrap.k-state-default {
    /*background-image: url('textures/highlight.png');*/
    background-image: none,-webkit-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,0) 100%);
    background-image: none,-moz-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,0) 100%);
    background-image: none,-o-linear-gradient(top,rgba(255,255,255,0) 0,rgba(255,255,255,0) 100%);
    background-image: none,linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,0) 100%);
    background-position: 50% 50%;
    background-color: #00A0E9;
    color:#fff;.
}





/* kendo表格底部分页样式自定义初始化 */
.k-block, .k-widget, .k-input, .k-textbox, .k-group, .k-content, .k-header, .k-filter-row>th, .k-editable-area, .k-separator, .k-colorpicker .k-i-arrow-s, .k-textbox>input, .k-autocomplete, .k-dropdown-wrap, .k-toolbar, .k-group-footer td, .k-grid-footer, .k-footer-template td, .k-state-default, .k-state-default .k-select, .k-state-disabled, .k-grid-header, .k-grid-header-wrap, .k-grid-header-locked, .k-grid-footer-locked, .k-grid-content-locked, .k-grid td, .k-grid td.k-state-selected, .k-grid-footer-wrap, .k-pager-wrap, .k-pager-wrap .k-link, .k-pager-refresh, .k-grouping-header, .k-grouping-header .k-group-indicator, .k-panelbar>.k-item>.k-link, .k-panel>.k-item>.k-link, .k-panelbar .k-panel, .k-panelbar .k-content, .k-treemap-tile, .k-calendar th, .k-slider-track, .k-splitbar, .k-dropzone-active, .k-tiles, .k-toolbar, .k-tooltip, .k-button-group .k-tool, .k-upload-files {
    border-color: #989898;
}
.k-state-disabled,.k-pager-wrap,.k-link{
    border-color:#00a0e9;
}


.k-grid-content {
    position: relative;
    width: 100%;
    overflow: auto;
    overflow-x: auto;
    overflow-y: scroll;
    zoom: 1;
    min-height: 0;
    border-bottom: 1px solid #fff;

}
.grid{
    /*  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);*/
}


.k-pager-wrap {
    background-color: #d9ecf5 !important;
    color: #00435e;
    border-top: 0px;
    border-bottom: 3px solid #badbea;
}
div.k-grid-footer, div.k-grid-header {
    background: #d9ecf5;
    text-shadow: #ffffff 0 1px 0;
}
.k-filter-row th, .k-grid-header th.k-header {
    font-size: 15px;
}
/* kendo表格样式自定义初始化 */
.k-dropdown .k-input, .k-dropdown .k-state-focused .k-input, .k-menu .k-popup {
    color: #FFFFFF;
}

.k-grid td {
    border: 1px solid #989898;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}

/* 删除按钮的样式 */
.k-grid tbody td>.k-grid-delete {
    margin-top: -.2em;
    margin-bottom: -.2em;
    border: none;
    background-color: #FF9A4A;
}

/* 栏目条样式 */
.k-filter-row th, .k-grid-header th.k-header {
    overflow: hidden;
    border-style: solid;
    border-width: 0 0 1px 1px;
    padding: .5em .6em .4em .6em;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    font-weight: bold;
    color: #000;
}

.k-icon{
    /*background-image: url('../libs/kendoui/BlueOpal/sprite2.png');*/
}

.k-i-close,.k-i-arrow-e,.k-i-seek-e,.k-i-arrow-w,.k-i-seek-w{
    background-image: url('../libs/kendoui/BlueOpal/sprite.png');
}
.k-header{
    background: none;
}
.k-button {
    background:none;
    color: #fff;
    border-color: #00A0E9;
    background-color: #00A0E9;
}

/*adminlet-table线条修改*/
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #989898;
}



/* 发文表单基本样式 */
.newpaper .form-group, .newpaper .form-group p{overflow:hidden;    margin: 0px; padding: 2px;}
.newpaper .col-xs-2{  text-align: right;}
.newpaper .box-body{margin:auto;}
.pro_title {
    font-size: 14px;
    font-family: "微软雅黑";
}
.pro_title_1 {
    font-size: 12px;
    font-weight: bold;
}
.list_text {
    font-size: 12px;
}
.conttent_list table{border-right:1px solid #000;border-bottom:1px solid #000; background:#fff;}
.conttent_list table td{
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    padding: 5px;
    word-break:break-all;
    word-wrap:break-word;
}

.text_input {
    border: 1px solid #0CF;
}
.conttent_list table tr .list_text .waring {
    color: #F30;
}
.waring {
    color: #F30;
}
.textarea_list {
    margin: 10px;
    height: 120px;
    width: 400px;
}
.conttent_list table{
    margin:10px;
    margin:auto;
    border:1px solid #000;
}
.filerbox{
    width:595px;
    padding:3px;
    margin:10px auto;
    border:1px solid #ccc;
    overflow:hidden;
}

.filerbox a{font-weight: bold;}

.bton {
    margin: auto;
}
.conttent_list table tr .list_text .pro_title_1 .list_text {
    font-weight: normal;
}
.bottom_btn {
    text-align: center;
}
.m-c{ margin:10px auto;}

.p1{ font-size:12px;}
.p2{ font-size:14px;}
.p3{ font-size:16px;}
.p4{ font-size:18px;}
.p5{ font-size:24px;}
.p6{ font-size:30px;}
.p7{ font-size:36px;}

.p-y{ font-family:"微软雅黑";}
.text_litter{width:60px;}


.pb{ font-weight:bold;}
.p-red{color:red;}
.p-h{color:#ccc;}
.p-blue{color:#3C8DBC;}
.pc{ text-align:center;}
.pd{text-align:justify; text-justify:inter-ideograph;}
.m-c-10{ margin:10px auto;}
.m-c-15{ margin:15px auto;}
.m-c-20{ margin:20px auto;}
.p-line{ line-height:24px;}
.p-sp{ letter-spacing: 7px; line-height:32px; width:500px; margin:auto;}
.p-ind{text-indent:40px;}


.conttent_list .formAlignRight {
    text-align: center;
    color: #666;
}

/* 表单结束 */

/*提示框优先*/
.modal {
    z-index: 20000;
}
/* audit */
.btn_add{
    background: #00A0E9;
    border: 0px;
    font-weight: bold;
    padding: 5px 6px;
    color: #fff;
    border-radius: 80px;
}
.btn_remove{
    background: #F39C12;
    border: 0px;
    font-weight: bold;
    padding: 5px 6px;
    color: #fff;
    border-radius: 80px;
}
.btn_remove:hover{background:#BB7403;}
.btn_add:hover{background:#0174A8;}
.breadcrumb1,.breadcrumb2,.breadcrumb3{background:#F5F5F5;padding:10px;overflow:hidden;    border: 1px solid #ccc;border-top:0px;border-bottom:0px; }
.breadcrumb1{border-top: 1px solid #ccc;}
.breadcrumb3{border-bottom: 1px solid #ccc;}

/* loginpage */
.cared a{
    color:#000;
    font-size: 14px;
}
.cared .small-box .icon{
    top: 10px;
    right: 15px;
    font-size: 70px;
}
.cared .small-box .icon:hover{
    font-size: 60px;
    transition: font-size 1s;
    -moz-transition: font-size 1s;	/* Firefox 4 */
    -webkit-transition: font-size 1s;	/* Safari 和 Chrome */
    -o-transition: font-size 1s;
}
.cared .box{
    border: 1px solid #c7c7c7;
    min-height: 280px;
    border-radius: 0px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1);
}
.cared .bg-green{
    background-color: #80c269 !important;
}
.cs-icon-r{
    border-radius: 40px;
    color:#ffae00;
    border: 1px solid #ffae00;
    padding: 5px;
    margin: 5px;

}
.box-hide{
    display: none;
}
.box-show{
    display: block;
}
.sidebar-menu .treeview-menu > li > a {
    color: #03004c;
    padding-left: 32px;
    margin: 0px;
}
/*.sidebar-menu .treeview-menu > li > a:last-child{
    border-bottom: 1px solid #e1e1e1;
}*/
.sidebar-menu .treeview-menu > li > a:hover{
    color: #222222;
    font-weight: bold;
}
.active .title{
    font-weight: bold;
}
.cs-active{
    background: #c7d1e2;
}
.text-left{
    text-align: left;
}
.treeview-menu{
    background: #fff;
}
.select-sm{
    line-height: inherit;
}
/*折叠后二级菜单*/
@media (min-width: 768px){
    .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right), .sidebar-mini.sidebar-collapse .sidebar-menu > li:hover > .treeview-menu {
        background: #e6ecf2;;
    }
}


/*打印样式*/
.print-hide{
    display: none;
}
.print-content{
    margin-left: 0;
    border: 0px;
}
.print-content .content-nav{
    display: none;
}
.print-content .well {
    border:0px;
    -webkit-box-shadow: none;
    box-shadow:none;
}

.print-content .well-print{
    display: none !important;
}
.print-content .print-contrl{
    border: 0px ;
    background: transparent;
}
.print-content .table-responsive{
    overflow: visible !important;
    max-height: none !important;
}
div.k-window-content {
    border-color: #fff;
    border-top-color: #d9ecf5;
}
.k-window-titlebar{
    border-top-style:solid;
    border-top-color: #fff !important;
    border-top-width: 1px;
    background: #f1f1f1;
    line-height: 20px;
}
div.k-window{
    border:1px solid #fff;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.k-window-titlebar .k-window-actions {
    padding-top: .2em;
}

/*调整打印样式*/
.print-table{
    width: 100%;
}
.print-table .title{
    font-family: simun;
    text-align: center;
    font-size:24px;
    font-weight: 500;
    line-height:40px;
}
.print-table th{
    text-align: center;
}
.print-table th,
.print-table td{
    border:1px solid #000;
    border-collapse:collapse;
    vertical-align: middle;
    padding:4px 10px;
}
.print-table td:first-child{
    text-align: center;
    padding:5px 0;
}
.print-table .tr-hidden td{
    border:none;
    height:0;
    paddign:0;
    margin: 0;
}
.print-table .child-table td{
    padding:5px 0;
}
.num{
    width: 20px;
    height: 20px;
    background: #fff;
    border:1px solid #000;
    outline: none;
    text-align: center;
}
.child-table{
    width: 100%;
}
.child-table td{
    border:none;
    text-align: center;
}
.print-table  input[type="checkbox"] {
    position: relative;
    -webkit-appearance: none;  /*清除复选框默认样式*/
    border:1px solid #000;
    height: 20px;
    width: 20px;
    vertical-align: middle;
    text-align: center;
    margin:0;
}
.print-table input[type="checkbox"]:checked:before{
    content:'√';
    position: absolute;
    left: 2px;
    top: -4px;
    font-size:20px;
}
@media print {
    .print-table{
        margin-top:-40px;
    }
    .well{
        margin:0 !important;
    }
    .print-table .child-table .printing-td {
        text-align: left;
    }
}
#sign_history .k-grid-content{
    overflow: hidden;
    overflow-x:auto;
}
#sign_history .k-grid-header{
    padding-right:0!important;
}
#sign_history table{
    border-collapse: collapse;
}
#sign_history table th{
    line-height: 30px;
}
#sign_history table th,
#sign_history table td{
    border:1px solid #000;
    border-collapse:collapse!important;
    vertical-align: middle;
    padding:4px 10px;
}