<#assign path=request.contextPath/>
<meta charset="UTF-8">

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li>其他</li>
        <li class="active">个人代办设置</li>
    </ol>
    <table class="table table-bordered  dataTable">
        <tr>
            <td colspan="6">
                <h4><strong>代办设置</strong><span style="font-size: 14px;">【设置用户代办之后，流转给你的任务将会自动转给代办人处理！】</span></h4>
            </td>
        </tr>
        <tr>
            <td class="text-right" style="width: 20%;">
                当前待办人：
            </td>
            <td colspan="5">
                <div ng-if="vm.model.takeUserId">
                    <strong>{{vm.taskUserName}} </strong>
                </div>
                <div ng-if="!vm.model.takeUserId">
                    <span>无</span>
                </div>
            </td>
        </tr>
        <tr>
            <td class="text-right">
                代办人选择：
            </td>
            <td colspan="5">
                <select style="width: 150px;" ng-model="vm.takeUserId">
                    <option ng-repeat="x in vm.takeUserList |filter:{jobState:'t'}" value="{{x.id}}"
                            ng-selected="x.id == vm.model.takeUserId">{{x.displayName}}
                    </option>
                </select>
                <button class="btn btn-sm btn-success" ng-click="vm.saveTakeUser()" ng-disabled="vm.model.takeUserId">
                    <span class="glyphicon glyphicon-ok"></span>保存
                </button>
                <button class="btn btn-sm btn-warning" ng-click="vm.cancelTakeUser()"
                        ng-disabled="!vm.model.takeUserId"><span class="glyphicon glyphicon-remove"></span>取消代办
                </button>
            </td>
        </tr>
        <tr ng-if="vm.ruProcessTaskList">
            <td colspan="6">
                <h4><strong>待办项目列表</strong><span style="font-size: 14px;">【转办是把当前属于自己的任务转给设置的代办人处理！】</span></h4>
            </td>
        </tr>
        <tr ng-if="vm.ruProcessTaskList">
            <td colspan="6">
                <table class="table table-bordered">
                    <tr class="active">
                        <td>序号</td>
                        <td>项目名称</td>
                        <td>项目阶段</td>
                        <td>办理环节</td>
                        <td>签收日期</td>
                        <td>剩余工作日</td>
                        <td>操作</td>
                    </tr>
                    <tr ng-repeat="pt in vm.ruProcessTaskList">
                        <td>{{$index + 1}}</td>
                        <td>{{pt.projectName}}</td>
                        <td>{{pt.reviewStage}}</td>
                        <td>{{pt.nodeNameValue}}</td>
                        <td>{{pt.signDate}}</td>
                        <td>{{pt.surplusDays}}</td>
                        <td>
                            <Button class="btn btn-xs btn-success" ng-click="vm.transTask(pt.taskId)">流程转办</Button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr ng-if="vm.ruTaskList">
            <td colspan="6">
                <h4><strong>待办任务列表</strong><span style="font-size: 14px;">【转办是把当前属于自己的任务转给设置的代办人处理！】</span></h4>
            </td>
        </tr>
        <tr ng-if="vm.ruTaskList">
            <td colspan="6">
                <table class="table table-bordered">
                    <tr class="active">
                        <td>序号</td>
                        <td>任务名称</td>
                        <td>办理环节</td>
                        <td>当前处理人</td>
                        <td>流程类别</td>
                        <td>操作</td>
                    </tr>
                    <tr ng-repeat="rt in vm.ruTaskList">
                        <td>{{$index + 1}}</td>
                        <td>{{rt.instanceName}}</td>
                        <td>{{rt.nodeNameValue}}</td>
                        <td>{{rt.displayName}}</td>
                        <td>{{rt.processName}}</td>
                        <td>
                            <Button class="btn btn-xs btn-success" ng-click="vm.transTask(rt.taskId)">转办</Button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr >
            <td colspan="6">
                <h4><strong>代办记录</strong></h4>
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <form id="searchform" name="searchform">
                    <input name="agentUserId" type="hidden" value="${CURRENT_USER.id}" />
                    <div style="padding: 5px;">
                        <span class="help-inline">流程名称：</span>
                        <input type="text" ng-model="vm.querymodel.flowName" operator="like" name="flowName"
                               id="flowName" placeholder="请输入">
                        <span class="help-inline">环节名称：</span>
                        <input type="text" ng-model="vm.querymodel.nodeNameValue" operator="like" name="nodeNameValue"
                               id="nodeNameValue" placeholder="请输入">
                        <span class="help-inline" style="margin-left:10px;">原处理人</span>
                        <input type="text" ng-model="vm.querymodel.userName" operator="like" name="userName"
                               id="userName" placeholder="请输入">
                        <button class="btn btn-sm btn-primary" ng-click="vm.queryAgentList()" ng-disabled="vm.isSubmit">
                            <span class="glyphicon glyphicon-search"></span>查询
                        </button>
                        <button class="btn btn-sm btn-primary" ng-click="vm.formReset()">
                            <span class="glyphicon glyphicon-repeat"></span>重置
                        </button>
                    </div>
                </form>
                <div id="agentGrid" class="grid" kendo-grid="grid" k-options="vm.agentGridOptions"></div>
            </td>
        </tr>
    </table>
</div>