<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-upload.html'"></div>

<div class="well well-sm" style="background:white;">
    <div class="toolbar">
        <button class="btn btn-sm btn-success" ng-click="vm.create()" ng-disabled="vm.isCommit"><span
                class="glyphicon glyphicon-ok"></span>保存
        </button>
        <a class="btn btn-sm btn-danger" ng-click="backtoflow()"><span class="glyphicon glyphicon-chevron-left"></span>返回流程</a>
        <button class="btn btn-sm btn-primary" ng-click="vm.clickUploadBt();" id="upload_file_bt">上传附件</button>
        <button class="btn btn-sm btn-primary" ng-click="vm.clickDetailBt();" id="detail_file_bt">查看附件</button>
    </div>
    <!-- 归档 -->
    <!--S 编辑页面/项目概算/进口设备/设备清单（进口）/设备清单（国产） -->
    <!--  s form -->
    <form id="fileRecord_form" name="fileRecord_form">
        <div id="fileProjcetIdeaEdit_xmjys" ng-if="vm.fileRecord.fileReviewstage=='项目建议书'" ng-include
             src="'${path}/contents/app/fileRecord/fileRecordEdit/fileProjcetIdeaEdit.html'"></div>
        <div id="fileFeasibilityEdit_kxxyj" ng-if="vm.fileRecord.fileReviewstage=='可行性研究报告'" ng-include
             src="'${path}/contents/app/fileRecord/fileRecordEdit/fileFeasibilityEdit.html'"></div>
        <div id="filecapitalAppReportEdit_zjsq" ng-if="vm.fileRecord.fileReviewstage=='资金申请报告'" ng-include
             src="'${path}/contents/app/fileRecord/fileRecordEdit/filecapitalAppReportEdit.html'"></div>
        <div id="fileProjcetEdit_xmgs" ng-if="!vm.isassistproc && vm.fileRecord.fileReviewstage=='项目概算'" ng-include
             src="'${path}/contents/app/fileRecord/fileRecordEdit/fileProjcetEdit.html'"></div>
        <div id="fileProjcetEdit_xmgs_xs" ng-if="vm.isassistproc && vm.fileRecord.fileReviewstage=='项目概算'" ng-include
             src="'${path}/contents/app/fileRecord/fileRecordEdit/fileProjcetEditXS.html'"></div>
        <div id="fileForeignEdit_jksb" ng-if="vm.fileRecord.fileReviewstage=='进口设备'" ng-include
             src="'${path}/contents/app/fileRecord/fileRecordEdit/fileForeignEdit.html'"></div>
        <div id="fileRecordEdit_sbqd"
             ng-if="vm.fileRecord.fileReviewstage=='设备清单（国产）' ||vm.fileRecord.fileReviewstage=='设备清单（进口）'" ng-include
             src="'${path}/contents/app/fileRecord/fileRecordEdit/fileDomesticEdit.html'"></div>
        <!--  <div ng-show="vm.fileRecord.fileReviewstage=='项目建议书'" ng-include src="'${path}/contents/app/fileRecord/fileRecordEdit/fileDomesticEdit.html'"></div>  -->
    </form> <!--  end form -->
    <!--E 编辑页面/项目概算/进口设备/设备清单（进口）/设备清单（国产） -->

    <!--S 归档打印模板  引入-->
    <div id="fileProjcetIdeaEdit_xmjys_templ" ng-if="vm.fileRecord.fileReviewstage=='项目建议书'" style="display: none;">
        <#include "/templatePrint/filerecord/fileProjectDetailXmjysl.html"/>
    </div>
    <div id="fileFeasibilityEdit_kxxyj_templ" ng-if="vm.fileRecord.fileReviewstage=='可行性研究报告'" style="display: none;">
        <#include "/templatePrint/filerecord/fileProjectDetailKxxyjbg.html"/>
    </div>
    <div id="fileProjcetEdit_xmgs_templ" ng-if="!vm.isassistproc && vm.fileRecord.fileReviewstage=='项目概算'"
         style="display: none;">
        <#include "/templatePrint/filerecord/fileProjectDetailXmgs.html"/>
    </div>
    <div id="filecapitalAppReportEdit_zjsq_templ" ng-if="vm.fileRecord.fileReviewstage=='资金申请报告'"
         style="display: none;">
        <#include "/templatePrint/filerecord/capitalAppReportZjsq.html"/>
    </div>
    <div id="fileForeignEdit_jksb_templ" ng-if="vm.fileRecord.fileReviewstage=='进口设备'" style="display: none;">
        <#include "/templatePrint/filerecord/fileRecordForeignJksb.html"/>
    </div>
    <div id="fileRecordEdit_sbqd_templ"
         ng-if="vm.fileRecord.fileReviewstage=='设备清单（国产）' ||vm.fileRecord.fileReviewstage=='设备清单（进口）'"
         style="display: none;">
        <#include "/templatePrint/filerecord/fileProjectDetailSbqd.html"/>
    </div>
    <!--E 归档打印模板  引入-->

</div>