<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div class="well well-sm " style="background: white;">
    <div class="toolbar">
        <button class="btn btn-sm btn-success" ng-click="vm.commitApprove()"><span class="glyphicon glyphicon-ok"></span>发起流程</button>
        <go-back></go-back>
    </div>
    <form id="form" name="form">
        <table class="table table-bordered">
            <caption class="text-center"><h3><strong>评审中心优秀评审报告申请表</strong></h3></caption>
            <tr>
                <td class="text-center" width="20%">
                    项目名称
                </td>
                <td colspan="3">
                    {{vm.model.projectName}}
                </td>
            </tr>

            <tr>
                <td class="text-center" >
                    申报标题<span class="required">*</span>
                </td>
                <td colspan="3">
                    <input type="text" maxlength="200" name="appraiseReportName" id="appraiseReportName" style="width: 80%;"
                           ng-model="vm.model.appraiseReportName" data-val="true" data-val-required="必填"/>
                    <span data-valmsg-for="appraiseReportName" data-valmsg-replace="true"
                          class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    申请人<span class="required">*</span>
                </td>
                <td>
                    {{vm.model.proposerName}}
                </td>
                <td class="text-center"  width="20%">
                    申请时间
                </td>
                <td class="text-center" width="30%">
                    <input type="text" name="proposerTime" id="proposerTime" style="width: 55%;"
                           ng-disabled="true" ng-model="vm.model.proposerTime" kendo-date-picker
                           k-format="'yyyy-MM-dd'" data-val="true" data-val-required="必填"/>

                    <span data-valmsg-for="proposerTime" data-valmsg-replace="true"
                          class="errors"></span>
                </td>
            </tr>

            <tr>
                <td class="text-center">
                    申请原因
                    <span class="required">*</span>
                </td>
                <td colspan="3">
                    <textarea rows="3" name="appraiseCause" id="appraiseCause" style="width: 98%"
                              ng-model="vm.model.appraiseCause" data-val="true" data-val-required="必填"></textarea>

                    <span data-valmsg-for="appraiseCause" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    部长审批
                </td>
                <td colspan="3">
                    <textarea rows="3" name="ministerOpinion" id="ministerOpinion" style="width: 98%"
                              ng-model="vm.model.ministerOpinion" ng-disabled="true"></textarea>
                </td>
            </tr>
            <tr>
                <td class="text-center">
                    综合部审批
                </td>
                <td colspan="3">
                    <div style=" min-height: 50px;"></div>
                </td>
            </tr>
        </table>
    </form>
</div>