<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div ng-include src="'${path}/contents/app/reviewProjectAppraise/approveWindow.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/reviewProjectAppraiseList">优秀评审报告审批列表</a></li>
    </ol>

    <form id="form" name="form">
        <script type="text/template" id="columnBtns">
            <@shiro.hasPermission name="reviewProjectAppraise##put">
            <a class="btn btn-xs btn-primary" href="#/approveWindow/{0}/{1}/{2}"><span class="glyphicon glyphicon-pencil"></span>处理</a>
            </@shiro.hasPermission>
        </script>
    </form>

    <div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>


</div>


