<#assign path=request.contextPath/>
<meta charset="UTF-8">
<link href="${path}/contents/libs/zTree/css/zTreeStyle/zTreeStyle.css"
	rel="stylesheet" />
<script src="${path}/contents/libs/zTree/js/jquery.ztree.all.min.js"></script>

<div ng-include src="'/contents/app/common/dialog-alert.tmpl.html'"></div>

<div class="well well-sm" style="background: white;">
	<ol class="breadcrumb">
		<li><a href="/admin/index#/">管理首页</a></li>
		<li class="active">修改密码</li>
	</ol>
	<form id="form" name="form">
		<div class="toolbar">
			<a class="btn btn-sm btn-primary" href="/admin/index#/"><span
				class="glyphicon glyphicon-chevron-left"></span>返回</a>
			<button class="btn btn-sm btn-success" ng-click="vm.changePwd()"
				ng-disabled="vm.isSubmit">
				<span class="glyphicon glyphicon-ok"></span>更新
			</button>
		</div>
		<table style="width: 100%">
			<tr>
				<td class="formAlignRight" style="width: 150px;"></td>
				<td style="width: 400px;"><span class="errors">{{vm.message}}</span></td>
				<td></td>
			</tr>


			<tr ng-hide="vm.isUpdate">
				<td class="formAlignRight">密码： <span class="required">*</span></td>
				<td><input type="password" maxlength="200"
					class="form-control input-sm " ng-model="vm.model.password "
					id="password" name="password" data-val="true"
					data-val-required="必填"></td>
				<td><span data-valmsg-for="password" data-valmsg-replace="true"
					class="errors"></span></td>
			</tr>
			<tr ng-hide="vm.isUpdate">
				<td class="formAlignRight">确认密码： <span class="required">*</span></td>
				<td><input type="password" maxlength="200"
					class="form-control input-sm " ng-model="vm.model.passwordConfirm "
					id="passwordConfirm" name="passwordConfirm" data-val="true"
					data-val-required="必填" data-val-equalto="两次密码不一致"
					data-val-equalto-other="password"></td>
				<td><span data-valmsg-for="passwordConfirm"
					data-valmsg-replace="true" class="errors"></span></td>
			</tr>


		</table>
	</form>
</div>