<#assign path=request.contextPath/>
<meta charset="UTF-8">

<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/bookBuyList">图书管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <form id="form" name="form">
        <div class="toolbar">
            <a class="btn btn-sm btn-primary" href="#/bookBuy"><span class="glyphicon glyphicon-chevron-left"></span>返回</a>
            <button class="btn btn-sm btn-success" ng-click="vm.create()" ng-disabled="vm.isSubmit"
                    ng-hide="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>创建
            </button>
            <button class="btn btn-sm btn-success" ng-click="vm.update()" ng-disabled="vm.isSubmit"
                    ng-show="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>更新
            </button>
        </div>
        <table style="width:100%">
            <tr>
                <td class="formAlignRight" style="width:150px;"></td>
                <td style="width:400px;"><span class="errors">{{vm.message}}</span></td>
                <td></td>
            </tr>
            <tr>
                <td class="formAlignRight">booksBarCode：</td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.booksBarCode"
                           id="booksBarCode" name="booksBarCode"  />
                </td>
                <td><span data-valmsg-for="booksBarCode" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">booksCode：</td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.booksCode"
                           id="booksCode" name="booksCode"  />
                </td>
                <td><span data-valmsg-for="booksCode" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">booksName：</td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.booksName"
                           id="booksName" name="booksName"  />
                </td>
                <td><span data-valmsg-for="booksName" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">booksPrice：</td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.booksPrice"
                           id="booksPrice" name="booksPrice"  />
                </td>
                <td><span data-valmsg-for="booksPrice" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">booksType：</td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.booksType"
                           id="booksType" name="booksType"  />
                </td>
                <td><span data-valmsg-for="booksType" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">professionalType：</td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.professionalType"
                           id="professionalType" name="professionalType"  />
                </td>
                <td><span data-valmsg-for="professionalType" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">storePosition：</td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.storePosition"
                           id="storePosition" name="storePosition"  />
                </td>
                <td><span data-valmsg-for="storePosition" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">buyer：</td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.buyer"
                           id="buyer" name="buyer"  />
                </td>
                <td><span data-valmsg-for="buyer" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">publishingCompany：</td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.publishingCompany"
                           id="publishingCompany" name="publishingCompany"  />
                </td>
                <td><span data-valmsg-for="publishingCompany" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">bookNo：</td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.bookNo"
                           id="bookNo" name="bookNo"  />
                </td>
                <td><span data-valmsg-for="bookNo" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">author：</td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.author"
                           id="author" name="author"  />
                </td>
                <td><span data-valmsg-for="author" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">publishingTime：</td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.publishingTime"
                           id="publishingTime" name="publishingTime"  />
                </td>
                <td><span data-valmsg-for="publishingTime" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">bookNumber：</td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.bookNumber"
                           id="bookNumber" name="bookNumber"  />
                </td>
                <td><span data-valmsg-for="bookNumber" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
        </table>
    </form>
</div>