<meta charset="UTF-8">
<!--S 借书信息弹窗 -->
<div id="borrowBookWindow" style="margin:0px 20px 0px 10px;background:white;display:none;">
    <form id="bookForm" name="bookForm">
        <table class="table table-bordered">
            <tr>
                <input type="hidden"  id="businessId"/>
                <td class="formAlignRight">图书编号</td>
                <td >111</td>
                <td class="formAlignRight">图书名称</td>
                <td>
                    222
                </td>
            </tr>
            <tr>
                <td class="formAlignRight" width="10%">借书人</td>
                <td>
                    333
                </td>
                <td class="formAlignRight" width="10%">借书数量</td>
                <td>
                    55
                </td>
            </tr>
            <tr>
                <td class="formAlignRight" width="10%">借书日期</td>
                <td>
                    333
                </td>
                <td class="formAlignRight" width="10%">应还日期</td>
                <td>
                    55
                </td>
            </tr>
        </table>
    </form>
</div>
<!--E 借书信息弹窗 -->

