<#assign path=request.contextPath/>
<meta charset="UTF-8">

<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/listDept">处室管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <form id="form" name="form">
        <div class="toolbar">
            <a class="btn btn-sm btn-primary" href="#/listDept"><span class="glyphicon glyphicon-chevron-left"></span>返回</a>
            <button class="btn btn-sm btn-success" ng-click="vm.create()" ng-disabled="vm.isSubmit"
                    ng-hide="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>创建
            </button>
            <button class="btn btn-sm btn-success" ng-click="vm.update()" ng-disabled="vm.isSubmit"
                    ng-show="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>更新
            </button>
        </div>
        <table style="width:100%">
            <tr>
                <td class="formAlignRight" style="width:150px;"></td>
                <td style="width:400px;"><span class="errors">{{vm.message}}</span></td>
                <td></td>
            </tr>
            <tr>
                <td class="formAlignRight">处室名称：</td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.deptName" id="deptName" name="deptName"  data-val="true" data-val-required="必填"/>
                </td>
                <td><span data-valmsg-for="deptName" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
             <tr>
                <td class="formAlignRight">负责人：</td>
                <td>
                     <select ng-model="vm.model.deptOfficeId" id="deptOfficeId" name="deptOfficeId"class="form-control input-sm " data-val="true" data-val-required="必填">
						<option ng-repeat="o in vm.offiecs" ng-selected="vm.model.deptOfficeId == o.officeID"  value="{{o.officeID}}" >{{o.officeUserName}}</option>
					</select>
                </td>
                <td><span data-valmsg-for="deptUserName" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">地址：</td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.address" id="address" name="address"  data-val="true" data-val-required="必填"/>
                </td>
                <td><span data-valmsg-for="address" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">类型：</td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.deptType" id="deptType" name="deptType"  data-val="true" data-val-required="必填"/>
                </td>
                <td><span data-valmsg-for="deptType" data-valmsg-replace="true" class="errors"></span></td>
            </tr>           
        </table>
    </form>
</div>