<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/dept">办事处</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
   <form id="formDept" name="formDept">
		<div class="well">
			<span class="help-inline">办事处名称：</span> <input type="text"
				ng-model="vm.model.deptName" operator="like" name="deptName" id="deptName"
				placeholder="请输入"> <span class="help-inline"
				style="margin-left: 10px;">联系人：</span> <input type="text"
				ng-model="vm.model.deptUserName" operator="eq" name="deptUserName"
				id="deptUserName" placeholder="请输入"> <a
				class="btn btn-sm btn-primary" style="margin-left: 10px;"
				ng-click="vm.queryDept()">查询</a>
		
	
        <@shiro.hasPermission name="dept##post">
            <a class="btn btn-sm btn-primary" href="#/deptEdit/"><span class="glyphicon glyphicon-plus"></span>新增办事处</a>
        </@shiro.hasPermission>
        <@shiro.hasPermission name="dept##delete">
            <button class="btn btn-sm btn-danger" ng-click="vm.dels()" ng-disabled="vm.isSubmit"><span class="glyphicon glyphicon-remove"></span>批量删除</button>
        </@shiro.hasPermission>
        </div>
        </form>
        <script type="text/template" id="columnBtns">
            <@shiro.hasPermission name="dept##delete">
            <button class="btn btn-xs btn-danger"  ng-click="{0}" ><span class="glyphicon glyphicon-remove"></span>删除</button>
            </@shiro.hasPermission>
            <@shiro.hasPermission name="dept##put">
            <a class="btn btn-xs btn-primary" href="#/deptEdit/{1}"><span class="glyphicon glyphicon-pencil"></span>编辑</a>
            </@shiro.hasPermission>
			<@shiro.hasPermission name="dept#deptId/getDeptOfficeUsers#get"> 
			<a class="btn btn-xs btn-primary" href="#/deptOfficeUser/{2}"><span class="glyphicon glyphicon-pencil"></span>查看成员</a>
 			</@shiro.hasPermission> 
        </script>

        <div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
   
</div>

