<#assign path=request.contextPath/>
<meta charset="UTF-8">
<link href="${path}/contents/libs/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
<script src="${path}/contents/libs/zTree/js/jquery.ztree.all.min.js"></script>

<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/org">部门管理</a></li>       
        <li class="active" >{{vm.title}}</li>
    </ol>
    <form id="form" name="form">
        <div class="toolbar">
            <a class="btn btn-sm btn-primary" href="#/org"><span class="glyphicon glyphicon-chevron-left"></span>返回</a>
            <button class="btn btn-sm btn-success" ng-click="vm.create()" ng-disabled="vm.isSubmit" ng-hide="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>保存</button>
            <button class="btn btn-sm btn-success" ng-click="vm.update()" ng-disabled="vm.isSubmit" ng-show="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>更新</button>
         </div>
        <table style="width:100%">
            <tr>
                <td class="formAlignRight" style="width:150px;"></td>
                <td style="width:400px;"><span class="errors">{{vm.message}}</span></td>
                <td></td>
            </tr>

           
             <tr>
                <td class="formAlignRight">部门标识： <span class="required">*</span></td>
                <td>
                    <input  type="text" maxlength="200" class="form-control input-sm " ng-disabled="vm.isUpdate"  ng-model="vm.model.orgIdentity" id="orgIdentity" name="orgIdentity" data-val="true" data-val-required="必填">
                </td>
                <td><span data-valmsg-for="orgIdentity" data-valmsg-replace="true" class="errors"></span>
                    <span class="errors" ng-show="vm.isOrgExist">部门标识已存在</span></td>
            </tr>
            
            
            <tr>
                <td class="formAlignRight">部门名称： <span class="required">*</span></td>
                <td>
                    <input  type="text" maxlength="200" class="form-control input-sm "  ng-model="vm.model.name " id="name" name="name" data-val="true" data-val-required="必填">
                </td>
                <td>
                <span data-valmsg-for="name" data-valmsg-replace="true" class="errors"></span>
                    <span class="errors" ng-show="vm.isOrgExist">部门已存在</span></td>
            </tr>
            
             <tr>
                <td class="formAlignRight">电话： <span class="required">*</span></td>
                <td>
                    <input  type="text" maxlength="200" class="form-control input-sm "  ng-model="vm.model.orgPhone " id="orgPhone" name="orgPhone" data-val="true" data-val-required="必填">
                </td>
                <td>
                <span data-valmsg-for="orgPhone" data-valmsg-replace="true" class="errors"></span>
                  
                </td>
            </tr>
            <tr>
                <td class="formAlignRight">传真： <span class="required">*</span></td>
                <td>
                    <input  type="text" maxlength="200" class="form-control input-sm "  ng-model="vm.model.orgFax " id="orgFax" name="orgFax" data-val="true" data-val-required="必填">
                </td>
                <td>
                <span data-valmsg-for="orgFax" data-valmsg-replace="true" class="errors"></span>
                    <span class="errors" ng-show="vm.isOrgExist">部门已存在</span>
                </td>
            </tr>
            <tr>
                <td class="formAlignRight">地址： <span class="required">*</span></td>
                <td>
                    <input  type="text" maxlength="200" class="form-control input-sm "  ng-model="vm.model.orgAddress " id="orgAddress" name="orgAddress" data-val="true" data-val-required="必填">
                </td>
                <td>
                <span data-valmsg-for="orgAddress" data-valmsg-replace="true" class="errors"></span>
                    <span class="errors" ng-show="vm.isOrgExist">部门已存在</span>
                </td>
            </tr>
            <tr>
                <td class="formAlignRight">职能： <span class="required">*</span></td>
                <td>
                    <input  type="text" maxlength="200" class="form-control input-sm "  ng-model="vm.model.orgFunction " id="orgFunction" name="orgFunction" data-val="true" data-val-required="必填">
                </td>
                <td>
                <span data-valmsg-for="orgFunction" data-valmsg-replace="true" class="errors"></span>
                    <span class="errors" ng-show="vm.isOrgExist">部门已存在</span>
                </td>
            </tr>
            <tr>
                <td class="formAlignRight">序号： <span class="required">*</span></td>
                <td>
                    <input  type="text" maxlength="200" class="form-control input-sm "  ng-model="vm.model.orgOrder " id="orgOrder" name="orgOrder" data-val="true" data-val-required="必填">
                </td>
                <td>
                	<span data-valmsg-for="orgOrder" data-valmsg-replace="true" class="errors"></span>                
                </td>
            </tr>
            
             <tr>
                <td class="formAlignRight">部门负责人： <span class="required">*</span></td>
                <td>
                    <select ng-model="vm.model.orgDirector" id="orgDirector" name="orgDirector" class="form-control select-sm " data-val="true" data-val-required="必填" >
						<option value="">请选择</option>
						<option ng-repeat="x in vm.OrgDirectorUsers" ng-selected="vm.model.orgDirector == x.id" value="{{x.id}}" >{{x.displayName}}</option> 
					</select>
                </td>  
                <td>
                	<span data-valmsg-for="orgDirector" data-valmsg-replace="true" class="errors"></span>
                </td>              
            </tr>          
             <tr>
                <td class="formAlignRight">主任： <span class="required">*</span></td>
                <td>               
                    <select ng-model="vm.model.orgMLeader" id="orgMLeader" name="orgMLeader"class="form-control select-sm " data-val="true" data-val-required="必填">
						<option value="">请选择</option>
						<option ng-repeat="x in vm.orgMLeaderUsers" ng-selected="vm.model.orgMLeader == x.id" value="{{x.id}}">{{x.displayName}}</option>
					</select> 
                </td>
                <td>
                	<span data-valmsg-for="orgMLeader" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="formAlignRight">分管副主任： <span class="required">*</span></td>
                <td>
                    <select ng-model="vm.model.orgSLeader" id="orgSLeader" name="orgSLeader"class="form-control select-sm " data-val="true" data-val-required="必填">
						<option value="">请选择</option>
						<option ng-repeat="x in vm.orgSLeaderUser" ng-selected="vm.model.orgSLeader == x.id" value="{{x.id}}">{{x.displayName}}</option>
					</select>
                </td>
                <td>
                	<span data-valmsg-for="orgSLeader" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="formAlignRight">排序： <span class="required">*</span></td>
                <td>
                    <input  type="number" maxlength="200" class="form-control input-sm" ng-model="vm.model.sort " id="sort" name="sort" data-val="true" data-val-digits="只能输入数字" data-val-required="必填" value="1">
                </td>
                <td>
                	<span data-valmsg-for="sort" data-valmsg-replace="true" class="errors"></span>                
                </td>
            </tr>
            <tr>
                <td class="formAlignRight">备注： </td>
                <td>
                <textarea class="form-control" maxlength="200" name="remark" id="remark" ng-model="vm.model.remark" style="height:120px;"></textarea>
                </td>
                <td><span data-valmsg-for="remark" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
          
        </table>
    </form>
</div>