<meta charset="UTF-8">
<!-- S 收文上传附件列表 -->
<table class="table table-bordered" style="width: 98%;">
    <tr>
        <td style="width: 150px;" align="center" bgcolor="#eeeeee">文件名称</td>
        <td style="width: 150px;" align="center" bgcolor="#eeeeee">模块</td>
        <td style="width: 200px;" align="center" bgcolor="#eeeeee">分类</td>
        <td style="width: 100px;" align="center" bgcolor="#eeeeee">上传人</td>
        <td style="width: 200px;" align="center" bgcolor="#eeeeee">时间</td>
        <td style="width: 200px;" align="center" bgcolor="#eeeeee">操作</td>
    </tr>
    <tr ng-repeat="x in vm.sysFileDtoList ">
        <td >
            <i class="fa fa-file-image-o" aria-hidden="true" ng-show="x.fileType =='.png' || x.fileType =='.jpg' || x.fileType =='.gif'"></i>
            <i class="fa fa-file-word-o" aria-hidden="true" ng-show="x.fileType =='.docx' || x.fileType =='.doc'"></i>
            <i class="fa fa-file-excel-o" aria-hidden="true" ng-show="x.fileType =='.xlsx' || x.fileType =='.xls'"></i>
            <i class="fa fa-file-pdf-o" aria-hidden="true" ng-show="x.fileType =='.pdf'"></i>
            <a ng-click="vm.commonDownloadSysFile(x.sysFileId)">{{ x.showName }}</a>
        </td>
        <td style="text-align: center;">{{ x.sysfileType }}</td>
        <td style="text-align: center;">{{ x.sysMinType }}</td>
        <td style="text-align: center;">{{ x.createdBy }}</td>
        <td style="text-align: center;">{{ x.createdDate }}</td>
        <td style="text-align: center;">
            <button ng-click="vm.commonDownloadSysFile(x.sysFileId)" id="linksbtn" class="btn btn-xs btn-primary"><i class="fa fa-cloud-download" aria-hidden="true"></i>下载</button>
        </td>
    </tr>

</table>
<!-- E 收文上传附件列表 -->