<#assign path=request.contextPath xmlns="http://www.w3.org/1999/html"/>
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>用户登录</title>

</head>
<body>
<div id="showDetailDiv">
    <table class="table table-bordered">
        <tr>
            <td><B>系统说明:&nbsp;&nbsp;</B>由于IE浏览器版本问题，目前系统只兼容IE9或以上的版本，若你的系统浏览器的IE版本低于IE8，请下载火狐浏览器运行。</td>
        </tr>
        <tr>
            <td>
            <a class="btn btn-xs btn-primary" href="${path}/contents/plugins/explorer.exe" ><i class="fa fa-download" aria-hidden="true"></i>浏览器下载</a></td>
            </td>
        </tr>
    </table>
</div>
</body>
</html>