<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/quartz">定时器配置</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>

    <div class="toolbar">
        <button class="btn btn-sm btn-primary" ng-click="vm.addQuartz()"><span class="glyphicon glyphicon-plus"></span>新增定时器</button>
        <span class="attentionDiv" >
        <i class="fa fa-exclamation-triangle" aria-hidden="true" ></i>
        温馨提示：定时器的设定会影响到系统的正常运行，请不要随意改动！
        </span>
    </div>

    <div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
</div>
<script type="text/template" id="columnBtns">
    <button class="btn btn-xs btn-primary" ng-click="{0}" ><span class="glyphicon glyphicon-pencil"></span>编辑</button>
    <button class="btn btn-xs btn-primary" ng-click="{1}" ng-if="{2}" ><span class="glyphicon glyphicon-pencil"></span>执行</button>
    <button class="btn btn-xs btn-warning" ng-click="{3}" ng-if="{4}")><span class="glyphicon glyphicon-warning-sign"></span>停止</button>
</script>

<!-- S_新增定时器弹窗DIV -->
<div class="well well-sm" style="background:white;display: none;" id="quartz_edit_div">
    <div class="toolbar">
        <button class="btn btn-sm btn-success" ng-click="vm.saveQuartz()" ng-disabled="vm.isSubmit"
                ><span class="glyphicon glyphicon-ok"></span>保存
        </button>
        <button class="btn btn-sm btn-danger" ng-click="vm.colseQuartz()" ng-disabled="vm.isSubmit"
                ><span class="glyphicon glyphicon-ok"></span>关闭
        </button>
    </div>
    <form id="quartz_form" name="form">
        <table class="table table-bordered">
            <tr>
                <td class="text-right" width="20%">定时器名称：<span class="required">*</span></td>
                <td>
                    <input class="form-control input-sm " ng-model="vm.quartz.quartzName" id="quartzName" name="quartzName" style="width:80%;"/>
                    <span data-valmsg-for="quartzName" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-right" >类名：<span class="required">*</span></td>
                <td>
                    <input class="form-control input-sm " ng-model="vm.quartz.className" id="className" name="className"  style="width:80%;"/>
                    <span data-valmsg-for="className" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td class="text-right">表达式：<span class="required">*</span></td>
                <td>
                    <input class="form-control input-sm " ng-model="vm.quartz.cronExpression" id="cronExpression" name="cronExpression"  style="width:80%;"/>
                    <span data-valmsg-for="cronExpression" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            
            <tr>
                <td class="text-right">执行方式：</td>
                <td>
                <select class="form-control input-sm " ng-model="vm.quartz.runWay" 
                           id="runWay" name="runWay"  style="width:80%;" >
                	<option value="0" >手动</option>
                	<option value="9">自动</option>
                
                </select >
               <span data-valmsg-for="isEnable" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="text-right">描述：</td>
                <td>
                    <input class="form-control input-sm " ng-model="vm.quartz.descInfo" id="descInfo" name="descInfo"  style="width:80%;"/>
                    <span data-valmsg-for="descInfo" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
        </table>
    </form>
</div>
<!-- E_新增定时器弹窗DIV -->