<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<link href="${path}/contents/libs/zTree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
<script src="${path}/contents/libs/zTree/js/jquery.ztree.all.min.js"></script>

<!-- 附件 -->
<#include "/file/common.html"/>

<style type="text/css">
    /*.ztree li span.button.ico_docu {*/
    /*background-position: -110px 0;*/
    /*margin-right: 2px;*/
    /*vertical-align: top;*/
    /*}*/
    .ztree li span.button.add {
        margin-left:2px;
        margin-right: -1px;
        background-position:-144px 0;
        vertical-align:top;
    }
</style>
<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/fileLibrary">政策标准库</a></li>
    </ol>
    <div style="width:20%;min-height:800px;border-right:1px solid #888888;float:left;">
        <div class="toolbar">
            <button class="btn btn-sm btn-primary" ng-click="vm.addFolderWindow()">
                <span class="glyphicon glyphicon-plus"></span>新建文件夹
            </button>
            <button class="btn btn-sm btn-danger" ng-click=" vm.deleteFolder()">
                <span class="glyphicon glyphicon-remove"></span>删除文件夹
            </button>
        </div>
        <ul id="zTree" class="ztree"></ul>
    </div>
    <div style="width:80%;min-height:800px;border-right:1px solid #888888;float:left;" >

        <div ng-if="vm.showAddPolicyLibrary"><#include "/fileLibrary/addPolicyLIbrary.html"/></div>

        <div ng-if="vm.showPolicyList"><#include "/fileLibrary/policyFileList.html"/></div>
    </div>
    <div style="clear:both;"></div>

    </form>

</div>


<div style="display: none;"><#include  "/fileLibrary/fileEdit.html"/></div>
