<style>
	.shdffdfsfgdsfsnjfgdsfg{}
	/*宽度*/
	.width_50{width: 50%;}    .width_100{width: 100%;}
	.width_45{width: 45%;}    .width_55{width: 55%;}
	.width_40{width: 40%;}    .width_60{width: 60%;}
	.width_35{width: 35%;}    .width_65{width: 65%;}
	.width_33{width: 33.33%;} .width_67{width: 66.67%;}
	.width_30{width: 30%;}    .width_70{width: 70%;}
	.width_25{width: 25%;}    .width_75{width: 75%;}
	.width_20{width: 20%;}    .width_80{width: 80%;}
	.width_15{width: 15%;}    .width_85{width: 85%;}
	.width_10{width: 10%;}    .width_90{width: 90%;}
	.width_7{width:   7%;}    .width_97{width: 97%;}
	.width_5{width:   5%;}    .width_95{width: 95%;}
	/*高度*/
	.height_50{height: 50%;}    .height_100{height: 100%;}
	.height_45{height: 45%;}    .height_55{height: 55%;}
	.height_40{height: 40%;}    .height_60{height: 60%;}
	.height_35{height: 35%;}    .height_65{height: 65%;}
	.height_33{height: 33.33%;} .height_67{height: 66.67%;}
	.height_30{height: 30%;}    .height_70{height: 70%;}
	.height_25{height: 25%;}    .height_75{height: 75%;}
	.height_20{height: 20%;}    .height_80{height: 80%;}
	.height_15{height: 15%;}    .height_85{height: 85%;}
	.height_10{height: 10%;}    .height_90{height: 90%;}
	.height_7{height:   7%;}    .height_97{height: 97%;}
	.height_5{height:   5%;}    .height_95{height: 95%;}

	/*固定高宽比,必须先在外层套一层div并且给出宽度*/
	.wh_2_1{height:0;padding-bottom:50%;}
	.wh_1_1{height:0;padding-bottom:100%;}
	.wh_1_2{height:0;padding-bottom:200%;}
	.wh_3_4{height:0;padding-bottom:133.33%;}
	.wh_4_3{height:0;padding-bottom:75%;}
	.wh_16_9{height:0;padding-bottom:56.25%;}
	.wh_9_16{height:0;padding-bottom:177.77%;}
	
	/*画圆  正方形变成圆，长方形变成椭圆*/
	.circle {
	    -moz-border-radius: 50%;
	    -webkit-border-radius: 50%;
	    border-radius: 50%;
	}
	
	/*相对位置*/
	.box_center_Y{position:relative; top:50%; transform:translateY(-50%);}
	.box_center_X{position:relative; left:50%; transform:translateX(-50%);}
	.box_center{position:relative; top:50%; left:50%; transform:translate(-50%, -50%);}
	.top_re{position: relative; top:0px;}
	.bottom_re{position: relative; bottom:0px;}
	.left_re{position: relative; left:0px;}
	.right_re{position: relative;padding-right:0%;}
	/*绝对位置*/
	.top_ab{position: absolute; top:0px;}
	.bottom_ab{position: absolute; bottom:0px;}
	.left_ab{position: absolute; left:0px;}
	.right_ab{position: absolute; right:0px;}
	.top_fix{position: fix; top:0px;}
	.bottom_fix{position: fix; bottom:0px;}
	.left_fix{position: fix; left:0px;}
	.right_fix{position: fix; right:0px;}

	/*角度*/
	.rotate_-15{
		transform:rotate(-15deg);
		-ms-transform:rotate(-15deg); /* Internet Explorer */
		-moz-transform:rotate(-15deg); /* Firefox */
		-webkit-transform:rotate(-15deg); /* Safari 和 Chrome */
		-o-transform:rotate(-15deg); /* Opera */
	}
	.rotate_-30{
		transform:rotate(-30deg);
		-ms-transform:rotate(-30deg); /* Internet Explorer */
		-moz-transform:rotate(-30deg); /* Firefox */
		-webkit-transform:rotate(-30deg); /* Safari 和 Chrome */
		-o-transform:rotate(-30deg); /* Opera */
	}
	.rotate_-45{
		transform:rotate(-45deg);
		-ms-transform:rotate(-45deg); /* Internet Explorer */
		-moz-transform:rotate(-45deg); /* Firefox */
		-webkit-transform:rotate(-45deg); /* Safari 和 Chrome */
		-o-transform:rotate(-45deg); /* Opera */
	}
	.rotate_-60{
		transform:rotate(-60deg);
		-ms-transform:rotate(-60deg); /* Internet Explorer */
		-moz-transform:rotate(-60deg); /* Firefox */
		-webkit-transform:rotate(-60deg); /* Safari 和 Chrome */
		-o-transform:rotate(-60deg); /* Opera */
	}
	.rotate_-75{
		transform:rotate(-75deg);
		-ms-transform:rotate(-75deg); /* Internet Explorer */
		-moz-transform:rotate(-75deg); /* Firefox */
		-webkit-transform:rotate(-75deg); /* Safari 和 Chrome */
		-o-transform:rotate(-75deg); /* Opera */
	}
	.rotate_-90{
		transform:rotate(-90deg);
		-ms-transform:rotate(-90deg); /* Internet Explorer */
		-moz-transform:rotate(-90deg); /* Firefox */
		-webkit-transform:rotate(-90deg); /* Safari 和 Chrome */
		-o-transform:rotate(-90deg); /* Opera */
	}
	.rotate_-105{/*旋转90度*/
		transform:rotate(-105deg);
		-ms-transform:rotate(-105deg); /* Internet Explorer */
		-moz-transform:rotate(-105deg); /* Firefox */
		-webkit-transform:rotate(-105deg); /* Safari 和 Chrome */
		-o-transform:rotate(-105deg); /* Opera */
	}
	.rotate_-120{
		transform:rotate(-120deg);
		-ms-transform:rotate(-120deg); /* Internet Explorer */
		-moz-transform:rotate(-120deg); /* Firefox */
		-webkit-transform:rotate(-120deg); /* Safari 和 Chrome */
		-o-transform:rotate(-120deg); /* Opera */
	}
	.rotate_-135{
		transform:rotate(-135deg);
		-ms-transform:rotate(-135deg); /* Internet Explorer */
		-moz-transform:rotate(-135deg); /* Firefox */
		-webkit-transform:rotate(-135deg); /* Safari 和 Chrome */
		-o-transform:rotate(-135deg); /* Opera */
	}
	.rotate_-150{
		transform:rotate(-150deg);
		-ms-transform:rotate(-150deg); /* Internet Explorer */
		-moz-transform:rotate(-150deg); /* Firefox */
		-webkit-transform:rotate(-150deg); /* Safari 和 Chrome */
		-o-transform:rotate(-150deg); /* Opera */
	}
	.rotate_-165{
		transform:rotate(-165deg);
		-ms-transform:rotate(-165deg); /* Internet Explorer */
		-moz-transform:rotate(-165deg); /* Firefox */
		-webkit-transform:rotate(-165deg); /* Safari 和 Chrome */
		-o-transform:rotate(-165deg); /* Opera */
	}
	.rotate_15{/*旋转10度*/
		transform:rotate(15deg);
		-ms-transform:rotate(15deg); /* Internet Explorer */
		-moz-transform:rotate(15deg); /* Firefox */
		-webkit-transform:rotate(15deg); /* Safari 和 Chrome */
		-o-transform:rotate(15deg); /* Opera */
	}
	.rotate_30{
		transform:rotate(30deg);
		-ms-transform:rotate(30deg); /* Internet Explorer */
		-moz-transform:rotate(30deg); /* Firefox */
		-webkit-transform:rotate(30deg); /* Safari 和 Chrome */
		-o-transform:rotate(30deg); /* Opera */
	}
	.rotate_45{
		transform:rotate(45deg);
		-ms-transform:rotate(45deg); /* Internet Explorer */
		-moz-transform:rotate(45deg); /* Firefox */
		-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
		-o-transform:rotate(45deg); /* Opera */
	}
	.rotate_60{/*旋转90度*/
		transform:rotate(60deg);
		-ms-transform:rotate(60deg); /* Internet Explorer */
		-moz-transform:rotate(60deg); /* Firefox */
		-webkit-transform:rotate(60deg); /* Safari 和 Chrome */
		-o-transform:rotate(60deg); /* Opera */
	}
	.rotate_75{
		transform:rotate(75deg);
		-ms-transform:rotate(75deg); /* Internet Explorer */
		-moz-transform:rotate(75deg); /* Firefox */
		-webkit-transform:rotate(75deg); /* Safari 和 Chrome */
		-o-transform:rotate(75deg); /* Opera */
	}
	.rotate_90{
		transform:rotate(90deg);
		-ms-transform:rotate(90deg); /* Internet Explorer */
		-moz-transform:rotate(90deg); /* Firefox */
		-webkit-transform:rotate(90deg); /* Safari 和 Chrome */
		-o-transform:rotate(90deg); /* Opera */
	}
	.rotate_105{/*旋转90度*/
		transform:rotate(105deg);
		-ms-transform:rotate(105deg); /* Internet Explorer */
		-moz-transform:rotate(105deg); /* Firefox */
		-webkit-transform:rotate(105deg); /* Safari 和 Chrome */
		-o-transform:rotate(105deg); /* Opera */
	}
	.rotate_120{
		transform:rotate(120deg);
		-ms-transform:rotate(120deg); /* Internet Explorer */
		-moz-transform:rotate(120deg); /* Firefox */
		-webkit-transform:rotate(120deg); /* Safari 和 Chrome */
		-o-transform:rotate(120deg); /* Opera */
	}
	.rotate_135{
		transform:rotate(135deg);
		-ms-transform:rotate(135deg); /* Internet Explorer */
		-moz-transform:rotate(135deg); /* Firefox */
		-webkit-transform:rotate(135deg); /* Safari 和 Chrome */
		-o-transform:rotate(135deg); /* Opera */
	}
	.rotate_150{/*旋转150度*/
		transform:rotate(150deg);
		-ms-transform:rotate(150deg); /* Internet Explorer */
		-moz-transform:rotate(150deg); /* Firefox */
		-webkit-transform:rotate(150deg); /* Safari 和 Chrome */
		-o-transform:rotate(150deg); /* Opera */
	}
	.rotate_165{
		transform:rotate(165deg);
		-ms-transform:rotate(165deg); /* Internet Explorer */
		-moz-transform:rotate(165deg); /* Firefox */
		-webkit-transform:rotate(165deg); /* Safari 和 Chrome */
		-o-transform:rotate(165deg); /* Opera */
	}
	.rotate_180{
		transform:rotate(180deg);
		-ms-transform:rotate(180deg); /* Internet Explorer */
		-moz-transform:rotate(180deg); /* Firefox */
		-webkit-transform:rotate(180deg); /* Safari 和 Chrome */
		-o-transform:rotate(180deg); /* Opera */
	}
	.rotate_195{
		transform:rotate(195deg);
		-ms-transform:rotate(195deg); /* Internet Explorer */
		-moz-transform:rotate(195deg); /* Firefox */
		-webkit-transform:rotate(195deg); /* Safari 和 Chrome */
		-o-transform:rotate(195deg); /* Opera */
	}
	.rotate_210{
		transform:rotate(210deg);
		-ms-transform:rotate(210deg); /* Internet Explorer */
		-moz-transform:rotate(210deg); /* Firefox */
		-webkit-transform:rotate(210deg); /* Safari 和 Chrome */
		-o-transform:rotate(210deg); /* Opera */
	}
	.rotate_225{
		transform:rotate(225deg);
		-ms-transform:rotate(225deg); /* Internet Explorer */
		-moz-transform:rotate(225deg); /* Firefox */
		-webkit-transform:rotate(225deg); /* Safari 和 Chrome */
		-o-transform:rotate(225deg); /* Opera */
	}
	.rotate_240{
		transform:rotate(240deg);
		-ms-transform:rotate(240deg); /* Internet Explorer */
		-moz-transform:rotate(240deg); /* Firefox */
		-webkit-transform:rotate(240deg); /* Safari 和 Chrome */
		-o-transform:rotate(240deg); /* Opera */
	}
	.rotate_255{
		transform:rotate(255deg);
		-ms-transform:rotate(255deg); /* Internet Explorer */
		-moz-transform:rotate(255deg); /* Firefox */
		-webkit-transform:rotate(255deg); /* Safari 和 Chrome */
		-o-transform:rotate(255deg); /* Opera */
	}
	.rotate_270{
		transform:rotate(270deg);
		-ms-transform:rotate(270deg); /* Internet Explorer */
		-moz-transform:rotate(270deg); /* Firefox */
		-webkit-transform:rotate(270deg); /* Safari 和 Chrome */
		-o-transform:rotate(270deg); /* Opera */
	}
	.rotate_285{
		transform:rotate(285deg);
		-ms-transform:rotate(285deg); /* Internet Explorer */
		-moz-transform:rotate(285deg); /* Firefox */
		-webkit-transform:rotate(285deg); /* Safari 和 Chrome */
		-o-transform:rotate(285deg); /* Opera */
	}
	.rotate_300{
		transform:rotate(300deg);
		-ms-transform:rotate(300deg); /* Internet Explorer */
		-moz-transform:rotate(300deg); /* Firefox */
		-webkit-transform:rotate(300deg); /* Safari 和 Chrome */
		-o-transform:rotate(300deg); /* Opera */
	}
	.rotate_315{
		transform:rotate(315deg);
		-ms-transform:rotate(315deg); /* Internet Explorer */
		-moz-transform:rotate(315deg); /* Firefox */
		-webkit-transform:rotate(315deg); /* Safari 和 Chrome */
		-o-transform:rotate(315deg); /* Opera */
	}
	.rotate_330{
		transform:rotate(330deg);
		-ms-transform:rotate(330deg); /* Internet Explorer */
		-moz-transform:rotate(330deg); /* Firefox */
		-webkit-transform:rotate(330deg); /* Safari 和 Chrome */
		-o-transform:rotate(330deg); /* Opera */
	}
	.rotate_345{
		transform:rotate(345deg);
		-ms-transform:rotate(345deg); /* Internet Explorer */
		-moz-transform:rotate(345deg); /* Firefox */
		-webkit-transform:rotate(345deg); /* Safari 和 Chrome */
		-o-transform:rotate(345deg); /* Opera */
	}
	/*时间角度*/
	.rotate_1s{
		transform:rotate(6deg);
		-ms-transform:rotate(6deg); /* Internet Explorer */
		-moz-transform:rotate(6deg); /* Firefox */
		-webkit-transform:rotate(6deg); /* Safari 和 Chrome */
		-o-transform:rotate(6deg); /* Opera */
	}
	.rotate_2s{
		transform:rotate(12deg);
		-ms-transform:rotate(12deg); /* Internet Explorer */
		-moz-transform:rotate(12deg); /* Firefox */
		-webkit-transform:rotate(12deg); /* Safari 和 Chrome */
		-o-transform:rotate(12deg); /* Opera */
	}
	.rotate_3s{
		transform:rotate(18deg);
		-ms-transform:rotate(18deg); /* Internet Explorer */
		-moz-transform:rotate(18deg); /* Firefox */
		-webkit-transform:rotate(18deg); /* Safari 和 Chrome */
		-o-transform:rotate(18deg); /* Opera */
	}
	.rotate_4s{
		transform:rotate(24deg);
		-ms-transform:rotate(24deg); /* Internet Explorer */
		-moz-transform:rotate(24deg); /* Firefox */
		-webkit-transform:rotate(24deg); /* Safari 和 Chrome */
		-o-transform:rotate(24deg); /* Opera */
	}
	.rotate_5s{
		transform:rotate(30deg);
		-ms-transform:rotate(30deg); /* Internet Explorer */
		-moz-transform:rotate(30deg); /* Firefox */
		-webkit-transform:rotate(30deg); /* Safari 和 Chrome */
		-o-transform:rotate(30deg); /* Opera */
	}
</style>
