/* Empty. Add your own CSS if you like */
/* Empty. Add your own CSS if you like */


body, h2,input{ font-family:"-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", "Microsoft Yahei","Hiragino Sans GB","Heiti SC"}
.pane{ background:#eee}
.border-top-none{ border-top:none !important}
.item-complex.item-icon-right .item-content {
  padding-right: 29px; 
}
.item-icon-right{
  padding-right: 29px; 
}


/*==B:navbar========================*/
.bar-assertive.bar-header{ border-bottom-style:none}
.bar{ background-image:none !important}/*解决iphone的title位置有一条横线的bug*/
/*==E:navbar========================*/


/*==B:background========================*/
.bg-white{ background-color:#fff}
.bg-blue{ background-color:#4a74e0}
.bg-blue-light{ background-color:#6a98f6}
.bg-blue-purple{ background-color:#787cdf}
.bg-purple{ background-color:#b260d0}
.bg-purple-blue{ background-color:#8564e2}
.bg-green{ background-color:#52a975}
.bg-green-light{ background-color:#90cc68}
.bg-green-lake{ background-color:#43a9b2}
.bg-red{ background-color:#d06060}
.bg-red-purple{ background-color:#cb4989}
/*==E:background========================*/


/*==B:icons========================*/
.icons{ display:inline-block; background-size:contain; background-repeat:no-repeat; background-position:50%; width:16px; height:16px}
.icons32{ width:32px; height:32px}
.icons-paper{ background-image:url(../img/icon-paper.png)}
.icons-line-chart{ background-image:url(../img/icon-line-chart.png)}
.icons-search-list{ background-image:url(../img/icon-search-list.png)}
.icons-pie-chart{ background-image:url(../img/icon-pie-chart.png)}
.icons-column-line-chart{ background-image:url(../img/icon-column-line-chart.png)}
.icons-percent{ background-image:url(../img/icon-percent.png)}
.icons-search-percent{ background-image:url(../img/icon-search-percent.png)}
.icons-file{ background-image:url(../img/icon-file.png)}
.icons-search-question{ background-image:url(../img/icon-search-question.png)}
.icons-page-time{ background-image:url(../img/icon-page-time.png)}
.icons-column{ background-image:url(../img/icon-column.png)}
.icons-pie-question{ background-image:url(../img/icon-pie-question.png)}
.icons-writerpaper{background-image: url(../img/10.png);background-size: 18px 20px;}
/*background*/
.icons-bg{ display:inline-block; padding:10px; line-height:0; border-radius:50%}
/*==E:icons========================*/


/*==B:删格========================*/
.row{ padding:0 !important}
.row.row-btn{ padding:10px 0 !important; border-top:1px solid #ddd; border-bottom:1px solid #ddd; background:#fff}
.row.row-btn .col{ display:block; text-decoration:none; padding:10px 15px}
.row.row-btn .col .label{ margin-top:2px; color:#333}
/*边框*/
.grid-border{ border-bottom:1px solid #ddd; margin:0 -1px; background:#fff}
.grid-border .row-btn{ padding:0 !important; margin-top:-1px; margin-bottom:-1px; border-bottom:none !important; background:none !important}
.grid-border .row-btn .col{ border-right:1px solid #dce0e3; border-bottom:1px solid #dce0e3; padding:25px 15px}
/*==E:删格========================*/


/*==B:item-group========================*/
.item-group{ margin-top:-1px}
.item-group .col{ padding:0}
.item-group .item-input{ padding-left:10px}
.item-group .item-select select{ position:static; padding:5px 18px 5px 0; max-width:none; direction:inherit}
.item-group .item-select:after{ right:10px; margin-top:-2px}
/*==E:item-group========================*/


#project-map{ width:100%; height:100%}
.link{ color:#387ef5; text-decoration:none}
.tindent{ text-indent: 2em;}
.table>tbody>tr>td{ border: 1px solid gray}

.item-divider{ background-color:#eee !important; color:#777}

#checkUpdateSpinner svg{
  width: 16px; 
  height: 16px;
}

.tech-support{
  position: fixed; 
  bottom: 0.5em;
  left: 0;
  right: 0;
}
.tech-support a{
  text-align: center; 
}

/** 企业信息、项目信息列表 **/
.info-list .item{
  padding: 10px;
}
 .info-list .item h1, .info-list .item h2, .info-list .item h3, .info-list .item h4, .info-list .item h5, .info-list .item h6, .info-list .item p, .info-list .item-content, .info-list .item-content h1, .info-list .item-content h2, .info-list .item-content h3, .info-list .item-content h4, .info-list .item-content h5, .info-list .item-content h6, .info-list .item-content p, .info-list .item span, .info-list .item strong, .info-list .item div
{
  white-space: normal;
  padding: 0px;
}

.project-list .item-complex .item-content{
  padding: 10px 19px 10px 16px;
}
.list-item-padding10{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

/** 进展分析详细 **/
.biaoti {
  margin: 0px auto;
  width: 100%;
  text-align: center;
  line-height: 27px;
}
.biaoti_b {
  color: rgb(93, 91, 92);
  font-size: 16px;
  font-weight: bold;
}
.biaoti_s {
  color: rgb(176, 176, 176);
  font-size: 12px;
}

/** ionic accordion list **/
.list .item.item-accordion {
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.table-list .item .row div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap !important;
}


/*发文详细*/

.list-per-icon{display: block; width:70px; height: 70px; border-radius: 70px; background: #fe9341;overflow: hidden;text-overflow: clip;line-height: 50px; text-align: center; color: #FFFFFF; padding: 10px;}
.list-per-icon-blue{  border-radius: 30px; overflow: hidden; color: #2da4ff; padding: 5px; }
.list-title{margin-left: 10px; font-size: 16px;}
.list-mesg{margin-left: 10px; color: #fec641;}

.list-line{ border:0;  padding: 0 0 0 16px; /*height: 20px;*/line-height: 15px;
    text-overflow: clip;
    white-space: normal;}
.t-le{color: #bdc3cb; width:100px;}
.item-input .t-rg{color:#313131; font-size: 14px; font-weight: bold;}
.list-date{ display: block; color:#ccc; height: 20px; text-align: right; font-size: 12px;}

.send {
position:relative;
width: 90%;
min-height:70px;
padding: 10px;
margin-left: 20px;
background:#fff;
overflow: ;
border-radius:5px; /* 圆角 */
}

.send .arrow, .send .arrows{
position:absolute;
top:10px;
width:0;
height:0;
font-size:0;
border:solid 8px;
border-color: rgba(0,0,0,0) #FFFFFF rgba(0,0,0,0) rgba(0,0,0,0);
}

.send .arrow{
	left:-16px; /* 圆角的位置需要细心调试哦 */
	border-color: rgba(0,0,0,0) #FFFFFF rgba(0,0,0,0) rgba(0,0,0,0);
}
.send .arrows{
	right:-16px; /* 圆角的位置需要细心调试哦 */
	border-color: rgba(0,0,0,0) rgba(0,0,0,0) rgba(0,0,0,0) #FFFFFF ;
}

.send .list-per-icon{position: absolute;}
.send p{padding-left: 35px;}

.act{background:#faffbd !important;	}

.map_share{font-size: 16px;
    margin-left: 40px;
    color: #387ef5;}
