<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div style="background:white;display: none;" id="auditExportDetail">
    <ul id="myTab" class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" for-div="busi_baseinfo">专家信息</a></li>
        <li><a data-toggle="tab" for-div="busi_workplan">评审过项目</a>
        </li>
    </ul>

    <div class="tab-content" style="background:white;">
        <div class="tab-pane fade in active" style="background:white;" id="busi_baseinfo">
        <#include "/expertReview/expertDetail.html"/>
        </div><!-- end tab -->
        <div class="tab-pane fade" style="background:white;" id="busi_workplan">
        <#include "/expert/reviewProjectList.html"/>
        </div><!-- end tab -->
    <!-- end tab -->
    </div>
</div>

<div id="expertApply" class="well well-sm" style="background:white;margin: auto;overflow: auto">
    <ol class="breadcrumb">
        <li><a>专家库管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>

    <div class="well well-sm">

    <form id="auditform" name="auditform">
        <table style="width:100%; ">
            <tr>
                <td class="text-right" style="width:80px;">专家状态</td>
                <td>
                    <select name="state" operator="eq" >
                        <option value="">请选择</option>
                        <option value="1">审核中</option>
                        <option value="2">正式专家</option>
                        <option value="3">备选专家</option>
                        <option value="4">已停用</option>
                        <option value="0">已删除</option>
                    </select>
                </td>
                <td class="text-right" style="width:50px;">姓名</td>
                <td>
                    <input name="name" type="text" operator="like"/>
                </td>
                <td class="text-right" style="width:80px;">工作单位</td>
                <td>
                    <input name="comPany" type="text" operator="like"/>
                </td>
                <td class="text-right" style="width:80px;">录入时间</td>
                <td style="width: 260px;">
                    <input style="width: 113px;" name="applyDate" kendo-date-picker k-format="'yyyy-MM-dd'" type="text" operator="ge"/>
                至
                    <input style="width: 113px;" name="applyDate" kendo-date-picker k-format="'yyyy-MM-dd'" type="text" operator="le"/>
                </td>
            </tr>
            <tr>
                <td class="text-right">学位</td>
                <td>
                    <select operator="eq" name="degRee">
                        <option value="">请选择</option>
                        <option ng-repeat="x in DICT.DEGREE.dicts" value="{{x.dictName}}">{{x.dictName}}</option>
                    </select>
                </td>

                <td class="text-right">职务</td>
                <td>
                    <input name="job" type="text" operator="like"/>
                </td>
                <td class="text-right">职称</td>
                <td>
                    <select operator="eq" name="post">
                        <option value="">请选择</option>
                        <option ng-repeat="x in DICT.POST.dicts" value="{{x.dictName}}">{{x.dictName}}</option>
                    </select>
                </td>
                <td class="text-right">
                    <button class="btn btn-sm btn-primary" ng-click="vm.searchAudit()" ng-disabled="vm.isSubmit"><span
                            class="glyphicon glyphicon-search"></span>查询
                    </button>
                </td>
                <td>
                </td>
            </tr>
        </table>
    </form>
    </div>

    <table style="width:100%;">
        <tr>
            <td rowspan="4" valign="top" >
                <p class="label bg-yellow disabled color-palette">审核中</p>
                <div id="grid1" class="grid1" kendo-grid="grid1" k-options="vm.gridOptions1"></div>
            </td>
            <td class="text-center" style="height:200px;width:60px;">
                <p><input class="btn_add" ng-click="vm.auditToOfficial()" ng-disabled="vm.isSubmit" type="button"
                          value="-&gt;"/></p>
                <p><input class="btn_remove" ng-click="vm.officialToAudit()" ng-disabled="vm.isSubmit" type="button"
                          value="&lt;-"/></p>
            </td>
            <td valign="top" >
                <p class="label label-success">正式专家</p>
                <div id="grid2" class="grid2" kendo-grid="grid2" k-options="vm.gridOptions2" ></div>
            </td>
        </tr>
        <tr>
            <td class="text-center" style="height:200px;">
                <p><input class="btn_add" ng-click="vm.auditToAlternative()" ng-disabled="vm.isSubmit" type="button"
                          value="-&gt;"/></p>
                <p><input class="btn_remove" ng-click="vm.alternativeToAudit()" ng-disabled="vm.isSubmit" type="button"
                          value="&lt;-"/></p>
            </td>
            <td valign="top" >
                <p class="label bg-teal color-palette">备选专家</p>
                <div id="grid3" class="grid3" kendo-grid="grid3" k-options="vm.gridOptions3"></div>
            </td>
        </tr>
        <tr>
            <td class="text-center" >
                <p><input class="btn_add" ng-click="vm.auditToStop()" ng-disabled="vm.isSubmit" type="button"
                          value="-&gt;"/></p>
                <p><input class="btn_remove" ng-click="vm.stopToAudit()" ng-disabled="vm.isSubmit" type="button"
                          value="&lt;-"/></p>
            </td>
            <td valign="top" >
                <p class="label bg-red color-palette">已停用</p>
                <div id="grid4" class="grid4" kendo-grid="grid4" k-options="vm.gridOptions4"></div>
            </td>
        </tr>
        <tr>
            <td class="text-center" style="height:200px;">
                <p><input class="btn_add" ng-click="vm.auditToRemove()" ng-disabled="vm.isSubmit" type="button"
                          value="-&gt;"/></p>
                <p><input class="btn_remove" ng-click="vm.temoveToAudit()" ng-disabled="vm.isSubmit" type="button"
                          value="&lt;-"/></p>
            </td>
            <td valign="top">
                <p class="label bg-gray color-palette">已删除</p>
                <div id="grid5" class="grid4" kendo-grid="grid5" k-options="vm.gridOptions5"></div>
            </td>
        </tr>
    </table>
</div>



