<#assign path=request.contextPath />
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div class="well well-sm conttent_list" style="background: white;min-height:960px;">
	<ol class="breadcrumb">	 
		<li><a href="#/expertList">专家管理</a></li>
		<li class="active">{{vm.title}}</li>
	</ol>
	
	<div class="toolbar">
    	<button class="btn btn-sm btn-success" ng-click="vm.create()" ng-disabled="vm.isSubmit"  ng-hide="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>新增专家信息</button>
        <button class="btn btn-sm btn-success" ng-click="vm.update()"  ng-disabled="vm.isSubmit" ng-show="vm.isUpdate"><span class="glyphicon glyphicon-ok"></span>更改专家信息</button>
		<button class="btn btn-sm btn-success" ng-click="vm.gotoWPage()" ng-disabled="vm.isSubmit" ng-show="vm.showBt" ><span class="glyphicon glyphicon-ok"></span>添加工作经验</button>
		<button class="btn btn-sm btn-success" ng-click="vm.gotoJPage()" ng-disabled="vm.isSubmit" ng-show="vm.showBt" ><span class="glyphicon glyphicon-ok"></span>添加项目经验</button>
	</div>
	<p class="pro_title_1" style="margin:10px;margin-left:0px;">专家信息</p>
	<h2 style="text-align: center; width:595px;margin: auto;">深圳市政府投资项目评审中心</h2>
	<h4 style="text-align: center; width:595px;margin:10px auto;">专家信息录入表</h4>
	
	<form id="form" name="form">
	<table class="">
		<tr>
			<td class="formAlignRight" width="10%">姓名 <span class="required">*</span></td>
			<td width="15%">
				<input type="text" maxlength="200" class="form-control input-sm " ng-disabled="vm.isUpdate"  ng-model="vm.model.name" id="loginName" name="name" data-val="true" data-val-required="必填"> 
			 	<span data-valmsg-for="name" data-valmsg-replace="true" class="errors"></span>
			</td>
			
			<td class="formAlignRight" width="10%">性别<span class="required">*</span></td>
			<td width="15%"> 
				<select ng-model="vm.model.sex" class="form-control input-sm " name="sex" data-val-required="必填" data-val="true">
					<option value="">请选择</option>
					<option ng-repeat="x in DICT.SEX.dicts" ng-selected="vm.model.sex == x.dictName" value="{{x.dictName}}">{{x.dictName}}</option>
				</select>
				<span data-valmsg-for="sex" data-valmsg-replace="true" class="errors"></span>
			</td>
			<td align="center" class="formAlignRight" width="10%">出生年月<span class="required">*</span></td>
			<td width="15%" >
				<input type="text" name="birthDay" id="birthDay" style="width: 100%;" class="form-control input-sm " kendo-date-picker k-format="'yyyy-MM-dd'"
				ng-model="vm.model.birthDay" data-val-date="必须为日期" data-val="true" data-val-required="必填">
				<span data-valmsg-for="birthDay" data-valmsg-replace="true" class="errors"></span>
			</td>
			<td width="121" colspan="2" rowspan="4" style="text-align: center;">
                <div style="width: 100%">
				    <img ng-show="vm.model.expertID"  id="expertPhotoSrc"  src=""  width="121" height="148" alt="" />
                </div>
                <button class="btn btn-xs btn-primary"  ng-click="vm.showUploadWin()" >选择图片</button>
			</td>
		</tr>
		<tr>
			<td align="center" class="formAlignRight">身份证号</td>
			<td >
				<input type="text" name="idCard" id="idCard" class="form-control input-sm "
					ng-model="vm.model.idCard"  data-val-regex="身份证格式不正确"
					data-val-regex-pattern="[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$|^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X)" data-val-required="必填">
				 <span data-valmsg-for="idCard" data-valmsg-replace="true" class="errors"></span>
			</td>
			<td class="formAlignRight">最高学历<span class="required">*</span></td>
			<td>
				<select ng-model="vm.model.qualifiCations" class="form-control input-sm "  name="qualifiCations"  data-val-required="必填" data-val="true">
					<option value="">请选择</option>
					<option ng-repeat="x in DICT.QUALIFI_CATIONS.dicts" ng-selected="vm.model.qualifiCations == x.dictName" value="{{x.dictName}}">{{x.dictName}}</option>
				</select>
				 <span data-valmsg-for="qualifiCations" data-valmsg-replace="true" class="errors"></span>
			</td>
			<td class="formAlignRight">最高学位<span class="required">*</span></td>
			<td>
				<select ng-model="vm.model.degRee" class="form-control input-sm " name="degRee"  data-val-required="必填" data-val="true">
					<option value="">请选择</option>
					<option ng-repeat="x in DICT.DEGREE.dicts" ng-selected="vm.model.degRee == x.dictName" value="{{x.dictName}}">{{x.dictName}}</option>
				</select>
				<span data-valmsg-for="degRee" data-valmsg-replace="true" class="errors"></span>
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">毕业院校<span class="required">*</span></td>
			<td colspan="3">
				<input type="text" name="acaDemy" id="acaDemy" class="form-control input-sm "
					ng-model="vm.model.acaDemy" data-val="true" data-val-required="必填">
				 <span data-valmsg-for="acaDemy" data-valmsg-replace="true" class="errors"></span>
			</td>			
			<td class="formAlignRight" >毕业时间<span class="required">*</span></td>
			<td >
				<input type="text" ng-model="vm.model.graduateDate" name="graduateDate" id="graduateDate" style="width: 100%"
					   kendo-date-picker k-format="'yyyy-MM-dd'"  class="form-control input-sm" value="" data-val-date="必须为日期" data-val="true" >
				 <span data-valmsg-for=graduateDate" data-valmsg-replace="true" class="errors"></span>
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">工作单位<span class="required">*</span></td>
			<td >
				<input type="text" name="comPany" id="comPany" class="form-control input-sm " ng-model="vm.model.comPany"  data-val="true" data-val-required="必填"> 
				 <span data-valmsg-for="comPany" data-valmsg-replace="true" class="errors"></span>
			</td>	 				 
			<td class="formAlignRight" >现任职位<span class="required">*</span></td>
			<td>
				<select ng-model="vm.model.job" class="form-control input-sm " name="job" data-val="true" data-val-required="必填">
					<option value="">请选择</option>
					<option ng-repeat="x in DICT.JOY.dicts" ng-selected="vm.model.job == x.dictName" value="{{x.dictName}}">{{x.dictName}}</option>
				</select>
				<span data-valmsg-for="job" data-valmsg-replace="true" class="errors"></span> 
			</td>
			
			<td class="formAlignRight">职称<span class="required">*</span></td>
			<td>
				<select ng-model="vm.model.post" class="form-control input-sm " name="post" data-val="true" data-val-required="必填">
					<option value="">请选择</option>
					<option ng-repeat="x in DICT.POST.dicts" ng-selected="vm.model.post == x.dictName" value="{{x.dictName}}">{{x.dictName}}</option>
				</select>
				<span data-valmsg-for="post" data-valmsg-replace="true" class="errors"></span> 
			</td>
		</tr>
		<tr>
			<td class="formAlignRight">手机号码<span class="required">*</span></td>
			<td >
				<input type="text" name="userPhone" id="userPhone" class="form-control input-sm "
				 ng-model="vm.model.userPhone" data-val="true" data-val-required="必填" 
				 data-val-regex="手机号码格式不正确" data-val-regex-pattern="1[34578]\d{9}"  class="form-control input-sm "> 
				<span data-valmsg-for="userPhone" data-valmsg-replace="true" class="errors"></span>
			</td>
			
			<td class="formAlignRight">电子邮箱</td>
			<td>
				<input type="text" name="email" id="email" class="form-control input-sm "  ng-model="vm.model.email"  data-val="true" data-val-email="必须为Email格式" > 
				<span data-valmsg-for="email" data-valmsg-replace="true" class="errors"></span> 
			</td>
			<td class="formAlignRight">办公电话</td>
			<td >
				<input type="text" name="phone" id="phone" class="form-control input-sm " ng-model="vm.model.phone" 
				data-val="true"  data-val-regex="手办公电话格式不正确" data-val-regex-pattern="(0[0-9]{2,3}/-)?([2-9][0-9]{6,7})+(/-[0-9]{1,4})?">  
				<span data-valmsg-for="phone" data-valmsg-replace="true" class="errors"></span> 
			</td>
			<td class="formAlignRight" width="60">传真</td>
			<td>
				<input type="text" name="fax" id="fax" class="form-control input-sm " ng-model="vm.model.fax" ng-maxlength="20" data-val="true" >
				 <span data-valmsg-for="fax" data-valmsg-replace="true" class="errors" ></span> 
			</td>
			
		</tr>
		<tr>
			<td class="formAlignRight">通讯地址</td>
			<td colspan="5">
				<input type="text" name="addRess" id="addRess" class="form-control input-sm " ng-model="vm.model.addRess" data-val="true" > 
				<span data-valmsg-for="addRess" data-valmsg-replace="true" class="errors"></span> 			
			</td>
			<td class="formAlignRight">邮编</td>
			<td>
				<input type="text" name="zipCode" id="zipCode"  class="form-control input-sm " ng-model="vm.model.zipCode" 
					data-val-regex="邮编格式不正确" data-val-regex-pattern="[1-9]\d{5}(?!\d)" data-val="true"  >
				<span data-valmsg-for="zipCode" data-valmsg-replace="true" class="errors"></span> 
			</td>			
		</tr>
		<tr>
			<td class="formAlignRight">所学专业<span class="required">*</span></td>
			<td colspan="7">
				<input type="text" name="majorStudy" id="majorStudy" class="form-control input-sm " ng-model="vm.model.majorStudy" data-val="true" data-val-required="必填"> 
				<span data-valmsg-for="majorStudy" data-valmsg-replace="true" class="errors"></span> 
			</td>
		</tr>
		<tr>	
			<td class="formAlignRight">从事专业<span class="required">*</span></td>
			<td colspan="7">
				<input type="text" name="majorWork" id="majorWork" class="form-control input-sm " ng-model="vm.model.majorWork" data-val="true" data-val-required="必填"> 
				<span data-valmsg-for="majorWork" data-valmsg-replace="true" class="errors"></span> 
			</td>
		</tr>
		<tr>	
			<td class="formAlignRight">开户行<span class="required">*</span></td>
			<td colspan="2">
				<input type="text" name="openingBank" id="openingBank" class="form-control input-sm " ng-model="vm.model.openingBank" data-val="true" data-val-required="必填"> 
				<span data-valmsg-for="openingBank" data-valmsg-replace="true" class="errors"></span> 
			</td>	
			<td class="formAlignRight">银行账号<span class="required">*</span></td>
			<td colspan="2">
				<input type="text" name="bankAccount" id="bankAccount" class="form-control input-sm " ng-model="vm.model.bankAccount" data-val="true" data-val-required="必填"> 
				<span data-valmsg-for="bankAccount" data-valmsg-replace="true" class="errors"></span> 
			</td>
            <td class="formAlignRight">区域类别<span class="required">*</span></td>
            <td>
                <select ng-model="vm.model.procoSttype" class="form-control input-sm"  data-val="true" data-val-required="必填" name="procoSttype">
                    <option value="">请选择</option>
                    <option ng-repeat="x in DICT.PROCOST_TYPE.dicts" ng-selected="vm.model.procoSttype == x.dictName" value="{{x.dictName}}">{{x.dictName}}</option>
                </select>
                <span data-valmsg-for="procoSttype" data-valmsg-replace="true" class="errors"></span>
            </td>
		</tr>		
		<tr>
			<td height="97" class="formAlignRight">备注</td>
			<td colspan="7">
				<textarea style="width: 100%; height: 95px" name="remark" ng-model="vm.model.remark" class="form-control input-sm " data-bind="value:remark"></textarea>
			</td>
		</tr>		
	</table>
	</form>
	
	<!-- S 工作经历DIV -->
	<div ng-show="vm.showWorkHistory">
	<div class="toolbar">   	
	 	<button class="btn btn-sm btn-success" ng-click="vm.updateWorkPage()" ><span class="glyphicon glyphicon-ok"></span>更新</button>
	 	<button class="btn btn-sm btn-success" ng-click="vm.deleteWork()" ><span class="glyphicon glyphicon-ok"></span>删除</button>		
	</div>	
	<p class="pro_title_1" style="margin:10px;margin-left:0px;">工作经历</p>		
	<table class="table table-bordered" id="workTab">
	  	<tr>
		  	<td width="10%" align="center" bgcolor="#eeeeee"><input type='checkbox' ng-model="addWork" name="workChecked" id="workChecked"/> </td>
		    <td width="10%" align="center" bgcolor="#eeeeee">开始时间</td>
		    <td width="10%" align="center" bgcolor="#eeeeee">结束时间</td>
		    <td width="20%" align="center" bgcolor="#eeeeee">工作单位</td>
		    <td width="20%" align="center" bgcolor="#eeeeee">职务</td>
		</tr>	
		<tr ng-repeat="x in vm.work">
		  	<td  align="center"> <input type="checkbox" name="checkwr" ng-checked="addWork" value="{{ x.weID }}"/></td>
		    <td style="text-align: center;">{{ x.beginTime }}</td>
		    <td style="text-align: center;">{{ x.endTime }}</td>
		    <td style="text-align: center;">{{ x.companyName }}</td>
		    <td style="text-align: center;">{{ x.workJob }}</td>
		</tr>	
	</table>
 	</div>	
 	<!-- E 工作经历DIV -->
 		
 	<!-- S 项目经历DIV -->
 	<div ng-show="vm.projectkHistory">
 	<div class="toolbar">  	
     	<button class="btn btn-sm btn-success"  ng-click="vm.updateProjectPage()" ><span class="glyphicon glyphicon-ok"></span>更新</button>
     	<button class="btn btn-sm btn-success"  ng-click="vm.delertProject()" ><span class="glyphicon glyphicon-ok"></span>删除</button>		
	</div>	
 	<p class="pro_title_1" style="margin:10px;margin-left: 0px;">项目经验</p>
	<table class="table table-bordered">
	  <tr>
	  	<td width="10%" align="center" bgcolor="#eeeeee"><input type='checkbox' ng-model="addProject" name="pjallChecked" id="pjallChecked"/> </td>
	    <td width="10%" align="center" bgcolor="#eeeeee">开始时间</td>
	    <td width="10%" align="center" bgcolor="#eeeeee">结束时间</td>
	    <td width="20%" align="center" bgcolor="#eeeeee">项目名称</td>
	    <td width="20%" align="center" bgcolor="#eeeeee">项目类别</td>
	    </tr>
	  <tr ng-repeat="x in vm.project">
	    <td align="center"> <input type="checkbox" name="checkpj" ng-checked="addProject" value="{{ x.peID }}"/></td>
	    <td style="text-align: center;" >{{x.projectbeginTime}}</td>
	    <td style="text-align: center;" >{{x.projectendTime}}</td>
	    <td style="text-align: center;" >{{x.projectName}}</td>
	    <td style="text-align: center;" >{{x.projectType}}</td>
	    </tr>
	</table>
	</div>
	<!-- E 项目经历DIV -->
	
	<!-- S 工作经历弹窗 -->
	<div id="wrwindow" class="well well-sm" style="background:white;display:none;">
    <form id="workForm" name="workForm">
        <div class="toolbar">
            <button class="btn btn-sm btn-success" ng-click="vm.createWork()" ng-disabled="vm.isSubmit" ng-show="vm.createWork"><span class="glyphicon glyphicon-ok"></span>保存</button>
            <button class="btn btn-sm btn-success" ng-click="vm.updateWork()" ng-disabled="vm.isSubmit" ng-hide="vm.createWork"><span class="glyphicon glyphicon-ok"></span>更新</button>
            <button class="btn btn-sm btn-primary" ng-click="vm.onWClose()" ><span class="glyphicon glyphicon-chevron-left"></span>返回</button>
         </div>
        <table style="width:100%">
            <tr>
                <td class="formAlignRight" style="width:150px;"></td>
                <td style="width:400px;"><span class="errors">{{vm.message}}</span></td>
                <td></td>
            </tr>

            <tr>
                <td class="formAlignRight">开始时间： <span class="required">*</span></td>
                <td>
                    <input  type="text" maxlength="20" class="form-control input-sm " kendo-date-picker k-format="'yyyy-MM-dd'"  ng-model="vm.model.beginTime" id="beginTime" name="beginTime" data-val="true" data-val-required="必填">
                </td>
                 <td><span data-valmsg-for="beginTime" data-valmsg-replace="true" class="errors"></span></td>
               
            </tr>
             
              <tr >
                <td class="formAlignRight">结束时间： <span class="required">*</span></td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.endTime" kendo-date-picker k-format="'yyyy-MM-dd'"  id="endTime" name="endTime" data-val="true" data-val-required="必填">
                </td>
                <td>
                <span data-valmsg-for="endTime" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
              <tr >
                <td class="formAlignRight">工作单位： <span class="required">*</span></td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.companyName " id="companyName" name="companyName" data-val="true" data-val-required="必填">
                </td>
                <td><span data-valmsg-for="companyName" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
              <tr >
                <td class="formAlignRight">职务： <span class="required">*</span></td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.workJob " id="workJob" name="workJob" data-val="true" data-val-required="必填">
                </td>
                <td><span data-valmsg-for="workJob" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
        </table>
    </form>
	</div>
	<!-- E 工作经历弹窗 -->
	
	<!-- S 项目经历弹窗 -->
	<div id="pjwindow" class="well well-sm" style="background:white;display:none;">
    <form id="ProjectForm" name="ProjectForm">
        <div class="toolbar">
            <button class="btn btn-sm btn-success" ng-click="vm.createProject()" ng-disabled="vm.isSubmit" ng-show="vm.createProject" ><span class="glyphicon glyphicon-ok"></span>保存</button>
            <button class="btn btn-sm btn-success" ng-click="vm.updateProject()"  ng-disabled="vm.isSubmit" ng-hide="vm.createProject"><span class="glyphicon glyphicon-ok"></span>更新</button>
             <button class="btn btn-sm btn-primary" ng-click="vm.onPClose()" ><span class="glyphicon glyphicon-chevron-left"></span>返回</button>
         </div>
        <table style="width:100%">
            <tr>
                <td class="formAlignRight" style="width:150px;"></td>
                <td style="width:400px;"><span class="errors">{{vm.message}}</span></td>
                <td></td>
            </tr>
			  <tr>
                <td class="formAlignRight">开始时间： <span class="required">*</span></td>
                <td>
                    <input  type="text" maxlength="20" class="form-control input-sm " ng-model="vm.model.projectbeginTime" kendo-date-picker k-format="'yyyy-MM-dd'"  id="projectbeginTime" name="projectbeginTime" data-val="true" data-val-required="必填">
                </td>
                 <td><span data-valmsg-for="projectbeginTime" data-valmsg-replace="true" class="errors"></span></td>
               
            </tr>
             
              <tr >
                <td class="formAlignRight">结束时间： <span class="required">*</span></td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.projectendTime"  kendo-date-picker k-format="'yyyy-MM-dd'"  id="projectendTime" name="projectendTime" data-val="true" data-val-required="必填">
                </td>
                <td><span data-valmsg-for="projectendTime" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            <tr>
                <td class="formAlignRight">项目名称： <span class="required">*</span></td>
                <td>
                    <input  type="text" maxlength="20" class="form-control input-sm "  ng-model="vm.model.projectName"  name="projectName" data-val="true" data-val-required="必填">
                </td>
               	 <td><span data-valmsg-for="projectName" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
             
              <tr >
                <td class="formAlignRight">项目类别： <span class="required">*</span></td>
                <td>
                    <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.model.projectType" id="projectType" name="projectType" data-val="true" data-val-required="必填">
                </td>
                <td><span data-valmsg-for="projectType" data-valmsg-replace="true" class="errors"></span></td>
            </tr>
            
        </table>
    </form>
	</div>
	<!-- E 项目经历弹窗 -->

    <!-- S 专家头像上传  -->
    <div id="uploadWin" class="well well-sm" style="background:white;display:none;">
        <input type="file" id="expertphotofile" name="file" id="file" />
    </div>
	<!-- E 专家头像上传  -->
</div>