<#assign path=request.contextPath />
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<!-- 专家评审项目 -->

<div id="expertApply" class="well well-sm conttent_list" style="background: white;min-height:960px;margin-bottom: 50px;" >
    <ol class="breadcrumb">
        <li><a href="#/expertList">专家管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <form id="form" name="form">
        <table class="">
            <caption class="text-center"> <h3><strong>深圳市政府投资项目咨询专家申请表</strong></h3></caption>
            <tr>
                <td  class="text-center" width="10%">姓名 <span class="required">*</span></td>
                <td width="15%">
                    <input type="text" maxlength="200" class="form-control input-sm " ng-disabled="vm.isUpdate"
                           ng-model="vm.model.name" id="name" name="name" data-val="true" data-val-required="必填">
                    <span data-valmsg-for="name" data-valmsg-replace="true" class="errors"></span>
                </td>

                <td  class="text-center" width="10%">性别<span class="required">*</span></td>
                <td width="15%">
                    <select ng-model="vm.model.sex" class="form-control select-sm" name="sex" data-val-required="必填"
                            data-val="true">
                        <option value="">请选择</option>
                        <option ng-repeat="x in DICT.SEX.dicts"
                                ng-selected="vm.model.sex == x.dictName" value="{{x.dictName}}">
                            {{x.dictName}}
                        </option>
                    </select>
                    <span data-valmsg-for="sex" data-valmsg-replace="true" class="errors"></span>
                </td>
                <td align="center"  class="text-center" width="10%">出生年月</td>
                <td width="15%">
                    <input type="text" name="birthDay" id="birthDay" style="width: 100%;" class="form-control input-sm "
                           kendo-date-picker k-format="'yyyy-MM-dd'" ng-model="vm.model.birthDay">
                    <span data-valmsg-for="birthDay" data-valmsg-replace="true" class="errors"></span>
                </td>
                <td width="121" colspan="2" rowspan="4" style="text-align: center;">
                    <div style="width: 100%">
                        <img ng-show="vm.model.expertID" id="expertPhotoSrc" src="" width="121" height="148" alt=""/>
                    </div>
                    <button class="btn btn-xs btn-primary" ng-click="vm.showUploadWin()">选择图片</button>
                </td>
            </tr>
            <tr>
                <td class="text-center">身份证号<span class="required">*</span></td>
                <td>
                    <input type="text" name="idCard" id="idCard" class="form-control input-sm "
                           ng-model="vm.model.idCard" data-val-regex="身份证格式不正确"
                           data-val="true" data-val-required="必填">
                    <span data-valmsg-for="idCard" data-valmsg-replace="true" class="errors"></span>
                </td>
                <td  class="text-center">最高学历</td>
                <td>
                    <select ng-model="vm.model.qualifiCations" class="form-control  select-sm" name="qualifiCations">
                        <option value="">请选择</option>
                        <option ng-repeat="x in DICT.QUALIFI_CATIONS.dicts"
                                ng-selected="vm.model.qualifiCations == x.dictName" value="{{x.dictName}}">
                            {{x.dictName}}
                        </option>
                    </select>
                    <span data-valmsg-for="qualifiCations" data-valmsg-replace="true" class="errors"></span>
                </td>
                <td  class="text-center">最高学位</td>
                <td>
                    <select ng-model="vm.model.degRee" class="form-control  select-sm" name="degRee">
                        <option value="">请选择</option>
                        <option ng-repeat="x in DICT.DEGREE.dicts" ng-selected="vm.model.degRee == x.dictName"
                                value="{{x.dictName}}">{{x.dictName}}
                        </option>
                    </select>
                    <span data-valmsg-for="degRee" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td  class="text-center">毕业院校</td>
                <td colspan="3">
                    <input type="text" name="acaDemy" id="acaDemy" class="form-control input-sm" ng-model="vm.model.acaDemy" >
                    <span data-valmsg-for="acaDemy" data-valmsg-replace="true" class="errors"></span>
                </td>
                <td  class="text-center">毕业时间</td>
                <td>
                    <input type="text" ng-model="vm.model.graduateDate" name="graduateDate" id="graduateDate"
                           style="width: 100%" kendo-date-picker k-format="'yyyy-MM-dd'" class="form-control input-sm" value="">
                    <span data-valmsg-for=graduateDate" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td  class="text-center">工作单位</td>
                <td colspan="3">
                    <input type="text" name="comPany" id="comPany" class="form-control input-sm" ng-model="vm.model.comPany" >
                    <span data-valmsg-for="comPany" data-valmsg-replace="true" class="errors"></span>
                </td>
                <td  class="text-center">现任职务</td>
                <td>
                    <input ng-model="vm.model.job" class="form-control input-sm " name="job">
                    <span data-valmsg-for="job" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td  class="text-center">手机号码<span class="required">*</span></td>
                <td>
                    <input type="text" name="userPhone" id="userPhone" class="form-control input-sm "
                           ng-model="vm.model.userPhone" data-val="true" data-val-required="必填"
                           data-val-regex="手机号码格式不正确" data-val-regex-pattern="1[34578]\d{9}"
                           class="form-control input-sm ">
                    <span data-valmsg-for="userPhone" data-valmsg-replace="true" class="errors"></span>
                </td>
                <td  class="text-center">职称</td>
                <td>
                    <select ng-model="vm.model.post" class="form-control select-sm" name="post">
                        <option value="">请选择</option>
                        <option ng-repeat="x in DICT.POST.dicts" ng-selected="vm.model.post == x.dictName"
                                value="{{x.dictName}}">{{x.dictName}}
                        </option>
                    </select>
                    <span data-valmsg-for="post" data-valmsg-replace="true" class="errors"></span>
                </td>
                <td  class="text-center">电子邮箱</td>
                <td>
                    <input type="text" name="email" id="email" class="form-control input-sm " ng-model="vm.model.email">
                    <span data-valmsg-for="email" data-valmsg-replace="true" class="errors"></span>
                </td>
                <td  class="text-center">办公电话</td>
                <td>
                    <input type="text" name="phone" id="phone" class="form-control input-sm " ng-model="vm.model.phone"
                           data-val="true">
                    <!--  data-val-regex="办公电话格式不正确" data-val-regex-pattern="(0[0-9]{2,3}/-)?([2-9][0-9]{6,7})+(/-[0-9]{1,4})?" -->
                    <span data-valmsg-for="phone" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td  class="text-center">通讯地址</td>
                <td colspan="3">
                    <input type="text" name="addRess" id="addRess" class="form-control input-sm "
                           ng-model="vm.model.addRess" >
                    <span data-valmsg-for="addRess" data-valmsg-replace="true" class="errors"></span>
                </td>
                <td  class="text-center" width="60">传真</td>
                <td>
                    <input type="text" name="fax" id="fax" class="form-control input-sm " ng-model="vm.model.fax"
                           ng-maxlength="20" >
                    <span data-valmsg-for="fax" data-valmsg-replace="true" class="errors"></span>
                </td>
                <td  class="text-center">邮编</td>
                <td>
                    <input type="text" name="zipCode" id="zipCode" class="form-control input-sm "
                           ng-model="vm.model.zipCode">
                    <span data-valmsg-for="zipCode" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td  class="text-center">所学专业</td>
                <td  class="text-center" colspan="7" style="text-align:left;">
                    <div style="float: left;" ng-show="vm.showSS">
                        <span>专业门类：</span>
                        <select name="zyml" ng-model="vm.model.majorSSort" style="width: 100px;"
                                ng-change="majorbigSSort = topSelectChange(vm.model.majorSSort,DICT.MAJOR_SORT.dicts)">
                            <option value="">请选择</option>
                            <option ng-repeat="x in DICT.MAJOR_SORT.dicts" ng-value="x.dictName">{{x.dictName}}</option>
                        </select>
                        <span style="margin-left:10px;">专业大类：</span>
                        <select name="zyml" ng-model="vm.model.majorbigSSort" style="width: 200px;"
                                ng-change="selectValue = topSelectChange(vm.model.majorbigSSort,majorbigSSort)">
                            <option value="">请选择</option>
                            <option ng-repeat="x in majorbigSSort" ng-value="x.dictName"
                                    ng-selected="vm.model.majorbigSSort == x.dictName">{{x.dictName}}
                            </option>
                        </select>
                        <span style="margin-left:10px;">专业：</span>
                        <select name="zyml" ng-model="vm.majorStudy" style="width: 200px;" name="majorStudy">
                            <option value="">请选择</option>
                            <option ng-repeat="x in selectValue" ng-value="x.dictName"
                                    ng-selected="vm.model.majorStudy == x.dictName">{{x.dictName}}
                            </option>
                        </select>
                        <button ng-click="vm.sureMS()" class="btn btn-xs btn-success">确定</button>
                        <button ng-click="vm.cancelMS()" ng-show="vm.MS" class="btn btn-xs btn-primary">取消</button>
                    </div>
                    <div style="float: left;" ng-show="vm.showSC">
                        <input type="text" name="majorStudy" id="majorStudy" ng-model="vm.model.majorStudy"
                               data-val="true" ng-disabled="true" style="width: 600px;">
                        <button ng-click="vm.chooseMS()" class="btn btn-xs btn-success">修改</button>
                    </div>
                </td>
                </td>
            </tr>
            <tr>
                <td  class="text-center">从事专业</td>
                <td  class="text-center" colspan="7" style="text-align:left;">
                    <div style="float: left;" ng-show="vm.showWS">
                        <span>专业门类：</span>
                        <select name="zyml" ng-model="vm.model.majorWSort" style="width: 100px;"
                                ng-change="majorbigWSort = topSelectChange(vm.model.majorWSort,DICT.MAJOR_SORT.dicts)">
                            <option value="">请选择</option>
                            <option ng-repeat="x in DICT.MAJOR_SORT.dicts" ng-value="x.dictName">{{x.dictName}}</option>
                        </select>
                        <span style="margin-left:10px;">专业大类：</span>
                        <select name="zyml" ng-model="vm.model.majorbigWSort" style="width: 200px;"
                                ng-change="selectWValue = topSelectChange(vm.model.majorbigWSort,majorbigWSort)">
                            <option value="">请选择</option>
                            <option ng-repeat="x in majorbigWSort" ng-value="x.dictName">{{x.dictName}}</option>
                        </select>
                        <span style="margin-left:10px;">专业：</span>
                        <select name="zyml" ng-model="vm.majorWork" style="width: 200px;">
                            <option value="">请选择</option>
                            <option ng-repeat="x in selectWValue" ng-value="x.dictName"
                                    ng-selected="x.dictName == vm.model.majorWork">{{x.dictName}}
                            </option>
                        </select>
                        <button ng-click="vm.sureMW()" class="btn btn-xs btn-success">确定</button>
                        <button ng-click="vm.cancelMW()" ng-show="vm.MW" class="btn btn-xs btn-primary">取消</button>
                    </div>
                    <div style="float: left;" ng-show="vm.showWC">
                        <input type="text" name="majorWork" id="majorWork" ng-model="vm.model.majorWork" data-val="true"
                               ng-disabled="true" style="width: 600px;">
                        <button ng-click="vm.chooseMW()" class="btn btn-xs btn-success">修改</button>
                    </div>
                </td>
            </tr>

            <tr>
                <td  class="text-center">专家类别<span class="required">*</span></td>
                <td colspan="3">
                    <select ng-model="vm.model.expertSort" name="expertSort" class="form-control select-sm "
                            data-val="true" data-val-required="必填">
                        <option value="">请选择</option>
                        <option ng-repeat="x in DICT.EXPERT_SORT.dicts" ng-selected="vm.model.expertSort == x.dictName"
                                value="{{x.dictName}}">{{x.dictName}}
                        </option>
                    </select>
                    <span data-valmsg-for="expertType" data-valmsg-replace="true" class="errors"></span>
                </td>

                <td  class="text-center">区域类别<span class="required">*</span></td>
                <td colspan="3">
                    <select ng-model="vm.model.expertField" class="form-control select-sm " data-val="true" data-val-required="必填" name="expertField">
                        <option value="">请选择</option>
                        <option ng-repeat="x in DICT.EXPERT_FIELD.dicts" ng-selected="vm.model.expertField == x.dictKey"
                                value="{{x.dictKey}}">{{x.dictName}}
                        </option>
                    </select>
                    <span data-valmsg-for="procoSttype" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>

            <tr>
                <td  class="text-center">开户行<span class="required">*</span></td>
                <td colspan="3">
                    <input type="text" name="openingBank" id="openingBank" class="form-control input-sm "
                           ng-model="vm.model.openingBank" data-val="true" data-val-required="必填">
                    <span data-valmsg-for="openingBank" data-valmsg-replace="true" class="errors"></span>
                </td>

                <td  class="text-center">银行账号<span class="required">*</span></td>
                <td colspan="3">
                    <input type="text" name="bankAccount" id="bankAccount" class="form-control input-sm "
                           ng-model="vm.model.bankAccount" data-val="true" data-val-required="必填">
                    <span data-valmsg-for="bankAccount" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>

            <tr>
                <td height="97"  class="text-center">备注</td>
                <td colspan="7">
                    <textarea maxlength="255" style="width: 100%; height: 95px" name="remark" ng-model="vm.model.remark"
                              class="form-control input-sm " data-bind="value:remark"></textarea>
                </td>
            </tr>
            <tr>
                <td class="text-center">专家代码</span></td>
                <td colspan="3">
                    {{vm.model.expertNo}}
                </td>

                <td class="text-center">录入人/时间</td>
                <td colspan="3">
                    {{vm.model.inputPerson}} {{vm.model.applyDate}}
                </td>
            </tr>
            <tr>
                <td rowspan="{{vm.model.expertTypeDtoList.length +2}}" class="text-center">
                    专业类别
                </td>
                <td colspan="7">
                    <button class="btn btn-xs btn-success" ng-click="vm.gotoExpertType()" ng-disabled="vm.isSubmit">
                        <i class="fa fa-plus" aria-hidden="true"></i>添加
                    </button>
                    <button class="btn btn-xs btn-primary" ng-click="vm.updateProjectType()"><span
                            class="glyphicon glyphicon-ok"></span>更新
                    </button>
                    <button class="btn btn-xs btn-danger" ng-click="vm.delertProjectType()"><span
                            class="glyphicon glyphicon-remove"></span>删除
                    </button>
                </td>
            <tr>
                <td class="text-center"  >
                    <input type='checkbox' ng-model="ep_type" name="expertTypeChecked" id="expertTypeChecked"/>
                </td>
                <td class="text-center"  >序号</td>
                <td class="text-center" colspan="2"   >突出专业(大类)</td>
                <td class="text-center" colspan="2"  >突出专业(小类)</td>
                <td class="text-center"  >专家类型</td>
            </tr>
            <tr ng-if="vm.model.expertTypeDtoList" ng-repeat="t in vm.model.expertTypeDtoList">
                <td class="text-center">
                    <input type="checkbox" name="checkEType" ng-checked="ep_type" value="{{ t.id }}"/>
                </td>
                <td class="text-center">{{$index+1}}</td>
                <td class="text-center" colspan="2">{{t.maJorBig}}</td>
                <td class="text-center" colspan="2">{{t.maJorSmall}}</td>
                <td class="text-center" >{{t.expertType}}</td>
            </tr>
            </tr>
            <tr >
                <td rowspan="{{vm.model.workDtoList.length +2}}" class="text-center">
                    工作简历
                </td>
                <td colspan="7">
                    <button class="btn btn-xs btn-success" ng-click="vm.gotoWPage()" ng-disabled="vm.isSubmit" >
                        <i class="fa fa-plus" aria-hidden="true"></i>添加
                    </button>
                    <button class="btn btn-xs btn-primary" ng-click="vm.updateWork()">
                        <span class="glyphicon glyphicon-ok"></span>更改
                    </button>
                    <button class="btn btn-xs btn-danger" ng-click="vm.deleteWork()"><span
                            class="glyphicon glyphicon-remove"></span>删除
                    </button>
                </td>
            </tr>
            <tr >
                <td  class="text-center"  >
                    <input type='checkbox' ng-model="workChecked" />
                </td>
                <td class="text-center"  >开始时间</td>
                <td class="text-center"  >结束时间</td>
                <td class="text-center"   colspan="2">工作单位</td>
                <td class="text-center"   colspan="2">职务</td>
            </tr>
            <tr ng-if="vm.model.workDtoList" ng-repeat="w in vm.model.workDtoList">
                <td class="text-center"><input type="checkbox" name="checkwr" ng-checked="workChecked" value="{{w.weID}}"/>
                </td>
                <td class="text-center">{{ w.beginTime }}</td>
                <td class="text-center">{{ w.endTime }}</td>
                <td class="text-center" colspan="2">{{ w.companyName }}</td>
                <td class="text-center" colspan="2">{{ w.workJob }}</td>
            </tr>

            <tr >
                <td rowspan="{{vm.model.projectDtoList.length +2}}" class="text-center">
                    项目经历
                </td>
                <td colspan="7">
                    <button class="btn btn-xs btn-success" ng-click="vm.gotoJPage()" ng-disabled="vm.isSubmit" >
                        <i class="fa fa-plus" aria-hidden="true"></i>添加
                    </button>
                    <button class="btn btn-xs btn-primary" ng-click="vm.updateProjectPage()"><span
                            class="glyphicon glyphicon-ok"></span>更新
                    </button>
                    <button class="btn btn-xs btn-danger" ng-click="vm.delertProject()"><span
                            class="glyphicon glyphicon-remove"></span>删除
                    </button>
                </td>
            </tr>
            <tr >
                <td class="text-center"  >
                    <input type='checkbox' ng-model="ep_project" name="pjallChecked" id="pjallChecked"/>
                </td>
                <td class="text-center" colspan="3"  >项目名称</td>
                <td class="text-center" colspan="3"  >项目类别</td>
            </tr>
            <tr ng-if="vm.model.projectDtoList" ng-repeat="x in vm.model.projectDtoList">
                <td align="center"><input type="checkbox" name="checkpj" ng-checked="ep_project" value="{{ x.peID }}"/>
                </td>
                <td class="text-center" colspan="3">{{x.projectName}}</td>
                <td class="text-center" colspan="3">{{x.projectType}}</td>
            </tr>

            <tr >
                <td rowspan="{{vm.model.expertOfferDtoList.length +2}}" class="text-center">
                    专家聘书
                </td>
                <td colspan="7">
                    <button class="btn btn-xs btn-success" ng-click="vm.gotoOfferPage()" >
                        <i class="fa fa-plus" aria-hidden="true"></i>添加
                    </button>
                    <button class="btn btn-xs btn-primary" ng-click="vm.showOffer()">
                        <span class="glyphicon glyphicon-ok"></span>查看
                    </button>
                </td>
            </tr>
            <tr >
                <td class="text-center"  >选择</td>
                <td class="text-center"  >是否发证</td>
                <td class="text-center"  >发证日期</td>
                <td class="text-center"  >有效期</td>
                <td class="text-center"  >有效期至</td>
                <td class="text-center"  >是否作废</td>
                <td class="text-center"  >备注</td>
                <!--<td class="text-center"  >操作</td>-->
            </tr>
            <tr ng-if="vm.model.expertOfferDtoList" ng-repeat="o in vm.model.expertOfferDtoList">
                <td align="center">
                    <input type="checkbox" name="checkps"  value="{{ o.id }}"/>
                </td>
                <td class="text-center">{{ o.isSendCcie == 9?'是':'否'}}</td>
                <td class="text-center">{{ o.sendCcieDate }}</td>
                <td class="text-center">{{ o.period }}</td>
                <td class="text-center">{{ o.periodDate }}</td>
                <td class="text-center">{{ o.isInvalid == 9?'是':'否'}}</td>
                <td class="text-center">{{ o.descInfo }}</td>
                <!--
                <td class="text-center">
                    <button class="btn btn-xs btn-default" ng-click="vm.showOffer(o.id)" ng-disabled="vm.isSubmit">查看</button>
                </td>
                -->
            </tr>
        </table>
    </form>

    <!-- 以下是弹窗部分div-->
    <!-- S 工作经历弹窗 -->
    <div id="wrwindow" class="well well-sm" style="background:white;display:none;">
        <div class="toolbar">
            <button class="btn btn-sm btn-success" ng-click="vm.saveWorks()" ng-disabled="vm.isSubmit">
                <span class="glyphicon glyphicon-ok"></span>保存
            </button>
            <button class="btn btn-sm btn-primary" ng-click="vm.onWClose()">
                <span class="glyphicon glyphicon-chevron-left"></span>关闭
            </button>
        </div>
        <form id="workForm" name="workForm">
            <table class="table table-bordered" style="width: 100%;">
                <tr>
                    <td  class="text-center" style="width: 20%;">开始时间： <span class="required">*</span></td>
                    <td>
                        <input type="text" maxlength="20" class="form-control input-sm " kendo-date-picker
                               k-format="'yyyy-MM-dd'" ng-model="vm.work.beginTime" id="beginTime" name="beginTime"
                               data-val="true" data-val-required="必填">
                        <span data-valmsg-for="beginTime" data-valmsg-replace="true" class="errors"></span>
                    </td>
                </tr>

                <tr>
                    <td  class="text-center">结束时间： <span class="required">*</span></td>
                    <td>
                        <input type="text" maxlength="200" class="form-control input-sm " ng-model="vm.work.endTime"
                               kendo-date-picker k-format="'yyyy-MM-dd'" id="endTime" name="endTime" data-val="true"
                               data-val-required="必填">
                        <span data-valmsg-for="endTime" data-valmsg-replace="true" class="errors"></span>
                    </td>
                </tr>
                <tr>
                    <td  class="text-center">工作单位： <span class="required">*</span></td>
                    <td>
                        <textarea type="text" maxlength="128" rows="3" style="width: 98%" data-val="true" data-val-required="必填"
                        ng-model="vm.work.companyName" id="companyName" name="companyName" ></textarea>
                        <span data-valmsg-for="companyName" data-valmsg-replace="true" class="errors"></span>
                    </td>

                </tr>
                <tr>
                    <td  class="text-center">职务： <span class="required">*</span></td>
                    <td>
                        <textarea type="text" maxlength="128" rows="3" style="width: 98%" ng-model="vm.work.workJob "
                                  id="workJob" name="workJob" data-val="true" data-val-required="必填"></textarea>
                        <span data-valmsg-for="workJob" data-valmsg-replace="true" class="errors"></span>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <!-- E 工作经历弹窗 -->

    <!-- S 项目经历弹窗 -->
    <div id="pjwindow" class="well well-sm" style="background:white;display:none;">
        <form id="ProjectForm" name="ProjectForm">
            <div class="toolbar">
                <button class="btn btn-sm btn-success" ng-click="vm.saveProject()" ng-disabled="vm.isSubmit">
                    <span class="glyphicon glyphicon-ok"></span>保存
                </button>
                <button class="btn btn-sm btn-primary" ng-click="vm.onPClose()"><span
                        class="glyphicon glyphicon-chevron-left"></span>返回
                </button>
            </div>

            <table class="table table-bordered" style="width:100%">
                <tr>
                    <td  class="text-center" style="width: 20%;">项目名称： <span class="required">*</span></td>
                    <td>
                        <input type="text" maxlength="128" style="width: 80%;" name="projectName" data-val="true"
                               data-val-required="必填" ng-model="vm.project.projectName" >
                        <span data-valmsg-for="projectName" data-valmsg-replace="true" class="errors"></span>
                    </td>
                </tr>

                <tr>
                    <td  class="text-center">项目类别： <span class="required">*</span></td>
                    <td>
                        <select ng-model="vm.project.projectType" id="projectType" style="width: 80%;"
                                name="projectType" data-val="true" data-val-required="必填">
                            <option value="">请选择</option>
                            <option ng-repeat="x in DICT.PROJECTTYPE.dicts" value="{{x.dictName}}"
                                    ng-selected="vm.project.projectType==x.dictName">{{x.dictName}}
                            </option>
                        </select>
                        <span data-valmsg-for="projectType" data-valmsg-replace="true" class="errors"></span>
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <!-- E 项目经历弹窗 -->

    <!-- S 专家头像上传  -->
    <div id="uploadWin" class="well well-sm" style="background:white;display:none;">
        <input type="file" id="expertphotofile" name="file" id="file"/>
    </div>
    <!-- E 专家头像上传  -->

    <!-- 添加专家类型 -->
    <div id="addExpertType" class="well well-sm" style="background:white;display:none;">
        <form id="expertTypeForm" name="expertTypeForm">
            <div class="toolbar">
                <button class="btn btn-sm btn-success" ng-click="vm.saveExpertType()"
                        ng-hide="vm.showExpertType"><span class="glyphicon glyphicon-ok"></span>保存
                </button>
                <button class="btn btn-sm btn-primary" ng-click="vm.onETlose()">
                    <span class="glyphicon glyphicon-chevron-left"></span>关闭
                </button>
            </div>
            <table class="table table-bordered" style="width: 100%;">
                <tr>
                    <td style="width: 80px; height: 50px;">专家类型 <span class="required">*</span></td>
                    <td>
                        <select class="form-control input-sm " ng-model="vm.expertType.expertType" name="type"
                                style="width: 60%;" ng-disabled="vm.isUpdate" data-val-required="必选" data-val="true">
                            <option value="">请选择</option>
                            <option ng-repeat="x in DICT.EXPERT_TYPE.dicts" value="{{x.dictName}}"
                                    ng-selected="vm.expertType.expertType == x.dictName">{{x.dictName}}
                            </option>
                        </select>
                        <span data-valmsg-for="type" data-valmsg-replace="true" class="errors"></span>
                    </td>

                </tr>
                <tr>
                    <td style="width: 80px; height: 50px;">突出专业（大类）<span class="required">*</span></td>
                    <td>
                        <select class="form-control input-sm " style="width: 60%; " name="wide"
                                ng-model="vm.expertType.maJorBig"
                                ng-change="vm.expertType.majobSmallDicts = topSelectChange(vm.expertType.maJorBig,DICT.MAJOR.dicts)"
                                data-val-required="必选" data-val="true">
                            <option value="">请选择</option>
                            <option ng-repeat="x in DICT.MAJOR.dicts" value="{{x.dictName}}"
                                    ng-selected="vm.expertType.maJorBig == x.dictName">{{x.dictName}}
                            </option>
                        </select>
                        <span data-valmsg-for="wide" data-valmsg-replace="true" class="errors"></span>
                    </td>
                </tr>
                <tr>
                    <td style="width: 80px; height: 50px;">突出专业（小类）<span class="required">*</span></td>
                    <td>
                        <select class="form-control input-sm " ng-model="vm.expertType.maJorSmall" style="width: 60%;"
                                ng-init="vm.expertType.majobSmallDicts = topSelectChange(vm.expertType.maJorBig,DICT.MAJOR.dicts)"
                                name="small" data-val-required="必选" data-val="true">
                            <option value="">请选择</option>
                            <option ng-repeat="x in vm.expertType.majobSmallDicts" value="{{x.dictName}}"
                                    ng-selected="vm.expertType.maJorSmall == x.dictName">{{x.dictName}}
                            </option>
                        </select>
                        <span data-valmsg-for="small" data-valmsg-replace="true" class="errors"></span>
                    </td>
                </tr>

            </table>
        </form>

    </div>
</div>


<!--   S_专家聘书 div   -->
<div id="ep_offer_div" class="well well-sm" style="background:white;display:none;">
    <div class="toolbar">
        <button class="btn btn-sm btn-success" ng-click="vm.saveOffer()" ng-hide="vm.showProjectOffer">
            <span class="glyphicon glyphicon-ok"></span>保存
        </button>
        <button class="btn btn-sm btn-primary" ng-click="printFile(vm.expertOffer.id,'EXPERTOFFER','EXPERTOFFER')" ng-show="vm.showProjectOffer">
            <span class="glyphicon glyphicon-print"></span>打印
        </button>
        <button class="btn btn-sm btn-danger" ng-click="vm.closeOffer()">
            <span class="glyphicon glyphicon-ok"></span>关闭
        </button>
    </div>

    <form id="expert_offer_form">
        <table class="table table-bordered">
            <caption class="text-center"><strong><h3>深圳市政府投资项目评审专家聘书</h3></strong></caption>
            <tr>
                <td  class="text-center" width="10%">姓名 <span class="required">*</span></td>
                <td width="15%">
                    {{vm.model.name}}
                </td>

                <td  class="text-center" width="10%">性别<span class="required">*</span></td>
                <td width="15%">
                    {{vm.model.sex}}
                </td>

            </tr>
            <tr>
                <td  class="text-center" width="10%">出生年月<span class="required">*</span></td>
                <td width="15%">
                    {{vm.model.birthDay}}
                </td>

                <td  class="text-center" width="10%">身份证号<span class="required">*</span></td>
                <td width="15%">
                    {{vm.model.idCard}}
                </td>
            </tr>
            <tr>
                <td  class="text-center" width="10%">学历<span class="required">*</span></td>
                <td width="15%">
                    {{vm.model.qualifiCations}}
                </td>

                <td  class="text-center" width="10%">职称<span class="required">*</span></td>
                <td width="15%">
                    {{vm.model.post}}
                </td>
            </tr>
            <tr>
                <td  class="text-center" width="10%">发证日期<span class="required">*</span></td>
                <td width="15%">
                    <input type="text" name="sendCcieDate" id="sendCcieDate" style="width: 100%;"
                           class="form-control input-sm " kendo-date-picker k-format="'yyyy-MM-dd'"
                           ng-model="vm.expertOffer.sendCcieDate" data-val-date="必须为日期" data-val="true"
                           data-val-required="必填">
                    <span data-valmsg-for="sendCcieDate" data-valmsg-replace="true" class="errors"></span>
                </td>

                <td  class="text-center" width="10%">有效期<span class="required">*</span></td>
                <td width="15%">
                    <select nam="period" ng-model="vm.expertOffer.period" id="period" data-val="true" data-val-required="必填">
                        <option value="">请选择</option>
                        <option value="一年">一年</option>
                        <option value="二年">二年</option>
                        <option value="三年">三年</option>
                        <option value="四年">四年</option>
                        <option value="五年">五年</option>
                    </select>
                    <span data-valmsg-for="period" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td  class="text-center" width="10%">档案编号<span class="required">*</span></td>
                <td width="15%">
                    {{vm.model.expertNo}}
                </td>

                <td  class="text-center" width="10%">有效期至<span class="required">*</span></td>
                <td width="15%">
                    <input type="text" name="periodDate" id="periodDate" style="width: 100%;"
                           class="form-control input-sm " kendo-date-picker k-format="'yyyy-MM-dd'"
                           ng-model="vm.expertOffer.periodDate" data-val-date="必须为日期" data-val="true"
                           data-val-required="必填">
                    <span data-valmsg-for="periodDate" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td  class="text-center" width="10%">是否发证<span class="required">*</span></td>
                <td width="15%">
                    <label class="checkbox-inline">
                        <input type="radio" name="isSendCcie" ng-model="vm.expertOffer.isSendCcie" value="9" checked>是
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="isSendCcie" ng-model="vm.expertOffer.isSendCcie" value="0">否
                    </label>
                </td>

                <td  class="text-center" width="10%">是否作废<span class="required">*</span></td>
                <td width="15%">
                    <label class="checkbox-inline">
                        <input type="radio" name="isInvalid" ng-model="vm.expertOffer.isInvalid" value="9" checked>是
                    </label>
                    <label class="checkbox-inline">
                        <input type="radio" name="isInvalid" ng-model="vm.expertOffer.isInvalid" value="0">否
                    </label>
                </td>
            </tr>
            <tr>
                <td  class="text-center" width="10%">备注</td>
                <td width="15%" colspan="3">
                    <textarea rows="3" cols="80" name="descInfo" id="descInfo" ng-model="vm.expertOffer.descInfo"
                              data-val="true" data-val-length-max="256" data-val-length="不能超过256个字">{{vm.expertOffer.descInfo}}</textarea>
                    <span data-valmsg-for="descInfo" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
        </table>
    </form>
</div>
<!--   E_专家聘书 div   -->
<div id="expertApply_templ" style="display: none;"> <#include "/templatePrint/expert/expertEdit.html"/></div>

<div class="navbar navbar-default navbar-fixed-bottom" style="padding: 0;margin: 0;">
    <div class="text-center" style="line-height: 50px;">

        <button class="btn btn-sm btn-success"  ng-click="vm.saveEP()" ng-disabled="vm.isSubmit" >
            <span class="glyphicon glyphicon-ok"></span>保存专家信息
        </button>
        <button ng-if="vm.model.expertID" class="btn btn-sm btn-success" ng-click="vm.selReviewProject()">
            <span class="glyphicon glyphicon-search"></span>专家评审项目列表
        </button>
        <button class="btn btn-sm btn-primary" ng-click="printFile(vm.model.expertID,'EXPERT','EXPERT')">
            <span class="glyphicon glyphicon-print"></span>打印预览</button>
        <a class="btn btn-sm btn-primary" href="#/expert">
            <span class="glyphicon glyphicon-chevron-left"></span>返回
        </a>
        <!--<input id="btnPrint" class="btn btn-sm btn-primary" type="button" value="打印"  ng-click="vm.editPrint()" />-->
    </div>
</div>
</div>

<!--引入 专家评审过的项目列表-->
<div class="tab-pane fade" style="background:white;" id="busi_workplan">
<#include "/expert/reviewProjectList.html"/>
</div><!-- end tab -->