<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div style="background:white;display: none;" id="queryExportDetail">
    <#include "/expertReview/expertDetail.html"/>
</div>
<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/expertList">专家综合查询</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    
    <div class="toolbar">
    	<a class="btn btn-sm btn-primary" ui-sref="expertEdit({id:null})"><span class="glyphicon glyphicon-plus"></span>新增</a> 
	    <button class="btn btn-sm btn-success" ng-click="vm.search()" ng-disabled="vm.isSubmit"><span class="glyphicon glyphicon-search"></span>查询</button>
		<button class="btn btn-sm btn-primary" ng-click="vm.formReset()" >重置</button>
		<button class="btn btn-sm btn-success" ng-click="vm.exportToExcel()" ng-disabled="vm.isSubmit" >导出execl</button>
        <a class="btn btn-sm btn-primary" href="#/headerEdit/{{vm.headerType}}"> 表字段设置</a>
	</div>

	<form class="well well-sm" id="searchform" name="searchform">
        <input name="state" type="hidden"  operator="ne"  value="5"/><!--排除已删除的专家-->
		<table style="width:100%">
			<tr>
				<td class="text-right" style="width:80px;">专家范围</td>
				<td style="min-width: 220px;">
					<select name="state" operator="eq">
						<option value="">所有专家（已删的除外）</option>
						<option value="2">正式专家</option>
						<option value="3">备选专家</option>
                        <option value="1">审核中专家</option>
					</select>
				</td>

				<td class="text-right" style="width:80px;">专家姓名</td>
				<td>
					<input name="name" type="text"  operator="like" />
				</td>
				<td class="text-right" style="width:80px;">工作单位</td>
				<td>
					<input name="comPany"  type="text" operator="like" />
				</td>

			</tr>
			<tr>
				<td class="text-right" >专业大类</td>
				<td>
                    <select name="maJorBigParam" ng-model="vm.expert.maJorBig" ng-change="vm.majobSmallDicts = topSelectChange(vm.expert.maJorBig,DICT.MAJOR.dicts)">
                        <option value="">请选择</option>
                        <option ng-repeat="d in DICT.MAJOR.dicts" value="{{d.dictName}}">{{d.dictName}}</option>
                    </select>
				</td>

				<td class="text-right" >专业小类</td>
				<td>
                    <select name="maJorSamllParam" ng-model="vm.expert.maJorSmall">
                        <option value="">请选择</option>
                        <option ng-repeat="ds in vm.majobSmallDicts" value="{{ds.dictName}}">{{ds.dictName}}</option>
                    </select>
				</td>
                <td class="text-right" >专家类别</td>
                <td>
                    <select name="expertTypeParam" operator="eq" ng-model="vm.expert.expertTypeParam">
                        <option value="">请选择</option>
                        <option ng-repeat="dt in DICT.EXPERT_TYPE.dicts" value="{{dt.dictName}}">{{dt.dictName}}</option>
                    </select>
                </td>

			</tr>
			<tr>
				<td class="text-right" >专家区域</td>
				<td>
					<select name="expertField" operator="eq">
						<option value="">请选择</option>
						<option ng-repeat="x in DICT.EXPERT_FIELD.dicts"  value="{{x.dictKey}}">{{x.dictName}}</option>
					</select>
				</td>
				<td class="text-right" >申请日期</td>
				<td>
					<input name="applyDate" operator="ge" style="width:124px" kendo-date-picker k-format="'yyyy-MM-dd'" ng-model="vm.expert.applyDate" value="" />
				</td>
				<td class="text-right" >综合评分</td>
				<td>
                    <select name="compositeScore" operator="ge">
                        <option value="">请选择</option>
                        <option value="1">1星</option>
                        <option value="2">2星</option>
                        <option value="3">3星</option>
                        <option value="4">4星</option>
                        <option value="5">5星</option>
                    </select>

				</td>
			</tr>
		</table>
  	</form>
	
	<div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>  
</div>
<script type="text/template" id="columnBtns">
 	<@shiro.hasPermission name="expert##delete"> 
		<button class="btn btn-xs btn-danger"  ng-click="{0}" ><span class="glyphicon glyphicon-remove"></span>删除</button>
 	</@shiro.hasPermission> 
	<@shiro.hasPermission name="expert##put"> 
	       <a class="btn btn-xs btn-primary" href="#/expertEdit/{1}"><span class="glyphicon glyphicon-pencil"></span>编辑</a>
 	</@shiro.hasPermission>
</script>















