<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>专家评分一览表</title>
</head>
<body>
<section class="invoice">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">
                <label class="pull-left"  style="line-height: 30px;">报表类型</label>
                <div class="form-group pull-left">

                    <select class="form-control">
                        <option>项目评审专家情况表（详细）</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                    </select>
                </div>
            </h3>

            <div class="box-tools">
                <table>
                    <tr>
                        <td style="padding: 0px 5px;"><button type="button pull-right" class="btn btn-info  "><span class="fa  fa-opera"></span>开始统计</button></td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="box-header">
            <div  class="invoice" style="margin-top: -20px;">
                <table>
                    <tr>
                        <td>专家姓名：</td>
                        <td><input class="form-control" type="text"/></td>
                        <td>评审方式：</td>
                        <td><input class="form-control" type="text"/></td>
                        <td>会议日期：</td>
                        <td><input class="form-control" type="text"/></td>
                        <td>至</td>
                        <td><input class="form-control" type="text"/></td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

</section>


<section class="invoice">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title pull-left" style="line-height: 30px;">参会次数大于或等于</h3>
            <div class="input-group input-group-sm pull-left" style="width: 150px;">
                <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="box-tools">
                <table>
                    <tr>
                        <td style="padding: 0px 5px;"><button type="button pull-right" class="btn btn-block btn-default "><span class="fa  fa-mail-forward"></span>导出到EXCEL</button></td>
                        <td style="padding: 0px 5px;"><button type="button pull-right" class="btn btn-block btn-default "><span class="fa  fa-file-image-o"></span>打印预览</button></td>
                        <td style="padding: 0px 5px;"><button type="button pull-right" class="btn btn-block btn-default "><span class="fa  fa-clone "></span>打印</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="box-header">
            <h1 class="pc">专家评审基本情况表</h1>
        </div>

        <!-- /.box-header -->
        <div class="box-body">
            <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row"><div class="col-sm-6"></div>
                    <div class="col-sm-6"></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                <table class="table table-bordered table-hover dataTable" role="grid" >
                <thead>
                   <tr role="row">
                       <th class="sorting_asc" tabindex="0"  rowspan="1" colspan="1" >专家姓名</th>
                       <th class="sorting" tabindex="0" rowspan="1" colspan="1" >工作单位</th>
                       <th class="sorting" tabindex="0"  rowspan="1" colspan="1" >会议日期</th>
                       <th class="sorting" tabindex="0"  rowspan="1" colspan="1" >项目名称<span class="p-red">（红色表示函评）</span></th>
                       <th class="sorting" tabindex="0"  rowspan="1" colspan="1" >评审阶段</th>
                       <th class="sorting" tabindex="0"  rowspan="1" colspan="1" >负责人</th>
                   </tr>
                </thead>
                <tbody>

                <tr role="row" class="odd">
                    <td class="sorting_1">曹明禄<p>共1次</p></td>
                    <td>深圳深爱半导体有限公司</td>
                    <td>2017-05-31</td>
                    <td>TEST2</td>
                    <td>项目建议书</td>
                    <td>赵可可</td>
                </tr>
                <tr role="row" class="even">
                    <td class="sorting_1">费璟昊<p>共1次</p></td>
                    <td>深圳深爱半导体有限公司</td>
                    <td>2017-05-31</td>
                    <td>TEST2</td>
                    <td>项目建议书</td>
                    <td>赵可可</td>
                </tr>
                <tr role="row" class="odd">
                    <td class="sorting_1">孙政民<p>共1次</p></td>
                    <td>深圳深爱半导体有限公司</td>
                    <td>2017-05-31</td>
                    <td>TEST2</td>
                    <td>项目建议书</td>
                    <td>赵可可</td>
                </tr>
                </tbody>

            </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info pb p4" id="example2_info" role="status" aria-live="polite">共3位专家，3会议人次</div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                            <ul class="pagination">
                                <li class="paginate_button previous disabled" id="example2_previous"><a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0">上一页</a></li>
                                <li class="paginate_button active"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0">1</a></li>
                                <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0">2</a></li>
                                <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0">3</a></li>
                                <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0">4</a></li>
                                <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0">5</a></li>
                                <li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0">6</a></li>
                                <li class="paginate_button next" id="example2_next"><a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0">下一页</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</section>
</body>
</html>