<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/expertList">专家库管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>

    <div class="well well-sm">
        <form id="searchform" name="searchform">
            <span class="help-inline">姓名：</span>
            <input name="name" style="width: 100px;" type="text"  ng-model="vm.selectHis.epName" />

            <span class="help-inline">会议日期：</span>
            <input style="width: 130px;" kendo-date-picker k-format="'yyyy-MM-dd'"  ng-model="vm.selectHis.beginTime" />
            至
            <input style="width: 130px;" kendo-date-picker k-format="'yyyy-MM-dd'"  ng-model="vm.selectHis.endTime" />

            <span class="help-inline">评审阶段：</span>
            <select name="reviewStage" ng-model="vm.selectHis.reviewStage">
                <option value="">请选择</option>
                <option ng-repeat="x in DICT.PRO_STAGE.dicts|orderBy:'dictSort'" value="{{x.dictName}}">{{x.dictName}}</option>
            </select>

            <span class="help-inline">评分：</span>
            <select name="score" ng-model="vm.selectHis.score">
                <option value="">请选择</option>
                <option value="1">1星</option>
                <option value="2">2星</option>
                <option value="3">3星</option>
                <option value="4">4星</option>
                <option value="5">5星</option>
            </select>

            <button class="btn btn-sm btn-primary" ng-click="vm.search()" ng-disabled="vm.isSubmit"><span class="glyphicon glyphicon-search"></span>查询</button>
            <button class="btn btn-sm btn-primary" ng-click="vm.formReset()" > <span class="glyphicon glyphicon-repeat"></span>重置</button>
        </form>
    </div>


    <div class="table-responsive" style="max-height: 800px; overflow-y: scroll;">
        <table class="table table-bordered">
            <tr class="active">
                <th class="text-center" style="width:8%">姓名</th>
                <th class="text-center" style="width:20%">工作单位</th>
                <th class="text-center" style="width:15%">项目名称</th>
                <th class="text-center" style="width:10%">评审阶段</th>
                <th class="text-center" style="width:10%">会议日期</th>
                <th class="text-center" style="width:8%">负责人</th>
                <th class="text-center" style="width:13%;max-width: 130px;">评分</th>
                <th class="text-center" >评分描述</th>
            </tr>
            <tbody ng-repeat="el in vm.expScoreList" >
            <tr ng-repeat="e in el.childList">
                <td rowspan="{{el.childList.length}}" ng-if="$index == 0" >
                    {{el.epName}}<br>
                    (共 {{el.childList.length}} 次)
                </td>
                <td rowspan="{{el.childList.length}}" ng-if="$index == 0" >
                    {{el.epCompany}}
                </td>
                <td class="text-center" >{{e.projectName}}</td>
                <td class="text-center" >{{e.reviewStage}}</td>
                <td class="text-center" >{{e.reviewDate}}</td>
                <td class="text-center" >{{e.mainChargeUserName}}</td>
                <td class="text-center" >
                    <span style='color:gold;font-size:20px;' ng-repeat="c in range(e.score) track by $index ">
                        <i class='fa fa-star' aria-hidden='true'></i>
                    </span>
                </td>
                <td class="text-center" >{{e.describes}}</td>
            </tr>
            </tbody>
            <tr ng-show="vm.noData">
                <td colspan="8" class="text-center">没有相应的数据！</td>
            </tr>
        </table>
    </div>
</div>