<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/expertList">专家抽取统计</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>

    <div class="well well-sm">
    <form id="searchform" name="searchform">
        <table style="width: 100%">
            <tr>
                <td style="width: 80px;text-align: right;"><span class="help-inline">专家姓名：</span></td>
                <td><input name="name" type="text" style="width: 100px;"  ng-model="vm.selectHis.epName" /></td>
                <td style="width: 80px;text-align: right;"><span class="help-inline">专业大类：</span></td>
                <td colspan="2" ><select ng-model="vm.selectHis.majorBig" ng-change="vm.majobSmallDicts = topSelectChange(vm.selectHis.majorBig,DICT.MAJOR.dicts)">
                    <option value="">请选择</option>
                    <option ng-repeat="d in DICT.MAJOR.dicts" value="{{d.dictName}}">{{d.dictName}}</option>
                </select></td>
                <td style="width: 80px;text-align: right;"><span class="help-inline">专业小类：</span></td>
                <td><select ng-model="vm.selectHis.marjorSmall" >
                    <option value="">请选择</option>
                    <option ng-repeat="ds in vm.majobSmallDicts" value="{{ds.dictName}}">{{ds.dictName}}</option>
                </select></td>
                <td style="width: 80px;text-align: right;"><span class="help-inline">专家类别：</span></td>
                <td><select ng-model="vm.selectHis.expertType">
                    <option value="">请选择</option>
                    <option ng-repeat="dt in DICT.EXPERT_TYPE.dicts" value="{{dt.dictName}}">{{dt.dictName}}</option>
                </select></td>
            </tr>
            <tr>
                <td style="width: 80px;text-align: right;"><span class="help-inline">评审方式：</span></td>
                <td><select name="reviewType" ng-model="vm.selectHis.reviewType">
                    <option value="">请选择</option>
                    <option value="专家评审会">专家评审会</option>
                    <option value="专家函评">专家函评</option>
                </select></td>
                <td style="width: 80px;text-align: right;"><span class="help-inline">抽取方式：</span></td>
                <td><select name="maJorBigParam" ng-model="vm.selectHis.selectType">
                    <option value="">请选择</option>
                    <option value="1">随机抽取</option>
                    <option value="2">自选</option>
                    <option value="3">境外、市外专家</option>
                </select></td>
                <td style="width: 80px;text-align: right;"><span class="help-inline">会议日期：</span></td>
                <td colspan="3" style="min-width: 260px;">
                    <input style="width: 120px;" kendo-date-picker k-format="'yyyy-MM-dd'"  ng-model="vm.selectHis.beginTime" />
                    至
                    <input style="width: 120px;" kendo-date-picker k-format="'yyyy-MM-dd'"  ng-model="vm.selectHis.endTime" />
                </td>
                <td >
                    <button class="btn btn-sm btn-primary" ng-click="vm.search()" ng-disabled="vm.isSubmit"><span class="glyphicon glyphicon-search"></span>查询</button>
                    <button class="btn btn-sm btn-primary" ng-click="vm.formReset()" ><span class="glyphicon glyphicon-repeat"></span>重置</button>
                </td>
            </tr>
        </table>
    </form>
    </div>

    <div class="table-responsive" style="max-height: 800px; overflow-y: scroll;">
        <table class="table table-bordered">  
            <tr class="active">
                <th class="text-center">姓名</th>
                <th class="text-center">工作单位</th>
                <th class="text-center">项目名称</th>
                <th class="text-center">专业大类</th>
                <th class="text-center">专业小类</th>
                <th class="text-center">专家类别</th>
                <th class="text-center">抽取方式</th>
                <th class="text-center">是否选定</th>
                <th class="text-center">评审方式</th>
                <th class="text-center">会议日期</th>
                <th class="text-center">负责人</th>
            </tr>
            <tbody ng-repeat="el in vm.expSelectList" style="border-bottom: none;">
                <tr ng-repeat="e in el.childList">
                    <td rowspan="{{el.childList.length}}" ng-if="$index == 0" style="width:7%">
                        {{el.epName}}<br>
                        (共 {{el.childList.length}} 次)
                    </td>
                    <td rowspan="{{el.childList.length}}" ng-if="$index == 0" style="width:15%">
                        {{el.epCompany}}
                    </td>
                    <td class="text-center" style="width:10%">{{e.projectName}}</td>
                    <td class="text-center" style="width:8%">{{e.majorBig}}</td>
                    <td class="text-center" style="width:8%">{{e.marjorSmall}}</td>
                    <td class="text-center" style="width:7%">{{e.expertType}}</td>
                    <td class="text-center" style="width:7%">{{e.selectType}}</td>
                    <td class="text-center" style="width:7%">{{e.isConfirm}}</td>
                    <td class="text-center" style="width:8%">{{e.reviewType}}</td>
                    <td class="text-center" style="width:10%">{{e.reviewDate}}</td>
                    <td class="text-center" style="width:7%">{{e.mainChargeUserName}}</td>
                </tr>
            </tbody>
            <tr ng-show="vm.noData">
                <td colspan="11" class="text-center">没有相应的数据！</td>
            </tr>
        </table>
    </div>
</div>















