<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/expertList">专家抽取统计</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>

    <div class="toolbar">
        <button class="btn btn-sm btn-success" ng-click="vm.search()" ng-disabled="vm.isSubmit"><span class="glyphicon glyphicon-search"></span>查询</button>
        <button class="btn btn-sm btn-primary" ng-click="vm.formReset()" >重置</button>
   </div>
    <ol class="breadcrumb">
        <form id="searchform" name="searchform">
            <table style="width:100%">
                <tr>
                    <td class="formAlignRight" style="width:60px;">姓名</td>
                    <td style="width: 5%;">
                        <input name="name" type="text"  ng-model="vm.selectHis.epName" />
                    </td>
                    <td class="formAlignRight" style="width:80px;">会议日期</td>
                    <td colspan="2">
                        <input style="width: 130px;" kendo-date-picker k-format="'yyyy-MM-dd'"  ng-model="vm.selectHis.beginTime" />
                       -
                        <input style="width: 130px;" kendo-date-picker k-format="'yyyy-MM-dd'"  ng-model="vm.selectHis.endTime" />
                    </td>
                    <td class="formAlignRight" style="width:80px;">评审方式</td>
                    <td style="width: 10%">
                        <select name="reviewType" ng-model="vm.selectHis.reviewType">
                            <option value="">请选择</option>
                            <option value="专家评审会">专家评审会</option>
                            <option value="专家函评">专家函评</option>
                        </select>
                    </td>

                    <td class="formAlignRight" style="width:80px;">抽取方式</td>
                    <td style="width: 10%">
                        <select name="maJorBigParam" ng-model="vm.selectHis.selectType">
                            <option value="">请选择</option>
                            <option value="1">随机抽取</option>
                            <option value="2">自选</option>
                            <option value="3">境外、市外专家</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formAlignRight" >专业大类</td>
                    <td colspan="2">
                        <select ng-model="vm.selectHis.majorBig" ng-change="vm.majobSmallDicts = topSelectChange(vm.selectHis.majorBig,DICT.MAJOR.dicts)">
                            <option value="">请选择</option>
                            <option ng-repeat="d in DICT.MAJOR.dicts" value="{{d.dictName}}">{{d.dictName}}</option>
                        </select>
                    </td>

                    <td class="formAlignRight" >专业小类</td>
                    <td>
                        <select ng-model="vm.selectHis.marjorSmall" >
                            <option value="">请选择</option>
                            <option ng-repeat="ds in vm.majobSmallDicts" value="{{ds.dictName}}">{{ds.dictName}}</option>
                        </select>
                    </td>
                    <td class="formAlignRight" >专家类别</td>
                    <td>
                        <select ng-model="vm.selectHis.expertType">
                            <option value="">请选择</option>
                            <option ng-repeat="dt in DICT.EXPERT_TYPE.dicts" value="{{dt.dictName}}">{{dt.dictName}}</option>
                        </select>
                    </td>
                    <td class="formAlignRight" >是否选定</td>
                    <td>
                        <select ng-model="vm.selectHis.isConfirm">
                            <option value="">请选择</option>
                            <option value="9">已选定</option>
                            <option value="0">否</option>
                        </select>
                    </td>
                </tr>
            </table>
        </form>
    </ol>


    <div style="max-height: 800px; overflow-y: scroll;">
        <table class="table table-bordered">
            <thead>
                <td class="text-center">姓名</td>
                <td class="text-center">工作单位</td>
                <td class="text-center">项目名称</td>
                <td class="text-center">专业大类</td>
                <td class="text-center">专业小类</td>
                <td class="text-center">专家类别</td>
                <td class="text-center">抽取方式</td>
                <td class="text-center">是否选定</td>
                <td class="text-center">评审方式</td>
                <td class="text-center">会议日期</td>
                <td class="text-center">负责人</td>
            </thead>
            <tbody ng-repeat="el in vm.expSelectList" style="border-bottom: none;">
                <tr ng-repeat="e in el.childList">
                    <td rowspan="{{el.childList.length}}" ng-if="$index == 0" style="width:7%">
                        {{el.epName}}<br>
                        (共 {{el.childList.length}} 次)
                    </td>
                    <td rowspan="{{el.childList.length}}" ng-if="$index == 0" style="width:15%">
                        {{el.epCompany}}
                    </td>
                    <td class="text-center" style="width:10%">{{e.projectName}}</td>
                    <td class="text-center" style="width:8%">{{e.majorBig}}</td>
                    <td class="text-center" style="width:8%">{{e.marjorSmall}}</td>
                    <td class="text-center" style="width:7%">{{e.expertType}}</td>
                    <td class="text-center" style="width:7%">{{e.selectType}}</td>
                    <td class="text-center" style="width:7%">{{e.isConfirm}}</td>
                    <td class="text-center" style="width:8%">{{e.reviewType}}</td>
                    <td class="text-center" style="width:10%">{{e.reviewDate}}</td>
                    <td class="text-center" style="width:7%">{{e.mainChargeUserName}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>















