<!-- S 设备清单 -->
<table class="print-table"  >
    <caption class="title" style="margin-top: 12px;">深圳市政府投资项目评审中心<br>
        {{getTBHeadName(vm.fileRecord.fileReviewstage,vm.fileRecord.isAdvanced,'项目归档审批表')}}
    </caption>
    <caption>
        <span style="float: left;margin-left: 10px;">QR-4.10-04-A0</span>
        <span style="float: right;margin-right: 10px;">档案编号:{{vm.fileRecord.fileNo}}</span>
    </caption>
    <tbody>
    <!--<tr class="tr-hidden">
        <td width="20%"></td>
        <td width="10%"></td>
        <td width="20%"></td>
        <td width="10%"></td>
        <td width="20%"></td>
        <td width="10%"></td>
        <td width="10%"></td>
    </tr>-->
    <tr style="height: 60px;">
        <td width="20%" class="text-center">项目名称</td>
        <td colspan="6" width="80%">{{vm.fileRecord.projectName}}</td>
    </tr>
    <tr style="height: 60px;">
        <td class="text-center" width="20%">项目单位</td>
        <td colspan="3" width="40%">{{vm.fileRecord.projectCompany}}</td>
        <td class="text-center" width="20%">项目代码</td>
        <td colspan="2" width="20%">{{vm.fileRecord.projectCode}}</td>
    </tr>
    <tr style="height: 60px;">
        <td  class="text-center">文件标题：</td>
        <td colspan="3" >{{vm.fileRecord.fileTitle}}</td>
        <td class="text-center">发文号12</td>
        <td colspan="2">{{vm.fileRecord.fileNumber}}</td>
    </tr>
    <tr style="height: 40px;">
        <td colspan="4" style="text-align: left;width: 60%;">二、评审会有关资料</td>
        <td style="border-right: 0;width: 13%;" >原件</td>
        <td style="border-right: 0; border-left: 0px;width: 14%;" >复印件</td>
        <td style="border-left: 0px;width: 13%;" >份数</td>
    </tr>
    <tr style="height: 40px;">
        <td  colspan="4" style="text-align: left;">1、评审会专家评审意见</td>
        <td style="border-right: 0px;">
            <input  type="checkbox"   ng-model="vm.fileRecord.expertOriginal"
                    ng-checked="vm.fileRecord.expertOriginal == 9 || vm.fileRecord.expertOriginal == '9'"
                    ng-true-value="9" ng-false-value="0">
        </td>
        <td style="border-right: 0; border-left: 0px;">
            <input  type="checkbox"    ng-model="vm.fileRecord.expertCopy"
                    ng-checked="vm.fileRecord.expertCopy = 9 || vm.fileRecord.expertCopy == '9'"
                    ng-true-value="9" ng-false-value="0">
        </td>
        <td style="border-left: 0px;" >
            <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.expertCount"
                  value="{{vm.fileRecord.expertCount}}" name="expertCount"  ng-readonly="true">
        </td>
    </tr>
    <tr style="height: 40px;">
        <td  colspan="4" style="text-align: left;">2、专家个人意见</td>
        <td style="border-right: 0px;">
            <input  type="checkbox"   ng-model="vm.fileRecord.expertAmanOriginal"
                    ng-checked="vm.fileRecord.expertAmanOriginal == 9 || vm.fileRecord.expertAmanOriginal == '9'"
                    ng-true-value="9" ng-false-value="0">
        </td>
        <td style="border-right: 0; border-left: 0px;">
            <input  type="checkbox"    ng-model="vm.fileRecord.expertAmanCopy"
                    ng-checked="vm.fileRecord.expertAmanCopy == 9 || vm.fileRecord.expertAmanCopy == '9'"
                    ng-true-value="9" ng-false-value="0">
        </td>
        <td style="border-left: 0px;">
            <input  type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.expertAmanCount"
                   value="{{vm.fileRecord.expertAmanCount}}" name="expertAmanCount"  ng-readonly="true">
        </td>
    </tr>
    <tr style="height: 40px;">
        <td  colspan="4" style="text-align: left;">3、评审会议工作方案</td>
        <td style="border-right: 0px;">
            <input  type="checkbox"   ng-model="vm.fileRecord.planOriginal"
                    ng-checked="vm.fileRecord.planOriginal == 9 || vm.fileRecord.planOriginal == '9'"
                    ng-true-value="9" ng-false-value="0">
        </td>
        <td style="border-right: 0; border-left: 0px;">
            <input  type="checkbox"    ng-model="vm.fileRecord.planCopy"
                    ng-checked="vm.fileRecord.planCopy == 9 || vm.fileRecord.planCopy == '9'"
                    ng-true-value="9" ng-false-value="0">
        </td>
        <td  style="border-left:  0px;">
            <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.planCount"
                  value="{{vm.fileRecord.planCount}}" name="planCount"  ng-readonly="true">
        </td>
    </tr>
    <tr style="height: 40px;">
        <td  colspan="4" style="text-align: left;">4、会议签到表</td>
        <td style="border-right: 0px;" >
            <input type="checkbox"   ng-model="vm.fileRecord.meetingSignOriginal"
                   ng-checked="vm.fileRecord.meetingSignOriginal == 9  || vm.fileRecord.meetingSignOriginal == '9'"
                   ng-true-value="9" ng-false-value="0">
        </td>
        <td  style="border-right: 0; border-left: 0px;">
            <input type="checkbox"    ng-model="vm.fileRecord.meetingSignCopy"
                   ng-checked="vm.fileRecord.meetingSignCopy == 9 || vm.fileRecord.meetingSignCopy == '9'"
                   ng-true-value="9" ng-false-value="0">
        </td>
        <td style="border-left: 0px;">
            <input  type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.meetingSignCount"
                   value="{{vm.fileRecord.meetingSignCount}}" name="meetingSignCount"  ng-readonly="true">
        </td>
    </tr>
    <tr style="height: 40px;">
        <td  colspan="4" style="text-align: left;">5、评审费发放表</td>
        <td style="border-right: 0px;">
            <input  type="checkbox"   ng-model="vm.fileRecord.stageCostOriginal"
                    ng-checked="vm.fileRecord.stageCostOriginal == 9 || vm.fileRecord.stageCostOriginal == '9'"
                    ng-true-value="9" ng-false-value="0">
        </td>
        <td style="border-right: 0; border-left: 0px;" >
            <input type="checkbox"    ng-model="vm.fileRecord.stageCostCopy"
                   ng-checked="vm.fileRecord.stageCostCopy == 9 || vm.fileRecord.stageCostCopy == '9'"
                   ng-true-value="9" ng-false-value="0">
        </td>
        <td style="border-left: 0px;">
            <input  type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.stageCostCount"
                   value="{{vm.fileRecord.stageCostCount}}" name="stageCostCount"  ng-readonly="true">
        </td>
    </tr>
    <tr style="height: 40px;">
        <td  colspan="4" style="text-align: left;">6、报审登记表</td>
        <td style="border-right: 0px;">
            <input  type="checkbox"   ng-model="vm.fileRecord.recordFormOriginal"
                    ng-checked="vm.fileRecord.recordFormOriginal == 9 || vm.fileRecord.recordFormOriginal == '9'"
                    ng-true-value="9" ng-false-value="0">
        </td>
        <td  style="border-right: 0; border-left: 0px;">
            <input type="checkbox"    ng-model="vm.fileRecord.recordFormCopy"
                   ng-checked="vm.fileRecord.recordFormCopy == 9 || vm.fileRecord.recordFormCopy == '9'"
                   ng-true-value="9" ng-false-value="0">
        </td>
        <td style="border-left: 0px;">
            <input  type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.recordFormCount"
                   value="{{vm.fileRecord.recordFormCount}}" name="recordFormCount"  ng-readonly="true">
        </td>
    </tr>
    <tr>
        <td colspan="7" style="text-align: left;" width="100%">三、项目报审资料</td>
    </tr>

    <tr>
        <td colspan="7" width="100%">
            <table class="child-table" style="font-size: 12px;"  >
                <tr>
                    <td width="20%" style="padding-bottom:10px;"></td>
                    <td width="10%">原件</td>
                    <td width="10%">复印件</td>
                    <td width="10%">扫描</td>
                    <td width="20%"></td>
                    <td width="10%">原件</td>
                    <td width="10%">复印件</td>
                    <td width="10%">份数</td>
                </tr>
                <tr>
                    <td class="printing-td">项目处理表</td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.sugproHandleFormOriginal"
                               ng-checked="vm.fileRecord.sugproHandleFormOriginal == 9 || vm.fileRecord.sugproHandleFormOriginal == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.sugproHandleFormCopy"
                               ng-checked="vm.fileRecord.sugproHandleFormCopy == 9 || vm.fileRecord.sugproHandleFormCopy == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.sugproHandleFormCount"
                              value="{{vm.fileRecord.sugproHandleFormCount}}" name="sugproHandleFormCount"  ng-readonly="true"></td>

                    <td >文件处理表</td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.officialDisposeOriginal"
                               ng-checked="vm.fileRecord.officialDisposeOriginal == 9 || vm.fileRecord.officialDisposeOriginal == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.officialDisposeCopy"
                               ng-checked="vm.fileRecord.officialDisposeCopy == 9 || vm.fileRecord.officialDisposeCopy == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.officialDisposeCount"
                              value="{{vm.fileRecord.officialDisposeCount}}" name="officialDisposeCount" id="officialDisposeCount" ng-readonly="true"></td>
                </tr>
                <tr>
                    <td>政府采购进口产品申请表</td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.governmentPurchasOriginal"
                               ng-checked="vm.fileRecord.governmentPurchasOriginal == 9 || vm.fileRecord.governmentPurchasOriginal == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.governmentPurchasCopy"
                               ng-checked="vm.fileRecord.governmentPurchasCopy == 9 || vm.fileRecord.governmentPurchasCopy == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.governmentPurchasCount"
                              value="{{vm.fileRecord.governmentPurchasCount}}" name="governmentPurchasCount"  ng-readonly="true"></td>

                    <td>主管部门意见</td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.managerDeptOriginal"
                               ng-checked="vm.fileRecord.managerDeptOriginal == 9 || vm.fileRecord.managerDeptOriginal == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.managerDeptCopy"
                               ng-checked="vm.fileRecord.managerDeptCopy == 9 || vm.fileRecord.managerDeptCopy == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.managerDeptCount"
                              value="{{vm.fileRecord.managerDeptCount}}" name="managerDeptCount"  ng-readonly="true"></td>
                </tr>
                <tr>
                    <td class="printing-td">专家论证意见</td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.expertArgumentOriginal"
                               ng-checked="vm.fileRecord.expertArgumentOriginal == 9 || vm.fileRecord.expertArgumentOriginal == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.expertArgumentCopy"
                               ng-checked="vm.fileRecord.expertArgumentCopy == 9 || vm.fileRecord.expertArgumentCopy == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.expertArgumentCount"
                              value="{{vm.fileRecord.expertArgumentCount}}" name="expertArgumentCount"  ng-readonly="true"></td>
                    <td>进口产品目录</td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.importProductOriginal"
                               ng-checked="vm.fileRecord.importProductOriginal == 9 || vm.fileRecord.importProductOriginal == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="checkbox"    ng-model="vm.fileRecord.importProductCopy"
                               ng-checked="vm.fileRecord.importProductCopy == 9 || vm.fileRecord.importProductCopy == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.importProductCount"
                              value="{{vm.fileRecord.importProductCount}}" name="importProductCount" ng-readonly="true"></td>
                </tr>
                <tr>
                    <td class="printing-td">发改委意见</td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.developementOriginal"
                               ng-checked="vm.fileRecord.developementOriginal == 9 || vm.fileRecord.developementOriginal == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.developementCopy"
                               ng-checked="vm.fileRecord.developementCopy == 9 || vm.fileRecord.developementCopy == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.developmentCount"
                              value="{{vm.fileRecord.developmentCount}}" name="developmentCount"  ng-readonly="true"></td>
                    <td>设备说明书</td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.sprcialDevicesOriginal"
                               ng-checked="vm.fileRecord.sprcialDevicesOriginal == 9 || vm.fileRecord.sprcialDevicesOriginal == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="checkbox"     ng-model="vm.fileRecord.sprcialDevicesCopy"
                               ng-checked="vm.fileRecord.sprcialDevicesCopy == 9 || vm.fileRecord.sprcialDevicesCopy == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.sprcialDevicesCount"
                              value="{{vm.fileRecord.sprcialDevicesCount}}" name="sprcialDevicesCount"  ng-readonly="true"></td>
                </tr>
                <tr>
                    <td class="printing-td">其他</td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.otherImportFileOriginal"
                               ng-checked="vm.fileRecord.otherImportFileOriginal == 9 || vm.fileRecord.otherImportFileOriginal == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.otherImportFileCopy"
                               ng-checked="vm.fileRecord.otherImportFileCopy == 9 || vm.fileRecord.otherImportFileCopy == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.otherImportFileCount"
                              value="{{vm.fileRecord.otherImportFileCount}}" name="otherImportFileCount"  ng-readonly="true"></td>
                    <td>其他</td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.otherImportFileOriginal"
                               ng-checked="vm.fileRecord.otherImportFileOriginal == 9 || vm.fileRecord.otherImportFileOriginal == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="checkbox"     ng-model="vm.fileRecord.otherImportFileCopy"
                               ng-checked="vm.fileRecord.otherImportFileCopy == 9 || vm.fileRecord.otherImportFileCopy == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.otherImportFileCount"
                              value="{{vm.fileRecord.otherImportFileCount}}" name="otherImportFileCount"  ng-readonly="true"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr >
        <td colspan="7" style="text-align: left;width:100%;">
            <div style="width: 100%; height: 120px ; overflow: hidden;">四：其他资料</div>
        </td>
    </tr>
    <tr style="height: 60px;">
        <td  class="text-center" >项目负责人签名</td>
        <td colspan="3" >{{vm.fileRecord.projectChargeUser}}
        <span ng-if="vm.fileRecord.projectTwoUser">、</span>
            {{vm.fileRecord.projectTwoUser}}
        </td>
        <td class="text-center" >发送存档日期</td>
        <td colspan="2" >{{vm.fileRecord.sendStoreDate}}</td>
    </tr>
    <tr style="height: 60px;">
        <td  class="text-center">档案管理员签收</td>
        <td colspan="3">{{vm.fileRecord.signUserName}}</td>
        <td  class="text-center">存档日期</td>
        <td colspan="2">{{vm.fileRecord.fileDate}}</td>
    </tr>
    </tbody>
</table>
<!--  end table		-->

<!-- E 设备清单-->