<!-- S 设备清单 -->
<table class="print-table"  >
    <caption class="title" style="margin-top: 12px;">{{getSysAccreditUnit()}}<br>
        {{getTBHeadName(vm.fileRecord.fileReviewstage,vm.fileRecord.isAdvanced,'项目归档审批表')}}
    </caption>
    <caption>
        <span style="float: left;margin-left: 10px;">QR-4.9-10-A0</span>
        <span style="float: right;margin-right: 10px;">档案编号:{{vm.fileRecord.fileNo}}</span>
    </caption>
    <tbody>
    <!--<tr class="tr-hidden">
        <td width="15%"></td>
        <td width="10%"></td>
        <td width="25%"></td>
        <td width="20%"></td>
        <td width="10%"></td>
        <td width="10%"></td>
    </tr>-->
    <tr style="height: 60px;">
        <td width="15%" class="text-center">项目名称</td>
        <td colspan="5" width="85%">{{vm.fileRecord.projectName}}</td>
    </tr>
    <tr style="height: 60px;">
        <td class="text-center" width="15%">项目单位</td>
        <td colspan="2" width="35%">{{vm.fileRecord.projectCompany}}</td>
        <td class="text-center" width="20%">项目代码</td>
        <td colspan="2" width="30%">{{vm.fileRecord.projectCode}}</td>
    </tr>
    <tr style="height: 60px;">
        <td colspan="3" style="text-align: left;" width="50%">一、评审意见：</td>
        <td class="text-center">文号</td>
        <td colspan="2">{{vm.fileRecord.fileNumber}}</td>
    </tr>
    <tr style="height: 40px;">
        <td colspan="3" style="text-align: left;width: 50%;">二、评审会有关资料</td>
        <td style="border-right: 0;width: 17%;">原件</td>
        <td style="border-right: 0; border-left: 0px;width: 17%;">复印件</td>
        <td style="border-left: 0px;width: 16%;">份数</td>
    </tr>
    <tr style="height: 40px;" >
        <td  colspan="3" style="text-align: left;">1、专家评审意见</td>
        <td style="border-right: 0px;">
            <input  type="checkbox"    ng-model="vm.fileRecord.expertOriginal"
                    ng-checked="vm.fileRecord.expertOriginal == 9 || vm.fileRecord.expertOriginal == '9'"
                    ng-true-value="9" ng-false-value="0">
        </td>
        <td style="border-right: 0; border-left: 0px;">
            <input  type="checkbox"    ng-model="vm.fileRecord.expertCopy"
                    ng-checked="vm.fileRecord.expertCopy == 9 || vm.fileRecord.expertCopy == '9'"
                    ng-true-value="9" ng-false-value="0">
        </td>
        <td style="border-left: 0px;" >
            <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.expertCount"
                  value="{{vm.fileRecord.expertCount}}" name="expertCount"  ng-readonly="true">
        </td>
    </tr>
    <tr style="height: 40px;" >
        <td  colspan="3" style="text-align: left;">2、专家意见书</td>
        <td style="border-right: 0px;">
            <input  type="checkbox"   ng-model="vm.fileRecord.expertAmanOriginal"
                    ng-checked="vm.fileRecord.expertAmanOriginal == 9 || vm.fileRecord.expertAmanOriginal == '9'"
                    ng-true-value="9" ng-false-value="0">
        </td>
        <td style="border-right: 0; border-left: 0px;">
            <input  type="checkbox"    ng-model="vm.fileRecord.expertAmanCopy"
                    ng-checked="vm.fileRecord.expertAmanCopy == 9 || vm.fileRecord.expertAmanCopy == '9'"
                    ng-true-value="9" ng-false-value="0">
        </td>
        <td style="border-left: 0px;">
            <input  type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.expertAmanCount"
                   value="{{vm.fileRecord.expertAmanCount}}" name="expertAmanCount"  ng-readonly="true">
        </td>
    </tr>
    <tr style="height: 40px;">
        <td  colspan="3" style="text-align: left;">3、评审会议工作方案</td>
        <td style="border-right: 0px;">
            <input  type="checkbox"   ng-model="vm.fileRecord.planOriginal"
                    ng-checked="vm.fileRecord.planOriginal == 9 || vm.fileRecord.planOriginal == '9'"
                    ng-true-value="9" ng-false-value="0">
        </td>
        <td style="border-right: 0; border-left: 0px;">
            <input  type="checkbox"    ng-model="vm.fileRecord.planCopy"
                    ng-checked="vm.fileRecord.planCopy == 9 || vm.fileRecord.planCopy == '9'"
                    ng-true-value="9" ng-false-value="0">
        </td>
        <td  style="border-left:  0px;">
            <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.planCount"
                  value="{{vm.fileRecord.planCount}}" name="planCount"  ng-readonly="true">
        </td>
    </tr>
    <tr style="height: 40px;">
        <td  colspan="3" style="text-align: left;">4、会议签到表</td>
        <td style="border-right: 0px;" >
            <input type="checkbox"   ng-model="vm.fileRecord.meetingSignOriginal"
                   ng-checked="vm.fileRecord.meetingSignOriginal == 9 || vm.fileRecord.meetingSignOriginal == '9'"
                   ng-true-value="9" ng-false-value="0">
        </td>
        <td  style="border-right: 0; border-left: 0px;">
            <input type="checkbox"    ng-model="vm.fileRecord.meetingSignCopy"
                   ng-checked="vm.fileRecord.meetingSignCopy == 9 || vm.fileRecord.meetingSignCopy == '9'"
                   ng-true-value="9" ng-false-value="0">
        </td>
        <td style="border-left: 0px;">
            <input  type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.meetingSignCount"
                   value="{{vm.fileRecord.meetingSignCount}}" name="meetingSignCount"  ng-readonly="true">
        </td>
    </tr>
    <tr style="height: 40px;">
        <td  colspan="3" style="text-align: left;">5、评审费发放表</td>
        <td style="border-right: 0px;">
            <input  type="checkbox"   ng-model="vm.fileRecord.stageCostOriginal"
                    ng-checked="vm.fileRecord.stageCostOriginal == 9 || vm.fileRecord.stageCostOriginal == '9'"
                    ng-true-value="9" ng-false-value="0">
        </td>
        <td style="border-right: 0; border-left: 0px;" >
            <input type="checkbox"    ng-model="vm.fileRecord.stageCostCopy"
                   ng-checked="vm.fileRecord.stageCostCopy == 9 || vm.fileRecord.stageCostCopy == '9'"
                   ng-true-value="9" ng-false-value="0">
        </td>
        <td style="border-left: 0px;">
            <input  type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.stageCostCount"
                   value="{{vm.fileRecord.stageCostCount}}" name="stageCostCount" ng-readonly="true">
        </td>
    </tr>
    <tr style="height: 40px;">
        <td  colspan="3" style="text-align: left;">6、报审登记表</td>
        <td style="border-right: 0px;">
            <input  type="checkbox"   ng-model="vm.fileRecord.recordFormOriginal"
                    ng-checked="vm.fileRecord.recordFormOriginal == 9 || vm.fileRecord.recordFormOriginal == '9'"
                    ng-true-value="9" ng-false-value="0">
        </td>
        <td  style="border-right: 0; border-left: 0px;">
            <input type="checkbox"    ng-model="vm.fileRecord.recordFormCopy"
                   ng-checked="vm.fileRecord.recordFormCopy == 9 || vm.fileRecord.recordFormCopy == '9'"
                   ng-true-value="9" ng-false-value="0">
        </td>
        <td style="border-left: 0px;">
            <input  type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.recordFormCount"
                   value="{{vm.fileRecord.recordFormCount}}" name="recordFormCount" ng-readonly="true">
        </td>
    </tr>
    <tr style="height: 40px;">
        <td colspan="6" style="text-align: left;">三、项目报审资料</td>
    </tr>

    <tr>
        <td colspan="6">
            <table class="child-table" style="font-size: 12px;">
                <tr>
                    <td width="20%" style="padding-bottom:10px;"></td>
                    <td width="10%">原件</td>
                    <td width="10%">复印件</td>
                    <td width="10%">扫描件</td>
                    <td width="20%"></td>
                    <td width="10%">原件</td>
                    <td width="10%">复印件</td>
                    <td width="10%">份数</td>
                </tr>
                <tr>
                    <td class="printing-td">文件处理表</td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.sugfileHandleFormOriginal"
                               ng-checked="vm.fileRecord.sugfileHandleFormOriginal == 9 || vm.fileRecord.sugfileHandleFormOriginal == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.sugfileHandleFormCopy"
                               ng-checked="vm.fileRecord.sugfileHandleFormCopy == 9 || vm.fileRecord.sugfileHandleFormCopy == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.sugfileHandleFormCount"
                              value="{{vm.fileRecord.sugfileHandleFormCount}}" name="sugfileHandleFormCount" ng-readonly="true"></td>
                    <td>采购设备清单</td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.purchasDeviceOriginal"
                               ng-checked="vm.fileRecord.purchasDeviceOriginal == 9 || vm.fileRecord.purchasDeviceOriginal == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.purchasDeviceCopy"
                               ng-checked="vm.fileRecord.purchasDeviceCopy == 9 || vm.fileRecord.purchasDeviceCopy == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.purchasDeviceCount"
                              value="{{vm.fileRecord.purchasDeviceCount}}" name="purchasDeviceCount" ng-readonly="true"></td>
                </tr>
                <tr>
                    <td class="printing-td">项目处理表</td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.sugproHandleFormOriginal"
                               ng-checked="vm.fileRecord.sugproHandleFormOriginal == 9 || vm.fileRecord.sugproHandleFormOriginal == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.sugproHandleFormCopy"
                               ng-checked="vm.fileRecord.sugproHandleFormCopy == 9 || vm.fileRecord.sugproHandleFormCopy == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.sugproHandleFormCount"
                              value="{{vm.fileRecord.sugproHandleFormCount}}" name="sugproHandleFormCount"  ng-readonly="true"></td>
                    <td>采购设备清单电子版</td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.purchasDeviceOriginal"
                               ng-checked="vm.fileRecord.purchasDeviceOriginal == 9 || vm.fileRecord.purchasDeviceOriginal == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.purchasDeviceCopy"
                               ng-checked="vm.fileRecord.purchasDeviceCopy == 9 || vm.fileRecord.purchasDeviceCopy == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.projectApproveFileOriginal"
                              value="{{vm.fileRecord.projectApproveFileOriginal}}" name="projectApproveFileOriginal"  ng-readonly="true"></td>
                </tr>
                <tr>
                    <td class="printing-td">项目申报表</td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.projectDeclareOriginal"
                               ng-checked="vm.fileRecord.projectDeclareOriginal == 9 || vm.fileRecord.projectDeclareOriginal == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.projectDeclareCopy"
                               ng-checked="vm.fileRecord.projectDeclareCopy == 9 || vm.fileRecord.projectDeclareCopy == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.projectDeclareCount"
                              value="{{vm.fileRecord.projectDeclareCount}}" name="projectDeclareCount"  ng-readonly="true"></td>
                    <td>设备说明书</td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.sprcialDevicesOriginal"
                               ng-checked="vm.fileRecord.sprcialDevicesOriginal == 9 || vm.fileRecord.sprcialDevicesOriginal == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="checkbox"    ng-model="vm.fileRecord.sprcialDevicesCopy"
                               ng-checked="vm.fileRecord.sprcialDevicesCopy == 9 || vm.fileRecord.sprcialDevicesCopy == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.sprcialDevicesCount"
                             value="{{vm.fileRecord.sprcialDevicesCount}}"  name="sprcialDevicesCount" ng-readonly="true"></td>
                </tr>
                <tr>
                    <td class="printing-td">项目申请报告</td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.projectApplyReportOriginal"
                               ng-checked="vm.fileRecord.projectApplyReportOriginal == 9 || vm.fileRecord.projectApplyReportOriginal == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.projectApplyReportCopy"
                               ng-checked="vm.fileRecord.projectApplyReportCopy == 9 || vm.fileRecord.projectApplyReportCopy == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.projectApplyReportCount"
                              value="{{vm.fileRecord.projectApplyReportCount}}" name="projectApplyReportCount"  ng-readonly="true"></td>
                    <td>采购合同书</td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.purchasDevicePactOriginal"
                               ng-checked="vm.fileRecord.purchasDevicePactOriginal == 9 || vm.fileRecord.purchasDevicePactOriginal == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="checkbox"     ng-model="vm.fileRecord.sprcialDevicesCopy"
                               ng-checked="vm.fileRecord.sprcialDevicesCopy == 9 || vm.fileRecord.sprcialDevicesCopy == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.purchasDevicePactCount"
                              value="{{vm.fileRecord.purchasDevicePactCount}}" name="purchasDevicePactCount"  ng-readonly="true"></td>
                </tr>
                <tr>
                    <td class="printing-td">项目申请报告电子版</td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.electronicDocumentOriginal"
                               ng-checked="vm.fileRecord.electronicDocumentOriginal == 9 || vm.fileRecord.electronicDocumentOriginal == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.electronicDocumentCopy"
                               ng-checked="vm.fileRecord.electronicDocumentCopy == 9 || vm.fileRecord.electronicDocumentCopy == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.electronicDocumentCount"
                              value="{{vm.fileRecord.electronicDocumentCount}}" name="electronicDocumentCount"  ng-readonly="true"></td>
                    <td>建设单位相关资料</td>
                    <td >
                        <input type="checkbox"   ng-model="vm.fileRecord.businessLicenseOriginal"
                               ng-checked="vm.fileRecord.businessLicenseOriginal == 9 || vm.fileRecord.businessLicenseOriginal == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="checkbox"     ng-model="vm.fileRecord.businessLicenseCopy"
                               ng-checked="vm.fileRecord.businessLicenseCopy == 9 || vm.fileRecord.businessLicenseCopy == '9'"
                               ng-true-value="9" ng-false-value="0"></td>
                    <td >
                        <input type="text" class="num" data-val="true" data-val-digits="只能输入数字" ng-model="vm.fileRecord.businessLicenseCount"
                              value="{{vm.fileRecord.businessLicenseCount}}" name="businessLicenseCount"  ng-readonly="true"></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr >
        <td colspan="6" style="text-align: left;">
            <div style="width: 100%; height: 150px; overflow: hidden;">四：其他资料</div>
        </td>
    </tr>
    <tr style="height: 60px;">
        <td class="text-center" >项目负责人签名</td>
        <td colspan="2" >{{vm.fileRecord.projectChargeUser}}
        <span ng-if="vm.fileRecord.projectTwoUser">、</span>
            {{vm.fileRecord.projectTwoUser}}
        </td>
        <td class="text-center">发送存档日期</td>
        <td colspan="2" >{{vm.fileRecord.sendStoreDate}}</td>
    </tr>
    <tr style="height: 60px;">
        <td  class="text-center">档案管理员签收</td>
        <td colspan="2">{{vm.fileRecord.signUserName}}</td>
        <td  class="text-center">存档日期</td>
        <td colspan="2">{{vm.fileRecord.fileDate}}</td>
    </tr>
    </tbody>
</table>
<!--  end table		-->

<!-- E 设备清单-->