<ion-view title="修改密码" class="{{viewMainClass}}">
	<ion-nav-bar class="bar-positive">
		<ion-nav-buttons side="left"><!--后退-->
			<button ng-click="back()" class="button back-button buttons button-clear header-item">
            	<i class="icon ion-android-arrow-back"></i></button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content ng-controller="modifyPwdCtrl">
		<form name="myForm" novalidate>

				<div class="list list-inset">
					<label class="item item-input">
                        <i class="icon positive">旧密码</i>
                        <input type="password" ng-model="user.oldPwd" required>
                    </label>
					<label class="item item-input">
                        <i class="icon positive">新密码</i>
                        <input type="password" ng-model="user.newPwd" required>
                    </label>
                    <label class="item item-input">
                        <i class="icon positive">确认新密码</i>
                        <input type="password" ng-model="user.newPwdConfirm" required>
                    </label>
                    <span style="color:red" ng-show="user.newPwd!=user.newPwdConfirm">两次密码不一致</span>
                    <span style="color:red" >{{errMsg}}</span>
				</div>

				<!--	<div class="list list-inset">
					<ion-toggle toggle-class="toggle-calm" ng-model="remeberUser" ng-checked="remeberUser" ng-click="remeber(remeberUser,formUser)">
						记住账号
					</ion-toggle>
				</div>-->

				<div class="list list-inset" style="background:none">
					<input class="button  button-block button-positive" type="submit" 
						ng-disabled="myForm.$invalid || user.newPwd != user.newPwdConfirm" ng-click="doModifyPwd(user)" value="修改" />
				</div>
				<!--<a ui-sref="tab.workDynamic">dd</a>-->
		</form>
	</ion-content>

</ion-view>