<#assign path=request.contextPath />
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div  class="well well-sm conttent_list" style="background: white;min-height:960px;margin-bottom: 50px;" >
    <ol class="breadcrumb">
        <li><a href="#/expertList">党务管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <div class="toolbar">
        <button class="btn btn-sm btn-success"  ng-click="vm.saveParty()" ng-disabled="vm.isSubmit" >
            <span class="glyphicon glyphicon-ok"></span>保存
        </button>
    </div>

    <table class="table table-bordered">
        <tr>
            <td class="text-right" width="15%">会议标题：</td>
            <td>
                <input type="text"/>
            </td>
        </tr>
        <tr>
            <td class="text-right">会议签到：</td>
            <td style="padding: 0px 0px;">
                <table class="table" style="border-bottom: none ; border-left: none; border-right: none;">
                    <tr>
                        <td style="width: 85px;" style="border-left: none;border-right: none;">
                            中心领导
                        </td>
                        <td style="border-left: none;border-right: none;">
                            <li ng-repeat="u in vm.noOrgUsetList" style="width: 80px;float: left;">
                                <input type="checkbox" name="shareUser" value="{{u.id}}" ng-checked="{{u.isChecked}}"/>{{u.displayName}}</li>
                            </li>
                        </td>
                    </tr>
                    <tr ng-repeat="o in vm.shareOrgList">
                        <td style="border-left: none;border-right: none;">{{o.name}}</td>
                        <td style="border-left: none;border-right: none; border-bottom: none;">
                            <li ng-repeat="u in o.userDtos" style="width: 80px;float: left;">
                                <input type="checkbox" tit="{{o.id}}" name="shareUser" value="{{u.id}}" ng-checked="{{u.isChecked}}" ng-disabled="{{u.isDisabled}}"/>{{u.displayName}}</li>
                            </li>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="text-right">会议内容：</td>
            <td>
                <textarea rows="3" cols="100"></textarea>
            </td>
        </tr>
        <tr>
            <td class="text-right">附件：</td>
            <td colspan="2">
                <p>
                    <button class="btn btn-sm btn-primary" ng-click="vm.clickUploadBt();" id="upload_file_bt">上传附件</button>
                </p>

                <div ng-repeat="x in vm.sysFilelists">
                    <p>
                        <i class="fa fa-file-image-o" aria-hidden="true"
                           ng-show="x.fileType =='.png' || x.fileType =='.jpg' || x.fileType =='.gif'"></i>
                        <i class="fa fa-file-word-o" aria-hidden="true"
                           ng-show="x.fileType =='.docx' || x.fileType =='.doc'"></i>
                        <i class="fa fa-file-excel-o" aria-hidden="true"
                           ng-show="x.fileType =='.xlsx' || x.fileType =='.xls'"></i>
                        <i class="fa fa-file-pdf-o" aria-hidden="true" ng-show="x.fileType =='.pdf'"></i>
                        <a ng-click="vm.downloadSysFile(x.sysFileId)">{{ x.showName }}</a>
                        <button class="btn btn-xs btn-danger" ng-click="vm.delSysFile(x.sysFileId)"><i
                                class="fa fa-times" aria-hidden="true"></i>删除
                        </button>
                    </p>
                </div>
            </td>
        </tr>

    </table>
</div>