<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/quartz">党务管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>

    <div class="toolbar">
        <button class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="vm.queryParty()">
            <span class="glyphicon glyphicon-search"></span>查询</button>
        <button class="btn btn-sm btn-primary" ng-click="vm.formReset()">
            <span class="glyphicon glyphicon-repeat"></span>重置
        </button>
        <button class="btn btn-sm btn-success" ng-click="vm.exportSignInSheet()">
            导出
        </button>
    </div>
    <div class="well well-sm">
        <form id="partyform" name="partyform" class="well well-sm">
            <table style="width:100%" id="searchTable">
                <tr>
                    <td class="text-right" width="5%">
                        <span class="help-inline">入党时间：</span>
                    </td>
                    <td width="25%">
                        <input type="text"  operator="ge" name="pmJoinPartyDate" id="pmJoinPartyDate"
                               placeholder="请输入" class="form-control input-xm "
                               kendo-date-picker k-format="'yyyy-MM-dd'" />
                        至
                        <input type="text"  operator="le" name="pmJoinPartyDate" id="pmJoinPartyDate"
                               placeholder="请输入" class="form-control input-xm "
                               kendo-date-picker k-format="'yyyy-MM-dd'" />

                    </td>
                    <td class="text-right" width="5%">
                        <span class="help-inline" >性别：</span>
                    </td>
                    <td width="10%">
                        <select  class="form-control select-sm"
                                 name="pmSex" id="pmSex" operator="like" placeholder="请选择">
                            <option value="">请选择</option>
                            <option value="男">男</option>
                            <option value="女">女</option>
                        </select>
                    </td>
                    <td class="text-right" width="5%">
                        <span class="help-inline" >学历：</span>
                    </td>
                    <td width="10%">
                        <select  class="form-control select-sm"
                                 name="pmEducation" id="pmEducation" operator="like" placeholder="请选择">
                            <option value="">请选择</option>
                            <option value="BSYJS">博士研究生</option>
                            <option value="SSYJS">硕士研究生</option>
                        </select>
                    </td>

                    <td class="text-right" width="5%">
                        <span class="help-inline">转入时间：</span>
                    </td>
                    <td width="30%">
                        <input type="text"  operator="ge" name="pmTurnToPatryDate" id="pmTurnToPatryDate"
                               placeholder="请输入" class="form-control input-xm "
                               kendo-date-picker k-format="'yyyy-MM-dd'" />
                        至
                        <input type="text"  operator="le" name="pmTurnToPatryDate" id="pmTurnToPatryDate"
                               placeholder="请输入" class="form-control input-xm "
                               kendo-date-picker k-format="'yyyy-MM-dd'" />

                    </td>
                </tr>

            </table>
        </form>
    </div>

    <div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
</div>
<script type="text/template" id="columnBtns">
    <a class="btn btn-xs btn-primary" href="#/partyEdit/{1}" ><span class="glyphicon glyphicon-pencil"></span>编辑</a>
    <button class="btn btn-xs btn-primary" ng-click="{0}"  ><span class="glyphicon glyphicon-pencil"></span>查看</button>
    <#--<button class="btn btn-xs btn-warning" ng-click="{2}" ><span class="glyphicon glyphicon-warning-sign"></span>删除</button>-->
</script>

<div style="display: none" id="partyDetail">
<#include "/party/partyDetail.html">
</div>