<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/quartz">党务管理</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <form id="partyform" name="partyform" class="well well-sm">
        <table style="width:100%" id="searchTable">
            <tr>
                <td class="text-right">
                    <span class="help-inline">姓名：</span>
                </td>
                <td>
                    <input type="text" ng-model="vm.party.pmName" operator="like" name="pmName" id="pmName"
                           placeholder="请输入" class="form-control input-xm " style="width: 200px;">
                </td>
                <td class="text-right">
                    <span class="help-inline" >人员类别：</span>
                </td>
                <td>
                     <span>
                        <select name="pmCategory" id="pmCategory"  operator="like"
                                ng-model="vm.party.pmCategory" class="form-control input-xm ">
                            <option value="">请选择</option>
                            <option value="1">正式党员</option>
                            <option value="2">预备党员</option>
                        </select>
                    </span>
                </td>
                <td class="text-right">
                    <span class="help-inline">身份证号：</span>
                </td>
                <td>
                    <input type="text" ng-model="vm.party.pmIDCard" operator="like" name="pmIDCard" id="pmIDCard"
                           placeholder="请输入" class="form-control input-xm " style="width: 200px;">
                </td>
                <td class="text-right">
                    <span class="help-inline">手机号：</span>
                </td>
                <td>
                    <input type="text" ng-model="vm.party.pmPhone" operator="like" name="pmPhone" id="pmPhone"
                           placeholder="请输入" class="form-control input-xm " style="width: 200px;">
                </td>
                <td>
                    <button class="btn btn-sm btn-primary" style="margin-left:10px;" ng-click="vm.queryParty()">
                        <span class="glyphicon glyphicon-search"></span>查询</button>
                </td>
            </tr>
        </table>
    </form>

    <div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
</div>
<script type="text/template" id="columnBtns">
    <#-- <button class="btn btn-xs btn-primary" ng-click="{0}" ><span class="glyphicon glyphicon-pencil"></span>编辑</button>-->
    <button class="btn btn-xs btn-primary" ng-click="{0}"  ><span class="glyphicon glyphicon-pencil"></span>查看</button>
    <#--  <button class="btn btn-xs btn-warning" ng-click="{2}" ><span class="glyphicon glyphicon-warning-sign"></span>删除</button>-->
</script>

<div style="display: none" id="partyDetail">
<#include "/party/partyDetail.html">
</div>