
<div  class="well well-sm conttent_list" style="background: white;min-height:960px;margin-bottom: 50px;"  id="partyDetail">

    <button class="btn btn-sm btn-success" ng-click="vm.exportPartyWord(vm.party.pmId)">导出</button>
    <div class="tab-content" style="background:white;">
        <form id="form" name="form">
            <table class="" style="width: 70%;text-align: center;">
                <caption class="text-center"> <h3><strong>深圳市政府投资项目党员信息采集表</strong></h3></caption>

                <tr>
                    <td class="text-center" width="10%">姓名</td>
                    <td width="20%" class="text-left">
                        {{vm.party.pmName}}
                    </td>
                    <td class="text-center" width="10%">性别</td>
                    <td width="10%" class="text-left">
                        {{vm.party.pmSex}}
                    </td>
                    <td class="text-center"  width="10%">民族</td>
                    <td width="30%" class="text-left">
                        {{vm.party.pmNation}}
                       <#-- <span ng-repeat="x in DICT.NATION.dicts"
                              ng-if="x.dictKey == vm.party.pmNation">{{x.dictName}}</span>-->
                    </td>
                </tr>

                <tr>
                    <td class="text-center"   width="10%">身份证号</td>
                    <td colspan="5" class="text-left">
                        {{vm.party.pmIDCard}}
                    </td>

                </tr>

                <tr>
                    <td class="text-center"   width="10%">出生年月</td>
                    <td width="10%"  class="text-left" colspan="3">
                        {{vm.party.pmBirthday}}
                    </td>
                    <td class="text-center"   width="10%">学历</td>
                    <td width="10%"  class="text-left">
                        {{vm.party.pmEducation}}
                        <#--<span ng-repeat="x in DICT.ADUCATION.dicts"
                              ng-if="x.dictKey == vm.party.pmEducation">{{x.dictName}}</span>-->
                    </td>
                </tr>

                <tr>
                    <td class="text-center"   width="10%">人员类别</td>
                    <td colspan="5" class="text-left">
                        {{vm.party.pmCategory}}
                    </td>
                </tr>

                <tr>
                    <td  class="text-center"   width="10%">入党时间</td>
                    <td colspan="3" class="text-left">
                        {{vm.party.pmJoinPartyDate}}
                    </td>
                    <td  class="text-center"   width="10%">转正时间</td>
                    <td class="text-left">
                        {{vm.party.pmTurnToPatryDate}}
                    </td>
                </tr>

                <tr>
                    <td class="text-center"   width="10%">入党介绍人<br/>（2人）</td>
                    <td colspan="5" class="text-left">
                        {{vm.party.introducer}}
                    </td>
                </tr>
                <tr>
                    <td class="text-center"   width="10%">组织关系<br/>是否在我委</td>
                    <td colspan="5" class="text-left">
                        <input type="checkbox" name="isInOrg" ng-model="vm.party.isInOrg"
                               ng-true-value="9"  ng-checked="vm.party.isInOrg==9" disabled="disabled"/>是
                        <input type="checkbox"  name="isInOrg" ng-model="vm.party.isInOrg"
                               ng-true-value="0"   ng-checked="!vm.party.isInOrg || vm.party.isInOrg==0" disabled="disabled"/>否
                    </td>
                </tr>
                <tr>
                    <td class="text-center"   width="10%">转入党组织时间</td>
                    <td colspan="5" class="text-left">
                        {{vm.party.joinOrgDate}}
                    </td>
                </tr>
                <tr>
                    <td class="text-center"   width="10%">现所在党组织</td>
                    <td colspan="5" class="text-left">
                        {{vm.paty.pmPartyBranch}}
                    </td>
                </tr>
                <tr>
                    <td class="text-center"   width="10%">参加工作时间</td>
                    <td colspan="5" class="text-left">
                        {{vm.party.joinWorkDate}}
                    </td>
                </tr>
                <tr>
                    <td class="text-center"   width="10%">工作岗位</td>
                    <td colspan="5" class="text-left">
                        {{vm.party.pmWorkPost}}
                    </td>
                </tr>
                <tr>
                    <td class="text-center"   width="10%">是否在编</td>
                    <td colspan="5" class="text-left">
                        <input type="checkbox" name="isEnrolled" ng-model="vm.party.isEnrolled"
                               ng-true-value="9"  ng-checked="vm.party.isEnrolled==9" disabled="disabled"/>是
                        <input type="checkbox" name="isEnrolled" ng-model="vm.party.isEnrolled"
                               ng-true-value="0"  ng-checked="!vm.party.isEnrolled || vm.party.isEnrolled==0" disabled="disabled"/>否
                    </td>
                </tr>
                <tr>
                    <td class="text-center"   width="10%">联系电话<br/>（手机号）</td>
                    <td colspan="5" class="text-left">
                        {{vm.party.pmPhone}}
                    </td>
                </tr>
                <tr>
                    <td class="text-center"   width="10%">固定电话</td>
                    <td colspan="5" class="text-left">
                        {{vm.party.pmTel}}
                    </td>
                </tr>

                <tr>
                    <td class="text-center"   width="10%">家庭住址<br/>（具体到门牌号）</td>
                    <td colspan="5" class="text-left">
                        {{vm.party.pmAddress}}
                    </td>
                </tr>
            </table>
        </form>


    </div>


</div>