<!-- 设备清单（进口） -->
<meta charset="UTF-8">
<!--  s table -->
		 <table class="table table-bordered"  >
		  <caption class="text-center h3"><strong>
		  
		  {{getTBHeadName(vm.work.workreviveStage,vm.work.isAdvanced,'评审工作方案')}}
		  </strong></caption>
		  
		     <caption style="width:100%;">
                <span>
                    评审方式：
                    <select ng-model="vm.work.reviewType" name="reviewType" ng-change="vm.reviewTypeChange()" id="reviewType">
                        <option ng-repeat="x in DICT.REVIEW_TYPE.dicts" ng-selected="x.dictName == vm.work.reviewType"
                                value="{{x.dictName}}">{{x.dictName}}</option>
                    </select>
                    <select ng-model="vm.work.isSigle" name="isSigle" ng-change="vm.reviewTypeChange()" id="isSigle">
                        <option ng-repeat="x in DICT.REVIEW_TYPE_SUB.dicts" ng-selected="x.dictName == vm.work.isSigle"
                                value="{{x.dictName}}">{{x.dictName}}</option>
                    </select>
                </span>
                <span ng-show="vm.work.isSigle=='合并评审'" style="margin-left:10px;">
                    <input type="radio" name="isMainProject" ng-model="vm.work.isMainProject" ng-value="9"
                           ng-checked="vm.work.isMainProject == 9">主项目
                    <input type="radio" name="isMainProject" ng-model="vm.work.isMainProject" ng-value="0"
                           ng-checked="vm.work.isMainProject == 0">次项目
                    <button class="btn btn-xs btn-default" ng-click="vm.initMergeWP()"
                    ng-show="vm.work.isMainProject == 9 && vm.work.isSigle=='合并评审'">关联项目</button>
                </span>
            </caption>
		   <caption class="text-right">归档日期:{{vm.work.titleDate | date:'yyyy年MM月dd日'}}</caption>
		  <tbody>
		    <tr>
		      <td colspan="2" style="width:100px;" class="text-center">项目名称</td>
		      <td colspan="5">
		      		{{vm.work.projectName}}
			  </td>		      
		    </tr>
		    <tr>
		      <td colspan="2" style="width:100px;" class="text-center">来文单位</td>
		      <td colspan="3">
					<input  type="text" maxlength="200" class="form-control input-sm " value="{{vm.work.sendFileUnit}}"  ng-model="vm.work.sendFileUnit" id="sendFileUnit" name="sendFileUnit" data-val="true" data-val-required="必填">					 
			  </td>
		      <td  style="width:100px;" class="text-center">来文单位联系人</td>
		      <td>
					<input  type="text" maxlength="100" class="form-control input-sm " value="{{vm.work.sendFileUser}}"  ng-model="vm.work.sendFileUser" id="sendFileUser" name="sendFileUser" >					 
			  </td>
		    </tr>
		    <tr>
		      <td colspan="2" style="width:100px;" class="text-center">项目单位</td>
		      <td colspan="3">
					{{vm.work.buildCompany}}
		      </td>
		      <td  style="width:100px;" class="text-center"></td>
		      <td>
					
		      </td>
		    </tr>	
		     
		   
		    <tr>
		      <td colspan="2" style="width:100px;" class="text-center">联系人<span class="required">*</span></td>
		      <td colspan="3">
		  	   <input type="text" class="form-control input-sm "   ng-model="vm.work.contactPerson" id="contactPerson" name="contactPerson" data-val="true" data-val-required="必填">
			  	<span data-valmsg-for="contactPerson" data-valmsg-replace="true" class="errors"></span>
			  </td>
			  <td style="width:100px;" class="text-center">手机<span class="required">*</span></td>
		      <td>
		       <input type="text" style="width:30%;"class="form-control input-sm " ng-model="vm.work.contactPersonPhone" name="contactPersonPhone" data-val="true" data-val-digits="手机号码只能为数字" data-val-required="必填">
		       <span data-valmsg-for="contactPersonPhone" data-valmsg-replace="true" class="errors"></span>
		      </td>
		    </tr>
		    <tr>		     
		      <td colspan="2"  class="text-center">电话<span class="required">*</span></td>
		      <td colspan="3">
		      	 <input type="text" style="width:30%;"class="form-control input-sm " ng-model="vm.work.contactPersonTel" id="contactPersonTel" name="contactPersonTel" data-val-digits="电话号码只能为数字" data-val="true" data-val-required="必填">
		      	 <span data-valmsg-for="contactPersonTel" data-valmsg-replace="true" class="errors"></span>
		      </td>
		      <td style="width:100px;" class="text-center">传真<span class="required">*</span></td>
		      <td>
		      	 <input type="text" style="width:30%;"class="form-control input-sm " ng-model="vm.work.contactPersonFax" name="contactPersonFax" id="contactPersonFax" data-val-digits="传真只能为数字" data-val="true" data-val-required="必填">
		      	  <span data-valmsg-for="contactPersonFax" data-valmsg-replace="true" class="errors"></span>
		      </td>
		    </tr> 
		    
		     <tr>		     
		      <td colspan="2"  class="text-center">项目类型<span class="required">*</span></td>
		      <td colspan="3">
		      	 <input type="text" style="width:30%;"class="form-control input-sm " ng-model="vm.work.projectType" id="projectType" name="projectType" data-val-digits="电话号码只能为数字" data-val="true" data-val-required="必填">
		      	 <span data-valmsg-for="projectType" data-valmsg-replace="true" class="errors"></span>
		      </td>
		      <td style="width:100px;" class="text-center">设备申报总额<span class="required">*</span></td>
		      <td>
		      	 <input type="text" style="width:30%;"class="form-control input-sm " ng-model="vm.work.declareCount" name="declareCount" id="declareCount" data-val-digits="传真只能为数字" data-val="true" data-val-required="必填">
		      	  <span data-valmsg-for="declareCount" data-valmsg-replace="true" class="errors"></span>
		      </td>
		    </tr> 
		     
		    <tr>
		    	<td colspan="2" style="width:80px;" class="text-center">项目概况</td>			
			    <td colspan="5">
			      	 	<textarea rows="3" cols="" ng-model="vm.work.projectSurvey" name="projectSurvey" style="width:100%;"></textarea>
			    </td>			   
			</tr> 
			
			<tr>
		    	<td colspan="2" style="width:80px;" class="text-center">评审重点</td>			
			    <td colspan="5">
			      	 	<textarea rows="3" cols="" ng-model="vm.work.stageEmphasis" name="stageEmphasis" style="width:100%;"></textarea>
			    </td>			   
			</tr> 
			
			<tr>
				<td rowspan="2" colspan="2" style="width:100px;" class="text-center">评估部门</td>	
			    <td rowspan="2" colspan="3">
					{{vm.work.reviewOrgName}}
				 </td>
			    <td style="width:100px;" class="text-center">第一负责人</td>
			    <td >
					{{vm.work.mianChargeUserName}}					
			    </td>
			</tr> 
			<tr>
				<td style="width:100px;" class="text-center">第二负责人</td>
			    <td >
					{{vm.work.secondChargeUserName}}
			    </td>
			</tr> 
			<tr>
				<td colspan="2" style="width:100px;" class="text-center">是否有补充资料函</td>	
			    <td colspan="3">
			      	<label>
				        <input type="radio" ng-value="9" ng-model="vm.work.isHaveSuppLetter" name="isHaveSuppLetter">是
				    </label>
				    <label>
				        <input type="radio" ng-value="0" ng-model="vm.work.isHaveSuppLetter" name="isHaveSuppLetter">否
				    </label>	
			    </td>
			    <td style="width:100px;" class="text-center">补充资料函发文日期</td>
			    <td >
			    
			      	<input name="suppLetterDate" kendo-date-picker k-format="'yyyy-MM-dd'"  ng-model="vm.work.suppLetterDate" value="" type="text" />
			    </td>
			</tr>
			<tr>
				<td colspan="2" style="width:100px;" class="text-center">评审会时间</td>	
			    <td colspan="3">
			      	<input type="text" ng-click="vm.addTimeStage()"style="width:60%;"class="form-control input-sm " ng-model="vm.work.workStageTime" name="workStageTime">
			    </td>
			    <td style="width:100px;" class="text-center">会议地点</td>
			    <td >
			      	{{vm.work.meetingAddress}}
			      	 
			    </td>
			</tr>
			
			<tr>
				<td colspan="2" style="width:100px;" class="text-center">拟聘请专家</td>	
			    <td colspan="3">
			    <button class="btn btn-xs btn-primary" ng-click="vm.selectExpert();"><span class="glyphicon glyphicon-pencil"></span>编辑</button>
			      	
		      	  <span data-valmsg-for="expertCost" data-valmsg-replace="true" class="errors"></span>
			    </td>
			    <td style="width:100px;" class="text-center">专家费用</td>
			    <td >
			    <input type="text" style="width:30%;" ng-model="vm.work.expertCost" ng-value="0" name="expertCost"  data-val-digits="只能为数字" >
			   		万元
			    </td>
			</tr>
			 
		    <tr>
		      <td colspan="2" style="width:100px;" class="text-center">部长处理意见</td>
		      <td colspan="5">
			 
			  		{{vm.work.ministerSuggesttion}}
			  		
			  </td>		      
		    </tr>
		    <tr>
		      <td colspan="2" style="width:100px;" class="text-center">中心领导签批意见</td>
		      <td colspan="5">
		  
		      {{vm.work.leaderSuggesttion}}
		       
			  </td>		      
		    </tr>		      
		  </tbody>		  
		</table>
		<!--  end table -->