
<div class="well well-sm" style="background:white;display: none;" id="addOtherFile_{{vm.signId}}">
    <div class="toolbar">
        <button ng-click="vm.addRegisterFile()" value="addRegisterFile"
                class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span>新建
        </button>
        <button ng-click="vm.deleteRegisterFile()" class="btn btn-sm btn-danger"
                value="deleteFinancial"> <span
                class="glyphicon glyphicon-remove"></span>删除
        </button>
        <button ng-click="vm.saveRegisterFile()" class="btn btn-sm btn-success"
                value="saveCommonIdea"><span class="glyphicon glyphicon-ok"></span>保存
        </button>
    </div>

    <table class="table table-bordered" style="text-align: center;">
        <tr>
            <td style="width:40px;" class="text-center"><input type='checkbox' ng-model="epCondtion"/></td>
            <td style="width:40px;" class="text-center">序号</td>
            <td >资料名称</td>
            <td style="width:80px;">份数</td>
            <td style="width:80px;">原件</td>
            <td style="width:80px;">复印件</td>
            <td >资料类型</td>
        </tr>
        <tr ng-repeat="x in vm.addRegisters">
            <td class="text-center">
                <input type="checkbox" name="addRegistersCheck"
                       value="{{vm.addRegisters[$index].id}}"/>
            </td>
            <td class="text-center">{{$index+1}}</td>
            <td>
                <input type="text" ng-model="vm.addRegisters[$index].fileName" style="width:90%;"/>
            </td>
            <td>
                <input type="text" style="width:70px;"
                       ng-model="vm.addRegisters[$index].totalNum" id="totalNum_{{$index}}" name="totalNum_{{$index}}"
                       ng-keyup="vm.inputIntegerValue(vm.addRegisters[$index].totalNum,$index+1)">
                <span id="errorsUnmber{{$index+1}}" data-valmsg-for="procoSttype" data-valmsg-replace="true" class="errors"></span>
            </td>
            <td>
                <input type="checkbox" style="width:50px;"
                       ng-model="vm.addRegisters[$index].isHasOriginfile" id="isHasOriginfile_{{$index}}"
                       ng-checked="vm.addRegisters[$index].isHasOriginfile == 9"
                       name="isHasOriginfile_{{$index}}"  ng-click="vm.addRegisters[$index].totalNum = initInputValue($event,vm.addRegisters[$index].totalNum) ; vm.resetOtherCancelBox('isHasOriginfile' , $index)"
                       ng-true-value="9" ng-false-value="0" >
            </td>
            <td>
                <input type="checkbox" style="width:50px;"
                       ng-model="vm.addRegisters[$index].isHasCopyfile" id="isHasCopyfile_{{$index}}"
                       ng-checked="vm.addRegisters[$index].isHasCopyfile == 9"
                       name="isHasCopyfile_{{$index}}" ng-click="vm.addRegisters[$index].totalNum = initInputValue($event,vm.addRegisters[$index].totalNum); vm.resetOtherCancelBox('isHasCopyfile' , $index)"
                       ng-true-value="9" ng-false-value="0">
            </td>
            <td>
                <!-- 存档添加补充资料 -->
                <select ng-if="vm.showFileOther" ng-model="vm.addRegisters[$index].businessType " style="width: 95%;">
                    <option value="">请选择</option>
                    <option ng-repeat="d in DICT.BUSINESS_TYPE.dicts|myFilter:'dictKey':['3','5','6','7']" value="{{d.dictKey}}"
                            ng-selected="x.businessType == d.dictKey">{{d.dictName}}
                    </option>
                </select>
                <!-- 存档添加图纸资料-->
                <select ng-if="vm.showFilePage" ng-model="vm.addRegisters[$index].businessType" style="width: 95%;">
                    <option value="">请选择</option>
                    <option ng-repeat="d in DICT.BUSINESS_TYPE.dicts|filter:{dictKey:'2'}" value="{{d.dictKey}}"
                            ng-selected="x.businessType == d.dictKey">{{d.dictName}}
                    </option>
                </select>

                <!-- 审批登记添加补充资料-->
                <select ng-if="vm.showSignOther" ng-model="vm.addRegisters[$index].businessType" style="width: 95%;">
                    <option value="">请选择</option>
                    <option ng-repeat="d in DICT.BUSINESS_TYPE.dicts |myFilter:'dictKey':['1','4']" value="{{d.dictKey}}"
                            ng-selected="x.businessType == d.dictKey">{{d.dictName}}
                    </option>
                </select>
                <!-- 维护项目添加补充资料-->
                <select ng-if="vm.showMaintainOther" ng-model="vm.addRegisters[$index].businessType" style="width: 95%;">
                    <option value="">请选择</option>
                    <option ng-repeat="d in DICT.BUSINESS_TYPE.dicts |myFilter:'dictKey':['1','4','5','6','7']" value="{{d.dictKey}}"
                            ng-selected="x.businessType == d.dictKey">{{d.dictName}}
                    </option>
                </select>
            </td>
        </tr>
    </table>
</div>



