
<div class="well well-sm" style="background:white;display: none;" id="addOtherFile">
    <div class="toolbar">
        <button ng-click="vm.addRegisterFile()" value="addRegisterFile"
                class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span>新建
        </button>
        <button ng-click="vm.deleteRegisterFile()" class="btn btn-sm btn-danger"
                value="deleteFinancial"> <span
                class="glyphicon glyphicon-remove"></span>删除
        </button>
        <button ng-click="vm.saveRegisterFile()" class="btn btn-sm btn-success"
                value="saveCommonIdea"><span class="glyphicon glyphicon-ok"></span>保存
        </button>
    </div>

    <table class="table table-bordered" style="text-align: center;">
        <tr>
            <td style="width:50px;" class="text-center"><input type='checkbox' ng-model="epCondtion"/></td>
            <td style="width:5%;" class="text-center">序号</td>
            <td width="35%">资料名称</td>
            <td style="width:10%;">份数</td>
            <td style="width:10%;">原件</td>
            <td style="width:15%;">复印件</td>
            <td width="25%">资料类型</td>
        </tr>
        <tr ng-repeat="x in vm.addRegisters ">
            <td class="text-center">
                <input type="checkbox" ng-checked="addRegistersCheck" name="addRegistersCheck"
                       value="{{vm.addRegisters[$index].id}}"/>
            </td>
            <td class="text-center">{{$index+1}}</td>
            <td>
                <input type="text" class="form-control input-sm" ng-model="vm.addRegisters[$index].fileName" style="width: 80%;"/>
            </td>
            <td>
                <input type="text" class="form-control input-sm" style="max-width:20px;max-height: 15px;"
                       ng-model="vm.addRegisters[$index].totalNum" id="totalNum" name="totalNum"
                       ng-keyup="vm.inputIntegerValue(vm.addRegisters[$index].totalNum,$index+1)">
                <span id="errorsUnmber{{$index+1}}" data-valmsg-for="procoSttype" data-valmsg-replace="true" class="errors"></span>
            </td>
            <td>
                <input type="checkbox" style="width:50px;"
                       ng-model="vm.addRegisters[$index].isHasOriginfile" id="isHasOriginfile"
                       name="isHasOriginfile"  ng-click="vm.addRegisters[$index].totalNum = initInputValue($event,vm.addRegisters[$index].totalNum)" ng-true-value="9" ng-false-value="0">
            </td>
            <td>
                <input type="checkbox" style="width:50px;"
                       ng-model="vm.addRegisters[$index].isHasCopyfile" id="isHasCopyfile"
                       name="isHasCopyfile" ng-click="vm.addRegisters[$index].totalNum = initInputValue($event,vm.addRegisters[$index].totalNum)" ng-true-value="9" ng-false-value="0">
            </td>
            <td>
                <select ng-model="vm.addRegisters[$index].businessType" class="form-control input-sm "  style="width: 80%;">
                    <option value="">请选择</option>
                    <option ng-repeat="d in DICT.BUSINESS_TYPE.dicts " value="{{d.dictKey}}"
                            ng-selected="x.businessType == d.dictKey">{{d.dictName}}
                    </option>
                </select>
            </td>
        </tr>
    </table>
</div>



