<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-register-print.html'"></div>

<div class="well well-sm" style="background:white;margin: auto;overflow: auto">
    <ol class="breadcrumb">
       	<li><a href="#/expert">登记补充资料</a></li>
        <!-- <li class="active">{{vm.titles}}</li> -->
   	</ol>
   	<form id="usersform" name="usersform">
    		 
       <div class="toolbar">
		    <button class="btn btn-sm btn-success" ng-click="vm.print()"><span class="glyphicon glyphicon-search"></span>打印</button>
			<button class="btn btn-sm btn-primary" ng-click="back()" >返回</button>
	   </div>
     </form>
	<div id="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
	
</div>



