<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-confirm.tmpl.html'"></div>
<div ng-include src="'${path}/contents/app/common/dialog-register-print.html'"></div>

<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a href="#/">登记补充资料</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>

    <div class="toolbar">
        <button ng-click="vm.addRegisterFile()" value="addRegisterFile"
                class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-plus"></span>新建
        </button>
        <button ng-click="vm.deleteRegisterFile()" class="btn btn-sm btn-danger"
                value="deleteFinancial"> <span
                class="glyphicon glyphicon-remove"></span>删除
        </button>
        <button ng-click="vm.saveRegisterFile()" class="btn btn-sm btn-success"
                value="saveCommonIdea"><span class="glyphicon glyphicon-ok"></span>保存
        </button>
        <button class="btn btn-sm btn-primary" ng-click="back();"><span
                class="glyphicon glyphicon-chevron-left"></span>返回
        </button>
        <button class="btn btn-sm btn-primary"
                ng-click="printFile(vm.businessId,'ADDSUPPLEFILE','ADDSUPPLEFILE')">打印预览</button>
        <#--<button class="btn btn-sm btn-primary"
                 ng-click="printFile(vm.businessId,'ADDSUPPLEFILE','ADDSUPPLEFILE')">打印预览</button>-->
    </div>
    <table class="table table-bordered" id="addRegistersTable">
        <tr>
            <td style="width:50px;" class="text-center"><input type='checkbox' ng-model="epCondtion"/></td>
            <td style="width:60px;" class="text-center">序号</td>
            <td width="20%">资料名称</td>
            <td style="width:150px;">份数</td>
            <td style="width:150px;">原件</td>
            <td style="width:150px;">复印件</td>
            <td width="20%">补充说明</td>
            <td width="15%">补充日期</td>
        </tr>
        <tr ng-repeat="x in vm.addRegisters">
            <td class="text-center">
                <input type="checkbox" ng-checked="addRegistersCheck" name="addRegistersCheck"
                        value="{{vm.addRegisters[$index].id}}"/>
            </td>
            <td class="text-center">{{$index+1}}</td>
            <td>
                <input type="text" class="form-control input-sm" ng-model="vm.addRegisters[$index].fileName"/>
            </td>
            <td>
                <input type="text" class="form-control input-sm" style="max-width:100px;"
                       ng-model="vm.addRegisters[$index].totalNum" id="totalNum" name="totalNum"
                       ng-keyup="vm.inputIntegerValue(vm.addRegisters[$index].totalNum,$index+1)">
                <span id="errorsUnmber{{$index+1}}" data-valmsg-for="procoSttype" data-valmsg-replace="true" class="errors"></span>
            </td>
            <td>
                <input type="checkbox" style="width:50px;"
                       ng-model="vm.addRegisters[$index].isHasOriginfile" id="isHasOriginfile"
                       name="isHasOriginfile"
                       ng-checked="vm.addRegisters[$index].isHasOriginfile == 9 || vm.addRegisters[$index].isHasOriginfile == '9'"
                       ng-click="vm.addRegisters[$index].totalNum = initInputValue($event,vm.addRegisters[$index].totalNum)" ng-true-value="9" ng-false-value="0">
            </td>
            <td>
                <input type="checkbox" style="width:50px;"
                       ng-model="vm.addRegisters[$index].isHasCopyfile" id="isHasCopyfile"
                       name="isHasCopyfile"
                       ng-checked="vm.addRegisters[$index].isHasCopyfile == 9 || vm.addRegisters[$index].isHasCopyfile== '9'"
                       ng-click="vm.addRegisters[$index].totalNum = initInputValue($event,vm.addRegisters[$index].totalNum)" ng-true-value="9" ng-false-value="0">
            </td>
            <td>
                <select ng-model="vm.addRegisters[$index].suppleDeclare" class="form-control input-xm ">
                    <option ng-repeat="d in DICT.BCSM_01.dicts" value="{{d.dictName}}"
                            ng-selected="x.suppleDeclare == d.dictName">{{d.dictName}}
                    </option>
                </select>
            </td>
            <td>
                <input type="text" class="form-control input-sm" k-format="'yyyy-MM-dd'"
                       ng-model="vm.addRegisters[$index].suppleDate" kendo-date-picker />
            </td>
        </tr>
    </table>
</div>



