<ion-view title="待办项目" class="{{viewMainClass}}">
	<ion-nav-bar class="bar-positive">
		<ion-nav-buttons side="left">
			<button ng-click="back()" class="button back-button buttons button-clear header-item">
            	<i class="icon ion-android-arrow-back"></i> </button>
		</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content>
		
	 <div class="has-header">
      <ul class="list">
        <a ng-repeat="x in  dtaksList" class="item"  href="#/commonDetail/{{x.signid}}">
          {{x.projectName}}
        <div class="size_ss text_color_f5">
			<div class="width_30 float_l">{{x.reviewStage}}</div>
			<div class="width_40 float_l">{{x.nodeNameValue}}</div>
			<div class="width_30 float_l">{{x.displayName}}</div>
			</div>
        </a>
      </ul>
    </div>
		
	</ion-content>
	
	<div class="bar bar-footer">
	</div>
</ion-view>
