<meta charset="UTF-8">
<div id="selectHeaderWindow" class="well well-sm" style="background:white; display: none;">
    <div class="toolbar">
        <button class="btn btn-sm btn-primary" ng-click="vm.allChecked()">全选</button>
        <button class="btn btn-sm btn-danger" ng-click="vm.allCancel()">全取消</button>
    <#-- <button class="btn btn-sm btn-success" ng-click="vm.createTable()">确定</button>-->
    </div >
    <div  class="well well-sm" style="background:white; ">

        <table class="table table-bordered" style="margin-top:10px;border-top:0px;" >
            <tr>
                <td width="40%">

                    <div class="label-info" style="width: 100%;padding:2px 5px; font-size: 12px;">
                        未选表字段
                    </div>
                    <div style="max-height: 400px;overflow-y: scroll;">
                        <form id="selectHeaderForm">
                            <table class="table table-bordered" style="border-top:1px solid #989898 ;">
                                <tr class="active">
                                    <th style="width: 15%;">选择</th>
                                    <th style="width: 85%;">
                                        <span>名称</span>
                                    </th>
                                </tr>
                                <tr ng-repeat="x in vm.allHeaderList">
                                    <td >
                                        <input type="checkbox" name="{{x.headerName}}" value="{{x.headerValue}}" ng-model="x.checkbox"/>
                                    </td>
                                    <td >
                                        <span>{{x.headerName}}</span>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </td>
                <td width="20%" style=" text-align:center;vertical-align:middle;">
                    <p>
                        <button ng-click="vm.addHeader()">
                            <span class="glyphicon glyphicon-menu-right"></span>
                            <span class="glyphicon glyphicon-menu-right"></span>
                        </button>
                    </p>
                    <p>
                        <button ng-click="vm.cancelHeader()">
                            <span class="glyphicon glyphicon-menu-left"></span>
                            <span class="glyphicon glyphicon-menu-left"></span>
                        </button>
                    </p>
                </td>
                <td width="40%">
                    <div class="label-info" style="width: 100%;padding:2px 5px; font-size: 12px;">
                        已选表字段
                    </div>
                    <div style="max-height: 400px; width: 100%;overflow-y: scroll;">
                        <form id="cancelHeaderForm">
                            <table class="table table-bordered" style="border-top:1px solid #989898;">
                                <tr class="active">
                                    <th style="width: 15%;">选择</th>
                                    <th style="width: 85%;">
                                        <span>名称</span>
                                    </th>
                                </tr>
                                <tr ng-repeat="x in vm.selectedHeaderList">
                                    <td >
                                        <input type="checkbox" name="{{x.headerName}}" value="{{x.headerValue}}" ng-model="x.checkbox"/>
                                    </td>
                                    <td >
                                        <span>{{x.headerName}}</span>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>


</div>