<meta charset="UTF-8">
<div class="well well-sm" style="background:white;">
    <div class="toolbar">
        <go-back></go-back>
        <button class="btn btn-sm btn-primary" ng-click="vm.allChecked()">全选</button>
        <button class="btn btn-sm btn-danger" ng-click="vm.allCancel()">全取消</button>
    <#-- <button class="btn btn-sm btn-success" ng-click="vm.createTable()">确定</button>-->
    </div >
    <div  class="well well-sm" style="background:white; padding-left: 200px; padding-right: 200px;">

        <table class="table table-bordered" style="margin-top:10px;" >
            <tr>
                <td width="10%">
                    <form id="selectHeaderForm">
                        <p>
                            <span>
                                <strong>未选表头</strong>
                            </span>
                          <#--  <span style="padding-left: 100px;">类型：</span>
                            <select id="types" ng-change="vm.changeType()" ng-model="vm.headerType">
                                <option value="">请选择</option>
                                <option ng-repeat="x in DICT.HEADER_TYPE.dicts" value="{{x.dictName}}">{{x.dictName}}</option>
                            </select>-->
                        </p>
                        <table class="table table-bordered scrolltable" >
                            <thead style="display:block;">
                            <tr>
                                <th style="width: 60px;">选择</th>
                                <th style="width: 200px;">
                                    <span>名称</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody style="display:block; max-height:500px;overflow-y: auto;">
                            <tr ng-repeat="x in vm.allHeaderList">
                                <td style="width: 60px;">
                                    <input type="checkbox" name="{{x.headerName}}" value="{{x.headerValue}}" ng-model="x.checkbox"/>
                                </td>
                                <td style="width: 200px;">
                                    <span>{{x.headerName}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </td>
                <td width="5%" style=" text-align:center;vertical-align:middle;">
                    <p>
                        <button ng-click="vm.addHeader()">
                            <span class="glyphicon glyphicon-menu-right"></span>
                            <span class="glyphicon glyphicon-menu-right"></span>
                        </button>
                    </p>
                    <p>
                        <button ng-click="vm.cancelHeader()">
                            <span class="glyphicon glyphicon-menu-left"></span>
                            <span class="glyphicon glyphicon-menu-left"></span>
                        </button>
                    </p>
                </td>
                <td width="10%">
                    <p> <strong>已选表头</strong></p>
                    <form id="cancelHeaderForm">
                        <table class="table table-bordered scrolltable" >
                            <thead style="display:block;">
                            <tr>
                                <th style="width: 60px;">选择</th>
                                <th style="width: 200px;">
                                    <span>名称</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody style="display:block; max-height:500px;overflow-y: auto;">
                            <tr ng-repeat="x in vm.selectedHeaderList">
                                <td style="width: 60px;">
                                    <input type="checkbox" name="{{x.headerName}}" value="{{x.headerValue}}" ng-model="x.checkbox"/>
                                </td>
                                <td style="width: 200px;">
                                    <span>{{x.headerName}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>

                </td>
            </tr>
        </table>
    </div>


</div>