<ion-view title="{{title}}" class="{{viewMainClass}}">
	<!--视图标题-->
	<ion-nav-bar class="bar-positive">
		<!--视图头部-->
		<ion-nav-buttons side="left">
			<!--后退-->
			<button ng-click="back()" class="button back-button buttons button-clear header-item">
            	<i class="icon ion-android-arrow-back"></i></button>
		</ion-nav-buttons>
		<ion-nav-buttons side="right">
			<!--提交-->
		<!--	<a ng-click="submitProc()" class="button back-button buttons button-clear header-item" >
				提交
			</a>-->
		</ion-nav-buttons>
	</ion-nav-bar>
	<!--选项卡-->
	<ion-tabs class="tabs-icon-only tabs-positive">

		<!--选项卡 -- 选项  -- begin================================================拟补充资料函详细信息========================================================================-->
		<ion-tab title="详细信息 " on-select="switchPageM(1)">
			<ion-header-bar class="bar-positive ">
			</ion-header-bar>
			<!--<ion-content has-tabs="true " on-swipe-right="switchPageM(0)" on-swipe-left="switchPageM(2)">-->
			<ion-content has-tabs="true ">
				<!--选项卡内容-->


	    <label class="item">
				拟稿部门：{{suppletterList.orgName}}
	    </label>
	    <label class="item">
                                拟稿人：{{suppletterList.userName}}
	    </label>	
	    <label class="item">
				拟稿时间：{{suppletterList.suppLetterTime}}
	    </label>				
	    <label class="item">
				秘密等级：{{suppletterList.secretLevel}}
	    </label>
	    <label class="item">
				缓急程度：{{suppletterList.mergencyLevel}}
	    </label>
	    <label class="item">
				文件标题：{{suppletterList.title}}
	    </label>
	    <label class="item">
				发行范围：{{suppletterList.dispaRange}}
	    </label>
	    <label class="item">
				核稿意见：{{suppletterList.deptSLeaderIdeaContent}}
	    </label>
	    <label class="item">
				会签意见：{{suppletterList.deptSLeaderIdeaContent}}
	    </label>
	    <label class="item">
				领导意见：{{suppletterList.deptDirectorIdeaContent}}
	    </label>	    
	
	
			</ion-content>
		</ion-tab>
		

		

	
			<!--<ion-content has-tabs="true " on-swipe-right="switchPageM(3)" on-swipe-left="switchPageM(0)">-->
			<ion-content has-tabs="true ">
				<!--选项卡内容-->
				<ion-refresher pulling-text="获取最新数据... " refreshing-text="刷新完毕 " on-refresh="doRefresh(4) "></ion-refresher>
			</ion-content>
		</ion-tab>
	</ion-tabs>
</ion-view>