<#assign path=request.contextPath/>
<meta charset="UTF-8">
<div class="well well-sm" style="background:white;">
    <ol class="breadcrumb">
        <li><a>图书采购业务流程</a></li>
        <li class="active">{{vm.title}}</li>
    </ol>
    <div class="toolbar">
        <button class="btn btn-sm btn-success" ng-click="vm.searchForm()" ng-disabled="vm.isSubmit"><span
                class="glyphicon glyphicon-search"></span>查询
        </button>
        <button class="btn btn-sm btn-primary" ng-click="vm.formReset()">重置</button>
    </div>
    <div class="well well-sm">
        <form id="myTopicForm" name="myTopicForm">
            <input name="createdBy" value="${CURRENT_USER.displayName}" ng-hide="true">
            <table style="width:100%">
                <tr>
                    <td class="formAlignRight">图书采购流程名称：</td>
                    <td><input name="businessName" type="text" operator="like" ng-model="vm.searchModel.businessName" class="form-control input-sm "/></td>
                    <td class="formAlignRight">购买渠道：</td>
                    <td><input name="buyChannel" type="text" operator="like" ng-model="vm.searchModel.buyChannel"  class="form-control input-sm "/></td>
                </tr>
            </table>
        </form>
    </div>
   <div class="grid" kendo-grid="grid" k-options="vm.gridOptions"></div>
</div>

<script type="text/template" id="columnBtns">
    <a class="btn btn-xs btn-primary" href="#/bookBuyBusinessEdit/{0}" ng-hide="{1}"><span class="glyphicon glyphicon-pencil"></span>编辑</a>
    <a class="btn btn-xs btn-info" href="#/bookBuyBusinessEdit/{0}/1" ><span class="glyphicon glyphicon-comment"></span>查看详情</a>
</script>









