<#assign path=request.contextPath />
<meta charset="UTF-8">

<div ng-include src="'${path}/contents/app/common/dialog-alert.tmpl.html'"></div>
<div class="well well-sm " style="background: white;">
    <ol class="breadcrumb">
        <li>图书管理</li>
        <li class="active">{{vm.title}}</li>
    </ol>

    <div class="toolbar">
        <a class="btn btn-sm btn-primary" href="#/myBookBuyBusiness"><span class="glyphicon glyphicon-chevron-left"></span>返回</a>

        <button class="btn btn-sm btn-success" ng-click="vm.saveCondition()" ng-hide="vm.showFlag.isCommit">
            <span class="glyphicon glyphicon-ok"></span>保存
        </button>
        <button class="btn btn-sm btn-success" ng-click="vm.startFlow()"  ng-hide="vm.showFlag.isCommit">
            <span class="glyphicon glyphicon-ok"></span>发起流程
        </button>
    </div>

    <form id="bookForm" name="bookForm">
        <table class="table table-bordered">
            <caption class="text-center"> <h3><strong>采购图书资料申请表</strong></h3></caption>
            <tr>
                <td style="text-align:right;" >申购标题<span class="required">*</span></td>
                <td colspan="5" >
                    <input maxlength="125" class="form-control input-sm " id="businessName" name="businessName"
                           data-val="true" data-val-required="必填" ng-model="vm.model.businessName" />
                    <span data-valmsg-for="businessName" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <input type="hidden"  id="businessId"/>
                <td style="text-align:right;" width="10%">申请部门</td>
                <td width="20%">
                    <input type="text" maxlength="200" class="form-control input-sm "  ng-disabled="true"
                           ng-model="vm.model.applyDept" ng-init="vm.model.applyDept = '${CURRENT_USER.org.name}'"  id="applyDept" name="applyDept">
                </td>
                <td style="text-align:right;" width="10%">经办人</td>
                <td width="20%">
                    <input type="text" maxlength="200" class="form-control input-sm " ng-disabled="true"
                           ng-model="vm.model.operator" ng-init="vm.model.operator = '${CURRENT_USER.loginName}'" id="operator" name="operator">
                </td>

                <td style="text-align:right;" width="10%">购买渠道 <span class="required">*</span></td>
                 <td width="20%">
                    <select id="buyChannel" name="buyChannel" class="form-control select-sm " ng-model="vm.model.buyChannel" ng-disabled="vm.showFlag.buyChannel"  data-val="true" data-val-required="必填">
                        <option value="">请选择</option>
                        <option ng-repeat="x in DICT.BUY_CHANNEL.dicts" value="{{x.dictName}}">{{x.dictName}}</option>
                    </select>
                     <span data-valmsg-for="buyChannel" data-valmsg-replace="true" class="errors"></span>
                </td>
            </tr>
            <tr>
                <td style="text-align:right;" >申请事由及<br>发放范围</td>
                <td colspan="5" >
                      <textarea maxlength="200" class="form-control input-sm " rows="3"
                                ng-model="vm.model.applyReason" id="applyReason" name="applyReason" />
                </td>
            </tr>

            <tr>
                <td style="text-align:right;" >分管副主任审核</td>
                <td colspan="5">
                      <textarea maxlength="200" class="form-control input-sm " rows="3"
                                ng-disabled="vm.showFlag.bookBuyFgzrTr" ng-model="vm.model.orgSLeader"
                                id="orgSLeader" name="orgSLeader"
                      />
                </td>
            </tr>
            <tr>
                <td style="text-align:right;" >主任审批</td>
                <td colspan="5" >
                      <textarea maxlength="200" class="form-control input-sm " rows="3"
                                ng-disabled="vm.showFlag.bookBuyZrTr" ng-model="vm.model.orgMLeader"
                                id="orgMLeader" name="orgMLeader"
                      />
                </td>
            </tr>
            <tr>
                <td style="text-align:right;" >购买后档案员<br>验收并入库</td>
                <td  colspan="5" >
                      <textarea maxlength="200" class="form-control input-sm " rows="3"
                                ng-disabled="vm.showFlag.bookBuyYsrk" ng-model="vm.model.filer"
                                id="filer" name="filer"
                      />
                </td>
            </tr>
        </table>

        <div class="toolbar">
            <button class="btn btn-sm btn-success" ng-click="vm.addCondition()" ng-hide="vm.showFlag.isCommit"><span
                    class="glyphicon glyphicon-ok"></span>添加
            </button>
            <button class="btn btn-sm btn-danger" ng-click="vm.removeCondition()" ng-hide="vm.showFlag.isCommit"><span
                    class="glyphicon glyphicon-remove"></span>删除
            </button>
        </div>
        <table class="table table-bordered" id="conditionTable">
            <tr class="bookBuyInfo">
                <td style="width:5%;min-width:30px;" class="text-center"><input type='checkbox' ng-model="bookBuyCondtion"/></td>
                <td class="text-center" style="width:10%;">书刊名称</td>
                <td class="text-center" style="width:10%;">图书\期刊分类</td>
                <td class="text-center" style="width:10%;">出版社</td>
                <td class="text-center" style="width:10%;">书号\刊号</td>
                <td class="text-center" style="width:10%;">作者</td>
                <td class="text-center" style="width:10%;">购买数量</td>
                <td class="text-center" style="width:8%;">库存</td>
                <td class="text-center" style="width:10%;">价格</td>
                <td class="text-center" style="width:10%;">合计</td>
            </tr>

            <tr id="conTr{{x.sort}}"  ng-repeat="x in vm.conditions">
                <td align="center">
                    <input type='checkbox' name="bookInfos"  value="{{x.sort}}"/></td>
                <td align="center">
                    <input type="text" maxlength="200" class="form-control input-sm "
                           id="booksName{{x.sort}}"  value="{{x.booksName}}" ng-disabled="vm.showFlag.isCommit"/>
                </td>
                <td align="center">
                    <select id="booksType{{x.sort}}" class="form-control select-sm " ng-disabled="vm.showFlag.isCommit">
                        <option value="">请选择</option>
                        <option ng-repeat="y in DICT.BOOK_TYPE.dicts" ng-selected="x.booksType == y.dictName" value="{{y.dictName}}">{{y.dictName}}</option>
                    </select>
                </td>
                <td align="center">
                    <input type="text" maxlength="200" class="form-control input-sm "
                           id="publishingCompany{{x.sort}}"  value="{{x.publishingCompany}}" ng-disabled="vm.showFlag.isCommit"/>
                </td>
                <td align="center">
                    <input type="text" maxlength="200" class="form-control input-sm "
                           id="bookNo{{x.sort}}"  value="{{x.bookNo}}" ng-disabled="vm.showFlag.isCommit"/>
                </td>
                <td align="center">
                    <input type="text" maxlength="200" class="form-control input-sm "
                           id="author{{x.sort}}"  value="{{x.author}}" ng-disabled="vm.showFlag.isCommit"/>
                </td>
                <td align="center">
                    <input type="text" maxlength="200" class="form-control input-sm "
                           id="bookNumber{{x.sort}}"  value="{{x.bookNumber}}"
                           ng-blur="vm.checkBookNum(x.sort)"  ng-disabled="vm.showFlag.isCommit" />
                    <span data-valmsg-for="bookNumber{{x.sort}}" data-valmsg-replace="true" class="errors" ></span>
                </td>
                <td align="center">
                    <input type="text" maxlength="200" class="form-control input-sm "
                           id="storeConfirm{{x.sort}}" value="{{x.storeConfirm}}" disabled="true" />
                </td>
                <td align="center">
                    <input type="text" maxlength="200" class="form-control input-sm "
                           id="booksPrice{{x.sort}}" value="{{x.booksPrice}}"
                           ng-blur="vm.checkPrice(x.sort)" ng-disabled="vm.showFlag.isCommit"/>
                    <span data-valmsg-for="booksPrice{{x.sort}}" data-valmsg-replace="true" class="errors"></span>
                </td>
                <td align="center">
                    <input type="text" maxlength="200" class="form-control input-sm "
                           id="total{{x.sort}}" value="{{x.total}}" ng-disabled="vm.showFlag.isCommit" />
                </td>
                <input type="hidden"  id="applyDept{{x.sort}}"/>
                <input type="hidden"  id="operator{{x.sort}}"/>
                <input type="hidden"  id="buyChannel{{x.sort}}"/>
                <input type="hidden"  id="businessId{{x.sort}}"/>
            </tr>
        </table>
    </form>
</div>